[2019-07-31 07:13] jeremyjpj0916 commented on #4769
I wonder.. if some of the revelations around the cluster_events table being too full of tombstones potentially to read may play a role here: https://github.com/Kong/kong/issues/4849 .. just a before bed thought, could be way off base but MAYBE thats why kong side had so much trouble reproducing what I was seeing with the page errors.

[2019-07-31 08:35] AliShelby opened #4857 "Kong community analystics"
### Summary
HI everyone i hope y'all have a day
so I'm new to kong.
can anyone tell me if kong community edition has a analystics plugin or something?
like i wanna know which service has how many request and which client made which requests?
thanks for your helps!

### Additional Details & Logs

- Kong version (`$ 0.14.1`)
- ubuntu

[2019-07-31 10:22] kikito commented on #4857
Here's the list of Analytics plugins in the Kong hub:

https://docs.konghq.com/hub/#analytics-monitoring

Given your needs, you might want to consider using a simpler logging plugin instead of an analytics one:

https://docs.konghq.com/hub/#logging

I'm closing down this issue because we tend to reserve Github issues for bug reports. Requests for help and questions are better suited to https://dis

[2019-07-31 10:22] #4857 closed

[2019-07-31 10:34] kikito commented on #4843
Hi @rahulkohli23,

There are several things that could be going wrong. Here's a list of things that you can check:

* Check that the requests are being routed through the service/route you installed the plugin into (i.e. there isn't another service/route which might be "capturing" the request).
* Check that the plugin is associated with the Service or the Route, but *not* to both (this is likely t

[2019-07-31 14:06] kikito commented on #4814
Hi, I'm sorry but I was not able to reproduce this issue. Are you using an older version of Kong, perhaps?

Here's the test I tried:

[code]

Could you include more info into this issue, like the exact requests you used, and your kong version?

[2019-07-31 14:31] hutchic commented on #4359
@wjcaitu might be best to post your issue on [Kong Nation](https://discuss.konghq.com) for assistance as we try to keep github issues for bugs / feature requests

@carnei-ro it's being actively worked on

[2019-07-31 14:33] kikito commented on #4799
Hello,

Active Healthchecks over TCP are currently not supported, and this is [documented in the docs](https://docs.konghq.com/1.2.x/health-checks-circuit-breakers/#active-health-checks). We might revisit this in future versions of Kong.

[2019-07-31 14:33] #4799 closed

[2019-07-31 15:03] kikito commented on #4823
Hi,

I've tried the following in Kong 1.2.0 and was not able to replicate your issue:

[code]

Notice how the `"append": "appended"` header was added even though the `replace` header was not included.

My suggestions are:
* Check that all your requests, especially the plugin config, look like they are on my example.
* Consider updating to Kong 1.2.0. It might be that there was a fix somewhere alon

[2019-07-31 15:06] kikito commented on #4807
Thanks for running these tests, we will investigate this issue.

[2019-07-31 15:08] Tieske commented on #550
@izio38 use tags, see https://docs.konghq.com/1.2.x/admin-api/#tags

[2019-07-31 15:16] kikito commented on #4794
Hello,

That error seems to suggest that the Lua-cassandra library isn't working correctly on your machine. Please try running `make dev` and pay attention to any errors logged while trying to install it.

You can also attempt to manually remove and reinstall it:

[code]

[2019-07-31 15:16] Tieske commented on #4847
@hishamhm that message is only logged at the end of a balancer update, which happens on add/delete targets, or on requery the dns for a target, with changed dns results. That's when indices get redistributed.

see: https://github.com/Kong/lua-resty-dns-client/blob/master/src/resty/dns/balancer/ring.lua#L238-L241

The warning is logged only when "assigned" hits 0

I think the OP was scripting again

[2019-07-31 15:21] choward18 commented on #4823
Hi,

The configuration of my request transformer plugin is identical to yours, however in 1.0.0 it is reproducible consistently. I figured that an update to a newer version of Kong would be the fix.

Thank you very much for looking into this. I will work on updating my Kong instance, and if the issue persists I will come back with all the details you asked.

Thanks again,
Cole Howard

[2019-07-31 16:42] kikito commented on #4787
Hi @melkayam92,

Does it work correctly if you try to connect to PostgreSQL *without* an SSL certificate?

[2019-07-31 16:53] kikito commented on #4766
The instructions for installing the plugin are, in fact, documented here:

https://docs.konghq.com/1.2.x/plugin-development/distribution/#load-the-plugin

I'm sorry you didn't find them and as a result had to spend some time debugging.

As @Tieske mentioned, our docs are open source and we accept pull requests from the community. The repository is in https://github.com/kong/docs.konghq.com

[2019-07-31 16:53] #4766 closed

[2019-07-31 17:01] kikito commented on #4672
Hi @ccjinghang,

We recently released Kong 1.3.0rc1 which contains a possible fix for your issue (note that @bungle was not able to reproduce it even before the upgrade, though).

Could you please try your plugin in 1.3.0rc1?

[2019-07-31 21:43] jeremyjpj0916 commented on #4828
After reading up on C* I suppose Kong would not want to do this, but maybe it makes sense for teams that know what they want their oauth2 TTL to be (if minutes/hours/days). Then change table  like so:

[code]

So 1 day

As for expected behavior I guess Kong is in line. But I think since people generally use oauth as short lived ttl then setting a purge that occurs db side daily naturally is probab

[2019-07-31 21:43] #4828 closed

[2019-07-31 21:46] thibaultcha commented on #4785
@zeeshen Nice catch, your analysis seems correct to me. If I recall correctly, the `KONG_WAITING_TIME` variable was added before the introduction of the `balancer_by_lua` phase in Kong, which explains why it doesn't account for it. When we introduced the balancer phase, we did not update the `KONG_WAITING_TIME` variable to remain accurate.

@xiaochai The difference between `KONG_WAITING_TIME` and

[2019-07-31 22:42] thibaultcha commented on #4828
It is worth pointing out that Kong in fact does [insert OAuth2 token columns *with* a TTL](https://github.com/Kong/kong/blob/1.2.1/kong/plugins/oauth2/access.lua#L84). This call will eventually end up [here](https://github.com/Kong/kong/blob/1.2.1/kong/db/strategies/cassandra/init.lua#L774-L780), and use the [insert_ttl](https://github.com/Kong/kong/blob/1.2.1/kong/db/strategies/cassandra/init.lua

[2019-07-31 23:01] murillopaula commented on #2471
@eurodomenii in this case you're assuming to be using a PostgreSQL database. But Kong supports Cassandra and db-less mode too. Here's my suggestion:

[code]

What do you think @p0pr0ck5 @hos7ein

[2019-07-31 23:28] evanchaoli commented on #4814
We are using Kong 1.2.

[2019-08-01 04:45] jeremyjpj0916 commented on #4828
That is actually a really good catch @thibaultcha , I wasn't even thinking about the ```refresh_token_ttl``` (no one really uses that pattern internally) and now reading the code comment you selected it explicitly mentions thats what dictates the tokens TTL in the plugin. So that field is why the TTL is undesirable because it is so long by default(and ofc a read needs to occur on that table post T

[2019-08-01 04:58] p0pr0ck5 commented on #4828
The gc_grace_seconds is a C* setting, not a Kong setting. The ten-day window is the default for Cassandra.

[2019-08-01 05:06] jeremyjpj0916 commented on #4828
@p0pr0ck5 and I read its non-configurable in the ```cassandra.yaml``` but you can change it globally by doing something like this: ```alter table number_item with gc_grace_seconds = XXXXXX;```` dunno if thats out of date for modern 3.X.X . It will apply to all data though(but luckily our C* clusters just run Kong so maybe not a big deal). Would be good for Kong to put together some recommendations

[2019-08-01 06:20] jeremyjpj0916 commented on #4850
With our Stage environment upgraded to 1.2.1 as well I can confirm there too we went from the .41 CPU utilization rate to .525-.53 rate as well @ 120 tps. I will also test 1.2.1 without ANY of my modifications in sandbox and see if not having concurrency.lua modified reduces cpu utilization(my guess is that it won't). Could just be the 1.0.3 I was running with the Bungle mods just has some efficie

[2019-08-01 06:45] pseudo113 opened #4858 "Nginx proxy for Mattermost"
the goal is that i have to configure nginx as a proxy to mattermost, so by typing :

"curl http://domain_name" " i must have the page of mattermost, but what i have is the page of nginx

by putting this command : "curl http://domain_name:8065"

i have this error: curl: (7) Failed to connect to "domain name" port 8065: Connection refused

here is my nginx config:

[code]

and this /opt/mattermost/c

[2019-08-01 06:53] james-callahan commented on #4858
From the details you've given, you don't appear to be using Kong?

[2019-08-01 07:05] pseudo113 commented on #4858
no i dont know what kong is, i just installed nginx and mattermost on my ubuntu server and im trying to have the mattermost's page via nginx as a proxy

[2019-08-01 07:11] pseudo113 commented on #4858
no i dont know what kong is, i just installed nginx and mattermost on my ubuntu server and im trying to have the mattermost's page via nginx as a proxy

[2019-08-01 17:58] subnetmarco commented on #4858
@pseudo113 You are opening an issue on the wrong repository, you should reach out to the NGINX community.

[2019-08-01 17:58] #4858 closed

[2019-08-01 19:45] nchaudhu commented on #3735
I am facing same issue. Please help asap.

I have configured cors plugin in kong . But it still gives me cors error when I am trying to access the endpoint from the browser

[2019-08-02 00:23] nchaudhu commented on #3735
@sharmmoh1983 were you able to solve this

[2019-08-02 00:30] nchaudhu opened #4859 "Preflight OPTIONS request not handled in Kong gateway"
I have configured the cors plugin in kong . I am now trying to make a POSt request from the front end . This initiates a Preflight OPTIONS request . But Kong gives 404 not found error.

By doing a curl I am able to hit my upstream service , but from front end app I am facing this cors issue inspite of having configured cors plugin on the service.

Please help - this is urgent

Below is the cors pl

[2019-08-02 00:51] sharmmoh1983 commented on #3735
Sorry I didn't get a chance to resolve the issue

On Fri, Aug 2, 2019, 10:24 AM nchaudhu <notifications@github.com> wrote:

[2019-08-02 01:03] nchaudhu commented on #3735
Oh .. But you closed this issue as resolved. Did the Preflight option as false not help you ?

[2019-08-02 01:06] nchaudhu commented on #3735
@bungle @james-callahan please help. Apparently this issue is not resolved. Several people are facing this issue.  When the client sends a preflight options request to Kong , it is not handled at the gateway.

[2019-08-02 01:08] nchaudhu commented on #3735
@rakehell1986  any luck with this issue. Seems to be a major limitation in Kong. When I use a third party cors server it works . But the cors plugin in Kong does not work.

[2019-08-02 01:09] nchaudhu commented on #3735
Please help guys. I am in urgent need of a solution to resolve this.

[2019-08-02 01:15] james-callahan commented on #4859
Is this the origin being sent by your browser? Please provide the CORS preflight request that is failing.

[2019-08-02 06:21] siddhant-curious opened #4860 "Certificate Key isn't optional?"
### Summary

Certificate object documentation says

"A certificate object represents a public certificate, and can be **optionally** paired with the corresponding private key. These objects are used by Kong to handle SSL/TLS termination for encrypted requests, or for use as a **trusted CA store** when validating peer certificate of client/service."

However trying to create a cert object by sendin

[2019-08-02 06:23] james-callahan commented on #4860
What version of Kong are you trying with?

[2019-08-02 06:34] siddhant-curious commented on #4860
`1.1.2`

[2019-08-02 06:38] james-callahan commented on #4860
The certificate key field became optional in Kong 1.2.

[2019-08-02 06:38] siddhant-curious commented on #4860
Okay, thanks.

[2019-08-02 06:38] #4860 closed

[2019-08-02 08:09] Tieske commented on #4816
@taotao2014 I'm investigating a similar report. Do you have steps to reproduce this problem?

[2019-08-02 08:44] duzhenxun opened #4861 "Ask two questions"
1. If authentication fails, can the returned HTTP code be changed to 200? Can you customize the returned JSON information? Now the company generally uses {code: xxx, msg: xxx, data: xxxx}

2. How can the database support mysql?

I am a Chinese user

[2019-08-02 08:48] Tieske commented on #4816
nvm, found the problem, it was a test issue

[2019-08-02 10:32] HsinHeng commented on #4778
encounter same problem at 1.2.1 db-less mode

[2019-08-02 14:43] slimm609 opened #4862 "Feature Request: allow DNS resolvers to be updated via admin API"
DNS resolvers must be IP addresses and can not be resolved via DNS, since they are the DNS servers addresses.    Currently the only way to update them is by restarting Kong with a new config file (or ENV variables, which we use) If there was an admin API endpoint that could update the DNS resolvers (consul on AWS ASG is an example use case), it would add allow for a better HA setup since as servic

[2019-08-02 18:30] vielmetti commented on #4359
@timusketeers - @daurnimator has updated the luaossl library to address at least one of the Lua lightuserdata issues you are experiencing.

If there are other libraries that are triggering this condition we can work back upstream to see about getting those issues identified.

[2019-08-02 19:31] vcunat commented on #4359
Or you could kill all of them by a single luajit-wide workaround like proposed in https://github.com/Kong/openresty-patches/pull/47

[2019-08-02 19:40] nchaudhu commented on #4859
Yes That is correct. Please find the details below ...I am getting following error whenever I am tying POST . When I use a CORS third party header it works fine.

_**Access to XMLHttpRequest at 'xxxx' from origin 'http://localhost:4200' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the request

[2019-08-02 19:42] nchaudhu commented on #4859
Yes That is correct. Please find the details below ...I am getting following error whenever I am tying POST . When I use a CORS third party header it works fine.

**Access to XMLHttpRequest at 'xxxx' from origin 'http://localhost:4200' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requeste

[2019-08-02 19:46] nchaudhu commented on #4859
Yes That is correct. Please find the details below ...I am getting following error whenever I am tying POST . When I use a CORS third party header it works fine.

Error (Endpoint - http://url:8000/xxx/yyy/AAAA
---------------------------------------------------------
Access to XMLHttpRequest at 'xxxx' from origin 'http://localhost:4200' has been blocked by CORS policy: Response to preflight reques

[2019-08-02 19:48] nchaudhu commented on #4859
I have tried with config.origins=* . But still same error.

[2019-08-03 10:34] nchaudhu commented on #4859
@james-callahan  any inputs please. This is a blocker for me and we have no clue how to solve this. Really urgent. Any help is highly appreciated. Please help.

[2019-08-04 06:27] AliShelby opened #4863 "datadog For kong"
### Summary
Hi everyone
I'm new to kong
i wanted to know my request_count , request-size and stuff like these on my service
so i decided to use datadog for my kong and i followed this link: https://docs.konghq.com/hub/kong-inc/datadog/
and i successfully added datadog to my service's plugins
but the problem is it does not work!
it doesn't cout the request and stuff like that.
can anyone help me?

[2019-08-04 08:54] luo985 opened #4864 "error: failure to get a peer from the ring-balancer"
### Summary
hello,  i got occasionally error (httpStatus：503       message : "failure to get a peer from the ring-balancer")

SUMMARY_GOES_HERE

### Steps To Reproduce

1.  a upstream have 2 targets
2. continuing change target in this upstream（remove one of targets，and put it back after 0.5 seconds)  through admin api
3. then i got occasionally 503 error on this upstream traffic

the reason is：
wh

[2019-08-04 10:21] melkayam92 commented on #4787
Yeah, it does works correctly without.

The issue only occurs when connecting with SSL certificate.

[2019-08-04 12:26] blogshixiaodong opened #4865 "An error occurred while compiling Kong's next branch"
[root@iZ2ze0cm8yysucjywguorbZ kong]# git checkout next
Switched to branch 'next'
[root@iZ2ze0cm8yysucjywguorbZ kong]# luarocks make
Missing dependencies for kong 1.2.1-0:
   lyaml == 6.2.3 (not installed)
   lua-resty-iputils == 0.3.0 (not installed)
   luaossl == 20190612 (20190731-0 installed)
   luasyslog == 1.0.0 (not installed)
   lua_pack == 1.0.5 (not installed)
   lua-resty-dns-client == 4

[2019-08-05 04:59] chenyanter opened #4867 "can not find myplugin by http://kong:8001/"
### Summary

i write a plugin, and install follow
https://docs.konghq.com/1.1.x/plugin-development/distribution/#load-the-plugin Manually
i can find load myplugin when kong startup
but i can't find myplugin by api http://kong:8001/

### Dockerfile
FROM kong:1.2
RUN apk update && apk upgrade && \
apk add --no-cache bash git openssh
RUN mkdir /plugins && \
cd /plugins && \
git clone http://git.myser

[2019-08-05 05:08] james-callahan commented on #4867
Try:
[code]
`http://kong:8001/plugins` is the list of *configured* plugins.

[2019-08-05 05:15] chenyanter commented on #4867
@james-callahan Thanks for fast reply
this is my issues description error，i update the description
curl http://kong:8001/ can not find myplugin also

[2019-08-05 12:21] bungle commented on #4865
@blogshixiaodong, you need to install the `libyaml` system library with your `OS` package management or manually from sources.

[2019-08-05 12:31] bungle commented on #4861
1. Yes, it should be possible with a plugin that runs on `header_filter` phase.  I think you could use `response-transformer` plugin for that.
2. We don't provide support for that out-of-the-box. You need to write a custom strategy for MySQL, we have no immediate plans for adding another SQL based database to the supported backends (we currently have support for Postgres, Cassandra and DBless decl

[2019-08-05 14:37] chenyanter commented on #4867
some code in kong/kong/conf_loader.lua
`
  do
    -- merge plugins
    local plugins = {}

    if #conf.plugins > 0 and conf.plugins[1] ~= "off" then
      for i = 1, #conf.plugins do
        local plugin_name = pl_stringx.strip(conf.plugins[i])
        if plugin_name ~= "off" then
          if plugin_name == "bundled" then
            plugins = tablex.merge(constants.BUNDLED_PLUGINS, plugins, tru

[2019-08-05 22:08] dndx commented on #4863
Hello @AliShelby,

Could you please provide a debug level log of your Kong instance when this happens? You can edit the level directly in `kong.conf` and restart, or use the `KONG_LOG_LEVEL` variable.

Thanks,
Datong

[2019-08-05 22:43] dndx commented on #4848
Thanks @peyo for the detailed issue.

I can confirm the bug does exist.

The proposed fix is to change `resp.add_header` to use the newly added [`ngx.resp.add_header`](https://github.com/openresty/lua-resty-core/blob/master/lib/ngx/resp.md#add_header) API of OpenResty.

You are welcomed to provide a Pull Request to fix it for Kong! Let me know if you need any help on this.

Thanks,
Datong

[2019-08-05 23:05] dndx commented on #4596
Hello @seifchen,

What phase is your plugin running. Can you do some `kong.log.debug(debug.traceback())` right after your logging statement to show the call stack and post the logs here? That should help with troubleshooting.

Best,
Datong

[2019-08-05 23:14] dndx commented on #4673
Hello,

Please take a look at the newly open sourced [Session Plugin](https://docs.konghq.com/hub/kong-inc/session/) in [1.3.0rc1](https://discuss.konghq.com/t/kong-1-3-0rc1-available-for-testing/4092).

With Session Plugin + Key Auth together (see [Usages](https://docs.konghq.com/hub/kong-inc/session/#usage)) it should work for your case.

Thanks,
Datong

[2019-08-05 23:17] dndx commented on #4621
Hello,

How is the log generated? Can you provide your code that is writing the log?

Thanks,
Datong

[2019-08-05 23:19] dndx commented on #4628
Hello,

I suspect your Kong is not using the right version of OpenSSL (it may be incorrectly linked with OpenSSL in CentOS 6 which is very old).

Could you provide the output of `ldd /path/to/openresty` and post it here?

Thanks,
Datong

[2019-08-05 23:21] dndx commented on #4606
Hello,

The [`tags` property](https://docs.konghq.com/1.2.x/admin-api/#add-target) may help you. For arbitrary K-V stores on object that is not supported yet.

Thanks,
Datong

[2019-08-05 23:23] dndx commented on #4452
This has been released in [Kong 1.3.0rc1](https://discuss.konghq.com/t/kong-1-3-0rc1-available-for-testing/4092). Please give it a try!

[2019-08-05 23:23] #4452 closed

[2019-08-05 23:26] dndx commented on #4533
Looks like the issue has been resolved. Closing it for now.

[2019-08-05 23:26] #4533 closed

[2019-08-05 23:29] dndx commented on #4174
@icyxp Please try with the latest version of [Kong 1.3.0rc1](https://discuss.konghq.com/t/kong-1-3-0rc1-available-for-testing/4092) and see if the problem still exists.

[2019-08-06 00:03] dndx commented on #4264
Declarative config has already been released.

[2019-08-06 00:03] #4264 closed

[2019-08-06 00:04] dndx commented on #3158
I believe @kswen's suggestion is indeed the solution. Closing this for now.

[2019-08-06 00:04] #3158 closed

[2019-08-06 00:06] #4823 closed

[2019-08-06 01:25] chenyanter commented on #4867
so sorry, this is my program, close it

[2019-08-06 01:25] #4867 closed

[2019-08-06 05:39] james-callahan commented on #4533
@dndx is there another issue where the planned feature for using `:peek()` instead of `ssl_preread` is tracked?

[2019-08-06 07:00] #4863 closed

[2019-08-06 07:06] AliShelby opened #4871 "Datadog plugin for kong does not work"
### Summary

Hi everyone
I'm using datadog plugin for kong to know the request count per users
so i followed this link : https://docs.konghq.com/hub/kong-inc/datadog/
and i enabled the plugin to my service
and send data(metrics i think!) to host : 127.0.0.1 on port 8125
but when i made a request to my service successfully and then go to 127.0.0.1:8125
it gave me the "unable to connect error"

###

[2019-08-06 09:44] fighterleslie commented on #4514
`package.path = conf.lua_package_path .. ";" .. package.path`

This patch worked like charm!

[2019-08-06 09:46] fighterleslie commented on #4514
@hishamhm Would you please close this issue and send a PR with your patch?

[2019-08-06 12:58] luo985 opened #4872 "router_consistency job period"
router_consistency=eventual    : the router will be rebuilt asynchronously via a recurring background job running every second inside of each worker.

hello,  i need  every 10 second to run this job,  please add the job period config to kong.conf

- Kong version (1.2.0)

[2019-08-06 13:16] p0pr0ck5 commented on #4872
What we be the use case for this?

[2019-08-06 13:43] luo985 commented on #4872
I've been testing recently.
if continuing change routes，the traffic fall to 30%.
then i change router_consistency period (by change source code) to 10 second,  the traffic  is more  better then 1 second
so i want to custom the period

[2019-08-06 14:48] bungle commented on #4872
@luo985 thanks for reporting. It seems rather strange as it is just a version check and if version is changed it is a mutex check. But I looked the code and it starts 2x<number-of-workers> every second, one to check plugins and one to check router, not sure if it helps to combine these two (I think my original patches ran just one per worker), but it will make a bit more latency to update other. S

[2019-08-06 16:06] duzhenxun commented on #4861
Thank you for your reply. I'll find the plug-in.

[2019-08-06 16:06] #4861 closed

[2019-08-07 01:46] luo985 commented on #4872
@bungle
when i testing， i change both check plugins job and check router job period to 10 seconds.
i think rebuild_router is relatively expensive， it affect the proxy traffic.
so i want to do rebuild_router more infrequent.

[2019-08-07 02:33] wurenhai commented on #4872
I have the same issue too. There is a test case:

When I update service route 10 times pre second, by using _/routes/{name or id}_, CPU utilization rate will upgrade from 25% to 75%, and traffic will drop from 17000 to 5000.

Then I change rebuild_router  job period to 5 seconds. it will be good.

So I think rebuild_router is really expensive .

[2019-08-07 03:50] jeremyjpj0916 commented on #4850
out of curiosity @luo985 and @wurenhai , if you get a chance can you test your resources on 1.0.3 under tps load(say 120+ tps) compared to 1.2.1 and see if you see the CPU utilization differing similar to my findings in the other issue? And not necessarily while adjusting resources(adding/removing/updating routes or plugins). Might help us all correlate this with your issue too.

[2019-08-07 05:36] jeremyjpj0916 commented on #4850
Actually I am changing my view here. Just ran a bunch of better/more extensive tests in an environment I am a bit more confident in the data on(leveraged an unused Stage environment 😆 )

By literally taking that environment and deploying bare 1.0.3 vs 1.2.1 with none of the patch work we run I notice these levels of CPU differences:
Kong 1.2.1: .37-.38 CPU used @ 112 TPS
Kong 1.0.3: .345-.35 CPU u

[2019-08-07 05:36] #4850 closed

[2019-08-07 11:20] bungle commented on #4872
@luo985 / @wurenhai,

Can you try one thing, e.g. this:
https://github.com/Kong/kong/blob/next/kong/runloop/handler.lua#L816-L840

[code]

to this:

[code]

Aka only start one timer per worker per second. Does it have any impact? Probably not, but just want to check if that could help too. Yes, router rebuilding could be pretty expensive.

[2019-08-07 11:50] mr-karan commented on #4745
+1 would be good to have this.

Scenario for me: Want to proxy Logstash through Kong which supports only UDP

Why is this closed?

[2019-08-07 14:17] hishamhm commented on #4850
@jeremyjpj0916 thanks for getting back to this and giving us an update!

[2019-08-07 14:17] zabbixfan commented on #4750
i have this problem today, and my version is 1.3.0rc1, after i delete a target on upstream, i still could be access.i confused me.

[2019-08-07 15:18] jeremyjpj0916 commented on #4849
So in the finish example above, we must be hitting here:
https://github.com/Kong/kong/blob/19f4fe64c7278ce57696f3600b204744d07b5a5d/kong/cmd/utils/migrations.lua#L197

And then ok is ```nil``` or ```false``` at that point depending on how that db call returns(I didn't dig in), yet based on the log output we also never hit here right?
https://github.com/Kong/kong/blob/19f4fe64c7278ce57696f3600b2047

[2019-08-07 16:39] hbagdi opened #4875 "Credentials can be created in Kong without an association with a consumer"
### Summary

In previous versions of Kong, it was not possible to create credentials in Kong without it being associated with a consumer. This seems to be possible in Kong 1.3rc1.
I've verified and this doesn't seem to be possible in Kong 1.2

This might be due to https://github.com/Kong/kong/pull/4713 or a similar change.

### Steps To Reproduce

1. Start Kong 1.3rc1 in DB mode
2.  The following

[2019-08-08 02:21] heliodor commented on #4602
@shrhawk-entertainer or someone else, please re-open this issue. It should not have been closed just because a workaround was found. Issue needs to be fixed.

The installation docs or the installer need to be fixed so that this issue never arises while a user is following the instructions.

Consider the perception this issue leaves:

User:
1) "Kong sounds great! Let me try it."
2) Pull up installa

[2019-08-08 03:24] wurenhai commented on #4864
Mybe it is the same issue. There is a test case:

When I update add/delete target on upstream 10 times pre second, by using /upstreams/{upstream name or id}/targets/{host:ports or id}, there will be about 5% to 10% request fail with 503 code.

I seriously think that there has some problem at hc:get_target_status(ipaddr, port)。

By the way, why updates the **default balancer size** from 100 to 10,0

[2019-08-08 07:14] jeremyjpj0916 commented on #4849
Figured this out out too folks, since I run a modified concurrency.lua (as seen and discussed here: https://github.com/Kong/kong/issues/4769#issuecomment-516069861 ) I decided to take it out at runtime and just run with the default one that doesn't do db keepalive in that portion of the code and that indeed caused the false positive message to stop coming through.

I am sure you folks know why kee

[2019-08-08 07:14] #4849 closed

[2019-08-08 08:11] bungle commented on #4875
[code]

Key-auth credentials clearly state that consumer is optional. This has been like that forever. Perhaps time to change the schema?

[2019-08-08 08:13] bungle commented on #4875
On `1.2` you were not allowed to `POST` on root urls, but I really think the schema needs to change, and not disable the `POST`.

[2019-08-08 08:27] bungle commented on #4875
The issue might originate from here:
https://github.com/Kong/kong/commit/17333a4d03a96122e12651bd63bd9f413f9f3b66#diff-e071d5cc5233cd036436ceb3e5d2617a

[2019-08-08 13:14] luo985 commented on #4872
@bungle
hello, we make a test as you asked.   it's not helpful.
so i think increase period of the timer might be a good idea  (custom the period in kong.conf).

[2019-08-08 14:13] anastayaa opened #4878 "Kong integration with consul"
I have two docker container, one for kong and another for consul. I want to integrate consul with kong to provide service discovery. This is my configuration:
`/etc # consul catalog services`
output:
[code]
`/etc # dig @localhost -p 8600 web.service.consul SRV`
output:
[code]
resolv.conf consul file
`/etc # cat resolv.conf`
output:
[code]
NB: 172.17.0.2 is the local adress of consul container

Kon

[2019-08-08 19:23] bungle commented on #4872
@luo985, thank you! And in someways I feel good that it didn't make the difference. Yes we can consider it to be configurable. Thanks.

[2019-08-09 03:03] BruceWangNo1 opened #4880 "Response-Transformer plugin problem: {“code”: -1} needed instead of {“code”, “-1”}"
So I have been trying this plugin by reading this post: https://docs.konghq.com/hub/kong-inc/response-transformer/#examples
The problem I encountered is that I want to transform the response to something like {“code”: -1} and I tried “config.add.json”:[“code:-1”], but the response becomes {“code”, “-1”}, -1 turning out to be a string.
Does anyone have any idea on how to fix this?

[2019-08-09 04:35] mr-karan commented on #4745
@hbagdi Do you have any pointers on how to implement this? If this is similar to [nginx UDP](https://docs.nginx.com/nginx/admin-guide/load-balancer/tcp-udp-load-balancer/#proxy_pass) reverse proxy settings, I'd like to take a stab at this?

[2019-08-09 05:28] Yamilquery commented on #4859
I have exactly the same issue. Please, could you tell me if you solve it?

I`ve spent two days on it :(

[2019-08-09 06:23] Renz2018 commented on #4778
same problem at 1.2.1 db-less mode (Kong Ingress Controller automatically)

[2019-08-09 08:53] ONG-YA opened #4881 "too many cassandra query"
Summary
when i add a service on konga and then visit a url which was added before,the error log will print a lot of logs below↓
found on error.log : [debug] 4898#0: [lua] cluster.lua:428: next_coordinator(): [lua-cassandra] load balancing policy chose host at xxx.xxxx.xxx.xxx

when there is Concurrent access，there will get Tens of thousands of cassandra query like "SELECT id, created_at, updated_a

[2019-08-09 09:52] bungle commented on #4802
I feel it is this line that is causing the problem:
https://github.com/Kong/kong/blob/master/kong/db/dao/plugins.lua#L112

[2019-08-09 10:36] bungle commented on #4802
There is now a PR that we might still get cherry picked for `1.3.0` release, if not, then to a release after that.

[2019-08-09 12:24] bungle commented on #4781
As the above PR is now merged, I will close this. @ludov04, if the problem persists, please reopen.

[2019-08-09 12:24] #4781 closed

[2019-08-09 12:26] luo985 opened #4883 "change upstream problem"
hello,   when i continuing change upstream's healthyCheck config， the proxy traffic tps drop from 20000 to 2000.

the reason is：
https://github.com/Kong/kong/blob/next/kong/runloop/balancer.lua#L652
any change on upstream will invalidate all upstream cache.
when kong proxy next request,  kong have to query all upstream from db.
so all upstream's traffic are affected.

- Kong version (1.2.0)

[2019-08-09 13:18] bungle commented on #4329
The PR#4713 is now merged, so I think we can close this. @Dog-Lee, please reopen if you still have considerations about it.

[2019-08-09 13:18] #4329 closed

[2019-08-09 19:11] zytrik opened #4886 "CORS plugin can't restrict upstream allow-origin header"
### Summary

Enabling the CORS headers with a list of allowed domains under `config.origins` will return an `access-control-allow-origin` response header that matches the request `Origin` header, assuming the `Origin` is in the allowed list. If the content of the `Origins` request header is NOT in the list configured under `config.origins`, no `access-control-allow-origin` header is added, which i

[2019-08-09 22:05] bungle commented on #4886
@zytrik, thank you for the report. Yes, we should perhaps add an option for the plugin to do its stuff on `header_filter` instead.

[2019-08-09 22:07] bungle commented on #4883
@luo985, good catch!

[2019-08-10 21:45] jeremyjpj0916 commented on #4883
@bungle is this similar to the blocking process in 1.0.x and earlier versions you created the eventual consistency background rebuild timers in 1.2.x to work around? Maybe the same magic can/should be applied to the ```upstream``` resources/healthchecks? Arguably a script hammering modifications at 10+ changes per second is not a realistic scenario though, but would be a nice bulletproof feature f

[2019-08-11 05:55] tkbky commented on #4880
@bungle
I've [a PR](https://github.com/Kong/kong/pull/4889) that attempt to fix this.

[2019-08-11 11:32] AliShelby opened #4890 "localhost:8000 on browser doesn't work"
### Summary

SUMMARY_GOES_HERE
I'm using kong for my api management and I've created service and consumer and route successfully with this link: https://docs.konghq.com/hub/kong-inc/key-auth/
so when I make a request with terminal suing this command:
curl -i -X GET \
  --url http://localhost:8000/ \
  --header 'Host: example.com' \
  -H apivalue:'gVYDLqG8es2zkpV5cut49TOQ5xOpkVj0'

it works perfect

[2019-08-11 22:30] MuhammedMahrous commented on #2939
Hi @senthil-nathan Could you please clarify more how you solved this issue as I am facing it but couldn't really overcome it; I generated the public key from JWKS using the mentioned project but I still getting the same error, I don't understand how you generated it in a non ASN encoded way!

[2019-08-12 07:22] Tieske commented on #4890
that is expected.

You enter the url in the browser, and from that the browser will set header `Host: localhost` because it is in the url. You (generally) cannot override the host header when testing from the browser, it will always match the host in the url.

You can set up Kong though, to not route based on the `Host`, but solely on the uri-path. Then it will work.

[2019-08-12 07:22] #4890 closed

[2019-08-12 09:08] peyo commented on #4848
@dndx, sorry, for my very late answer (I should have answered before).

I saw your comment last week without answering it and started importing Kong and Kong-Tooling (without any real success). I'm planning on getting back to it this week... but it seems you've fixed the bug.

So sorry for not being more responsive and thank you for the fix.

[2019-08-12 15:46] hbagdi opened #4893 "bug: Patch request for basic-auth credential returns 404 incorrectly"
### Summary

When password specified in a patch request is same as the one currently stored in DB(hashed), patch request return a 404.
This could be due to the hashing logic on the password field.

### Steps To Reproduce

[code]

### Additional Details & Logs

- Kong version (`$ kong version`) 1.3.0rc1

[2019-08-13 07:25] bungle commented on #4893
Exactly:
https://github.com/Kong/kong/blob/master/kong/plugins/basic-auth/basicauth_credentials.lua#L6-L7

[2019-08-13 08:00] bungle commented on #4893
Btw. I tried this with `next` and could not reproduce.

[2019-08-13 08:17] lag-linaro commented on #4359
@hutchic Could you provide a little more information please?  I don't see any open PRs:

https://github.com/docker-library/official-images/pulls?utf8=%E2%9C%93&q=is%3Apr+kong+

[2019-08-13 09:47] bungle commented on #4802
Closing this as the fix was merged.

[2019-08-13 09:47] #4802 closed

[2019-08-13 09:49] bungle commented on #4875
Closing this as the fix was merged.

[2019-08-13 09:49] #4875 closed

[2019-08-13 10:21] eshepelyuk opened #4898 "Support for pre-flight requests to OPTIONS endpoints in cors plugin"
### Summary

1. Currently  `methods` config parameter of the `cors` plugin is restricted to be one of `{ "HEAD", "GET", "POST", "PUT", "PATCH", "DELETE"}` and this causes issues with applications exposing `OPTIONS` method endpoints. I.e. `cors` plugin can't be applied to such endpoints at all.
So, plugin configuration should be extended to allows `OPTIONS` method to be used.

2. Even after the adj

[2019-08-13 10:25] bungle commented on #4807
On logs you will get:
[code]

[2019-08-13 10:31] bungle commented on #4807
It is interesting, I even tried this:
[code]

And log said it warmed up all these, still it doesn't work.

[2019-08-13 12:39] bungle commented on #4807
I don't think Kong is returning anything, e.g. not even `502`. It just ends up here:
https://github.com/Kong/kong/blob/next/kong/runloop/plugins_iterator.lua#L108

Which means Nginx will just close the connection with the client, so nothing is returned (which is a thing to discuss as well).

Now, why this does not work? It is because on prewarm we don't negative cache the plugins. E.g. routec + pr

[2019-08-13 12:49] bungle commented on #4728
Closing this as it was merged. Will be picked up for `1.3.0` it seems.

[2019-08-13 12:49] #4728 closed

[2019-08-13 12:53] hutchic commented on #4359
The link vcunat shared is where most of the work is isolated at this time https://github.com/Kong/openresty-patches/pull/47

We're able to build / release arm64 but some of our dependencies aren't compatible hence the lightuserdata issues folks are seeing when running Kong built for arm64

[2019-08-13 13:06] lag-linaro commented on #4359
Hopefully these issues are rectified and you guys can release support for AArch64 soon.

Thanks for the update Colin (@hutchic).  I'll keep a close eye on this.

[2019-08-13 18:04] bungle commented on #4872
@luo985 there is now a PR: #4897. Mind you test it out?

[2019-08-13 18:24] evanchaoli commented on #4814
We also verified that this fix works with Kong 1.3.

[2019-08-13 18:24] #4814 closed

[2019-08-13 21:15] locao commented on #4846
@zeeshen we were not able to reproduce the issue. Could you test with version 1.3.0rc1 to check if the problem persists, please?

[2019-08-14 03:27] gchristidis opened #4909 "Declarative config does not produce the same result for Consumer ACLS groups as admin api"
### Summary

I am looking to move our Kong configuration from a scripted set of curl commands using the admin api to using the declarative config.
The issue is that I have 2 consumers with the same ACLS group names and the end result I end up with using declarative config is different, it is missing ACLS groups for a consumer.  In the example below if i change the declarative config so that each c

[2019-08-14 09:12] taotao2014 opened #4910 "Request_time > upstream_response_time ,difference between 2 seconds sometimes, same most of the time"
kong :0.14.1

$request_time>$upstream_response_time ,difference between 2 seconds sometimes, same most of the time，return data is small (19k)

$request_time: request processing time in seconds with a milliseconds resolution; time elapsed between the first bytes were read from the client and the log write after the last bytes were sent to the client。

$upstream_response_time ： keeps time spent on r

[2019-08-14 12:57] ifokeev commented on #4878
same issue here

[2019-08-14 14:06] bungle commented on #4893
@hbagdi can you check it with `next` if it is not an issue anymore, can you then close this?

[2019-08-14 17:00] a14907 opened #4916 "I Integration kong with consul , and when I set dns_resolve to 192:168.1.100:8006.There is err"
I use docker to install kong. And I set a env:-e "KONG_DNS_RESOLVER=192.168.1.100:8600"
But I meet a err, the log is here:

[code]

it seems I set a dns_resolve and the origin service about kong-database can not resolve by the new dns server! is that the kong's bug, or there are special way to add a new dns server? A way to Integration old dns_resolve?

any help?

[2019-08-14 21:48] guanlan commented on #4778
Hi @22vincetsang @imsky @22vincetsang @HsinHeng  @Renz2018
We have the fix for this bug and it has released with 1.3 rc1, feel free to try it out. The final version should be released soon, stay tuned.

[2019-08-14 22:57] nijikokun commented on #3735
@nchaudhu does #4898 resolve the issue for you?

[2019-08-14 23:08] hbagdi commented on #4909
This looks another case of https://github.com/kong/kong/pull/4817.

With Kong 1.3.0rc1, I verified in the DB-less mode locally and it correctly creates the ACLs as expected.
Could you please test this with Kong 1.3.0rc1 and close this issue if it is solved?
Thanks!

[2019-08-14 23:38] nchaudhu commented on #3735
@nijikokun Thanks for the input. However it does not solve the issue. It is because all that 4898 says is that the cors plugin in Kong cannot handle preflight options request and the only solution is to extend it the plugin itself to allow it to extend it.

How can a enterprise grade product have this kind of limitations in a plugin like cors. This is disgraceful.

[2019-08-15 00:02] nchaudhu commented on #4898
@eshepelyuk  I am facing this issue. I have configured the CORS plugin on a service. But when there is a preflight OPTIONS request , it does not work and I get an error.  From what you describe , are you suggesting that the CORS plugin needs to be extended and this is the only solution or is there some other work around for this.  Please suggest as we have selected Kong and now this is a blocker f

[2019-08-15 00:12] nchaudhu commented on #4859
@Yamilquery Thanks for the input. However this does not solve the problem for me. Please see #4898 .
This is specified as a limitation of the CORS plugin in that it does not allow OPTIONS in the method config .

I would like to know more about what you are proposing. Does it mean I need to specify two routes for each service - one for the actual HTTP method (GET/POST/PUT/DELETE) and the other for

[2019-08-15 00:54] nijikokun commented on #4898
@nchaudhu please check #4899 for a potential fix that @eshepelyuk has done, hopefully it solves your issue

[2019-08-15 06:11] gchristidis commented on #4909
tested under 1.3.0rc1 and this no longer has the issue

[2019-08-15 06:11] #4909 closed

[2019-08-15 07:07] Tieske commented on #4916
it's not a Kong bug.

You're using a DNS server now that doesn't know the name "kong-database", which makes sense to me since that name is used inside docker to connect containers, so no reason that Consul woul ever know about that name.

So update the Consul configuration such that it can resolve the database, and then update the Kong config (if necessary) to use the name by which Consul knows th

[2019-08-15 07:07] #4916 closed

[2019-08-15 09:04] bungle commented on #4910
@taotao2014,

I am not sure what you are asking. Is your question about why Kong may add 2 seconds to latency and usually 0 ms latency? Perhaps it is because Kong needs to load something from database? 2 seconds sure is a lot, perhaps DNS resolution, perhaps you have some plugins running there? With this little information it is hard to give exact answer.

[2019-08-15 09:50] hanjian007 opened #4918 "When using the "gmake" command, the following error occurred and lua-kong-nginx-module"
-L/opt/openresty/build/luajit-root/usr/local/openresty/luajit/lib -L/opt/openresty/build/luajit-root/usr/local/openresty/luajit/lib -Wl,-rpath,/usr/local/openresty/luajit/lib -Wl,-E -Wl,-E -ldl -lpthread -lcrypt -L/opt/openresty/build/luajit-root/usr/local/openresty/luajit/lib -lluajit-5.1 -lm -ldl -L/opt/openresty/build/luajit-root/usr/local/openresty/luajit/lib -lluajit-5.1 -lm -ldl -lpcre -lssl

[2019-08-15 10:02] zpc870921 opened #4919 "route by querystring"
Hi!
  I am looking to use kong to do some API manipulation, however, I have one requirement that would require some conditional routing logic to be implemented, i.e under normal conditions all requests should be proxied through to the normal upstream URL, however, if certain API parameters were set to certain values a different upstream upstream URL shuld be used. Im looking at the possibility of

[2019-08-15 10:23] bungle commented on #4919
@zpc870921,

Basically two ways:
1. workaround using hacks
2. implement querystring based routing (similar to header based routing) in Kong router

One of such hacks I recently did as a plugin which turned claim in JWT tokens to request headers, and where I then used Kong Headers based routing:

[code]

[2019-08-15 10:24] bungle commented on #4919
This was a PR that added route-by-header:
https://github.com/Kong/kong/pull/4758

[2019-08-15 10:28] bungle commented on #4919
@zpc870921, let us know what you think?

[2019-08-15 10:30] bungle commented on #4918
I guess it cannot find OpenSSL. You may need:
[code]

[2019-08-15 11:40] bungle commented on #4848
The PR to fix this was merged, thus closing the issue as well.

[2019-08-15 11:40] #4848 closed

[2019-08-15 11:49] bungle commented on #1208
I will close this as a fix to it was merged.

[2019-08-15 11:49] #1208 closed

[2019-08-15 11:54] bungle commented on #267
@samwonwyd it is not undefined, it is sorted by plugin created_at.

[2019-08-15 12:10] bungle commented on #630
I close this as #4381 implements it.

[2019-08-15 12:10] #630 closed

[2019-08-15 12:18] bungle commented on #1193
Schema can be selected:
https://github.com/Kong/kong/pull/4167

So closing this.

[2019-08-15 12:18] #1193 closed

[2019-08-15 12:24] bungle commented on #1374
[code]

Is now supported, so closing this.

[2019-08-15 12:24] #1374 closed

[2019-08-15 12:30] bungle commented on #1591
I'll close this now as I am fairly certain that this has been fixed since. Please re-open, if you still feel there are issues with the admin api regarding to this.

[2019-08-15 12:30] #1591 closed

[2019-08-15 12:33] bungle commented on #1620
There is now a 3rd party Kong splunk plugin:
https://docs.konghq.com/hub/optum/kong-splunk-log/

So I am thus closing this.

[2019-08-15 12:33] #1620 closed

[2019-08-15 12:54] gsdenys commented on #866
I'm Working on It, the code is stored at [git repository](https://github.com/gsdenys/kong-plugin-amqp). Unfortunately, to provide the AMQP support natively like we need to change a kong internal package `kong.constants` and insert the line `amqp = "http"` to the constants.

I know it is not the better way, because that, I am inclined to change the direction from plugin to kong code and make a pull

[2019-08-15 12:58] bungle commented on #1828
Couldn't reproduce this anymore, so closing this. Please reopen if you still see the issue with the latest Kong.

[2019-08-15 12:58] #1828 closed

[2019-08-15 13:05] bungle commented on #2048
This is now implemented as `mtls-auth` plugin in Kong Enterprise. Third-party plugins could do the same as the basis of this is implemented in OSS.

[2019-08-15 13:09] bungle commented on #2621
Our new 1.0 migrations don't support down-migrations at all anymore, thus closing this.

[2019-08-15 13:09] #2621 closed

[2019-08-15 14:35] bungle commented on #2767
I close this because that debate we never ended up implementing this. We need to come up with a proper use-case. So @subnetmarco please reopen if you have one. Implementation-wise it is very easy.

[2019-08-15 14:36] bungle commented on #2855
I close this because that debate (#3123 (comment)) we never ended up implementing this. We need to come up with a proper use-case. So @subnetmarco / @gabrie30 please reopen if you have one. Implementation-wise it is very easy.

[2019-08-15 14:48] bungle commented on #2543
Thank you all for the feedback. Closing this now.

[2019-08-15 14:48] #2543 closed

[2019-08-15 14:52] bungle commented on #3005
As we don't have such migration anymore, and we have moved to new migrations framework, I'll close this.

[2019-08-15 14:52] #3005 closed

[2019-08-15 14:57] bungle commented on #3068
We have reworked this quite a bit with `1.2.x` release, so I think I will close this for now. There is also https://github.com/Kong/kong/pull/4903 that will make Kong even more resilient.

[2019-08-15 14:57] #3068 closed

[2019-08-15 15:00] bungle commented on #3111
As this stuff is now merged to docs, I will close this:
https://github.com/Kong/docs.konghq.com/pull/1432/files#diff-eec0dfe69fd07b94930ca736fff3f8b0R726

We have a lot of thoughts on this, so keeping this open is not necessary.

[2019-08-15 15:00] #3111 closed

[2019-08-15 15:02] bungle commented on #3183
Our current admin apis implement a proper `PUT` endpoints, so I will close this.

[2019-08-15 15:02] #3183 closed

[2019-08-15 15:05] bungle commented on #2320
As we now mostly support `ipv6` with most notable exception being `ip-restriction` plugin, I will close this.

[2019-08-15 15:05] #2320 closed

[2019-08-15 15:13] bungle commented on #3181
I am almost certain that this is fixed in more recent releases. @ermazi please reopen, if you see this non-uniform behavior in e.g. Kong 1.2.x.

[2019-08-15 15:13] #3181 closed

[2019-08-15 15:16] bungle commented on #3262
Closing this, as it does not seem to be a concern anymore and nobody has reported about it

[2019-08-15 15:16] #3262 closed

[2019-08-15 15:30] bungle commented on #2355
This may represent a long-term plan, but as we have decided to improve on `injections`, and pursuing into clearer dataplane / control separation, I will close this now. Thank you all for the feedback.

[2019-08-15 15:30] #2355 closed

[2019-08-15 15:37] bungle commented on #3625
Closing this as no feedback for a long time, and we have moved to different migrations framework.

[2019-08-15 15:37] #3625 closed

[2019-08-15 15:49] bungle commented on #3781
I will close this as I think it works as it was meant to. I don't think it is a bug. `acls` is an entity plugin is different entity. `config.whitelist` or `config.blacklist` has no checks with `acls`, it is a loosely coupled thing, and the otherway around. I think it is fine as is. So closing this.

[2019-08-15 15:49] #3781 closed

[2019-08-15 15:52] bungle commented on #3799
We haven't heard back about this so I am closing this for now. @bhargav01 please reopen if you still have questions or think Kong is not working properly.

[2019-08-15 15:52] #3799 closed

[2019-08-15 16:57] subnetmarco commented on #2767
@bungle the use-case has been illustrated in this thread:  when a request is short circuited by a plugin, we still want to display the proxy latency that determines how long the processing took.

[2019-08-15 20:45] hbagdi commented on #4893
Verified that this is till an issue in `next` at a169bcf354f3ac67aa5.

[2019-08-16 03:32] hanjian007 opened #4923 "Error executing "start kong""
I compiled nginx with the "./configure --with-pcre-jit --with-http_ssl_module --with-http_realip_module --with-http_stub_status_module --with-http_v2_module --with-cc-opt='-O2 -I/tmp/build/usr/local/kong/include' --with-ld-opt='-Wl,-rpath,/usr/local/openresty/luajit/lib -L/tmp/build/usr/local/kong/lib -Wl,-rpath,/usr/local/kong/lib' --add-module=/opt/work/lua-kong-nginx-module --with-cc-opt="-I/us

[2019-08-16 03:33] hanjian007 commented on #4918
Thank you for compiling successfully.

[2019-08-16 03:33] #4918 closed

[2019-08-16 06:07] taotao2014 commented on #4910
log_format json '{"dt":"$time_iso8601","ra":"$remote_addr","ip":"$http_x_forwarded_for","c":"$status","m":"$request_method","up":"$upstream_addr","rt":"$request_time","urt":"$upstream_response_time","h":"$http_host","qs":"$query_string","uri":"$uri","rs":"$body_bytes_sent","ref":"$http_referer","ua":"$http_user_agent","ssl":"$ssl_protocol"}';

$equest_time > $upstream_response_time

[2019-08-16 13:44] bungle commented on #2767
@subnetmarco I undestand that, but one might argue, that Lambda plugin should use `proxy`. This was already proposed on #3123 exactly as you wanted, but the issue was closed.

We can have different cases:
1. request comes to proxy|admin, nginx errors right away
2. request comes to proxy|admin, and kong errors before|after proxying
3. request comes to proxy|admin, and everything is ok
4. request co

[2019-08-16 15:30] trb143 opened #4929 "DB Less Configuration and Regex"
We are trying to place Kong in front of a Spring Boot application which exposes two API's.

/sus/
/sus/{user}

The first URL is easy to map too, but the problem is how to define the path for the 2nd.  Every combination generates an error.

It trying to set up the kong configuration we have

#services:
- name: s-v
  protocol: http
  host: sserver
  port: 8080
  path: /sus/user/\s.+
#
  plugins:

We

[2019-08-16 15:41] thibaultcha commented on #2767
All good with me, feel free to add any header you judge useful 👍🏻

[2019-08-17 00:52] subnetmarco commented on #2767
@bungle today we send a couple of latency headers:

* `X-Kong-Proxy-Latency` which determines the latency of the Kong Proxy/Gateway activity before and after (and not during) a request is being proxied.
* `X-Kong-Upstream-Latency` which determines the latency of the upstream service (and network to reach such service) whenever the request is being proxied.

You agree with me that if the request is

[2019-08-17 09:07] chenyanter opened #4933 "After reinstall kong by brew, i can not startup kong"
### Summary

After reinstall kong by brew, can not startup kong

### Additional Details & Logs

- Kong version 1.2.1
- Kong debug-level startup logs
[code]

[2019-08-18 09:21] cedar715 opened #4934 ""kong quit" triggers FailedPreStopHook event and exists with 137"
### Summary

spec.containers{kong-ce}   Warning   FailedPreStopHook   kubelet, Exec lifecycle hook ([/bin/sh -c sleep 15 && kong quit]) for Container "kong-ce" in Pod "kong-ce-b58db8d87-sjrb5_XXX(80aca41c-c05d-11e9-b382-005056925e28)" failed - error: command '/bin/sh -c sleep 15 && kong quit' exited with 137: , message: ""

### Steps To Reproduce

1. In the Deployment's pod spec, [specify lifecycl

[2019-08-18 09:22] chenyanter opened #4935 "PDK kong.response.exit() cannot be called in body_filter phase (only in: rewrite, access)"
### Summary

If I use the function kong.response.exit in my plugin during the access phase, this one doesn't work. The runtime error is: function cannot be called in body_filter phase (only in: rewrite, access)

### Steps To Reproduce

1.follow https://docs.konghq.com/0.14.x/pdk/kong.response/
2.myplugin access code
[code]

### Additional Details & Logs

- Kong version 1.2.1
- Debug log
2019/08/18

[2019-08-18 13:37] chenyanter commented on #4933
fix by
[code]

[2019-08-18 13:37] #4933 closed

[2019-08-19 03:52] zpc870921 commented on #4919
sorry ,the reply is late and my english is poor. for example the services and routes like below:

  Service:   aupapi-service
     route:   /Jinher.AMP.App.SV.UserAppSV.svc?_appv=4.5.678

Upstream1:  aupapi-stream-test1
     target: 192.168.15.31:50005
aupapi-service's host is aupapi-stream-test1.

 Upstream2: aupapi-stream-test2
     target: 192.168.15.19:50005

I want route by querystring,if _ap

[2019-08-19 04:22] lclin412 opened #4936 "on_target_event(): failed checking target history for brushtreasureUpstream"
The state of the target has been updated in the database (weight =0), but Kong has not pulled it. There is always a target on which the request has been removed. There is an error in Kong's error log, and then it resumes normal after restarting Kong.

We used Kong clusters. These clusters used the same DB. At the time, the target was offline via admin-api on a Kong list, but the other Kong columns

[2019-08-19 04:54] chenyanter commented on #4935
ngx.say in myplugin trigger the program

[2019-08-19 04:54] #4935 closed

[2019-08-19 08:45] anuragsachdeva28 opened #4937 "Grammatical Error in Readme.md file"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1. Remove grammatical mistake.

### Additional Details & Logs

- Kong version (`$ kong version`)
- Kong debug-level startup logs (`$ kong start

[2019-08-19 10:20] #4937 closed

[2019-08-20 10:03] Tieske commented on #4514
@hishamhm just a heads-up: I think I just ran into the same issue, but initiated from a plugin test. In which case the migrations are not started through the CLI, but directly from the test-helpers.
(in which case the fix doesn't work)

[2019-08-20 11:20] mukgupta opened #4942 "SSL Handshake error for a specific domain"
### Summary
Kong throws the following error in the logs for a service with  **https://syfeblog.kinsta.cloud** as domain

`2019/08/20 11:06:06 [error] 2636#0: *3674 SSL_do_handshake() failed (SSL: error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure:SSL alert number 40) while SSL handshaking to upstream, client: 172.28.0.1, server: kong, request: "GET /magazine/ HTTP/1.1", upst

[2019-08-20 11:33] Tieske commented on #4514
hmmm, switched dev environment from Gojira to Vagrant, now it works. Will post this with the Gojira folks. Sorry for the noise.

[2019-08-20 19:37] trb143 commented on #4929
Issue with config and duplicate names.

[2019-08-20 19:37] #4929 closed

[2019-08-20 20:54] #4898 closed

[2019-08-20 20:57] thibaultcha commented on #4898
Fixed in master thanks to #4899, thanks @eshepelyuk.

[2019-08-21 02:54] symenghuan opened #4947 "Failed to load resource: net::ERR_INCOMPLETE_CHUNKED_ENCODING"
kong: through the docker deployment
Often an error:
Failed to load resource: net::ERR_INCOMPLETE_CHUNKED_ENCODING

I have add buffer:
proxy_buffer_size 128k;
proxy_buffers 4 256k;
proxy_busy_buffers_size 256k;
reset_timedout_connection on;
proxy_temp_file_write_size 256k;

But the error always are there

I want to know , how to resove it, 3Q

[2019-08-21 05:38] RuChiang commented on #4321
Hi @nopslip
I think that's a bug from the docs.
`curl -i -X POST http://localhost:8001/services/my-service/plugins \
      -d "name=hmac-auth" \
      -d "config.enforce_headers=date, host, request-line" \
      -d "config.algorithms=hmac-sha256"
`
Will give you the string "date, host, request-line" in the config.enforce_headers field.
You should use
`curl -i -X POST http://localhost:8001/services

[2019-08-21 06:13] #4947 closed

[2019-08-21 07:10] bruse-peng opened #4948 "在使用kong的时候出现了问题，想问下这是什么情况"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1.
2.
3.
4.

### Additional Details & Logs

- Kong version (`$ kong version`)
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong erro

[2019-08-21 07:56] jeremyjpj0916 opened #4949 "Kong 1.2.2 to Kong 1.3 Migrations up informationals/errors:"
### Summary

I am building from src and compiling for various reasons so I may be closing this on my own fairly soon if I didn't do certain steps right, migrations up throws these two things of interest:

Warning:
[code]

Error:
[code]

Some of the Docker file to give you an idea of how I am doing things for the build:
[code]

Maybe you can spot an issue, or can I just do a luarocks install ```res

[2019-08-21 09:07] NF13 opened #4950 "Request-Transformer remove Authorization Header and add it no logger works"
### Summary

If you configure a plugin like this:

[code]

And send a request like this:

curl --request POST \
  --url https://kong/test \
  --header 'authorization: Basic dGVzdDp0ZXN0' \
  --header 'content-type: application/json' \
  --data '{}'

The Authorization Header the upstream is without Authorization.

Replace works fine. But if you request like:

curl --request POST \
  --url https://k

[2019-08-21 10:22] Tieske commented on #4948
Please use English as the language in this repo.

[2019-08-21 10:22] #4948 closed

[2019-08-21 15:17] devadvocado commented on #4948
@bruse-peng if you need help in Chinese, please add me on wechat @kchen0218

[2019-08-21 15:22] jeremyjpj0916 commented on #4949
Interesting, so the rest.kong.tls is actually the module that comes from here:

[code]

So that must mean my ```--add-module=/tmp/kong/lua-kong-nginx-module``` failed:
[code]

Looks right to me though.

[2019-08-21 20:52] rafambbr commented on #4778
Same problem here at 1.2.x

[2019-08-21 20:53] rmnobarra commented on #4778
i'm stuck with the same error 1.2.x

[2019-08-21 22:33] dndx commented on #4949
Hi @jeremyjpj0916,

Such a coincidence, we just opened https://github.com/Kong/kong/pull/4944 to provide more information for how to setup Kong development environment manually. In short, for compiling the OpenResty suite the recommended method is to use the new [openresty-build-tools](https://github.com/Kong/openresty-build-tools) repository which will automatically include any required module an

[2019-08-21 22:38] jeremyjpj0916 commented on #4949
@dndx appreciate the reply, about 10 minutes ago I was just saying that I should scratch the way we do it and used yalls official repo against my alpine 3.10 base for building from source. I will have to change a few things and include more nginx patchwork I run custom with Kong but that's a good approach for my base install process. Will hijack that shell script and invoke it with the args (and a

[2019-08-22 01:46] bruse-peng commented on #4948
ok
  i have send the request

------------------ 原始邮件 ------------------
发件人: "Kevin Chen"<notifications@github.com>;
发送时间: 2019年8月21日(星期三) 晚上11:18
收件人: "Kong/kong"<kong@noreply.github.com>;
抄送: "路过的风景"<390376910@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [Kong/kong] 在使用kong的时候出现了问题，想问下这是什么情况 (#4948)

@bruse-peng if you need help in Chinese, please add me on wechat @kchen0218

—
You ar

[2019-08-22 06:38] George3d6 opened #4952 "Seeming bug with accessing local urls with file databasef"
### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1. Use the following yml file as the kong database:

[code]

2. run python3 -m http.server 7777

3. got to http://your_machine_ips:8000/test_route/?apikey=wahtever

You'll get the error: `The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.`

Also tried with localhost, 0.0.0.

[2019-08-22 06:42] George3d6 commented on #4952
Upon further analysis I realize where the mistake was, I assumed the route would point to `/` rather than `/route_name`, that it's just an alias

[2019-08-22 06:42] #4952 closed

[2019-08-22 08:44] symenghuan opened #4953 "cacel"

[2019-08-22 09:00] #4953 closed

[2019-08-22 10:03] bungle commented on #4949
I also got this problem. It seems like `make install` does not always install `tls.lua`. I needed to manually install that even though I had `--add-module`. I was sure this was going to bite us.

[2019-08-22 12:36] mickaelmagniez opened #4954 "Error with jwt_secrets.key in kong 1.3"
### Summary

I'm trying to update from 1.2 to 1.3 (db less), and this configuration prevent kong 1.3 to start:
[code]
Error is
[code]

Removing `key: "https://keycloak/auth/realms/foo"` fixes error, but of course jwt validation doesn't work.

Best regards

[2019-08-22 13:30] bungle commented on #4919
@zpc870921, yes so it is a feature request. I remove the `pending author feedback` label. Let's see if this is much requested addition, or if someone sends us a PR on this. No timeline known for us to implement this.

[2019-08-22 13:31] bungle commented on #4919
In a meanwhile, you can copy that plugin code above and change it to make headers from query args and then route by header.

[2019-08-22 13:33] mukgupta opened #4955 "proxy_ssl_ciphers directive doesn't work"
### Summary
Specifying [proxy_ssl_ciphers](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_ssl_ciphers) doesn't seem to have any impact on the CIPHERS offered during TLS Handshake. Tried specifying using custom nginx template as well as `nginx_http_` directives. One caveat is that, if we change existing `proxy_pass` definition inside custom template from

`proxy_pass   $upstream_sch

[2019-08-22 15:31] hishamhm commented on #4949
@jeremyjpj0916 if you need any tweaks to the script to make kong-ngx-build work properly in your environment with your customizations (e.g. loading extra patches from a third-party path), please let us know — or even better, send a PR adding those as optional flags and we'll be happy to take them!

[2019-08-22 16:08] hbagdi commented on #4778
Kong 1.3 is released, please upgrade to Kong 1.3 to resolve this issue.
The fixes here are:

[2019-08-22 17:37] jeremyjpj0916 commented on #4949
I am likely running into . what Mr. Bugle here has described hah. Regardless I am excited to try yalls build tools script so I will give it a go.

@hishamhm Certainly would be cool to think up a pattern that will enable 3rd party patching into the flow with an optional arg(and how does that work when someone has 3rd party patches that all touch the same source c files? Can it?). I am not as git ve

[2019-08-22 19:32] mbugeia commented on #3353
Sorry I forgot about this issue but you were right ! We ended up setting the number of worker to 1 since since we never more than 1 core to 1 kong pod for our usecase. Thanks !

[2019-08-22 19:32] #3353 closed

[2019-08-22 20:44] jeremyjpj0916 commented on #4949
@hishamhm found the first problem with the build script running in a standalone fresh container. Seems to expect a localized /work directory to exist but it does not in our container. Maybe folks that have been running it for awhile already had a /work directory present on their laptop. Continuing to work it into our build process but thought to mention that bug.

[2019-08-22 23:02] jeremyjpj0916 commented on #4949
Getting closer, seems to always fail on luarocks installing of Kong now, like so many dependencies github gets tired of all the luarocks pulls lol. Always hangs specifically on pgmoon for me, tried 3 separate builds and it failed same way, time to 1 off and install pgmoon prior to luarocks kong install and see if that helps:
[code]

[2019-08-23 07:34] jeremyjpj0916 commented on #4949
@dndx Another issue when specifying a /usr/local/kong thats not a singular folder is output like this:
[code]

Come build time watch the output of the luarocks 3.1.3 installation:
[code]

Notice the double // going on? it ends up being simply /usr/local/kong/luarocks in the end but still a problem. Need something in shell script to handle -p build vs -p /full/path as I also tried running as -p ful

[2019-08-23 09:03] jeremyjpj0916 commented on #4949
Getting close now, hitting path issues:
[code]

I see Kong files luarocks installs when pulling kong actually lives in:
[code]

And I tried adjusting the docker-entrypoint.sh file to accommodate that(KONG_LUA_PATH_OVERRIDE):

[code]

Maybe export KONG_LUA_PATH_OVERRIDE="/usr/local/kong/luarocks/share/lua/5.1/kong" is not correct or maybe since I only set that at build time. Hope that gives a glimp

[2019-08-23 09:48] zpc870921 commented on #4919
@bungle   thanks ! I have solved it.

[2019-08-23 09:48] #4919 closed

[2019-08-23 10:51] javimudi commented on #4954
Hello, same issue here.

Back to 1.2 works ok.

Best

[2019-08-23 10:58] bungle commented on #4872
Closing this as the requested feature was implemented (currently going to `1.4.0`, but available in our `next` branch).

[2019-08-23 10:58] #4872 closed

[2019-08-23 17:19] jeremyjpj0916 commented on #4949
Figured out a way to fix it, LUA_PATH helps out with it, random googling of old kong issue solved that.

[2019-08-23 17:32] jeremyjpj0916 commented on #4949
Well could not find documentation directly for what was wrong, but by setting the LUA_PATH to where the luarocks drops everything in this openresty build suit it started working again, managed to run migrations up from 1.2 to 1.3 successfully(seemingly), need to run a finish once I get 1.3 nodes setup.

[2019-08-23 17:49] #4795 closed

[2019-08-23 17:49] #4739 closed

[2019-08-23 17:49] #4732 closed

[2019-08-23 17:50] #4514 closed

[2019-08-23 17:52] guanlan commented on #4846
@zeeshen Can you update the 1.3.0 and give it a try?

[2019-08-23 18:01] #4949 closed

[2019-08-23 18:02] jeremyjpj0916 commented on #4949
Fixed as far as original issue at this point(as long as migrations finish goes smoothly heh), kong tls module somehow does start making it in when using yalls shell script logic.

[2019-08-24 03:52] jeremyjpj0916 commented on #4949
Figured I would add some of the logic we used, if anyone else public net runs into problems building from source, hope maybe one of these bits will help:
[code]

Another Important point we got stuck on is to set the lua_path, build from source docs lacked info on that env:
[code]

[2019-08-25 07:37] Tieske commented on #4812
Just looking at this;

* the stack trace is from lapis so the error originates from the management API
* why do users get 500s in this case?
* worker events doesn't use ttl's in its cache, it relies on lru, assuming that the oldest events being evicted have already been dealt with. The expected error if this assumption goes bad, is indeed the "waiting for event data timed out" message

I don't kno

[2019-08-25 07:41] Tieske commented on #4812
The above does of course not explain the relation with mlcache.

[2019-08-25 10:59] hoopchen opened #4962 "Basic-auth not working"
### Summary

HI, i am trying to make a `basic-auth` plugin working with `route`, but with no luck.

### Steps To Reproduce

i have already created `routes` `consumer` `credential` object and enabled plugin `basic-auth`.
bellow is what i have got so far.

list routes:

[code]

there is only one route, its path is `/`, so show what plugins are applied to this route

[code]

there is a `basic-auth` p

[2019-08-25 11:17] hoopchen commented on #4962
it maybe duplicated to [4542](https://github.com/Kong/kong/issues/4542),   i will test the solution by https://github.com/Kong/kong/issues/4542#issuecomment-486828860, if it works fine, i will close this issue.

[2019-08-26 07:50] jeremyjpj0916 commented on #4769
Confirmed still occurring on 1.3, didn't really expect it to go away based on changes thus far.

Testing was like so:
Just had a dev sandbox running 50 resources or so, no issues there chaos create + deleting.

Ramped it up to 3,050 consumers and proxies(service+route+plugins on route) and doing create + deletes.

Saw a few admin API GETS failed while it was ramping up to that resource count level

[2019-08-26 08:22] umarhussain15 opened #4964 "encryption option for api key in database."
### Summary
Currently kong stores api key in database in plain text.
Is there any option to store api keys encrypted in database and then get the api key unencrypted when querying from admin api?

Although it is a general practice to store api keys in plain text but in my scenario the api keys grant access to user's payment method stored in a system. So I need to keep the api keys secure to avoid

[2019-08-26 08:57] zyjiaobj opened #4965 "rate limiting plugin failed with runtime error: attempt to index local 'policy' (a nil value)"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

Rate limiting plugin failed with runtime error: `attempt to index local 'policy' (a nil value)`

### Steps To Reproduce

1. save a `kong.yml` file
[code]
2. save a `kong.conf` file
[code

[2019-08-26 09:06] zyjiaobj commented on #4965
fixed by updating the kong.yml with:
[code]

missing `policy: local` in the docs: https://docs.konghq.com/hub/kong-inc/rate-limiting/
[code]

[2019-08-26 09:19] ailuhaosi opened #4966 "how to add --with-http_gzip_static_module into kong"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1.
2.
3.
4.

### Additional Details & Logs

- Kong version (`$ kong version`)
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong erro

[2019-08-26 09:42] seifchen opened #4967 "kong1.3 does not support log_format?"
I use kong1.2 to define myself log_format is ok, but when I use kong1.3.0
the log didn't show correct!the config is in nginx_kong.lua:
[code]
kong1.3 change something?

[2019-08-26 09:45] seifchen commented on #4967
I found /usr/local/kong/nginx-kong.conf didn't have log_format field

[2019-08-26 09:49] seifchen commented on #4967
My fault, the nginx_kong.lua path is not correct

[2019-08-26 09:49] #4967 closed

[2019-08-27 06:33] hoopchen commented on #4962
confirmed. duplicated with [4542](https://github.com/Kong/kong/issues/4542). close this one.

[2019-08-27 06:33] #4962 closed

[2019-08-27 07:09] mukgupta commented on #4955
@thibaultcha : Looks like when we implmented https://github.com/Kong/kong/commit/c4b3b1a7be471ff97a60ecc56a8cb0d7749cf9b6, we started using our own SSL_CTX for balancer instead of default nginx one which supported proxy_ssl_ciphers directive. I see a TODO inside kong/init.lua that mentions
 "-- TODO: copy proxy_ssl_* flags?"
Can you confirm if I am thinking in the right direction?

[2019-08-27 10:09] bungle commented on #4964
@umarhussain15, we are going to add dao transformations in a near future that would open a door for this without hacks. We have done some work on this already on this branch but we need one more round to get it right: https://github.com/Kong/kong/commits/feat/dao-transformations

It is coming for sure! Dao transformations opens the door for encryption at rest and hashing, and for more scenarios.

[2019-08-27 10:20] umarhussain15 commented on #4964
Hi @bungle, Great. Thanks for the update.
In the mean time I'm creating a custom plugin to achieve this. I'm basing the plugin on key-auth code.
I have written the code but there is an issue I'm facing regarding usage of custom plugin with kong docker.

Please have a look if you can provide some solution:  https://github.com/Kong/docker-kong/issues/293

[2019-08-27 12:21] xichengliudui opened #4970 "Questionable use of kong and Prometheus in combination"
Usage of Prometheus along with kong was problematic，
I used Prometheus to monitor port 8000 and 8001 of kong. I found that port 8001 failed all the time. The error was `server returned HTTP status 403 Forbidden`.
Below is my command to run kong and configuration of Prometheus.

[code]
[code]

**What I want to know is whether kong 8000 port is allowed to be monitored or what special configuration i

[2019-08-27 12:23] xichengliudui commented on #4970
screenshots:
![image](https://user-images.githubusercontent.com/40875627/63770781-74529000-c908-11e9-91ac-aded47ba86d8.png)

[2019-08-28 00:43] scw00 opened #4973 "Kong doesn't support default ssl library"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

Kong doesn't support default ssl library

### Steps To Reproduce

run
[code]

### Additional Details & Logs

- Kong version (`$ kong version`) latest
- Kong debug-level startup logs (`$

[2019-08-28 00:48] scw00 commented on #4973
[code]

[2019-08-28 01:49] scw00 commented on #4973
luaossl-20170903 fixed that.

[2019-08-28 08:58] satheeshrajan commented on #4105
Hello,

We have deployed Kong on Kubernetes which was working fine. Suddenly, the **Kong pod** has getting restarted and went to **CrashLoopBackOff** state.

when checking the logs of the pod it says the following

Then add a command section in the pod definition file which is

After that the pod is started with the following log and again went to CrashLoopBack state.

Could you @hbagdi  please he

[2019-08-28 09:29] zeeshen opened #4974 "Kong latency increased when routes updated"
We observed that when routes updated, we'll get a latency spike in `kong_latency_xxx{type="request"}`. And we found that it's caused by a `coroutine_mutex` in rebuild_router.

Setting `router_consistency` to `eventual`  may be a resolution to this problem. But we still have some questions, hope you guys can help:

### Why this `get_updated_router` latency is not included in kong proxy time?

We no

[2019-08-28 10:22] bungle commented on #4974
@zeeshen,

#### About Router Rebuilds

That is normal. When you update router with `router_concistency=strict` it may be background timer (runs every second — `next` branch has that configurable) or a request that starts building a new router. That build process will acquire a `mutex` and it will basically halt processing all the requests on that worker (similarly if request ends up in another wor

[2019-08-28 12:02] encircled opened #4975 "HTTP routing does not work for a service with the service mesh sidecar"
### Summary

I'm trying to setup a HTTP application with the kong sidecar, which will be exposed via kong gateway in kubernetes. Basically the same as https://github.com/Kong/kong-mesh-dist-kubernetes, but with HTTP service instead of raw TCP.
Probably I'm missing the idea how exactly it is working internally, unfortunately the documentation is not comprehensive yet.

I've forked https://github.co

[2019-08-28 13:34] rsbrisci opened #4976 "JWT plugin - HTTP 500 returned when 401 is more appropriate"
### Summary

This one is relatively straightforward.

If I create an HS256 JWT token with an emptystring for the issuer claim `"iss": ""`, and use that as my token in `Authorization: bearer <token>` to call a proxy with the JWT plugin -  the JWT plugin will respond with an HTTP 500, instead of the more appropriate HTTP 400 or 401.

Given the context of the error would be authentication, my vote wo

[2019-08-28 14:44] james-callahan commented on #4973
How did you build your own openssl? Various kong components/dependencies will need to be rebuilt against your different openssl version.

[2019-08-28 15:35] encircled commented on #4975
I've tried it as well, but it is not really related to the configuration of routing I'm struggling with. Injector works fine for me, in the example I've left it directly in the k8s deployment manifest file for transparency.

What is not documented is how to configure the service/routing for a HTTP application (which I will do later once I understand how it works).

[2019-08-29 05:34] jeremyjpj0916 commented on #4949
Had to change something recently too, thought to updatte thread here but pcre having issues with the 1.15.8.1 of openresty causeing the use of ngx/re problems finding some ffi binding. Looks like thibaultcha added a way to dynamically link so I change modified the build to this:
[code]

Another thing that was interesting was the latest alpine 3.10 i had to install patch explicitly because the patc

[2019-08-29 06:22] jeremyjpj0916 commented on #4976
@bungle I think you fixed something similar in the OAuth2.0 plugin, looks to be here:

https://github.com/Kong/kong/blob/master/kong/plugins/jwt/handler.lua#L162

Maybe this should be:
[code]
?

Although the OAuth2 adjustment was dao related and this is less so. Unsure but it was first thought that popped into my head briefly glancing at this.

[2019-08-29 06:28] mukgupta commented on #4942
On further debugging, it was found that the server removed support for certain SSL ciphers. However, doesn't support specifying custom ssl ciphers for upstream. New bug opened here: https://github.com/Kong/kong/issues/4955

[2019-08-29 06:28] #4942 closed

[2019-08-29 07:53] orientzc opened #4978 "worker cpu 100% and i guesss kong down"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary
i use three node kong with cassandra for a few of months, and someday, i suddently found the one of kong node is connected time out by "nc".
![image](https://user-images.githubusercontent

[2019-08-29 08:46] chensunny opened #4979 "Prometheus severely affects performance！！"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

Prometheus severely affects performance
### Steps To Reproduce

1. add a  service and  a route  then i do benchmark

[code]

2.   I  add  prometheus plugin

[code]

* kong server

[code]

[2019-08-29 10:06] bungle commented on #4975
indeed there seems to be an wrong assumption on streams.

[2019-08-29 12:09] lamtrinh opened #4980 "Multiple api instances for one service"
I have 2 same api instances in server A and B. How can Kong forward request to the right server base on request header or something else?
For example, when user call abc.xyz/api, Kong will forward request to server A if the request's host header is A and forward to B if the host header is B?

[2019-08-29 12:46] zeeshen commented on #4974
Thanks for your explanations. We'll try `router_consistency= eventual` later because actually we're running a 1.0.x Kong on production :).

As one of those that don't use consumers that much, we really want Kong can run with the control plane and the data plane separated. Hope you guys make this happen. And thanks for all the nice work.

[2019-08-29 12:46] #4974 closed

[2019-08-29 13:58] bungle commented on #2767
@subnetmarco, are you fine with adding new header e.g. `X-Kong-Response-Latency` on such cases where we don't use proxy? It is quite hard for us to determine if plugin did send additional request (lambda plugin, forward-proxy plugin) or did the plugin short-circuit and reply immediately (request-termination). I would like to keep `X-Kong-Proxy-Latency` only on those cases where code went to the po

[2019-08-29 23:35] #4966 closed

[2019-08-29 23:41] guanlan commented on #4808
@luxurine It should be fixed with the 1.3 release, closing this.

[2019-08-29 23:41] #4808 closed

[2019-08-29 23:42] #4803 closed

[2019-08-29 23:43] #4851 closed

[2019-08-29 23:43] #4794 closed

[2019-08-29 23:44] #4672 closed

[2019-08-29 23:44] #4673 closed

[2019-08-29 23:44] #3329 closed

[2019-08-29 23:44] #3334 closed

[2019-08-29 23:45] #3725 closed

[2019-08-29 23:45] #4104 closed

[2019-08-29 23:46] #4074 closed

[2019-08-29 23:46] #4415 closed

[2019-08-29 23:47] #4576 closed

[2019-08-29 23:47] #4596 closed

[2019-08-29 23:47] #4621 closed

[2019-08-29 23:48] #4661 closed

[2019-08-29 23:48] #4646 closed

[2019-08-29 23:49] #3963 closed

[2019-08-29 23:49] #4606 closed

[2019-08-29 23:49] #4796 closed

[2019-08-29 23:51] #4865 closed

[2019-08-30 00:14] onfla11 commented on #4646
@bungle in recent version of kong i.e. 1.0, GET /apis is removed completely. I am not sure which recent version I can try?

[2019-08-30 00:15] onfla11 commented on #4646
@guanlan could you please re-open the issue, as it is not resolved?

[2019-08-31 19:33] piyush-insider commented on #4980
Hey @lamtrinh since kong 1.3  you can use any header to proxy your requests based on the header. Please refer the link for more information on how to configure your routes.
https://docs.konghq.com/1.3.x/proxy/#request-header
Hope this helps!

[2019-08-31 19:38] Tieske commented on #4980
@lamtrinh routing based on host header was already supported. From day 1, basically. See the proxy reference https://docs.konghq.com/1.3.x/proxy/#routes-and-matching-capabilities

[2019-09-02 02:27] luo985 opened #4986 "deadlock on table cluster_events"
hello, when i change route or targets frequently by admin api,   then found deadlock on the admin_log:

`
2019/08/12 14:43:29 [error] 21332#0: *795492 [lua] cache.lua:315: invalidate(): [DB cache] failed to broadcast cached entity invalidation: could not insert invalidation row: ERROR: deadlock detected
Process 26420 waits for ShareLock on transaction 53508147; blocked by process 23771.
Process 23

[2019-09-02 03:21] RuChiang opened #4987 "hmac authentication - validate_body() failure"
### Summary

I have enabled the __config.validate_request_body__ on Kong's hmac plugin, and since then all my post requests cannot get through the hmac auth. I have checked the [source code](https://github.com/Kong/kong/blob/master/kong/plugins/hmac-auth/access.lua) and haven't found any discrepancies between my JavaScript way of hashing body and the Kong's implementation. __My JavaScript implemen

[2019-09-02 03:29] luo985 commented on #4864
@dndx
(fix(balancer) don't set health if target is not created yet   #4939)
did this pull request fix the issue？

[2019-09-02 08:49] osamaahf commented on #3852
Hello,
I have the same error, I am doing a migration from 0.10.3 to 0.14.1, the migration up works fine, but starting kong gave me the same error as @venusf1ytrap  describe.
@venusf1ytrap @supritshah1289 did you get any solution for this issue ?

Thanks

[2019-09-02 11:10] scw00 commented on #4973
./config with newest openssl version. And then reinstall luaossl .

[2019-09-02 13:43] hishamhm commented on #4880
Fixed by @tkbky in #4889!

[2019-09-02 13:43] #4880 closed

[2019-09-02 15:46] joshuabuildsthings commented on #1867
Anyone know if MySQL or even pluggable DB Support is on the roadmap for the future? All the issues I found were closed without any clear indication of a path forward.

[2019-09-02 23:36] carnei-ro commented on #4359
The lightuserdata was merged. 1.3.0 has been released. Any updates in kong for arm64?

[2019-09-03 01:13] RuChiang commented on #4987
Just figured it out myself

 should be

[2019-09-03 01:13] #4987 closed

[2019-09-03 02:22] javierguerragiraldez commented on #4978
sounds like https://github.com/LuaJIT/LuaJIT/issues/494.  Fixed on recent versions

[2019-09-03 08:41] ccjinghang commented on #4672
Sorry,late reply.
After my verification, the bug was fixed. @kikito

[2019-09-03 09:43] hanjian007 opened #4991 "kong start error"
[root@localhost logs]# cat error.log
2019/09/04 00:13:59 [notice] 39966#0: using the "epoll" event method
2019/09/04 00:13:59 [notice] 39966#0: openresty/1.15.8.1
2019/09/04 00:13:59 [notice] 39966#0: built by gcc 4.8.5 20150623 (Red Hat 4.8.5-36) (GCC)
2019/09/04 00:13:59 [notice] 39966#0: OS: Linux 3.10.0-957.21.3.el7.x86_64
2019/09/04 00:13:59 [notice] 39966#0: getrlimit(RLIMIT_NOFILE): 1024:40

[2019-09-03 13:29] hutchic commented on #4991
what's the Kong version and how was Kong installed / ran?

[2019-09-03 18:45] hbagdi commented on #4105
@satheeshrajan It seems like the database pod went away and came back with a clean state.
Is Postgres being backed by a persistent volume in your deployment?
If not, you will need to ensure that.

[2019-09-03 20:17] guanlan commented on #4978
@orientzc Can you try to upgrade to 1.3? It's should be fixed already.

[2019-09-03 22:22] dndx commented on #4991
What is the error message you are seeing? The log above does not appears to show any signs of error.

[2019-09-04 00:02] hanjian007 opened #4992 "Run error after compilation is complete"
[root@localhost local]# kong start -c /etc/kong/kong.conf
Error: module 'resty.kong.tls' not found:No LuaRocks module found for resty.kong.tls
	no field package.preload['resty.kong.tls']
	no file './resty/kong/tls.lua'
	no file './resty/kong/tls/init.lua'
	no file '/usr/local/openresty/site/lualib/resty/kong/tls.ljbc'
	no file '/usr/local/openresty/site/lualib/resty/kong/tls/init.ljbc'
	no file '/

[2019-09-04 00:12] jeremyjpj0916 commented on #4992
If building from source see here: https://github.com/Kong/kong/blob/master/UPGRADE.md#dependencies , you are missing the new nginx module Kong has developed most likely or it has been improperly installed.

[2019-09-04 01:56] hanjian007 commented on #4991
Thank you for the question of my agent.

[2019-09-04 01:56] #4991 closed

[2019-09-04 02:52] davinwang commented on #2155
@coopr
Can you try to use PUT http://localhost:8001/consumers/{consumer}/jwt/{key}  ? this works for me

[2019-09-04 05:41] zhigang commented on #4878
same issue here

[2019-09-04 07:06] bungle commented on #4986
@luo985 thanka for the report!

[2019-09-04 11:21] hutchic commented on #4923
What's the error that was returned? You might have better luck using the following project to build / run / develop Kong from source

[2019-09-04 12:05] zeeshen commented on #4846
We tried the 1.3.0 version and this bug still exists.

In step 2: we use an `&&` to ensure the 2nd request is sent **immediately** after the 1st request.
In step 3: tools like `wrk` may be helpful as not all the workers' routing are incorrect.

Some logs, hope it can help:

debug log during the target modifications requests:

[code]

access log 2 mins+ after the target modifications requests: requ

[2019-09-04 13:17] nevenchen opened #4995 "Is there any document to guide from how to configure the kong.yml"
I am using the DB-Less kong, now i am not able to use the api to create the kong configuration.
How can I configure it manually in the kong.yml.

For example, I want to create a consumer with jwt like this:
`
{
    "total": 1,
    "data": [
        {
            "created_at": 1523432449000,
            "id": "cb01a6cf-7371-4f23-8193-fa69a0bb070c",
            "algorithm": "HS256",
            "key

[2019-09-04 16:44] omarsamad-plutoflume commented on #4995
https://docs.konghq.com/1.3.x/db-less-and-declarative-config/#creating-a-declarative-configuration-file

[2019-09-04 17:37] bungle commented on #4785
This should now be fixed on `next` branch, so I am closing this. Please reopen if you find any bugs.

[2019-09-04 17:37] #4785 closed

[2019-09-04 18:10] #4954 closed

[2019-09-04 23:24] dndx commented on #4973
@scw00 do not build Kong's dependencies manually. If you must consider using [openresty-build-tools](https://github.com/Kong/openresty-build-tools) instead. Also like @james-callahan said all Lua C dependencies has to be rebuild as well.

[2019-09-04 23:26] dndx commented on #4545
I believe @bungle and @jeremyjpj0916 provided the right answer. Closing this for now :)

[2019-09-04 23:26] #4545 closed

[2019-09-04 23:29] dndx commented on #4992
@jeremyjpj0916 is right. Also please consider use [openresty-build-tools](https://github.com/Kong/openresty-build-tools) instead of compiling OpenResty manually. This tool will ensure all required dependencies are properly built.

[2019-09-04 23:32] #4995 closed

[2019-09-04 23:41] guanlan commented on #4955
@mukgupta Yes, you are right. It's a known limitation on our end. We've planned to have a proper fix after 1.4.0

[2019-09-04 23:42] guanlan commented on #4871
@AliShelby
Can you try the latest version (1.3)?

[2019-09-04 23:46] #4843 closed

[2019-09-05 01:25] nevenchen commented on #4995
@guanlan
I have read the document before, it's only a very simple example.
For example if i want to configure jwt consumer, how should i write the kong.xml?
![image](https://user-images.githubusercontent.com/3069043/64304624-25b78c80-cfbf-11e9-82aa-452cdc91801b.png)

[2019-09-05 02:44] sleepreading opened #5000 "route prefix and regex match priority"
**NGINX** route priority:  it puts the prefix on the first place but **KONG** do the opposite(kong treats the regex match as the first one). I want to know why

sorry for my poor english

[2019-09-05 05:17] mukgupta commented on #4955
Thanks for confirming @guanlan . Is there a good workaround to this? I am currently using `ngx.ctx.balancer_data.ssl_ctx:setCurvesList` in a pre-function plugin to update the ciphers/curves

[2019-09-05 08:38] zeeshen commented on #4846
hey guys, I added some log code(based on 1.3.0) and may find the cause.
[full diff](https://pastebin.com/AwAsfut5)
[full log](https://pastebin.com/6AmyGyYt)

[code]
[code]

From the log, we can see all the `target.order`s in `balancer.lua` are nil as the order field is unset in `select_by_upstream_raw`. So during rapid target changes, the rebuild process will be skipped if the targets length is un

[2019-09-05 09:06] ankit2894 commented on #1009
I tried adding above mentioned configuration nginx_kong.conf file and restarted the kong server in the meanwhile the file got overwritten with the default configuration and my changes disappeared.
Please help me starting kong server with custom nginx_kong.conf.

[2019-09-05 09:20] yousafsyed-bg commented on #2764
@satishmane using kong 1.3 stable/helm with the chart: version: 0.17.0 and same issue, the official docker image does not log anything with syslog plugin.

[2019-09-05 09:35] omarsamad-plutoflume commented on #4995
https://docs.konghq.com/hub/kong-inc/jwt/

look at the without a database section.

[2019-09-05 10:02] linzhisheng opened #5002 "log segment"
on nginx can use  (access_log  logs/${uri}_access.log  main) to create dynamic log, but on kong it doesn’t work

**kong.conf**

proxy_access_log = logs/$uri-access.log

**nginx-kong.conf**

   server_name kong;
    listen 0.0.0.0:8000;
    listen 0.0.0.0:8443 ssl;
    error_page 400 404 408 411 412 413 414 417 494 /kong_error_handler;
    error_page 500 502 503 504 /kong_error_handler;

    access

[2019-09-05 12:09] khaleelp opened #5003 "kong doesnt start on adding nginx_http_upstream_keepalive_timeout in kong.conf"
nginx_http_upstream_keepalive_timeout = 180s
after adding above NGINX directive on kong.conf kong doesnt start and fail with following error.

/usr/local/share/lua/5.1/kong/cmd/start.lua:75: /usr/local/share/lua/5.1/kong/cmd/start.lua:37: nginx configuration is invalid (exit code 1):
nginx: [emerg] unknown directive "upstream_keepalive_timeout" in /usr/local/opt/kong/nginx-kong.conf:31
nginx: conf

[2019-09-05 13:48] UnixBoy1 commented on #4055
@here was this fix implemented into older version 0.12.X or 0.15.X

[2019-09-05 15:33] jeremyjpj0916 commented on #4055
@Unixboy1 I think a more minimal form of it made it into 1.2 as the first iteration for eventual consistency. Was not added to earlier versions.

[2019-09-05 16:21] bungle commented on #5003
we don't currenly support injections to every block, e.g. you want it here:
https://github.com/Kong/kong/blob/master/kong/templates/nginx_kong.lua#L78

[2019-09-05 17:01] bungle commented on #5000
Nginx has:

1. `=` for exact match, e.g. `location = /`
2. `^~` for the longest matching prefix, e.g. `location ^~ /`
3. `` (no prefix) for prefix match, e.g. `location /`
4. `~` for regex match, e.g. `location ~ /.*`
5. `~*` for case-insensitive regex match,  e.g. `location ~* /.*`

What Nginx does is:
1. Check if there is `=` exact match, if found, use that. done.
2. Check if there is `^~` longe

[2019-09-05 18:04] thibaultcha commented on #5003
@khaleelp Hi,

Injecting this directive will only work with Kong 1.3 and above. Kong 1.2 ships with OpenResty 1.13.6.2, but the [keepalive_timeout](http://nginx.org/en/docs/http/ngx_http_upstream_module.html#keepalive_timeout) directive was added in NGINX 1.15.3. You thus need OpenResty 1.15.8.1 or above to use it, which is the version of OpenResty Kong 1.3 ships with.

[code]

[2019-09-05 18:04] #5003 closed

[2019-09-05 21:33] bneutra commented on #4955
@guanlan in 1.2.1 I observe what I think is related: proxy_ssl_trusted_certificate is not respected (i.e. ssl handshake fails) while the same cert chain file works fine in nginx using proxy_ssl_trusted_certificate.  Am I conflating these things, or is it likely that this issue is the same for proxy_ssl_trusted_certificate?

[2019-09-05 23:05] #4980 closed

[2019-09-06 03:53] xichengliudui opened #5004 "Kong access.log doesn't have any information"
### Summary

SUMMARY_GOES_HERE

I use the container to run kong, its log in /usr/local/kong/logs/access.log The log but it doesn't have any information

### Steps To Reproduce

execute: `docker-compose up -d`

[code]

### Additional Details & Logs

- Kong version (`$ kong version`)
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong error logs (`<KONG_PREFIX>/logs/error.log`)
- Kong confi

[2019-09-06 03:55] xichengliudui commented on #5004
What did I miss?

[2019-09-06 05:53] xichengliudui commented on #5004
[code]

[2019-09-06 08:48] crazytravel opened #5005 "kong1.3.0 dbless mode fail start: by using basic-auth plugin to set basicauth_credentials"
### Summary

basic-auth plugin on kong 1.3.0 declarative dbless mode start failed.
Rollback to kong 1.2.0 it works.

nginx: [error] init_by_lua error: ...are/lua/5.1/kong/db/schema/others/declarative_config.lua:423: attempt to index local 'parent_fk' (a nil value)

[code]

### Additional Details & Logs

- Kong version (`1.3.0`)
- Kong debug-level startup logs (
[code]
)
- Docker: kong:1.3.0-alpine

[2019-09-06 10:02] HefeiJoe commented on #4966
https://github.com/Kong/openresty-build-tools/issues/37
![image](https://user-images.githubusercontent.com/27885579/64419913-871b5080-d0d0-11e9-87f6-0e8a712ea0df.png)

The installation is successful, but the CMD executing kong will report an error

[2019-09-06 15:14] mnofresno commented on #2439
Pls share the reason it doesn't worked

[2019-09-07 15:38] rahul2662 opened #5009 "Want to Change strip path code"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

we have a use case in which we want to strip only $1 of uri and not anything after that. Is it possible.
eg. https://qa-kong.abc.com/app1/testing/health
then any matching route should strip only app1

[2019-09-07 17:57] EB123 opened #5010 "Kong 1.3 when trying to add pre/post-function plugin, the function is executed"
### Summary

When trying to add a pre/post-function plugin to kong, it seems like the function is executed, so if the function contains `kong.response.exit` then it actually ends the POST request and the plugins is not added.

I tried it (using the example from the documentation) with versions 1.0.3, 1.2 & 1.3, the issue only happens with 1.3. When using 1.0.3/1.2 it succeded.

### Steps To Reprod

[2019-09-07 19:52] EB123 commented on #5010
I've also opened an [issue](https://github.com/Kong/kong-plugin-serverless-functions/issues/23) in the serverless-plugin repo because I think it might be related to their custom_validator, but it would be great if someone from here could also take a look. Thanks!

[2019-09-08 07:50] Tieske commented on #5010
it is related to the custom validator. This is an unforeseen edge-case.

Wrap your code in a function, then it'll work
[code]

To test the new format of the function, the validator executes the function, and if it returns a function value, it is assumed to be the new format, otherwise the old format.

In hindsight this turns out not to be the smartest solution 😞 🔫 .

Thx for the report @EB123 .

[2019-09-08 07:53] Tieske commented on #5010
closing this in favor of the [other one](https://github.com/Kong/kong-plugin-serverless-functions/issues/23)

[2019-09-08 07:53] #5010 closed

[2019-09-08 23:57] elruwen commented on #1009
We are doing currently the following:

There is the file /usr/local/share/lua/5.1/kong/templates/nginx.lua (the exact path might be different on your system).

We added to the http section the following lines:

[code]

[2019-09-09 10:35] qianyugang opened #5011 "There are some problems with using `require "openssl.pkey"`"
- kong version: v1.0.3
- ubuntu 18.06

I want to generate the secret key pairs with 'ec'.
[code]

The following error occurred.
[code]

[2019-09-09 12:02] JnMik commented on #1945
Actually having kong directly support let's encrypt built-in like traefik would be real nice

[2019-09-09 13:44] omarsamad-plutoflume opened #5012 "kong no peer found by name"
### Summary

kong 1.3 db-less yaml config mode.

Getting a lot of no-peer found by name when using aws ecs service discovery endpoint (route53 SRV). Additionally the Healthchecks then return failed setting peer status error.

Is there any limits on reading DNS repsonse size from AWS route53 request?

https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DNSBehavior.html
https://docs.aws.amazon

[2019-09-10 00:30] scw00 commented on #4973
I fixed this case  after rebuild luaossl. But sometime it doesn't work. Will re-open if I re-product this.

[2019-09-10 00:30] #4973 closed

[2019-09-10 06:31] jeremyjpj0916 opened #5015 "Potential Kong ACL Plugin issue 403s occasionally for windows at a time"
# Summary

Interesting ticket came in today from a user. Seeing 403's on their proxy as well as 200's, the Consumer user is authenticated as per my HTTP Log plugin has their Consumer username set on these 403's short stopping at Kong . These are users that are intermittently getting sometimes 200's back from backends and sometimes 403's(from kong) in chunks. Checking webserver logs and seeing no w

[2019-09-10 09:52] drakenguyencvn opened #5016 "Kong Linux command client did not run and return data"
### Summary

I installed kong on my Ubuntu 18.04 bionic as intructions:
https://docs.konghq.com/install/ubuntu/?_ga=2.27228475.749820824.1568107389-1191384212.1567663353
However, when I run Kong command on the command line it did not return anything

I also try to run Kong commnand on Kong Docker container by official image and the output was the same.

### Steps To Reproduce

1. Install Kong: htt

[2019-09-10 10:00] orientzc commented on #4978
thanks. i will try.

[2019-09-10 11:22] bungle commented on #5015
If it works on some proxies, but not all, I think issue is with invalidations / cluster events / worker events. It might be worth it to try if this has any effect: https://github.com/Kong/lua-resty-worker-events/pull/24

[2019-09-10 11:53] hutchic commented on #5016
try `kong -vv` for verbose output

[2019-09-10 15:41] omarsamad-plutoflume commented on #5012
is there any limits on reading DNS repsonse size from AWS route53 request?

https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DNSBehavior.html

[2019-09-10 16:36] jvandervelden opened #5017 "Breaking change in version 1.2.1"
This is more an FYI for anyone who is upgrading from 1.2.0 or lower to 1.2.1. This might need to be called out in the changelog as I did not see this anywhere.

### Summary

The luarocks version changed in the docker image.

kong:1.2.0 => luarocks version 2.4.3
kong:1.2.1 => luarocks version 3.1.3

If you have a custom plugin where you use the luarocks feature that builds your rock_spec from all t

[2019-09-10 18:38] jeremyjpj0916 commented on #5015
@bungle At what location in Kong's codebase would it be best to:

[code]

and then disable it too?

[code]

Or can these be invoked specifically in the ACL plugin handler itself?

Speaking to the bug itself it seems when I rolling redeployed Kong nodes just now the 403's have gone away(team was in a panic about non-prod testing completion 💀 ). Glad seeing this in stage prior to noticeable prod imp

[2019-09-10 18:50] bungle commented on #5015
@Tieske, did you have any plans on how to enable burst mode with Kong? And do you think it would be worth to try?

[2019-09-10 20:01] hishamhm commented on #5017
@jvandervelden This was not an intentional change. If this is happening, it's most definitely a LuaRocks bug. I'll look into that. Thanks for reporting!

[2019-09-10 20:35] jvandervelden commented on #5017
No problem, I just figured you might want to call it out in your 1.2.1 changelog, since it will break some people's plugins.

[2019-09-11 03:25] drakenguyencvn commented on #5016
I tried but the result was still the same. I re-install Ubuntu but the error is still there

![Screenshot from 2019-09-11 10-23-17](https://user-images.githubusercontent.com/49779341/64665899-82fb8400-d47e-11e9-820a-15eac3e7c2a1.png)

[2019-09-11 03:28] drakenguyencvn commented on #5016
I tried and also re-install Ubuntu the the result is still the same

![Screenshot from 2019-09-11 10-23-17](https://user-images.githubusercontent.com/49779341/64665980-d968c280-d47e-11e9-972d-5a3793cda059.png)

[2019-09-11 04:12] 007slm opened #5018 "why "X-Forwarded-Port“ value is not client request port?"
in the kong source code ,i find the “x-forwarded-port“ value is from server listen port. in some situation, such as in the docker ，my kong server listening port is not the docekr export port. this cause a wrong 302 redirct url .
the source code looks like
var.upstream_x_forwarded_port = var.server_port;
but i think x_forwarded_port should comes from http request port,
so i changed the code and tes

[2019-09-11 10:37] dorongold opened #5020 "YAML input for /config endpoint returns "415 Unsupported Media Type""
### Summary

Running in DB-less mode, trying to post a YAML body to the `/config` endpoint of the Admin API fails with response: "415 Unsupported Media Type"

### Steps To Reproduce

1. Run kong in DB-less mode.
2. After Kong is up, post a new YAML configuraiton to `/config` endpoint as documented [here](https://docs.konghq.com/1.3.x/db-less-admin-api/#reload-declarative-configuration).

### Addit

[2019-09-11 12:20] hutchic commented on #5016
output of:
[code]

I have a high degree of confidence that Kong 1.3.0 works on Ubuntu 18.04 as we specifically test that our releases can be installed / ran and not seeing a ton of similar reports

[2019-09-11 12:23] bungle commented on #5020
@dorongold, I think you should just send `application/json` with the `config` field in it being the `yaml`.

[2019-09-11 12:26] bungle commented on #5020
Perhaps it also works with `application/x-www-form-urlencoded` and even `multipart/form-data`, the name of the field is `config` where you should send this `yaml`.

[2019-09-11 14:00] dorongold commented on #5020
@bungle Thanks. Passing the entire YAML inside the `config` field of a JSON works.
However, since JSON does not support multiline strings, the entire YAML has to be properly escaped and encoded into a single line.
It's actually simpler and more readable to just convert the YAML to JSON and give this endpoint a JSON.
In any case it would be nice if something about this would be mentioned in the off

[2019-09-11 14:34] dorongold opened #5021 "Declarative Configuration in a lua file"
### Summary

Currently Kong supports writing configuration in a file, in YAML or JSON.
To provide a more flexible configuration, especially for those running Kong in different environments (dev, staging, production), an option to write configuration in `lua` can be very useful.

### Additional Details

There are many use-cases that come to mind:

- Using environment variables inside the declarativ

[2019-09-11 14:47] #5020 closed

[2019-09-11 15:16] bungle commented on #5020
Did you try `multipart/form-data` as there you can just refer to file in your filesystem?

[2019-09-11 15:17] bungle commented on #5020
But I agree, perhaps adding ´Content-Type` option is a good idea.

[2019-09-11 16:35] drakenguyencvn commented on #5016
I have changed CPU to Intel Core and it worked. I have also tested on other PCs and kong command worked as usual on those computers. But the PC with AMD CPU as above did not

[2019-09-12 08:06] mocking3 opened #5026 "dbless with creat a new upstream and target error"
kong version 1.3.0
hi, when i create a new upstream and target in kong.yaml
  by     http :8001/config config=@kong.yaml
lots of errors:
 balancer.lua:611: on_target_event(): target create: balancer not found for xxx
 balancer.lua:611: on_target_event(): target create: balancer not found for xxx
 balancer.lua:611: on_target_event(): target create: balancer not found for xxx
 balancer.lua:611: on_t

[2019-09-12 13:40] Daniyal83 opened #5027 "kong/unirest for node.js error"
Hello. I'm facing an issue with kong/unirest for node.js. When trying to make a post request with content-type: multipart/form-data from time to time I get an Error: Invalid value "undefined" for header "Content-Length". How can I prevent that?
Function I use:
[code]

[2019-09-12 14:16] #5027 closed, assigned to nobody

[2019-09-12 18:46] zihaoyu opened #5030 "Dedup consumer groups?"
### Summary

There are duplicate groups from ACL plugin, if I put more than one consumer in the same group.

Is it possible to dedup the groups, and group consumers by their ACL groups? Furthermore, is it possible to treat groups as a first-class resource in the ACL plugin, like `/acls/groups` endpoint? Because groups are used to whitelist/blacklist in service/route ACLs, I think they deserve more

[2019-09-13 09:08] skirge opened #5033 "JWT Secret returned in plaintext in response to jwts"
I've noticed that admin API for JWT endpoint returns secret in plaintext.
Example (Request to kong:8001/jwts/):
[code]
JWT secret is quite important and leaking it allows external attackers to get access to protected APIs.
In comparison other secret data like DB password are masked when returned from Admin API.
Example (Request to kong:8001/)
[code]

Tested on version 1.2.1

[2019-09-13 14:57] slacker commented on #4642
You could also send a USR1 signal to the nginx process to tell it to reopen the log files.  http://nginx.org/en/docs/control.html

So something like this in your logrotate config
[code]

[2019-09-16 01:16] Bevisy commented on #4359
Is the kong arm64 images existed?

[2019-09-16 12:03] hxpzyz opened #5034 "kong1.3.0 compile on arm64 failed"
we compile kong on arm64 failed with source code. when executing 'kong migratioins up', the prompt 'bad light userdata pointer'
![image](https://user-images.githubusercontent.com/55387224/64956088-65824c00-d8bc-11e9-82fe-1747ab71ccd1.png)

- Kong version (1.3.0)
- Operating system: centos
- Architecture: arm64

[2019-09-16 13:07] hutchic commented on #5016
I tried this on a m5a on AWS and wasn't able to reproduce

[code]

[2019-09-16 17:05] rajivml opened #5035 "Kong Enterprise, Understand Reason Behind Too Many Active Connections to Postgres Database"
Hi,

We are using  Kong 0.35-4-enterprise-edition which is backed by Cloud SQL Postgres Database and kong is hosted on Google kubernetes Engine with 3 Pods in place with Horizontal scaling enabled

The CloudSQL Postgres Instance which we are using is 2core, 4GB RAM in size and it can only support Max 100 connections, this is a limitation from GCP side https://stackoverflow.com/questions/51084907/h

[2019-09-16 17:14] shashiranjan84 commented on #5035
Do you have Vitals on?

[2019-09-16 17:15] rajivml commented on #5035
Yes we do have vitals on

[2019-09-16 17:27] shashiranjan84 commented on #5035
Vitals needs those many connections to persists time series data. Either turn off the Vitals or please make sure backing DB has capability to open enough connections.  When you a route, Kong rebuilds the router which spike the DB connection. For you I would advise turning off vitals..

[2019-09-16 17:29] rajivml commented on #5035
So, if we have 3 pods running kong, and if say at a time say 5 route requests are in progress, how many backend DB connections does Kong need in this scenario ? because we have to plan the capacity accordingly

[2019-09-16 17:34] shashiranjan84 commented on #5035
How many workers each kong node running?

[2019-09-16 17:39] rajivml commented on #5035
you mean nginx_worker_processes, it's set to auto, and each kong pod is 1 core 2gb in size

nginx_worker_processes auto

[2019-09-16 17:44] p0pr0ck5 commented on #5035
@rajivml a few points:

- Consider upgrading to the latest release of Kong which supports limiting the number of concurrent Postgres connections
- Consider using an alternate data store strategy for Kong Vitals, such as Prometheus or InfluxDB
- For enterprise support please use https://support.konghq.com/support; github issues are not meant for enterprise support

Given this is not the appropriate

[2019-09-16 17:44] #5035 closed

[2019-09-16 17:48] p0pr0ck5 commented on #5035
Please see also https://docs.konghq.com/enterprise/0.36-x/admin-api/vitals/ for detailed documentation regarding Kong Vitals, including alternate data store strategies that are designed to scale to larger use cases and do not requiring running a large Postgres installation

[2019-09-16 17:54] rajivml commented on #5035
Ok, I will raise the issue through support forum, because I  still didn't get an idea on how many connections are needed per route update when Kong is running in an multinode environment

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Robert <notifications@github.com>
Sent: Monday, September 16, 2019 11:19:03 PM
To: Kong/kong <kong@noreply.github.com>
Cc: Ra

[2019-09-16 22:07] dndx commented on #5011
Seems that your OpenSSL is too old to support `prime256v1`1 curve. May need an update.

[2019-09-17 01:34] #5011 closed

[2019-09-17 04:03] Bevisy commented on #5034
Refer to the online Dockerfile, I made a 1.3.0 version of the arm64 image. I tested the service and routes' query and add are normal, you can just try this.
`bevisy/kong:1.3.0_arm64`

[2019-09-17 04:46] hxpzyz commented on #5034
I did not find the image(bevisy/kong:1.3.0_arm64). Can you send a link to me, or send me an email(hxp628@163.com), thank you.

[2019-09-17 05:42] Bevisy commented on #5034
you can find [here](https://hub.docker.com/layers/bevisy/kong/1.3.0_arm64/images/sha256-b00a0b13b9c9d6ac217009d57d000942cdc423da9d855919b7d4cb96829deb76)

[2019-09-17 09:11] amithkoujalgi commented on #4209
Could you please point me to a document that says how to use MySQL for Kong?

[2019-09-17 10:30] jeremyxu2010 opened #5042 "kong 1.3.0 can NOT process https request suddenly when handle many https request"
### Summary

I use this [dockerfile](https://gist.github.com/jeremyxu2010/a3fb26b00aaaab52c48139f980ad4a95#file-dockerfile) to build an arm64v8 kong 1.3.0 docker image. Then I use it for my API gateway. I found when many https requests been send to kong，the kong may not process https request suddenly.

### Steps To Reproduce

1. use this [dockerfile](https://gist.github.com/jeremyxu2010/a3fb26b00a

[2019-09-17 11:07] bungle commented on #2767
Closing this as it is now implemented in #4998.

[2019-09-17 11:07] #2767 closed

[2019-09-17 12:22] jeremyxu2010 commented on #5042
I changed [lua-resty-mlcache](https://github.com/thibaultcha/lua-resty-mlcache)'s code, then the problem disappared. Strange!!!

`https://github.com/thibaultcha/lua-resty-mlcache/blob/2.4.0/lib/resty/mlcache.lua:978`

[code]

It seems `i` is not initailized with 1 when run into the `for` logic body.

[2019-09-17 15:06] odelvalle opened #5043 "Plugin key auth error"
### Summary

Plugin key-auth throw error if key value is empty in header. This should response 401, because key value is invalid.

### Steps To Reproduce

1. Create any service
2. Add key-auth plugin to service
3. Key name: "key"
4. Make a request with header "key" without value

### Additional Details & Logs

- Kong version (`1.0.2`)
- Kong error logs
[code]

[2019-09-17 17:15] vasartori opened #5044 "bug: duplicated entries on nginx.conf"
### Summary

When we set the environment variable nginx_http_charset, a message of duplicated entry is raised.
When this environment varibale is set, kongs set it on nginx.conf, but the charset is hardcoded on nginx_kong.conf.
With this approach, we are not abble to use a charset difrerent of UTF-8

The default value of nginx is off.

This behaviour broke applications who uses eg iso-8859-1 charse

[2019-09-17 18:42] dndx commented on #4992
Closing this for now. Feel free to reopen if issue persists!

[2019-09-17 18:42] #4992 closed

[2019-09-17 21:53] thibaultcha commented on #5042
Thanks for reporting the issue @jeremyxu2010.

From the looks of it, it seems like an issue with LuaJIT itself. If it affects mlcache (which isn't responsible for this behavior as far as I can tell), it is very likely that it affects other areas of Kong or of its dependencies unpredictably as well. A likely culprit would be the [LuaJIT dynamic lightuserdata mapping patch](https://github.com/Kong/o

[2019-09-17 22:11] javierguerragiraldez commented on #5042
i don't see any relation with lightuserdata here.  on a quick look (and without reproducing locally (yet)), it looks to me about snapshot replaying.  in short: on a tight loop (like this numeric `for`) some variables (especially integers) aren't put into the Lua stack; instead they're managed directly in CPU registers.  on a trace exit (like this seldom-taken `if`), at first it's handle by droppin

[2019-09-18 04:58] jeremyjpj0916 commented on #5015
Made some adjustments to the table to keep cluster_events accessible(and oauth2 as well):
[code]

So far not seeing any improper 403's in stage last 24 hours but will keep watch and report back here if I see any pop up more. Otherwise I will close this in 3-4 weeks if I do not see any other occurrences. I can't think of why a cluster_events table over the tombstone failure threshold would cause th

[2019-09-18 07:12] andiexer commented on #5005
same problem here. try to use jwt plugin. error raises when adding 'key' field

[code]

[2019-09-18 08:13] nitsshukla commented on #4643
Hi,
How'd one share more than one **lua_shared_dict**?

[2019-09-18 12:59] migolovanov opened #5048 "Admin API Plugin configuration issue"
### Summary

I try to configure plugin via Admin API, but get `404 Not found` error, when creating/updating service or route related to particular plugin.
As workaround I used API for backward-compatibility and it works. E. g.
- `PUT /services/:service_uuid`
- `PUT /routes/:route_uuid` with `service.id=service_uuid` as argument
- `PUT /plugins/:plugin_uuid` with `service.id=service_uuid` as argume

[2019-09-18 14:29] hbagdi commented on #4643
You can include a file with the [include](http://nginx.org/en/docs/ngx_core_module.html#include) directive, which has a number of shared dicts.

[2019-09-18 14:29] bungle commented on #5048
This doesn't seem to be issue anymore with `next` branch. I guess this PR fixed it: https://github.com/Kong/kong/pull/5006

So that's why I am closing this.

[2019-09-18 14:29] #5048 closed

[2019-09-18 16:49] bungle commented on #4807
The PR #4903 was merged, so this can now be closed. It still does not solve this 100%, e.g. if you have authentication plugin that sets `consumer` we may still need to make db call. We can later of decide if caching consumer ids is the way to correct rest of this. And of course any plugin may make their own dao calls that are not necessarily prewarmed, especially the negative cache, so in this sen

[2019-09-18 16:49] #4807 closed

[2019-09-18 17:07] jmgpeeters commented on #4055
We just saw something quite similar on our Kong 1.2, i.e. intermittent 404's whilst it was under heavy load. We run in DB-less mode.

The threads are a bit hard to follow - is this potentially similar to what was going on here (I see various references to C*, which we no longer use) , and is it meant to be fixed in a more recent Kong version?

[2019-09-18 18:17] jeremyjpj0916 commented on #4055
@jmgpeeters have you tried the eventual consistency option? Although I think the 404’s would be less likely in dbless mode. What scenario do you experience the 404’s?

[2019-09-19 00:02] #4359 closed

[2019-09-19 00:05] #4548 closed

[2019-09-19 03:33] guanlan commented on #4359
Xenial arm64 package has been released with 1.3, closing this.
Also, we are actively investigating the load failure under ARM64 via #5042, stay tuned @timusketeers @carnei-ro  @Bevisy @lag-linaro

[2019-09-19 07:04] lag-linaro commented on #4359
[Docker Hub](https://hub.docker.com/_/kong) still lacks support for `arm64v8`.

This Issue should be left open until [Kong's library file](https://github.com/docker-library/official-images/tree/master/library/kong) in [Docker's Official Images](https://github.com/docker-library/official-images) has been updated.

[2019-09-19 07:27] umarhussain15 commented on #4964
Hi @bungle, any update on dao transformation feature release?

[2019-09-19 08:53] kkumar1234 opened #5050 "GRPC plus SSL error with kong 1.3.0"
### Summary

GRPC SSL not working with SSL GRPC server. Scenario tested:
GRPC SSL client -> Kong -> GRPC server (having encryped GRPC)
### Steps To Reproduce

1. https://github.com/Kong/kong-dist-kubernetes (kong-ingress-data-plane-postgres.yaml) -> Add http2 ssl for postgres configuration for KONG_PROXY_LISTEN. value: 0.0.0.0:8000, 0.0.0.0:8443 ssl, 0.0.0.0:9080 http2 ssl
2. Add relevant containe

[2019-09-19 10:36] jmgpeeters commented on #4055
I haven't tried the eventual consistency option. Is there any documentation on it? I'm a bit confused as to how DB-less (i.e. no communication between Kong nodes required) could lead to consistency issues. Isn't everything just immediately consistent?

The scenario was that we were experiencing very heavy load on Kong for a brief period, which led to a small amount of intermittent 404's (not able

[2019-09-19 11:50] hutchic commented on #4359
The Docker Hub image will be available shortly. To build it locally it's available [git://kong/docker-kong](https://github.com/Kong/docker-kong/pull/297)

[2019-09-19 12:22] lag-linaro commented on #4359
Thanks for the update Colin (@hutchic).

Out of interest, what does "shortly" mean?  A day, week, month?

[2019-09-19 12:25] bungle commented on #5050
@kkumar1234,

do you have any information what kind of an error? And perhaps kong `error.log` output?

[2019-09-19 12:28] bungle commented on #5050
BTW, it seems you gave `--data protocol=grpc` does that perhaps need to be `--data protocols=grpcs` when creating a route?

[2019-09-19 13:00] tisaksen commented on #5005
Same here, upgrade from 1.2.1 declarative. Seems like if I delete jwt_secrets and acls it will load fine

[2019-09-19 13:38] kkumar1234 commented on #5050
Hi

I have tried with both grpc as well as grcps as protocol type. Results are same for both.

Thanks

[2019-09-19 14:41] jeremyjpj0916 commented on #4055
@jmgpeeters my issue was around 404's when modifications to routers were occurring causing rebuilds(which deals with the complexities of runtime in-memory woes). Your issue is slightly different to be seeing 404's just under heavy load and not when new proxies are being added/deleted from Kong. I would consider it a totally separate issue since its just apparent at high traffic volume.

[2019-09-19 15:02] jmgpeeters commented on #4055
Yes, that makes sense.

[2019-09-19 15:09] bungle commented on #5050
@kkumar1234 thank you for further info.

[2019-09-19 15:29] hutchic commented on #4359
Should be available once the docker team reviews, approves and merges https://github.com/docker-library/official-images/pull/6661

[2019-09-19 18:35] hishamhm commented on #505
A general update on this issue:

Regarding item 3 above, now that we have complete Routes and Services separation, and all three of method-based, endpoint-based and header-based routing, you split these different plugin configurations as different routes for the same service.

Header-based routing was the last piece of that puzzle, so this is possible since Kong 1.3.

[2019-09-20 06:12] thejohn commented on #1374
Thanks for the update. Which version of Kong is this supported?

[2019-09-20 06:49] lag-linaro commented on #4359
Excellent, thank you Colin (@hutchic).

[2019-09-20 08:23] luo985 opened #5052 "route match issue"
hello,
i create 2 routes
route a: {
"methods":["GET"],
"hosts":["aaa.test.com"],
"path":["/v1/api"]
}
route b: {
"methods": null,
"hosts":["*.test.com"],
"path":null
}

then `post http://aaa.test.com/v2/xxx`
i expect to match route b.   but kong return 'no Route matched with those values'.

- Kong version (1.2.1)

[2019-09-20 11:10] duzhenxun opened #5053 "grpc route host "preserve_host": false ？？？？？？？？？？？？"
~ grpcurl -plaintext -d '{"sql_query":"id=1"}' service-uwms.fat.n.com:8000  wms_repository.RepositoryService.GetRepository
{
  "code": 1,
  "data": {
    "cityId": 101,
    "longitude": "117.316957",
    "latitude": "31.885144",
    "repositoryType": 2,
    "status": 2,
    "mastername": "sheng",
    "updateTime": "2019-09-20 16:56:58",
  }
}

Add the original grpc to Kong and find it useless

ser

[2019-09-20 11:24] bali48 opened #5054 "[error] 84#0: *1136877 connect() failed (111: Connection refused) while connecting to upstream, client: 172.18.0.1, server: kong, request: "GET /info HTTP/1.1", upstream: "http://127.0.0.1:86/info", host: "localhost:8000""
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

My service is running on localhost:86
and kong is running on localhost:8001 //for admin
and kong proxy is running on localhost:8000 //for proxy
i add single service through this command

[2019-09-20 13:11] p0pr0ck5 commented on #5054
Connection refused implies that the upstream received and rejected the connection request because no application on port 86 was running and available to respond to requests. You will want to check your upstream service.

[2019-09-20 13:36] bali48 commented on #5054
my webservice is running on port 86 and return a this json response
{"data":"Books -> Lumen (5.7.7) (Laravel Components 5.7.*)","status":"200"}

[2019-09-20 13:42] p0pr0ck5 commented on #5054
Is it on the same machine as kong? You’ve set the upstream address as 127.0.0.1. Your service must be on the same machine as kong (not the same docker/container boat, the same logical machine)

[2019-09-20 13:43] bungle commented on #5052
I could not reproduce this with `next` branch or `1.3.0` branch. So this might be fixed already.

[2019-09-20 15:53] scvRdy opened #5057 "Kong.log %namespace is not the correct value. (Under high load)"
#Summary

Under high load (170 RPS) Kong logs %namespace value is not correct and sometimes not set at all.
See. https://docs.konghq.com/0.14.x/pdk/kong.log/ for background on kong logging.

Log Output:
`2019/09/20 13:39:02 [error] 31#0: *166419 [kong] access.lua:78 Error accessing jwt cache. timeout, client: 172.16.6.1, server: kong, request: "GET /api/v1/tenants/D1MZ78E7K4/ HTTP/1.1", host: "xxx

[2019-09-20 17:12] gszr commented on #5053
@duzhenxun Thanks for your report, but please give us more details; please state the issue you are having, and then the steps to reproduce.

[2019-09-20 17:19] cilindrox commented on #1374
@thejohn 1.2.x onwards IIRC

[2019-09-20 21:54] amorriscode opened #5058 "Cannot use colon in custom_id during patch on consumer"
When using a `PATCH` on a consumer, you cannot use a colon in the name. However, creating a consumer with a colon works fine.

### Steps To Reproduce

1. Create a consumer with a `custom_id` that has a colon in it:
[code]

2. Tag the consumer using a `PATCH`:
[code]
_Note: The `custom_id` is now `1`._

3. Attempt to set the `custom_id` again:
[code]

4. Set the `custom_id` without a colon:
[code]

[2019-09-21 12:37] gerson-evocorp commented on #1488
Here is what I do for my gateway and consider it a good practice (Not sure if it's a good approach).

Step 1. Create a service pointing to a dummy backend. Enable the Oauth2 plugin on this service with global_credentials set to true. You now have a single oauth endpoint to grant access token:

Step 2. Create the other services and enable the oauth2 plugin on them, set global_credentials to true he

[2019-09-21 13:42] jeremyxu2010 commented on #5042
@javierguerragiraldez @hishamhm
Is there any progress with this issue? I found that the kong compiled by this method is unstable. I must restart kong often. I don't know if this is related to the lua interpreter or not.

[2019-09-21 14:27] javierguerragiraldez commented on #5042
I've tried to reproduce the issue, unsuccessfully so far. The last run was over 20 hours under heavy load in an AWS instance.
Yes, it was based on your dockerfile,  but the last script (which I guess did some config) isn't included.
Do you have any other details to share?

[2019-09-23 01:54] mocking3 opened #5059 "kong 1.3.0 http :8001/config config=@kong.yaml error"
kong version 1.3.0

balancer.lua:611: on_target_event(): target create: balancer not found for xxx
balancer.lua:611: on_target_event(): target create: balancer not found for xxx
balancer.lua:611: on_target_event(): target create: balancer not found for xxx
balancer.lua:611: on_target_event(): target create: balancer not found for xxx

[2019-09-23 07:22] jeremyxu2010 commented on #5042
@jamesgeorge007 I wrote a test script to reproduce the issue

[code]

[2019-09-23 07:22] jeremyxu2010 commented on #5042
[kong-problem.zip](https://github.com/Kong/kong/files/3641007/kong-problem.zip)

[2019-09-23 09:34] huangyuan666 opened #5060 "/usr/local/share/lua/5.1/kong/cmd/start.lua:24: Kong is already running in /usr/local/kong"
/usr/local/share/lua/5.1/kong/cmd/start.lua:24: Kong is already running in /usr/local/kong

![image](https://user-images.githubusercontent.com/24352334/65415409-48073200-de28-11e9-9f2d-31858ef321c8.png)
![image](https://user-images.githubusercontent.com/24352334/65415425-52293080-de28-11e9-8f7a-c584cefbc456.png)
What is the problem?

[2019-09-23 13:33] #4846 closed

[2019-09-23 13:58] javierguerragiraldez commented on #5042
thanks, will check

[2019-09-23 19:03] hishamhm commented on #5059
@mocking3 Hi! Let me ask a few questions to try to clarify the situation:

* are you using Kong with a database or DB-less?
* did this happen at startup or after issuing an Admin API call? (If so, which one?)

[2019-09-23 19:05] hishamhm commented on #5060
What command did you try to run? Did you try to run `kong start` with Kong already running?

[2019-09-23 19:22] shashiranjan84 commented on #5058
@amorriscode thanks for reporting the bug but for enterprise support please use https://support.konghq.com/support; github issues are not meant for enterprise support.

[2019-09-23 19:22] #5058 closed

[2019-09-24 00:26] danielholden opened #5061 "feature request: set service timeout globally"
### Summary

At the moment the global timeout of an upstream service is 60 seconds, it would be nice to be able to globally configure this.

At the moment the only way to do this is set the `connect_timeout` attribute for each service.

[2019-09-24 00:34] huangyuan666 commented on #5060
My web page sidebar has no apis directory, only three directories

发自我的iPhone

------------------ Original ------------------
From: Hisham Muhammad <notifications@github.com&gt;
Date: Tue,Sep 24,2019 3:06 AM
To: Kong/kong <kong@noreply.github.com&gt;
Cc: huangyuan666 <846360993@qq.com&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [Kong/kong] /usr/local/share/lua/5.1/kong/cmd/start.lua:24

[2019-09-24 09:46] mocking3 commented on #5059
DB-less
When I execute the "http :8001/config config=@kong.yaml" command,
The error appears in the error.log

[2019-09-24 09:47] mocking3 commented on #5059
DB-less

When I execute the "http :8001/config config=@kong.yaml" command,
The error appears in the error.log

[2019-09-24 09:57] mocking3 commented on #5059
I created a new upstream and targets.
Then execute "http:8001/config config=@kong.yam", the log starts to report error, which is what I printed before.
Later changed to kong reload command, the log does not report error, but when I access the upstream admin api, the log starts to report error. The content is as follows:
-----
2019/09/12 16:05:22 [error] 65446#0: *1555316 [lua] targets.lua:279: pag

[2019-09-25 05:21] javierguerragiraldez commented on #5042
After several runs of roughly 1.2 billion https requests each, under high concurrency, and separately several thousands multimegabyte transfers, also with several threads overlapping, all without a single failure; I'm less inclined to thing that it's a load issue.  So far, the biggest difference between my tests and what i can read from your scripts is the SNI/certificate association.  I'll do a d

[2019-09-25 07:18] jeremyxu2010 commented on #5042
@javierguerragiraldez I guess it is not related with high concurrency. In my test script, just `10 concurrent` client https request can lead to the issue.

aws virtual machine info:

[code]

[2019-09-25 11:51] tauseen2 opened #5067 "Unable to generate KONG client credentials on HTTP protocol."
Can anyone please help me out. I'm getting error while generating KONG client credentials on HTTP port 8000.

`{
    "error_description": "You must use HTTPS",
    "error": "access_denied"
}`

I have added trusted_ips = 0.0.0.0/0,::/0 in kong.conf also, but it didn't work.

[2019-09-25 12:44] bungle commented on #5067
Yes, OAuth2.0 Plugin only allows `HTTPS` or `HTTP` if `HTTPS` was terminated and there was `X-Forwarded-Proto` with value of `https` added.

[2019-09-25 16:32] pyrl247 opened #5069 "Worker processes hava inconsistent ring-balancer upstream target."
I have some problem in my circumstances.I use ingress controller to pull my kubenetes ingress into my kongdb（pgsql）.
   I have 10 data plane ,and it may turn wrong when I relaunch application in my kubenetes cluster.When some requests with same route hit a kong node，It response different;I collect accesslog with kibana.
   It shows like some request hit process A，and response correct with 200;and

[2019-09-25 19:13] marckhouzam opened #5070 "How should an organization sign the CLA"
The organisation Ville de Montreal would like to be able to make contributions to the Kong project (https://github.com/VilledeMontreal).  The idea is that anyone part of the organisation should be allowed to contribute.

From looking at cla-assistant here is what I believe must be done:
1. have the proper authority at the Ville de Montreal sign the Kong CLA
1. once the CLA is signed, have Kong whi

[2019-09-26 02:49] thibaultcha commented on #2674
I just opened a PR introducing a new `cassandra_refresh_frequency` property, please have a look: https://github.com/Kong/kong/pull/5071

[2019-09-26 03:12] braedon commented on #2674
Thanks @thibaultcha, refreshing the topology periodically seems like a good step forward! The code PR looks sane to me, but I'm not familiar enough with Lua/Kong to really review it.

[2019-09-26 03:26] pyrl247 commented on #5069
Kong version 1.2.1

[2019-09-26 03:37] suankan commented on #2674
@thibaultcha
Thanks a lot for that.
Hopefully this will eventually be incorporated into Kong EE soon.

[2019-09-26 06:26] thibaultcha commented on #5070
@marckhouzam Hello,

We are glad that your organization is considering contributing to Kong. I pointed the Kong's legal folks to your question, stay tuned.

[2019-09-26 12:23] marcin-talex opened #5074 "Official image on Docker Hub description is outdated"
Hello,
I took a look at official Kong image on Docker Hub:

https://hub.docker.com/_/kong

And it seems a lot outdated - it still claims you must have a working database to run Kong and doesn't mention dbLess mode at all.

Best regards,
Marcin

[2019-09-26 13:14] bungle commented on #87
I am glad to close this PR now on behalf of @eskerda who fixed it by submitting a PR #4984. It took some four and half years to get this in, but we finally did, ;-). Perhaps it was worth to wait, like all the good stuff. It feels better if it just doesn't come given. Haha... well thanks again @eskerda! Closing this now.

[2019-09-26 13:14] #87 closed

[2019-09-26 14:15] choaryzhang commented on #5067
Please review the following codes,maybe you can fix it so easy!
`
--- Checks whether a request is https or was originally https (but already
-- terminated). It will check in the current request (global `ngx` table). If
-- the header `X-Forwarded-Proto` exists -- with value `https` then it will also
-- be considered as an https connection.
-- @param trusted_ip boolean indicating if the client is a

[2019-09-26 18:39] thibaultcha commented on #4025
Hi folks,

I opened https://github.com/Kong/kong/pull/5073 yesterday night which will fix the issue without requiring any NGINX patches as well as another issue with URI arguments too. Please give it a shot if you have a chance to :+1:

[2019-09-26 19:05] jeremyjpj0916 commented on #4025
@thibaultcha I was just pondering this last night for some reason. Figured there would be an easy implementation to basically do what we do for logging the ctx essentially awhile back but add logic to capture the real method/query parameters in a phase prior to the redirect only to be able to be referenced later in the error block. I assume thats whats being done under the hood any any login plugi

[2019-09-26 19:27] ordith commented on #4379
We are also facing this issue. Is there any update on when this might be addressed?

[2019-09-26 19:35] thibaultcha commented on #5061
Agreed.

I just linked to a tangentially related conversation describing the need for global configuration properties for the upstream keepalive pool(s). We'll squeeze these new global properties as soon as possible, and most likely when implementing the dynamic upstream keepalive pools in Kong, after bumping to OpenResty 1.17.x.1, which most likely means Kong 2.x, in the next few months.

[2019-09-26 21:26] #2048 closed

[2019-09-26 22:50] thibaultcha commented on #5070
@marckhouzam As per our initial internal conversation, it seems like the current CLA isn't ideal for it to be signed by organizations.

To paraphrase the answer I got from our legal folks: under the current CLA, the contributor can only be the **exclusive owner** of the copyright. However, the contributor should ideally either be the exclusive owner, _or_ have the right/authority over the copyrigh

[2019-09-27 06:22] luo985 commented on #5052
@bungle
yes ,  1.3.0 fix this issue

[2019-09-27 06:22] #5052 closed

[2019-09-27 19:49] #4025 closed

[2019-09-29 09:59] mocking3 commented on #5059
@hishamhm

[2019-09-29 22:07] bungle commented on #5074
@marcin-talex, thanks for reporting this.

[2019-09-29 22:53] hanjian007 opened #5077 "Compile without error, run with error"
root@ubuntu:/opt/openresty-build-tools/work/kong/bin# ./kong -a
ERROR: ./kong:9: module 'kong.cmd.init' not found:
	no field package.preload['kong.cmd.init']
	no file './kong/cmd/init.lua'
	no file './kong/cmd/init/init.lua'
	no file '/opt/openresty-build-tools/build/openresty/site/lualib/kong/cmd/init.ljbc'
	no file '/opt/openresty-build-tools/build/openresty/site/lualib/kong/cmd/init/init.ljbc'

[2019-09-30 08:09] xiaojin525 opened #5078 "How to use kong for tcp forwarding"
I created a service and router for mysql, bug  can not use.
curl -X PUT \
       -d url=tcp://10.248.230.19:3306 \
       http://127.0.0.1:8001/services/mysql

curl -X POST \
       -d name=mysql2\
       -d protocols=tcp \
       -d destinations[1].ip=10.248.230.19 \
       -d destinations[1].port=3306 \
       http://127.0.0.1:8001/services/mysql/routes

How can I use this router ?

[2019-09-30 09:16] duzhenxun commented on #5053
grpc preserve_host:false
Not in effect, or will host to the upstream address. I don't want to send hosts upstream

[2019-09-30 18:24] scorphus commented on #5067
I'd like to fix this issue, I'll be grateful for any further tips on where to start.

Thanks!

Friendly /cc @bungle

[2019-09-30 21:45] onfla11 commented on #3852
I am facing similar issue on **single node** setup, kong is coming up fine, however, when status API is invoked along with 200 OK following error is seen.

10.3.50.66 [11/Sep/2019:17:35:49 +0000] "**GET /status HTTP/1.1" 200**
2019/09/11 17:36:18 [error] 321#0: *8943 [lua] cluster_events.lua:360: [cluster_events] failed to poll: failed to retrieve events from DB: all hosts tried for query failed.

[2019-10-01 12:02] bungle commented on #4893
The dao transformations got merged, so I will close this. Please reopen if it didn't fix the issue.

[2019-10-01 12:02] #4893 closed

[2019-10-01 12:44] jeremyxu2010 commented on #5042
@javierguerragiraldez @hishamhm
Is there any progress with this issue?

[2019-10-02 07:24] namco1992 commented on #454
Hi, just checking any update for this issue? The PR has been there for a really long time :)

[2019-10-02 15:02] Ishaan28malik commented on #5074
@marcin-talex You can close this I guess

[2019-10-02 18:58] bungle commented on #4542
This should now be fixed, and will be in `1.4.0rc1`. One note though, we don't support hashed passwords in declarative at this point (so it is kinda reverse to previous in that sense). We look forward to support both in future. I'll close this now. Please reopen if it still shows up!

[2019-10-02 18:58] #4542 closed

[2019-10-02 19:26] pranjalv9 opened #5090 "update email"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

i think email id support@mashape.com in code of conduct file should be updated to support@konghq.com

### Steps To Reproduce

1.
2.
3.
4.

### Additional Details & Logs

- Kong version (

[2019-10-03 01:36] EvgenyKarataev commented on #5005
@andiexer were you able to find a workaround? I am running into exactly the same issue.

[2019-10-03 04:27] jeremyxu2010 commented on #5042
@javierguerragiraldez
I try to use official kong arm64 image，but the issue still exists.

[code]

[kong-problem.zip](https://github.com/Kong/kong/files/3684432/kong-problem.zip)

[2019-10-03 08:13] andiexer commented on #5005
@EvgenyKarataev we switched to an older docker image (1.2.2). with this one everything works fine right now

[2019-10-03 13:02] marcin-talex commented on #5074
Why should I? The description still claims:

[2019-10-03 13:13] pranjalv9 commented on #5090
@bungle can i take up this task

[2019-10-03 16:00] EvgenyKarataev commented on #5005
@andiexer, thanks for the reply. FYI, I also just found that if you enable the plugin on the consumer directly, it works with 1.3.0, e.g. this worked for me:
`consumers:
- username: test
  jwt_secrets:
  - key: test
    algorithm: HS256
    secret: test
`

[2019-10-03 17:44] Ishaan28malik commented on #5074
Oh then let me try and work on it.

[2019-10-03 19:59] Kerl1310 commented on #5000
I'd be willing to pick this up and try to implement

[2019-10-04 06:22] marcin-talex commented on #5074
Great, thanks!

[2019-10-04 07:38] robincher commented on #4321
Just a question, do i need to send in Request line as a header when making a call?

I was following the documents and keep getting HMAC signature cannot be verified error

[code]

Request HTTP Header
[code]

[2019-10-04 14:34] pvenigal opened #5093 "kong:1.4rc1 target (delete|create) upstream not found"
### Summary

I have tried the following issue on Kong:1.3 & Kong:1.4rc1 with the version 0.6 of the Kong Kubernetes Ingress Controller.

I have two namespaces in which I have deployed the Kong Ingress Controller and Kong deployments (I am using the basic template found here: https://bit.ly/kong-ingress). I have `prometheus` plugin to export metrics on my services associated with what Ingress/KongI

[2019-10-04 16:23] aehlke commented on #3963
Sometimes it's not a design decision that Kong users have control over - some 3rd-party APIs for webhooks require order to be preserved.

[2019-10-04 16:33] hbagdi commented on #5093
1. Does this issue crop up when you upgrade from Kong 1.3 to Kong 1.4rc1 or is this a fresh installation of Kong Ingress controller?
2. How many service/ingress resources do you have?

cc @locao

[2019-10-04 16:47] pvenigal commented on #5093
1). Yes, I actually noticed it on Kong1.3 which is why I upgraded to Kong1.4rc1 incase it was an issue that was resolved, I have tried a fresh installation of the Kong Ingress Controller several times and have switched to a new DB as well.

Is there an issue setting -watch-namespace & ingress-class & election-id (all are different for each namespace, there are 2 namespaces)?

2). I have around 7 I

[2019-10-04 16:53] hbagdi commented on #5093
Interesting. Appreciate the detailed report.

I'd like to request some additional information.
1. Do you see anything in the logs of the controller container (what you have posted above is from the Kong container)?
2. Is it possible for you to share the deployments of both the Kong Ingress Controllers? Having Ingress resource and other resources (with sensitive information redacted) would help us

[2019-10-04 17:14] JuniorCtba opened #5094 "kong_nginx_http_current_connections is increasing without any call"
### Summary
I dont know why kong is having a lot of connections without any call to the API.

### Steps To Reproduce

1. Just start kong

### Additional Details & Logs

- Kong version (`$ kong version`) - 1.3.0
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong error logs (`<KONG_PREFIX>/logs/error.log`)

 - Operating system (Docker)

![image](https://user-images.githubusercontent.com/13

[2019-10-04 17:52] pvenigal commented on #5093
@hbagdi 1). the logs I posted above is from the kong-proxy container inside the Kong deployment,

2). sure, I'm working on getting them over to you as we speak, is it possible to send them to you via email?

[2019-10-04 21:53] pvenigal commented on #5093
Sent the files to your email, please let me know if you've received them, thank you!

[2019-10-04 22:42] hbagdi commented on #5093
Received. Thank you!
I'll take a look soon.

[2019-10-04 23:41] pvenigal commented on #5093
Thank you!

Sent from my iPhone

[2019-10-06 04:16] RuChiang commented on #4321
Hi @robincher
there is no need to include the `Request line` as a header.
I guess the issue might have come from the `signature`, as it is generated with the date object, so putting something like `asdsadasdasdasdsa` won't work

[2019-10-06 08:24] jeremyxu2010 commented on #5042
@javierguerragiraldez @hishamhm
Is there any progress with this issue? Urgent!!!

[2019-10-06 08:24] jeremyxu2010 commented on #5042
@javierguerragiraldez @hishamhm
Is there any progress with this issue? Urgent!!!

[2019-10-06 11:46] erikgb opened #5097 "Support for encrypted values in Declarative Configuration"
### User story
As a Kong DB-less Cluster Administrator I can encrypt selective values (secrets) in the Declarative Configuration, so that the configuration file can be stored in Git without locking down the Git repository.

### Background
We are considering a DB-less Kong Cluster setup because of the truly declarative configuration. But without any support for encrypting secrets in the configurati

[2019-10-06 13:17] p0pr0ck5 commented on #5097
Rather than store the whole config in source control, it’s saner to store a config skeleton in source control and then use a template rendered to generate the final config. This allows better separation of function and data. You can use something like Vault to store secrets and consul-template to render the config.

[2019-10-06 13:38] erikgb commented on #5097
@p0pr0ck5 : There are a lot of possible workarounds for this issue, but without native support for this in Kong you will always have a greater risk of exposing exposing secrets to unauthorized subjects. I.e. a Kong ("admin") UI would have to be strictly open for authorized users (admins). This application would need access to the Kong Admin API, and in the Admin API the secrets would be available

[2019-10-06 14:01] erikgb commented on #5097
And to have a declarative configuration containing secrets under source control management, will **require** some kind of templating. It is only the Kong cluster nodes that need access to the secrets in cleartext - if you consider the consumer and upstream service as outside the system.

Of course, if you have a Vault infrastructure up and running, I would rather go in that direction. But I would

[2019-10-07 02:25] hbagdi opened #5099 "Bug: 1.4.0rc1 basic-auth password should not be required"
### Summary

With Kong 1.4.0rc1, password is a required field for creating basic-auth passwords.
While, this change makes total sense as the API never returns back an auto-generated password in plain-text, this is a breaking change.

### Steps To Reproduce

[code]

### Additional Details & Logs

- Kong version (`$ kong version`): 1.4.0rc1

[2019-10-07 03:16] robincher commented on #4321
Hi,

Copied that.  Not sure what i exactly changed, but seems like it's working now.

```asdsadasdasdasdsa``` obviously was sanitised from the actual signature value ;P

[2019-10-07 10:08] bungle commented on #5099
@hbagdi, why it should not be required? The password is hashed. So even if the source for the hashing function is auto-generated, you cannot never find out what was the source, unless you brute force such password. So that makes autogenerated passwords totally useless. Thus password must be required.

[2019-10-07 13:31] #5090 closed

[2019-10-07 15:15] hutchic commented on #5042
I tried this and I am unable to reproduce 🤔

Why in your example are running architecture tagged images `arm64v8/postgres:9.6` vs just running `postgres:9.6` which will pull the correct architecture for you?

I didn't rebuild the Kong image I used the one from docker hub `kong:1.3.0-ubuntu`

I'm using a newer OS and possibly a newer Docker version but neither of those should make any difference.

[2019-10-07 15:20] hbagdi commented on #5099
As I said in the original post, this change is totally valid and makes sense as the previous behavior was unusable. I agree that we can classify this as a bug and change the behavior.

We should make it a point to call this out in the changelog (which we don't do at the moment in rc1 branch).

[2019-10-07 15:20] #5099 closed

[2019-10-07 16:49] bungle commented on #5099
@hbagdi thanks for clarification! we are on same page!

[2019-10-07 18:03] hbagdi commented on #5093
I took a  look at the manifests you sent me and they look fine.

Do you have two Postgres databases, one for each controller or a shared database?

Do you see wrong ingress resources being created from the wrong namespace or the wrong ingress.class?

[2019-10-07 18:27] pvenigal commented on #5093
We have a single database for both that's shared, should this be changed to a separate one for each ingress controller?

the ingress.class is fine the issue is after I exec into the kong-ingress-controller pod and curl say my admin api for services or routes sometimes I'll see the right services/routes of namespace A with Ingress/KongIngress of namespace A and then when the Kong sync happens in th

[2019-10-07 19:32] hbagdi commented on #5093
That's the source of your problems.
I had wrongly assumed that you would have two separate databases.

You want to have a dedicated database for each of your Ingress Controllers and that will solve the problem for you.

We will add support for a configurable tag in a future release, which will help with a single database shared across multiple controllers but that is not possible today.

Please cl

[2019-10-07 19:58] pvenigal commented on #5093
Thank you, I'm making the changes now, will update & close this once resolved :)

[2019-10-07 21:46] pvenigal commented on #5093
I think this is resolved after setting up a separate database for each controller, Thank you very much for all the help and support!

[2019-10-07 21:46] #5093 closed

[2019-10-08 02:53] jeremyxu2010 commented on #5042
@hutchic I have tried on ubuntu bionic, yes, there is no problem on it.
But on ubuntu xenial the problem still exists.

Can you have a try on ubuntu xenial ? @hutchic

* ubuntu xenial info:
![image](https://user-images.githubusercontent.com/752346/66363584-4a859200-e9b9-11e9-9bfd-45743cd6fd9a.png)
![image](https://user-images.githubusercontent.com/752346/66363599-55d8bd80-e9b9-11e9-99c0-403baed2ff

[2019-10-08 03:47] wuguangkuo opened #5106 "report_http_status conflict between processes"
### Summary

An api with passive healthcheck configuration, when concurrent access result in report_http_status invoked, there may be errors like this:

[code]

I go deep into the source code, found that there is a ngx.sleep method invoke in the resty/lock.lua when lock conflict happend, and the sleep method is not allowed in log_by_lua phase.

### Additional Details & Logs

- Kong version (`$ 0.1

[2019-10-08 07:00] jeremyxu2010 commented on #5042
@hutchic  in arm64 virtual machine, pull image `postgres:9.6` and `arm64v8/postgres:9.6`, the result is the same. These two images have the same image sha ID.  I just want to distinguish the image of x86 and arm64 from the image name.

[2019-10-08 09:32] ArtemDerevnjuk opened #5107 "Support yaml references in declarative config"
yaml might be useful to manage complex config files. For example, yaml supports references.

https://camel.readthedocs.io/en/latest/yamlref.html?_ga=2.105617600.217112987.1570526132-738201176.1567149463

We can use the YAML references to combine declarations to DRY config.

[code]

[2019-10-08 16:13] p0pr0ck5 commented on #5097
cc @bungle your recent work on DAO transformations may be relevant here ^

[2019-10-08 18:25] waltari2001 opened #5109 "Response Transformer and JSON array"
### Summary

Hi,

I am trying to add keys to the JSON body returned to me by the upstream_url.  (sample below)
[code]
I have applied
[code]
Which results in
[code]
Not sure what the 1 represents (array index?) but I would like to rename it to something else:

[code]

Any way that could be done?

Thanks !

### Additional Details & Logs

- Kong version (`0.14.1)

[2019-10-08 18:41] erran commented on #4871
Were you successfully running DogStatsd/the datadog agent on the default port?

[2019-10-08 18:42] hbagdi opened #5110 "Bug: Kong executes the content of declarative configuration"
### Summary

If Lua code is present in the config file, it is executed while the declarative configuration is processed.

### Steps To Reproduce
[code]

### Additional Details & Logs

- Kong version (`$ kong version`) Kong 1.3.0

- Kong error logs (`<KONG_PREFIX>/logs/error.log`)

[code]

[2019-10-08 19:35] Tieske commented on #5110
Yep, that's a stupid bug. It's in the new version of the plugin. Wrap it in a function (such that the code returns a function when called)

[2019-10-08 20:00] erikgb commented on #5097
Thanks @p0pr0ck5! Looking at @bungle latest work, I consider https://github.com/Kong/kong/pull/5047 to be highly relevant. And it seems like you by this PR, already made a fundament for implementing what I am looking for - or at least something similar.

Just a small disclaimer: I am not a Lua programmer, nor an expert on security. So please bear with me. ;-) But I hope you appreciate input/ideas

[2019-10-09 00:34] joedugdale opened #5112 "kong not verifying/ignoring upstream cert"
### Summary
mTLS with kong 1.3 (running in docker) seems unable to verify upstream cert with a loaded CA.

### Steps To Reproduce
2 ways I have tried to get this going
Assumptions - no cacert loaded gives a 200 response so we assume that verification is skipped.

--first way -
1. Load a non matching CA cert to /ca_certificates. Same result as if nothing was loaded at all, this suggests that its no

[2019-10-09 00:59] joedugdale commented on #4705
@premaind did you have any luck getting this going? i have a similar issue, loading the ca_cert to /ca_certificates has no impact on getting health checks working with verify on. In your example i cant see how you've loaded any cert for kong to verify against?

[2019-10-09 01:15] jeremyxu2010 commented on #5042
@javierguerragiraldez @hishamhm @hutchic
Is there any progress with this issue? Urgent!!!

[2019-10-09 01:51] luo985 commented on #4883
@bungle
is any plans to fix？

[2019-10-09 01:52] #4864 closed

[2019-10-09 08:50] RobinsChens opened #5113 "upgrade kong from 0.13 to 1.0.0 ,cassandra data lost"
### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1.
2.
3.
4.
![image](https://user-images.githubusercontent.com/11987492/66466210-e0eaae00-eab4-11e9-9e93-605d41f8703b.png)

### Additional Details & Logs

- Kong version (`$ kong version`)
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong error logs (`<KONG_PREFIX>/logs/error.log`)
- Kong configuration (the output of a GET request

[2019-10-09 14:05] voroninp commented on #2858
Is there any possibility to get plugin version with this fix not upgrading Kong version?

We are sitting on `0.11.1` and switching right now to newer version is painful because there were breaking api changes.

[2019-10-09 15:01] ArtemDerevnjuk commented on #5107
@ArtemDerevnjuk dfsdfs #5107

[2019-10-09 15:03] ciiiii commented on #5077
Do u solve this?

[2019-10-09 16:49] hutchic commented on #5113
Upgrade to 0.14.1 fist then to 1.0.0

Per https://github.com/Kong/kong/blob/1.0.0/UPGRADE.md#preliminary-checks

[2019-10-09 17:04] hishamhm commented on #5113
@RobinsChens Also, you seem to be trying to list `/apis`. Be mindful that `/apis` was deprecated in [0.13.0](https://github.com/Kong/kong/blob/master/CHANGELOG.md#0130---20180322) back in March 2018, and removed in [1.0.0](https://github.com/Kong/kong/blob/master/CHANGELOG.md#100) in December 2018. You need to convert your API entities to Route and Service entities to use Kong 1.x.

[2019-10-09 17:05] hishamhm commented on #5113
I am going to close this for now. If you follow the upgrade path as suggested by @hutchic and still have issues after converting your APIs to Routes and Services, feel free to reopen.

[2019-10-09 17:05] #5113 closed

[2019-10-09 17:11] hishamhm commented on #5110
@Tieske validation code should definitely not be specifying side-effectful operations like that (I _knew_ this was going to happen one day once we allowed for `custom_validator` :rofl:  ). The validation code should at best run `loadstring` to verify that the input is valid Lua code, and nothing else. Anything else should be a runtime error at plugin _execution_ time. IMO the old version of this w

[2019-10-09 17:41] hishamhm commented on #5110
I'm working on a fix here:
https://github.com/Kong/kong-plugin-serverless-functions/pull/24

[2019-10-09 18:22] hutchic commented on #5042
Yup I know. I was just double checking that you weren't running on qemu etc

None yet I haven't found cycles to run the script

One thing I plan on doing is running the test suite from https://github.com/thibaultcha/lua-resty-mlcache on arm hardware to see if that will expose the problem more reliably / consistently if you want to have a quick go at that?

[2019-10-10 02:47] andreigec commented on #2112
Would be convenient if we could use this feature to host a static website, since there is no easy way to do this currently

[2019-10-10 03:38] jeremyxu2010 commented on #5042
@hutchic
Running the test suite from [https://github.com/thibaultcha/lua-resty-mlcache](https://github.com/thibaultcha/lua-resty-mlcache) on arm hardware have encountered error:

[code]

[2019-10-10 03:45] jeremyxu2010 commented on #5042
@javierguerragiraldez @hishamhm @hutchic
We use kong on arm64 hardware in production environment now. This issue is really urgent.

[2019-10-10 09:38] somada141 commented on #834
This is a long shot since this has been open for 3 years but I thought I'd give it a shot since I'm out of ideas. Is there a way to inspect what Kong sends to the upstream server so that I can debug issues with the `request-transformer` plugin?

As the communication happens over SSL and I don't want to install MITM stuff on my own production server I was hoping for a 'cleaner' solution.

[2019-10-10 14:31] janv8000 commented on #834
You could consider using [Mockbin by Kong](https://mockbin.org/docs#echo)

[2019-10-10 15:06] Kerl1310 commented on #5109
So this looks to me like it's putting the chunk number into the response it's generating in the Transform handler... I'll take a look at this as soon as possible

[2019-10-10 19:02] hutchic commented on #5042
I tried a simpler version of your script
[code]
so far haven't seen any failures in the `docker logs kong` output. What the context around the error ( `grep -C 5` )

[2019-10-10 20:22] bungle commented on #4986
@luo985 mind you try: https://github.com/Kong/kong/pull/5118

As you already removed the `trigger` all you need to do is this:
https://github.com/Kong/kong/pull/5118/files#diff-126f4d3eab7dd01ac7ab193d1eb7f847

And reload your `kong`. Can you please report us if this solves the issue?

[2019-10-10 20:43] somada141 commented on #834
Actually that makes total sense, dunno why I didn't think of that. Thanks @janv8000 I'll give it a go!

[2019-10-11 01:01] joedugdale commented on #5112
also tried the LUA_SSL_TRUSTED_CERTIFICATE var with no success - see also this discussion
https://discuss.konghq.com/t/kong-upstream-ssl-mtls/4544/5

[2019-10-11 01:35] jeremyxu2010 commented on #5042
@hutchic
It seems that re-creating kong repeatedly can make this problem reappear.
I send you a email which contains credentials to access my aws virtual machine, you can test it quickly.

[code]

[2019-10-11 01:44] hutchic commented on #5042
That's very curious. Does your production scenario require the ability to frequently (re)create the Kong instance?

[2019-10-11 01:49] jeremyxu2010 commented on #5042
No，but in my production scenario the issue appeared just after kong started sometimes.

[2019-10-11 07:43] erikgb commented on #5097
Some suggestions from me, to hopefully push this issue forward:

The [eyaml format](https://github.com/voxpupuli/hiera-eyaml) never got standardized, and I do not know if anyone ever tried. ;-) But I think the eyaml-format can be a good choice for supporting encrypted values in the Kong declarative file format. There is actually some tool support for eyaml out there: Visual Studio plugin, Atom pac

[2019-10-11 09:55] kikito commented on #5107
Hi, Kong supports YAML "references" (anchors).

However, Kong is strict about the syntax used. In particular, the `services` entry needs to be a *list*, not a *hash*.

Here's how your declaration would look, using anchors with the expected list syntax:

[code]

I have tried it locally with `KONG_DATABASE=off KONG_DECLARATIVE_CONFIG=kong.yml bin/kong start` and the two services appeared in `:8001/s

[2019-10-11 09:55] #5107 closed

[2019-10-11 09:59] kikito commented on #5077
Hi, it sounds like your `PATH` or `OPENSSL_DIR` variables are not set when you are running kong. Make sure they are (I strongly suggest moving the `export` to a config file so it is not easy to forget setting them).

[2019-10-11 10:23] kikito commented on #5106
Hi, could you please test this with the newest version of kong? Since 0.14.0, both Openresty and the healthchecks library have gone through significant changes.

[2019-10-11 10:27] kikito commented on #5000
@Kerl1310 sorry for not having answered more quickly. The file you are pointing at is the correct one - `router.lua` is where most, if not all, of these changes are made. However, depending on what you want to implement, you might need to edit things in more than one place on that file, not in a single line or section.

You will likely also need to modify or add tests. Those are here:
[code]

[2019-10-11 10:41] wuguangkuo commented on #5106
Hi kikito, I had look the critical code in the newest version and the denpendent library code, the critical code were not changed at the error stacktrace. The concurrent situation isn’t easy to mock,I’ll try.

[2019-10-11 10:53] kikito commented on #5074
Hi, I am closing this down and opening an issue in the docs repo instead: https://github.com/Kong/docs.konghq.com/issues/1536

[2019-10-11 10:53] #5074 closed

[2019-10-11 11:02] kikito commented on #4321
Hi @nopslip, can you confirm whether the solutions posted here solved your issue?

[2019-10-11 11:53] kikito commented on #5034
Hi, ARM64 support was added to [docker-kong](https://github.com/Kong/docker-kong) very [recently](https://github.com/Kong/docker-kong/commit/c99d107b7c82d1f58e913d2d2c8ac4fad1ee62f0), in case you want to give them a look as well (they use Ubuntu for the OS). Please let us know if that fixes your issue.

[2019-10-11 12:05] kikito commented on #5078
Hi, assuming that you have [the `stream_listen` config option](https://docs.konghq.com/1.3.x/configuration/#stream_listen) set in your config file, you should be able to use kong "as if it was your database". In other words, instead of connecting to `10.248.230.19:3306` for accessing mysql, you should be able to connect to `http://127.0.0.1:7000` (assuming that `7000` is the selected port for stre

[2019-10-11 12:05] #5078 closed

[2019-10-11 15:11] kikito commented on #5033
Hello, a solution for encrypting/decripting passwords and other secrets in the database is being worked on.

It is strongly recommended that you [secure the admin API access](https://docs.konghq.com/1.3.x/secure-admin-api/) in any case.

[2019-10-11 15:11] #5033 closed

[2019-10-11 16:59] kikito commented on #5016
As we can't reproduce this issue, and

I'm concluding that this was due to a local machine's configuration and closing this. Please reopen if needed.

[2019-10-11 16:59] #5016 closed

[2019-10-11 17:57] nopslip commented on #4321
It's been awhile since I looked into this but I can pull it back up and test soon.

[2019-10-11 18:42] locao commented on #5026
@mocking3 can you share the YAML file that causes this behavior?

[2019-10-11 21:02] ArtemDerevnjuk commented on #5107
@kikito it's my bad) Thanks)

[2019-10-12 11:42] taotao2014 opened #5120 "Add upstream Invalid by api, balancer not found health check [Kong BUG]"
Error:

2019/10/12 16:31:03 [error] 24411#0: *1868488069 [lua] upstreams.lua:216: failed getting upstream health: balancer not found, client: 10.129.7.9, server: kong_admin, request: "GET /upstreams/restDemo_Development/health/ HTTP/1.1", host: "10.129.8.76:7002"

2019/10/12 19:10:32 [error] 24411#0: *1875987065 [lua] responses.lua:121: handler(): Upstream mrestDemo_Development has no balancer, cl

[2019-10-12 11:43] taotao2014 commented on #5120
@thibaultcha  help

[2019-10-13 11:02] mohatagarvit commented on #5021
Should I make a different PR for these changes or continue in the last PR?
[code]

`setfenv(chunk, {_G.os})` in the elseif of lua

[2019-10-13 12:25] littlechicks commented on #3705
I have the same problème. Only CN works.. Is there an fix?

[2019-10-13 12:41] littlechicks opened #5121 "Not all attributes are working in LDAP AUTH PLUGIN (access.lua)"
I am using Kong over Kubernetes.

I have tried to use the LDAP AUTH with this configuration

[code]
However, with the attributes ‘sAMAccountName’ the connection doesn’t works properly.
When I configure my Header Authorization with a base64(samaccountame:password)
Kong said that my credentials are invalid and returns an error in the logs:

But the LDAP plugins works well with a CN attribute and the

[2019-10-13 16:50] littlechicks commented on #5121
I think the error come from this line in `access.lua` file 'https://github.com/Kong/kong/blob/893740ec7d6d59d81e7eedd9f930e9ff159c0e12/kong/plugins/ldap-auth/access.lua#L94)

`line 94 :  local who = conf.attribute .. "=" .. given_username .. "," .. conf.base_dn`

The binding is done with a Distinguised Name Base. Therefore, we can only use CN attribute for the binding.
An attribute based on sAMAcc

[2019-10-13 17:00] littlechicks commented on #5121
Exemple of working `go` LDAP Binding with an UPN :
[code]
And the results after runing the go app :
`2019/10/13 18:56:53 Successfully binded.`

If I try to make a mistake on the password:
`2019/10/13 18:57:45 LDAP Result Code 49 "Invalid Credentials": 80090308: LdapErr: DSID-0C09042A, comment: AcceptSecurityContext error, data 52e, v3839`

(The same error as in the Kongs logs so, it is officially

[2019-10-14 02:17] mocking3 commented on #5026
@locao There is no problem with the yaml file. When I restart, there is no error.
I just added the upstream and target newly, I feel that the kong config command has bugs for the new upstream and target.

[2019-10-14 02:20] mocking3 commented on #5026
@locao Similar to this situation
https://discuss.konghq.com/t/db-less-kong-1-2-1-config-reload-doesnt-take-effect/4014

[2019-10-14 02:55] luo985 commented on #4986
@bungle
yes， it solves the issue

[2019-10-14 10:37] jeremyxu2010 commented on #5042
@hutchic Is there any progress with this issue?

[2019-10-14 11:18] bungle commented on #4986
@luo985, the pr got merged, so closing this.

[2019-10-14 11:18] #4986 closed

[2019-10-14 12:03] kikito commented on #5005
Hi @crazytravel, thanks for reporting this. I was able to reproduce your issue in 1.3.0, but it seems to have been fixed in `1.4.0rc1`. I also tried it on the `next` branch.

Could you confirm that the problem is gone for you in 1.4.0rc1?

[2019-10-14 12:10] #5005 closed

[2019-10-14 13:40] hishamhm commented on #5109
@waltari2001 this is a known limitation of the plugin: it acts by changing keys in the top-level object returned; given that the top-level object is an array, adding string-key entries to it ends up turning it into an object. Given that we don't have a `rename` operation (to change the key and keep the value), the plugin cannot produce the result shape you wanted, indeed. In that sense, the behavi

[2019-10-14 13:47] #5110 closed

[2019-10-14 14:04] #4976 closed

[2019-10-14 15:30] locao commented on #5026
@mocking3 I wasn't able to reproduce the problem here. The YAML file would be useful to check if there's some special case that we didn't expect. The issue you mentioned should be fixed by https://github.com/Kong/kong/pull/4873.

[2019-10-14 19:21] #4950 closed

[2019-10-15 06:55] ptualek commented on #3605
base on this

Can we change order kong append X-forwarded-for? to something like this

X-Forwarded-For: elb-ip, client-ip

because ingress nginx will consider first IP address as X-Forwarded-For to configured ip whilelist.

[2019-10-15 08:55] WywTed commented on #4919
@zpc870921 ,hello ,  i have the same problems with you, how do you resolve this  finally ? Copy and modify the logic metioned aboved?

[2019-10-15 14:07] eamonnmcevoy opened #5126 "Cannot retrieve consumer by username if username is a guid"
I have set my consumer usernames to equal user guids from another database. After upgrading from 0.13 to 1.3 I can not retrieve consumers.

Is there any way to retrieve a consumer by username where the username is a guid?

or alternatively, specify consumer id on creation?

[2019-10-15 14:41] hutchic commented on #5042
@jeremyxu2010 I haven't had time to look at this. Just a hunch: could you add a readiness check after starting Kong and before starting to use it? Given the new information that in order to demonstrate the issue Kong needs to be continually cycled I wonder if the issue isn't we're using a Kong instance that isn't fully prepared to proxy requests or one that's in the process of shutting down

[2019-10-15 20:01] hishamhm commented on #5126
@eamonnmcevoy yes, if you already have a source of UUIDs, you can use them as `id` when creating consumers:

[code]

[2019-10-15 20:07] eamonnmcevoy commented on #5126
@hishamhm great, I guess that solves my problem.
I see this isn't in the admin api documentation, is this behaviour likely to change in the future?

[2019-10-15 20:09] hishamhm commented on #5126
@eamonnmcevoy this is safe to use, It's not likely to change at all.

Regarding the documentation, I think it implies that every attribute listed can be given during creation, but indeed it doesn't call out `id` in a special way.

[2019-10-15 22:52] dndx commented on #4955
Fixed in [1.4.0rc2](https://discuss.konghq.com/t/kong-1-4-0rc2-available-for-testing/4660) vis Service Mesh deprecation. Please give it a try!

[2019-10-15 22:52] #4955 closed

[2019-10-15 22:52] dndx commented on #5112
Fixed in [1.4.0rc2](https://discuss.konghq.com/t/kong-1-4-0rc2-available-for-testing/4660) vis Service Mesh deprecation. Please give it a try!

[2019-10-15 22:52] #5112 closed

[2019-10-16 02:57] opengers opened #5132 "Why openresty re-use udp socket in all dns requests(but kong does not)? it will cause problems when used with ipvs"
[code]
Below is a screenshot in openresty machine(I did not use kong), `172.19.0.10:53` is dns server's VIP(IPVS).
![image](https://user-images.githubusercontent.com/8316357/66823638-3d4c4280-ef79-11e9-88e6-9c9e914a165b.png)
Since these two pseudo UDP ESTABLISHED exist(lua-resty-dns/cosocket?), All dns requests sent by openresty only use these two source ports(46958, 50785). https://github.com/ope

[2019-10-16 03:13] jeremyxu2010 commented on #5042
@hutchic
Actually I am now deployed a 3-replicas kong cluster in kubernetes with `readinessProbe`:

[code]

However, kong seems not stable. Sometimes it reported errors just after it is ready. The error message is the same as I gave before. To make the problem is easier to appear, so I wrote that shell script.

BTW, is there any other method to check a kong instance is fully prepared to proxy requ

[2019-10-16 04:40] hutchic commented on #5042
What you have looks similar to how we verify Kong control plane readiness

https://github.com/Kong/kong-dist-kubernetes/blob/master/kong-control-plane-postgres.yaml#L132-L140

[code]

The data plane check is a basic tcp check
https://github.com/Kong/kong-dist-kubernetes/blob/master/kong-ingress-data-plane-postgres.yaml#L62-L71

[code]

[2019-10-16 07:25] Tieske commented on #5132
Kong uses the resty-dns library to do the dns resolution. This means it is done in Lua land and on a per-request basis. The Kong DNS client adds caching on top, so only DNS requests are being send when TTL has expired.

But because it is underlying still using the resty-dns lib in Lua land, with co-sockets, it MUST recreate the udp sockets for each request, since the co-socket cannot be passed acr

[2019-10-16 11:19] #5126 closed

[2019-10-16 13:00] opengers commented on #5132
@Tieske  Thks, your explanation is useful to me, my previous understanding is wrong.

[2019-10-16 19:19] Tieske commented on #5132
thx for the feedback.

[2019-10-16 19:19] #5132 closed

[2019-10-17 06:14] xiaojin525 commented on #5078
ok, thinks

[2019-10-17 07:54] luka29 commented on #5054
seeing a similar issue. my python server is accessible on 127.0.0.1:5000 but kong fails to access it:
kong_1            | 2019/10/17 07:52:25 [error] 31#0: *14090 connect() failed (111: Connection refused) while connecting to upstream, client: 172.24.0.1, server: kong, request: "GET /bazaar/ping HTTP/1.1", upstream: "http://127.0.0.1:5000/ping", host: "localhost:8000"

[2019-10-17 08:37] shu7734 opened #5134 "Can't Start Kong Docker"
I install kong 1.3 from handbook
https://docs.konghq.com/install/docker/

but can't run kong

get  error from kong Container

2019/10/15 02:46:20 [error] 1#0: init_by_lua error: /usr/local/share/lua/5.1/pl/utils.lua:272: unable to generate a unique filename

stack traceback:

	[C]: in function 'tmpname'

	/usr/local/share/lua/5.1/pl/utils.lua:272: in function 'executeex'

	/usr/local/share/lua/5.1

[2019-10-17 13:04] luo985 opened #5135 "delete target error"
[code]
hello， i delete target by admin api, but it doesn't work.  then i found the error log.
- Kong version (1.3.0)

[2019-10-17 20:12] ukiahsmith opened #5136 "Update Upgrade docs to list breaking changes for 0.14.x"
### Summary

The [changelog for Kong 0.14.x](https://github.com/Kong/kong/blob/master/CHANGELOG.md#admin-api-11) mentions breaking changes to the `/consumers` endpoint as a result of moving to the new DAO, as part of #3437

The specific breaking changes are not listed in the CHANGELOG or the [UPGRADE](https://github.com/Kong/kong/blob/master/UPGRADE.md#upgrade-to-014x) document.

### Steps To Fix

[2019-10-18 02:15] rpartha commented on #5043
I'll take this up if you don't mind?

[2019-10-18 03:18] luo985 opened #5137 "error log"
[code]

i found some error log, is this a issue?

- Kong version (1.3.0)

[2019-10-18 05:05] jeremyjpj0916 commented on #5043
This should be fixed on Kong 1.4rc2:

https://github.com/Kong/kong/blob/master/kong/plugins/key-auth/handler.lua#L140

checks for empty header:

https://github.com/Kong/kong/commit/600b12bb4b0357764e74700d8dd45a9939198391#diff-6baf8a52cf8f16b161088b8fad9cb8dc

Dup of original issue: https://github.com/Kong/kong/issues/4405
Original PR: https://github.com/Kong/kong/pull/4418

[2019-10-20 05:29] shu7734 commented on #5134
changed 1.3.0 is ok

[2019-10-20 05:29] #5134 closed

[2019-10-21 06:02] Rookie-Zmy commented on #4878
Are you solved?
I have the same problem,
"cluster_events.lua:362: [cluster_events] failed to poll: no 'at' in shm, context: ngx.timer".

[2019-10-21 07:50] zpc870921 commented on #4919
@WywTed
the kong's document    https://docs.konghq.com/1.3.x/pdk/kong.service/

kong.service.set_upstream(host)

[2019-10-21 08:03] prabhakar-pal commented on #3838
Hi, hitting the same issue, which is the Kong version where is this resolved and IPv6 upstream services are supported?

[2019-10-21 08:18] prabhakar-pal opened #5143 "[IPv6 upstream support] Error while accessing the upstream services which resolve to IPv6 addresses"
Hi,

I am trying to bring up Kong in a a kuberentes environment where  the upstream services resolve to IPv6 IP addresses (and the DNS servers use IPv6 addresses)

My kong version is 0.14.1.

When i try to resolve the upstream services, i am getting the following error:

[code]

This issue looks to be similar to https://github.com/Kong/kong/issues/3838

[2019-10-21 08:36] abimarank commented on #5067
@scorphus Have you fixed this issue?

[2019-10-21 12:35] duzhenxun opened #5144 "acls Without a database"
Without a database

You can create ACL objects via the acls: entry in the declarative configuration file:

acls:
- consumer: { consumer }
  group: group1
consumer: The id or username property of the Consumer entity to associate the credentials to.
group: The arbitrary group name to associate to the consumer.

[code]

[root@13bcd82242c7 kong]# kong config parse /data/kong/kong.yaml --vv
2019/10/21

[2019-10-22 08:27] scorphus commented on #5067
@abimarank still finding my way around it. Do you have any tips?

/cc @thibaultcha 🙂

[2019-10-22 10:38] bungle commented on #5137
This seems to be related to #5135.

[2019-10-22 12:43] bungle commented on #3153
I am reopening this now.

[2019-10-22 13:51] mvanholsteijn opened #5147 "kong datadog plugin create a unmanagable amount of metrics"
### Summary
The datadog plugin reports kong metrics to kong by creating an explicit named metric for each service. Each service results in 21 metrics in Datadog. Each consumer calling a services, also get a few metrics per user.

### Steps To Reproduce

1.  configure kong with the datadog plugin
2. deploy two services
3. call the services
4. check that in datadog, you will receive 2x21 metrics wit

[2019-10-22 21:14] #3908 closed

[2019-10-22 21:14] #2030 closed

[2019-10-22 21:14] #2674 closed

[2019-10-22 23:30] dndx commented on #5143
Hello,

Looks like your machine doesn't have IPv6 connectivity to the upstream. Can you confirm that please?

See: `failed to set peer name: network is unreachable` means Kong tried to connect but O/S reported network being unreachable.

Datong

[2019-10-23 08:13] littlechicks commented on #3705
I have investigated. In fact, the plugin doesn't make difference on the authentication username. It always use a DN syntax. So even if we specify sAMAccoutName as the attribute, ldap-auth plugin will send:
sAMAccount=user, DC=domain, DC=com

It cannot be work in that way. LDAP sAMAccount must be the following syntax:
DOMAIN.COM\user
Or
user@domain.com

See my issue :
https://github.com/Kong/kong/i

[2019-10-23 12:41] codingman1990 opened #5151 "active health check disabled"
### Summary

If i have two targets(172.1.0.15 and 172.1.0.22) in my upstream,when i restart any one of the  targets,it will become unhealthy,somtimes it will not do active health check any more.but if i save the upstream info through kongadmin,it will do active health check and become healthy again.But it isn't always be like this situation.

### Steps To Reproduce

1.active health check enabled,

[2019-10-24 16:14] WoodyFleurant opened #5155 "Restricting https protocol does not forbid http"
### Summary

I would like to allow only https for a certain route, but when configuring the route to do so, http is still available

### Steps To Reproduce

1. Create a route with only **HTTPS**
[code]
Answer from Kong is
[code]
2. Requesting the route using **HTTP**
[code]
Kong is responding
[code]

### Expected behavior

Accessing route from **HTTP** should not work

### Additional Details & Log

[2019-10-24 20:40] WoodyFleurant commented on #5155
I actually had multiple routes to the same service, some routes with http enabled, so I guess that's not a bug

[2019-10-24 20:40] #5155 closed

[2019-10-25 05:26] someon2 opened #5157 "What's the problem?"
951#0: *29825814 [kong] handler.lua:25 reporter flush failed to request: connection refused, context: ngx.timer, client: 125.70.16.103, server: 0.0.0.0:8443

kong 1.3.0

[2019-10-25 07:27] kiwicopple commented on #4548
I'm also curious about this. Is there a way to use Env Vars with Kong declarative? What would be the recommended way to set up a declarative file for staging and production?

[2019-10-25 08:04] DemantT opened #5159 "http-log plugin memory leak"
I added the http-log plugin and found that my nginx work process was growing in virtual memory until it reached the 2G limit and crashed and err log is empty
This is my setting for http-log plugin
![image](https://user-images.githubusercontent.com/43464580/67555687-5eb0e980-f744-11e9-951d-f8128b454011.png)
After running for a period of time, memory will keep growing
Also I found that the smaller t

[2019-10-25 09:30] rjshree opened #5160 "Kong 0.14.1 errors out column "request_host" does not exist during migrations up"
Hi,

I'm running kong on kubernetes. Using Postgres 9.6 which is a separate Pod.

Error:
/usr/local/share/lua/5.1/kong/cmd/migrations.lua:37: [postgres error] Error during migration 2015-01-12-175310_init_schema: ERROR: column "request_host" does not exist
stack traceback:
        [C]: in function 'assert'
        /usr/local/share/lua/5.1/kong/cmd/migrations.lua:37: in function 'cmd_exec'

[2019-10-25 16:33] mvanholsteijn commented on #5147
@dndx to complete the PR, I would need to update the plugin configurations to delete the obsolete metrics. Is there an example of how to do that?

[2019-10-26 22:31] littlechicks commented on #1821
Please reopen this issue. It's really a bug.
Only CN ans UID are working in the plugin, because, I think, of a misunderstanding of LDAP. See my PR.
Moreover the tests under Kong/spec doesn't not considering TestCase with other attributes. Only UID and CN are tested.

[2019-10-28 04:37] xichengliudui opened #5163 "Failed to obtain routing metrics"
### Summary

I deployed kong 1.4.0 with the container and opened Prometheus, but there was no routing metrics monitored.

According to this pr description, routing metrics has been released along with kong 1.4.0

* https://github.com/Kong/kong-plugin-prometheus/pull/48#issuecomment-532710213

### Steps To Reproduce

1.  $ docker run -d --name kong-database \
               --network=kong-net \

[2019-10-28 04:40] xichengliudui commented on #5163
kong metrics and prometheus.yml
[code]
[code]

[2019-10-28 06:35] jeremyjpj0916 opened #5164 "Kong HTTP Log plugin falls behind at low TPS enabled globally"
Howdy folks,

### Summary

So I made a Graylog logging plugin based off the latest http-log plugin, currently Graylog does not support multi message OOTB so in a quick POC I was forced to do single message so my config looked like so( **"queue_size": 1,**):
[code]

Enabling this plugin at a global I noticed it does not take too long at decent tps over time to overwhelm the kong logger and you star

[2019-10-28 08:08] taotao2014 opened #5165 "Error: target create: balancer not found for www.cctv-tv.com"
Error: target create: balancer not found for www.cctv-tv.com

Kong Cluster: server1,server2

Kong api:http://server1:8001 (add upstream / targets)

Kong Version:0.14.1

Database:PG

error 1:
on_target_event(): target create: balancer not found for www.cctv-tv.com
error 2:
failed recreating balancer for www.cctv-tv.com: timeout waiting for balancer for
error 3:
get_balancer(): balancer not found fo

[2019-10-28 11:53] GumpSun opened #5166 "Error: attempt to call field 'decode_array_with_array_mt' (a nil value)"
Error:
/usr/local/share/lua/5.1/kong/pdk/request.lua:27: attempt to call field 'decode_array_with_array_mt' (a nil value)
stack traceback:
	/usr/local/share/lua/5.1/kong/pdk/request.lua:27: in main chunk
	[C]: in function 'require'
	/usr/local/share/lua/5.1/kong/pdk/init.lua:292: in function 'new'
	/usr/local/share/lua/5.1/kong/global.lua:116: in function 'init_pdk'
	/usr/local/share/lua/5.1/kong/

[2019-10-28 15:29] Efesto commented on #2922
Is there currently any plan for allowing to apply a global scoped request-transformer together with a consumer-scoped?

[2019-10-28 15:39] hbagdi commented on #5163
Did you enable the plugin for a service/route or globally?

[2019-10-28 16:11] xichengliudui commented on #5163
Of course, I enabled plug-ins for services and routing, not global startup
The code block is my execution command
[code]
Start on service and route respectively

[2019-10-29 08:01] luo985 opened #5169 "cluster events error"
[code]
hello, i found some error log at kong. and i think the reason is(not exactly sure):

i have a kong cluster( 2 nodes: node A、node B)
i change upstream via node A’s Admin API (create upstream，then add target),
node B refresh caches via cluster events
but i found the poll job handler cluster event not in order，the  select sql do not have 'order by at asc'
[code]
so node B maybe handle the even

[2019-10-29 10:49] jayce commented on #5157
I also had the same question, and I found the source. please open https://github.com/Kong/kong-plugin-zipkin/blob/master/kong/plugins/zipkin/reporter.lua#L121.

In my kong, it is just a little mistake that I wrong the "http endpoint".

Hope useful for u

[2019-10-29 18:16] guanlan commented on #5060
@huangyuan666 We don't provide any official support for dashboards, they are offered by the third-party.

[2019-10-29 18:16] #5060 closed

[2019-10-29 18:17] #5034 closed

[2019-10-29 18:18] #4923 closed

[2019-10-30 02:08] lclin412 opened #5172 "kong 1.3.0 service health check, tcp detection does not take effect"
kong 1.3.0 service health check, tcp detection does not take effect

[2019-10-30 06:43] qiyuxin opened #5173 "Forwarding problem of kong"
when  I config kong route forward to a  domain name service Intra-cluster，The page format  disappeared，what could be the problem, is kong  or  service itself ？

[2019-10-30 07:23] rahulgoel27 commented on #1955
https://docs.konghq.com/0.10.x/auth/
See Multiple Authentication

[2019-10-30 08:06] GumpSun commented on #5166
when I execute make test，
2019/10/30 16:04:59 [warn] 11192#0: 4096 worker_connections exceed open file resource limit: 1024
ERROR: /usr/local/share/lua/5.1/luassert/assert.lua:1: module 'say' not found:No LuaRocks module found for say
	no field package.preload['say']
	no file '/usr/local/openresty/site/lualib/say.ljbc'
	no file '/usr/local/openresty/site/lualib/say/init.ljbc'
	no file '/usr/local/

[2019-10-30 08:08] GumpSun commented on #5166
Install according to official documents,get so many errors
what should I do?
Thank you

[2019-10-30 08:10] GumpSun commented on #5166
module 'say'?what‘s this?

[2019-10-30 08:30] GumpSun commented on #5166
Solution： luarocks install say

[2019-10-30 09:34] xichengliudui commented on #5163
ping

[2019-10-30 12:42] GumpSun commented on #5166
cmd:
resty /usr/local/share/lua/5.1/kong/pdk/request.lua

request.lua content:
local cjson = require "cjson.safe".new()
local multipart = require "multipart"
local phase_checker = require "kong.pdk.private.phases"

local ngx = ngx
local sub = string.sub
local find = string.find
local lower = string.lower
local type = type
local error = error
local tonumber = tonumber
local check_phase = phase_chec

[2019-10-30 12:42] #5166 closed

[2019-10-31 02:45] rural-hermit opened #5180 "about kong rtsp setting"
kong  version  1.3.X
kong ip  192.168.30.129 use vmware
client ip 192.168.3.90 , vmnet8:192.168.30.2

there i want kong to support rtsp ，I configured services
{"host":"192.168.30.2","created_at":1572487052,"connect_timeout":60000,"id":"997b83ba-36e7-401a-9201-943fe1671c87","protocol":"tcp","name":"rtsp-service","read_timeout":60000,"port":8554,"path":null,"updated_at":1572487110,"retries":5,"write

[2019-10-31 11:26] jayce opened #5185 "Can't to export the configure"
### Summary

I run `kong config db_export kong-1.4.0.yml` on the 1.4.0, and got an error:

[code]

### Steps To Reproduce

1. To run: `kong config db_export kong-1.4.0.yml -v`

### Additional Details & Logs

- Kong version: kong-1.4.0
- Operating system: CentOS 6

[2019-10-31 14:45] kikito commented on #5147
@mvanholsteijn I have started looking at your associated PR. To answer your question, the obsolete metrics can be removed by deleting them from the `STAT_NAMES` variable. In other words, by removing the following lines:

https://github.com/Kong/kong/blob/f842903afb5a9c968b4da0cb55ffd699749540cb/kong/plugins/datadog/schema.lua#L10-L13

[2019-10-31 17:06] sakshamtaneja21 opened #5188 "Github organisation memeber"
# Organisation member

May I know how to get an invite as a member of our organization
what is the basic criteria with the procedure

[2019-10-31 19:58] fffonion opened #5189 "Broken worker local state while handling concurrent requests to same upstream"
### Summary

While using updating many targets for a same upstream concurrently,
there's possibility that some workers enter bad local state and can't recover.

### Steps To Reproduce

1. Start a Kong cluster with 20 workers serving admin API, using postgres database.
2. Send 20 concurrent request to delete targets with same upstream
3. One or more workers throw a stack trace (attached below) and

[2019-10-31 20:04] fffonion commented on #5189
Actionable items:
- The issue initially comes from user of Ingress Controller, which under the hood issues concurrent requests talking to Kong. @hbagdi confirmed that official deployments already by default set worker_count on admin nodes to 1 couple of weeks ago.
- Fix healthcheck in https://github.com/Kong/lua-resty-healthcheck/pull/34
- Be protective between foreign function call between `creat

[2019-10-31 20:11] hbagdi commented on #5189
@fffonion Some amazing work in debugging here! Thank you for getting down to the bottom of this!

[2019-10-31 20:38] guanlan commented on #5188
Hi @sakshamtaneja21, you can start with contributing to our projects:
 https://github.com/Kong/kong/blob/master/CONTRIBUTING.md

[2019-10-31 20:38] #5188 closed

[2019-10-31 22:27] hishamhm commented on #5185
@jayce Thank you for your detailed investigation in Kong Nation! This is indeed a bug and a fix is on the way.

[2019-11-01 00:05] bungle commented on #5173
perhaps `css` links are `relative` and does not get loaded correctly or point to somewhere that does not function. Please let us know more details. If using browser, use its dev tools and check what it tries to load, e.g. where does it look for css/js etc. files.

[2019-11-01 01:08] rural-hermit commented on #5180
Can someone reply me, just reply one and tell me that it is better to not set it now than not to reply.
Thanks to the developer of kong

[2019-11-01 01:22] #5185 closed

[2019-11-01 16:58] mvanholsteijn commented on #5147
Yes, but the database migration /upgrade script should delete them from any
existing config too. How do I do that?

Cheers, Mark

On Thu, Oct 31, 2019 at 3:46 PM Enrique García Cota <
notifications@github.com> wrote:

--
ing.Mark van Holsteijn
tel: +316-22-374-114

[2019-11-02 06:02] jeremyjpj0916 commented on #754
As promised scylla db delivered on lightweight tx merged to master close to end of 2019:
https://github.com/scylladb/scylla/issues/1359#issuecomment-547554581

I suppose Kong could integrate with it now as a new 3rd db type to support. I noticed they do have some follow up optimizations and features opened on another git issue. Will be interested in some db performance comparisons between Kong on

[2019-11-02 08:50] dhsjgdf opened #5195 "kong can not set target to healthy"
### Summary
kong 1.3 version can not set target to healthy（it looks like health check not work）,but health check conf ok，it only occasionally.
### Steps To Reproduce

1.set upstream active health check and passive health check
curl http://127.0.0.1:8001/upstreams/readio-mesage

{
	"created_at": 1569402294,
	"hash_on": "none",
	"id": "f226ab19-fea1-4aaa-90bd-e205847212cb",
	"algorithm": "round-robi

[2019-11-02 18:06] frank-dspeed opened #5196 "Integrate resty lua couchbase connector"
### Summary

As we all know there is only one good DB solution out there its couchbase so you sure want for your system critical infrastructure like service mesh that its managed and persisted in couchbase.

i found this project already https://github.com/ZigzagAK/lua-resty-couchbase and its working

now this will need integration into kong i am not a lua professional :( but on my first look it lo

[2019-11-03 05:40] excepts commented on #1500
https://localhost:8443/oauth2/token   404 with {"message": "no Route matched with those values"}

[2019-11-03 10:23] cq-z opened #5197 "1.4.0 kong config db_export error"
### Summary
1.4.0 kong config db_export test.yaml -v error , when have keyauth_credentials .
delete ttl = true,    in the file kong/plugins/key-auth/daos.lua   ，it is ok

### Steps To Reproduce

1. add keyauth_credentials
2. kong config db_export

### Additional Details & Logs

- Kong version (`$ kong version`)
1.4.0
- Kong debug-level startup logs (`$ kong start --vv`)
[code]
- Kong error logs (`

[2019-11-04 03:30] dhsjgdf commented on #5195
![image](https://user-images.githubusercontent.com/17400541/68098213-674cb100-fef6-11e9-810c-2030df39ab68.png)
when i get upstream health status,get this error

[2019-11-04 04:01] gszr commented on #5197
Thanks for reporting, @cq-z. This issue has been fixed in #5192 and will be part of the upcoming 1.4.1 patch release. In the meantime, feel free to test the fix and report back. Thanks!

[2019-11-04 04:01] #5197 closed

[2019-11-04 11:28] binhtd opened #5198 "kong StatsD plugin not capture any metrics"
i have a gce then i install kong and turn on logging and monitoring on it

1) I installed statsD global with
"curl -X POST http://kong:8001/plugins \
    --data "name=statsd"  \
    --data "config.host=127.0.0.1" \
    --data "config.port=8125""

![image](https://user-images.githubusercontent.com/1082798/68117987-6e44e500-ff31-11e9-8421-84f3cbfa4590.png)

2)
then i installed collected or https://c

[2019-11-04 13:58] preeti13456 commented on #5067
1.While using docker we have the option to choose from https and http when creating an instance using an image in a container this will remove the error.
2. Not Using nginx proxy server will remove this error becaue it work only with http response
3. Graphql API should be used on the client side.

[2019-11-04 21:26] hishamhm commented on #5172
@lclin412 could you give us more details on your setup?

[2019-11-04 23:08] goober opened #5203 "Could not write to shm after 6 tries (no memory), it is either fragmented or cannot allocate more memory"
### Summary

We have recently started to recognize error events in our kong-proxy (see logs below). First occurrence happens a couple of minutes after startup.

### Additional Details & Logs

* *Manifests:* [kong-ingress-controller dbless](https://github.com/Kong/kubernetes-ingress-controller/tree/0.6.0/deploy/manifests)
* *Kong version:* 1.3
* *kong-ingress-controller:* 0.6.0
* Openshift 3.10
[co

[2019-11-05 06:18] nick-zjfgf commented on #5018
Is there an answer?

[2019-11-05 06:33] binhtd commented on #5198
find the mistake when mixing statsd plugin in collectd and gcp monitoring agent

[2019-11-05 06:33] #5198 closed

[2019-11-05 11:25] goober commented on #5203
After upgrading to:
kong: 1.14
kong-ingress-controller: 0.6.1

And set `KONG_NGINX_WORKER_PROCESSES` to `1`

The above error messages goes away. However, it seems that I hit another issue were I constantly get the the below timeout message:

[code]
And the memory consumption constantly grows aswell:

![image](https://user-images.githubusercontent.com/124244/68203763-7434d780-ffbe-11e9-8b84-cd35e4f

[2019-11-06 09:23] rahul34167 opened #5205 "Jwt plugin not working"
### Summary

I want to add a jwt authentication to my route.
I have done the following steps, but jwt authentication is not working

### Steps To Reproduce

1.create a consumer
2. add a jwt secret to the consumer
3. in routes add a jwt plugin with the consumer id

### Additional Details & Logs

- Kong version (`$ 1.4.0`)

 this is an inconsistent issue, I have added jwt plugin on route, its enable

[2019-11-06 13:33] bungle commented on #5205
If you add the plugin with `consumer_id` you need to first authenticate that request with some other plugin, e.g. `key-auth`. Because the plugin is only ran if the specific consumer is logged in. So either do that or clear `consumer` from the the plugin configuration and leave just the `route`.

[2019-11-06 13:37] bungle commented on #5203
That `reports` thing is possibly because Kong is blocked on `udp` to internet. On most recent version that would be `tcp`. You can turn it off: https://docs.konghq.com/1.4.x/configuration/#anonymous_reports

[2019-11-06 13:58] lucasmoreno commented on #4416
@msdhondi could you make it work as you wanted?

If so, can you share your solution, please?

[2019-11-07 05:31] chenjinxuan commented on #5203
I also have this problem. How to solve the growing memory?
version: 1.4.0

[2019-11-07 05:58] chenjinxuan commented on #5203
Excuse me, do you know how to solve this problem

[2019-11-07 08:29] jeremyxu2010 opened #5207 "Cached entities from the datastore is damaged"
### Summary

When create and delete service via kong's admin api frequently, the cached entities from the datastore is damaged.

Some logs as below:

![企业微信截图_15713692974269](https://user-images.githubusercontent.com/752346/68371851-92473700-017a-11ea-947f-28c192413eb0.png)

`upstream-global-tcnp-elasticsearch-client-f6375728-ea96-11e9-b77a-525400de400f-5969-elasticsearch.cc.oa.com` is the host pr