[2015-12-30 19:20] thibaultCha commented on #832
Oh I see. An issue on mashape/cassandra might be more appropriate then.

[2015-12-30 19:21] ialoft commented on #832
Just got it, sorry :/

[2015-12-30 19:21] #832 closed

[2015-12-30 19:24] thibaultCha commented on #832
No problem

[2015-12-30 19:28] cwanjau commented on #331
+1

[2015-12-31 22:36] idevz opened #833 "crypto.so Symbol not found: _X509_free"
When I run kong start I got this:
[code]
my kong is
kong@0.5.3-1
macosx 10.11.2 (15C50)
luacrypto 0.3.2

[2016-01-01 01:48] thibaultCha commented on #833
How was Kong installed? It seems like LuaCrypto was not compiled with OpenSSL. You would need to install a recent version of OpenSSL and have it available under /usr/local.

[2016-01-01 04:27] idevz commented on #833
I install like this:
[code]
I have install OpenSSL in /usr/local/openssl-1.0.2/

[2016-01-02 03:56] ababkov commented on #331
+1

[2016-01-02 17:21] ialoft commented on #331
+1 when we start ?

[2016-01-02 17:28] ialoft commented on #832
Issue : https://github.com/Mashape/docker-cassandra/issues/4

[2016-01-04 10:24] snakelab commented on #243
:+1:

[2016-01-04 10:30] snakelab commented on #157
:+1:

[2016-01-04 22:54] ahmadnassri opened #834 "upstream request/response logs"
just like any of the current logging plugins, but to log the actual upstream request and response sent between Kong and the upstream server.

this is useful for debugging upstream requests and identifying issues between Kong and the upstream server, regardless of what is sent back tot he client side.

whether this can be a separate plugin or part of the existing plugins is up for debate.

[2016-01-05 00:04] alexanderyoung commented on #369
+1, this is a roadblock for my use case too.

[2016-01-05 00:30] sinzone commented on #834
:+1:

[2016-01-05 04:08] ahmadnassri commented on #834
another use for this is to see exactly how the request is formed AFTER a transformation and how a response is received BEFORE a transformation

[2016-01-05 04:11] thefosk opened #835 "Removing third-party dependencies"
Currently Kong relies on [dnsmasq](http://www.thekelleys.org.uk/dnsmasq/doc.html) and [Serf](https://serfdom.io/) for the following operations:
- dnsmasq: to resolve DNS addresses following the rules in both `/etc/hosts` and `resolv.conf` (which nginx doesn't natively support)
- serf: clustering of Kong nodes leveraging its [Gossip Protocol](https://en.wikipedia.org/wiki/Gossip_protocol).

This fu

[2016-01-05 08:54] senj opened #836 "Change kong's datastore with an existing one"
According to https://getkong.org/docs/0.5.x/plugin-development/access-the-datastore/ Kong currently supports only Cassandra.

Is it somehow possible to write plugins that hook up at the extension points where we write and read the registered API information and make a REST call to some service that should serve the information instead, maybe with ResolverHandler:access(conf)?

![apigw1](https://cl

[2016-01-05 15:26] lindo-jmm commented on #155
@ahmadnassri Would it be possible to transform the response before passing it back to the client and also targeting devices? It's understood that everything is still in the idea phase.

[2016-01-05 21:52] thibaultCha commented on #836
Since Kong is an OpenResty application, you are free to use the wide variety of lua-resty-* modules such as lua-resty-redis, lua-resty-postgres, lua-resty-mysql, and potentially others. You can create a plugin extending the Admin API and using one of those libraries to interact with a datastore other than the one storing Kong's configuration.

[2016-01-05 22:06] thibaultCha commented on #833
Maybe make sure the openssl version you used to install luacrypto is the one used by your system as well. I do not know. I used homebrew to install openssl and forced linked it.

This is more related to luacrypto and openssl setup than to Kong itself.

[2016-01-06 00:09] ahmadnassri opened #839 "follow upstream redirects directive"
if the upstream responds with a redirect, typically it will send an absolute path that will not match the one Kong clients are calling _(both request host and request path)_.

a `follow_redirects` directive on the API would instruct nginx to retry the same request at the new location **before** sending back to the client, thus eliminating the need for the client to know about the redirect.

[2016-01-06 00:13] ahmadnassri commented on #155
@lindo-jmm depends on what you mean by "targeting devices" ?

[2016-01-06 00:19] thibaultCha commented on #839
Should probably use [`proxy_redirect`](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_redirect).

[2016-01-06 21:37] PGBI opened #841 "Can't use cors plugin along with basic-auth one"
I just discovered that when a browser is making an OPTIONS request to check which CORS operations are permitted, request headers (like the "Authorization" one) are removed by the browser.
See: http://stackoverflow.com/questions/15734031/why-does-the-preflight-options-request-of-an-authenticated-cors-request-work-in#answer-15734032

So it's not possible to use the cors plugin along with the basic-a

[2016-01-07 04:57] micyoung70 commented on #331
+1

[2016-01-07 09:15] nazarhussain opened #842 "Typo error in milestone name"
It seems there is typo error in milestones page. Instead of Feb 2016, it is listed as Feb 2015.

<img width="518" alt="screenshot at jan 07 14-14-25" src="https://cloud.githubusercontent.com/assets/112468/12166610/09668a5c-b549-11e5-91d0-2f104eed7603.png">

[2016-01-07 11:49] lindo-jmm commented on #411
Note: Consider using Redis

[2016-01-07 12:35] ahmadnassri commented on #842
thanks for pointing that out! :)

[2016-01-07 12:36] #842 closed

[2016-01-07 13:14] samek opened #843 "kong 0.6.0 RC2 - Issues"
-  While using the 0.6.0rc1 - when I add a new api It's not working until I restart kong. Same goes for changes/deletion of apis.
[code]
list apis
[code]
call new created api
[code]
after restart:
[code]
[INFO] Kong 0.6.0rc1
[INFO] Using configuration: /etc/kong/kong.yml
[INFO] database...........cassandra ssl=verify=false enabled=false contact_points=10.0.0.74,10.0.0.200,10.0.0.194 data_centers=

[2016-01-07 15:01] senj commented on #836
Ok great. I wrote a plugin that can do what I want, but https://github.com/Mashape/kong/blob/master/kong/resolver/access.lua will always execute before my plugin, knowing that the url isn't registered and breaking the execution. (API not found with these values)
Well this is what it's supposed to do. The Kong resolver core-plugin is executed before any other.

I tried it with PRIORITY but this ord

[2016-01-07 15:49] PGBI commented on #841
Just retried today and could not reproduce. When have a look at the source code, the cors plugin is indeed executed before the basic-auth one.

Not sure what happened yesterday. Sorry about that.

[2016-01-07 15:49] #841 closed

[2016-01-07 16:12] pvormittag opened #844 "Microservice Architecture with Kong"
I've been evaluating Kong for fronting a Microservice architecture which will serve a web application under a single domain.

It's clear to me the advantages for API development and the ability to centralize typical API requirements: rate limiting, authentication, authorization, etc. However, is Kong a good choice for Microservice architectures which must additionally support features of a typical

[2016-01-07 16:32] ahmadnassri commented on #844
just add a new API with the `request_host` set to `example.com` and it will proxy the requests unmatched by the paths back to whatever source you want ...

[2016-01-07 17:21] thibaultCha commented on #844
If you do that and call any of those other APIs with example.com/path, this API @ahmadnassri suggested will "eat" all requests, since `request_host` is looked up first and because host and path were never intended to be combined together.

[2016-01-07 17:34] pvormittag commented on #844
@ahmadnassri Using `request_host` makes sense if routing by domain, say `api.example.com` or `product.example.com`, but I am more interested in routing request paths of a single domain through to services which handle different concerns of the application: example.com/admin, example.com/store, etc.

@thibaultCha I noticed this as well which is why I asked about Kong's proxy rules. Thanks for clari

[2016-01-07 17:50] ahmadnassri opened #845 "allow for combining request_path and request_host for matching API rules"
currently the routing uses either `request_path` or `request_host` (with the latter taking priority) to determine appropriate routing rules.

should allow for combined usage, so only when both properties are matched (if defined) is the route valid.

[2016-01-07 17:52] ahmadnassri opened #846 "add priority order for API routing rules"
currently there's no clear order for which routes are executed first (specifically when using `request_path`) a priority / order property will determine the order in which to check for matching routes.

[2016-01-07 17:53] ahmadnassri opened #847 "add a catch-all route"
instead of rejecting requests when no `request_path` or `request_host` are matched, should allow to forward requests to a custom endpoint instead of replying with a 404

[2016-01-07 17:54] ahmadnassri commented on #844
I've created a number of tickets to track the different aspects to this:
#847 #846 #845

[2016-01-07 18:06] ryanbreen commented on #719
I did some digging into this, and the AWS Marketplace image has a busted `crypto.hmac` function.  Every call, regardless of inputs, returns an array of `0`s.  I'm guessing it's something wonky with the Lua install or the (perhaps) OpenSSL libs that sit under those crypto functions.

[2016-01-07 18:37] thibaultCha commented on #847
We could allow for a special API to be created, say for example with an attribute `fallback: true` or something, that acts as the API when no other API got matched. If no such API is configured, 404 is probably still the proper reply.

[2016-01-07 18:40] thibaultCha commented on #846
The order is clear and described [here](https://getkong.org/docs/latest/proxy). Priority with path is already in #369.

[2016-01-07 18:50] ahmadnassri commented on #846
#369 should be one ticket (per the title), the regex one another ticket and now this ... doubt they should / could be all done together.

[2016-01-07 18:53] thibaultCha commented on #846
Its goal is simply to group the future requirements for path improvements instead of spreading them over 3 different issues. Title can be updated and check-list added.

[2016-01-07 20:05] tgirardi commented on #210
+1 I would use it

[2016-01-07 20:20] narrativecraig commented on #331
+1

[2016-01-07 20:22] sfoulkes commented on #331
+1

[2016-01-07 20:26] mtrahan commented on #331
+1

[2016-01-07 22:35] ahmadnassri opened #849 "direct upstream traffic based on authenticated consumers"
weather by groups or individual consumers, allow to direct traffic upstream based on authenticated consumer.

[2016-01-07 23:39] catchdave commented on #839
Proxy_redirect would fix the issue nicely :)

[2016-01-08 00:00] thefosk commented on #843
@samek what system are you running?

[2016-01-08 00:05] thibaultCha commented on #843
(Thanks a lot for giving the RC a try btw)

[2016-01-08 00:23] thefosk commented on #843
@samek I tried to replicate the same commands in a brand new CentOS 6 machine, and it seems to work. If you pulled Kong from Docker, I am suspecting that the container for 0.6.0rc1 is broken.

It may also be something else, but before I keep testing I would like to understand if you are indeed using the Docker container.

[2016-01-08 07:18] forhot2000 commented on #183
+1

[2016-01-08 07:21] senj commented on #847
This would be great because other plugins would have the chance to make actions although no API was found.

[2016-01-08 07:35] truman-misfit commented on #183
+1

[2016-01-08 07:36] exquisite2007 commented on #183
+1

[2016-01-08 07:41] guangbochen commented on #183
+1

[2016-01-08 08:06] kiwicopple opened #852 "Bug: key-auth plugin validating OPTIONS requests"
The Key-Auth plugin is expecting the api-key header on OPTIONS requests, however this header is stripped out by browsers (Chrome) before request is made.

Details about CORS & OPTIONS requests are explained (much better than I can) here: http://stackoverflow.com/a/15734032

[2016-01-08 08:50] samek commented on #843
I took Dockerfile from https://github.com/Mashape/docker-kong.git
I've changed the kong.yml and build my docker.
Anyway I've tried now with published docker and my config and it's the same.
[code]
My Cassandra version is 2.1.4.

I've also tried with --net=host (just guessing maybe it's all connected to serf), same.

my whole config:

[code]

[2016-01-08 15:34] ahmadnassri opened #853 "allow for anonymous access to APIs with authentication"
an "anonymous" consumer can be used to refer to none-authenticated caller to the API, perhaps an internal reference or an operator created one with a flag `anonymous: true`

should also allow for setting plugin rules as regular consumers, used when authentication plugins are present and no Authentication headers are sent.

[2016-01-08 16:35] NicholasIoanJones commented on #845
Just writing to support this feature. It would be really useful to be able to match on both.

[2016-01-08 19:18] thibaultCha commented on #853
Not sure if this has anything to do with #475

[2016-01-08 20:24] thibaultCha commented on #577
#838 adds support for base64 encoded secrets to `next`, it will be included in the next release.

[2016-01-08 20:24] #577 closed

[2016-01-08 20:55] ahmadnassri commented on #475
duplicated by #853 which has a better description.

[2016-01-08 20:55] #475 closed

[2016-01-08 20:56] ahmadnassri commented on #853
thanks couldn't find that one! closing in favor of this one as its better described here.

[2016-01-09 03:59] thibaultCha commented on #843
Quick question: are all your Cassandra nodes available from your containers (not only the contact points but all of them)?

[2016-01-09 04:05] thibaultCha opened #856 "invalid request_host not verified"
[code]

Accidentally inserted a URI in place of a host in `requets_host` without any error.

[2016-01-09 04:07] thibaultCha opened #857 "Incomplete PATCH"
`request_path` appears changed in the PATCH response but is still unset.

[code]

[2016-01-09 05:27] jaschenk opened #858 "Stormpath Plugin"
Perhaps a Stormpath plugin would be useful, that would encompass many of the security features under a complete IaaS (Identity as a Service) provider.

[2016-01-09 08:10] samek commented on #843
Actually I’ve entered all nodes in.

I have a 3 node cluster. And yes they are all visible .

[2016-01-09 17:16] naoko commented on #411
there is this circular referencce and I couldn't reach anywhere....

[code]

[2016-01-09 20:06] jaschenk opened #859 "Using Ubuntu deb Package Install of Kong, attempting to start indicates bad cassandra version."
Using Ubuntu deb Package Install of Kong, attempting to start indicates bad Cassandra version.

:/etc/kong$ kong start
[INFO] Using configuration: /etc/kong/kong.yml
[INFO] Kong version.......0.5.4
       Proxy HTTP port....8000
       Proxy HTTPS port...8443
       Admin API port.....8001
       dnsmasq port.......8053
       Database...........cassandra password=cassandra timeout=1000 user=cassa

[2016-01-09 20:08] #859 closed

[2016-01-09 20:08] jaschenk commented on #859
Need to use 2.1 of Cassandra.

[2016-01-10 16:24] ialoft commented on #859
try to use : https://github.com/Mashape/docker-cassandra/pull/5

[2016-01-11 22:23] poori commented on #331
+1

[2016-01-11 23:35] z0mbix commented on #157
+1

[2016-01-12 01:35] Misfit-John commented on #183
+1

[2016-01-12 03:27] thefosk opened #865 "Serf Lua RPC Client"
Create a Serf client in Lua that follows Serf RPC protocol: https://www.serfdom.io/docs/agent/rpc.html

[2016-01-12 05:24] Tieske commented on #865
some info on arbitrary TCP connections; https://groups.google.com/forum/#!topic/openresty-en/88E7-1CIowM

[2016-01-12 06:26] sonicaghi opened #866 "RabbitMQ protocol translation support"
requested two times in the last few months

[2016-01-12 06:42] ahmadnassri commented on #866
without more details, this does not sound meaningful, neither a fit for an HTTP API Gateway ... typically AMQP requires a Messaging Queue service, something Kong is not architected to provide.

[2016-01-12 12:40] jakubriedl commented on #785
+1 for us, we are looking for RBAC as well.

[2016-01-12 19:49] thefosk commented on #852
@kiwicopple Can you try to also install the CORS plugin? https://getkong.org/plugins/cors/

[2016-01-12 20:42] sinzone commented on #334
example of one way of doing it http://docs.aws.amazon.com/apigateway/latest/developerguide/create-api-using-import-export-api.html?

[2016-01-12 21:15] #856 closed

[2016-01-12 21:15] #857 closed

[2016-01-13 03:29] ondrej opened #869 "Don't append port to outgoing Host header if it wasn't explicitly specified in upstream_url"
By default, Kong will replace the incoming Host header with the hostname of the upstream_url (unless preserve_host is true). It looks like Kong always adds the port to the new Host header, even if it wasn't explicitly specified. For example, a "https://www.foobar.com/" upstream_url will result in a "www.foobar.com:443" Host header.

This can cause problems if the upstream server isn't expecting (o

[2016-01-13 04:13] thibaultCha commented on #869
The port is included because it is allows by the [section 14.23](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.23) of the HTTP/1.1 specs. Most of the time it is stripped out when it is the default port, but now always.

[2016-01-13 05:59] MyungjinJung opened #870 "I always get this message: "HMAC signature cannot be verified""
I am trying to get Kong - hmac-auth to work, I am prototyping with this go-lang client.

this data has sent as like:
[code]

signatureString created as like :
`Wed,13 Jan 2016 02:17:06 GMT`

however, Kong(0.5.4) always return
`{"message":"HMAC signature cannot be verified, a valid date or x-date header is required for HMAC Authentication"}`

Please, could you tell what is the problem or something

[2016-01-13 06:46] #816 closed

[2016-01-13 10:46] MyungjinJung commented on #870
Additonally,  it is the dockerized kong version  from the official url.

[2016-01-13 13:42] cleblanc87 opened #872 "Kong ssl plugin does not preserve certificate chain"
When uploading an ssl certificate to kong, the shelled out `openssl` call does not preserve the full certificate chain as detailed here: https://github.com/openresty/lua-nginx-module/issues/563#issuecomment-160051384

To reproduce, upload an ssl cert with intermediate certificate.
Check the response JSON's `_cert_der_cache` field, this will not contain the full cert, whereas the `cert` field of th

[2016-01-13 20:08] ahmadnassri opened #874 "[plugin] Galileo - update to match latest spec changes"
several minor changes have been introduced to the agent spec found here:
https://github.com/mashape/galileo-agent-spec

[2016-01-13 21:16] shashiranjan84 commented on #870
That error is thrown either date headers are missing  or clock skew is higher than configured value. What is clock skew set in configuration. Your kong box and client need be in sync. For test purpose add x-date header with gmt date and set clock skew to a very high value

[2016-01-13 21:42] thibaultCha commented on #836
It would seem to be the only way as of now. And yes the resolver is meant to be run as soon as possible in the request lifecycle so that all other plugins can now which API this request is targeting and how to behave.

[2016-01-13 23:47] thefosk commented on #843
@samek - can you try again with `mashape/kong:0.6.0rc2` (just released) ?

[2016-01-14 00:40] catchdave commented on #605
+1

[2016-01-14 01:09] MyungjinJung commented on #870
Thanks shashiranjan84,
Yes. you are right, docker's system time was different with the HOST.
So, when docker starts , it needs this parameter "-v /etc/localtime:/etc/localtime:ro" .
otherwise it couldn't be sync with the CLOCK_CKEW policy.

There is  my client code and it works correctly.
[code]
thank you for your comment. shashiranjan84

[2016-01-14 01:13] shashiranjan84 commented on #870
@MyungjinJung  welcome :), would you please close the ticket if you don't have any further doubt?

[2016-01-14 01:14] #870 closed

[2016-01-14 01:15] thibaultCha commented on #870
Oops, did not see this comment before closing. Feel free to re-open if ever.

[2016-01-14 02:07] MyungjinJung commented on #870
No problems, I have no any concern, thanks

[2016-01-14 03:24] thibaultCha commented on #821
I was not able to reproduce under Kong 0.5.4.

API:
[code]

Plugins:
[code]

In the request going to upstream and in the log file, I clearly see:
[code]

[2016-01-14 04:40] thibaultCha commented on #782
I could not reproduce this but I added a check just in case in #878.

[2016-01-14 06:00] #765 closed

[2016-01-14 06:00] #720 closed

[2016-01-14 06:12] samek commented on #843
Sure, first thing when i get in the offi

[2016-01-14 06:13] samek commented on #843
Sure. I need couple of hours to get to the office.

[2016-01-14 09:10] haifengkao commented on #214
I am making a forward proxy plugin for kong. The basic functionality is done (based on @ahmadnassri 's idea). Feel free to join https://github.com/haifengkao/kong_proxy

[2016-01-14 10:55] samek commented on #843
OK.
I've used rc2 docker. All I've changes in config:
[code]

If the keyspace doesn't exists it still does not create one (using cluster) probably since it tries to use it on a node not propagated yet - so for the first time you need to start it several times until it inserts all the tables. took me 6 times.

eg:
[code]
Then when it starts there are ngx.timer error in cluster.ua

[code]

It regist

[2016-01-14 12:04] ahmadnassri commented on #214
@haifengkao awesome, will follow progress!

[2016-01-14 17:48] haifengkao commented on #403
"let's the user choose the header to replace host" is done in https://github.com/haifengkao/kong_proxy
It still lacks a lot of forward proxy features. Feel free to send pull requests.

[2016-01-14 20:23] thefosk commented on #843
@samek thanks for your test. I fixed the timer problem, although in your scenario is irrelevant (it's for async cluster auto-joins).

I will leave the Cassandra problems to @thibaultCha - The dnsmasq is an interesting one, since we didn't change anything between RC1 and RC2. Uhm, it could be Docker specific, and not about Kong. Let me investigate.

[2016-01-14 20:25] sinzone opened #879 "ELK integration"
Plugin that connects to the ELK stack.

[2016-01-14 20:34] thefosk commented on #879
This can already be done using the TCP/UDP Log plugin.

[2016-01-14 20:34] #879 closed

[2016-01-14 20:43] leozc opened #880 "Kong fails to match request_path ="/" ?"
To reproduce:

{"data":[{"upstream_url":"https:\/\/example.com\/","request_path":"\/api\/v2","id":"YYYY","name":"api-v2","created_at":xxx}
{"data":[{"upstream_url":"https:\/\/example.com\/","request_path":"\/","id":"xxx","name":"","created_at":xxx}]}

{"request_path":"\/","message":"API not found with these values","request_host":["localhost"]}

However if request to:

this is fine.

[2016-01-14 20:45] thibaultCha commented on #880
Yes, `/` is not considered to be a valid request path. In fact it should have not been possible to create an API with this value...

[2016-01-14 20:47] leozc commented on #880
Arh, great, I meant to use / as a fallback value

[2016-01-14 20:54] thibaultCha commented on #880
Were you abel to create an API with a `request_path` value of `/`? If so, that is not supposed to be so, there should have been an error.

[2016-01-14 20:56] leozc commented on #880
@thibaultCha  yes I am able to create an API with a request_path value of "/".

kong --version
Kong version: 0.5.4

[2016-01-14 21:01] thibaultCha commented on #843
@samek May I ask which Cassandra version you are using?

[2016-01-14 21:03] samek commented on #843
@thibaultCha apache-cassandra-2.1.4 (on mesos as a framework)
@thefosk As for dnsmasq I've tried again with rc1 same kong keyspace and it resolves it just fine while rc2 doesnt.

[2016-01-14 22:30] thefosk commented on #843
So after a better look, RC2 explicitly binds dnsmasq to `127.0.0.1` using the `--listen-address=127.0.0.1` argument.

This should not cause any problems since dnsmasq is being used only locally by the local nginx server - but that's the only change I found.

Anyways, I have created a new Docker distribution `mashape/kong:samek` which fixes the cluster problem and also reverts the dnsmasq change, c

[2016-01-14 22:43] thibaultCha commented on #843
I was unable to reproduce any failure on a 2.1.4 cluster of four nodes running locally. In fact all the tests regarding the new driver have always been done on multiple nodes setup since #660.

Actually one of the improvements of the new driver compared from the old one is that it does wait for a schema consensus between all node on each DDL query, such as keyspace or table creation. The driver wa

[2016-01-14 22:48] thefosk commented on #843
If you give me 20/30 mins I can recreate the Docker image including the Cassandra patch.

[2016-01-14 22:50] samek commented on #843
@thefosk I did and It doesn't resolve :(

both rc1 and samek tag dnsmasq  bind to 127.0.0.1 but rc1 resolves it rc2/samek doesnt.

rc1
[code]
samek (rc2)
[code]

I'll dig a bit and try to find out more why doesn't it resolve and let you know.

[2016-01-14 23:01] samek commented on #843
@thibaultCha If the default timeout is 5 seconds than it has to be somethig else.

I did patch the factory.lua but it exits most of the time before 15 seconds are passed (or 5 which is default)

[code]
[code]

[2016-01-14 23:21] samek commented on #843
@thefosk
What I did was started kong, killed dnsmasq and started it with -q (log queries) and -d (no daemon).
Looks like dnsmasq is resolving it ..
[code]

errorlog
[code]

Now I also tested a "real" domain upstream and that one works.
Curl to the same upstream (haproxy.marathon.mesos) works, also ping works.

[2016-01-14 23:27] thibaultCha commented on #843
@samek Just to be sure, are you resetting your keyspace in between each try? Since I don't see the core migrations being executed first in your output?

If you mind, it would really help if you could execute the following steps:

- Drop your test keyspace (from cqlsh or `kong migrations reset -c kong.yml`.
- Start Kong (expecting migrations will fail again, the output of this would be useful)
- cq

[2016-01-14 23:43] samek commented on #843
@thibaultCha sure..

I just changed to a new keyspace in config  which was not created before (kong65)
kong start
[code]
Describe keyspaces
[code]
describe tables
[code]
schema migrations
[code]

[2016-01-15 00:12] thefosk commented on #843
@samek so basically everything works, dnsmasq is properly being queried and is resolving the address, yet nginx is still unable to resolve the host?

[2016-01-15 01:49] thibaultCha commented on #843
I just setup a 3 nodes Cassandra cluster running in Docker containers and used the `Mashape/kong:samek` Dockerfile and yet I was still unable to reproduce the issue. All migrations run smoothly and propagate to all 3 nodes.

[code]

Any major difference with such a setup in yours?

[2016-01-15 06:06] samek commented on #843
@thibaultCha Differences:
 - Mine is on 3 separate machines
 - Not in the docker
 - Setup of nodes is done by the mesos framework.

nodetool
[code]

In couple of hours I'll make another cluster by hand (in docker) and try on that, then I'll make another one with mesos framework.
I'll let you know.

[2016-01-15 10:13] samek commented on #843
@thibaultCha So,
I've made a 3 node  cassandra cluster with
- cassandra:2.1.12 - not working
- cassandra:2.2.4   - not working
- cassandra:latest  (which is 3.1.1) - different error (it doesn't migrate at all)
[code]

I've started nodes like this:
First node , wait until it settles (IP 10.0.0.208)
[code]
Second node, wait until it actually joins  (IP 10.0.0.197)
[code]
Third node (IP 10.0.0.48)
[c

[2016-01-15 12:59] samek commented on #843
@thefosk  about non-resolvable hosts ..
The change from 0.6.0rc1 and rc2 is
ipv6=off
[code]

If I add ipv6=off then it works like it should.

[2016-01-15 19:15] Tieske commented on #157
I've been looking into this, and it seems there is little we can reuse.

Considering that we have multiple api's to support, which must be configured with their own set of peers. Within this set we must load balance requests.

With the tools at hand, we cannot dynamically create upstreams (upstream per api). We also cannot dynamically add servers to an upstream. So if that cannot be done, then the

[2016-01-15 19:19] agentzh commented on #157
FWIW, @doujiang24 is building dynamic consistent hash balancing Lua libraries with Lua and C, which aims for the context of balancer_by_lua*. His work is meant to be included in the official OpenResty distribution, eventually :)

[2016-01-15 22:11] thefosk commented on #843
@samek thanks so much for spotting this - somehow it went missing and I am pretty sure it would have been very hard for me to notice it.

[2016-01-15 23:34] thibaultCha commented on #843
Yes Cassandra 3.0 is not supported. Let me try your setup.

[2016-01-16 00:38] thibaultCha commented on #843
I am very much unable to reproduce your setup:

- How come you are binding the containers' ports to the same host port? 9042 and 7000 every time? Are your containers running in separate machines?
- Even by changing them, I always get a `java.lang.RuntimeException: Unable to gossip with any seeds` exception when starting nodes 2 and 3, who cannot contact the seed node (the containers are not linked

[2016-01-16 05:25] thibaultCha commented on #843
After a lot of digging, I did found an issue with the driver. It seems that somehow, I was silly enough to implement the check on this consensus timeout the other way around. Sadly, this is something very hard to test and I never noticed the error because the use cases never happened to me or in the CI :(

Anyways, [this](https://github.com/thibaultCha/lua-cassandra/pull/24/files#diff-ec126ebe12c6

[2016-01-16 10:33] akurkin commented on #331
+1

[2016-01-16 10:45] samek commented on #843
@thibaultCha Yes I was running them on separate machines -  CoreOS.
I'll try with the change and let you know.

[2016-01-16 11:58] PGBI opened #882 "Oauth2 - authorization code flow - knowing if a user already authorized a client app."
I'm trying to put in place the oauth2 authorization code flow as explained here https://getkong.org/plugins/oauth2-authentication/#the-flow-explained

At step 3, once the user is identified by the webapp, i'd like the webapp to be able to know if the user has already authorized the client application in order not to ask him again if he already did. I didn't find anything in Kong API to retrieve su

[2016-01-16 15:21] RussellLuo opened #883 "Support for database abstraction."
Kong is awesome in many aspects, but I can not use it in my work now.

The major problem is that **Kong only supports Cassandra**, which is not used in our company (we use MongoDB). And it is a hard work to add a new database dependency.

There have been some related issues #183, #331. But I open this issue not to request a new specific database support, but to suggest a database abstraction (or d

[2016-01-16 16:57] ahmadnassri commented on #883
thanks @russelluo that's actually the plan and the next item on our list to get to #183 & #331

will keep this issue open for tracking progress.

[2016-01-16 17:13] samek commented on #843
@thibaultCha I've took rc2, and replaced
cassandra.lua
cassandra/options.lua
in  /usr/local/share/lua/5.1

Tried it 2 times in two different keyspaces and it always worked.
Before It never (for me) went through migrations in one go before, so I guess this  solves the problem.

[code]

[2016-01-16 17:21] samek commented on #879
@sinzone  exactly this is what we're using.
UDP log ---> logStash --> Elastic search, then view it in Kibana .

[2016-01-16 17:55] akurkin commented on #183
+1

[2016-01-16 18:59] nhuray commented on #183
+1

[2016-01-16 21:15] thibaultCha commented on #843
Amazing! That's great news. I will merge the patch, release the driver and update the dependency today. Thanks again!

[2016-01-16 21:24] thibaultCha commented on #883
Well, technically database abstraction has always been on our mind and is almost already supported. Kong used to support both SQLite and Cassandra in its early days. The current design is already a pluggable DAO system and you can already write your own DAO for a given database.

I say "almost" already supported because as of now, it would require some small updates to make the tests run for any D

[2016-01-17 02:18] RussellLuo commented on #883
Thanks for your reply, @ahmadnassri and @thibaultCha.

Sorry for not mentioning DAO. The existing DAO system is already the database abstraction in Kong, but it needs more improvement to make the work of database customizing easier.

Therefore, strictly speaking, what I really want is a more generic DAO system. While all of Kong itself, plugins and tests use the exact same db interface provided by

[2016-01-18 19:22] scottefein opened #884 "Error with nginx_conf on 0.6.0 RC2"
2016/01/18 19:19:19 [emerg] 6833#0: directive "listen" is not terminated by ";" in /usr/local/kong/nginx.conf:73

Which is this " listen {{proxy_port}};"

Here's a copy of that file from my box. This was when I reinstalled Kong on the box, was not a fresh install.

[code]

[2016-01-18 19:30] scottefein commented on #884
Confirmed with a fresh install:
[INFO] Leaving cluster..
[ERR] nginx: [emerg] directive "listen" is not terminated by ";" in /usr/local/kong/nginx.conf:73

[2016-01-18 19:31] thibaultCha commented on #884
Hi,

Could we see the entire config file from Kong?

[2016-01-18 19:31] thibaultCha commented on #884
(Mainly the property names, you can leave the values out if you like)

[2016-01-18 19:41] scottefein commented on #884
Yup, that was my bad. I paste my NGINX Config separately from the rest (due to templating stuff) and it wasn't refreshing it from the .5.0 version. Closing!

[2016-01-18 19:41] #884 closed

[2016-01-19 00:37] ryane opened #886 "prepared query errors on multi-node Cassandra cluster"
I am trying to deploy Kong (0.5.4) and am using a 3-node cassandra cluster that is registered in consul. Here is my database-related configuration.

[code]

And here is how the host resolves:

[code]

I can confirm that cassandra is listening on 9042 on all of those nodes.

With this configuration, Kong intermittently is returning errors. For example, here is the output when making requests agains

[2016-01-19 03:10] thibaultCha commented on #886
This is a known issue and has been resolved in 0.6.

[2016-01-19 03:11] thibaultCha commented on #886
(It is not entirely related to #660 but the new driver provides much better support for prepared queries which also has the nice side benefit of fixing those occasional errors)

[2016-01-19 05:39] t1tcrucible opened #887 "OAuth2 provision_key is not returned anymore when adding oauth2 plugin on an api in v0.5.4"
When using Kong v0.5.4 - after applying an oauth2 policy to a pre-created api. The response lacks the provision_key.
When I rollback to Kong v0.5.3 - the provision_key is back. I checked in the release notes and documentation; but it seems that the provision_key is still expected. Is that correct?

[2016-01-19 08:11] subnetmarco opened #888 "AWS Kinesis support"
Being able to store logs into [AWS Kinesis](https://aws.amazon.com/kinesis/).

This library can be used: https://github.com/adobe-apiplatform/api-gateway-aws

[2016-01-19 08:22] thefosk opened #889 "collectd integration"
Being able to send logs to [collectd](https://collectd.org/), which will also allow us to support services like [signal fx](https://signalfx.com/).

[2016-01-19 08:24] thefosk commented on #505
After 0.6.0 we can start working on this issue.

[2016-01-19 08:40] thefosk commented on #177
An alternative could be https://github.com/cloudflare/lua-resty-json which they claim is faster than cjson.

[2016-01-19 08:46] thibaultCha commented on #177
It does not have an encoder. This was more for the limitations of cjson in terms of encoding (of empty arrays) for plugins rather than speed (for in memory cache), which should not use any expensive serialization at all.

[2016-01-19 11:51] siddharthkchatterjee opened #890 "Kong responds with a 401 with no Auth plugin enabled and no Authorization header in request"
Kong (kong-0.5.4-1, CASSANDRA_VERSION=2.1.10) seems to be in some kind of inconsistent state where the lack of an `Authorization` header results in a `401 Unauthorized` response even though the HMAC plugin is **not** enabled on the route.

Calling /tag-list/plugins for a route called `tag-list` returns this —

[code]

We use some JavaScript to setup our routes on Kong. This inconsistent state only

[2016-01-19 19:15] thibaultCha commented on #569
Closing because implemented and soon to be released in 0.6.0 stable.

[2016-01-19 20:23] joshuaswilcox commented on #610
I am as well:

    OS X 10.11.3

Installed kong from source with

    make install

also

    -> which nginx
    -> /usr/local/bin/nginx

and the find commands produces

    /usr/local/Cellar/nginx/1.8.0/bin/nginx

[2016-01-19 20:33] scottschulthess commented on #610
Yeah I installed kong and nginx through homebrew.

[code]

[2016-01-19 21:55] msmathers commented on #331
+1

[2016-01-19 23:52] ahmadnassri opened #892 "*-log - 4xx response from Kong are not logged"
when Kong responds in a `4xx` _(e.g. `401`, `403`)_ the logging plugins (all `*-log` and Galileo) are not logging those requests.

this might affect runscope as well.

[2016-01-19 23:57] thefosk commented on #892
I think this happens when a plugin terminates the request, but not when the usptream service returns a `4**` response.

[2016-01-20 00:40] thibaultCha commented on #892
Yes, logging plugins have always been intended to log *successful* requests.

See #490 and https://groups.google.com/forum/#!topic/konglayer/Dx45HAHdf8k for why.

[2016-01-20 00:42] nijikokun commented on #892
Perhaps it should be configurable based on the client's needs. Such as per *method*, *status code*, *path*, and *headers*.

Not sure whether we want to get into filtering out certain strings and data that is being passed but I know for a fact that certain logging utilities (raygun) already provide such a service in their agents and libraries.

[2016-01-20 01:53] jusw85 commented on #340
:+1:

[2016-01-20 02:27] ryane commented on #886
Thanks, I just had a chance to test with 0.6.0rc3 and it is working much better.

[2016-01-20 02:27] #886 closed

[2016-01-20 03:12] ahmadnassri commented on #490
this is a valid issue and should not have been closed, now being tracked in https://github.com/Mashape/kong/issues/892

[2016-01-20 03:14] ahmadnassri commented on #892
we'll have to come up with a possible solution for logging errors in this scenario, a production system would be lacking if those types of errors are not captured in logs.

[2016-01-20 04:36] t1tcrucible commented on #887
For information, we could work around this issue. In stead of expecting Kong to generate automatically a UUID as provision key - we add the provision_key as a parameter when adding the OAuth plugin to an API.

[2016-01-20 05:25] ahmadnassri opened #893 "proposal: rename "api" to "route""
- adding an "API" is not a clear description of the actual behaviour it produces, its better described as adding a "route"
- users may or many not be actually routing to "APIs", different term clashes here (API, vs Microservice, vs Service, etc ...)
- ability to support Websockets (https://github.com/Mashape/kong/issues/218) and Forward Proxying (https://github.com/Mashape/kong/issues/214) in the

[2016-01-20 05:45] sinzone commented on #893
could be just "service"

[2016-01-20 05:50] ahmadnassri commented on #893
that would also work, but "route" is the most descriptive of its actual role.

[2016-01-20 05:54] thibaultCha commented on #893
Originally proposed this so I agree.

- "Route" is confusing when you have request_path and request_host (especially multiple request_paths for a given "API", since those are your actual routes.

- "Services" is more abstract but confusing in the context of a forward proxy setup where your upstream is literally anything.

[2016-01-20 06:17] sinzone commented on #893
then, maybe we don't want to do everything. we stay focused on APIs. we're API mgmt. after all.

[2016-01-20 07:15] thefosk commented on #887
@t1tcrucible I cannot replicate this problem - is there any exception in the `error.log` file?

[2016-01-20 07:16] thefosk commented on #893
I think `route` is confusing and could be interpreted as "endpoint".

[2016-01-20 07:49] ahmadnassri commented on #893
other naming from nginx's usage: `server`, `location`

I kinda like `location` as a substitution to `route` with same meaning.

[2016-01-21 11:23] livingos commented on #234
+1 for a throttling plugin. One of the missing features compared to alternative solutions.

[2016-01-21 13:52] KrishnaPG opened #894 "Is it possible to use Kong transparently ?"
We are evaluating Kong, and from the quick example [here](https://getkong.org/docs/0.5.x/getting-started/adding-your-api/) it looks like Kong needs a `header` to be explicitly set by end-user to function properly.

This requires our customer to know two things: 1. the front end Kong proxy and 2. the back-end real host, which is not an ideal situation.

It is possible to make Kong work transparentl

[2016-01-21 16:28] ahmadnassri commented on #894
yes, path based routing is available out of the box.

`request_path` and `request_host` are semi optional, meaning you can use either one to define your API

[2016-01-21 16:30] marianudo commented on #331
+1

[2016-01-21 16:32] talldave commented on #331
+1

[2016-01-21 18:51] ryanwilsonperkin commented on #892
Hey all, I'd love to weigh in on this since it's a feature we'd be interested in taking advantage of. We're hoping to use the rate-limiting plugin and use Galileo for visualizing of how many requests are being rate limited, and especially being able to break those down by header or path. We'd also love to visualize this for other plugins, such as how many requests are being rejected for authentica

[2016-01-21 18:55] danlopez00 commented on #331
+1

Also a Redis and or ElasticSearch backend would be amazing. Please look at what AWS RDS has, so that a team does not have to worry about scaling the backend

[2016-01-21 19:31] nijikokun commented on #893
I'm in favor of `upstream` or `api`.

`upstream` because that's what it is.

`api` because it's short and already exists, no change required.

[2016-01-21 20:45] danlopez00 commented on #888
+1

[2016-01-21 21:55] #894 closed

[2016-01-21 22:14] ahmadnassri commented on #651
@thefosk can this be closed now with the features introduced in 0.6.0-RC?

[2016-01-21 22:15] #683 closed

[2016-01-21 22:31] ahmadnassri commented on #890
would this be better titled as:

?

[2016-01-21 22:35] shashiranjan84 commented on #890
@siddharthkchatterjee what makes you conclude that HMAC plugin throwing `401`

[2016-01-21 22:47] shashiranjan84 commented on #890
@thefosk it seems like invalidation problem, do 0.6.0 resolve this issue?

[2016-01-22 03:49] #726 closed

[2016-01-22 04:24] thefosk commented on #890
Can you create a test case on 'next' branch?

[2016-01-22 06:47] #681 closed

[2016-01-22 06:47] #880 closed

[2016-01-22 06:53] siddharthkchatterjee commented on #890
@shashiranjan84 The response is a 401, Unauthorized. I am pretty certain that is thrown by the plugin since adding an authorization header resolves this, if I'm not wrong.

@thefosk I will try to reproduce this on the latest 0.6.0rc (next).

[2016-01-22 07:56] vandiedakaf commented on #605
+1

[2016-01-22 20:40] #651 closed

[2016-01-22 20:41] #843 closed

[2016-01-22 20:48] thefosk commented on #324
Just want to point out that this change would be a breaking change and our users will need to update their implementations - not sure it's worth it.

[2016-01-22 20:56] thefosk commented on #369
The proposed solution would be to support the following properties on the API object:

* `request_hosts` (instead of `request_host`)
* `request_paths` (instead of `request_path`)

Both would support a list of values, and both would support named parameters with regex support, like: `api.$environment(staging|production).helloworld.com` or `/accounts/$user/invoices/$invoice_id(\d+)/`.

We still need

[2016-01-22 20:57] thefosk commented on #446
Closing in favor of #369.

[2016-01-22 20:57] #446 closed

[2016-01-22 21:00] thefosk commented on #463
I think that disabling the SSL port can be done by just not exposing it to the world, by putting a firewall rule in front of it or by using `iptables`. That would be the best solution that would not affect how plugins work.

[2016-01-22 21:00] #463 closed

[2016-01-22 21:01] thefosk commented on #483
This will be released in 0.6.0, and the route would be `/oauth2_tokens/:id`. Methods supported are `GET`, `PATCH`, `DELETE`.

[2016-01-22 21:01] #483 closed

[2016-01-22 21:02] thefosk commented on #483
Adding a note to myself to support `PUT`, and that will likely land into 0.6.1.

[2016-01-22 21:03] thefosk opened #897 "Support PUT in `/oauth2_tokens/`"
`PUT` is missing - related to #483.

[2016-01-22 21:04] thefosk commented on #455
@dirkmoors @thibaultCha updates on this issue?

[2016-01-22 21:04] thefosk commented on #491
@thibaultCha any updates?

[2016-01-22 21:08] thefosk commented on #510
Currently the rate-limiting increments the counters **before** it is being proxied to the upstream service in `access_by_lua`, basically ignoring any status code returned by the upstream service. To implement this feature, the increment needs to happen into `header_filter_by_lua`.

The schema should support this additional property: `config.ignore_status_codes` which can be an array of status code

[2016-01-22 21:11] thefosk commented on #528
Closing this since [kongfig](https://github.com/mybuilder/kongfig) already seems to provide a way of doing this.

[2016-01-22 21:11] #528 closed

[2016-01-22 21:11] #569 closed

[2016-01-22 21:14] thefosk commented on #593
I have decided to update my distribution script to create a CentOS5-like distribution specifically for AWS - this will take effect starting from 0.6.0

[2016-01-22 21:14] #593 closed

[2016-01-22 21:14] thefosk commented on #604
Implemented in 0.6.0

[2016-01-22 21:14] #604 closed

[2016-01-22 21:16] thefosk commented on #716
With event invalidations this is not as urgent anymore. We can close and explore the possibility with new data in the future.

[2016-01-22 21:16] #716 closed

[2016-01-22 21:18] thefosk commented on #680
@dcberg can you achieve this isolation by having a firewall rule that prevents accessing the admin API from untrusted sources? As for scaling, the Admin API is very lightweight and scaling it independently from the proxy server is not necessary imho.

Thoughts?

[2016-01-22 21:18] thefosk commented on #709
@thibaultCha we did some changes on `kong.lua` in 0.6.0 - does this issue need any update given the new code?

[2016-01-22 21:20] thefosk commented on #725
0.6.0 generates real UUIDs using a new library - this issue should be fixed. Please reopen it if you experience the issue again.

[2016-01-22 21:20] #725 closed

[2016-01-22 21:20] #730 closed

[2016-01-22 21:23] thefosk commented on #740
This possibility seems to be blocked by a limitation of OpenResty (https://github.com/openresty/lua-nginx-module/issues/331#issuecomment-164989178).

[2016-01-22 21:24] thefosk commented on #761
@jney were you able to figure this out?

[2016-01-22 21:25] thefosk commented on #786
@mansilladev just checking in on this issue - were you able to replicate this problem?

[2016-01-22 21:27] thefosk commented on #719
Related to https://github.com/Mashape/kong-dist-cloudformation/issues/5

[2016-01-22 21:36] maestr0 opened #898 "How to secure access to the Admin API? [question]"
How to secure access to the Admin API?

I run my Kong instance in AWS in a private VPC behind an ELB with a public IP.
The proxy (port 8000) is available to the public via ELB on port 443.
The admin API is also available on the ELB on a different port but a security group policy on the ELB blocks access from the internet. The access is allowed only from my internal network.

I want to add more sec

[2016-01-22 21:55] Tieske commented on #898
yes, route it through kong and add an authentication plugin

see also https://groups.google.com/forum/#!topic/konglayer/veIk6o-UXuY

[2016-01-22 21:55] #898 closed

[2016-01-22 21:57] thibaultCha commented on #898
This subject is worth a documentation section but it has not been written yet. We always suggest various ways of doing so (that also combine together), including the solution you thought of:

- Configure a firewall
- Looping through Kong (the solution you proposed, maybe combine with firewalling)
- Editing the Nginx configuration available in `kong.yml` (in the Admin API server block) to add direc

[2016-01-22 22:03] sinzone commented on #898
Later this year we'll also release a new product to manage, monitor and secure your Kong cluster.

[2016-01-23 01:03] andyfleming commented on #331
+1 for supporting RDS instance on AWS. Aurora would be great too.

[2016-01-23 01:50] abtreece commented on #331
+1 PostgreSQL (RDS)

[2016-01-23 20:05] jney commented on #761
we had a sinatra/heroku webservice, we migrated to lapis/aws.
the problem is not present anymore.
my feeling is i should blame sinatra, but i haven't dig enough

[2016-01-24 04:12] kiwicopple commented on #852
@thefosk apologies for the glacial response time.

For reference, the original error (without CORS plugin) was this:
**Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:8100' is therefore not allowed access. The response had HTTP status code 401.**

I can enable the CORS plugin wit

[2016-01-24 09:03] kiwicopple commented on #852
Just an update, I got around the **XMLHttpRequest cannot load . The 'Access-Control-Allow-Origin' header contains multiple values '*, ' is therefore not allowed access** issue, but I had to make some modifications to the plugin CORS plugin itself. I won't submit a pull request because I don't think it is the correct logic, but below are the steps I took to correct it on my server at runtime -

Ena

[2016-01-24 17:50] rafael commented on #483
Nice!  :rocket:

[2016-01-25 00:01] thefosk commented on #761
Okay I am closing this for now - feel free to reopen if the problem arises again.

[2016-01-25 00:01] #761 closed

[2016-01-25 08:11] dirkmoors commented on #455
@thefosk Not from my side, I guess it's Cassandra's behavior, so unrelated to Kong.

[2016-01-25 11:37] siddharthkchatterjee commented on #890
@shashiranjan84 @thefosk

This still occurs on the `next` branch.

[2016-01-25 13:47] siddharthkchatterjee commented on #677
@ahmadnassri Any update on when we can expect this?

[2016-01-25 13:47] siddharthkchatterjee commented on #331
+1

[2016-01-25 14:10] RolfKoenders commented on #331
+1

[2016-01-25 15:30] lucamaraschi commented on #157
:+1:

[2016-01-25 21:25] jkarneges commented on #278
We discussed this issue today and decided that Pushpin should always live in front of Kong, and that the Pushpin plugin would configure Pushpin how to behave as well as act as a publish relay so that published traffic can be captured. Kong will configure Pushpin via HTTP. It will be possible to set up the plugin per-API, with independent pubsub channel scopes.

Tasks:
* Pushpin needs a way to have

[2016-01-25 21:42] thefosk commented on #278
Next steps:

* Provide the specification for the HTTP API that the plugin will invoke when configuring the plugin for the first time
* Provide the specification for the publishing HTTP API that will be invoked by the `/pushpin/publish` endpoint.

[2016-01-25 21:43] sundarseswaran opened #900 "Is it possible get libGeoIP support for Kong."
It will be good to whitelist geo locations from where the APIs can be accessed.

[2016-01-25 22:10] vbaranov commented on #821
Steps to reproduce at kong 0.5.4:
1. `curl -i -X POST --url http://localhost:8001/apis/ --data 'name=test' --data 'upstream_url=http://helloworld.com/' --data 'request_host=test'`
2. `curl -X POST http://localhost:8001/apis/test/plugins --data "name=request-transformer" --data "config.add.querystring=where:%7B%22foo%22%3A%22bar%22%7D"`
3. Postman api plugins [request](https://monosnap.com/file/pnc

[2016-01-25 22:10] #821 closed

[2016-01-25 22:56] jkarneges commented on #278
Configuration:
[code]
[code]

Publishing:
[code]
[code]

A publish request may contain multiple items to publish, and each item may contain a number of fields. Rather than have Kong be fully aware of all possible item fields, it should copy the whole JSON and modify it before relaying to Pushpin. The only modification needed is to prepend the channel with the route ID (which we will say is the API

[2016-01-25 23:10] thefosk opened #901 "Impossible to retrieve clear auto-generated basic authentication password"
When creating the credentials for Basic Authentication, if the password is not specified the system will auto-generate a password. The problem is the API response doesn't give back the clear-text password that has been auto-generated, thus is impossible to use.

[2016-01-25 23:13] thibaultCha commented on #901
Duplicate of #771, which has more subtleties, but includes this:

[2016-01-25 23:52] #455 closed

[2016-01-26 00:23] thefosk opened #902 "Timeout configuration options for Cassandra"
To be able to specify connection and operations timeout.

[2016-01-26 03:27] thefosk opened #903 "Better http_client.lua"
That can handle requests for both LuaSocket and OpenResty.

[2016-01-26 03:40] thibaultCha commented on #903
Even better would be to drop LuaSocket support and run the CLI and the tests with the `resty` interpreter. From there we can use https://github.com/pintsized/lua-resty-http directly.

[2016-01-26 03:49] thefosk commented on #903
We would still need to rewrite `http_client.lua` because we are making requests in multiple places now, the HTTP Log plugin and the upcoming Pushpin plugin (and I can see it being by other plugins too).

[2016-01-26 03:55] thibaultCha commented on #903
No we wouldn't, we would just switch to using lua-resty-http.

[2016-01-26 04:07] thefosk commented on #903
I will use https://luarocks.org/modules/pintsized/lua-resty-http for inside openresty.

[2016-01-26 08:13] thefosk opened #904 "Bug when sending data in HTTP Log"
We are [appending](https://github.com/Mashape/kong/blob/master/kong/plugins/http-log/handler.lua#L71) a final `\r\n` to the data, that's not required and it's not even being included in `Content-Length`. This could be fixed by implementing #903. Or could be fixed separately as a hotfix.

[2016-01-26 09:36] worktick opened #905 "0.6.0 rpm seems to have wrong kong.core.reports"
Hey guys

Just pulled this down and installed on a vanilla CentOS6.7 machine and received a warning about "reports.enable" in core/kong.lua (line: 135). I cracked open kong/core/reports.lua and the file doesn't match what's in the master or next branches - it's missing the .enable function.

Could you repackage pleasums?

[2016-01-26 19:03] thefosk commented on #905
@worktick I have just pulled this file https://github.com/Mashape/kong/releases/download/0.6.0/kong-0.6.0.el6.noarch.rpm and after installing it I am seeing the `enable` function being returned by `/kong/core/reports.lua`. This are the ending lines:

[code]

[2016-01-26 20:13] thibaultCha commented on #905
@worktick Would you mind showing us the stacktrace (if any) you see in the logs? I assume there is one from your original message?

[2016-01-26 22:33] BrianHutchison commented on #378
+1

[2016-01-27 18:50] ahmadnassri commented on #660
0.6 is now released which includes the changes described here.

[2016-01-27 18:50] #660 closed

[2016-01-27 18:52] ahmadnassri commented on #414
done and released in 0.6

[2016-01-27 18:52] #414 closed

[2016-01-27 18:56] shashiranjan84 commented on #393
@jkarneges we released kong 0.6.0 with the fix. now 'add' only add if header is not already set. we also 'append' to append values to already set header.

[2016-01-27 18:56] #393 closed

[2016-01-27 20:53] thibaultCha commented on #690
In 0.6.0 too.

[2016-01-27 20:53] #690 closed

[2016-01-27 21:31] jkarneges commented on #278
The necessary Pushpin changes have been implemented in the kong-stuff branch of the pushpin git.

[2016-01-27 22:46] nikz commented on #893
I vote for `route`. Could we alias it for a while until people have time to adjust?

[2016-01-27 22:49] thefosk commented on #893
This proposal was made because it was inserted in a wider context of changing how the resolver works. We should discuss that idea first, and then the implementation details.

On a side note Kong is a gateway for APIs and microservices, and people add APIs and services to it - adding routes would change that perspective, so this is not just a renaming issue.

[2016-01-28 03:52] thibaultCha commented on #331
I have been working on integrating Postgres for a few days now, and I would like to know which version of Postgres people use, and if they are locked on that specific version or not. Since RDS supports 9.4, I take it as a good metric but I would still like to know if people use an older version, and if they're not willing to upgrade.

Feedback is appreciated.

[2016-01-28 06:39] owahlen commented on #331
Hello Thibault,
it is very good news that work on postgres has started!
In our team we use a recent version of postgres from AWS.
Currently we are not bound to a specific version or feature.

Best regards,
Oliver

Am 28.01.2016 um 04:52 schrieb Thibault Charbonnier <
notifications@github.com>:

I have been working on integrating Postgres for a few days now, and I would
like to know which version o

[2016-01-28 08:28] worktick commented on #905
Hey guys, thanks for looking into this - I re-ran the installation on a clean CentOS box and then reveiwed the installed files from an RPM I downloaded before reporting the issue. It all worked as expected and the file was as expected too.

Thanks again for looking into this but I think I wasted your time with this issue, the actual issue was seen on a colleagues machine and I just assumed he'd pu

[2016-01-28 08:28] #905 closed

[2016-01-28 11:00] opyate opened #909 "lbase64 version 20120820-1 dependency issue"
Here and [elsewhere](https://github.com/x25/luajwt/issues/2) devs seem to have issues with installing lbase64 version 20120820-1.

I can see it [listed on luarocks.org](https://luarocks.org/modules/luarocks/lbase64/20120820-1), but the CLI can't find it:

[code]

I asked on Lua IRC:

[code]

Please advise, thanks.

[2016-01-28 11:37] dingziran opened #910 "galileo lost some requests"
When I sent 10 requests to the kong, there is only one or two requests on galileo dashboard.
I tried many times. Is this a bug?

[2016-01-28 13:16] thorstenz commented on #331
Hello Thibault,

great news!

Postgres version 9.4 is in use here.
Not bound to a specific version: everything >= 9.4 would be super.

Best

Thorsten

[2016-01-28 14:40] dag24 commented on #839
+1, this would be particularly useful when the redirect from the upstream host is unreachable from the end user's machine, but is reachable by Kong (e.g. Kong is exposing an internal service).

[2016-01-28 14:52] abtreece commented on #331
We are using 9.2+. Would use RDS for our Kong installation so that is a good baseline!

[2016-01-28 19:13] thibaultCha commented on #910
There is an easy way to know what Kong sent to the Galileo collector by changing your logging level to debug in the Nginx configuration. Kong will output messages indicating how many requests were sent and accepted by the collector and looking like this:

[[mashape-analytics] successfully saved the batch. (xx/10)](https://github.com/Mashape/kong/blob/master/kong/plugins/mashape-analytics/buffer.lu

[2016-01-28 19:23] thibaultCha commented on #909
I can see it with the same command:

[code]

[2016-01-28 23:41] supermario commented on #331
We are using 9.4. :smiley:

[2016-01-29 00:28] thefosk commented on #505
I am going to start writing black on white some ides. To implement this feature we could introduce the concept of consumer and plugins mapping, and routes/filters.

Both plugins and consumers can be created globally, and then they can be restricted to an API with an explicit mapping. Plugins and consumers can also be optionally grouped, and the group itself can be restricted to an API.

Each consu

[2016-01-29 03:45] thefosk opened #912 "Make rate-limiting and quota rate-limiting plugins work when DB is down"
Introduces a new option to establish if the rate-limiting and response rate-limiting plugin should work even if the DB is down.

This means that if provider decides to enable this feature, and the DB is down, requests will go through anyways. If the feature is disabled instead (default behavior), then the user will see 500 errors like he used to.

[2016-01-29 03:46] subnetmarco opened #913 "Being able to exclude some fields from logs"
Being able to exclude some fields from the logs, for example sensitive data that should never be logged.

Those fields can be headers, querystring parameters, or in the body.

[2016-01-29 03:50] dingziran commented on #910
Hi @therebelrobot . Thanks for your help. My Kong version is 0.5.4.
I am running it on ubuntu 14.04. And the kong is installed using Docker.

[2016-01-29 04:49] thefosk opened #914 "Replace the SSL plugin cert and key conversion implementation"
Instead of directly invoking openssl, invoke the utility functions provided by `ssl_certificate_by_lua`.

`cert_to_der` etc.

[2016-01-29 05:03] thefosk opened #915 "Adding the Cassandra SSL certificate to lua_ssl_trusted_certificate"
Reimplement this directive https://github.com/Mashape/kong/blob/0.5.4/kong/cli/utils/signal.lua#L106

[2016-01-29 05:37] sinzone commented on #913
I think you can do that with Galileo already @nijikokun

[2016-01-29 06:35] dingziran commented on #910
[code]

[2016-01-29 07:57] thibaultCha commented on #910
Well, it seems Kong cannot send data to Galileo because the connection to it is timing out. Galileo peeps is who you need to contact at this point, I'll let @therebelrobot oversight this.

[2016-01-29 08:18] siddharthkchatterjee commented on #331
We are using 9.4 as well, on RDS.

[2016-01-29 08:49] andyfleming commented on #331
We aren't using Postgres for anything now. We're happy if it runs on RDS.

[2016-01-29 10:13] RolfKoenders commented on #331
We are using 9.4 as well, on RDS.

[2016-01-29 10:54] opyate commented on #909
Is there some magic to `luarocks` that I don't understand?

I tried on my home network (before it was on corporate network):

[code]

Getting 3 less results, but also still no `20120820-1`.

@thibaultCha  Please send me your luarocks config and/or mirror list.

[2016-01-29 11:06] opyate commented on #909
I found extra `rocks_servers` with [this query](https://github.com/search?p=1&q=rocks_servers&type=Code&utf8=%E2%9C%93), and added it to `~/.luarocks/config.lua`:

[code]

Now the query yields more results, plus the evasive lbase64 version:

[code]

I'll create a separate PR for this to fix the "contributing" docs.

[2016-01-29 11:06] #909 closed

[2016-01-29 12:25] lindo-jmm commented on #183
Installing Cassandra is a complete nightmare.

[2016-01-29 16:26] pklingem commented on #331
9.4 is great for us.

[2016-01-29 18:46] JnMik opened #919 "Issue with 0.6, cassandra contact_points not altered."
Hello guys

I ran some tests with 0.6 and got this error while using docker-compose.

[code]

For some reason, kong seems to consider my contact_points as 127.0.0.1 even if I hardcode another IP in kong.yml, or if I use cassandra:9042 and pass the links accordingly.

Note that the problem doesn't occurs with usual "docker run" command so it's a bit odd.
I also don't have this problem with 0.5.4.

[2016-01-29 18:51] thibaultCha commented on #919
As documented in the changelog and upgrade path (on mobile now) the configuration format changed between 0.5 and 0.6 and the one you use for 0.6 appears to be wrong.

[2016-01-29 18:59] JnMik commented on #919
Well I did change the mentioned points, but I might have missed something.

It's like something might be missing from my kong.yml, therefore it would be ignored, and fallback to default kong.yml (with contact point 127.0.0.1).

[2016-01-29 19:04] JnMik commented on #919
When i'm trying to boot my container without any kong.yml (expecting the app to use the default one),
I end up with

[code]

[2016-01-29 19:15] samek commented on #919
Have a look at https://github.com/Mashape/kong/blob/master/kong.yml

How config should look like in 0.6.0. You're using old config

Sent from my iPhone

[2016-01-29 19:29] C4 commented on #331
Like others, Not using Postgres right now. But something RDS backed would be awesome.

[2016-01-29 19:41] JnMik commented on #919
Oh my god, right...  I think I messed up in a copy/paste somewhere. Let me check again

[2016-01-29 19:45] JnMik commented on #919
Much better with the right config lol !

[2016-01-29 19:45] #919 closed

[2016-01-29 19:48] sinzone commented on #183
@lindo-jmm https://www.instaclustr.com/products/kong/

[2016-01-29 20:06] mars opened #920 "Log streams go silent with Nginx `daemon off`"
With container runtimes like Docker & Heroku, the initial process of an app must remain running, attached to the parent process. Otherwise, when the process daemonizes, the container will appear finished.

For reference:
- [Heroku foreground execution](https://devcenter.heroku.com/articles/runtime-principles#foreground-execution)
- [Official Nginx Dockerfile `CMD`](https://github.com/nginxinc/dock

[2016-01-29 20:29] lindo-jmm commented on #183
I saw! Starting at $299/mo is a little steep for us unfortunately. I spun up a few Azure Hosts in Rancher w/ 128GB SSDs so I’ll just hope the pager doesn’t go off in the middle of the night.

[2016-01-29 21:53] mars commented on #920
Further exploration has revealed that this is symptomatic of a higher-level issue. (Though still unsure why exactly it did not become an issue until 0.6.0.)

The `kong start` command spawns all the services (nginx, dnsmasq, serf) and then exits. Ideally, to be compatible with containers like Docker & Heroku, `kong start` CLI would offer a "foreground" or "no-daemonize" mode so that it does not exi

[2016-01-29 22:25] sinzone commented on #183
@lindo-jmm maybe try w/ three nodes at $20/month?

[2016-01-29 22:27] lindo-jmm commented on #183
Do you think those are production ready, in your opinion?

On Fri, Jan 29, 2016 at 2:25 PM -0800, "Augusto Marietti" <notifications@github.com<mailto:notifications@github.com>> wrote:

@lindo-jmm<https://github.com/lindo-jmm> maybe try w/ three nodes at $20/month?

-
Reply to this email directly or view it on GitHub<https://github.com/Mashape/kong/issues/183#issuecomment-176997348>.

[2016-01-30 10:36] vinod-kumar-sharma opened #925 "Application Architecture help"
Hi,
I am staring my ecom website and I have many services to give to my user, like api for different services, and I wanted to manage all the user account at one place, like user can be buyer or developer or seller etc hence how can i put, single login mechanism for all time of user who are using different services on www.edorei.com.

Thanks
Vinod Sharma

[2016-01-30 10:39] #925 closed

[2016-01-30 12:24] pavkatar commented on #605
+1

[2016-01-30 23:03] thibaultCha commented on #920
Thanks for the detailed explanation, we'll investigate this. Still unsure where this is coming from...

Totally with you here.

[2016-01-31 02:34] lindo-jmm commented on #331
Not on AWS (Azure), but I have 9.4 running on a server. Love it!

[2016-01-31 21:59] nhuray commented on #331
+1

[2016-02-01 01:47] #904 closed

[2016-02-01 08:37] dingziran commented on #910
@therebelrobot Could you help me? I don't know what to do to debug this problem.
[code]

[2016-02-01 13:01] Tieske commented on #340
Billing plugin for Kong people asking for that in Gelato support

[2016-02-01 16:29] codebien opened #927 "502 Bad gateway in html format"
Kong version: 0.6.0

If upstream is unreachable Nginx returns a bad gateway response in HTML format. IMO a JSON response would be better.

Thank you for this great product!

[2016-02-01 17:24] codebien commented on #927
Sorry, I miss #163!

[2016-02-01 20:37] mars opened #928 "Foreground process model"
_Continuation of process model discussion that started in #920_
## Background

Currently, `kong start` is a [daemonizing](https://en.wikipedia.org/wiki/Daemon_%28computing%29) command. It exits after [spawning its services in the background, nginx, dnsmasq, & serf](https://github.com/Mashape/kong/blob/0.6.0/kong/cli/cmds/start.lua#L30).

This daemon process model is not compatible with container p

[2016-02-02 01:10] thibaultCha commented on #928
Hi Mars!

Great, thanks for the detailed feedback!

Yes, process management could definitely be handled better by Kong's CLI and avoid things like [this](https://github.com/Mashape/kong/blob/master/kong/cli/services/nginx.lua#L226) or [that](https://github.com/Mashape/kong/blob/master/kong/cli/services/serf.lua#L163) or even [sending signals through a shell invocation](https://github.com/Mashape/k

[2016-02-02 04:41] kenwarner commented on #331
9.4 on RDS is our use case as well.

[2016-02-02 06:47] dempe commented on #331
:+1: Any version would be fine for us.

[2016-02-02 22:12] AndrewDryga commented on #883
+1 for MongoDB

[2016-02-02 22:12] AndrewDryga commented on #183
+1

[2016-02-02 22:15] protetore commented on #331
We're using 9.3 on RDS.

[2016-02-02 22:21] thefosk commented on #915
This has been implemented with #921.

[2016-02-02 22:21] #915 closed

[2016-02-02 22:25] raviappdetex commented on #858
Any updates on the StormPath integration ?

[2016-02-03 00:01] thefosk commented on #927
This will require a configuration change and can land in 0.7.0. I will work on it.

[2016-02-03 00:02] thefosk commented on #782
@Toilal can you try this with the new 0.6.0 version? Just make sure that you follow the upgrade path to 0.6.0 since it introduces some breaking changes.

[2016-02-03 00:02] #689 closed

[2016-02-03 01:18] mars opened #933 "Source install: `serf_event.sh` not generated; LuaJIT cannot be found"
When installing from source, OpenResty itself installs LuaJIT at `$PREFIX/luajit/bin/luajit-2.1.0-alpha`

It seems that Kong does not honor the environment's `$PATH` to find LuaJIT, instead searching a fixed [table of paths](https://github.com/Mashape/kong/blob/0.6.0/kong/cli/services/base_service.lua#L20):
[code]

The result is that after building from source, the [Serf prepare method quietly bai

[2016-02-03 01:26] shashiranjan84 commented on #933
@mars you would need to put serf directory on the PATH. Check CI build for refrence

https://github.com/Mashape/kong/blob/master/.travis.yml

[2016-02-03 01:39] mars commented on #933
@shashiranjan84 In this situation, serf is started correctly:
[code]

…but the `serf_event.sh` file is missing:
[code]

Serf is clearly in the `PATH` already.

I'm pretty certain this is an issue with the [code that generates `serf_event.sh`](https://github.com/Mashape/kong/blob/0.6.0/kong/cli/services/serf.lua#L49).

[2016-02-03 02:01] thibaultCha commented on #933
There used to be a [special value](https://github.com/Mashape/kong/blob/0.5.4/kong/cli/utils/signal.lua#L54) in the Lua code for services executables which would search in the `$PATH` (no need to manually parse it). I am curious as to why it was removed.

Secondly, I do not see the need to check on the Lua side if LuaJIT is in the `$PATH`: if the Kong CLI is being executed at all, it means the `lu

[2016-02-03 02:11] thibaultCha commented on #933
Regarding this, I believe you would still have to add the `luajit` interpreter to your `$PATH` in order to run the CLI (as per the shebang link in my previous comment).

There are plans to make an install script which would install a properly *bundled/not-system-wide* Kong (LuaJIT + OpenResty + Luarocks + Kong resulting in something like `$PREFIX/bin/kong` and `$PREFIX/sbin/nginx|luajit|luarocks`)

[2016-02-03 02:16] thibaultCha commented on #933
Labelling this issue as a bug because of this.

Possible fixes:
- Re-implementing the empty value in the prefixes which triggers a search in the PATH ( believe this is needed regardless of wether or not we still do this check from Lua
- Think about the bash script being a better solution to find the LuaJIT interpreter (there might be no need to check this in the Lua side).

[2016-02-03 02:50] mars commented on #928
Hi @thibaultCha!

So true that running the processes from Lua would provide a minimalism & directness to the models at play inside Kong.

After investigating LuaPosix and the "subprocess" rocks mentioned above, writing a robust process control layer in Lua is going to be significant feature. LuaPosix (or a tiny part of it) is the foundation of those subprocess modules, which demonstrate how challe

[2016-02-03 07:25] Toilal commented on #782
It seems this version is not available on Docker hub. I really need this before installing it.

[2016-02-03 07:26] thibaultCha commented on #782
0.6.0 is on Dockerhub: https://hub.docker.com/r/mashape/kong/

[2016-02-03 07:29] Toilal commented on #782
It's in the README, but doesn't appear as a tag in this page. https://hub.docker.com/r/mashape/kong/tags/

And i actually pulled the image, it's still grab 0.5.4. 0.6.0rc3 is available, but not final. I'll try to build image myself though.

[2016-02-03 07:30] thibaultCha commented on #782
I see it in the list of tags though

[2016-02-03 07:35] Toilal commented on #782
Ho yes, you are right ! Damn docker hub UI, all tags are disordered :)

But there's still a problem with `latest`, which is still 2 month old ... It works if I pull `mashape/kong:0.6.0` explicitly, but when pulling mashape/kong I still get `0.5.4`.

[2016-02-03 07:39] thibaultCha commented on #782
Oh indeed, it seems Docker did not trigger the build when master was pushed for 0.6.0...

[2016-02-03 08:07] thefosk commented on #782
@Toilal can you try again to pull `latest` - I re-triggered the build.

[2016-02-03 08:14] thefosk commented on #933
A common reason why the `serf_event.sh` file is not created is because the process does not have write permissions to the folder. Can you try to `chmod -R +wr nginx_working_dir` and restart kong?

[2016-02-03 08:51] yuriyzinchenko opened #936 "Kong with docker-compose v2. problem with network"
Kong can't resolve cassandra host when starting. But the host ping is well from kong container. Maybe I should do it differently?

My docker-compose.yml:

[code]

Logs from kong:
[code]
Ping cassandra from kong container:

[code]
Docker version:

[code]
Compose version:

[code]

[2016-02-03 08:59] sinzone commented on #210
another useful resource http://cloudnative.io/blog/2015/02/the-dos-and-donts-of-bluegreen-deployment/

[2016-02-03 14:02] PGBI opened #938 "Mashape analytics plugin causing error after 0.6.0 upgrade"
After upgrading to v0.6.0, Kong was returning a 504 error when requesting a given API. The logs were showing:

[code]

After turning off the `log_body` option of the mashape-analytics plugin, and turning it on again, everything went back to normal.

Any idea what may causes this?

[2016-02-03 14:16] opyate commented on #920
This problem is masked in the docker-kong repo by the addition of `&& tail -f /log/...` in [this commit](https://github.com/Mashape/docker-kong/commit/33eb3edc61a191b4bc4067258ce34def01234eb7#diff-3254677a7917c6c01f55212f86c57fbfR14). Without the tail, the container exits.

[2016-02-03 15:12] opyate commented on #936
Add `restart: always` to the Kong definition, so Docker keeps restarting the container until Cassandra is up.

[2016-02-03 17:54] mars commented on #928
One of the beautiful things about this process model, as that all of their stderr streams flow through the parent process, merged into a unified stream.

Hopefully the plan for a native/Lua solution would include streaming logs instead of writing to various hardcoded log files in the Nginx temp dir. Let the host's process manager decided whether to redirect log streams to a local file or send them

[2016-02-03 18:47] mars commented on #933
**Symlinking OpenResty's LuaJIT binary into the `PATH` solves this issue.**

For example, if the configured prefix for OpenResty is `/app`:
[code]

…and `/app/bin` is in Kong's runtime `PATH`:
[code]
…then symlinking `luajit` into the `PATH` will allow `serf_event.sh` to be generated:
[code]

So it's now it seems obvious  :crystal_ball:  that [`IO.cmd_exists()` is used to check for the command in

[2016-02-03 20:48] thibaultCha commented on #938
Yes, there is even a fix for it in #931!

This should have happened after a request was interrupted, causing the ALF serializer to not have all the data it needs to build the log.

[2016-02-03 20:49] thefosk commented on #933
@mars that is correct - `IO.cmd_exists()` is used to check for the command into the env `PATH`, and it will fallback on those pre-defined location only if the command cannot be found.

[2016-02-03 20:55] thibaultCha commented on #933
I am confused now: since LuaJIT was not in your PATH, how were you able to use the Kong CLI? LuaJIT's interpreter must be in one's PATH to use Kong.

[2016-02-03 21:05] thefosk commented on #933
Maybe the `kong` executable hard codes the location of LuaJIT, like:

[code]

[2016-02-03 21:08] mars commented on #933
The reason Kong CLI worked for me, even though `luajit` was not in my path, is that `bin/kong` is generated as a shell script that explicitly loads package paths from build-time environment, and it couldn't find `luajit` either so defaulted to `lua` :fearful:

Here's what mine looks like from a source installation using custom prefix:
[code]

Clearly building from source is missing this LuaJIT lin

[2016-02-03 21:22] thefosk opened #942 "Better `immutable` schema check"
The `immutable` check has been implemented to avoid changing the value on an update. The current implementation has the side effect of breaking `PUT` requests that don't change the value.

For example if I submit a `PUT` request to change an object, without changing `created_at`, the request will return an error telling me I cannot update `created_at` (and I am not, since I am not changing its val

[2016-02-03 23:34] thefosk commented on #483
I confirm `PUT` support has been implemented and will land in 0.6.1

[2016-02-03 23:35] #897 closed

[2016-02-03 23:38] mars commented on #915
I'm using kong/master at 282481ba572bf4a6ed6172664cc6b8de7da0416a (which includes this commit) and cannot connect to Cassandra via SSL.

The same error as we experienced together at the meetup is occurring now:
[code]

I do have the template value in the Nginx config:
[code]

I see in the rendered `nginx.conf` that the value is inserted:
[code]

It references a valid certificate file (used success

[2016-02-04 00:04] thibaultCha commented on #915
Using the current master I have no problem connecting Kong to my local Cassandra cluster with SSL and certificate verification enabled:

[code]

Would you mind giving it a try?

[2016-02-04 01:08] mars commented on #915
Yes! Using kong/master at df123de2a1ee2dde5284cf6bc25da8b6622eb587 now allows Cassandra SSL certficates to be verified!

:fireworks: :cocktail:

[2016-02-04 01:10] thibaultCha commented on #915
Very good!

[2016-02-04 01:14] thibaultCha commented on #938
#931 has been merged and soon to be released.

[2016-02-04 01:14] #938 closed

[2016-02-04 01:15] thibaultCha commented on #933
Oh I see, alright then! Closing this?

[2016-02-04 01:22] mars commented on #933
This symlink doesn't make `luajit` used in `bin/kong`, but that's not this bug!

Might it be worth adding this step to the [Install from Source](https://getkong.org/install/source/) docs?

[2016-02-04 01:26] thibaultCha commented on #933
Are we talking about adding this step to it? I am confused now ^^

[2016-02-04 02:46] mars commented on #933
Yes, that is true. Specifically:

`ln -s $PREFIX/luajit/bin/luajit-2.1.0-alpha $PREFIX/bin/luajit`
is the symlink required from a source install of OpenResty.

`$PREFIX` is the value passed to OpenResty `./configure --prefix`

Clearly there are other ways `luajit` may be available, as long as it's findable on the env `PATH`. Using the one bundled with OpenResty avoids variability in the runtime CL

[2016-02-04 03:14] thibaultCha commented on #933
Yes, then this (having `luajit` in your `$PATH`) is already instructed in the installation steps (my quote comes from getkong.org/install)

[2016-02-04 04:04] mars commented on #933
Sounds good! Thanks everyone for the help. Source install is not for the faint of heart :8ball:

[2016-02-04 04:05] #933 closed

[2016-02-04 04:09] thibaultCha commented on #933
Yes, most definitely not! We're aware of it, and that's why we provide as many package distributions as we can.

I am really eager to start working on a proper source install setup (the one with `./configure --prefix=...` which bundles everything in the prefix). And just after that, allowing ENV variables for configuration. Those two features together would make Kong very easy to setup anywhere! I

[2016-02-04 05:41] ThorArakis opened #946 "Incompatible serf versions aren't messaged clearly"
It's a pretty small issue, but got me for a couple hours today. The error message returned when starting up kong with a bad version of serf is the same as if serf is totally missing:
[code]

It would be great if the error could be more explicit.

[2016-02-04 05:52] ThorArakis commented on #946
I was hoping it could be as simple as tossing in a warn somewhere around here: https://github.com/ThorArakis/kong/blob/master/kong/cli/services/serf.lua#L31
But my lua-foo isn't so strong and I'm struggling with calling warn/error in that method.

[2016-02-04 06:12] ThorArakis commented on #946
Possible fix: https://github.com/Mashape/kong/pull/947

[2016-02-04 08:05] ThorArakis opened #948 "Rate limiting per consumer (using jwt auth) doesn't appear to be working with a custom `key_claim_name`"
I am currently trying to get rate limiting working with the JWT plugin. I found the following use cases seem to work just fine:
global rate limiting (aka: rate limit not associated with a consumer_id) and using jwt auth with `iss` claim
rate limiting per consumer with `iss` claims
global rate limiting and auth when using `aud` as `config.key_claim_name`
fyi: I'm also using base_64 encoded keys

Ho

[2016-02-04 09:30] PGBI commented on #938
Thanks!

[2016-02-04 12:23] venquet opened #949 "Kong start error in Ubuntu 15"
![kongerror](https://cloud.githubusercontent.com/assets/1101530/12814833/0f654756-cb68-11e5-950c-f828b260b7f2.png)

Above error appears when we try to start the kong instance, configured cassandra in same machine changed/enabled the configuration in kong.yml to refer local cassandra instance.

[2016-02-04 14:53] stramel commented on #331
+1

[2016-02-04 17:19] ThorArakis commented on #949
At a glance it appears that it can't parse the changes you made to the config file. You might want to revert the change and see if it starts up. Otherwise try including your updated yml file since it could provide an easier way to find the culprit.

[2016-02-04 17:24] Toilal commented on #782
I experienced deployement issues with 0.6.0, but now all is deploying great with 0.6.1. I'll build my configuration an try ip_restriction feature ... stay tuned, thanks :)

[2016-02-04 19:06] mars opened #950 "/cluster API only lists self"
I have a two node Kong cluster, which for queries to the `/cluster` Admin API only returns a single member, the one servicing the API request.

Other than this error, Kong appears to be functioning correctly, able to start-up, connect to Cassandra via SSL, and service both proxy & admin requests.

Here's what the logs look like during one of these `/cluster` Admin API requests:
[code]

I've verifi

[2016-02-04 19:13] mars commented on #950
This issue is with Kong 0.6.1

[2016-02-04 19:45] mars commented on #950
Problem solved. Err, well, at least the cause is found.

I am working on running Kong using an external supervisor for #928, and found that because of #934, Kong's serf `self:_autojoin(node_name)` is never being called.

Closing as this an issue [in my fork](https://github.com/mars/kong/compare/master...external-supervisor)

[2016-02-04 19:45] #950 closed

[2016-02-04 19:51] thefosk commented on #782
Nice - I will close this now. Feel free to reopen if the problem persists.

[2016-02-04 20:01] thefosk commented on #949
I confirm, it seems like the YAML file is not valid (bad formatting or indentation probably).

[2016-02-04 20:04] thefosk commented on #950
@mars do also the Cassandra error disappear?

[2016-02-04 20:32] mars commented on #950
Howdy @thefosk !

I just tried adding [a conditional autojoin to `Kong.init`](https://github.com/mars/kong/compare/master...external-supervisor#diff-1ecba63a921d76cb50216469abdc43e2R140) to be executed only when using an external process supervisor.

This solved that the `/cluster` Admin API listed a single node.

But those Cassandra errors are still appearing.

[2016-02-04 20:46] thefosk commented on #950
@mars so, we really really want everybody to use auto-join, but there is a hidden configuration property that you can use to disable auto-join. It was intended for extreme debug/use-cases, and if a feature it's not documented it doesn't exist anyways :)

[code]

Regarding the Cassandra errors, it fails when executing this request:

[code]

maybe @thibaultCha can give more insights on the error?

[2016-02-04 20:58] mars commented on #933
BTW, here are all the prefix-related source install commands that finally made LuaJIT first-class for my build:

[code]

[2016-02-04 21:02] thibaultCha commented on #933
Yes, this is how Kong is installed in Travis (https://github.com/Mashape/kong/tree/master/.ci)

[2016-02-04 21:06] mars commented on #950
With my [auto-join in `Kong.init` addition](https://github.com/mars/kong/compare/master...external-supervisor#diff-1ecba63a921d76cb50216469abdc43e2R140), the cluster does populate with both nodes automatically. I don't think I need `auto-join: false` but I'm glad to know it's there.

Yes, that failing query is mysterious to me, because the "error" message is a contact point, not an error descripti

[2016-02-04 22:01] Toilal commented on #782
First of all, it seems that this plugin requires a restart of kong for new configuration to be effective. This detail is either a bug, or either lacking from docs (https://getkong.org/plugins/ip-restriction/#configuration).

Then, it blocks unauthorized IP trying to access the API properly. But with an authorized IP, it crash with the following error log:

[code]

This is the plugin configuration

[2016-02-04 22:25] thefosk commented on #782
Thanks for the logs - let me look into this. I will try to reproduce these problems in a test case.

[2016-02-05 03:59] nijikokun opened #954 "Timing / Performance Breakdown"
Effectively captures how much time each request takes through the lifecycle of a request.
- Capture time resolving request takes.
- Capture time each plugin takes.
- Capture time sending data back to client takes.
- Capture time talking to database, etc.

For Example:

[code]

Output could be done through apache log, or to other systems such as splunk, new relic, datadog, or any other tool using t

[2016-02-05 06:25] siddharthkchatterjee commented on #890
@thefosk Any update on this? We're unfortunately going to have to switch to another gateway if we can't fix this because it makes it pretty unusable for us if there is such inconsistency.

[2016-02-05 07:37] thibaultCha commented on #949
It would be good to simply `pcall` the `yaml.load` call and catch any error, and let the user know the YAML formatting is wrong rather than such an obscure error with an unfriendly stacktrace. Any takers?

[2016-02-05 07:41] thibaultCha commented on #936
[docker-kong-wait](https://github.com/articulate/docker-kong-wait) is also another solution. Ideally, Kong will be updated to still start without the datastore being accessible, which will make such use cases easier.

[2016-02-05 08:34] Tieske commented on #865
Doing this involves setting up an outgoing tcp connection to the serf agent running on the same host.

Basics work; connecting to the agent and sending/receiving some simple commands. One tricky part is the MessagePack library, it might need some changes to support streaming messages.

An issue that is harder to solve (at least for a proper solution) is the synchronisation between worker processes

[2016-02-05 08:44] yuriyzinchenko commented on #936
@thibaultCha That's what I need. Thank you.

[2016-02-05 14:32] kamoljan commented on #391
@PGBI thank you!

[2016-02-05 15:54] rtsinani opened #955 "Getting "HMAC signature does not match" error when accessing the api from Ruby via HMAC plugin"
Following the instructions here (https://getkong.org/plugins/hmac-authentication/) I created an api on my local kong (*request_host* 'api.demo2.com') and a consumer with username 'user66'. Then I added the hmac plugin credentials with username 'user66' and secret 'secret66'. I am now trying to access the api via ruby, by generating the HMAC signature below (as per some of your tests).
But I'm gett

[2016-02-05 16:01] shashiranjan84 commented on #955
Would you please provide the date you passed in and  the hmac signature

[2016-02-05 16:13] rtsinani commented on #955
Sure,
date: Fri, 05 Feb 2016 16:12:51 GMT
hmac: NnHA/wR93+E4EXKnO1lanChRzo4=

[2016-02-05 16:48] shashiranjan84 commented on #955
Ahh, you passing  `x-date` but you set headers as `date`

"Authorization" => %(hmac username="#{username}", algorithm="hmac-sha1", headers="date", signature="#{hmac}"),

[2016-02-05 16:51] rtsinani commented on #955
That was it! Thank you!

[2016-02-05 16:51] #955 closed

[2016-02-05 17:07] #808 closed

[2016-02-05 17:07] ahmadnassri opened #956 "HMAC plugin should follow the updated Spec"
[v5](https://tools.ietf.org/html/draft-cavage-http-signatures-05) is the latest, current implementation deviates from original and references [v00](https://tools.ietf.org/html/draft-cavage-http-signatures-00)

[2016-02-05 17:34] shashiranjan84 commented on #955
Great, just wondering If it was confusing in the doc.

Your feedback will help me make the doc better for other user.

[2016-02-05 19:21] bwoodring opened #957 "kong migration.py script TypeError object of type resultSet has no len()"
When attempting to upgrade from 0.4.2 I receive this error when running migration.py

`[ec2-user@i]$ sudo python migration.py -c /etc/kong/kong.yml
[INFO]: Using Kong configuration file at: /etc/kong/kong.yml
[INFO]: Using datacenter 'datacenter1' for DCAwareRoundRobinPolicy (via host 'localhost'); if incorrect, please specify a local_dc to the constructor, or limit contact points to local cluster

[2016-02-05 19:24] thibaultCha commented on #957
Are you trying to upgrade from 0.4 to 0.6?

[2016-02-05 19:25] bwoodring commented on #957
yes, attempting to upgrade from 0.4.2 to 0.6.1

[2016-02-05 19:30] thibaultCha commented on #957
That won't work. You have to upgrade to 0.5 first, and using a 0.5 config file especially, since the YAML format changed.

[2016-02-05 19:39] bwoodring commented on #957
OK, thank you for the information. I tried to locate a 0.5 version to download and install, but I can only find the most recent version. Where can you find the older version packages to install?

[2016-02-05 20:00] thibaultCha commented on #957
https://github.com/Mashape/kong/releases

[2016-02-05 20:09] bwoodring commented on #957
Your quick help is greatly appreciated!

[2016-02-05 20:26] thefosk commented on #865
I think this can be fixed with locks the same way we handle reports and cluster keep-alive pings. A possible implementation will look like a basic leader-election across the workers:

* Every worker will try to get the lock for a specific key in the shared dict.
* Only one worker will be able to get the lock (like we do for reports or cluster keep-alive pings), and he will keep renewing it so that

[2016-02-05 20:28] thefosk commented on #890
@siddharthkchatterjee I will take ownership of this ticket. To reproduce the problem, can you please give the bare minimum HTTP requests that I need to execute? Possibly in curl format or pseudo-code.

[2016-02-05 20:34] bwoodring commented on #957
I am not sure what I am doing wrong. I download kong-0.5.0.el7.noarch.rpm
I am following the upgrade instructions here: https://github.com/Mashape/kong/blob/0.5.0/UPDATE.md#update-to-kong-050
I am running Kong 0.4.2 and Python 2.7.
Update the hosts property to contact_points
Install  pip install cassandra-driver pyyaml
Then run python migration.py -c /etc/kong/kong.yml

I am still getting the same

[2016-02-05 20:37] thibaultCha commented on #957
I will need a full output of what your schema_migrations table contains, of the configuration file you are using, of the version of the Cassandra driver you installed and details on your Cassandra cluster to investigate this.

[2016-02-05 20:38] #936 closed

[2016-02-05 20:40] #836 closed

[2016-02-05 20:41] thibaultCha commented on #844
Closing this since it is a question and tickets have been opened to track the decisions.

[2016-02-05 20:41] #844 closed

[2016-02-05 20:42] #673 closed

[2016-02-05 20:56] bwoodring commented on #957
Successfully installed cassandra-driver-3.0.0 futures-3.0.4
`Connected to Test Cluster at 127.0.0.1:9042.
[cqlsh 5.0.1 | Cassandra 2.2.3 | CQL spec 3.3.1 | Native protocol v4]
`
[cassandra.txt](https://github.com/Mashape/kong/files/119854/cassandra.txt)
[kong.txt](https://github.com/Mashape/kong/files/119856/kong.txt)

Please let me know if you need anything else. Sorry to be such a pain, but how

[2016-02-05 20:59] thibaultCha commented on #957
You could run this query in cqlsh:

[code]

[2016-02-05 21:03] bwoodring commented on #957
`cqlsh> DESCRIBE keyspaces;

system_traces  system_distributed  system_auth  system  kong

cqlsh> SELECT * FROM kong.schema_migrations;

 id         | migrations
------------+-------------------------------------------------------------------------------------------------------------------------------------------------
 migrations | ['2015-01-12-175310_init_schema', '2015-04-24-154530_plugins', '2

[2016-02-05 21:10] thibaultCha commented on #957
Could install the Cassandra driver at its `2.7.2` version? It seems since then, the newer version of the Python driver has some breaking changes.

[code]

[2016-02-05 22:52] cludden commented on #380
+1

[2016-02-05 23:12] bwoodring commented on #957
That was the trick! Thank you!

[2016-02-05 23:13] thibaultCha commented on #957
Perfect, I'll update the migration instructions.

[2016-02-06 00:01] thefosk commented on #782
@Toilal I have an update for this issue. It seems like the restart problem was caused by a bug, which PR #960 fixes.

Regarding the stack trace, I still don't know why it happens but the PR adds a check and blocks requests from [unix domain sockets](https://en.wikipedia.org/wiki/Unix_domain_socket) which are not supported.

[2016-02-06 14:58] wstam88 commented on #866
"Pushpin is the open source reverse proxy for the realtime web. One of the benefits of Pushpin functioning as a proxy is that it can be combined with an API management system, such as Mashape’s Kong. Kong is the open source management layer for APIs. To use Kong with Pushpin, simply chain the two together on the same network path."

 [source](http://blog.fanout.io/2015/07/14/realtime-api-managemen

[2016-02-06 16:40] rtsinani commented on #955
Wonder if it could be a bit clearer that the `header` part of `Authorisation` header should refer to the actual request headers.

[2016-02-07 14:13] debraj-manna opened #961 "kong status is reporting wrong configuration file"
`kong status` is reporting the wrong configuration file.

[code]
As the above output shows even though kong is started with configuration file `/etc/kong/kong2.yml` but doing `kong status` is saying `Using configuration: /etc/kong/kong.yml`.

[2016-02-08 13:28] dmportella opened #962 "Patch method on REST API doesn't behave correctly or as expected"
Hello

I have been playing with Kong today and while following the tutorials etc I found that when trying to update the config for a plugin against an api using the patch method without content-type specified  Kong returns a response HTTP status code **200 OK** but the data is not patched.

**Request example**
[code]

Response code from the above is **200 OK** but no data is changed only if you se

[2016-02-08 18:46] mars commented on #961
Every Kong command requires passing the config param, e.g.:

[code]

Otherwise, `kong` config will default to `/etc/kong/kong.yml`.

[2016-02-08 18:52] thibaultCha commented on #902
This was implemented in 0.6.1

[2016-02-08 18:52] #902 closed

[2016-02-08 19:07] thefosk commented on #961
@mars this is correct. `kong status` also needs the right configuration file, so that it knows where the working directory is.

[2016-02-08 19:10] thefosk commented on #962
I think this is was actually a bug and fixed with https://github.com/Mashape/kong/pull/941

[2016-02-08 19:12] thibaultCha commented on #962
No this is not related, this is very probably also in `next`.

[2016-02-08 19:21] thibaultCha commented on #961
NB: that is also temporary until Kong receives its prefixed install.

[2016-02-08 19:28] #957 closed

[2016-02-08 19:44] mars commented on #928
To make Kong compatible with an external process supervisor, a few changes would be required.

You can see in this [external-supervise branch](https://github.com/Mashape/kong/compare/master...mars:external-supervisor) comparison to master:

* the `KONG_EXTERNAL_SUPERVISE` environment variable/flag to:
  * short-circuit `is_running()` checks (the external supervisor takes care of keeping processes

[2016-02-08 21:25] shashiranjan84 opened #965 "LDAP plugin spec"
This ticket is to track LDAP Plugin(#329) implementation strategy.

So far I come up with following spec

- [ ] Plugin must parse the Authorization or Proxy-Authorization header to retrieve the [<strike>encrypted</strike>](http://www.netid.washington.edu/documentation/ldapauth.aspx) signature
 ex. Authorization: ldap username:password

- [ ] It must look for user in cache, if present it must creat

[2016-02-08 21:45] shashiranjan84 commented on #965
@ahmadnassri can you check with customer the use case for this plugin like how they generally use LDAP to authenticate user and what strategy they use to authenticate client (here Kong) connection to LDAP server?

[2016-02-08 23:24] mars opened #966 "Cassandra error from `kong.core.cluster`"
I've been seeing these errors coming out of Nginx:

*(Edited for clarity. Removed misleading log INFO entry.)*

[code]

This seems to indicate that the calls from [`Kong.init_worker()`](https://github.com/Mashape/kong/blob/0.6.1/kong/kong.lua#L146) are missing the global `configuration` set in [`Kong.init()`](https://github.com/Mashape/kong/blob/0.6.1/kong/kong.lua#L124).

So, [I tried adding the

[2016-02-08 23:53] mars commented on #966
BTW, I see the same error when running using Kong's internal process manager, via `kong start -c $KONG_CONF`:

[code]

[2016-02-08 23:58] mars commented on #966
…and these errors from a different function in cluster.lua:

[code]

[2016-02-09 01:23] derrickburns commented on #331
:+1:

[2016-02-09 01:26] thibaultCha commented on #966
Hi @mars,

The first logs you are seeing is not an error but in `info` (the authentication logs).

The second logs is weird, lua-cassandra should print nicer error messages than this.

Globals initialized in the `init_by_lua` phase should also be available in `init_worker_by_lua`, so that shouldn't be necessary.

Otherwise, I believe lua-cassandra was never intended to be used inside of `init_work

[2016-02-09 02:15] thefosk commented on #872
@cleblanc87 the fix for this has been pushed and it's in `next`. Will be available in the next version.

[2016-02-09 02:15] #872 closed

[2016-02-09 02:15] #914 closed

[2016-02-09 06:29] elruwen commented on #927
I would be nice if one could configure an error page per API. Maybe even per status code and having a catch all. Of course if those pages fail, one could still show the current error page, but it would at least allow a little bit more customisation.

[2016-02-09 14:24] bwoodring opened #971 "Upgrade to 0.5.0 form 0.4.2 error on kong reload"
When attempting to upgrade from 0.4.2 to 0.5.0 everything goes smooth until I try to reload kong. I recieve the below error:
` kong reload
/usr/local/bin/luajit: /usr/local/share/lua/5.1/luarocks/loader.lua:117: error loading module 'rex_pcre' from file '/usr/local/lib/lua/5.1/rex_pcre.so':
        libpcre.so.1: cannot open shared object file: No such file or directory
stack traceback:
        [C]

[2016-02-09 15:58] JnMik commented on #550
+1

That would also be really nice if we could use these metadatas in the api definition plugins through variables name.

something like:

[code]

[2016-02-09 18:48] allynalford commented on #252
Did this happen, i see it's closed.. I'm actually looking into this right now..

[2016-02-09 19:25] mars commented on #966
Hi @thibaultCha! Thanks for taking time to look into this,

I do see lots of log entries like `[error] 91#0: [lua] cluster.lua:84: Cassandra error` when running Mashape/kong 0.6.1. This is not something unique to my fork. Can anyone corroborate these errors from their own `{nginx_working}/logs/error.log`.

`init_worker_by_lua` is run [in each child/worker process of Nginx](https://github.com/openr

[2016-02-09 19:32] thibaultCha commented on #966
That is correct. This is one thing that extremely annoys/disgusts me too. Big, long-term plans are to refactor this as well as the plugin definition. We have brainstormed over a few ideas to make plugins more robust and most of all to not depend on upvalues such as the Kong ones or `ngx`

[2016-02-09 19:37] thibaultCha commented on #252
This was a duplicate of #157

[2016-02-09 20:41] subnetmarco opened #972 "Being able to customize the upstream proxy errors"
Being able to customize the upstream error responses being returned by `proxy_pass`, by allowing to override the current templates.

The user would need to provide their own templates for all the response formats that we support.

[2016-02-09 20:42] thefosk commented on #927
Once this issue is closed, a next iteration on the feature could include what @elruwen is suggesting. I opened #972 to keep track of this.

[2016-02-09 22:09] thefosk opened #974 "Better organize the working directory structure"
First of all, `nginx_working_dir` just becomes `working_dir` since it's being used by many other things.

Then, it needs a better folder structure to store PIDs and logs (right now everything is being stored in the main directory, with no organization). This would be in the context of reworking how Kong is distributed, by also bundling dependencies.

[2016-02-09 22:28] mars commented on #966
[In another experiment](https://github.com/mars/kong/commit/f59c849960930dd2e709197df10d14ef93bfd06c), I just converted the Kong codebase from those global `configuration` & `dao` variables to reference a ["singletons" module](https://github.com/mars/kong/commit/f59c849960930dd2e709197df10d14ef93bfd06c#diff-4cc0a9a49754df16f176f66362e68feaR1) containing those values.

With that in place, I still s

[2016-02-09 23:09] JohanTan commented on #367
Following up on this: Is this feature going to be available as a free plugin or only as a part of paid plans?

[2016-02-10 01:26] vcastane opened #976 "Viewing Groups/Whitelists/Blacklists for ACL Plugin"
It seems the right now there is no way to get a list of the groups you have created and their associated permissions. Or get a list of all consumers within each group.

These would be incredibly useful tools for me and other developers.

Same goes for whitelist/blacklist and way to see global ACL information.

Thanks!

[2016-02-10 01:29] thefosk commented on #976
This may also be related to #505 and would be fixed by [this proposal](https://github.com/Mashape/kong/issues/505#issuecomment-176495650).

[2016-02-10 01:39] vcastane commented on #976
Awesome! This is exactly what I was thinking.

Is there a working timeline for this?

[2016-02-10 01:41] thefosk commented on #976
Another solution would be to extend the ACL plugin to support groups in a better way, as opposed to #505 which implements them in core. But implementing them on core would allow us to fix the structural inconsistency where you can have API-specific plugins, but not API-specific consumers.

Feel free to join the conversation.

[2016-02-10 04:01] #927 closed

[2016-02-10 05:15] elruwen commented on #927
Thanks!

[2016-02-10 05:29] sinzone commented on #367
@JohanTan  This integration (not a full plugin yet) is now live:  https://docs.gelato.io/guides/using-gelato-with-kong  - it's a commercial integration but there is a free plan if you need it for OSS projects.

[2016-02-10 05:30] debraj-manna opened #977 "Kong 0.6 is failing to start while doing migration of mashape_analytics"
Posting this [issue](https://groups.google.com/forum/#!topic/konglayer/6XY1mTNLJcg) from Kong user group.

I was trying to set up a fresh 2 Node Kong Cluster with 2 Node Cassandra Cluster. But whenever I am trying to start the kong. I am getting the below error:-

[code]
In the `kong2.yml` I just updated the database section which looks like below:-

[code]
Below is the schema of `plugins` table:-

[2016-02-10 16:49] ammmze commented on #454
+1

I am attempting to use a spring boot application with spring security oauth2 as the authorization server and replacing the default client details service and token services objects with ones that call the kong api's for getting client details, creating tokens, etc. But right now I am unable to build up the proper ClientDetails object because the scope and grant type come from the api.

For ref

[2016-02-10 17:15] bwoodring commented on #957
@thibaultCha When I attempt to reload kong I get this error:
`kong reload /usr/local/bin/luajit: /usr/local/share/lua/5.1/luarocks/loader.lua:117: error loading module 'rex_pcre' from file '/usr/local/lib/lua/5.1/rex_pcre.so': libpcre.so.1: cannot open shared object file: No such file or directory stack traceback: [C]: in function 'a_loader' /usr/local/share/lua/5.1/luarocks/loader.lua:117: in fun

[2016-02-10 19:16] mars commented on #966
[Here's a branch to demo](https://github.com/Mashape/kong/compare/master...mars:per-process-globals) defining `configuration` & `dao` globals for each Nginx process (in `init_by_lua` & `init_worker_by_lua`.)

On that branch, when running `busted spec/integration/cluster/cluster_spec.lua`, the Nginx error.log shows these errors (like quoted above):

[code]

Reading the docs for [`ngx.sleep`](https:

[2016-02-10 19:26] thibaultCha commented on #966
Thank you for taking time to investigate this! I find it very valuable that you dedicate time to look into Kong. I did not know lua-cassandra was even being used in there, and curiously I never encountered this error, which either is very strange, either because I missed it.

Yes, like I said, lua-cassandra was never meant to be working in `init_worker_by_lua` precisely because cosockets are not s

[2016-02-10 19:53] thefosk opened #978 "Plugin that are only consumer specific are not being executed"
When adding a consumer-specific plugin (specifying `consumer_id`) without already having the same API-specific plugin, the plugin is never been executed.

[2016-02-10 19:59] thibaultCha commented on #971
I looks like you don't have libpcre installed? Can you try installing it and try again?

[2016-02-10 22:41] thibaultCha commented on #977
As discussed in the thread you linked to, your plugins table should also have an index on `name`:

[code]

I cannot reproduce this with Kong (any version) and Cassandra 2.2.4 (1 to 3 nodes), nor does it happen on Travis either. In fact, there is nothing we can do without more informations or an actual error from Kong or Cassandra.

[2016-02-11 00:55] ajayk commented on #949
@thibaultCha Here you go https://github.com/Mashape/kong/pull/983

[2016-02-11 04:13] jeevaengg21 opened #986 "Kong start issue due configuration"
Getting below error while start kong. As reported in the error line 166 has ngix configuration, but i haven't change anything in that part. Only change i made was cassandra configuration

**nginx: |
  user {{user}};
  worker_processes auto;
  error_log logs/error.log error;
  daemon on;**

**ERROR**

[INFO] Using configuration: /etc/kong/kong.yml
/usr/local/bin/luajit: did not find expected <docum

[2016-02-11 04:17] thibaultCha commented on #986
I believe this is #949: bad configuration format.

[2016-02-11 05:23] jeevaengg21 commented on #986
yup, u are correct i revert back the configuration its working now. @Kong It would be more useful if the error information are more precise because i was looking in the wrong part of configuration.

[2016-02-11 05:23] #986 closed

[2016-02-11 05:28] thibaultCha commented on #986
Yes, it will be the case, as @ajayk was nice enough to provide a patch for this in #949.

[2016-02-11 08:32] shaikhfaisal commented on #331
+1 RDS support would be awesome

[2016-02-11 10:22] jeevaengg21 opened #987 "Consumer not able to access the API after ACL plugin configuration"
Environment:
Ubuntu 15

At initial setup of Kong,

1. Created API
2. Created Consumers.
3. Added Key-Auth authetication plugin to API
4. Generated apikey for cosumers

After did above steps all consumers was able to access the API. But after add ACL Plugin to API to control access by consumer it fails to work.

While POST request to the API from Consumer available in ACL whitelist, kong response w

[2016-02-11 13:25] mjhlobdell commented on #331
+1

[2016-02-11 16:04] jimmywarting commented on #218
+1

[2016-02-11 16:08] dgomes commented on #328
+1

[2016-02-11 18:14] mars commented on #178
A proposal is now open #928 which discusses the main challenge to running Kong on Heroku.

[2016-02-11 19:06] lsmith77 commented on #331
@thibaultCha is there an ETA? also is there already a PR to try out your current state?

[2016-02-11 19:10] msmathers opened #988 "ACL plugin cache invalidation failures"
We've begun having problems with Kong's in-memory cache updating after ACL rules are updated.  What's tricky is that this seems to be happening in a non-deterministic way.

We're performing the following sequence of events:
1. Verify that a consumer exists (GET /consumers/id)
2. Verify that an API exists (GET /apis/id)
3. If not, create a new API (POST /apis)
4. Add a new group to a consumer's ACL

[2016-02-11 21:31] thefosk commented on #988
@msmathers I am trying to replicate your problem in this test case: https://github.com/Mashape/kong/blob/fix/acl/spec/plugins/acl/access_spec.lua#L144-L188

I am adding one API (with it's key-auth and ACL plugins), and it works. I am adding a second API (with key-auth and ACL plugins) and it also works. What operations should I do from now on to replicate your problem?

[2016-02-11 22:08] ahmadnassri commented on #928
@mars
![image](https://cloud.githubusercontent.com/assets/183195/12992366/4b1a4038-d114-11e5-8c04-a3818aba7d5b.png)

[2016-02-11 22:12] BrianHutchison commented on #677
+1

This would meet a major use-case/need of ours.

[2016-02-12 03:00] elruwen opened #989 "Bug in documentation about how to write a custom plugin"
Hi!

Since kong 0.6.x is out, I migrated my custom plugins to the new version. I followed the documentation. I think there is a bug here:
https://getkong.org/docs/0.6.x/plugin-development/distribution/
"kong.plugins.my-custom-plugin.migrations.cassandra"
should be
"kong.plugins.my-custom-plugin.schema.migrations"

Additionally there is now something called
kong.plugins.my-custom-plugin.hooks
if I

[2016-02-12 03:58] #961 closed

[2016-02-12 04:50] slater-ben commented on #660
Hi,

Just came across this (in doing some searching to try and figure out how Kong is actually configured to use Cassandra) and thought I could add some Cassandra info that might help clarify a few things (and that seemed to be missing):

To understand how Cassandra will respond to a failed node you need to consider both the keyspace replication factor (RF) and the consistency level (CL) used for

[2016-02-12 04:52] thibaultCha commented on #660
The driver can receive any consistency as an option. If people find it relevant we can add an option to kong.yml to use another one that the default one.

[2016-02-12 04:55] slater-ben commented on #660
Yes, sorry - should have said default consistency changed. However, I thought some context on Cassandra consistency might be useful.

To be honest - I'm not sure how important consistency is in the Kong context - eventual consistency may well be good enough.

[2016-02-12 05:02] thibaultCha commented on #660
Yeah, Cassandra is rarely queried by Kong, since Kong maintains its own cache. We mainly use it because of how easy it is to achieve distribution (assumed it is configured right) and using counters to achieve distributed rate-limiting.

With Postgres support coming (and more importantly, SQL), we expect Cassandra usage to drop and only be used for distributed/HA setups.

We welcome any discussion

[2016-02-12 07:12] #987 closed

[2016-02-12 09:25] johannes-pt commented on #331
+1

[2016-02-12 14:11] msmathers commented on #988
@thefosk Thanks for looking at this.  I just wrote a standalone Python script that mimics our application's interaction with the admin API:
https://gist.github.com/msmathers/94daa1069f80ee4ee134

Every time I run this script I'm able to authenticate & authorize against the first API I create, but then all requests against subsequent APIs fail with a 403 status.  If I manually delete the Kong cache

[2016-02-12 16:02] bwoodring commented on #971
after installing libpcre everything reloaded. Thanks!

[2016-02-12 17:39] robbydooo commented on #858
I was just talking to Stormpath about Kong just the other day. It would be great to have stormpath plugin for authentication purposes. Sadly they had not heard of Kong so I don't think a plugin will be coming from them any time soon.

[2016-02-12 21:31] thefosk opened #990 "Keep-alive upstream requests"
Being able to keep-alive the connections to the upstream services while proxying.

[2016-02-12 21:54] ryanmedlin commented on #858
this woudl be nice!!!

[2016-02-12 21:58] vikramvk commented on #889
+1 We need this too.

[2016-02-12 21:59] sinzone commented on #858
If we see a lot of +1 here, we'll end up building it by ourself.  We also have plans to integrate with Okta, Auth0, Centrify, etc.

[2016-02-12 22:42] jaschenk commented on #858
I would for sure help with Development, as I am interested in using Kong eventually and I am already using Stormpath Enterprise as our IDaaS.  +1.

[2016-02-13 08:21] jarl-dk commented on #421
Support for Mutual SSL is requested individually in https://github.com/Mashape/kong/issues/740

[2016-02-13 12:44] heat commented on #155
I would love Kong do that but I wondering if its responsibility.  https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ35pXZMfL-YNeA67_FbT8uxvhgz1_1ONpXiTddYzjn9mnbycd3bU-IS11ZbQ there need a edge service in our api to compose load balance e fault tolerance enhance

[2016-02-13 16:58] SGrondin commented on #183
@lindo-jmm There's also the $80/month option here: https://www.instaclustr.com/products/developers/ Feel free to contact sales@instaclustr.com if you have questions. From what I can tell, the "dev" plans are simply smaller EC2 instances, they're not "lower quality".

[2016-02-14 00:48] jkwong commented on #331
+1

[2016-02-14 00:48] jkwong commented on #183
+1

[2016-02-14 13:40] 85022134 opened #993 "can‘t log consumer info in v0.6.1"
Kong version: 0.6.1

I read doc on https://getkong.org/plugins/syslog/

 "authenticated_entity": {
        "consumer_id": "80f74eef-31b8-45d5-c525-ae532297ea8e",
        "created_at":   1437643103000,
        "id": "eaa330c0-4cff-47f5-c79e-b2e4f355207e",
        "key": "2b64e2f0193851d4135a2e885cd08a65"
    },
but  I can't find consumer info in access-log ，by the way  I run kong in dokcer

[root@2

[2016-02-14 22:51] thibaultCha commented on #993
Did you enable one of the authentication plugins? Otherwise Kong cannot know who the consumer is.

[2016-02-15 02:51] 85022134 commented on #993
thank you for your reply, I enable key-auth plugins,  and create a consumer. Then I send a Http request with key header

[2016-02-15 16:35] robbydooo opened #994 "dnsmasq not resolving docker cloud links"
Hi All,

I am trying to get Kong properly working on Tutum/Docker Cloud (as it is now called).

https://cloud.docker.com

The issue is that kong always fails when using docker links on Tutum/DockerCloud.

It appears that DNSmasq is not using the search element of the resolve.conf to add the FQDN to the request and as such it just fails.

So if I set in kong.yml :
[code]

Kong will fail to start un

[2016-02-15 18:14] marcelmfs commented on #675
This changes breaks RFC 3986 which states that a URI referenced without a leading forward slash should be treated as relative: https://github.com/Mashape/kong/pull/715/#issuecomment-184307235

[2016-02-15 23:19] robbydooo commented on #994
I have moved this to docker-kong issues

[2016-02-15 23:19] #994 closed

[2016-02-16 00:49] afajem commented on #977
As stated on the Kong Gitter channel, I was also able to recreate this issue on Kong 0.6.1 with Cassandra 2.2.5. I was able to reproduce the issue repeatedly.  I am running on RHEL 7.2; not sure if that make any difference.

So if I'm understanding the issue correctly, the suggestion is to manually create an index on `name` :

`CREATE INDEX plugins_name_idx ON kong.plugins (name);`

Given that you

[2016-02-16 01:16] #978 closed

[2016-02-16 01:17] #971 closed

[2016-02-16 01:25] thefosk commented on #988
@msmathers I have found the bug and fixed it. The fix will show up in v0.7.0.

[2016-02-16 01:25] #988 closed

[2016-02-16 02:26] thibaultCha commented on #989
Yes indeed, fixed with https://github.com/Mashape/getkong.org/commit/e24d015b025ef0ce10c8f24ad685f44d2577bbb2, thank you!

[2016-02-16 02:26] #989 closed

[2016-02-16 06:23] elruwen commented on #989
What about the hooks?

[2016-02-16 06:24] thibaultCha commented on #989
Right, @thefosk would have to write the documentation regarding those.

[2016-02-16 06:34] thibaultCha commented on #989
As I come to think of this again, I would also add that hooks are still somewhat internal, and we would need more polishing and a few features before making them properly usable by plugins.

[2016-02-16 10:28] sathyavijayan commented on #331
+1

[2016-02-16 10:49] muppudathis-tzl commented on #395
Hi thefosk

[2016-02-16 10:50] muppudathis-tzl commented on #395
How to configure my own Cassandra in kong.yml file

[2016-02-16 11:32] pranny opened #997 "Unable to validate apikey for the api for consumer"
I have a fresh kong installation. I have added some APIs, Consumers, provisioned consumer's keys (I am using key-auth). However, when I am trying to query the kong using apikey like below, I get the error

[code]
The documentation https://getkong.org/plugins/key-authentication/#using-the-api-key says to send the `apikey`. I also tried with sending the key in header as well as in formdata, however

[2016-02-16 13:16] eseres commented on #331
+1

[2016-02-16 13:43] mgvarley commented on #858
+1 on a Stormpath plugin

[2016-02-16 15:17] robbydooo commented on #858
+1 from me obviously ;-).

If I can help test this then let me know.

[2016-02-16 16:08] 85022134 commented on #993
@jerodsanto  I don't know where is the prolem .  Hope for your help .thanks

[2016-02-16 18:40] rdegges commented on #858
Sup everyone! I'm the head of evangelism @ Stormpath. I'm familiar with Kong, but haven't used it in a project yet. Seems like it'd be a fun weekend project. I'm not too familiar with lua either, but we have a lot of internal interest in this.

Few questions for ya'll:

- What features are most important to you for an integration here? HTTP Basic Auth? OAuth2? Username / password auth? Sessions?
-

[2016-02-16 18:47] robbydooo commented on #858
Thanks Randall for responding directly to my support message about this!

I would love to use this instead of implementing stormpath on the microservices behind Kong.
Currently I have to implement stormpath SDKs in each microservice. Would make things much easier if you could just rely on authentication by stormpath at Kong level.

If you could have effectively the same functionality as say the no

[2016-02-16 18:50] mgvarley opened #998 "Pass consumer_id in Datadog plugin"
Could the consumer_id be added to the Datadog plugin please?  This would allow analytics by consumer in Datadog which would be very useful

[2016-02-16 19:51] jaschenk commented on #858
Would like to see Kong integrate with latest Stormpath JAVA SDK 1.0.RC8.3, as this satisfies my Companies requirement of having Form Login and Token Based Authentication. Another +1.

[2016-02-16 19:56] thefosk commented on #395
@muppudathis-tzl https://getkong.org/docs/0.6.x/configuration/#cassandra

[2016-02-16 20:04] thefosk commented on #997
@pranny, can I see the key-auth plugin configuration for your API by running `http://127.0.0.1:8001/apis/{id_or_name}/plugins/`?

[2016-02-16 21:28] mars commented on #993
@85022134 Nginx access.log [defaults to the "combined" format](http://nginx.org/en/docs/http/ngx_http_log_module.html#access_log), which does not contain any Kong consumer information.

"Combined" format only includes [`$remote_user` from Basic HTTP authentication](http://nginx.org/en/docs/http/ngx_http_core_module.html#var_remote_user).

If your goal is to get consumer ID into access log, I belie

[2016-02-16 23:36] mars opened #999 ""Missing mandatory column family""
When starting Kong with an empty Cassandra keyspace, this error is returned:

[code]

**Why doesn't Kong automatically reset migrations when the keyspace is empty?**

If the caution here is to avoid destroying existing data, then could Kong check if any of its core schema already exist, like `apis` or `consumers`, and otherwise proceed with automatic migrations reset.

[2016-02-17 00:47] thefosk commented on #989
The documentation for hooks is already written [here](https://getkong.org/docs/0.6.x/plugin-development/entities-cache/). I am pushing a mention to hooks also in the "Distribution" chapter.

[2016-02-17 00:59] thefosk commented on #675
@marcelmfs this issue was about the the last slash in the URI, not the leading slash. Can you send me an example to reproduce your issue?

[2016-02-17 02:05] thefosk commented on #505
Some attachments to the previous comment, to make it more clear.

## Entities

<img width="734" alt="screen shot 2016-02-16 at 6 01 21 pm" src="https://cloud.githubusercontent.com/assets/964813/13097613/6c3a9580-d4d7-11e5-99ad-626e588de67e.png">

## Workflow

<img width="847" alt="screen shot 2016-02-16 at 6 02 42 pm" src="https://cloud.githubusercontent.com/assets/964813/13097622/80c94b90-d4d7-11

[2016-02-17 04:32] pranny commented on #997
Thanks for assigning this. The output goes below
[code]

I used Kong Dashboard (https://github.com/PGBI/kong-dashboard) as the UX from where I created the consumers, api etc.

[2016-02-17 05:15] thefosk commented on #997
for some reason, the plugin is looking for the key not in the default `apikey` parameter, but in a `function` parameter (this was assigned when creating the plugin).

Executing this will work: `curl -X POST --data '{"event_name":"page.view","event_param":"12"}' http://127.0.0.1:8000/events/?function=302fa1a9489c47f28f4a2505d0f1e1f0`

[2016-02-17 05:21] pranny commented on #997
You are correct. Replacing `apikey` with `function` does work. Also, I figured out how to update this in the kong-dashboard. The correct configuration should look like below

<img width="549" alt="screen shot 2016-02-17 at 10 50 34" src="https://cloud.githubusercontent.com/assets/82643/13100544/5645fb42-d564-11e5-84de-9bc679e65f43.png">

[2016-02-17 05:21] #997 closed

[2016-02-17 09:43] siddharthkchatterjee commented on #890
@thefosk As far as we know, this has been hard to reproduce unless the number of requests are significant. The script above reproduces this pretty consistently when the number of routes is high enough but I'm not sure of a bare minimum required. That's where our guess that perhaps this has to do with concurrency, comes from.

[2016-02-17 17:14] gsidebo opened #1002 "Oauth2 plugin installed, but API still allows requests with no access_token"
I have Kong running in a Vagrant VM. I've successfully set up the oauth2 plugin before, but I'm not running into issues with a second attempt using different parameters. I have an upstream API and a consumer, and I've installed the plugin (with 'enable_password_grant') and added an oauth2 application for the consumer. I'm observing two things:

1. POST requests to `{request_path}/oauth2/token` are

[2016-02-17 18:48] leovrf commented on #157
+1

[2016-02-17 22:06] gsidebo commented on #1002
FWIW: vagrant destroy/vagrant up solved this. I have a feeling this might be a caching issue

[2016-02-17 23:55] thefosk commented on #1002
I tried to replicate this problem on the latest version, but everything seems to be working fine.

[2016-02-18 00:07] mars commented on #178
The buildpack & app repos we've be developing at Heroku over the past couple months just went open-source:

* [Heroku app](https://github.com/heroku/heroku-kong): [v1.0.0-beta.2](https://github.com/heroku/heroku-kong/releases)
* [Heroku buildpack](https://github.com/heroku/heroku-buildpack-kong): [v2.0.0](https://github.com/heroku/heroku-buildpack-kong/releases)

Note: **This is pre-release/beta s

[2016-02-18 00:16] mars commented on #928
That experimental [external-supervisor fork of Kong](https://github.com/Mashape/kong/compare/master...mars:external-supervisor) mentioned above can now be seen in context of a complete deployment on Heroku:

* [Heroku app](https://github.com/heroku/heroku-kong), which uses…
* [Heroku buildpack](https://github.com/heroku/heroku-buildpack-kong)

[2016-02-18 00:18] #1002 closed

[2016-02-18 01:16] sinzone commented on #928
![](http://cl.ly/0N3e0C1u0B1U/Image%202016-02-17%20at%205.15.43%20PM.png)

[2016-02-18 01:27] afajem opened #1004 "Kong node is not registered in kong.nodes Cassandra table"
I have successfully created a two-node Cassandra cluster and data is being replicated between the nodes of the cluster. I have also created a Kong cluster containing two nodes. When I start each Kong node, it does indeed communicate with Cassandra and writes to the database and I have verified that the data written to Cassandra is replicated between the Cassandra nodes. Unfortunately, the Kong nod

[2016-02-18 01:31] slater-ben commented on #183
Hello all,

I'm Chief Product Officer at Instaclustr so I thought I could provide some info on suitability of our dev offerings for Kong. SGrondin is correct, they are not "lower quality" and are very reliable for many small use cases. The main things to be aware of are:
- Both dev offerings are based on t2 class AWS instances (t2.small and t2.medium). Both of these are CPU credit limited so if yo

[2016-02-18 01:37] ahmadnassri commented on #178
@mars :clap: well done, this looks amazing, we're gonna start playing with this and will make an update to point to this on our installation pages.

very nicely done.

quick note, I can see a Librato plugin in there, would you like to make a separate PR to get this into the main repo? we can work on assets / docs for the site afterwards.

[2016-02-18 01:39] mars commented on #928
@sinzone great point! We will eventually list this buildpack in Elements.

Before we make it publicly discoverable through heroku.com, we need to resolve this cluster runtime issue: [Cassandra error from `kong.core.cluster`](https://github.com/Mashape/kong/issues/966).

I will be following-up/working on at least the temporary solution that @thibaultCha & I discussed in that issue:

[2016-02-18 01:44] ahmadnassri commented on #178
closing this issue thread, any further issues can be tracked on the appropriate repos:

* [Heroku app](https://github.com/heroku/heroku-kong)
* [Heroku buildpack](https://github.com/heroku/heroku-buildpack-kong)

[2016-02-18 01:44] #178 closed

[2016-02-18 01:58] sinzone commented on #178
we should put it here now:

![](http://cl.ly/2I1r171R240l/Image%202016-02-17%20at%205.57.50%20PM.png)

[2016-02-18 02:13] ahmadnassri commented on #178
@sinzone already done.

[2016-02-18 02:29] sinzone commented on #178
that was fast.

[2016-02-18 02:34] sonicaghi opened #1005 "AWS Lambda Integration"
Support the ability to invoke & manage Lambda functions from Kong.

[2016-02-18 02:51] thibaultCha commented on #178
:pray:

[2016-02-18 03:27] ahmadnassri opened #1006 "allow templates/string injection in request transformation"
###### USE CASE

when doing consumer level transformations, it can get complex real fast, e.g.

[code]

a better alternative would be:

[code]

this can become very useful when coupled with https://github.com/Mashape/kong/issues/550

other use cases include injecting additional properties from the execution logic, e.g. cluster info, server address, ports, etc ...

[2016-02-18 08:26] marcelmfs commented on #675
Nevermind I came up with my own openresty+lua solution with Redis. No need of cassandra for this simple API.

[2016-02-18 10:22] 85022134 commented on #993
@mars  @thibaultCha  Thank you for your help . But I don't understand why I must create a custom plugin.   I  enabled syslog plugin for the api as the doc said.  https://getkong.org/plugins/syslog/

I also enabled  key-auth plugin for the api, and created a consumer.

but there is no consumer info in access logs.

[2016-02-18 10:35] 85022134 commented on #993
I didn't  specified  consumer_id  parameter, because I think it will be for all consumers in this way.
curl -X POST http://kong:8001/apis/{api}/plugins \
    --data "name=syslog"

I read the source code

\kong\plugins\log-serializers\basic.lua

function _M.serialize(ngx)
  local authenticated_entity
  if ngx.ctx.authenticated_credential ~= nil then
    authenticated_entity = {
      id = ngx.ctx.a

[2016-02-18 11:21] 85022134 commented on #993
I run kong in docker，there is no syslog deamon.  it that the problem?

[2016-02-18 16:56] marcelmfs commented on #675
I'll first describe the user case I'm trying to replace.

We're currently using static nginx location directives for a set of microservices and apps, in the form of:

[code]

In nginx documentation, there is a distinctive section regarding the trailing slash on the `location pattern {}` directive (ref: http://nginx.org/en/docs/http/ngx_http_core_module.html#location):

[code]

By removing the trai

[2016-02-18 17:06] mars commented on #966
[I just tried](https://github.com/mars/kong/compare/external-supervisor...mars:setup-dao-in-nginx-timer) that fix which resulted in a new mutex problem from `resty.lock`:
[code]

I see @thibaultCha making progress on lua-resty-socket & lua-cassandra late last night :astonished: So, I'm going to jump back out of this :rabbit: hole.

[2016-02-18 17:12] mars commented on #993
Per the [syslog plugin docs](https://getkong.org/plugins/syslog/#notes):

[2016-02-18 17:58] mars commented on #178
@ahmadnassri  I just checked the [Heroku Install on getkong.org](https://getkong.org/install/heroku/). Thanks for putting that together.

We just updated the [heroku-kong README](https://github.com/heroku/heroku-kong/blob/master/README.md) with some corrections to Usage & Cassandra sections re: Instaclustr provisioning & automatic schema setup.

Please update getkong.org when you have a chance. :b

[2016-02-18 18:59] brunosimioni commented on #155
+1

[2016-02-18 19:27] thibaultCha commented on #966
I don't see how doing so will solve the problem, since those values are globals anyways, they are already available in all the contexts and the timers (regardless of how wrong that is).

There is one thing I still don't understand though, I am really unable to replicate this, and not seeing any such error. Especially since `dao.nodes:find_by_keys` is being invoked in a timer context, and not in `i

[2016-02-18 19:57] thefosk commented on #890
@siddharthkchatterjee - before investigating further, could you update Kong to the latest version?

[2016-02-18 20:14] siddharthkchatterjee commented on #890
I have. The problem persists with the latest version as well. 

Sent from Outlook Mobile

On Thu, Feb 18, 2016 at 11:57 AM -0800, "Marco Palladino" <notifications@github.com> wrote:

@siddharthkchatterjee - before investigating further, could you update Kong to the latest version?

—
Reply to this email directly or view it on GitHub.

[2016-02-18 20:23] ahmadnassri commented on #178
@mars sure thing. will get to that shortly. also, the site in itself is open-source, so if you ever found something to update: github.com/Mashape/getkong.org

[2016-02-18 20:35] mars commented on #966
The `Cassandra error` only happens when running a cluster with at least two nodes. A single Kong doesn't do it.

I see the error running Kong 0.6.1 with both:

* `kong start` CLI via `heroku run bash`
  * the error appears in `{nginx-working-dir}/logs/error.log`
* web dyno via the external supervisor [Procfile.web](https://github.com/heroku/heroku-kong/blob/master/Procfile.web)
  * the error appea

[2016-02-18 21:06] mars commented on #966
I finally figured out how to get a second Kong running locally in a cluster.

I now confirm that this error **does not occur** when running locally on OS X with either Mashape/kong 0.6.1 or the fork mars/kong.

I guess there's something not-quite-right about the build on Heroku.

I'll close this in favor of [a new issue in that repo](https://github.com/heroku/heroku-kong/issues/6).

Thanks for you

[2016-02-18 21:07] #966 closed

[2016-02-19 00:21] thefosk commented on #1004
If Kong is unable to write the the nodes table, it this should be reflected in an error in `error.log`. Can you please check and let me know if you see anything suspicious?

[2016-02-19 02:41] thefosk commented on #910
@dingziran any updates on this issue?

[2016-02-19 02:50] thefosk commented on #999
I can replicate this on Cassandra 3.0, which is not supported by Kong. Maybe it's a driver problem with Cassandra 3.0.

[2016-02-19 02:55] afajem commented on #1004
Other than the following type of entry generated each time I start a Kong node, there isn't anything of note in the `error.log` file.

[code]

This error is repeated in the logs with the number before `#` and the timestamp being the only variable parts.

[2016-02-19 04:18] thefosk commented on #1004
A few questions:

* What version of Cassandra are you using?
* Port `7946` should be open for both TCP and UDP traffic.

To manually invoke the cluster join, ssh into one Kong node and run the following command:

[code]

where `1.1.1.1` is the IP address of the other node. What output do you see?

[2016-02-19 04:19] thefosk commented on #999
@mars what version of Cassandra were you using when you experienced this problem?

[2016-02-19 04:47] afajem commented on #1004
I'm running Cassandra 2.2.5. Port `7946` is open for both protocol types.

I just manually invoked  the cluster join using the suggested command above and it produced the following output:

[code]
After running the command, I then went ahead and checked the members of the cluster, using the `cluster` command on the Kong CLI and got this output:
[code]
One thing to note is that I'm starting Kong us

[2016-02-19 04:59] thefosk commented on #1004
@afajem, could you try to replicate this bug with [0.7.0 RC1](https://github.com/Mashape/kong/releases/tag/0.7.0rc1)? There was a bug in the previous 0.6.x versions, where Kong was instructing Serf to use the `/tmp` folder for a log file, which not always had permissions to do. This may be the cause of the failure.

Version 0.7.x fixes this bug, and I am curious to see if it also fixes your proble

[2016-02-19 05:04] rdegges commented on #858
Gotcha -- I think a good start would probably be authenticating a user based on either Basic Auth (in the Authorization header), or OAuth2 in the Authorization header -- along with some group checks.

I think that's probably the simplest thing to start with. I'm still taking a look at this ^^

[2016-02-19 05:05] afajem commented on #1004
OK I'll give 0.7.0 RC1 a shot and check back with you shortly. Asking the obvious here, but I'm assuming Cassandra 2.2.5 should work as the install instructions state 2.2.x.

Also any idea when 0.7.0 will be released? Just a very rough estimate would do, as we plan to go live at the end of next month.

Thanks so much for your assistance thus far.

[2016-02-19 06:05] thefosk commented on #1004
In one or two weeks. Looking forward to seeing if 0.7.0 fixes it.

[2016-02-19 06:24] afajem commented on #1004
Thanks for the release estimates.

I was able to successfully upgrade to 0.7.0 RC1 without any issues. Unfortunately the nodes are still not talking to one another. The Cassandra `kong.nodes` table is still not getting populated. The logs are now being written to nginx home (`/usr/local/kong`)

I double checked my port rules through `iptables` and port `7946` appears to be open:
[code]

I also upd

[2016-02-19 07:07] Vegertar commented on #218
+1

[2016-02-19 14:03] jebenexer commented on #218
:+1:

[2016-02-19 16:05] mars commented on #999
I encountered this error w/ Cassandra version 2.1.12.

[2016-02-19 19:05] thefosk commented on #1004
I think I may have an idea of what's happening here - what OS are you running? I want to give you a patched version and see if that fixes it.

[2016-02-19 19:42] afajem commented on #1004
RHEL 7.2

Thanks!

[2016-02-19 23:31] thefosk commented on #1004
I will push 0.7.0 RC2 in a couple of hours.

[2016-02-19 23:59] afajem commented on #1004
Perfect. I'll check it out later tonight.

Thanks so much again for the prompt response. Cheers.

[2016-02-20 02:15] thefosk commented on #1004
@afajem here you go: https://github.com/Mashape/kong/releases/tag/0.7.0rc2

[2016-02-20 17:27] bramswenson commented on #331
:+1:

[2016-02-20 21:49] ajayk commented on #1005
:+1:

[2016-02-21 01:53] afajem commented on #1004
:tada: :confetti_ball: Success! I upgraded to 0.7.0 RC2 and it worked the first time.
Kong startup logs:
[code]

Cassandra `kong.nodes` table:
[code]
Thanks a million @thefosk for getting this issue resolved so quickly. It's really appreciated.

Cheers.

[2016-02-21 01:53] #1004 closed

[2016-02-22 19:16] thefosk commented on #890
@siddharthkchatterjee I am trying to create a test case to replicate this issue. The plugins that you have added are `rate-limiting`, `cors` and `file-log`. Is it correct?

Could it be that the upstream server is returning `401` (and not Kong)? I am confused as to why you think it's the HMAC plugin returning this status code, if the HMAC plugin has not been installed?

[2016-02-22 19:18] siddharthkchatterjee commented on #890
@thefosk I am also adding the `hmac-auth` plugin. If you look at the code above, you'll see an `enableAuth` function that makes the request to enable that plugin as well.

[2016-02-22 19:24] thefosk commented on #890
Okay, so isn't it correct that the HMAC plugin refuses requests without an `Authorization` header?

[2016-02-22 19:29] siddharthkchatterjee commented on #890
@thefosk Correct, but in my example above the route doesn't have the `hmac-auth` plugin enabled and still returns a 401. I am certain that it isn't the upstream server since if I pass an appropriate `Authorization` header, the request goes through.

We have even seen the reverse where the `hmac-auth` plugin is enabled but does not function, hence my guess that it is some kind of inconsistency.

[2016-02-22 19:31] siddharthkchatterjee commented on #890
@thefosk I could setup a test environment on an instance on AWS and reproduce the issue for you if that helps.

[2016-02-22 19:31] thefosk commented on #890
Maybe I am wrong, but in the code I don't see the HMAC plugin being set to `enabled: false`. When you say the plugin is not enabled, do you mean that it has been added but it's disabled, or that it's not added at all?

[2016-02-22 19:36] siddharthkchatterjee commented on #890
@thefosk If you notice, inside the `enableAuth` function, the HTTP request to the Kong Admin API to enable `hmac-auth` is only made if the configuration object has the `auth` key set to true. In case of the examples, the second route object in `routes.js` has auth set to false and I am certain that the request to Kong is not made since an empty Promise is resolved.

Even though the request is not

[2016-02-22 22:56] ThorArakis commented on #948
Anybody else able to reproduce? Let me know if I can provide more details.

[2016-02-22 23:32] thefosk commented on #890
@siddharthkchatterjee can we try to replicate this with some simple curl commands? I have executed the following commands:

## Adding API

[code]
[code]

## Adding HMAC plugin

[code]
[code]

## Consuming API

### With HMAC enabled

[code]
[code]

Correct, because we didn't send any `Authorization` header.

### With HMAC disabled

Let's disable HMAC first:

[code]
And make the request without `Aut

[2016-02-23 00:54] elruwen opened #1009 "Add configuration flag to hide kong headers"
Hi!

If I currently do a kong request, the response contains the following headers:
    'server': 'Apache-Coyote/1.1',
    'via': 'kong/0.6.1',
    'x-kong-proxy-latency': '0',
    'x-kong-upstream-latency': '79'}

Server is the value from the upstream server, the rest is set by kong. While this is nice for debugging, I would prefer to hide those values from the public.

I would be nice to have a

[2016-02-23 02:00] dingziran commented on #910
@thefosk I was not use mashape-analytics anymore and change to other method to analyze the logs.
I think problem is about my server has limited bandwidth to socket.analytics.mashape.com. So when the batch is big, it will fail with timeout error.

[2016-02-23 06:10] sinzone commented on #910
@dingziran out of curiosity, what kind of tool are you using now?

[2016-02-23 06:13] jeevaengg21 opened #1010 "[request] API Failover Feature"
Assume that i have a micro server e.g getWeather hosted in server A and Server B manged by a Apache Proxy which does the load balancing and failover cases.

Now i have created the API in Kong with host ip of Proxy server, but it tweeks a question Kong itself has a NGINX proxy sever so do i need to again configure the Service Providers with another Proxy server.

So is there any feature planned or

[2016-02-23 09:50] dingziran commented on #910
@sinzone I am using kong's udp log plugin to send json log to a heka server and then push to elasticsearch and kibana.

[2016-02-23 10:39] mgvarley commented on #998
I would say this is a feature request rather than a question.  Essentially what I am suggesting is that the datadog plugin be enhanced so that it can be installed for an API and when communicating with the datadog agent the consumer_id and potentially also the credential_id be passed as tags so that usage metrics can be gathered for a given consumer and/or credential.  If this is possible that wou

[2016-02-23 13:06] kstigen commented on #87
+1

[2016-02-23 17:14] logantpowell commented on #998
+1

[2016-02-23 20:12] ghost opened #1011 "Support for OData?"
OData has a lot of nice integrations from some orgs that produce some very common enterprise/home office tools... might Kong be looking at support?

[2016-02-23 21:18] #910 closed

[2016-02-23 23:00] BrianHutchison commented on #998
+1

[2016-02-23 23:18] ambrons opened #1012 "OAuth2 provision_key issue running on Docker"
I've followed the documentation here: https://getkong.org/plugins/oauth2-authentication/ as well as looked at the reference implementation with NodeJS here: https://github.com/Mashape/kong-oauth2-hello-world

I'm getting "Invalid Kong provision_key" error when making calls to `/oauth2/authorize`.

To point out I'm using `v0.5.4` because of an issue that seems to be related to configuration of dock

[2016-02-23 23:33] thefosk opened #1013 "Being able to configure the Cassandra quorum"
In the configuration file. http://docs.datastax.com/en/cassandra/2.0/cassandra/dml/dml_config_consistency_c.html

This is also reflected in errors like:
[code]

[2016-02-24 14:59] nvuppala commented on #998
+1

Thanks,
Naveen

[2016-02-24 15:47] codebien opened #1014 "[OAuth2-plugin] JWT Token"
It would be very useful if the OAuth2 plugin provided the ability to issue JWT tokens instead of reference tokens.  This would improve performance as it would avoid the need to peform queries when verifying a token.
Moreover, it would be even more useful if the plugin allowed to configure custom fields (and related values) to insert in JWT tokens for each Oauth2 application (for example by providi

[2016-02-24 15:58] codebien opened #1015 "[Monitoring] Cache"
How to monitor cache performance (miss, response time, ecc..)? Probably related to: #954

[2016-02-24 16:39] maestr0 opened #1016 "recommended way to Cache responses from Kong?"
What is the recommended way to cache responses from Kong?
Does Kong support response caching? Is there any production ready plugin which can do it?

I could probably use Varnish in front of Kong, but I'm looking for a solution I could control from my Kong cluster directly.

Kong architecture diagram shows Caching as one of the features. How is this supposed to work?

![Kong architecture diagram](h

[2016-02-24 18:27] codebien opened #1017 "[OAuth2-pugin] client_credentials is not compliant with rfc"
Kong: 0.6.1

In the case the client provides invalid credentials (id or secret):

1. The plugin returns the "error" filed with value "invalid_request" but it should be "invalid_client".
2. The plugin return HTTP 400 status code even if the client authenticated with an Authorization header.
3. The plugin returns the "error_description" filed which specifies whether the id or the secret is wrong. Th

[2016-02-24 18:34] ambrons commented on #1014
@codebien Do you mean in place of using the X-Headers that are attached to the request to services upstream of the kong proxy?  That was my same consideration as well.

[2016-02-24 19:56] ambrons commented on #1012
I know I'm hitting the _right_ API and therefore _should_ be the right configuration because of the SSL.  Making the same call without using the SSL port results as below:

[code]
*[Verbose] Request Sent*
[code]

*Response*
[code]

[2016-02-25 06:57] ambrons commented on #1012
So the issue was a sublty I missed in how the `/oauth2/authorize` POST must be made.  It requires a `FORM` post, not a `application/json` post.  When switching to the following command for `httpie` it worked.

[code]

[2016-02-25 06:57] #1012 closed

[2016-02-25 09:14] thefosk commented on #1016
Currently we recommend leveraging the underlying nginx server to achieve this, with the `proxy_cache` directive (you will need to manually change the `nginx` property into `kong.yml`). A more Kong-esque way of doing this would be to create a caching plugin, like #42 suggests.

[2016-02-25 14:30] gianlucatomasino commented on #331
+1

[2016-02-25 14:38] sergepeter opened #1022 "A ldap(s) authentification plugin"
It could be great to have a ldap authentification plugin that give back principal with group details, that could then be use to whitelist an api.

best regards

serge

[2016-02-25 14:50] vinceferro commented on #157
Also querying the DNS interface for SRV records returns a list of service instances, using this approach you could define the upstream url as one domain (like _contents._tcp.service.consul [RFC 2782]) and then pick up one of the instances proposed. Maybe not the best approach because of the random selection of the instance.

Some service discovery expose an HTTP API, it would be a good datasource

[2016-02-25 16:10] sbuettner commented on #157
@vinceferro This would indeed be very helpful since this approach could live without an extra upstream registration. Just an endpoint configuration property which tells kong to do an `SRV` lookup (with an optional `TTL` for the list of IPs/Ports).

The random selection you mentioned could later be handled by a preference list stored in an api config.

[2016-02-25 16:45] vinceferro commented on #157
@sbuettner Yes, using `SRV` lookup also gives you some kind of flexibility cause every service discovery system exposing a DNS interface responds the same way.

About api config though, consul-template has some instructions to get extra info about the service and the environment, and those info can be used to improve the lookup configuration.

[2016-02-25 16:58] Floby commented on #157
I like using DNS for this =)

On 25 February 2016 at 17:45, Vincenzo Ferrara <notifications@github.com>
wrote:

[2016-02-25 18:03] gottfrois opened #1023 "Allow optional oauth2 access_token encryption"
I'm trying to get my head around a full authentication flow with a frond-end app up to a backend api through kong using oauth2.

The way I see this is with the following:

1. FrontApp request login on Backend given username/password
2. Backend validate credentials
3. Backend request oauth2 token on Kong
4. Kong validate client id/secret and provision_key
5. Kong return access_token & refresh_token

[2016-02-25 18:12] BrianHutchison commented on #792
+1
Very interested in this. Any progress report?

[2016-02-25 19:44] esatterwhite commented on #157
@agentzh Has there been any movement on this for openresty?

[2016-02-25 19:47] agentzh commented on #157
@esatterwhite I'm not sure what you are asking for exactly. OpenResty already has balancer_by_lua* as well as the lua-resty-dns library.

[2016-02-25 19:48] ahmadnassri commented on #157
@agentzh I think in reference to [this](https://github.com/Mashape/kong/issues/157#issuecomment-172058521)

[2016-02-25 19:49] agentzh commented on #157
@ahmadnassri See lua-resty-chash: https://github.com/agentzh/lua-resty-chash Other balancers like round-robin should be much easier than this.

[2016-02-25 19:54] esatterwhite commented on #157
@agentzh yes, I was under the impression that this ticket was still waiting the balancer by lua branch to be merged.

@thefosk What is the general statea of this ticket / feature.

[2016-02-25 20:02] shashiranjan84 commented on #1022
Currently we are working on LDAP Plugin which authenticate user using `Bind Authentication`.  We still defining the scope of the LDAP plugin and Authorization going to be part of it eventually.

[2016-02-25 21:06] ambrons commented on #1023
Hey @gottfrois I think you got it pretty close, but it's off a little.  Here's the steps as I've implemented them see them.
1. Client App (Bob's Bait) wants to use you (AwesomeProvider) for user authentication and authorization
2. Bob's Bait redirects end-user to AwesomeProvider's Authorization Page with client_id, scopes, and response_type.
3. End-user is *not* authenticated with AwesomeProvider

[2016-02-25 21:16] gottfrois commented on #1023
Hey @ambrons thanks for sharing. You are illustrating the implicit grant flow here right? That's great for 3rd party applications but for 1st party application (owned by us) we can freely use the password grant flow (no need to redirect the user back and forth).

Now my main issue is the `access_token` stored on the front-end application. Kong will generate the token and the front-end will need to

[2016-02-25 21:19] ambrons commented on #1023
@gottfrois I'm illustrating the authorization code grant flow, not implicit.  The different there is that implicit wouldn't require the end-user to press the button, it would be assumed and upon authentication you would `POST` to kong's `/oauth2/authorize`.  Also the implicit grant doesn't use the authorization_code and instead returns the access token for immediate use.

So I guess we might be ta

[2016-02-25 22:53] thefosk commented on #782
@Toilal could you try again with Kong v0.7.0?

[2016-02-26 01:26] thefosk commented on #1016
I will close as duplicate of the mentioned issues.

[2016-02-26 01:26] #1016 closed

[2016-02-26 01:27] thefosk commented on #1010
This is related to #157.

[2016-02-26 01:27] #1010 closed

[2016-02-26 01:29] thefosk commented on #993
@85022134 were you able to figure it out?

[2016-02-26 01:30] thefosk commented on #948
@ThorArakis can you try with the latest version 0.7.0? This should have been fixed.

[2016-02-26 01:31] ThorArakis commented on #948
Will do, thanks!

[2016-02-26 01:34] nickmcintyre commented on #331
+1

[2016-02-26 01:47] ambrons commented on #1023
@gottfrois So to elaborate on JWT.  My personal taste would be to use JWT over the following headers supplied to my microservices in it's current implementation.  It concerns me that the microservice's user identity is contengent on the trust of that mutable headers added by Kong.

So the headers added by Kong for the upstream API are:

Contrast that with a (JWT)[http://jwt.io/], which is signed a

[2016-02-26 01:55] thefosk commented on #1017
I have opened a PR to fix some of this problems: #1025. The reason why we require `redirect_uri` is explained in #467.

[2016-02-26 04:18] ThorArakis commented on #948
Confirmed. Rate limiting is working as expect in 7.0 for jwt consumers!

[2016-02-26 06:18] #948 closed

[2016-02-26 07:10] #1013 closed

[2016-02-26 11:00] gottfrois commented on #1023
@ambrons ah thanks for the clarification about JWT. I did not understand it could replace those headers. Is it something possible with current kong version yet?

Yes, that's what I see people doing all around the internet. I don't feel confortable with it since an XSS security breach might be enough to still those tokens.

But that's the thing, if I want to encrypt the tokens "server-side" I need

[2016-02-26 15:10] pklingem commented on #218
+1

[2016-02-26 15:11] kdstew commented on #218
+1

[2016-02-28 19:19] siddharthkchatterjee commented on #890
@thefosk, this doesn't fail generally for a route at a time but occurs in one of fifty routes when my script is run. In fact, my script makes the same set of requests that you have pointed out. But I am certain that this occurs. The only thing is that it isn't deterministic. It seems to occur for a random route every time I setup all the routes using my script.

That's why I think it could be a da

[2016-02-28 19:39] leozc commented on #369
Thanks, @thefosk, I suggest just use a simple pattern to indicate the boundary of regex, {} may work well.

e.g
{REGEX}service.com where regex can be the regular expression.

NOTE: {} may collide with {min,max} in regex, but if your parser is greedy and extract the longest pattern between {} that should not be a problem.

[2016-02-28 19:45] leozc opened #1030 "Support DynamoDB in additional of Cassandra"
Making AWS experience is joy.

[2016-02-28 19:49] thibaultCha commented on #1030
Dup of #183. Also support is coming for Postgres very soon which will already ease AWS integrations.

[2016-02-28 19:49] #1030 closed

[2016-02-29 08:51] bad79s commented on #331
+1

[2016-02-29 11:33] codebien commented on #1017
Thanks for having solved so quickly. I know it's a big request but I try. This fix broke the public API, any chance to see a fixed release (7.0.1) in few(1-3) days? We would deploy in production Kong but without this fix online, I can't. Thank you again.

[2016-02-29 14:10] dag24 commented on #1005
:+1:

[2016-02-29 20:24] thefosk commented on #1017
@codebien I am planning to release 0.7.1 maybe next week, but definitely not this week. If it's an option for you, you could manually apply the patch submitted by https://github.com/Mashape/kong/pull/1025 to your installed Kong. Basically the only file that matters is `kong/plugins/oauth2/access.lua` (the other one is the test). Just replace your local file with the new one.

[2016-03-01 03:05] 85022134 commented on #993
@thefosk @mars  thanks, I finally figured it out

[2016-03-01 10:00] lalit-kore opened #1032 "file-log plugin not working"
I had the file-log plugin enabled for my api. It used to work fine in versions  0.5 and 0.6. Not working in 0.7.

[2016-03-01 11:21] lalit-kore commented on #1032
I have enabled the plugin, but its not getting loaded in table "loaded_plugins" (kong.lua)

the error logs say

2016/03/01 16:49:51 [debug] 29745#0: *459 [lua] base_plugin.lua:29: log():  executing plugin "ssl": log
2016/03/01 16:49:51 [debug] 29745#0: *459 [lua] base_plugin.lua:29: log():  executing plugin "oauth2": log

[2016-03-01 11:47] lalit-kore commented on #1032
Its working fine now. The file is getting generated.

[2016-03-01 11:47] #1032 closed

[2016-03-01 12:58] mitchellfranklin opened #1033 "[Request] kong web based front end"
Hi All,
Have been a bug fan of Mashape for a long time and looking to implement my own front end for some business services however from what I can tell (please let me know if I am wrong) is that kong does not provide such a service? i.e. API store, signup for users, admin type tasks etc.

I don't mind the curl process but obviously this would not work for day to day users or developers coming to

[2016-03-01 13:02] mitchellfranklin opened #1034 "Cassandra DB Install"
Hi all,

I have looked and looked but seem to be lost or just not seeing it, is there a doco or process that I can be given to show how to use the downloaded Casandra 2.2.x version to setup this up with Kong?

Been using/updating the yml file with the provisioning information when testing but would really love to get this working.

Thanks again and apologies if I have missed something and its star

[2016-03-01 13:34] Tieske commented on #1034
Been there :smile:

Best option is to use cassandra cluster manager (ccm); http://www.datastax.com/dev/blog/ccm-a-development-tool-for-creating-local-cassandra-clusters

[2016-03-01 13:42] jaceq commented on #331
Is there maybe any update on this topic?

[2016-03-01 13:46] Tieske commented on #1033
Have you checked the tools listed in the readme?; https://github.com/Mashape/kong#community-resources-and-tools

If the usecase doesn't match yours, let us know when you're up and running and we'll promot yours in the readme!

btw; we're not 'bug fans' actually we try to get rid of them :smiley:

[2016-03-01 18:00] jykae commented on #950
@mars I just recently tried Kong and auto-join fails for me also, is your fix coming to Kong or would you document the feature? Overall I am very happy about the documentation of Admin API, and everything.
I am using the latest 0.7.0 development installation on Vagrant box for evaluation.

We have frontend for another API proxy and we have plans to support also Kong on the frontend in the future h

[2016-03-01 18:17] jykae commented on #950
Also how auto-join basically should work, how Kong finds the nodes?

I traced files https://github.com/Mashape/kong/blob/master/kong/cli/services/serf.lua#L98 and https://github.com/Mashape/kong/blob/master/kong/dao/cassandra/factory.lua#L45

I am usually diving source-first to the applications, so just found also documentation about clustering here: https://getkong.org/docs/0.7.x/clustering/

Try

[2016-03-01 19:00] sinzone commented on #1033
- Devs signup & on-boarding we have [Gelato.io](http://gelato.io) (integrated with Kong)
 - OSS Admin GUI: https://github.com/PGBI/kong-dashboard
 - Analytics GUI: http://getgalileo.io/

[2016-03-01 19:37] thefosk commented on #950
By default Kong will advertise into the datastore the first non-loopback IPv4 address. The other nodes, that point to the same datastore, will then try to join the other nodes using their advertised address.

If auto-join doesn't work, it's usually for two reasons:

* Kong needs both TCP and UDP traffic allowed on port `7946` (https://getkong.org/docs/0.7.x/network/).
* The automatically detected

[2016-03-01 22:22] BrianHutchison commented on #331
+1 for Amazon DynamoDB.

[2016-03-01 22:46] danielrmeyer opened #1036 "kong not reading new changes to kong.yml"
I have a single cassandra node running.  I updated /etc/kong/kong.ya]ml with the contact_points of my node.  Here is the kong.yml:
https://gist.github.com/danielrmeyer/c2dc122c639fbebf3494

After updating the kong.yaml I get the following--indicating that it has not read my changes from the config file:

[code]

[2016-03-01 22:47] thibaultCha commented on #1036
This configuration file uses YAML formatting, you need to also uncomment the parent node of `contact_points`: `cassandra`.

[2016-03-01 22:50] danielrmeyer commented on #1036
I thought I did that. Is this not correct?
https://gist.github.com/danielrmeyer/c2dc122c639fbebf3494#file-kong-yml-L99

[2016-03-01 22:50] thibaultCha commented on #1036
https://gist.github.com/danielrmeyer/c2dc122c639fbebf3494#file-kong-yml-L96

[2016-03-01 22:57] danielrmeyer commented on #1036
I see.  Thanks

[2016-03-01 22:58] #1036 closed

[2016-03-01 23:12] ambrons commented on #1023
@gottfrois Sorry for the delay in response, busy, busy.

Not to my knowledge.  I've considered looking at it.  I think it would be idea for the existing access_token as a _by reference_ token, and instead of the added `X-` headers convert that into a _by value_ token, IMHO a JWT.  Obviously this probably needs to be configurable.

Yes I agree if it's going to be stored there it really should be en

[2016-03-02 03:22] mitchellfranklin commented on #1033
Thanks Tieske & sinzone - I cant believe I missed these from the main page, thanks for taking the time to point them out to me :)

[2016-03-02 03:22] #1033 closed

[2016-03-02 03:45] mitchellfranklin commented on #1034
Tieske thanks heaps for that, it may just be my brain but I do seem to see this as way over my skill level - no ones fault but my own of course. Q: is it possible of know if a VM or Virtual Box machine is available for download which is already setup with Kong/Cassandra etc.?

[2016-03-02 04:37] thibaultCha commented on #331
Hey everyone,

The implementation is almost complete, the branch now lives in this repository (See [feature/postgres](https://github.com/Mashape/kong/tree/feature/postgres)). As planned, Postgres 9.4 is supported so Amazon RDS should be supported as well, I briefly played with it but it needs to be tested more in-depth once the implementation is complete. Btw, testers are welcome here!

###### Wha

[2016-03-02 08:50] gottfrois commented on #1023
Just read a very interesting [blog post](http://blog.prevoty.com/does-jwt-put-your-web-app-at-risk) about JWT token client-side

Yeah I think you are right here. Whether it's the plain `access_token` or an encrypted version of it, stored client-side, if an attacker get its hand on the value, it does not matter whether it was encrypted or not since he just need to pass the value to the server (kong

[2016-03-02 14:49] ambrons commented on #1023
@gottfrois Thanks for the blog post it was a good read.  From the post here's an excerpt which states that using JWT for b2b for oauth2 is fine.

I would check out this blog post on (How To Control User Identity Within Microservices)[http://nordicapis.com/how-to-control-user-identity-within-microservices/]

This talks about using _by reference_ and _by value_ tokens.  I think in both cases they're

[2016-03-02 16:57] nsaliu opened #1037 "Serf problem"
Hi,
I'm tring to install Kong on OVH VPS but with no luck.
Any suggestion?

I paste the console error:

root@box:/home/webuser# kong start
[INFO] Kong 0.7.0
[INFO] Using configuration: /etc/kong/kong.yml
[INFO] Setting working directory to /usr/local/kong
[INFO] database...........cassandra keyspace=kong ssl=verify=false enabled=false replication_factor=1 contact_points=localhost:9042 replication_

[2016-03-02 20:56] thefosk commented on #1037
@nsaliu there was a problem finding the first non loopback IPv4 address. To fix this issue just explicitly set an IP address using the [`cluster.advertise`](https://getkong.org/docs/0.7.x/configuration/#cluster) property.

[2016-03-02 23:32] shashiranjan84 commented on #889
We may not need to create any new plugin for this, collectd already have a (statsd plugin)[https://collectd.org/wiki/index.php/Plugin:StatsD] which supposed to collect metrics. Will run some test to confirm this.

[2016-03-03 11:43] m1k3 commented on #605
+1

[2016-03-03 13:08] ambrons commented on #1023
@gottfrois I ran across this repo the other day, which might help.  It expects you're using _authorization_code_ grant type, but does remove the browser from knowing it ALL.
https://github.com/prose/gatekeeper

[2016-03-03 13:10] ambrons commented on #1022
@shashiranjan84 How would this integrate with `Consumer`?  Or would it be a replacement?

[2016-03-03 13:19] ambrons commented on #1014
So I've posted a lot of my thoughts about why I think adding JWT support would be great for the tokens in #1023 , however I'll summarize here.

So to elaborate on JWT. My personal taste would be to use JWT over the following headers supplied to my microservice in it's current implementation. It concerns me that the microservice's user identity is contingent on the trust of the mutable headers adde

[2016-03-03 15:18] codebien commented on #1014
@ambros IMO we are talking of two slightly different questions
What I requested is to have kong issuing (customizable) JWT instead of reference tokens.
Then, how the information carried by the JWT is forwarded to upstream services is, IMO, of secondary importance.

What you are saying is, according to my understanding, to group the various X-Header (that are currently proxied to upstream services)

[2016-03-03 16:48] supagroova commented on #369
:+1:

[2016-03-03 18:59] shashiranjan84 commented on #1022
So far the plugin implementation validate user using the credential(username:password) sent in the request against the LDAP server using Bind Authentication and cache the credential for future use.

Please give it a try if possible https://github.com/Mashape/kong/tree/plugin/ldap

[2016-03-03 21:53] thefosk commented on #1037
@nsaliu did that fix your problem?

[2016-03-03 22:55] nsaliu commented on #1037
Hi,
thanks for your reply!

I don't try your solution because then I install Kong with Docker on AWS instance.

For a complete scenario, when I got this problem, the server was an OVH VPS with Ubuntu 14.04.

Thanks so much thefosk.

[2016-03-03 23:06] thefosk commented on #1037
Okay, anyways setting an explicit `advertise` address would have fixed this problem.

[2016-03-03 23:06] #1037 closed

[2016-03-04 00:43] ambrons commented on #1014
@codebien I agree we're talking about JWT but at different sides of Kong. I believe adding support for JWT in generate for the token of oauth2 is a plus.

Yes I'm advocating using a Value JWT in place of the oauth identity X-Headers as it's immutable once signed.

On your 3 points:

API's user hit /ouath2/token.
I agree 100% on additiong JWT tokens as an option for access tokens when making reques

[2016-03-04 01:48] hou-xn opened #1040 "got error when starting kong (Mac OS X)"
Hi
I installed kong with brew and when I use the command "kong start",I got the error like below.
Seems it need libuuid.1.dylib but I only have libuuid.16.dylib in that directory.
------------------------------------------- error info ---------------------------------------------------------------
pft-no-MacBook-Pro:~ pft$ kong start
luajit: error loading module 'lua_uuid' from file '/usr/local/li

[2016-03-04 02:04] thefosk commented on #1040
@hou-xn what version of Kong are you trying to execute?

[2016-03-04 02:14] hou-xn opened #1041 "plugin enabled table merge error in version 0.7.0"
Hi
I found a bug in kong 0.7.0 when I add some custom plugins to kong.yml.
when I use management api to get the plugins list  (http://localhost:8001/plugins/enabled)
I found the plugin names on the top of the list which should be the exist plugins are overwritten by the custom plugin names.

Perhaps it because the code below (kong/tools/config_loader.lua   row 185)
config.plugins = utils.table_mer

[2016-03-04 02:15] hou-xn commented on #1040
I try to execute 0.7.0

[2016-03-04 02:29] thibaultCha commented on #1040
The libuuid library should be installed by the Formula too: https://github.com/Mashape/homebrew-kong/blob/master/Formula/kong.rb#L19

Do you see it among your installed Formulas?

[2016-03-04 02:36] hou-xn commented on #1040
@thibaultCha Yes, ossp-uuid was succefully installed but the version is 1.6.(libuuid.16.dylib) and when I start the kong , it seems need libuuid.1.dylib

[2016-03-04 02:38] thefosk commented on #1040
@hou-xn are you using homebrew or the osx package?

[2016-03-04 02:39] hou-xn commented on #1040
@thefosk Yes, I used command below:
brew tap mashape/kong
brew install kong

[2016-03-04 04:48] hou-xn commented on #1034
@mitchellfranklin If you use vagrant, this may be helpful because cassandra is included in that env.
https://github.com/Mashape/kong-vagrant

[2016-03-04 08:48] jimmypk opened #1042 ": attempt to perform arithmetic on field 'KONG_HEADER_FILTER_STARTED_AT' (a nil value)"
I see many error log in /usr/local/kong/logs/error.log

2016/03/04 10:31:34 [error] 2043#0: *41194 failed to run body_filter_by_lua*: /usr/local/share/lua/5.1/kong/core/handler.lua:96: attempt to perform arithmetic on field 'KONG_HEADER_FILTER_STARTED_AT' (a nil value)
stack traceback:
        /usr/local/share/lua/5.1/kong/core/handler.lua:96: in function 'after'
        /usr/local/share/lua/5.1/k

[2016-03-04 10:58] nsaliu opened #1043 "Request: enable multiple origins in CORS plugin"
Hi,
I've a question (or request... ;))

Is planned to enhance the CORS plugin to allow multiple origins?
At the moment I can add only one origin, or the "*" for allow all.

Thanks.

[2016-03-04 11:57] mitchellfranklin commented on #1034
@hou-xn thank you very much - perfect and worked like a charm - thanks all for the help it is greatly appreciated

[2016-03-04 11:57] #1034 closed

[2016-03-04 11:58] veerendramw opened #1044 "Edit Request URL plugin"

[2016-03-04 21:55] nijikokun commented on #1043
Not currently planned, doing so would require doing some matching on the origin of the request, as [in the specification](https://www.w3.org/TR/cors/#access-control-allow-origin-response-header) the `origin-list` is more strict in production allowing only a single domain or `*` / `null`.

A [few](http://stackoverflow.com/a/33613114/983070) [common](http://stackoverflow.com/a/1850482/983070) sugges

[2016-03-04 23:03] siddharthkchatterjee opened #1045 "Invalid data in manifest file for module kong.plugins.rate-limiting.daos (feature/postgres)"
@thibaultCha, your branch `feature/postgres` breaks for me when I try to run it, with this —
[code]

`kong/dao/factory.lua:98` seems like the problem. Removing it entirely fixes this and passes all tests. But I'm sure that's not the solution since it'll result with an empty schema further down.

[2016-03-04 23:04] thibaultCha commented on #1045
Ideally you should run this branch in a purged luarocks tree, so that no file conflicts with the current 0.7.0 version.

[code]

[2016-03-04 23:12] thibaultCha commented on #1045
Thank you for giving this a try btw! As a side note, currently the branch is being tweaked by @thefosk to enable clustering capabilities in Postgres. This is currently quite unstable. For the moment, if you are fine with only running one node, I would suggest doing so.

[2016-03-04 23:14] siddharthkchatterjee commented on #1045
Alright, I purged the tree and now `sudo make dev` fails with —
[code]

I have `openssl` installed. Any ideas? Also, you're welcome. I'm running a single node to test with.

[2016-03-04 23:20] thibaultCha commented on #1045
Are you on OS X? If so, this is a common error since the openssl shipped by default in OS X is not in the default search paths. If you are not on OS X, it seems this is the error anyways...

On OS X, installing openssl via Homebrew, and linking it overrides the default installation and places openssl in `/usr/local`, which is a default search path for your compiler and linker:

[code]

If you are

[2016-03-04 23:32] siddharthkchatterjee commented on #1045
I'm running trusty64 in a VM. I had `openssl` installed but I think I needed `libssl-dev`. Installing that fixed this.

Also, purging the luarocks tree seems to have fixed what was breaking as well. I'm closing this issue. Thank you, @thibaultCha.

[2016-03-04 23:32] #1045 closed

[2016-03-04 23:33] thibaultCha commented on #1045
Oh yes, of course an openssl installed is better than no install at all :)

Great!

[2016-03-05 17:04] siddharthkchatterjee opened #1046 "An unexpected error occurred (feature/postgres)"
@thibaultCha, I get this response from `GET /apis` after successfully registering a few routes —
```{ response: { message: 'An unexpected error occurred' } }```

The documents look perfectly fine in the database. After manually deleting all rows in the `apis` table, things work fine again. I don't see any logs written to disk.

What would you need to debug this? Can you help?

[2016-03-05 17:56] sthzg commented on #1037
FWIW, I was running into this error and configuring `cluster.advertise` works for me.

[2016-03-05 18:46] siddharthkchatterjee commented on #1046
This is the error that postgres logs —
[code]

[2016-03-05 18:55] siddharthkchatterjee commented on #1046
And it automagically doesn't throw the error anymore.

[2016-03-05 19:00] thibaultCha commented on #1046
Which commit are you on exactly?

[2016-03-05 19:05] siddharthkchatterjee commented on #1046
I'm on b732652dec91f1d4cca1ca76875cb05f1b3cc6a2 (fix(plugins_iter) deterministic plugin retrieval with C*).

[2016-03-05 19:07] thibaultCha commented on #1046
I did not implement this part of the feature tbh. But I would recommend pulling the branch again.

[2016-03-05 19:13] siddharthkchatterjee commented on #1046
@thibaultCha, alright. I just got a bunch of updates in the pull. I'll comment back here if it persists. I'm sorry about the constant bother. Just trying to help.

[2016-03-05 19:18] thibaultCha commented on #1046
Sure, no bother, it's appreciated :)

[2016-03-05 20:20] #1046 closed

[2016-03-06 11:41] aviemzur opened #1047 "A Facebook/Google/... login plugin"
A plugin for authentication via Facebook/Google/...

[2016-03-07 00:43] nickmchardy commented on #369
:+1:

[2016-03-07 00:50] hou-xn commented on #1040
@thefosk  @thibaultCha
Is there any way to get an old version lib for the ossp-uuid ? Because if I use brew install ossp-uuid, I will get the newest ossp-uuid (libuuid.16.dylib) installed and kong(0.7.0) will not start unless a libuuid.1.dylib is exists.
I really want to use kong in my Mac.

[2016-03-07 01:08] geovanisouza92 commented on #331
+1

[2016-03-07 10:05] mpetyx commented on #1040
I had the exact same error with @hou-xn :+1:

[2016-03-07 14:01] gottfrois commented on #1023
@ambrons thanks for links :)

[2016-03-07 15:43] ahmadnassri opened #1048 "WAF plugin"
[naxsi](https://github.com/nbs-system/naxsi) provides a [WAF](https://www.owasp.org/index.php/Web_Application_Firewall) layer for nginx

might be suited for a plugin.

[2016-03-07 16:17] Tieske commented on #1048
from that site;

sounds like an application specific plugin, not something generic.

[2016-03-07 19:02] ahmadnassri commented on #1048
related: https://www.trustwave.com/Resources/SpiderLabs-Blog/Announcing-the-availability-of-ModSecurity-extension-for-Nginx/

[2016-03-07 20:23] thefosk opened #1049 "Better Serf error message"
It seems like some people are experiencing this error (related to #1037):

[code]

We should detect the error and provide a better message.

[2016-03-07 20:24] thefosk commented on #1047
@aviemzur to better understand your request, since Kong has no GUI interface, how would that work?

[2016-03-07 20:26] thefosk commented on #1044
@veerendramw, can you please be more descriptive?

[2016-03-07 21:47] thefosk commented on #890
@siddharthkchatterjee yes, that would help to replicate the problem

[2016-03-08 02:01] hou-xn commented on #1040
@mpetyx Do you have any idea about that ?

[2016-03-08 03:28] thibaultCha commented on #1040
Installing the latest `ossp-uuid` does install the right library for me:

[code]

[2016-03-08 03:41] luofanyuguai opened #1051 "Can kong support other database?"
like normal db?

[2016-03-08 04:06] hou-xn commented on #1040
@thibaultCha Yes, I have the same library version with you. But when I start kong(0.7.0) in my mac, there would be an error like I said on the top. It needs "libuuid.1.dylib" which could not found in my pc.

[2016-03-08 04:51] hou-xn commented on #1040
@thibaultCha Can you start kong 0.7.0 with your Mac PC with the newest ossp-uuid?

[2016-03-08 04:53] thibaultCha commented on #1040
Yes, every day

[2016-03-08 04:55] thibaultCha commented on #1040
Could you try reinstalling this module and see if it results in any error or warning?

[code]

The linker should already at this point complain if luuid is not available.

[2016-03-08 05:11] hou-xn commented on #1040
@thibaultCha
When I try the command below , it worked.
$ luarocks remove --force lua_uuid
$ luarocks install lua_uuid

Thank you very much.It helps me a lot.

[2016-03-08 05:14] thibaultCha commented on #1040
That's great! :D

[2016-03-08 05:17] #1040 closed

[2016-03-08 06:22] thefosk commented on #1051
Hello. What do you mean by normal db?

[2016-03-08 06:53] mingfang commented on #1051
+1 to remove dependency on cassandra.
I'm guessing normal == mysql

[2016-03-08 07:21] thibaultCha commented on #1051
See

#183
#331
#883

[2016-03-08 07:22] thefosk commented on #1051
Support for a relation database will land in v0.8, and it's going to be PostgreSQL.

[2016-03-08 07:24] thefosk commented on #331
This feature will land in v0.8.

[2016-03-08 08:14] luofanyuguai commented on #1051
thanks ,

[2016-03-08 08:21] wanghaisheng commented on #1051
@thefosk  when v0.8 will be released ?

[2016-03-08 15:12] ojengwa commented on #610
I just ran into the same issue. I also installed both Nginx and kong via homebrew. My version of kong is 0.5.2 which I guess is the latest version as of the time of writing this. Has this issue been fixed?

[2016-03-08 15:38] olufemi commented on #986
This error " did not find expected <document start> at document: 1, line: 166, column: 1". I'm also facing in starting kong.
@jeevaengg21 did not really indicate how he resolved this. Or may be you can paste on this blog correct cassandra setting in kong.yml. i'm using redhat server with a public ip.

Please i need your help to resolve this, my client is on me. Thank you.

[2016-03-08 15:54] Tieske commented on #986
@olufemi please see #949 probably you have a formatting error in your yml config file. Please check carefully the indentations etc.

[2016-03-08 20:27] sinzone commented on #610
@ojengwa latest version is 0.7

[2016-03-08 20:41] thibaultCha commented on #1048
https://github.com/p0pr0ck5/FreeWAF

[2016-03-09 03:48] jusw85 commented on #218
+1

[2016-03-09 04:15] jeevaengg21 commented on #986
@olufemi if your running the cassandra in the same machine, do not make any change in kong.yml. so revert all the changes you have done and try again.

[2016-03-09 05:16] hou-xn commented on #1041
@thefosk I overwrite the lua file by the latest code and the bug is fixed.
Thank you very much.

[2016-03-09 05:23] #1041 closed

[2016-03-09 12:04] oholubyev commented on #845
:+1: would love to have this feature

[2016-03-09 12:14] vikrant2mahajan opened #1055 "Sentry Logging integration"

[2016-03-09 13:33] noamelf commented on #369
:+1:

[2016-03-09 16:10] tjsousa commented on #369
:+1:

[2016-03-09 20:33] chicoandrade opened #1056 "strip_request_path doesn't seen to work with request_host"
Hi there,

I'm using Kong 0.7.0 and I'm having some problems when registering an api with strip_request_path=true and request_host. Kong doesn't seen to be removing the request_path like it  do when we create an api without request_host parameter.

For example:
1- Register an api with request_path and without request_host:
bq. curl -i -X POST --url http://localhost:8012/apis --data 'name=test1' --

[2016-03-09 21:42] thibaultCha commented on #1056
This is currently expected, since `request_host` has the priority over `request_path` when routing a request. `strip_request_path` is only triggered when routing happens with the `request_path`. You could remove the `request_host` to make routing happen with the path, especially since having both does not provide any additional behavior.

[2016-03-09 23:06] kdlcruz opened #1057 "Kong won't start when Cassandra is in different server"
Hi,

It was stuck in the "core" migration.

[INFO] Using configuration: /etc/kong/kong.yml
[INFO] Setting working directory to /usr/local/kong
[INFO] database...........cassandra keyspace=kong ssl=verify=false enabled=false replication_factor=1 contact_points=10.176.69.147:9042 replication_strategy=SimpleStrategy timeout=5000 data_centers=
[INFO] Database not initialized. Running migrations...
[IN

[2016-03-09 23:29] thefosk commented on #1057
Can you check the error log at `/usr/local/kong/logs/error.log`?

[2016-03-09 23:32] kdlcruz commented on #1057
No logs is created.

tail: cannot open `/usr/local/kong/logs/error.lo' for reading: No such file or directory

[2016-03-09 23:37] thefosk commented on #1057
You miss a final `g` in `.log`.

[2016-03-09 23:39] kdlcruz commented on #1057
sorry, but I just checked again.

total 8
drwxrwxrwx  2 root root 4096 Feb 25 02:41 ./
drwxr-xr-x 12 root root 4096 Mar  8 02:51 ../

[2016-03-10 00:12] thefosk commented on #1057
What version of Cassandra are you using? Kong requires Cassandra 2.2.x

[2016-03-10 00:17] kdlcruz commented on #1057
2.1.10

I'll try to upgrade my Cassandra.

Thanks for your help!

[2016-03-10 00:25] thefosk commented on #1057
@kdlcruz let me know if that fixes it

[2016-03-10 00:37] ejether opened #1058 "How to create a single-api consumer"
If I want to create a consumer that only has access to a one api, how can I go about doing that.  I wasn't able to find an answer in the docs.
Thanks

[2016-03-10 00:53] sonicaghi opened #1059 "AppDynamics Integration"

[2016-03-10 01:03] ThorArakis commented on #1058
I think it depends on the auth type you are using. For instance with JWT you associate an auth to a consumer _and_ to an api. So it's more of an opt-in model per api which would allow you to have a certain JWT credential only access a single api but not others.

Which auth method are you trying to use?

[2016-03-10 01:33] kdlcruz commented on #1057
@thefosk

Cassandra is now 2.2.5 but I can't start it anymore.

org.apache.cassandra.exceptions.ConfigurationException: Saved cluster name Test Cluster != configured name bc5d6f7b-1561-462c-a5c4-186c9f6306b2
	at org.apache.cassandra.db.SystemKeyspace.checkHealth(SystemKeyspace.java:736) ~[apache-cassandra-2.2.5.jar:2.2.5]
	at org.apache.cassandra.service.StartupChecks$9.execute(StartupChecks.java:

[2016-03-10 03:21] ejether commented on #1058
We are currently using key-auth style. We are converting to Kong from another api-manager proxy and that what we're set up handle currently. JWT might work for us in the future though. Thanks for the info.

[2016-03-10 04:58] kdlcruz commented on #1057
Ok, Everything is working now. :). First of, I was able to make it work using Cassandra 2.1.10. The probelm was the version of my nodes are not the same. So after updating the, Kong was able to start successfully.

Thanks for your help!

[2016-03-10 05:50] thibaultCha commented on #1057
That is great! And yes, Kong is compatible both with Cassandra 2.1 and 2.2.

Alright :)

[2016-03-10 05:50] #1057 closed

[2016-03-10 07:49] mdan1eli opened #1060 "Support JWT client assertion in OAuth"
Extending support in OAuth plugin to support signed JWT as part of the confidential client authentication, as defined in https://tools.ietf.org/html/rfc7523.  In a mobile application, the client would use a Resource Owner Password Grant, adding a signed JWT as a client assertion as an alternative to client id + secret.  As the client credential can include also a "nonce" claim in the _jti_ claim m

[2016-03-10 10:08] mdan1eli opened #1062 "Bearer token validation against external OAuth provider"
A plugin that (1) checks a token against an external provider for validity (2) stores the token until expiration for performance or cache for default 60 seconds and (3) validates token scopes against a configured value (acting as a resource server).

One use case where I would find it useful is in the Admin API (where I would use PCF UAA services) to validate admin access without replicating crede

[2016-03-10 15:14] chicoandrade commented on #1056
Ok. Thanks very much for the explanation :)

Just  as an enhancement suggestion, when someone tries to register an API using these combination, Kong could warn about its behavior and/or register strip_request_path as false instead of registering as true:

{
"upstream_url": "http://localhost:8080/restheart",
"request_path": "/test2",
"id": "cf864af5-b6a9-43d0-8df7-fc04d7ca7f26",
"strip_request_path

[2016-03-10 16:44] ThorArakis commented on #1058
You could try using the key-auth plugin in conjunction with the ACL plugin (allows you to white/black list apis by consumer). It might be a little bit more setup but could be a lot less work then requiring you to move to a new auth mechanism.

[2016-03-10 17:42] ThorArakis opened #1063 "api configurations not getting updated when changes are made (local cache not getting invalidated)"
Right now we have 2 kong app instance running, lets call them kong-a and kong-b. When I make a change to an api, the change appears successful in the admin api but doesn't actually apply. More details below:

I am currently using the key-auth plugin configuration to test configuration changes by enabling/disabling the key auth and seeing if I can curl the associated api endpoint. I have gotten the

[2016-03-10 18:32] ThorArakis commented on #1063
More info:

kong version: 0.7.0 running from deb install
nginx: version that is bundled in with kong
server: Ubuntu 14.04.4
cassandra: 2.2.0 running in 3 machine cluster

[2016-03-10 19:07] deltheil opened #1064 "plugins/request-transformer: missing migrations"
As of #824 `schema.lua` has been modified. Still there is no `schema/migrations.lua` file for this plugin.

This breaks at runtime, e.g. from an instance of Kong migrated from 0.5.4 to 0.7.0, for a call over an API that uses the request-transformer with `config.add.headers` _only_ (i.e. no `config.remove.headers`, etc):

[code]

See [this line](https://github.com/Mashape/kong/blob/abb9dc5747a48ad5

[2016-03-10 19:13] thibaultCha commented on #1064
Dang. @shashiranjan84 Could you add the appropriate migrations for this?

[2016-03-10 19:33] thibaultCha commented on #1064
Another option could be to handle this in the plugin's logic. Doing so would probably be safer, plus the performance overhead might not be significant since all schemas after #824 do have the `remove` (and others) fields, so branch prediction should step in here. A migration would still be useful for users though.

Thanks @deltheil for the report!

[2016-03-10 20:17] thekiwi commented on #1005
This might be a good starting point:
https://github.com/adobe-apiplatform/api-gateway-aws

[2016-03-10 20:35] deltheil opened #1065 "Host not preserved w/ request_path + preserve_host"
It looks like with Kong 0.6.0 or higher the host is not correctly preserved for API-s configured with:

1. `request_path` routing,
2. `preserve_host=true` option.

I faced such a problem after a 0.5.4 to 0.7.0 migration.  With Kong 0.5.4, the host is obtained via the corresponding [nginx header](https://github.com/Mashape/kong/blob/bdc6043b6295bb252f3ce6e58c8f48e2cf760ad3/kong/resolver/access.lua#

[2016-03-10 20:36] pklingem commented on #1065
seen this as well

[2016-03-10 20:46] deltheil opened #1066 "cli: missing error check for services/prepare"
Currently (Kong +0.6.0) there is [no error check for this step](https://github.com/Mashape/kong/blob/4943619e1b68c111caaa11e8c369ee173896f31d/kong/cli/utils/services.lua#L93).

e.g. I encountered this as I worked with wrongly configured SSL certificates. In consequence the [nginx SSL preparation](https://github.com/Mashape/kong/blob/4943619e1b68c111caaa11e8c369ee173896f31d/kong/cli/services/nginx.

[2016-03-10 21:29] thibaultCha commented on #1066
I agree, the CLI is not really reliable and a lot could be done to improve it... On a private branch I have been reimplementing many of Kong's current issues, and its CLI looks something like this:

[code]

And have the actual commands simply throw errors:

[code]

It could probably be backported to Kong.

[2016-03-10 22:32] thefosk commented on #1058
The ACL plugin would be the way to go.

[2016-03-10 22:49] jl91 opened #1067 "Error on upload files via kong proxy"
kong throwing error "An unexpected error occurred" with server 500 when we try to upload a file via kong proxy with post. We identitf that this error occurs when kong try to merge the request in

kong/plugins/oauth2.lua

in line 94
return utils.table_merge(ngx.req.get_uri_args(), ngx.req.get_post_args())

this error dont happen if we change this line for this another line

return ngx.req.get_uri_a

[2016-03-10 22:50] ejether commented on #1058
Awesome, I'll give that a shot.
Thanks folks!

[2016-03-10 23:11] #1058 closed

[2016-03-10 23:24] #1065 closed

[2016-03-10 23:24] thefosk commented on #1065
Thanks guys, this issue has been closed by #1068.

[2016-03-11 00:11] thefosk commented on #1067
@jl91 I believe my PR fixes your problem. Is the error message you pasted the full log?

[2016-03-11 00:12] thefosk commented on #1063
@ThorArakis in your setup:

1. What is the output of `kong cluster members`?
2. The error logs you checked also include `/usr/local/kong/logs/error.log`?

[2016-03-11 00:30] #1066 closed

[2016-03-11 00:50] thefosk commented on #1051
Take it with a grain of salt, maybe within a month. Closing as duplicate.

[2016-03-11 00:50] #1051 closed

[2016-03-11 00:50] ThorArakis commented on #1063
1.
[code]
2. Yes that is one of the logs I'm checking. Looks like today we've gotten some errors in it, but I think they are unrelated:
[code]

Permissions are currently 777 on `serf_event.sh` but I'll try and update and re-test.

[2016-03-11 00:52] thefosk commented on #1063
Thanks. This is very weird, because there is a test that specifically checks the invalidations and it works. Also, are the two nodes reachable on port `7946` on both TCP and UDP protocols?

[2016-03-11 01:02] ThorArakis commented on #1063
We ran tcpdump and looks like both are reachable.

[2016-03-11 01:23] ThorArakis commented on #1063
The lua `yaml` library has a bug in its is_number validation. https://github.com/lubyk/yaml/issues/1

This causes `0.0.0.0:8001` to be misparsed as the number 0

our configuration management system (chef) composes the YAML for kong.yml from chef attributes. IIRC, the YAML spec prefers unquoted strings unless there is something (like trailing spaces) which forces quoting. (I think you see where thi

[2016-03-11 01:23] #962 closed

[2016-03-11 01:26] thefosk commented on #1042
I was looking at the code and it seems like `ngx.ctx.KONG_HEADER_FILTER_STARTED_AT` is being set only if [`ngx.ctx.KONG_PROXIED` is `true`](https://github.com/Mashape/kong/blob/master/kong/core/handler.lua#L74-L78).

For some reason in your case `ngx.ctx.KONG_PROXIED` is `false`.

@thibaultCha maybe can help on this one.

[2016-03-11 01:29] thefosk commented on #782
@Toilal just a little ping to make sure this issue is indeed fixed.

[2016-03-11 01:56] thefosk commented on #735
This issue seems to have been already fixed in the past, as #1071 demonstrates.

[2016-03-11 03:36] thefosk commented on #1063
To force the YAML library to load the value properly, try to enclose the value in quotes, like:

[code]

[2016-03-11 04:27] jl91 commented on #1067
no, this is a tail off log. tomorrow i update this ticket.

[2016-03-11 14:44] robbydooo commented on #858
Is there any plan to implement this plugin @rdegges ? Any timeframe ?

[2016-03-11 17:33] BrianHutchison commented on #183
+1 for DynamoDB support. Please.

[2016-03-11 23:43] #735 closed

[2016-03-12 00:07] ThorArakis commented on #1063
We managed to throw some custom wrapper code to make sure that we add the double quotes during provisioning, so we're good to go for now. Thanks!

[2016-03-12 00:13] #1063 closed

[2016-03-12 00:53] thefosk commented on #1067
Okay - I think my PR fixes it but seeing the full log would still help.

[2016-03-13 01:51] rdegges commented on #858
@robbydooo we'd love to build this, but it isn't a priority atm. We're currently working on improving some of our core language libraries, but will definitely get to this in the future (although I don't know what the timeframe looks like :()

[2016-03-14 06:21] gavinzhou opened #1074 "serf defunct in docker"
I run kong in docker
get this messages

<pre>
root       115   111  0 Mar10 ?        00:01:24 nginx: worker process
root       153     1  0 Mar10 ?        00:00:00 [serf] <defunct>
root       178     1  0 Mar10 ?        00:00:00 [serf] <defunct>
root       193     1  0 Mar10 ?        00:00:00 [serf] <defunct>
root       208     1  0 Mar10 ?        00:00:00 [serf] <defunct>
root       233     1  0

[2016-03-14 06:59] thefosk commented on #1074
There should only be one instances of serf running, can you check the log at `{working_directory}/serf.log` ?

[2016-03-14 07:17] gavinzhou commented on #1074
I run [docker kong ](https://getkong.org/install/docker/) in the one instance
[code]
thank you

[2016-03-14 07:58] Toilal commented on #782
I'm sorry, don't have time to test this now. I'll try to test during the week.

[2016-03-14 13:50] windinn opened #1075 "request_path already exists with value ***"
When add 2 APIs with same request_path but different request_host, kong complains:

Does it make sense?

[2016-03-14 14:54] ahmadnassri opened #1076 "expose memcached configuration through a plugin"
[ngx_http_memcached_module](http://nginx.org/en/docs/http/ngx_http_memcached_module.html)

related: #411

[2016-03-14 15:47] olufemi commented on #986
Thanks so much @jeevaengg21 , i'm running cassandra on the same machine. As you asked me to do i have restored kong.yum to its defualt. But when i ran "kong start", i got the following response:

[olufemi@localhost ~]$ kong start
[INFO] Kong 0.7.0
[INFO] Using configuration: /etc/kong/kong.yml
[INFO] Setting working directory to /usr/local/kong
[INFO] database...........cassandra keyspace=kong ssl

[2016-03-14 16:53] BrianHutchison commented on #1009
+1

[2016-03-14 17:53] thibaultCha commented on #1075
Yes, this is the expected behavior. Path and Host do not take each other into consideration and hence must be unique. See https://groups.google.com/forum/#!searchin/konglayer/already$20exists/konglayer/rqeWoudWBRY/hOIBFtSgCwAJ

[2016-03-14 17:53] #1075 closed

[2016-03-15 13:06] worktick opened #1079 "kong.plugins.runscope.log and kong.plugins.runscope.buffer"
- An overview of the issue
  - We noticed that kong.plugins.runscope.handler is requesting kong.plugins.runscope.log - but in the rockspec this is defined as kong.plugins.runscope.buffer. It's slightly misleading when reading the code but also throws a startup error when installing (and starting up) from a rockspec.
- Your use case (why is this a bug for you?)
  - It throws a startup error when de

[2016-03-15 13:46] PGBI opened #1080 "[Request] Oauth2 - multiple redirect_uri per app"
Right now, only one redirect_uri per app can be defined. The Oauth2 spec actually allows to define several redirect_uri for an app: https://tools.ietf.org/html/rfc6749#section-3.1.2.3

[2016-03-15 17:16] kamaydeo opened #1081 "client credentials workflow"
I am having issues with setting up client_credentials OAtuh2 flow on Kong.

I mainly need client_id and client_secret for this flow; however I couldn’t find any documentation reference to show me how to create a consumer with this info.

Effectively, I will make this call

curl  -X POST 'https://kong:8001/oauth2/token' -d 'grant_type=client_credentials&client_id=ns4fQc14Zg4hKFCNaSzArVuwszX95X&clie

[2016-03-15 18:58] thefosk commented on #1081
https://getkong.org/plugins/oauth2-authentication/#create-a-consumer and https://getkong.org/plugins/oauth2-authentication/#create-an-application

You can use the [ACL plugin](https://getkong.org/plugins/acl/).

[2016-03-15 19:03] kamaydeo commented on #1081
create-an-application forces you to provide redirect_uri which is not relevant for client_credentials workflow. Can I just use a fake/empty url instead?

[2016-03-15 19:22] kamaydeo commented on #1081
ok. I created a consumer and an application.
curl -X POST http://kong:8001/consumers/ --data "username=user123"

curl -X POST http://kong:8001/consumers/user123/oauth2 \
    --data "name=Test%20Application" \
    --data "client_id=web" \
    --data "client_secret=pass" \
    --data "redirect_uri=http://some-domain/endpoint/"

When I make the following request

curl -X POST 'https://kong:8001/oauth

[2016-03-15 20:22] thefosk commented on #1081
This URL is wrong: `https://kong:8001/oauth2/token`. You need to append `/oauth2/token` when consuming the API on the proxy port (defaul is `8000`).

[2016-03-15 21:57] thefosk commented on #1074
What happens if you run `serf members`?

[2016-03-16 02:07] fairuskhalid opened #1083 "Chrome: Refused to set unsafe header "Host""
I am trying out the Kong example and using chrome rest client application.While trying to make the api request through kong.

curl -i -X GET \
  --url http://localhost:8000/ \
  --header 'Host: mockbin.com'

I got this error:

404: Not Found

{
"request_path": "/"
"message": "API not found with these values"
"request_host": [1]
0:  "10.1.71.58"
-
}

Upon investigation I found that chrome is blocki

[2016-03-16 04:49] thefosk commented on #1083
You could use the path resolver to resolve the API, instead of using a `Host` header. That should work.

[2016-03-16 07:28] fairuskhalid commented on #1083
Thanks for the input. Further reading I found using the "X-Host-Override" header to solve the problem.

$ curl -i -X GET \
  --url http://localhost:8000/ \
  --header 'X-Host-Override: mockbin.com'

[2016-03-16 07:28] #1083 closed

[2016-03-16 12:43] Forest1602 opened #1084 "Oauth 2.0"
I have external [Authorization  Server](https://github.com/OAuth-Apis/apis) which register clients and generate tokens. How to merge Authorization Server with kong? Bcoz I need to save client and generate tokens on external Authorization Server but manage access to my APIs at Kong.

Common use case is where I have an existing OAuth system in place, and I would like to use the tokens generated by t