[2017-04-17 09:33] Elfatimaz commented on #2376
I have the same problem..i added an api named storage that works perfectly but all the api i added after it do not work ..i even tried to add an other api sharing the same upstream url with the storage api with different name and host name but the call to this new api returns " no api found with these values"..is there any constraints on the parameters we register the api with ?

[2017-04-17 09:34] bungle commented on #2399
I believe that you have OpenResty compiled ` --with-luajit-lua52` aka no flag ` --without-luajit-lua52`. The return codes of `os.execute`are pretty inconsistent across the Lua versions (and Penlight versions), and the compile flags. This patch by me tries to make `Penlight` behave compatibly with Lua 5.1, 5.2, 5.3 and LuaJIT with 5.2 compatibility mode on/off:
https://github.com/stevedonovan/Penli

[2017-04-17 09:41] toby2 commented on #2398
simply change upstream url from http://api.toby.local:8885 to http://kongtest,  balancer functionality could work well.

[2017-04-17 10:00] flyabc commented on #2048
@ewilde @amramtamir Hi , I also encountered ssl mutual authentication problem and I read this issue carefully,but I still do not know how to achieve mutual authentication, I want to say my question,Can you take the time to help me?
1,Why can not I find **Ssl-auth** plugin ?
2, Why can not I add a API with the verify_client  or verify_depth property ?
      curl -i -X POST http://localhost:8001/api

[2017-04-17 14:35] ChaimaeELL commented on #2376
thanks for you all, i have removed all apis that i added before and retried finally it works.

[2017-04-17 16:18] thefosk commented on #2398
You need to use the Admin API which by default is on port `8001`.

[2017-04-17 16:56] #1889 closed

[2017-04-17 17:30] p0pr0ck5 commented on #2398
@toby2 the `name` field of the upstream object must match that of the `upstream_url` of the associated API. Have a read over the following docs:

https://getkong.org/docs/0.10.x/admin-api/#upstream-object
https://getkong.org/docs/0.10.x/loadbalancing/#ring-balancer

When the `upstream_url` doesn't match a given `upstream` object, it attempts to resolve the `upstream_url` directly, which explains t

[2017-04-17 17:30] #2398 closed

[2017-04-17 17:35] p0pr0ck5 commented on #2275
Closing, as this was fixed in https://github.com/Mashape/kong/commit/57ad9ffe586d102510f5fa987ce20494b87bb506.

[2017-04-17 17:35] #2275 closed

[2017-04-17 17:36] p0pr0ck5 commented on #2194
@plukevdh as part of the 0.10.1 release, we included an LRU mechanism in per-worker memory caches to eliminate this sort of unbounded growth. Can you have a try of the latest release and let us know if you still see the same behavior?

[2017-04-17 17:38] p0pr0ck5 commented on #2103
Closing as this was done as noted above.

[2017-04-17 17:38] #2103 closed

[2017-04-17 17:41] p0pr0ck5 commented on #2011
@eit thanks for opening this. Both `/etc/kong.conf` and `/etc/kong/kong.conf` will be checked: https://github.com/Mashape/kong/blob/master/kong/conf_loader.lua#L322.

Do let us know if you have any other questions here!

[2017-04-17 17:41] #2011 closed

[2017-04-17 17:44] p0pr0ck5 commented on #2325
@cosmopetrich currently there is support for Kong to close and re-open the FD. We are discussing the appropriate approaches here: in the meantime, you could use the `copytruncate` logrotate directive to avoid the stale descriptor problem.

[2017-04-17 17:46] p0pr0ck5 commented on #2187
@ushaheu ping, have you had time to research your missing dependency issue?

[2017-04-17 17:46] p0pr0ck5 commented on #2399
(please don't include stack traces in issue titles :) )

[2017-04-17 17:47] p0pr0ck5 commented on #2383
(please don't include stack traces in issue titles :) )

[2017-04-17 17:50] ushaheu commented on #2187
@p0pr0ck5 Not at all. I rather installed using homebrew.

[2017-04-17 17:52] p0pr0ck5 commented on #2187
Okay, shall we close this issue then?

[2017-04-17 18:19] p0pr0ck5 commented on #2388
Closing this as a dup of #2048. @flyabc the above issue is not a native solution in Kong, but is a feature request and discussion about a community implementation that fits your needs. Since you're communicating with OP on that thread, I'll close this out now. Thanks!

[2017-04-17 18:19] #2388 closed

[2017-04-17 19:08] p0pr0ck5 commented on #2387
@ShinEDL kong's core functionality is to use nginx's built-in proxying mechanism to proxy the request. as mentioned, short-circuiting this is certainly doable with a plugin, but it doesn't belong in a core proxying framework- indeed, this is what plugins are for! :) we provide a reference at https://getkong.org/docs/0.10.x/plugin-development/ for writing, testing, and deploying your own plugins, a

[2017-04-17 19:08] #2387 closed

[2017-04-17 19:11] p0pr0ck5 commented on #1857
As of f3572acf17eacd765610a2f41fb288582fea3c47, Kong provides a configuration directive to define the worker process uid/gid.

[2017-04-17 19:11] #1857 closed

[2017-04-17 19:19] p0pr0ck5 commented on #1863
@marceldiass I'm unable to reproduce this behavior. Can you check the permissions of `/usr/local/kong/logs/` and ensure that you have write access to that directory?

[2017-04-18 01:04] toby2 commented on #2398
@thefosk thanks for reply. I attached incorrect url before. actually  list targets api still could not work.

curl -i -X GET --url http://localhost:8001/upstreams/testkong/targets/active
HTTP/1.1 405 Not Allowed
Date: Tue, 18 Apr 2017 01:00:03 GMT
Content-Type: application/json; charset=utf-8
Transfer-Encoding: chunked
Connection: keep-alive
Access-Control-Allow-Origin: *
Access-Control-Allow-Cred

[2017-04-18 01:11] colinbetter commented on #2399
now  i use this to compile openresty "./configure --with-http_stub_status_module --with-http_v2_module --with-http_ssl_module --without-luajit-lua52",the problem is solved,thanks
but  there is another problem :+1:
Error:
/usr/local/share/lua/5.1/kong/cmd/start.lua:34: /usr/local/share/lua/5.1/kong/cmd/start.lua:23: nginx: [emerg] unknown directive "real_ip_header" in /usr/local/kong/nginx-kong.con

[2017-04-18 01:24] thibaultcha commented on #2399
The required flags are described at https://getkong.org/install/source/

Enabling HTTP/2 might also cause you some trouble for a few plugins FYI.

[2017-04-18 03:05] shavo007 commented on #2188
Hi @thefosk , maybe its the terminology.

I regard acl and rate-limiting for example as plugins. They are defined in the plugin gallery aswell.
https://getkong.org/plugins/

Now if i enable these two "plugins" for a consumer, the above aforementioned URI returns the rate limiting details for the consumer, but not ACL.

**http://localhost:8001/plugins?consumer_id=a3625fd7-a8ed-42ae-a3af-782e3f84e76

[2017-04-18 03:33] colinbetter commented on #2399
thanks,i use openssl 1.0.2 ,everything is ok .and kong started.

[2017-04-18 03:33] #2399 closed

[2017-04-18 03:37] stramel commented on #2356
Hmmm.... Sorry, I'm not familiar with the http/2 push support on NGINX. Will the `Link` headers not do anything if NGINX doesn't support it? Maybe throw this on the back burner for a Plugin until NGINX supports http/2 push?

[2017-04-18 04:01] alexforever86 commented on #2383
Closing this issue as the Kong was getting killed by ECS after health check fails

[2017-04-18 04:01] #2383 closed

[2017-04-18 07:26] Tieske commented on #2398
@toby2 iirc that endpoint 'active' wasn't yet added in 0.10.1 and the initial implementation had a bug that required a trailing `/`

[2017-04-18 07:41] toby2 commented on #2398
@Tieske  tricky trailing ~

[2017-04-18 07:50] amarjeet27 commented on #2360
Reverting back to `kong:0.9.9` seems to help.

[2017-04-18 07:56] koyuhau opened #2406 "Always need to restart the data update"
I write a custom plug-in, when I use the PATCH to update the CONFIG parameter, found that the data is modified, but must restart to take effect.
So, don't can restart?

[2017-04-18 12:21] Nijisha commented on #2200
Hi,
Can you please help me to take the kong database back up? I am using docker installation of kong. so whenever I am restarting the server my api entries and plugin entries are invisbible. and I am using cassandra as the db

[2017-04-18 13:03] vaibhavatul47 commented on #2346
PR: https://github.com/Mashape/kong/pull/2407

[2017-04-18 18:19] plukevdh commented on #2194
We'll give it a go as soon as we can. I know the 0.9 -> 0.10 caused some other bumps so we've held off upgrading just now.

[2017-04-18 19:37] krunaljhaveri opened #2409 "invalid verified claim (option) should throw 401 instead of 403"
When we enable JWT plugin and optional verified claims to check expiry of JWT token, Kong throws 403 error with message token expired. This should be 401 error.

Follow: https://getkong.org/plugins/jwt/
- Optional verified claims.

[2017-04-18 20:02] p0pr0ck5 commented on #2406
@koyuhau we will need much more detail to understand your situation. But, a GitHub issue may not be the most appropriate vehicle for this; you may find more success working with plugin developers on the [mailing list](https://groups.google.com/forum/#!forum/konglayer) or on [Gitter](https://gitter.im/Mashape/kong).

[2017-04-18 20:23] p0pr0ck5 commented on #2356
Have a read of this thread:

http://mailman.nginx.org/pipermail/nginx/2017-April/053519.html

The Link mechanism is special sauce that cloudflare adds to their environment. It has nothing to do with either HTTP/2, or the vanilla Nginx implementation of the protocol. Simply adding `Link` headers will do nothing at this time, at least under the hood with Nginx. Since stable h2 support in OpenResty i

[2017-04-18 20:23] #2356 closed

[2017-04-18 20:38] p0pr0ck5 commented on #2209
Hey @pauldaustin,

Nginx defines the `$uri` variable as location of the resource, meaning not the scheme, host, or query arguments. Consider the following Nginx/OR config snippet:

[code]

This evaluates as follows:

[code]

So our use of "uri" aligns with the Nginx usage of the term, which I think is appropriate (rather than delve into a never ending semantic digression ;) ).

Thanks for the post

[2017-04-18 20:38] #2209 closed

[2017-04-18 20:42] p0pr0ck5 commented on #2054
@shashiranjan84 curious, is this handled or addressed in https://github.com/Mashape/kong/pull/2394 per chance?

[2017-04-18 20:42] p0pr0ck5 commented on #2053
@kirikak2,

Does the Request Transformer plugin (https://getkong.org/plugins/request-transformer/) not meed your needs here?

[2017-04-18 20:44] p0pr0ck5 commented on #2010
This doesn't seem like a bug to me. The request wasn't valid, as the proper content type wasn't specified. @shavo007 is there other behavior youre looking for?

[2017-04-18 20:46] p0pr0ck5 commented on #2382
Closing this, as it works as expected!

[2017-04-18 20:46] #2382 closed

[2017-04-18 20:48] shashiranjan84 commented on #2054
@p0pr0ck5 no, Current changes only allow static tags

[2017-04-18 20:50] p0pr0ck5 commented on #2368
As mentioned in #2351, there are no active plans to provide such a dynamic mechanism. Kong's API provides raw access to the data as necessary, giving users the flexibility to do granular work. You could build your UI with a caching mechanism to avoid needing to scan the entire database for every query, and then build the search functionality on top of that. IMO adding that into Kong's API mechanis

[2017-04-18 20:50] #2368 closed

[2017-04-18 21:20] p0pr0ck5 commented on #2101
Doesn't look like a Penlight issue, but rather how we treated octothorpes (assuming all characters following one are comments). We can ammend this behavior by allowing escaped octothorpes in config directives (e.g. `test\#123`)

[2017-04-18 21:23] p0pr0ck5 commented on #1323
Sounds possibly related to #1931?

[2017-04-19 00:51] koyuhau commented on #2406
I may have found the cause of the problem, it may be because I didn't set the hooks file, the cause of the cache didn't update in time.Thank you for your help

[2017-04-19 00:51] #2406 closed

[2017-04-19 01:48] thefosk commented on #2406
If you are using the cache, you will always have to implement a `hooks.lua` file to invalidate that cache on an invalidation event.

[2017-04-19 02:49] arsdehnel commented on #1683
Yeah, not sure what exactly my setup was that was failing but I cleared it all out and started fresh and now it's working.  My setup for anyone hitting this thread in order from the public internet to the Kong service running on Rancher:

1. Route 53 A record to ELB
2. ELB accepting HTTPS traffic (not TLS) on 443 and sending to Rancher host on HTTP (not TCP) on 80.
3. Rancher host having HA proxy

[2017-04-19 08:12] xulongju opened #2413 "kong 0.8.3 -->0.9.7-->0.10.1 Upgrade problem"
Has been upgraded from version 0.8.3 to version 0.9.7. Now need to upgrade from 0.9.7 to 0.10.1, the following error, the previous solution is invalid.
error.log:
migrating core for database kong
core migrated up to: 2016-09-05-212515_retries
core migrated up to: 2016-09-16-141423_upstreams
core migrated up to: 2016-12-14-172100_move_ssl_certs_to_core
core migrated up to: 2016-11-11-151900_new_api

[2017-04-19 11:12] pheex opened #2414 "anonymous consumer don't trigger ip restriction plugins with this consumer id set"
### Summary

I try to use Kong for my internal clients and my external clients, i want no auth for my internal clients and basic auth for externals.

I enable basic auth with anonymous defined to a consumer
I enable ip restriction with the consumer id set (with the consumer defined in basic auth anonymous field)

to blacklist WAN ip only if no auth is provided

I expected when no basic auth is sup

[2017-04-19 13:09] Tieske opened #2415 "entity lookups on `xxx_or_id` do not work as expected"
### Summary

Whenever those functions are used, if the `xxx` is a `uuid` then they fail. Most common case is the `consumer` entity, but others suffer from the same problem.

### Resolution

Whenever the key value is a `uuid` and it is not found in the entities `id` field, a second search based on the `xxx` field should be tried as a fallback.

Because uuids are unique by definition this should not

[2017-04-19 13:32] patricksanders commented on #2352
OH MAN, thank you so much @MrSaints. I spent two whole days wrestling with this and couldn't figure it out.

[2017-04-19 15:50] p0pr0ck5 commented on #2210
Correct, currently the way to handle this is through a custom template. As we discuss changes to distributing and configuring Kong moving forward (see #2355), this may change, but for now this is the appropriate way.

[2017-04-19 15:50] #2210 closed

[2017-04-19 16:00] p0pr0ck5 commented on #2414
@Tieske might this be resolved by #2222?

[2017-04-19 16:13] mgiorgio opened #2416 "Update 0.10 metrics documentation to list upstream_latency"
### Summary

upstream_latency is a metric that is currently being sent by the logging plugins but such metric isn't listed in the documentation. See https://getkong.org/plugins/statsd/#metrics.

[2017-04-19 16:25] coopr commented on #2416
Hi @mgiorgio - please open an issue on that website's repo https://github.com/Mashape/getkong.org/issues or make a PR to improve the relevant pages, like https://github.com/Mashape/getkong.org/blob/master/app/plugins/statsd.md - thanks!

[2017-04-19 16:25] #2416 closed

[2017-04-19 17:59] ivanpondal opened #2417 "Metric missing in Statsd plugin documentation"
### Summary

The 'upstream_latency' metric is not being listed in the plugin's documentation (https://getkong.org/plugins/statsd/).

[2017-04-19 18:00] p0pr0ck5 commented on #2417
Hi @ivanpondal  - please open an issue on that website's repo https://github.com/Mashape/getkong.org/issues or make a PR to improve the relevant pages, like https://github.com/Mashape/getkong.org/blob/master/app/plugins/statsd.md - thanks!

[2017-04-19 18:00] #2417 closed

[2017-04-19 18:03] shashiranjan84 commented on #2417
@ivanpondal we made some changes in plugin wand planning to release it in next major release. Doc will also updated with the new metrics `upstream_latency`

[2017-04-19 18:05] ivanpondal commented on #2417
cool, thanks for the quick reply!

[2017-04-19 22:10] thefosk commented on #1692
@brockmiller you can check the PR ^

[2017-04-19 22:36] brockmiller commented on #1692
On it 👍

[2017-04-20 04:06] Cospotato opened #2422 "Get {"message":"An unexpected error occurred"}"
### Summary

Got `{"message":"An unexpected error occurred"}` when set dns_resolver

### Steps To Reproduce

1.start a consul on 172.19.0.3
2.add environment variable "KONG_DNS_RESOLVER=172.19.0.3:8600" in docker-compose.yml
3.kong start --vv
4.`curl 127.0.0.1:8001` in kong container

### The Debug log
[code]

[2017-04-20 06:38] workcheng opened #2423 "kong cannot start with error"
### Summary

kong cannot start

### Steps To Reproduce

1.cassandra start
2.kong start
3.vagrant@precise64:~$ kong start
migrating core for keyspace kong
Error: /usr/local/share/lua/5.1/kong/cmd/start.lua:21: [cassandra error] Error during migration 2016-12-14-172100_move_ssl_certs_to_core: [Already exists] Cannot add already existing table "ssl_certificates" to keyspace "kong"

  Run with --v (ve

[2017-04-20 07:07] Tieske commented on #2414
No #2222 is related to multiple auth, here there seems to be only 1 auth method.

[2017-04-20 07:27] pheex commented on #2414
Yes only 1 auth method is used.

[2017-04-20 07:32] Tieske commented on #2414
Let me get this correct:

- you created an api
- you created 2 consumers
   1. regular consumers
   2. anonymous consumer
- you added the `basic-auth` plugin, while setting `config.anonymous=<anonymous_consumer_id>`
- you added basic-auth credentials for the regular consumers
- you added the `ip-restriction` plugin on the `anonymous` consumer, blacklisting your `wan` ip address.

correct?

[2017-04-20 07:33] pheex commented on #2414
yes, exactly.

[2017-04-20 07:45] Tieske commented on #2414
The auth plugins run at priority 1000, while the ip-restriction has priority 990. So that doesn't seem to be the issue.

[2017-04-20 08:12] Tieske commented on #2414
so I recreated the issue (using key-auth instead). I first tested the ip-ranges by configuring them on the api, and then it gets blocked properly.

When I configure the same ip's on the consumer (anonymous) then it does not block them. This confirms the issue @pheex is seeing.

When looking at the logs I only see the `key-auth` plugin being executed:

[code]

## Cause:

In the access phase the ite

[2017-04-20 09:29] Tieske commented on #2414
forget about the above, sorry for the noise.

Culprit is in the iterator for plugin execution, it checks on `credentials` being available, instead of the `consumer_id` that was set. In case of `anonymous` there are no credentials, hence it doesn't run the specified plugins.

[2017-04-20 09:31] pheex commented on #2414
thanks @Tieske for explanations

[2017-04-20 10:01] Cospotato commented on #2422
problem solved, but another problem show up, question same as [#2333](https://github.com/Mashape/kong/issues/2333)

[2017-04-20 10:01] #2422 closed

[2017-04-20 10:03] Tieske commented on #2414
fix is in #2424. Closing this now.

[2017-04-20 10:03] #2414 closed

[2017-04-20 13:15] #2101 closed

[2017-04-20 16:18] kirikak2 commented on #2053
@p0pr0ck5 Thanks for your suggest. but it is not resolve this problem.
In my understanding, this plugin works after API handling, and KONG cannot handle this request to API.

Currently, I am running reverse proxy on nginx which forwards and transforms request. It seems to be working fine.

[2017-04-20 17:27] p0pr0ck5 commented on #2053
Ok if we close this issue then?

[2017-04-20 18:13] #2187 closed

[2017-04-20 18:14] Tieske commented on #2011
note: starting Kong with `kong start --vv` will show the locations where Kong looks for the config file.

[2017-04-20 18:33] #2376 closed

[2017-04-20 20:43] TheDolo commented on #2337
I had the same problems as the poster above.  The Kong docs at [](https://getkong.org/docs/0.10.x/proxy/#configuring-ssl-for-an-api)
are to blame for me.  Using the multi-form upload instead of -d solved my problems.

[2017-04-20 22:00] ksachdev1 opened #2426 "Kong remains stuck at dnsmasq when using persistence storage for mongo"
### Summary
I have a docker swarm cluster on which a single instance of Kong is deployed in a container and  a single instance of postgres is deployed as a container. It works fine if my postgres does not write to a container volume. In short, everytime I delete the docker service stack and start, there is nothing in the DB left, this works fine. However, when I let postgres presist data across re

[2017-04-20 22:04] p0pr0ck5 commented on #2426
Any way to upgrade  to 0.10, where dnsmasq is no longer necessary?

[2017-04-20 22:10] ewilde commented on #2048
@flyabc this is just a proposal for a `new` plugin, the feature does as described does not exist. Good to know that other people would value this. Unfortunately I don't have the necessary lua and nginx skills to implement this myself - hopefully I can help with the specification and testing of this feature

[2017-04-20 22:44] p0pr0ck5 commented on #1946
Closing, thanks @samrose for the snippet!

[2017-04-20 22:44] #1946 closed

[2017-04-20 22:47] thibaultcha commented on #1946
Just as a side note to all of you involved in this discussion, if you are indeed using a custom Nginx template for this reason (or another), I strongly suggest that you check out #2355, which makes configuring Nginx easier, and invite you to your thoughts on it. We're actively looking for feedback. Thanks!

[2017-04-20 22:54] p0pr0ck5 commented on #2337
@TheDolo thanks for the report. This is fixed in https://github.com/Mashape/getkong.org/pull/391.

@elapse2039 as of 0.10, the dynamic SSL plugin is replaced by SSL handling via core, as noted above. As with the original author, it looks like you were originally adding the certificate object incorrectly via curl (`-d` instead of `-F`). Since that documentation is being resolved as noted above, I'm

[2017-04-20 22:54] #2337 closed

[2017-04-20 22:56] p0pr0ck5 commented on #1880
@lsh-0 are you seeing this same behavior with Kong 0.10, given the changes in SSL handling?

[2017-04-20 22:59] ksachdev1 commented on #2426
Thanks @p0pr0ck5
At this point we would prefer to stick with this version of Kong as we had few other issues with 0.10. Are you suggesting that this problem can happen on the version we are using? Is there a way around it?

[2017-04-20 22:59] p0pr0ck5 commented on #2075
@grantlucas can you elaborate a bit more on what you're seeing here? What specifically is Kong not accomplishing, that you're not seeing? When you see the request succeeds, do you mean the request from your client to Kong, or from Kong to Loggly (or something else entirely)?

[2017-04-20 23:00] p0pr0ck5 commented on #2020
@bungle is this done now that your X-F-F work is merged in?

[2017-04-20 23:00] anniecruz13 commented on #1668
Dev workstation: Windows 7 64-bit
kong version: 0.10.1
VirtualBox version: 5.1.10r112026
box type: bento/centos-7.2

I used this curl call to try to add the file log plugin:
curl -X POST http://localhost:8001/apis/{api id went here}/plugins --data "name=file-log" --data "config.path=/logs/log-file.log" and got this error:
{"config.path":"Cannot create file:

It prepended the config path with what

[2017-04-20 23:10] p0pr0ck5 commented on #1698
Closing, as the issue here was a conflict with API resolution, not the oauth2 plugin. Please feel free to open a new issue if questions remain.

[2017-04-20 23:10] #1698 closed

[2017-04-20 23:11] p0pr0ck5 commented on #1540
This was done! :) https://getkong.org/plugins/oauth2-introspection/

[2017-04-20 23:12] thefosk commented on #2426
@ksachdev1 is that the full log? Also I'd like to hear about those other issues in 0.10.0.

[2017-04-20 23:12] thibaultcha commented on #2075
@grantlucas Just a side-note, have you considered using https://luarocks.org/modules/revolsys/kong-plugin-upstream-auth-basic ?

[2017-04-20 23:24] p0pr0ck5 commented on #1556
When `-X POST` is applied with no form data, no `Content-Type` header is sent, which is an error in the Admin API. The docs do not make this immediately clear, and are being fixed in https://github.com/Mashape/getkong.org/pull/392

[2017-04-20 23:24] #1556 closed

[2017-04-20 23:25] ginnavaram opened #2427 "Kong cluster"
### Summary
Will machines set up as a kong cluster distribute load equally? Is there any way to configure the load distribution?
SUMMARY_GOES_HERE

### Steps To Reproduce

1.
2.
3.
4.

### Additional Details & Logs

- Kong version (`$ kong version`)
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong error logs (`<KONG_PREFIX>/logs/error.log`)
- Kong configuration (registered APIs/Plugins

[2017-04-20 23:28] p0pr0ck5 commented on #2427
Hi,

You will need to configure a load balancer in front of your Kong cluster to distribute the load for you. Each cluster node runs on a unique IP address (for obvious reasons), so the network architecture downstream will be responsible for forwarding traffic to the cluster.

BTW, this sort of question really belongs on [Gitter](https://gitter.im/Mashape/kong) or the [mailing list](https://groups

[2017-04-20 23:28] #2427 closed

[2017-04-20 23:36] ginnavaram commented on #2427
Thanks for the reply. Will use mailing lists or gitter in the future. Thanks though.

[2017-04-20 23:46] lsh-0 commented on #1880
hi @p0pr0ck5 , we spent far too much time trying to figure this one out and just stuck another plain instance of nginx infront of Kong that handles ssl properly. we suffer a little more latency, but it's not the end of the world.

[2017-04-20 23:48] p0pr0ck5 commented on #1880
thanks for the follow up; we'll go ahead and close this out. There are some pending discussions about deployment and custom configs that may be relevant in the future, but it sounds like theres nothing actionable here. Thanks for the initial report!

[2017-04-20 23:48] #1880 closed

[2017-04-20 23:49] lsh-0 commented on #1880
my pleasure, keep up the good work

[2017-04-20 23:50] thibaultcha commented on #1880
@lsh-0 Maybe you care to check out #2355, which would drastically improve how Kong can be configured inside an already Nginx instance/ease configuring custom Nginx directives alongside Kong. We greatly value community feedback on this one, so please share your thoughts there. Thanks!

[2017-04-21 00:03] p0pr0ck5 commented on #1279
This was done in https://github.com/Mashape/kong/pull/2328, no?

[2017-04-21 00:07] pauldaustin commented on #1279
Robert,

No that pull request was for a plugin that allowed you to send a alternate HTTP status code instead of forwarding the request.

The ability to disable an API was thought of at the same time. Except that disabling the API would skip it in the request processing. This allowing potentially another API to be matched. In effect it would be as if the API didn't exist but you could preserve the

[2017-04-21 00:10] ksachdev1 commented on #2426
@thefosk , i am pasting the full log, our container waits for little over a minute after which the container shuts down, i can wait for longer, but after a minute long wait the log is as follows:
+ kong start -vv
2017/04/20 14:36:37 [verbose] Kong: 0.9.9
2017/04/20 14:36:37 [debug] ngx_lua: 10006
2017/04/20 14:36:37 [debug] nginx: 1011002
2017/04/20 14:36:37 [debug] Lua: LuaJIT 2.1.0-beta2
2017/04

[2017-04-21 00:14] saamalik commented on #2360
Thanks, @amarjeet27 ; `kong:0.9.9` does seem to help. I was able to capture the intermittent messages in `error.log`:

[code]

[2017-04-21 00:18] lsh-0 commented on #2355
I don't know lua and I didn't 'get' the magic that was happening inside Kong when I needed to add our strong SSL configuration. I'm sure it was possible, but it was easier to deal with vanilla nginx and proxy traffic to Kong. The above approach reads as becoming more nginx-orientated and removing some of the magic that would otherwise frustrate those (like me) already familiar with nginx. I could

[2017-04-21 00:23] ksachdev1 commented on #2426
@thefosk , for 0.10.0 issues and logs, here is where the issue was reported and opened and we are facing it so we moved to lower version
https://github.com/Mashape/kong/issues/2360

[2017-04-21 00:34] kirikak2 commented on #2053
Sure.
In the future, I  would like to use  some hook point in KONG if I can.

[2017-04-21 01:07] #2053 closed

[2017-04-21 01:07] thibaultcha commented on #2053
@kirikak2 Check out #2354 which is aimed at this precise use-case (currently a very rough implementation).

[2017-04-21 01:15] thibaultcha commented on #2355
@peterbsmith2

Definitely 👍

@lsh-0 Thanks for the feedback!

Yes you did read that correctly. Good point. At the same time, it is worth noting that OpenResty is our Nginx provider (Kong > OpenResty > Nginx), and as such, Kong keeps up with security patches as much as OpenResty does. OpenResty generally does a good job of staying up to date in terms of security patches. At the same time, the good

[2017-04-21 01:28] flyabc commented on #2048
@ewilde thank you very much,I will try to find anther ways.

[2017-04-21 03:46] thefosk commented on #1540
I assume issue requested us to implement the Introspection endpoint as a new endpoint in the existing OAuth 2.0 plugin, as opposed to the linked OAuth 2.0 Introspection Endpoint plugin which leverages a third-party Introspection endpoint to authenticate requests.

If that's the case, it should be re-opened.

[2017-04-21 04:40] p0pr0ck5 commented on #1540
Ah yep, I think that's the case. Faulty assumption on my part; thanks.

[2017-04-21 05:15] saamalik commented on #2182
Leaving here as a note for other Docker users. Most of the times, Kong would not properly start as soon as we introduced a _persistent_ postgres volume.

Long story short, we were also publishing a port the docker service which causes the service containers to have two networks: _user-overlay_ network and the default _ingress_ network. Now with both networks attached, the container will have at le

[2017-04-21 09:58] chojnack opened #2430 "Improve interface to clear ACL whitelist/blacklist"
### Summary

I have configured ACL plugin for my API to use both whitelist and blacklist (find this useful sometimes).
Now, I want to clear the blacklist. I cannot do so without providing the whitelist in PATCH request.
I think it's inconvenient, because I don't want to care what the white list is in this moment. I just want to make blacklist empty.

### Steps To Reproduce

1. Created API with ACL

[2017-04-21 10:45] bungle commented on #2020
@p0pr0ck5, as far as it can be considered fixed by that? No sure if there is still need for overriding this per API basis, though. But that easily leads to a question that whether every plugin that wants to access client IP should have some configuration variable to do so. I am against adding something like `config.disable_forwarded_for` but maybe a way to select between `$remote_addr` and `$reali

[2017-04-21 11:03] #2415 closed

[2017-04-21 11:44] JoshuaAndrew opened #2431 "rate-limiting consumer_id is an unknown field"
### Summary
rate-limiting  plugin

The CONSUMER ID that this plugin configuration will target. This value can only be used if authentication has been enabled so that the system can identify the user making the request.

config.consumer_id": "consumer_id is an unknown field"  ???

why  consumer_id is an unknown field?

SUMMARY_GOES_HERE

### Steps To Reproduce

[joshua@joshua ~]$ curl  -X POST \

[2017-04-21 14:09] samrose commented on #2355
My opinion FWIW:

Overall bringing Kong closer to openresty > nginx patterns into kong by way of using the nginx config + making it a better practice to make Kong vs install via package sound like simpler way to develop Kong, and a more flexible way to use/configure/deploy it in more environments

[2017-04-21 15:14] #2303 closed

[2017-04-21 16:12] p0pr0ck5 commented on #2430
Thanks for the report @chojnack! I've updated the title of this issue to make it a bit more clear.

[2017-04-21 16:14] p0pr0ck5 commented on #2349
Closing this, as it pertains to the getkong.org repo; please feel free to open an issue or PR there. Thank you!

[2017-04-21 16:14] #2349 closed

[2017-04-21 16:15] p0pr0ck5 commented on #2359
@fancy512 can you show us the output of `curl localhost:8001/certificates` and `curl localhost:8001/snis`?

[2017-04-21 16:17] p0pr0ck5 commented on #2223
@pauldaustin will you consider submitting a PR (with tests) for this? Thanks!

I'll go ahead and close this, as we can have more discussion in the PR :)

[2017-04-21 16:17] #2223 closed

[2017-04-21 16:24] pauldaustin commented on #2223
Robert,

I'll work on a PR for this. It might be a few weeks as I'm working on some other projects right now.

[2017-04-21 16:27] p0pr0ck5 commented on #2223
Much appreciated! In the meantime I'll bring it up in conversation :) thanks again for all your contributions! We love the community participation.

[2017-04-21 16:28] #2409 closed

[2017-04-21 16:33] p0pr0ck5 commented on #1591
This is somewhat related to #2430. Looks like we need to clean up the PATCH interfaces for some of these routes.

[2017-04-21 17:37] p0pr0ck5 commented on #1273
The first problem noted here has since been solved. The second seems to be a limitation of the `PATCH` method (and the subsequent usage of `DAO:update`) not respecting the immutability flag, as it doesnt fetch and pass the existing row to `validate_schemas`. Still digging at this one.

[2017-04-21 19:55] subnetmarco opened #2436 "DC-aware plugin configuration"
Whenever a plugin allows a target host (tcp-log, udp-log, rate-limiting, etc) in its configuration, there is currently no way to make it DC-aware. And since the plugin configuration is global, there is no way to override it per Kong node.

### Example:

In a multi-DC environment, I have a Kong node in each DC and I have a logging server in each DC as well.

I want Kong nodes to send logs to the TC

[2017-04-21 19:58] Tieske commented on #2436
One of the things I still have on the radar for loadbalancing is extending the ring balancer with an algorithm that auto-adjusts the weights based on network latency.

Idea would be to have a kong cluster over multiple DCs, including services in multiple DCs and each Kong node would route traffic to the locations with the lowest latency (which would be the local DC under normal circumstances)

May

[2017-04-21 20:00] thefosk commented on #2436
Potential solution:

* Supporting an optional `datacenter` property in the Kong configuration file.
* Supporting optional DC aware overrides in the plugin configuration schema:

[code]

I can configure a plugin as usual:

[code]

but optionally I can configure it with DC awareness:
[code]

When the plugin is being executed, if there is a plugin configuration whose datacenter matches the `datacente

[2017-04-21 20:02] thefosk commented on #2436
@Tieske that would be neat, although latency is not always the case for DC-aware configurations. For example, security policies in the network might be a factor and a Kong node in DC2 cannot send logs to a logging server in DC1 because firewall, even in the edge-case when the latency would be lower.

[2017-04-21 21:45] #2325 closed

[2017-04-22 00:45] b-rajesh opened #2438 "Upgrade APIKey Plugin to restrict from unauthorised access for Web, Android and ios"
### Summary

When a APIKey is created in KONG, it is unrestricted. Anyone in the web can get the APIKey from browser header. A new plugin is needed while creating APIKey to prevent unauthorised use and quota theft.

While creating APIKey following options can be provided

### For Web
A field to capture "http referrers" which is different from origins.
A field to capture ip addresses
### For Androi

[2017-04-22 00:56] thibaultcha commented on #2438
Hi

What do you mean? I hope you are encrypting your traffic and not using plain HTTP for production usage...

[2017-04-22 02:16] b-rajesh commented on #2438
Hi ,

Of course yes. This scenario happens even before that - users uses javascript web applications to call an api which uses apikey.
###Scenario
 A company deployed a javascript web application for address lookup which needs to talk to an api - requires apikey for verification. That java script web app will be used by end users who can get the apikey from browser (by inspecting the network) and

[2017-04-22 02:33] thibaultcha commented on #2438
I see, you are sharing your API key between all of your users then? Ideally, you should probably consider another way of structuring your application and use an appropriate authentication scheme for your end-users. Why not using OAuth2? JWT? Even assigning a unique API key per end-user would make more sense.

If you really are worried about quota theft only (and not security implications?) then, *

[2017-04-22 03:23] b-rajesh commented on #2438
Restructuring the system is not an option for us. For any other Auth mechanism, we will be forcing them to authenticate against some idp. This complicates user experience.
Imagine a Realestate website needs to talk to an api for address lookup. This doesn't need end user to login to do address look up from a realestate website.

Mostly, APIkey is used to identify our client not clients end user.

[2017-04-22 03:39] thibaultcha commented on #2438
Alright, then such a discussion probably does not belong to Kong OSS because it's about supporting a custom requirement. I believe you are discussing the implementation of such a plugin with the Mashape Enterprise support team. If so, such discussions should not transpire in this public repository. Shall we close this?

[2017-04-23 22:05] Tieske commented on #2320
correct 5. does already have IPv6

[2017-04-24 00:53] iam-merlin commented on #2333
I've got the same error, when I set dns_resolver to the consul ip, my service (SRV record) is not resolved :/

@eltscheminov what did u do to make it works?

[2017-04-24 02:29] colinbetter opened #2439 "when using oauth2,i always get the message "{"message":"Unauthorized"}""
Hello,i use the kong and enabled the oauth2 plugin.in the last step,i get zhe access_token from kong,but i can not pass kong to visit my service with the access_token.i can refresh the token with the refresh_token that kong told me.but after i refreshed,i use the new token to access kong and also get zhe message "{"message":"Unauthorized"}"

here is my steps:
（1）、add API

# request
curl -X POST ht

[2017-04-24 04:42] bpatelcs opened #2440 "Is there a way to specify http_version for upstream server while adding apis ?"
Seems like by default kong uses HTTP/1.0 for upstream server, was wondering if we can specify HTTP/1.1 while adding new apis through kong.

[2017-04-24 04:51] thibaultcha commented on #2440
Hi,

Which version of Kong are you using? 0.10 and higher should be using [HTTP/1.1](https://github.com/Mashape/kong/blob/master/kong/templates/nginx_kong.lua#L103).

[2017-04-24 05:05] bpatelcs commented on #2440
0.9.7

[2017-04-24 06:33] shiprabehera opened #2441 "TCP logs do not show updated request.uri"
### Summary

I am developing a custom plugin which is modifying the uri of an API like this - `ngx.req.set_uri(newUri)`.
For instance, my API is configured as below :
`{
  "http_if_terminated": true,
  "strip_uri": true,
  "retries": 5,
  "preserve_host": false,
  "created_at": 1492655814825,
  "upstream_connect_timeout": 60000,
  "upstream_url": "http://localhost:8080",
  "uris": [
    "/testapi/

[2017-04-24 07:48] shiprabehera opened #2442 "Unit tests throw timeout error after upgrading to 0.10.0"
*Note: GitHub issues should be reserved only for bug reports. Please use the
[Kong mailing list](https://groups.google.com/forum/#!forum/konglayer) or
[Gitter](https://gitter.im/Mashape/kong) for user support, development
questions, feature requests, etc.*

### Summary

This is a combination of 2 issues.
After upgrading from kong version 0.9.9 to 0.10.0, the lua unit tests of my custom plugin star

[2017-04-24 07:49] thibaultcha commented on #2441
Maybe we should show both to avoid confusion.

[2017-04-24 08:26] ahmetkarakaya opened #2443 "X-Credential-Username header insertion"
### Summary
Does anybody know what is the difference between X-Consumer-Username and X-Credential-Username headers when using Key Authentication?
in the previous version (0.9) X-Credential-Username is added when request goes through upstream servers
but now (0.10) X-Consumer-Username is added instead of X-Credential-Username.

### Steps To Reproduce

1. create an API with keyauth plugin
2. call AP

[2017-04-24 10:23] jtuthehien opened #2444 "Kong 0.10.2"
Hi all.
Just wondering when 0.10.2 will be released, there's a current blocking bug with trailing slash that's stopping us from upgrading from 0.9x

[2017-04-24 10:32] shiprabehera commented on #2366
@bungle : I think `ngx.var.request_uri` is the original request uri and cannot be modified.
Say, I have modified the uri in a plugin using `ngx.set_uri(newUri)` , changing `ngx.var.uri` to `ngx.var.request_uri` won't make kong route to the updated uri as  `ngx.var.request_uri` still holds the original uri. What do you think about this?

[2017-04-24 12:18] Tieske commented on #1995
let's close this.

[2017-04-24 12:18] #1995 closed

[2017-04-24 12:28] iam-merlin commented on #2333
OK... I found the error too :/
`progrium/consul:latest` is outdated :'(

[2017-04-24 13:08] cedum opened #2446 "OAuth2 plugin client credentials checking"
### Summary

While integrating the oauth2 flow with CloudFlare Apps (https://www.cloudflare.com/apps/developers) we found an issue in the last step of the three-step Authorization Code flow implemented in Kong.

The `POST /oauth2/token` request has issues with client credentials checking when having:
- `client_id:client_secret` passed via the authorization header;
- and `client_id` passed as a req

[2017-04-24 16:12] p0pr0ck5 commented on #2443
Hi,

From https://getkong.org/plugins/key-authentication/:

[code]

Consumer objects are defined here: https://getkong.org/docs/0.10.x/admin-api/#consumer-object. Credentials are created as part of the configuration of various authentication plugins.

Also, please do not use GitHub issues for questions like this. As noted in the boilerplate, GitHub issues are to be reserved for bug reports; usage

[2017-04-24 16:12] #2443 closed

[2017-04-24 17:01] p0pr0ck5 commented on #2430
Actually, this isn't really valid behavior to begin with. ACLs should only have either a whitelist or a blacklist configured, never both. Currently there is a limitation in PATCH calls to both the acl and ip-restriction plugins that doesn't properly check input to prevent this condition. Because whitelist and blacklist execution in these plugins is mutually exclusive, they should never exist simul

[2017-04-24 17:01] #2430 closed

[2017-04-24 17:22] p0pr0ck5 commented on #2380
Looks like the Azure script hasn't been updated to install Postgres, which is the default data store in Kong now.

[2017-04-24 17:24] p0pr0ck5 commented on #2330
Closing as this will be fixed elsewhere. Thanks!

[2017-04-24 17:24] #2330 closed

[2017-04-24 17:25] p0pr0ck5 commented on #2278
Thanks @b-rajesh for the response. Closing based on this response, as the current JWT plugin is different from an OpenID connect implementation.

[2017-04-24 17:25] #2278 closed

[2017-04-24 18:06] p0pr0ck5 commented on #2444
Hi,

10.2 is planned to be released this or next week.

BTW, please try to reserve GitHub issue only for issues running Kong. Support and discussion questions like this should be sent to the mailing list, or Gitter, as the issue template boilerplate notes. Thank you!

[2017-04-24 18:06] #2444 closed

[2017-04-24 19:29] bungle commented on #2366
@shiprabehera, correct. It doesn't matter in this case. What matters here is what we use as a base value. My PR changes the Kong router to use request_uri.

[2017-04-24 20:47] p0pr0ck5 commented on #241
My guess is this issue is so old there's nothing to be done here?

[2017-04-24 21:15] erutherford opened #2449 ""no API" Error if upstream is "http://app""
### Summary

We've tested this with multiple variations and it looks like having an upstream of "http://app" breaks routing.  We get an error ```{"message":"no API found with those values"}```

### Steps To Reproduce

1. We've tested changing the API resource name, changing the URI path and switching to host based routing.  If the upstream is ```http://app``` we get the no API Found error
2. We we

[2017-04-24 22:11] peterbsmith2 opened #2450 "Marshall is spelled with one 'L'"
*Note: GitHub issues should be reserved only for bug reports. Please use the
[Kong mailing list](https://groups.google.com/forum/#!forum/konglayer) or
[Gitter](https://gitter.im/Mashape/kong) for user support, development
questions, feature requests, etc.*

### Summary

In the kong repository, in several places, the term "marshall_event" is used. While the meaning is clear and accurate, the spelli

[2017-04-24 22:12] thibaultcha commented on #2450
Hi,

Here we are referring to "marshalling", a technical term that takes two "L": https://en.wikipedia.org/wiki/Marshalling_(computer_science).

[2017-04-24 22:12] #2450 closed

[2017-04-24 22:13] peterbsmith2 commented on #2450
Fair enough @thibaultcha

[2017-04-24 22:14] thibaultcha commented on #2450
Clicked on "close" a bit too fast, sorry :) I suppose you are suggesting we either rename this to `marshalling` or `marshal_event`? Which is appropriate I believe? However, those properties will soon disappear due to the incoming Serf removal :)

[2017-04-24 22:44] thibaultcha commented on #2449
Thanks for the report!

@bungle Do you want to take a look at this?

[2017-04-24 22:54] thefosk commented on #2423
Seem like the keyspace is in an inconsistent state - we recommend executing Cassandra migrations from one node only, avoiding having multiple nodes doing migrations at the same time.

[2017-04-25 02:00] #2366 closed

[2017-04-25 02:01] thibaultcha commented on #2366
I just merged the fix to master with some additional integration tests. Thanks again for the report @rasmusrask, and thanks for the fix @bungle!

[2017-04-25 03:13] colinbetter commented on #2439
i am sorry to bother you,i found the reason.it is all my fault.

[2017-04-25 03:13] #2439 closed

[2017-04-25 07:28] bungle commented on #2449
@erutherford,

Can you also show us the failing and succesful requests (curls or urls)?

[2017-04-25 07:48] bungle commented on #2449
I did wrote a small test suite, and it worked fine (I tested against latest `master` branch):

[code]

[2017-04-25 08:02] chojnack commented on #2430
Thanks for the explanation, however I'm still thinking that allowing for blacklist and whitelist at the same time may be useful, e.g. you may have a list of your API's subscribers on the whitelist and temporarily put blocked ones on the blacklist (don't need to touch the whitelist for temporary bans).
Additionally, this behavior is in conformance with Linux tcpd (hosts.allow, hosts.deny), what som

[2017-04-25 10:19] Mukulch15 opened #2454 "Can't get oauth2 authorization code"
I have a localhost api on my machine and after setting up the oauth 2 client plugin on that when I try to get the authorization code I get the error cannot get /undefined. I am using  the kong hello world node js client.
Kong version - 0.10.x

[2017-04-25 13:53] erutherford commented on #2449
@bungle - I've stripped this down to the bare bones and I'm still able to reproduce the issue.  I have failed and successful requests below.  I've also created a gist for a docker-compose file using the mashape official docker image where this is easily reproducible.  I should have noted in the original ticket that we're also using postgres 9.4.

https://gist.github.com/erutherford/d60f4dc8b5f2935

[2017-04-25 15:53] nguilford opened #2456 "Kong will not start after upgrade to 0.10.1: ssl plugin is in use but not enabled"
### Summary

After upgrading from 0.9.2 to 0.10.1, kong fails to start

### Steps To Reproduce

1. Create 0.10.1 node based off of official 0.10.1 Dockerfile, but change `CMD` directive to `["/bin/sleep", "infinity"]` so that kong does not connect to a database
2. Run aforementioned docker container and connect via bash
3. On the node, set up a configuration file that points to a database used by

[2017-04-25 16:27] p0pr0ck5 commented on #2430
I don't think this quite makes sense. If you need to temporarily ban someone on the whitelist, just remove them from the whitelist- it has the same affect. This is the nature of positive vs. negative security models.

I'd be happy to chat about this more on the Kong mailing list, perhaps we can get some other community thoughts on how these plugins should behave. :)

[2017-04-25 17:14] p0pr0ck5 commented on #2440
the proxy_http_version was added in commit b468e59547db4e42b5c1d3f8b865f2b235ccd401; before that, it was undefined (defaulting to HTTP/1.0), and wasnt configurable

[2017-04-25 17:19] p0pr0ck5 commented on #1847
@jeremievallee ping. Any more details here that you can share with us?

[2017-04-25 17:30] p0pr0ck5 commented on #1668
@anniecruz13 please do not hijack issues with unrelated questions. Please open your own issue, or post your question to the [mailing list](https://groups.google.com/forum/#!forum/konglayer). Thank you!

As for this issue in general, the paradigm of writing log data to stdout stands in contrast to how applications daemonize themselves. `/dev/std{in,out}` are redirected to `/dev/null`. I'm not sure

[2017-04-25 17:41] p0pr0ck5 commented on #1784
@stefanegg do you still see this behavior with Kong 0.10 (or 0.10.1)?

[2017-04-25 17:45] anniecruz13 commented on #1668
I'll start a new thread.

[2017-04-25 18:02] thibaultcha commented on #2440
Please update to the latest Kong version, or specify the version yourself in a custom Nginx template. Closing this and considering it answered.

[2017-04-25 18:02] #2440 closed

[2017-04-25 18:10] bungle commented on #2449
@erutherford, thanks a lot, I will continue on that.

[2017-04-25 18:14] anniecruz13 opened #2458 "Unable to get 'File Log' plugin installed using curl"
Environment:
Dev workstation: Windows 7 64-bit
kong version: 0.10.1
VirtualBox version: 5.1.10r112026
box type: bento/centos-7.2
Using Docker? -No
Using OpenResty: -No
Vagrant version: 1.9.3

### Summary
Unable to add 'File Log' plugin using curl.
After adding the application, I tried to add the plugin with a curl call from my localhost:
curl -X POST http://localhost:8001/apis/{api id}/plugins --d

[2017-04-25 18:41] thefosk commented on #2454
Can you please write down the commands to replicate?

[2017-04-25 19:05] bungle commented on #2449
@erutherford I feel this is some kind of DNS related error as `app` seems to resolve to `127.0.53.53`. But that doesn't explain why you get

[code]

[2017-04-25 19:21] erutherford commented on #2449
yeah, even if kong can't resolve the upstream record, we shouldn't get the "no API found" error

[2017-04-25 20:10] bungle commented on #2449
@erutherford do you get anything on Kong `error.log` (`.../kong/logs/error`)

[2017-04-25 21:23] Vad1mo commented on #2154
An OpenID Connect Relying Party plugin would make it possible to delegate the authentication to external Identity Management. Such a plugin would make it possible to use kong in enterprise environments where an IAM Service already exists and user duplication is not allowed or possible.

Some efforts where made towards a solution. see #2154 or https://github.com/mogui/kong-external-oauth

There is

[2017-04-25 21:25] bungle commented on #2449
@erutherford if I provide you tomorrow a special version of `0.10.1``router.lua` with added debug statements, would you like test the problem with that. We are still unable to reproduce this.

[2017-04-25 21:48] bungle commented on #2449
@erutherford one thing I'm a bit concerned is a fact that you provided this in your failed `curl` output:

[code]

I now believe that your Kong rerouted the request just fine, but that `app`pointed to the same Kong proxy. I mean it looks like your Kong proxied the request to same or another Kong proxy (I believe same).

1. you call this `localhost/app`
2. it goes to your Kong that `strips` the `/a

[2017-04-25 21:56] #2358 closed

[2017-04-25 23:16] Tieske commented on #2393
The problem is related to the ipv6 nameserver, which isn't parsed correctly. If you change the order of the nameservers in your resolv.conf file it should work as expected.

[2017-04-25 23:35] erutherford commented on #2449
@bungle I'm using docker for mac, so the `localhost` in my curl isn't the same `localhost` that kong would see in docker.

I've created an upgraded [test environment](https://github.com/erutherford/kong-test) and documented steps and results in the README file.  It now has a simple node hello world express app so that I can actually test with a functioning upstream "app" server.  I'm more than wil

[2017-04-26 00:30] Tieske commented on #2393
fixed in the dns lib version `0.5.0` scheduled to be released with Kong `0.11`

[2017-04-26 00:30] #2393 closed

[2017-04-26 02:03] harryparmar commented on #2129
Confirming fix from @konrade works with default setup.

[2017-04-26 04:05] p0pr0ck5 commented on #2129
This will be fixed in 0.10.2. Thanks @konrade for the original report and initial patch!

[2017-04-26 04:05] #2129 closed

[2017-04-26 04:31] Mukulch15 commented on #2454
@thefosk  Hi I was able to resolve the issue. The uri field that I gave while cerating the api and the api url that I gave while asking for the auth code were not matching.

[2017-04-26 04:31] #2454 closed

[2017-04-26 04:42] bungle commented on #2449
Please remember that Kong's DNS resolver doesn't neccessarily work the same as the system. Kong doesn't read `hosts` file. Can you show your `/etc/resolv.conf` inside your Kong? And if you connect to a name server (IPv4) listed there inside your Kong docker how does it resolver `app`?

[2017-04-26 05:16] thibaultcha commented on #2449
(It does (or should) as per the `dns_hostsfile` config property)

[2017-04-26 05:17] harryparmar commented on #2456
I had similar problem a year ago upgrading on different release and plugin(I believe it was runscope). If my memory is correct, What i ended up doing was going into Cassandra docker and in DB plugin table deleting the offending plugin, then restart and add it again. Either that or I manually enabled the plugin in conf of Kong docker.

[2017-04-26 06:26] Tieske commented on #2449
the `{"message":"no API found with those values"}` error is generated by the router, not by the dns module.

That said, we've had an issue before where a failure in setting the upstream values (from Lua land into nginx) caused a recursive loop back into Kong. In that case it kept looping and finally errored out. My guess here is that if it is dns related, that it does a similar thing, but then som

[2017-04-26 06:34] Tieske commented on #2449
@erutherford can you share the contents of the `resolv.conf` and `hosts` files?

[2017-04-26 07:14] stefanegg commented on #1784
@p0pr0ck5 we do net yet have a 0.10.x installation (and stopped using the udp log plugin), however I just installed 0.10.1 on a test box and ran through the steps described above to reproduce the issue. Looks like this is working perfectly now, and has been solved somewhere along the way. Thanks for the follow-up. Closing this issue.

[2017-04-26 07:14] #1784 closed

[2017-04-26 08:52] bungle commented on #2449
@erutherford what if you change the port of the `app` upstream uri:
[code]

This way there won't be a loopback to Kong.

[2017-04-26 10:44] jussiarpalahti commented on #2355
I like this direction overall. If Kong were more "nginx-like" we could use regular Ansible scripts instead of having to maintain custom module + playbook. Also, there's wealth of documentation for nginx and experienced developers available.

Could you also explain how upgrading is done with this model? Download new Kong release, make install and then just start that nginx with your config? I've un

[2017-04-26 12:12] erutherford commented on #2449
The example I've provided you with uses docker-compose v3 and isn't using links/host file entries, it's using docker's DNS based discovery.  Also, while the examples I'm providing you with are docker, we were also able to reproduce this issue running kong directly on a mac...

Here's the proof that it's not using docker links/hosts file entries
[code]

I've provided you with a full docker-compose

[2017-04-26 15:07] grantlucas commented on #2075
@p0pr0ck5 A few things have changed since this issue was posted *but* the overall solution was if we wanted to add a header to a request, using the request transformer plugin, we first had to "remove" the header, and then "append" the header. Replacing never seemed to work.

@thibaultcha Thanks for the link! That looks like it'd help a lot instead of having to use request transforming.

[2017-04-26 17:54] lvillarino commented on #1237
are there any updates by Mashape/Kong on implementing this?

[2017-04-26 17:55] thibaultcha commented on #2355
@samrose @jussiarpalahti Thanks for taking the time to read this and share your thoughts.

@jussiarpalahti

Eventually, the migrations will keep being part of the CLI. Said CLI does not start and stop Kong directly anymore, but provides an utility belt (migrations, add-api, remove-api, version...). To upgrade, I hope we can somewhat follow the same steps as the Nginx binary upgrade path: download

[2017-04-26 19:50] p0pr0ck5 commented on #1784
Thanks for reporting back! :)

[2017-04-26 20:00] p0pr0ck5 commented on #2458
If anything, this sounds more like an issue with Windows <-> Vagrant behavior, not Kong?

[2017-04-26 20:00] thibaultcha commented on #1237
@lvillarino This is definitely on our radar.

[2017-04-26 20:01] p0pr0ck5 commented on #2456
The SSL plugin isn't distributed with Kong 0.10, so I do believe the proper behavior will be to manually clear the entry from the datastore.

[2017-04-26 20:03] thibaultcha commented on #2456
Sadly, we did not include a migration to take care of this change... Sorry about that.

[2017-04-26 20:16] p0pr0ck5 commented on #2449
Remember that `.app` is a gTLD, so root servers (and, pretty much everyone) is responding with an A record for `app` queries (remembering that this is technically a FQDN `app.`):

[code]

So when Kong receives a request for an API with the upstream_url of `http://app`, and it does not find any upstream objects with the name `app`, it reverts to DNS resolution. Kong then sends the request on to `12

[2017-04-26 20:24] grantlucas commented on #2075
Yup, thanks

[2017-04-26 20:24] #2075 closed

[2017-04-26 20:29] p0pr0ck5 commented on #1734
@bivdub any update for us so we can debug this?

[2017-04-26 20:42] bungle commented on #2449
@erutherford, well just what I though. I installed your docker environment and was able to reproduce this. Now the DNS resolution inside that Kong repository is the root cause for the problem as I suggested.

[code]

Now outside to Kong container:

[code]

[code]

[2017-04-26 20:52] bungle commented on #2449
Umm. I made a mistake here. I need to investigate this a bit more.

[2017-04-26 21:15] erutherford commented on #2449
@p0pr0ck5 this was indeed a flaw in the original docker-compose file I provided and was why I created a new one that actually spins up a service named app and thus docker will create a DNS record for `app`.  Since docker is providing the DNS for this container, it should in theory take precedence over the tld of .app since it can service that request locally instead of hitting the loopback address

[2017-04-26 21:16] bungle commented on #2449
What happens there is really Kong proxying to same Kong:

[code]

So it seems like `app` is resolving to `127.0.0.1` inside Nginx / Kong. Outside Nginx / Kong it seems to resolve to `172.19.0.4`. When requesting `localhost/apps`I do get only a single access log entry:

[code]

[2017-04-26 21:25] erutherford commented on #2449
Kong resolves dns via the nameserver in resolve.conf correct? https://github.com/Mashape/kong/blob/master/kong/tools/dns.lua#L23-L30

[code]
I understand that if there wasn't an app record, the .app tld record is set to a loopback address and that was causing kong to proxy to kong.  How is kong still resolving it to the loopback address if the nameserver it's supposed to be using is resolving it c

[2017-04-26 21:39] bungle commented on #2449
Ok here is the full answer:

1. Kong reads `resolv.conf`
2. Inside your container the app is actually `app.kongtest_default` and that means that Docker DNS has a search options added (?)
3. Now Kong balancer actually resolves `app` and gets `127.0.53.53` and it seems like your docker Kong image is listening all `127.x.x.x`.

There is a quite new commit here:
https://github.com/Mashape/lua-resty-dn

[2017-04-26 21:55] bungle commented on #2449
@Tieske mind you check this out as this may be related to the recent work you have done with `lua-resty-dns-client`. I can test it on my machine as I now have this working on a VM / Docker.

[2017-04-26 23:19] nguilford commented on #2456
Yikes. So, to be clear to migrate these records, I must:

1. Log into my postgres db and `DELETE FROM plugins WHERE name='ssl';`
2. Issue requests to `/certificates` for each api whose ssl plugin record was deleted

Is that correct? Will there be downtime for my 0.9.x cluster during the switchover or are the certificates cached on each node? I am looking to upgrade a production cluster, so of cour

[2017-04-27 00:10] thibaultcha commented on #2456
Correct. The certificates should be cached on each node of your 0.9.x cluster though (if they were previously hit).

[2017-04-27 02:45] hungpt91 commented on #2355
Sorry but I $ wget http://getkong.org/download/kong-0.12.0.tar.gz ---> not found.
Did you mean wget https://github.com/Mashape/kong/archive/0.10.1.tar.gz ?
But i can run command "./configure" in 1.10.1 folder . Plz help, tks so much.

[2017-04-27 03:33] thibaultcha commented on #2355
@hungpt91 This issue is to discuss the idea presented above, none of this exists as of today.

[2017-04-27 04:19] bpatelcs commented on #2440
Thanks , updating Nginx template works.

On Tue, Apr 25, 2017 at 11:02 AM, Thibault Charbonnier <
notifications@github.com> wrote:

[2017-04-27 05:37] hizorro88 commented on #87
+1

[2017-04-27 09:33] andChow opened #2460 "Do Kong support Consul Template？"
We need automatically change Nginx's upstream info use Consul Template's feature.

[2017-04-27 09:57] adamlc commented on #2379
Could well be! Although can't say I've ever developed with LUA before.

Do we think we should allow for custom headers, bodies / responses to be set too? I know in API gateway you can set mapping so that custom headers and responses can be sent. Not sure what the best way to do this would be and remain backwards compatible with the current behaviour.

[2017-04-27 12:32] hugodlg commented on #2152
Any news?

[2017-04-27 14:38] tobiastom commented on #286
Is there any plan to support it in the future? I'd also like to use it on FreeBSD.

[2017-04-27 16:09] p0pr0ck5 commented on #2460
Hi,

Upstreams are controlled using the load balancing functionality of Kong: https://getkong.org/docs/0.10.x/loadbalancing/. This provides a RESTful interface to manage upstreams for your APIs; you can then use your config management of choice to interact with this API.

BTW, please reserve GitHub issues for actual issues running Kong.  Please use the
[Kong mailing list](https://groups.google.com

[2017-04-27 16:09] #2460 closed

[2017-04-27 16:11] p0pr0ck5 commented on #2360
The logs above only indicate that the upstream closed the connection before it finished sending data to the upstream.

BTW there are many people involved in this thread, and we will need some clear, concise detail to make sense of it all :)

[2017-04-27 20:13] nijikokun opened #2462 "Certificates has an inconsistent payload when empty"
### Summary

The default payload when you fetch a list that is empty across all other models looks like:

[code]

Certificates empty payload looks like:

[code]

### Steps To Reproduce

1. Fetch `upstreams` endpoint when there is no data
2. Fetch `certificates` endpoint when there is no date
3. Compare

### Additional Details & Logs

- Version: 0.10.1
- OS: OSX

[2017-04-27 23:51] nguilford commented on #2456
Verified that this workflow works.

[2017-04-27 23:51] #2456 closed

[2017-04-28 01:42] thetrav commented on #1512
@thibaultcha any chance of getting this one re-opened?  I've got the same issue, I'm using keycloak as the JWT provider.

As per @codeocelot I want to use kong's consumer for rate limiting, analaytics and other plugins.  Having a single consumer in kong for all apps that use my APIs won't work.

Is there a reason for the unique constraint?

[2017-04-28 02:20] workcheng opened #2464 "What"
I want to develop a plugins base kong.With which tools to develop？

[2017-04-28 02:28] thibaultcha commented on #2464
Hi,

Please ask such general questions on the mailing list. As pointed out by the issue template (that you saw opening this issue), this place is for bug reports only. FYI, you'll find that same question answered there already.

https://groups.google.com/forum/?hl=en#!forum/konglayer

https://getkong.org/docs/latest/plugin-development/

[2017-04-28 02:28] #2464 closed

[2017-04-28 03:39] toby2 opened #2465 "Question about kong high availability"
When we enable Kong cluster, more than one node provide gateway function, is there any suggestion about HA solution? put a nginx front of Kong or use VIP + keepalive  ?

[2017-04-28 03:40] thefosk commented on #2465
A load balancer in front of Kong nodes it's the most common solution.

[2017-04-28 03:40] #2465 closed

[2017-04-28 04:12] spacelan commented on #1509
@pamiel Thank you, it works!

[2017-04-28 04:23] thefosk commented on #2446
Can't `client_id` be removed from the request body since you are already authenticating using the `Authorization` header?

[2017-04-28 10:16] feichaohao commented on #380
+1

[2017-04-28 10:27] feichaohao commented on #378
+1

[2017-04-28 11:45] jussiarpalahti commented on #2355
@thibaultcha, upgrade model sounds good. re:clustering: interesting... :)

[2017-04-28 16:24] p0pr0ck5 commented on #2462
Nice eyes @nijikokun. Only pending question is whether to fix this in 0.10.2 or 0.11 as it could be considered a "breaking" change.

[2017-04-28 16:25] p0pr0ck5 commented on #1863
Closing as stale after no response. Feel free to re-open this if you're still having issues here. Thanks!

[2017-04-28 16:25] #1863 closed

[2017-04-28 16:27] p0pr0ck5 commented on #387
https://github.com/Mashape/kong-dist-azure :D

[2017-04-28 16:27] #387 closed

[2017-04-28 16:51] p0pr0ck5 commented on #2010
Closing as stale after no response. Feel free to re-open this issue if there are still questions. Thanks!

[2017-04-28 16:51] #2010 closed

[2017-04-28 16:52] p0pr0ck5 commented on #2012
Closing since #1995 was closed, as this was handled thanks to @bungle!

[2017-04-28 16:52] #2012 closed

[2017-04-28 16:55] p0pr0ck5 commented on #1945
As of Kong 0.10, TLS certs are now handled through the `certificates` object interface, so the daemon or cronjob that re-fetches the new cert/key pair after re-authz can just use the admin API to re-up certs for all nodes automatically (and of course the .well-known ACME endpoint can just be handled upstream, Kong should not touch that).

Given this, seems like there's not much to do here? I don't

[2017-04-28 16:56] p0pr0ck5 commented on #1938
@carbeman do you still see this behavior when using Kong 0.10+?

[2017-04-28 17:40] thibaultcha commented on #1938
@carbeman Make sure that you have the following directive in your Nginx configuration (especially if you are using a custom template):
[code]

[2017-04-28 18:52] p0pr0ck5 commented on #2462
0.10.2 it is!

[2017-04-28 18:52] #2462 closed

[2017-04-28 19:30] p0pr0ck5 commented on #2369
@nguilford have you been able to do any debugging on this issue? Seems there's be trouble reproducing your results.

[2017-04-28 19:50] Tieske commented on #2385
this has been fixed, released on 0.11

[2017-04-28 19:50] #2385 closed

[2017-04-28 19:51] Tieske commented on #2381
closing due to lack of response

[2017-04-28 19:51] #2381 closed

[2017-04-28 20:08] Tieske commented on #2333
seems a consul bug, closing this.

[2017-04-28 20:08] #2333 closed

[2017-04-28 20:11] #2322 closed

[2017-04-28 20:14] Tieske commented on #2316
@hongkang have you been able to resolve this?

[2017-04-28 20:15] thibaultcha commented on #2309
We'll take care of it when upgrading to the new OpenResty 1.11.2.3

[2017-04-28 20:18] thibaultcha commented on #2277
Considering this answered as per @vaibhavatul47's comment.

[2017-04-28 20:18] #2277 closed

[2017-04-28 20:19] thibaultcha commented on #2280
Please re-open on the website repository as Mashape/getkong.org, thanks!

[2017-04-28 20:19] #2280 closed

[2017-04-28 20:20] #2233 closed

[2017-04-28 20:20] #2227 closed

[2017-04-28 20:27] #2195 closed

[2017-04-28 20:36] thibaultcha commented on #2182
Considering this resolved as Kong 0.10.01 was shipped with a Serf downgrade back to 0.7.0. Future versions of Kong will not even need Serf anymore :)

Thanks!

[2017-04-28 20:36] #2182 closed

[2017-04-28 20:36] thibaultcha commented on #2175
Considering this resolved.

[2017-04-28 20:36] #2175 closed

[2017-04-28 20:41] thibaultcha commented on #2154
Considering this answered, as @bad79s pointed out, we have a community plugin for this.

PS: an OIDC plugin from us is also in the works.

[2017-04-28 20:41] #2154 closed

[2017-04-28 20:42] p0pr0ck5 commented on #2137
Closed as dup

[2017-04-28 20:42] #2137 closed

[2017-04-28 20:44] thibaultcha commented on #2126
This discussion for this is at #2219, considering this as answered :)

[2017-04-28 20:44] #2126 closed

[2017-04-28 20:45] Vad1mo commented on #2154
is there any roadmap or info about the progress regarding the OIDC plugin?

[2017-04-28 20:50] nijikokun opened #2468 "APIs POST/PATCH error response is not conforming to other endpoint error responses"
### Summary

When you make a `POST` request to `/consumers` without any data provided you will get back a hash of `field: error-message` response:

[code]

Doing the same request on `/apis` returns a non-conforming response where it is instead `"message": error-message`:

[code]

The `/consumers` response is preferable due to the potential of multiple fields having errors.

### Steps To Reproduce

[2017-04-28 20:52] thibaultcha commented on #2107
Please give a try to 0.10.2, which should include the related fix.

[2017-04-28 20:52] #2107 closed

[2017-04-28 20:53] thibaultcha commented on #2088
Seems like you figured it out this @cheald, closing this now :)

[2017-04-28 20:53] #2088 closed

[2017-04-28 20:57] thibaultcha commented on #2070
Serf was downgraded back to 0.7.0 in Kong 0.10.1, thanks for the report.

[2017-04-28 20:57] #2070 closed

[2017-04-28 20:58] thibaultcha commented on #2063
Considering this fixed with #2145 since there was no reply.

[2017-04-28 20:58] #2063 closed

[2017-04-28 20:58] #2058 closed

[2017-04-28 21:10] #2022 closed

[2017-04-28 21:10] #2020 closed

[2017-04-28 21:11] thibaultcha commented on #2018
Contributions welcome!

[2017-04-28 21:19] thibaultcha commented on #1958
Closing this as a duplicate #2219.

[2017-04-28 21:19] #1958 closed

[2017-04-28 21:22] thibaultcha commented on #1919
Not something we are planning on doing, but feel free to build a community plugin for it!

[2017-04-28 21:22] #1919 closed

[2017-04-28 21:24] thibaultcha commented on #1913
This should have been fixed in Kong 0.10.1 and the upcoming 0.10.2, thanks!

[2017-04-28 21:24] #1913 closed

[2017-04-28 21:24] thibaultcha commented on #1899
We have this own our radar, thanks for the suggestion!

[2017-04-28 21:24] #1899 closed

[2017-04-28 21:27] thibaultcha commented on #1894
Hi,

Thanks for the throughout explanation. We have this requirement on our radar and will take care of it when refactoring the plugins runloop and their interface. Thanks!

[2017-04-28 21:27] #1894 closed

[2017-04-28 21:35] thibaultcha commented on #2438
Closing this now, this discussion is to be continued on the Enterprise support channels.

[2017-04-28 21:35] #2438 closed

[2017-04-28 21:36] thibaultcha commented on #2431
The value for this form parameter is `consumer_id`, and not `config.consumer_id`.

[2017-04-28 21:36] #2431 closed

[2017-04-28 21:37] thibaultcha commented on #2423
This should be fixed with 0.10.1 and the upcoming 0.10.2. In any case, make sure you are *always* running your migrations from a *single* node. No 2 nodes can start at the same time on a fresh Cassandra keyspace.

[2017-04-28 21:37] #2423 closed

[2017-04-28 21:39] thibaultcha commented on #2390
Should be fixed in the upcoming 0.10.2. As always, make sure you are *always* running your migrations from a *single* Kong node. No 2 Kong nodes can be started at the same time on a fresh Cassandra cluster.

[2017-04-28 21:39] #2390 closed

[2017-04-28 21:40] mgiorgio commented on #2390
Thanks @thibaultcha. Any idea when I'll be able to run migrations with multiple Kong nodes?

[2017-04-28 21:41] thibaultcha commented on #2378
The `schema.flexible` flag is more of a hack, or undocumented solution and should probably not be used in the first place, especially by third-party plugins. There will be a time when we'll release a stable/officially supported better modelling API for entities and plugins configs.

For now, `schema.flexible` is doing its job in the response-ratelimiting plugin and I think you should restrain your

[2017-04-28 21:42] thibaultcha commented on #2390
Probably never, due to the distributed nature of Cassandra.

[2017-04-28 22:02] somebehemoth commented on #2154
Will Mashape OIDC plugin be open source or Enterprise only?

[2017-04-28 22:03] p0pr0ck5 commented on #2234
Closing this for now. Currently, the behavior seen is as expected, as @Tieske laid out. In the future, clustering operations will be handled through the data store, instead of serf, so we will see less latency when converging (but the nature of clustered applications means there will always be _some_ latency), and changes applied will affect the node against which the change was made instantaneous

[2017-04-28 22:03] #2234 closed

[2017-04-28 22:07] p0pr0ck5 commented on #1885
Thanks for the explanation and thought here. Adding this in has been on our radar for quite a while. We're trying to keep GitHub issues reserved for actual problems/bug reports for Kong, so we're closing this, and we'll keep this in mind moving forward. Thank you!

[2017-04-28 22:07] #1885 closed

[2017-04-28 22:07] #1945 closed

[2017-04-28 22:11] p0pr0ck5 commented on #2329
@shavo007 we'd love to have more of your opinion here, as @coopr mentioned.

In the mean time, we're going to close this issue, as there's no actionable work here. Feel free to use the mailing list or Gitter as a vehicle to continue moving this discussion forward as necessary.

[2017-04-28 22:11] #2329 closed

[2017-04-28 22:17] p0pr0ck5 commented on #2229
In the future, we'll likely provide a mechanism to tie metadata into consumer (and other) objects in the admin API; for now, as @Tieske mentioned you could manually use either the existing, or a separate, data store to manage this metadata.

Feel free also to continue this discussion on the mailing list, or Gitter. Thank you!

[2017-04-28 22:17] #2229 closed

[2017-04-28 22:19] p0pr0ck5 commented on #2194
@plukevdh can you share some more details about your config when you experience this problem? How many data store entities (APIs, consumers, plugins, etc) are you using? What is the value of the `mem_cache_size` directive in your config?

[2017-04-28 22:42] p0pr0ck5 commented on #2054
This likely won't be something we will be able to work on in the short term. Community patches and contributions welcome!

[2017-04-28 23:06] rgottumu commented on #2229
Thank you @p0pr0ck5 . Is this on the road map or is this something that you want to do at some point of time?

[2017-04-29 05:15] p0pr0ck5 commented on #2379
@adamlc we'd certainly be happy to entertain various ideas and discussions in a PR, or on the mailing list or Gitter. GitHub issues, however, should be reserved for issues/problems/bugs while running Kong. Feel free to open a PR for this, or bring it up in the mailing list for further discussion. Thanks!

[2017-04-29 05:15] #2379 closed

[2017-04-29 11:22] akh00 opened #2469 "aws-lambda plugin works incorrect with some content-types"
### Summary

aws-lambda plugin works incorrect with some content-types. The plugin works correctly only with application/json, multipart/form-data and application/x-www-form-urlencoded.
Other content-types/requests are processed incorrectly they are treated as application/x-www-form-urlencoded type, so it's impossible to use the plugin with SOAP for instance or other request with text/binary paylo

[2017-04-30 05:42] iwasnobody opened #2471 "how to let kong start automatically"
Following is my /etc/rc.d/rc.local
[code]
And the kong doesn't start, following is /home/ec2-user/log
[code]
What does following error mean and how to enable auto start? thx
Error:
/usr/local/share/lua/5.1/kong/cmd/health.lua:38: Kong is not running at /usr/local/kong

[2017-04-30 05:53] hos7ein commented on #2471
you can use systemd for Control kong service.
First create kong.service file  :

and then put this lines in file :

[Unit]
Description= kong service
After=syslog.target network.target

[Service]
User=root
Group=root
Type=forking
ExecStart=/usr/local/bin/kong start
ExecReload=/usr/local/bin/kong reload
ExecStop=/usr/local/bin/kong stop

[Install]
WantedBy=multi-user.target

now you can Control kong

[2017-04-30 07:27] iwasnobody commented on #2471
Hi, hos7ein
Thank you for your quick response.
But I'm using amazon linux which is more like centos 6 and not based on systemd

[2017-05-01 06:46] filterfish commented on #2320
In case you are after some more data points our internal network is ipv6 only. I'm just deploying a testing release of a new product and it didn't occur to me that Kong wouldn't support ipv6. I know I should have checked but it is 2017 ;)

[2017-05-01 08:14] codebien opened #2472 "[cli] Kong check default path"
`kong check` command from CLI searches default conf only in `/etc/kong.conf`. Is right? Why not also `/etc/kong/kong.conf` like [here](https://getkong.org/docs/0.10.x/configuration/#configuration-loading).

[2017-05-01 08:24] thibaultcha commented on #2472
I'm not sure what you mean. Please provide the command you ran, the result and the result you expected.

[code]

[2017-05-01 08:44] codebien commented on #2472
Sorry, my mistake. I have runned the command from `0.9.9`. In 0.10.x the behavior is right but the doc is not updated.

[code]

1. This issue is releated to 0.9.9
2. The [.10.x doc](https://getkong.org/docs/0.10.x/cli/#kong-check) for the `kong check` command is old.

[2017-05-01 09:12] Tieske commented on #2472
@codebien PR on https://github.com/Mashape/getkong.org would be nice 😄

[2017-05-01 10:17] #2472 closed

[2017-05-01 11:26] psarrazin opened #2473 "RS512 JWT not supported"
I added the missing RS512 encoding format to jwt plugin (code + tests) and I'm ready to merge the feature.

[2017-05-01 11:26] iwasnobody opened #2474 "plugin file-log can't work with plugin lambda"
kong: 0.10.1

when enable both file-log and lambda plugin, there will be no log written to file configured in file-log plugin.

[2017-05-01 11:44] Tieske commented on #2474
That is the same issue as with the response plugins; https://getkong.org/plugins/aws-lambda/#known-issues

[2017-05-01 11:44] #2474 closed

[2017-05-01 13:09] p0pr0ck5 commented on #2473
Please consider opening a PR. Thank you!

[2017-05-01 13:09] #2473 closed

[2017-05-01 15:00] Tieske commented on #2013
@workcheng How did you hit it?

[2017-05-01 15:03] patricksanders commented on #2442
This may be a duplicate of #2352.

Does setting `KONG_NGINX_DAEMON=on` make your tests work?

[2017-05-01 15:40] subnetmarco opened #2475 "Applying plugins on specific credentials"
To keep in mind for new model. Ie, by `credential_id` in addition to `consumer_id`.

[2017-05-01 16:21] p0pr0ck5 commented on #1787
Going to close this, as moving forward we want to keep Github issues reserved for actual issues running Kong; community discussion can be continued on the [Kong mailing list](https://groups.google.com/forum/#!forum/konglayer) or
[Gitter](https://gitter.im/Mashape/kong). Thank you for the initial question and discussion!

[2017-05-01 16:21] #1787 closed

[2017-05-01 16:22] p0pr0ck5 commented on #1509
Thank you @pamiel for the note! Closing this now.

[2017-05-01 16:22] #1509 closed

[2017-05-01 16:48] p0pr0ck5 commented on #2359
Closing as stale, after no response. Please feel free to re-open this if there are still pending issues.

[2017-05-01 16:48] #2359 closed

[2017-05-01 16:48] p0pr0ck5 commented on #2378
Closing, following Thibault's response. Thanks!

[2017-05-01 16:48] #2378 closed

[2017-05-01 16:48] p0pr0ck5 commented on #2332
Hello,

Would you be willing to submit a PR for this behavior?

[2017-05-01 16:50] p0pr0ck5 commented on #1655
Closing after the response above. This doesn't seem to be a issue.

[2017-05-01 16:50] #1655 closed

[2017-05-01 16:54] p0pr0ck5 commented on #740
Closing this, tracking in #1547 .

[2017-05-01 16:54] #740 closed

[2017-05-01 16:58] p0pr0ck5 commented on #2413
@xulongju are you able to work around this by manually removing the `oauth2_authorization_codes <-> api_id` relationship and re-running the migration?

[2017-05-01 17:00] p0pr0ck5 commented on #2380
@jiteshBhate would you mind opening an issue with the upstream provider at https://github.com/jdevillard/kong-azure? Thank you!

[2017-05-01 17:00] #2380 closed

[2017-05-01 17:52] #2350 closed

[2017-05-01 20:37] nguilford commented on #2369
@p0pr0ck5 I reproduce this 100% on our kong cluster running v0.9.2. I am in the middle of upgrading to 0.10.1 and am scheduled to complete that upgrade tomorrow afternoon. Once this is complete, I will try to reproduce with the latest version and let you know what I find.

[2017-05-01 21:19] sredXNY opened #2479 "Serf issue"
Hi, I just installed Kong 0.10.1 in CentOS 7. Now I'm trying to execute Kong but I got a Serf agent error, this one:
`
Error: could not start serf: Failed to start the Serf agent: Error creating Serf: Failed to create memberlist: No private IP address found, and explicit IP not provided
`
I read that this problem can be fixed setting up a explicit IP on the clusters properties, so I setted:

[code

[2017-05-01 23:04] therealgambo commented on #2332
Sure

[2017-05-02 00:09] harryparmar commented on #2316
@hongkang @Tieske Try changing default 60k ms upstream_*_timeouts to bigger value on your endpoint.

[2017-05-02 00:24] thefosk commented on #2479
Can you run with `cluster_advertise=ADDRESS:PORT` ?

[2017-05-02 00:28] sredXNY commented on #2479
@thefosk Hi! no, I cant't, btw which port should be specified there?

I edited the post, I was trying to fix it and now I have that situations. Thank you

[2017-05-02 00:37] harryparmar commented on #2479
@sredXNY @thefosk install docker and run kong and cassandra through docker, wont have to deal with that serf issue

[2017-05-02 01:50] thetrav commented on #2155
Does the unique constraint on rsa_public_key impact https://github.com/Mashape/kong/issues/1512 ?

There are use cases where we want to have the same JWT used against multiple consumers

[2017-05-02 02:56] harryparmar commented on #391
@apiplug is your solution for ui, premium product? also is it hosted solution or it can be deployed internally?

[2017-05-02 07:21] thefosk commented on #2479
The error log you are showing tells that you are trying to connect to Postrgres with an invalid password - so let's fix one problem at a time. Can you check that your Postgres settings are valid?

[2017-05-02 07:49] lamphp opened #2483 "plugin rate-limiting policies redis get usage add redis database select"
when use plugin rate-limiting, if set policy redis and set redis database，There will be a problem，in plugins/rate-limiting/policies/init.lua, The database is not set in the usage method. it will be setting by default 0 sometime,I do not know why not contain database setting, but when we get the value， it will be null @thibaultcha

[2017-05-02 07:50] lamphp commented on #2483
@thibaultcha  https://github.com/lamphp/kong/commit/c7172b5ed138c29aa2a438c24b226c3536b2b38a

[2017-05-02 07:51] lamphp commented on #2483
or my use is wrong

[2017-05-02 09:02] cedum commented on #2446
@thefosk sure, unfortunately in this case we don't have control of the client (it's Cloudflare acting as oauth2 client using their internal implementation). I'm forwarding also to them this issue.

In the meantime, we solved by changing this line:
https://github.com/Mashape/kong/blob/master/kong/plugins/oauth2/access.lua#L234
to:
[code]

Is there a reason why there's checked only client id (https:

[2017-05-02 09:46] andChow opened #2484 "Custom configuration will be removed when kong start"
## 1、Phenomenon
[code]

## 1.2 restart kong
when i restart kong，the nginx.conf
[code]
lose custom configuration。

## 3、Question
Do kong support custom configuration？

[2017-05-02 09:56] lamphp commented on #2484
you must modify it in templates/nginx_kong.lua

[2017-05-02 10:34] ShinEDL commented on #2484
kong support custom configuration.
https://getkong.org/docs/0.10.x/configuration/#custom-nginx-configuration-embedding-kong

[2017-05-02 10:46] ShinEDL opened #2485 "How much rate-limiting plugin can be created?"
If Kong have a great number of consumer(such as 1 million), can I create so many rate-limiting plugin (one consumer, one rate-limiting plugin) ?

[2017-05-02 11:48] sredXNY commented on #2479
@thefosk yes, they're correct, even they migrations were created the first time. But then,when I add the IP in cluster:advertise I get the error, if I delete the IP I only get the Serf error. The database configs are correct

[2017-05-02 12:12] gjedeer commented on #2471
I wish there was support for a PID file or foreground operation so Kong can be properly controlled by something like systemd or supervisord instead of its own faulty implementation...

[2017-05-02 13:35] p0pr0ck5 commented on #2484
Closing, thanks for the answers above.

[2017-05-02 13:35] #2484 closed

[2017-05-02 13:37] sredXNY commented on #2479
@harryparmar Hi, correct! it was successful installing Kong with Docker. Thank you

[2017-05-02 14:26] harryparmar commented on #2479
@sredXNY if you are setting up kong with docker and want to setup cluster with other nodes on other machines, make sure install with net=host , you can read full command on the link below ->
https://github.com/Mashape/kong/issues/2330

[2017-05-02 15:15] jdarling commented on #2378
Considering there isn't really any documentation around schema types and utilization you might want to note in the code of existing plugins what parts are "Don't do this" type things.  While a dictionary would be easier in my case, I can switch over to an Array and just check for unique keys on sub schemas.

[2017-05-02 15:55] thefosk commented on #2483
@lamphp I have pushed a PR yesterday to fix this problem https://github.com/Mashape/kong/pull/2481

[2017-05-02 15:56] thefosk commented on #2485
@ShinEDL yes - although we are going to make it easier in the future to apply plugin configurations to group of consumers.

[2017-05-02 15:56] #2485 closed

[2017-05-02 16:26] p0pr0ck5 commented on #2471
@gjedeer there's already discussion for this: #928. And, systemd and supervisord are not the only init/process management processes available :) Kong at it's core seeks to be as platform agnostic as possible; indeed, it's up the distribution to maintain the daemon.

@iwasnobody what do you see in `/usr/local/kong/logs/error.log`? stdout isn't going to contain anything useful.

[2017-05-02 16:29] p0pr0ck5 commented on #1816
@marcubus thanks for the initial diff, this has been merged in. Closing as this seems to be resolved now.

[2017-05-02 16:29] #1816 closed

[2017-05-02 16:29] p0pr0ck5 commented on #2085
This is being done in #2476.

[2017-05-02 16:29] #2085 closed

[2017-05-02 17:06] sredXNY opened #2486 "Not able to consume API using postman"
Hi, I have installed Kong, registered an example API to test and assigned an Auth Plugin. From the server I can consume the endpoint using curl, with:

 `curl -i -X GET --url http://My.public.I.P:8000 --header 'Host:api.demo.com' --header 'X-AUTH:12345`

And that is working fine, however, then from my local machine I tried to consume the API using Postman, basically this is what I am sending:
[cod

[2017-05-02 17:26] p0pr0ck5 commented on #2486
@sredXNY please try to reserve Github issues for actual bugs and problems running Kong, not just support. Please use the [Kong mailing list](https://groups.google.com/forum/#!forum/konglayer) or
[Gitter](https://gitter.im/Mashape/kong) for user support, development questions, feature requests, etc.*

For now, what is the result of retrieving the `/apis` route of the admin API (port 8001)?

[2017-05-02 17:35] sredXNY commented on #2486
@p0pr0ck5 Ok, I get it!

This is what I get:
[code]

[2017-05-02 20:43] thefosk commented on #2486
`X-Host-Override` has been removed - @thibaultcha can extend on it. Previous conversation at https://github.com/Mashape/kong/issues/2365.

You will have to use a `Host` header.

[2017-05-02 22:45] EdwinTSalcedo commented on #1869
I have run into a similar problem. In my case it's just one line: /usr/local/openresty/bin/../nginx/sbin/nginx: 1: /usr/local/openresty/bin/../nginx/sbin/nginx: Syntax error: "(" unexpected

[2017-05-03 02:12] ShinEDL commented on #2485
@thefosk Thank you.

[2017-05-03 09:29] gjedeer commented on #2471
@p0pr0ck5 thanks! The current model looks good for the old good sysv init, but I have consistently found Kong dead and had to restart it manually. I'd rather use a supervising process manager than write scripts to connect to Kong's port and restart it if it's dead.

[2017-05-03 10:18] iwasnobody commented on #2471
@p0pr0ck5 nothing in /usr/local/kong/logs/error.log

[2017-05-03 12:03] xulongju opened #2491 "Error: bad argument #1 to 'ipairs' (table expected, got nil)"
version:
kong-0.10.2
openresty-1.11.2.2
Kong-0.10.1 upgrade to kong-0.10.2, the following error:
Error: bad argument #1 to 'ipairs' (table expected, got nil)

  Run with --v (verbose) or --vv (debug) for more details
[root@localhost openresty]# kong start --vv
2017/05/03 20:00:57 [verbose] Kong: 0.10.2
2017/05/03 20:00:57 [debug] ngx_lua: 10007
2017/05/03 20:00:57 [debug] nginx: 1011002
2017/05/03

[2017-05-03 15:13] xulongju commented on #2491
old version:
kong-0.10.1
openresty-1.11.2.1
update version:
kong-0.10.2
openresty-1.11.2.2

[2017-05-03 15:57] DevOpsRoot opened #2492 "Problem with ssl outside the server"
1. I installed kong (0.10.2) on an azure server (Ubuntu Xenia)

2. Open 8001/8000/8444/8443 ports on azure.

3. Set up the ssl (  with a self generate .crt and .key ) in /etc/kong/kong.conf  (see below).

4. On the server when i try this :

`curl  https://ergelis:8444/apis` => It's works

**BUT OUTSIDE the same commande give me a TIME-OUT ! Is it normal ? (telnet give me the same result)**

## **D

[2017-05-03 17:21] mprimeaux commented on #2390
I am running into this same error with Kong 0.10.2. I'll debug and report back.

[2017-05-03 17:43] mgiorgio commented on #2390
@mprimeaux thanks, please report back when you get an insight. I reproduced it consistently with multiple nodes and that is considered as a known issue. I did see a problem like yours but at that point I couldn't guarantee that it was a problem with Kong itself or if it was our data centers. After that, I couldn't reproduce it anymore.

Please, let us know if you see something interesting.

[2017-05-03 19:22] mprimeaux commented on #2390
Here's what I can confirm at this point in time.

This error...

[code]
...only occurs the *very first* time a Kong cluster is initialised. All attempts to reproduce the same error after the initial failure using the same Kong cluster are unsuccessful. Even stopping Kong, dropping the target Cassandra keyspace, rebooting the node and attempting to run `kong start' completes execution of all migrat

[2017-05-03 20:30] mgiorgio commented on #2390
@mprimeaux thanks for reporting back. Were you able to consistently (or, at least, multiple times) reproduce this issue? In other words, did you completely remove the Kong cluster (which, based on your previous message, is a 1-node cluster), install it again, and see this issue?

[2017-05-03 20:35] p0pr0ck5 commented on #2491
@xulongju what does the content of your `kong.conf` file look like?

[2017-05-03 20:40] p0pr0ck5 commented on #2471
@iwasnobody are you sure `/etc/rc.d/rc.local` is getting executed?

[2017-05-03 20:41] mprimeaux commented on #2390
I am able to reproduce this issue consistently. I'm using Ubuntu Server 16.04 LTS. One warning I did notice when starting Kong is a message to increase ulimit to at least 4096. I'd like to investigate that next to rule it out.

[2017-05-03 20:45] mgiorgio commented on #2390
Excellent, thanks for your responses. Let's wait to see what @thibaultcha and the other folks say about it.

[2017-05-03 21:04] mprimeaux commented on #2390
Unfortunately, ensuring ulimit was at 4096 didn't correct the issue.

[code]

As you can see, the `ulimit` warning doesn't appear but I still experience the error.  I'll wait to hear from @thibaultcha and will continue to debug in the interim.  Please let me know if you'd like me to try anything on my end.

[2017-05-03 21:14] mgiorgio commented on #2390
When I saw this issue, I was running Kong 0.9.7 and Kong 0.10.1. If you have some time and want to try with 0.10.1, it'd be great because the Kong's folks introduced some changes regarding running migrations on Cassandra.

[2017-05-03 21:15] mprimeaux commented on #2390
I can confirm that I experienced this exact same error with Kong 0.10.1, which is what brought me to this thread.

[2017-05-03 21:28] mprimeaux commented on #2390
...more information with `kong start --vv`.

[code]

I'll continue to investigate and report back.

[2017-05-03 21:56] p0pr0ck5 commented on #1685
Closing, since a). this is already listed as fixed a while ago, and b). serf is going away!

[2017-05-03 21:56] #1685 closed

[2017-05-04 02:42] ShinEDL opened #2495 "Rate-limiting plugin doesn't work properly"
### Summary

I created a rate-limiting plugin which limit by consumer and set policy to "redis", but it doesn't work properly.

### Steps To Reproduce

1.Create a api named "api_test"
2.Create a consumer named "consumer_test" and add a key of key-auth for it.
3.Create a key-auth plugin apply to "api_test".
4.Create a rate-limiting plugin which apply to "consumer_test" and "api_test", set policy to

[2017-05-04 03:08] ShinEDL commented on #2495
Whether postgres will affect this?

[2017-05-04 04:46] iwasnobody commented on #2471
@p0pr0ck5
the command in rc.local is changed and kong can be started in shell manually with the following command:
/usr/local/bin/kong start > /home/ec2-user/log

Since /home/ec2-user/log has shown
ulimit is currently set to "1024". For better performance set it to at least "4096" using "ulimit -n"
which will also popup when start kong manually

I guess the command in rc.local is definitely be exe

[2017-05-04 05:28] liuwenru opened #2496 "use kong in alpine docker can not dynamic add api"
*Note: GitHub issues should be reserved only for bug reports. Please use the
[Kong mailing list](https://groups.google.com/forum/#!forum/konglayer) or
[Gitter](https://gitter.im/Mashape/kong) for user support, development
questions, feature requests, etc.*

### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce
sorry， my english is not good.
1. i make a kong docker images base on alpine, use the d

[2017-05-04 06:32] xulongju commented on #2491
[root@localhost openresty]# cat kong.conf
prefix = /opt/config/openresty/kong/
log_level = error
custom_plugins =
anonymous_reports = off
proxy_listen = 0.0.0.0:80
proxy_listen_ssl = 0.0.0.0:443
admin_listen = 10.10.10.106:8001
admin_listen_ssl = 10.10.10.106:8444
mem_cache_size = 128m
ssl = on
ssl_cert =
ssl_cert_key =
admin_ssl = off
admin_ssl_cert =
admin_ssl_cert_key =
upstream_keepalive = 60

[2017-05-04 07:27] carbeman commented on #1938
@p0pr0ck5 with 0.10 version the problem does not seem to appear.

[2017-05-04 07:30] carbeman commented on #1938
@thibaultcha with the previous version 0.9.5 i had already fixed the problem by adding the missing dict to the nginx template.

Currently with the latest version the issue has not been presented yet.

[2017-05-04 07:52] ShinEDL commented on #2495
Sometimes it even dosen't work anymore...let all request be proxied...

[2017-05-04 07:54] ShinEDL commented on #2496
Why not use offical kong docker images?

[2017-05-04 08:10] thibaultcha commented on #1938
Good to know, it should be fixed. Let us know if it happens again. Thanks!

[2017-05-04 08:10] #1938 closed

[2017-05-04 08:26] liuwenru commented on #2496
for docker images we want use our own bash script to start a docker container , we need custom our `ENTRYPOINT` , so please give me some help or prompt about this problem

[2017-05-04 08:52] ShinEDL commented on #2496
I think you should show your configuration, such as Dockerfile or something... Otherwise, we can't know how you did.

[2017-05-04 08:58] liuwenru commented on #2496
My Dockerfile like this

-------------------------------------------

FROM registry.epoint.com.cn/base/epoint_alpine_glibc_base:v1.5

MAINTAINER Liu Wen Ru "liuwr@epoint.com.cn"

# 1: copy apps
COPY Apps /opt/Apps
# 3: RUN Install
RUN  apk update && apk upgrade && \
     apk add --no-cache readline-dev pcre-dev openssl openssl-dev gcc perl perl-dev bash git unzip nodejs && \
     cd /opt/Apps && \

[2017-05-04 09:28] ShinEDL commented on #2496
Recently I also write a Dockerfile like yours, but different way...
I don't compile kong source code, instead of putting a executable file like `.deb`.
The Dockerfile look like:
[code]
Then we can write a `run.sh`, the same to your `start.sh`, to start kong.
[code]
and it work.

[2017-05-04 10:37] argentum47 commented on #677
@driagongit one solution is to have a router before the kong clusters, which supports such url redirection. And then redirect url to kong ..

[2017-05-04 11:05] iam-merlin commented on #677
clearly :/ ... In HA architecture, this need a set of extra services... more services, more complexity, more complexity, more **💸**

[2017-05-04 16:47] p0pr0ck5 commented on #2495
There was a recent PR that seems related; can you have a look at https://github.com/Mashape/kong/pull/2481 and see if this solves your problem?

[2017-05-05 03:41] liuwenru commented on #2496
but I use the centos and build from source , do not use docker , it works !

[2017-05-05 08:06] #2492 closed

[2017-05-05 08:17] ShinEDL commented on #2495
@p0pr0ck5 At last, I found that if I set redis_database to 0, it work fine.

[2017-05-05 08:17] #2495 closed

[2017-05-05 10:22] ShinEDL opened #2501 "Start kong (0.10.1) through customized nginx template got error"
### Summary

I try to use my customized nginx configuration to start kong,

[code]
but got error.

A few days ago, it's success to start kong 0.9.9 by using a template which copied from default `nginx.conf` and `nginx-kong.conf` refered to [https://getkong.org/docs/0.10.x/configuration/#custom-nginx-configuration](https://getkong.org/docs/0.10.x/configuration/#custom-nginx-configuration).
However

[2017-05-05 11:20] feichaohao commented on #2501
+1

[2017-05-05 15:11] erikgrinaker commented on #1679
@JorritSalverda Failing the readiness probe isn't strictly necessary. Kubernetes will remove the pod from the service endpoints at the start of the termination process regardless of readiness, but there is usually a delay of a couple of seconds before the kube-proxy instances are updated.

[2017-05-05 16:40] erikgrinaker commented on #1678
@JorritSalverda Kong already comes with a `kong health` command to check its health, this can be used as a readiness/liveness probe:

[code]

[2017-05-05 18:32] p0pr0ck5 commented on #2501
This sounds related to https://github.com/Mashape/kong/pull/2386, can you try using kong 0.10.2 to see if it resolves the issue?

[2017-05-05 19:20] p0pr0ck5 commented on #2458
Closing as stale. Feel free to re-open if there are unanswered questions regarding this.

[2017-05-05 19:20] #2458 closed

[2017-05-05 19:22] p0pr0ck5 commented on #2316
Closing as a stale issue. Feel free to reopen if there are unanswered questions regarding this.

[2017-05-05 19:22] #2316 closed

[2017-05-05 19:26] p0pr0ck5 commented on #2188
@shavo007 you are correct. `GET /plugins` returns a list of plugin objects that can be filtered by consumer ID. `GET /consumers/{id}/acls` returns a list of ACL objects associated with a consumer.

[2017-05-05 19:26] #2188 closed

[2017-05-05 19:27] p0pr0ck5 commented on #2471
@iwasnobody it sounds like you want to check your system config settings, kernel logs, etc. If you're able to start up kong normally via the CLI, then this issue isn't with Kong running, but your system configuration, which we cannot help with.

[2017-05-05 19:33] p0pr0ck5 commented on #2151
@schnoddelbotz sorry for the delayed response. I'm unable to reproduce your results:

[code]

What does your Kong config look like? And what's the content of `list_apis.json`?

[2017-05-05 19:35] p0pr0ck5 commented on #1836
Closing this, as it looks like there's no actionable work to take, and a solution has been posted.

[2017-05-05 19:35] #1836 closed

[2017-05-07 01:45] xulongju commented on #2491
I re-compile and install kong 0.10.2, use openresty -1.11.2.2, start any error, as follows:
[root@localhost cron.hourly]# kong start --vv
2017/05/07 09:45:17 [verbose] Kong: 0.10.2
2017/05/07 09:45:17 [debug] ngx_lua: 10006
2017/05/07 09:45:17 [debug] nginx: 1011002
2017/05/07 09:45:17 [debug] Lua: LuaJIT 2.1.0-beta2
2017/05/07 09:45:17 [verbose] reading config file at /opt/config/openresty/kong.c

[2017-05-07 08:48] jack9ye commented on #1725
I've tried #2328 but got http 400 "No consumer can be configured for that plugin". And i saw a line of "no_consumer = true" in schema.lua of this plugin. I'm new to Kong so is there anything i missed?

[2017-05-07 10:25] ssholder opened #2504 "The response is very slow when I add a plugin in the version of 0.10.2"
### Summary
I have upgraded Kong to the version of 0.10.2. When I add a plugin to my Api, it will return the response data about 40 senconds. It's very slow for me.

### Steps To Reproduce
**When I add the plugin like**
apiName: test1
name: key-auth

**Then add the plugin by curl：**
curl -X POST http://localhost:8001/apis/test1/plugins \
    --data "name=key-auth"
**So I will get the response data

[2017-05-07 16:59] sredXNY commented on #2486
@thefosk yes, however without X-Host-Override header I am getting the same result. I get the correct response using curl but no when I use postman. This is how I am requesting with Postman http://prntscr.com/f564gq

And this is how I have defined the endpoint in Kong, using Kong Dashboard: http://prntscr.com/f565jv

[2017-05-08 02:39] ShinEDL commented on #2501
Well, kong 0.10.2 got no error 👍

[2017-05-08 02:39] #2501 closed

[2017-05-08 04:18] thetrav commented on #1512
I was able to satisfy my use case by changing to configuration of the plugin.  clientId as the config.key_claim_name instead of iss.

[2017-05-08 11:34] MMIHOLDINGS commented on #1436
hi team,

I am a new to kong,i am trying to start it up and i get the below error;

Error:
/usr/local/share/lua/5.1/kong/cmd/start.lua:34: /usr/local/share/lua/5.1/kong/cmd/start.lua:21: [postgres error] could not get current migrations: [postgres error] ERROR: function to_regclass(unknown) does not exist (8)
stack traceback:
	[C]: in function 'error'
	/usr/local/share/lua/5.1/kong/cmd/start.lua:3

[2017-05-08 11:38] MMIHOLDINGS commented on #1436
[root@localhost kong]# psql -V #psql version
psql (PostgreSQL) 9.2.18

[root@localhost kong]# kong version  #my kong version
0.10.2

[2017-05-08 13:23] liuwenru commented on #2496
@ShinEDL  thinks for your help ， i compile openresty with the openssl and prce source file , it can works

[2017-05-08 13:23] #2496 closed

[2017-05-08 15:48] #1972 closed

[2017-05-08 15:48] p0pr0ck5 commented on #1972
^ this was merged in last week. Thanks @codebien for the report!

[2017-05-08 16:04] p0pr0ck5 commented on #2504
@ssholder do you see this behavior on every single request, or just the first time you attempt to consume this API?

[2017-05-08 16:05] p0pr0ck5 commented on #2486
Do you see this behavior only with Postman, or can you reproduce the results with a command line curl request as well?

[2017-05-08 16:06] p0pr0ck5 commented on #2335
@aniceday do you still see this behavior when running kong 0.10.2?

[2017-05-08 16:44] john-paul-keenan commented on #1436
Hi @MMIHOLDINGS ! I hope your Kong experience is going well! It looks like that issue is coming from the version of Postgres you're using (9.2.18). If you upgrade to Postgres 9.4 or newer, that problem should go away.

[2017-05-08 20:13] tcho16 opened #2505 "Unable to receive a response from a spring jar to to my API"
*Note: GitHub issues should be reserved only for bug reports. Please use the
[Kong mailing list](https://groups.google.com/forum/#!forum/konglayer) or
[Gitter](https://gitter.im/Mashape/kong) for user support, development
questions, feature requests, etc.*

### Summary
I am trying to connect Kong with my Spring MVC app. The spring app listens and sends request on port localhost:8080. When going to

[2017-05-08 22:49] mgiorgio opened #2506 "Kong 0.10.1 not working with Cassandra when repl_factor=3 and consistency=LOCAL_QUORUM"
### Summary

I'm getting erratic responses after I changed my Cassandra configuration from the default one to replication_factor=3 and consistency=LOCAL_QUORUM. I have 5 instances of Cassandra. Kong responds differently to the same query.

I've set the IP addresses of **all** my Cassandra instances as the contact points in Kong, and all Cassandras see each other (as shown by `nodetool status`).

#

[2017-05-09 02:45] ssholder commented on #2504
@p0pr0ck5 For all Apis when I add the plugin, the return time for response data is too slow.

[2017-05-09 06:16] MMIHOLDINGS commented on #1436
Hi Paul,

Thanks for the feedback, let me upgrade and will let you know the outcome.

Thanks

From: John Paul Keenan [mailto:notifications@github.com]
Sent: 08 May 2017 06:44 PM
To: Mashape/kong
Cc: Tshepo Mahlakola; Mention
Subject: Re: [Mashape/kong] Error when running `kong start` command with Postgresql (#1436)

Hi @MMIHOLDINGS<https://github.com/MMIHOLDINGS> ! I hope your Kong experience is g

[2017-05-09 08:42] MMIHOLDINGS commented on #1436
Hi team,

I have been trying to upgrade to other version using pgdg-centos94-9.4-3.noarch.rpm as my package but I am getting the below error:

(1/2): pgdg94/7/x86_64/group_gz                                                                                                        |  247 B  00:00:01
(2/2): pgdg94/7/x86_64/primary_db

[2017-05-09 08:43] MMIHOLDINGS commented on #1436
Hi team,

I have been trying to upgrade to other version using pgdg-centos94-9.4-3.noarch.rpm as my package but I am getting the below error:

(1/2): pgdg94/7/x86_64/group_gz                                                                                                        |  247 B  00:00:01
(2/2): pgdg94/7/x86_64/primary_db

[2017-05-09 13:55] MMIHOLDINGS commented on #1436
Hi team,

Just an update I did manage to install version 9.6,but however when I restart the server I get errors:

[cid:image002.png@01D2C8DC.56E4A0F0]

systemctl restart postgresql-9.6(this is were I get the error)
[cid:image001.png@01D2C8DC.989704C0]

So I cant upgrade since its failing to restart

Please help!!

Thanks

From: Tshepo Mahlakola
Sent: 09 May 2017 10:42 AM
To: 'Mashape/kong'; 'Masha

[2017-05-09 13:59] MMIHOLDINGS commented on #1436
Hi team,

Just an update I did manage to install version 9.6,but however when I restart the server I get errors:
yum install postgresql96-server postgresql96
Loaded plugins: fastestmirror, langpacks
http://dl.bintray.com/mashape/kong-rpm-el6-0.6.x/repodata/repomd.xml: [Errno 14] HTTP Error 401 - Unauthorized
Trying other mirror.
http://download.virtualbox.org/virtualbox/rpm/fedora/7/x86_64/repodat

[2017-05-09 14:05] mgiorgio commented on #2506
Some additional tests ran today. Making the following request multiple times return different results:
[code]

In the errors.log file, sometimes it doesn't print anything, and other times, it prints the following messages:
[code]

[2017-05-09 15:30] harryparmar opened #2507 "Kong Nodes down 0.10.1 and fails to restart"
*Note: GitHub issues should be reserved only for bug reports. Please use the
[Kong mailing list](https://groups.google.com/forum/#!forum/konglayer) or
[Gitter](https://gitter.im/Mashape/kong) for user support, development
questions, feature requests, etc.*

### Summary

Kong nodes 0.10.1 are in error state and trying to restart fails

### Steps To Reproduce

1. When trying to access any api throug

[2017-05-09 15:36] p0pr0ck5 commented on #2507
Closing as a duplicate of Gitter chatter, noted in https://gitter.im/Mashape/kong?at=5911e1a0d1a7716a0aab7979

[2017-05-09 15:36] #2507 closed

[2017-05-09 16:48] mgiorgio commented on #2506
Folks, we finally figured out that there was a problem with our Cassandra cluster. We suffered a schema disagreement that wasn't being reported by ```nodetool describecluster```.

I'm closing this ticket.

[2017-05-09 16:48] #2506 closed

[2017-05-09 17:17] p0pr0ck5 commented on #2505
A few thoughts:

- you're using a very old version of kong (0.7). Any particular reason for that?
- It seems you're abusing the plugin environment. Rather than using a socket library to make an HTTP request, just define the URl you want to consume as an API (https://getkong.org/docs/0.10.x/getting-started/adding-your-api/).
- as for the wrong port being returned, that's a function of the HTML that

[2017-05-09 17:19] p0pr0ck5 commented on #2504
Do you see this with just the key-auth plugin, or all plugins?

There's nothing in Kong 0.10.2 that should cause such a massive delay; sounds like there is a problem elsewhere in your environment, such as a poor/timing out connection to postgres/cassandra. Do you see anything in the error logs of note (default location: /usr/local/kong/logs/error.log)?

[2017-05-09 21:49] lnryan commented on #839
+1 also need this

[2017-05-09 22:05] codebien commented on #2208
@p0pr0ck5 Do you expect the same behavior in 0.10.x versions?

[2017-05-09 22:30] thibaultcha commented on #2208
No changes were applied to this that would improve performance in any way, so yes, the behavior will be the same in the 0.10.x series.

[2017-05-09 23:17] codebien commented on #2208
@thibaultcha Could generate some troubles remove the ttls record when expired?

[2017-05-10 07:34] Arun-Trichy opened #2509 "Asynchronous call to refreshToken endpoint at OAuth2 Plugin"
I have a setup with multiple APIs authenticated using OAuth2 plugin. Multiple APIs gets triggered at the same time hitting KONG for OAuth access_token validation. When my access_token gets expired, KONG sends a response "Token Expired" to all the APIs at the same time. And all the APIs hits the refreshToken endpoint at the same time to generate a new pair of access_token. But in this case multiple

[2017-05-10 07:39] xulongju opened #2510 "kong-0.10.1 and openresty-1.11.2.2 start an error"
kong.conf configuration:

[root@api openresty]# kong start --vv
2017/05/10 15:36:47 [verbose] Kong: 0.10.1
2017/05/10 15:36:47 [debug] ngx_lua: 10007
2017/05/10 15:36:47 [debug] nginx: 1011002
2017/05/10 15:36:47 [debug] Lua: LuaJIT 2.1.0-beta2
2017/05/10 15:36:47 [verbose] reading config file at /opt/config/openresty/kong.conf
2017/05/10 15:36:47 [debug] admin_listen = "172.16.2.172:8001"
2017/05

[2017-05-10 08:26] anupam4881 opened #2511 "Kong (latest) Basic Authitication Not working in case of invalid base64 input string"
Hi Team,

I am new for Kong, I enabled basic authentication for my API.

Ref: https://getkong.org/plugins/basic-authentication

I have created consumers & user for my API using below query.

curl -X POST http://localhost:8001/consumers/HCL/basic-auth --data "username=Aladdin" --data "password=OpenSesame"
curl -X POST http://localhost:8001/consumers/PS/basic-auth --data "username=anupam" --data "pa

[2017-05-10 18:05] tecnobrat opened #2512 "Kong is adding URL encoding before sending upstream"
### Summary

In Kong 0.10.2 it is adding additional URL encoding before sending a request upstream.

### Steps To Reproduce

1. Make a request to kong with `/auth%7C123` (`/auth|123`, url-encoded).
2. Kong will make the request to your upstream as: `/auth%257C123`

### Additional Details & Logs

- Kong version 0.10.2

This was not the case in Kong 0.9.9, it didn't further encode these URLs.

[2017-05-10 19:25] p0pr0ck5 commented on #2512
Was this possibly resolved in https://github.com/Mashape/kong/pull/2377? Would you be able to try with that PR?

[2017-05-10 22:51] TheDolo commented on #1828
Having the same problems!

[2017-05-10 23:09] TheDolo commented on #1653
Also having this issue.

[2017-05-10 23:53] thibaultcha commented on #2512
Hi,

Thanks for the report. That might indeed very well be the case, we'll investigate.

@bungle Did you see this?

[2017-05-11 00:48] p0pr0ck5 commented on #2511
@anupam4881 how have you defined your plugin configs? Has the basic-auth plugin been assigned to a specific consumer, a specific API, or globally?

[2017-05-11 00:51] p0pr0ck5 commented on #2510
Hi,

Please make sure you compile OpenResty with the `--without-luajit-lua52` flag. This flag is currently necessary to ensure proper operability with the Penlight library.

[2017-05-11 02:17] xulongju commented on #2510
Hi, - without-luajit-lua52 has been added, but see the details of the compiler parameters do not show

my configure：
./configure \
--prefix=/opt/websuite/openresty \
--error-log-path=/opt/logs/openresty/error.log \
--conf-path=/opt/config/openresty/nginx.conf \
--pid-path=/opt/run/openresty/openresty.pid \
--sbin-path=/opt/websuite/openresty/sbin/nginx \
--with-pcre=/opt/fpmserver/kong-0.10.1/pack

[2017-05-11 02:23] p0pr0ck5 commented on #2510
Correct, this OpenResty configure param does not show in the output of `nginx -V`, but it does make a difference for this usage.

[2017-05-11 02:49] xulongju commented on #2510
Hi,

[root@api master]# /opt/websuite/openresty/sbin/nginx -V
nginx version: openresty/1.11.2.2
built by gcc 4.4.7 20120313 (Red Hat 4.4.7-4) (GCC)
built with OpenSSL 1.0.2k  26 Jan 2017
TLS SNI support enabled
configure arguments: --prefix=/opt/websuite/openresty/nginx --add-module=../ngx_devel_kit-0.3.0 --add-module=../echo-nginx-module-0.60 --add-module=../xss-nginx-module-0.05 --add-module=../

[2017-05-11 02:51] p0pr0ck5 commented on #2510
@xulongju yes, I just explained, this is expected behavior. You _will not_ see `--without-luajit-lua52` in the output of `nginx -V`. this is normal. Please try to reproduce the original problem reported in this issue and let us know.

[2017-05-11 04:18] y-zono commented on #2369
@nguilford Hi, have you solved? I have the same issue on our kong cluster running v0.10.1. I'm looking into it now.

[2017-05-11 04:53] anupam4881 commented on #2511
yes, by using below command
[root@psld-ggn-176 kong]# curl -X POST http://localhost:8001/apis/2e7961e2-1b50-4fa7-be08-c9eb1e84f916/plugins --data "name=basic-auth" --data "config.hide_credentials=true"

It is prompt for username & password, it working fine. the problem starts if I modify the base64 encrypt string directly.

[2017-05-11 08:53] ssholder commented on #2504
@p0pr0ck5 Thank you for your help.
**1) I check the error logs when I add a plugin, then I get the error information:**
[code]
**2) After that, I find my DNS server (IP address:10.135.1.21) is not working, I restart that server and start the DNS service. The DNS server is working now, and I use the command to ensure Kong server can use that DNS server:**
[code]
**3) add the plugin by curl and get

[2017-05-11 12:12] abustya commented on #522
@tookko Any news about the OIDC RP Kong plugin? We are also trying to integrate Kong with keycloak.

[2017-05-11 14:29] tookko commented on #522
We have it already working and in use against Keycloak. Still writing some more tests before we make the PR.

[2017-05-11 14:52] abustya commented on #522
Sorry for being pushy... but can you give some estimate on when that will happen?
We're on a short schedule, and need to decide to wait for the plugin or roll our own solution.

[2017-05-11 15:26] bungle commented on #2512
The relevant tests:
https://github.com/Mashape/kong/blob/master/spec/01-unit/11-router_spec.lua#L819-L833
https://github.com/Mashape/kong/blob/master/spec/02-integration/05-proxy/01-router_spec.lua#L175-L184

The possible bug:
https://github.com/Mashape/kong/blob/master/kong/core/router.lua#L687

I guess you that you may need to url decode the uri before supplying it to `ngx.set_uri`.

Docs say:

[2017-05-11 15:30] bungle commented on #2512
@tecnobrat If you have time mind you changing the line:
https://github.com/Mashape/kong/blob/master/kong/core/router.lua#L687

that has code:

[code]

with

[code]

And report back if it had any effect.

[2017-05-11 15:57] tecnobrat commented on #2512
@bungle I'll try giving it a shot, I'll need to do some docker-fu and report back :)

[2017-05-11 17:21] tecnobrat commented on #2512
Hey @bungle yep, that worked.

[2017-05-11 18:34] mrafieee commented on #2491
I'm receiving same issue on 0.10.2 and 0.10.1 ,
is there any patch or update on this?

[2017-05-11 18:40] p0pr0ck5 commented on #2511
Just for clarity, what is the output of `curl localhost:8001/apis/`? Just to ensure the plugin is applied appropriately.

[2017-05-11 20:25] vishalhc commented on #1847
@thefosk @p0pr0ck5 : We are getting the same error. We checked the access logs and its seems to be happening only for the token generation calls. Database is up and connectivity looks good. this is happening intermittently.

[2017-05-11 23:49] thefosk opened #2515 "Revert #2508 on 0.11"
This is a reminder to revert https://github.com/Mashape/kong/pull/2508 in 0.11

[2017-05-12 00:44] bungle commented on #522
@abustya just being curious here, what are you looking for the plugin in Kong to do?

[2017-05-12 02:02] thetrav commented on #522
@bungle  can't answer for @abustya, but I would be happy if it allowed me to use Keycloak as the source of truth for client+user identity and for authorization in line with the OpenIDConnect specification.

I believe this would translate to:

1. Understanding JWT bearer tokens in the Authorization header
2. Only allowing requests through that are valid JWT
3. Map the client_id in the JWT to a kong

[2017-05-12 06:31] abustya commented on #522
@bungle I'm looking for a plugin that can make back channel token requests...

As I understand (I'm quite new to OIDC), if I use the Kong JWT plugin, the client first needs to get the Id Token+OAuth Access token. This means that my client, and not (only?) my backend service must be registereg into keycloak, access tokens will leave the server side, and my client needs to know about some OIDC logic

[2017-05-12 07:09] anupam4881 commented on #2511
I am sharing you, will appreciate if we are able to conclude same.
Step-1 : ( two entries)
[root@psld-ggn-176 ~]# curl  -X GET  http://localhost:8001/apis
{"data":[{"http_if_terminated":true,"id":"d5c49c43-6549-4a7d-ace6-f528ed977ce8","retries":5,"preserve_host":false,"created_at":1494392073366,"upstream_connect_timeout":60000,"upstream_url":"http:\/\/api1.peoplestrong.com\/codeigniter\/index.php\

[2017-05-12 08:02] bungle commented on #522
@abustya,

So it looks like you are looking to use authentication based on authorization code flow, and want something like this:

1. Kong to provide an endpoint for which your client sends a request to initiate authrorization code flow
2. Kong authorization endpoint will generate an url where the client is redirected with `Location` header. To make things a bit more secure, Kong would setup `stat

[2017-05-12 08:37] abustya commented on #522
@bungle
Thanks for breaking it down! Yes this is what I want to do - I want to use the authrorization code flow, and I want to do the "Dance" inside Kong.

As I've seen most of this is already implemented in `lua-resty-session` (except for token refresh maybe?).
So what has to be done is wrapping `lua-resty-session` in a Kong plugin. Which is what @tookko is working on. Or am I missing something?

[2017-05-12 08:52] npetzall opened #2516 "Incorrect documentation regarding Supported Content Types"
### Summary
Documentation is incorrect.

https://getkong.org/docs/0.10.x/admin-api/

Section: Supported Content Types

`x-www-form-urlencoded` is not supported
`application/x-www-form-urlencoded` is supported

### Steps To Reproduce

1, Do a post with "Content-Type: x-www-form-urlencoded"
2, Look confused
3, Use curl --data without headers
4, It works.....but why
5, Run curl with -v
6, Notice it s

[2017-05-12 09:10] dag24 commented on #2512
This also worked for me, thanks.

[2017-05-12 09:12] bungle commented on #522
Great! Good to hear these different use cases, and it totally makes sense to provide both. I think that I should make PostgreSQL and Cassandra storage adapters to `lua-resty-session` so that we do not require other server dependencies (Kong works with the either, but `lua-resty-session` currently only supports `cookie` (client side encrypted and signed — no extra dependencies), `shm` (shared memor

[2017-05-12 11:42] subutux commented on #87
Hi,
As a company looking into api gateways, this would much improve our use case for kong.

Is there any progress on this?

[2017-05-12 21:18] p0pr0ck5 commented on #2516
Thanks @npetzall. The docs are open sourced and available at https://github.com/mashape/getkong.org. Feel free to create a PR to adjust this. Thank you!

[2017-05-12 21:18] #2516 closed

[2017-05-12 21:42] p0pr0ck5 commented on #2510
@xulongju are you able to reproduce this issue after building OpenResty with the flag mentioned above?

[2017-05-12 21:53] nguilford commented on #2369
@y-zono @p0pr0ck5

Apologies for the delay in checking this again; other things had taken priority.

I did figure this out. It turns out that the load balancer I have in front of kong, is changing my `HTTP/1.1` request to an `HTTP/1.0` request. So, even though my client is sending `HTTP/1.1`, kong is receiving it with a different protocol on the request line. Indeed, when I change the request-line

[2017-05-13 02:01] thibaultcha commented on #2512
I have created a regression test at #2519, but this test exposes that the currently proposed fix is incomplete. I believe that with this fix, Kong is making the upstream request with *unescaped* URIs (`/auth|123`) instead. Could you check? Thanks!

[2017-05-13 03:26] mprimeaux commented on #2390
Unfortunately, I've got nothing new to report. I'll continue my investigation at some point this week. Any help or insight is greatly appreciated.

[2017-05-13 03:47] codebien opened #2520 "[cli] Change log level"
Could help investigation or operations with kong to be able to change the log level at runtime from command line.

Example:
[code]

[2017-05-13 23:38] saamalik commented on #2409
Looks like this got resolved!

[2017-05-14 00:01] saamalik commented on #2360
@p0pr0ck5 I'll update to the latest version of Kong again to reproduce these errors, but what more logs would you like to see?

[2017-05-14 02:14] thefosk commented on #2520
You can set an environment variable and start Kong like:

`KONG_LOG_LEVEL=debug kong start`

[2017-05-14 02:14] #2520 closed

[2017-05-14 02:39] p0pr0ck5 commented on #2520
I think the point of this issue was that something like this could be available at runtime. However, doing so would necessitate that config options are stored in the database, so I would assume this would actually be fleshed out into a more abstract command line interface that might look something like

`kong config log debug`

Or something akin to this. Again, since this requires the whole of the

[2017-05-14 07:47] y-zono commented on #2369
@nguilford Thank you. My issue was same as you. It seems my L4 load balancer also changes from HTTP/1.1 to HTTP/1.0. You saved me!

[2017-05-14 20:14] leonzz opened #2522 "issue with routing order for APIs define with method and uri"
### Summary

if 2 APIs are defined with an overlapping base path and the same method. kong router won't be able to make the correct route.

### Steps To Reproduce

1. define one API as: `name: "base"`, `uris: "/basepath"` and `methods: "GET"`
2. define another API as `name: "subdir"`, `uris: "/basepath/subdir"` and `methods: "GET"`
3. make a request to `GET /basepath/subdir/xyz`, which should be r

[2017-05-14 21:37] Tieske commented on #2520
how about `KONG_LOG_LEVEL=debug kong reload` ?

[2017-05-14 22:15] codebien commented on #2520
@thefosk, @Tieske as @p0pr0ck5 said this issue is related to set the level of the log at runtime to avoid changing the state of the process.

[2017-05-15 02:30] frederik79 opened #2524 "Sporadic failure of DNS resolution"
### Summary
We are running kong 0.10.2 inside docker within a OpenShift (Kubernetes) cluster.

We get  DNS resolve error messages  [toip() name lookup failed] sporadically. In general, the error occurs in particular after a redeploy and eases after multiple calls.
Our /etc/resolv.conf features three entries. We tested commenting the individual nameserver entries in /etc/resolv.conf. However, the e

[2017-05-15 02:43] frederik79 commented on #2524
We get the a similar error if we access a configured api route. However, then the ph_host cannot be resolved.

jingbai [11:28 AM]
017/05/14 22:47:36 [error] 86#0: *1067234 [lua] balancer.lua:304: balancer_execute(): name resolution failed for ‘xxx.xxx.svc.cluster.local’: dns server error; 3 name error, client: 203.96.123.216, server: kong, request: “POST /oauth2/token/ HTTP/1.0”, host: “xxx.co.nz”

[2017-05-15 03:50] magicliang commented on #1095
Hi， @thefosk
      I am new user to Kong, I am planning to use it and Consul to make up a service governance framework.
      I have a same requirement as jimmypk asked:
      "Can I use 2-3 DNS server? Will Kong load balancing between them? Can Kong detect failed dns server and won't query to that dns server?"
      As you responded to him, Kong can not do this. So, can you introduce some details

[2017-05-15 07:42] Tieske commented on #1095
@magicliang from 0.10 onwards Kong does its own dns resolution. You can configure multiple dns servers, which will be queried randomly (load will be equally distributed). There are however no healthchecks for the dns servers to mark them down or bad.

Kong will not query on every request, it will cache results and only requery when the ttl expires.

[2017-05-15 07:47] anupam4881 commented on #2511
Will appreciate if you  help me to fix this basic authentication

[2017-05-15 07:57] magicliang commented on #1095
Thanks for the answers.
So I my understanding is: Now Kong can integrate with multiple Consuls?
Can you elaborate this? Do you have a example configuration format? Is something like this?

dns_resolver: server
dns_resolvers_available:
  server:
    address: "192.168.9.31:8600"

And I can understand there is no health check. But when a dns server is down, it will not respond to a SRV request, will

[2017-05-15 08:03] Tieske commented on #1095
see https://github.com/Mashape/kong/blob/master/kong.conf.default#L296

[2017-05-15 08:05] magicliang commented on #1095
That's great. Thank you.

And can you explain more about the SRV request ttl, how does it work?

[2017-05-15 09:48] gottfrois opened #2525 "Websocket Upgrade issue"
### Summary

Kong respond with a `HTTP/1.1 426 Upgrade Required` on WebSocket requests

### Steps To Reproduce

1. Configure an API into Kong with the following parameters:

[code]

2. Issue the following Curl command:

[code]

### Additional Details & Logs

[code]

- default nginx configuration
- no logs in `error.log`
- CORS plugin setup but disabled

[2017-05-15 10:43] Tieske commented on #1725
No, you are correct, that setting seems to be bad.

[2017-05-15 10:44] Tieske opened #2526 "allow request-termination plugin on a consumer"
see https://github.com/Mashape/kong/issues/1725#issuecomment-299691113

The request termination plugin (introduced in 0.10.2) is currently not allowed on a consumer. Which seems incorrect.

[2017-05-15 17:38] p0pr0ck5 commented on #2511
This sounds if anything like the base64 decode implementation in Nginx is a bit forgiving by default. Depending on the implementation, the input may be considered "invalid" but still produce valid output. For example:

[code]

"invalid input" doesn't mean that nothing was returned as a result. I don't think this is a bug, just a function of how Base64 decoding works. I'll take more of a look.

[2017-05-15 18:18] lostphilosopher opened #2527 "Plugins cannot be manipulated by name"
### Summary

Per the Kong (0.10.x) documentation a user should be able to [delete a Plugin](https://getkong.org/docs/0.10.x/admin-api/#delete-plugin) or [update a Plugin](https://getkong.org/docs/0.10.x/admin-api/#update-plugin) by "{plugin name or id}". [Note: The docs may change reflect this issue.]

However, as of [0.10.2](https://github.com/Mashape/kong/tree/0.10.2) the [router](https://github

[2017-05-15 18:57] p0pr0ck5 commented on #2512
@thibaultcha isn't the point here that the upstream request should be unescaped? @tecnobrat isn't that what you're looking for?

[2017-05-15 19:07] lostphilosopher commented on #2527
See also: https://github.com/Mashape/getkong.org/pull/419 this would update the docs to accurately reflect features.

[2017-05-15 19:09] mrafieee opened #2528 "SSL connection to cassandra cluster"
*Note: GitHub issues should be reserved only for bug reports. Please use the
[Kong mailing list](https://groups.google.com/forum/#!forum/konglayer) or
[Gitter](https://gitter.im/Mashape/kong) for user support, development
questions, feature requests, etc.*

### Summary

I am running kong on docker although local cassandra container is working fine while I'm trying to connect to my cassandra cluste

[2017-05-15 19:16] thibaultcha commented on #2512
No, the point is that Kong needs to be as transparent as possible, and an escaped request from downstream should be forwarded upstream as an escaped request as well. This is the expectation we set when we qualify Kong as a "transparent proxy".

[2017-05-15 20:02] ukayani commented on #2528
+1

[2017-05-15 21:58] p0pr0ck5 commented on #2527
Marking this as a bug until the docs are noted otherwise.

[2017-05-15 21:58] p0pr0ck5 commented on #2442
@shiprabehera any update based on the feedback above?

[2017-05-15 22:00] p0pr0ck5 commented on #2471
Closing this following no response. BTW for sysvinit systems its probably easier to just write an init script: https://www.cyberciti.biz/tips/linux-write-sys-v-init-script-to-start-stop-service.html

[2017-05-15 22:00] #2471 closed

[2017-05-15 22:00] p0pr0ck5 commented on #2486
@sredXNY any update based on the above?

[2017-05-15 22:01] p0pr0ck5 commented on #2504
Sounds like a DNS resolver issue. @Tieske didn't you recently mention something about a 10 sec timeout bug due to potential record type confusion?

[2017-05-15 22:02] p0pr0ck5 commented on #2505
Closing following no response. Do let us know if we can answer other questions, though for plugin development questions please use the [Kong mailing list](https://groups.google.com/forum/#!forum/konglayer) or [Gitter](https://gitter.im/Mashape/kong). Thanks.

[2017-05-15 22:02] #2505 closed

[2017-05-15 22:02] p0pr0ck5 commented on #2510
Closing following no response. @xulongju let us know if you still have trouble after compiling with `--without-luajit-lua52`

[2017-05-15 22:02] #2510 closed

[2017-05-15 22:10] thibaultcha commented on #2528
Hi,

Thanks for the report. A fix is in #2531, which depends on thibaultcha/lua-cassandra#95.

[2017-05-15 22:19] p0pr0ck5 commented on #2511
Oh, silly me. `=` is padding. This is simply stripped off when the token is decoded. This is how Base64 works. :)

If you want to really test this, don't rely on munging data after `=` chars in a b64 encoded string. Try appending any other char, or prepending, or making literally any other change to the string besides appending padding.

[2017-05-15 22:19] #2511 closed

[2017-05-15 23:28] braedon opened #2532 "Request logs include Authorization header contents in plain text"
### Summary

Request logs produced by the logging plugins include the request headers, including the `Authorization` header which often includes sensitive auth information, e.g. basic auth credentials or bearer tokens. These should be removed/redacted/hashed(?) before logging.

Note that some systems may put sensitive information in other places that end up in these logs. A generic way to configur

[2017-05-15 23:48] p0pr0ck5 commented on #2532
@braedon each authentication plugin has a field `hide_credentials` that prevents the query param (or header) from being passed upstream; this would also remove the associated key from the log serializer.

[2017-05-16 00:01] p0pr0ck5 commented on #2413
@xulongju any update?

[2017-05-16 00:04] p0pr0ck5 commented on #1791
@kamran-rahmani are you able to reproduce this issue on the most recent version of kong (0.10.2)? Are you able to see any useful information in the error log? What plugins do you have configured on the API in question? The more details the better we can investigate this claim. Thanks!

[2017-05-16 00:11] braedon commented on #2532
@p0pr0ck5 I did consider this. Unfortunately I need to pass the header upstream so that isn't an option.

[2017-05-16 00:13] p0pr0ck5 commented on #2532
Ok, just picking at the low hanging fruit :)

This would likely fall into the discussion of making log serializers a configurable facet of kong, which is being tracked and discussed at https://github.com/Mashape/kong/issues/1758, among other places.

[2017-05-16 00:36] shiprabehera commented on #2442
@patricksanders @p0pr0ck5
This does not work.  I am still getting timeouts. Sorry about the late update.

[2017-05-16 00:38] braedon commented on #2532
No worries.

Fully configurable log serialization would be great for solving this. I would point out, however, this that this specific case, being related to security, seems like it should have significantly higher priority than https://github.com/Mashape/kong/issues/1758 in general. i.e. if https://github.com/Mashape/kong/issues/1758 isn't happening soon, I'd like to see a less generic fix for th

[2017-05-16 00:40] p0pr0ck5 commented on #2527
Sorry, I'm a dummy, this was already done in https://github.com/Mashape/kong/pull/2252 and will be released in Kong 0.11. Thanks for the report!

[2017-05-16 00:40] #2527 closed

[2017-05-16 00:47] p0pr0ck5 commented on #2532
If you'd like to submit a patch, we'd be happy to take a look. :)

However, from a risk management and mitigation standpoint, if one is truly concerned about the contents of log files being shipped, they're either a). sent over a controlled, trusted network (notwithstanding a defense-in-depth argument), or b). encrypting before shipping contents over a public pipe (i.e. via HTTPS via the http-log

[2017-05-16 00:53] p0pr0ck5 commented on #2442
It's a bit hard to say what's happening with looking at the test files, but I don't think a GitHub issue is the appropriate place, as this isn't related to kong itself, but your custom plugin tests (from what I read). There have been other reports of odd/unexpected behavior with Vagrant + Windows setups, so I wouldn't be surprised if such an environment was at least partially responsible. It may a

[2017-05-16 03:25] p0pr0ck5 commented on #2369
Thanks for the update here!

[2017-05-16 03:25] #2369 closed

[2017-05-16 03:27] p0pr0ck5 commented on #1817
@HenryChelsea do you still see this behavior in 0.10.x releases?

[2017-05-16 03:28] p0pr0ck5 commented on #1734
Closing as stale. Please reopen if necessary.

[2017-05-16 03:28] #1734 closed

[2017-05-16 03:29] p0pr0ck5 commented on #1638
Closing, as noted above this looks like an issue to discuss with luarocks.

[2017-05-16 03:29] #1638 closed

[2017-05-16 04:19] pazjing commented on #2524
We encounter this same issue on 0.10.2, very similar to the #2092.
We hard code the KONG_PG_HOST to IP address, then the error stop and the admin API works.
But we still have problem with the upstream urls resolution.

We set the upstream_url=http://myservice.svc.cluster.local:1234. When try to send request, the error logs shows as below
2017/05/15 22:25:50 [error] 87#0: *482 [lua] balancer.lua:30

[2017-05-16 04:43] anupam4881 commented on #2511
Thanks fix now. It was actually not an issue/bug, Thanks for such wonderful product.
really appreciate.

Regards
Anupam Narayan

[2017-05-16 07:46] hanselke commented on #1793
any idea what is lacking in this? dont know lua but a quick search found this https://github.com/harningt/luajson

does it just not have a json library that will work currently?

[2017-05-16 13:38] mrafieee commented on #2528
if this will be the new release in lua-cassandra kong-0.10.2-0.rockspec should be updated with the new version of lua-cassandra

[2017-05-16 14:19] gottfrois commented on #1772
@endeepak exposing consumer metadata as http headers (one http header for one consumer attribute) might be problematic if you start having a big enough claim payload. Would be nice if kong expose the base64 encoded string that we just need to decode and deal with it.

What do you think?

[2017-05-16 14:22] gottfrois commented on #1985
agree with @jovanmaric, a base64 encoded payload in a custom http header might be enough? no need to populate one http header for every key in the payload

[2017-05-16 15:43] #2526 closed

[2017-05-16 16:14] pouledodue commented on #1985
yes would be enough

[2017-05-16 18:17] Tieske opened #2533 "Optimize plugin priorities for authentication"
Multiple auth methods can be combined on an api. To optimize performance the priority of the "external" auth plugins (LDAP, OAuth2-introspection, etc), should be lower than the other ones.  This will make sure they will always be tried last as they are slowest.

[2017-05-16 18:39] harryparmar opened #2534 "Querystring format in Request Transformer"
Querystring format in documentation says to use format new-param:some_value but in practice only works when new-param=some_value. This is causing third party tools to break as well for example Kongfig and Konga

### Steps To Reproduce

1. Setup RT plugin on kong endpoint

### Additional Details & Logs

- Kong version (`0.10.1`)

[2017-05-16 22:00] tecnobrat commented on #2512
@thibaultcha is correct.

The request was pre-escaped.  It should be escaped when it hits the resulting upstream.  Currently its escaping it TWICE.  But it most certainly should not be unescaped completely.

However the request was made to kong, it should be made to the upstream.

[2017-05-17 00:10] thibaultcha commented on #2512
Thanks for confirming that @tecnobrat.

That is indeed the expectation one might have, and certainly the one we'd like to promise, but we are limited by the current APIs that Nginx/OpenResty are offering us. We are investigating fixes, but so far we don't have a definitive one.

[2017-05-17 00:13] p0pr0ck5 commented on #2534
Sounds like the docs need to be updated; would you mind opening a PR at https://github.com/mashape/getkong.org? Thank you!

[2017-05-17 00:13] #2534 closed

[2017-05-17 03:30] p0pr0ck5 commented on #1043
This was done in #2203!

[2017-05-17 03:30] #1043 closed

[2017-05-17 03:31] p0pr0ck5 commented on #2532
I realized this was brought up in #913, so going to close this as a dup. Thanks @braedon for the conversation contribution!

[2017-05-17 03:31] #2532 closed

[2017-05-17 14:42] sredXNY commented on #2486
@p0pr0ck5 no, I got still the same. I tried with Postman and command line curl, with curl work great but no with Postman. I will try with javascript

[2017-05-17 15:11] mtmail opened #2539 "unset plugin configuration value -anonymous- should act like default value"
We upgraded kong v0.9 to v0.10.1. In postgres we saw
[code]

When installing v0.10 directly (without upgrade) the config value is
[code]

Kong started returning error HTTP 500 for valid keys after the upgrade.  The kong error log file contained
[code]

The line number (135) is misleading. In `handler.lua` on the server the error happens around `cache.get_or_set` https://github.com/Mashape/kong/blo

[2017-05-17 17:42] psbateman commented on #334
+1

[2017-05-17 18:16] p0pr0ck5 commented on #2539
@mtmail thank you for the detailed report! This was set to be fixed via a migration in 0.11, and we have a bandaid that will be released in 0.10.3 (see https://github.com/Mashape/kong/pull/2508). If you're using 0.10.1 the logic you've noted is not applicable to your running install, as this PR is not yet released (unless you've patched the PR in directly).

[2017-05-17 20:49] thibaultcha commented on #2528
@mrafieee Now that lua-cassandra 1.2.2 has been released, would you mind applying the patch at #2531 on your side and letting us know if your SSL connection issues are resolved? Thanks!

[2017-05-17 21:14] rcyrus commented on #2524
I am seeing this issue as well with 0.10.2

clients will attempt to generate an oauth token which will sometimes fail with:
`{“message”:“An unexpected error occurred”}`

looking at the error log I can see corresponding messages:

    generate_token(): [postgres error] [toip() name lookup failed]: dns query returned no results, client: 10.125.116.7, server: kong, request: "POST /endpoint/oauth2/tok

[2017-05-17 23:32] thefosk commented on #574
This has been implemented in:

* Distribution scripts: https://github.com/Mashape/kong-distributions/commit/5ca1bdd67e46587146f6669ae509c867806555dd
* Kong: #2540 and #2541

[2017-05-18 05:11] p0pr0ck5 commented on #2413
Closing as stale after no update. Feel free to re-open if there are still unanswered questions.

[2017-05-18 05:11] #2413 closed

[2017-05-18 05:12] p0pr0ck5 commented on #2335
Closing as stale after no response. Feel free to re-open this if there are still unanswered questions!

[2017-05-18 05:12] #2335 closed

[2017-05-18 05:13] p0pr0ck5 commented on #2194
@plukevdh any update on the questions above, or any chance on moving to 0.10.1?

[2017-05-18 05:14] p0pr0ck5 commented on #2360
This log entry:

`*108807 recv() failed (104: Connection reset by peer) while reading response header from upstream`

Means that the connection was reset by the upstream, not by Kong. Are there any other notable entries in the error log? Any errors in the upstream nodes?

[2017-05-18 05:16] p0pr0ck5 commented on #2151
@schnoddelbotz ping. Any update for the questions above?

[2017-05-18 05:16] p0pr0ck5 commented on #2479
Sounds like this was resolved? Are there any remaining issues here?

[2017-05-18 05:17] p0pr0ck5 commented on #2486
If curl is working, this sounds like a problem with postman? I don't see any issue with kong here.

[2017-05-18 07:43] schnoddelbotz commented on #2151
Hi and sorry for my late response... and not including `list_apis.json` contents. They were:

[code]

My Kong config was using unmodified Kong release 0.9.9 debian package values and just these env vars:
[code]

When running your test against my 0.9.9 installation, I get:
[code]
But I can confirm the command works fine now for me using Kong 0.10.2.

Given PUT seems to work with 0.10.2, feel free t

[2017-05-18 07:54] shaowin16 opened #2542 "load balancer is abnormal when the uris=["/"] ?"
The Kong version is kong:0.10.2 and the database is postgres:9.4.
When i add the follow API,upstream,target to load balance,it has some exceptions.

First,i add the api:

[code]
the upstream:

[code]
and the target:

[code]
Now,i request the url:  http://${kong_ip}:8000 and it can proxy normally the url: http://139.1.2.12:3006(a microService)

Second,i add the api

[code]
the upstream:

[code]
and

[2017-05-18 13:33] mrafieee commented on #2528
@thibaultcha sure can you help me make a rpm out of source code or change lua-cassandra version to 1.2.2 I am currently using [https://github.com/Mashape/kong/releases/download/0.10.2/kong-0.10.2.aws.rpm](https://github.com/Mashape/kong/releases/download/0.10.2/kong-0.10.2.aws.rpm)

[2017-05-18 14:03] Tieske commented on #2524
I think these are all related to https://github.com/Mashape/lua-resty-dns-client/issues/14

@frederik79 @pazjing @rcyrus Can you please try to generate the extra logging info as mentioned in [this post](https://github.com/Mashape/lua-resty-dns-client/issues/14#issuecomment-301007869) ?

[2017-05-18 14:11] p0pr0ck5 commented on #2151
Great, thanks for the detailed response back!

[2017-05-18 14:11] #2151 closed

[2017-05-18 14:54] plukevdh commented on #2194
We've tried a couple of times and still had some fairly significant backwards compat breakages or bugs in those releases that have slowed our progress on this.

As an aside, breaking changes are _supposed_ to be in major point releases when using semver, but I realize sometimes the rules don't apply to pre 1.0 releases (although imo, they should).

[2017-05-18 14:55] tecnobrat commented on #2194
Sorry to butt in @plukevdh but ...

We can upgrade to 1.10, however we're blocked by #2512

Everything else works, so backwards compat isn't an issue.

[2017-05-18 15:45] sredXNY commented on #2486
@p0pr0ck5 yes, correct. But I don't see which is the difference in the request. I will close this issue as is more related to a Postman issue than Kong

[2017-05-18 15:45] #2486 closed

[2017-05-18 17:59] fabiorogeriosj commented on #2088
+1

[2017-05-18 18:11] diogonicoleti commented on #2024
Specify the TTL of refresh tokens is a desired feature for me too.

I have a scenario where some clients use a specific endpoint that is used only once per month. Currently they need the user authorization every time they use this endpoint. As a workaround for this limitation i implemented a job that refreshes this tokens every two week. But I would like to remove it.

[2017-05-18 18:11] diogonicoleti commented on #2024
@thibaultcha if you want I can implement this feature.

[2017-05-18 18:26] fabiorogeriosj commented on #2088
In my case `custom_id` was blank in db, just add some value.

[2017-05-18 21:03] hatchetation commented on #1770
We would find this feature very useful as well. In our environment, the SRV records are populated by consul, but are otherwise unused. Because of this, they don't necessarily align with the entry point of the service, as used by kong as an upstream.

Having our kong port configuration overridden by the SRV records was very much a surprise as we tested 0.10.

[2017-05-18 22:04] mrafieee commented on #2528
@thibaultcha

KONG_CASSANDRA_SSL_VERIFY=off
[code]
KONG_CASSANDRA_SSL_VERIFY=on
[code]

[2017-05-18 22:15] thibaultcha commented on #2528
Did you apply both the lua-cassandra update *and* the patch in #2531?

[2017-05-18 22:31] coopr commented on #835
dnsmasq was removed https://github.com/Mashape/kong/blob/master/CHANGELOG.md#changed-2

Serf removal is underway and will appear in a future release candidate.

[2017-05-18 22:31] #835 closed

[2017-05-18 22:35] coopr commented on #1330
@mingfang @FlorianLautenschlager can you clarify why the [Correlation ID](https://getkong.org/plugins/correlation-id/) plugin mentioned by @Tieske doesn't solve this problem? I'd love to understand the gap between what that plugin does, and what Zipkin needs (if there is a gap).

[2017-05-18 22:44] mrafieee commented on #2528
`luarocks install lua-cassandra`  upgrades the version to 1.2.2 and changed the lua-cassandra version number in ` /usr/local/lib/luarocks/rocks/kong/0.10.2-0/kong-0.10.2-0.rockspec`

[2017-05-18 22:48] thibaultcha commented on #2528
You still need the patch in #2530, as said. Upgrading to lua-cassandra 1.2.2 won't be enough. You can retrieve this patch at this URL:

https://patch-diff.githubusercontent.com/raw/Mashape/kong/pull/2531.patch

Copy it, and apply it in your installation. Checkout the `patch` command: `man patch`. In your system, the Kong sources are probably located at `/usr/local/share/lua/5.1/kong`.

[2017-05-18 22:49] coopr opened #2543 "[community feedback requested] Monitoring Kong, and API analytics"
I'd like to hear from you, the Kong community, about how you think about monitoring Kong, and about the topic of API analytics.

- What does "monitoring Kong" mean to you? Does "API analytics" mean something different to you?
- How do you currently monitor Kong? How do you gather API analytics, if that is something different for you?
- Have you experienced any particular challenges with monitoring

[2017-05-18 23:08] maguec commented on #2543
- Monitoring Kong means availability and monitoring the difference between the total latency and upstream latency.  I only want to be notified if the Kong times increase not the upstream times.

- Generally use the statsd plugin => prometheus statsd exporter

- Logging Kong means a custom NGINX config with a custom JSON looking log format going into logstash

- Recommend using JSON as the default

[2017-05-19 02:16] hizorro88 commented on #677
+1

[2017-05-19 04:23] harryparmar commented on #2543
* Monitoring Kong for me is to check error.log Performing DF -H Free -H docker stats etc. Yes Api analytics is for collecting data on usage of endpoints configured on Kong
* by SSH into server and issuing commands (DF & Free). Further going inside docker and checking log files in usr/local/kong/logs.  Have configured endpoint on Kong which loops back to port 8001, this endpoint is called by extern

[2017-05-19 07:42] abdulgaffarabu commented on #1436
Hi guys, my datastore versions and kong version i listed below, due to migration issues i couldn't able to start kong.
I always welcome your help and suggestions. Thanks in advance.

~# kong version
0.10.2

~# cassandra -v
3.10

~# psql --version
psql (PostgreSQL) 9.6.3

~# kong start
ulimit is currently set to "1024". For better performance set it to at least "4096" using "ulimit -n"
Error: /usr/

[2017-05-19 09:28] abdulgaffarabu commented on #1436
Hi friends,

I wondered that kong starts by running the following command:
~# kong start -c <kong.conf> --vv

but why it's not started when running
~# kong start

Please, clarify me the differnces.

Regards.

[2017-05-19 09:39] MMIHOLDINGS commented on #1436
Hi Abdul,

Here is my one dollar understanding which is not much ☺

kong start  --vv will also show you the logs and why it start/fails
kong start does not log anything

Is your kong up and running?

Thanks

From: Abdul Gaffar [mailto:notifications@github.com]
Sent: 19 May 2017 11:29 AM
To: Mashape/kong
Cc: Tshepo Mahlakola; Mention
Subject: Re: [Mashape/kong] Error when running `kong start` comma

[2017-05-19 09:57] abdulgaffarabu commented on #1436
Hi @MMIHOLDINGS,

kong is up and running on my local machine only that when i run the follwing commands by specifying the configuration files:
~# kong start -c <kong.conf> --v
~# kong start -c <kong.conf> --vv

but no use with the following commands:
~# kong start
ulimit is currently set to "1024". For better performance set it to at least "4096" using "ulimit -n"
Error: /usr/local/share/lua/5.1/k

[2017-05-19 10:05] bolv88 commented on #2360
It also happens to me !
My log level is notice , there is not other log!

[2017-05-19 10:10] MMIHOLDINGS commented on #1436
Hi Abdul,

Which Operating System are you using?
If its docker you can check this link
https://github.com/Mashape/kong/issues/1842

Thanks

From: Abdul Gaffar [mailto:notifications@github.com]
Sent: 19 May 2017 11:57 AM
To: Mashape/kong
Cc: Tshepo Mahlakola; Mention
Subject: Re: [Mashape/kong] Error when running `kong start` command with Postgresql (#1436)

Hi @MMIHOLDINGS<https://github.com/mmiho

[2017-05-19 11:50] abdulgaffarabu commented on #1436
Hi @MMIHOLDINGS,

I'm using Ubuntu 14.04 Operating System.

[2017-05-19 17:01] john-paul-keenan commented on #1436
@MMIHOLDINGS , Can you confirm Postgres is running when you get the 'Error: /usr/local/share/lua/5.1/kong/cmd/start.lua:21: [postgres error] could not get current migrations: [postgres error] connection refused` error?

If you confirm it is up and running and continue to get the error, can you try connecting to Postgres manually with `psql`

[2017-05-19 17:28] fsargent commented on #1330
That looks really cool - I'd love to see a guide if anyone has an existing zipkin implementation.

[2017-05-19 18:13] thefosk commented on #1104
We have updated how we resolve DNS hostnames in > 0.10.x (and removed the dnsmasq dependency) - Can you try to replicate with 0.10.x and see if the problem has been fixed?

[2017-05-19 19:12] #2528 closed

[2017-05-19 20:52] thibaultcha commented on #2522
Fixed with #2523, thank you!

[2017-05-19 20:52] #2522 closed

[2017-05-20 00:01] p0pr0ck5 commented on #2539
Closing, since this is fixed as noted in both upcoming releases.

[2017-05-20 00:01] #2539 closed

[2017-05-20 02:39] mwaaas commented on #2048
am willing to learn lua to work on this, is anyone working on it

[2017-05-20 04:28] mwaaas commented on #1547
anyone working on this would like to start to work on it

[2017-05-20 06:54] Tieske commented on #2524
another note: please use fully qualified domain names (the dns SEARCH and NDOTS directives have not been implemented yet, a change to do so is pending)

Please report back whether the problem persists.

[2017-05-21 10:54] onuryavuz opened #2546 "Cannot create JWTs with a shared secret."
### Summary

I want to sign each JWT with a secret that is shared in all micros. I need this because I want other micros to be able to decode given JWT and extract payload data and work upon it (e.g. _user_id_ field in the payload).

When I try to create a JWT for the first consumer, it works just fine. But when I try to create it for the second consumer I'm getting the following error:

```{u'sec

[2017-05-21 22:53] p0pr0ck5 commented on #2479
Closing since there has been no noise here in a while.

[2017-05-21 22:53] #2479 closed

[2017-05-21 22:54] p0pr0ck5 commented on #2442
Closing after no response. Feel free to re-open here if this seems like an issue with Kong, or continue the conversation on the mailing list. Thanks!

[2017-05-21 22:54] #2442 closed

[2017-05-21 23:02] p0pr0ck5 commented on #2546
Thanks for the report @onuryavuz. This is expected behavior, given the `unique` constraint on `secret`- the question is why. Oauth2 secrets had the same constraint (incorrectly) that was removed in #2447; at the time I believed JWT entries required a unique constraint, but I believe I was incorrect in that assessment. From what I can tell, this secret can be removed safely, though it needs some te

[2017-05-21 23:02] #2546 closed

[2017-05-21 23:03] p0pr0ck5 commented on #1512
Git history doesn't show a defined reason to hold this constraint (it has been present since the initial commit). Need to look into why this was assigned, particularly with acknowledgement to cb9bac066c628b1794b2933f40fb2c5d3b960e51 which references this nature specifically.

[2017-05-22 07:29] onuryavuz commented on #2546
@p0pr0ck5 Thank you.  I've just subscribed to #1512.

[2017-05-22 07:33] onuryavuz commented on #1512
@thetrav Could you please describe it in more detail?

[2017-05-22 08:14] nizq commented on #677
+1

[2017-05-22 09:09] thetrav commented on #1512
I was following some guide which used the issuer of the token as the "key_claim_name", which in this case was always the same value (keycloak, my token provider) which provides keys to multiple different consumers.

Kong uses key_claim_name to map the token to its consumer, so using the clientId claim makes a lot more sense than using the issuer (iss)

I'm actually using Keycloak as the provider f

[2017-05-22 17:52] p0pr0ck5 commented on #2542
Can you please provide some more detail about

What do you mean "can't proxy"? Do you receive an error? A timeout? What specifically is the problem you're seeing? How often does this occur?

[2017-05-22 18:37] TehBigA opened #2547 "Anonymous auth breaks ACL plugin"
### Summary

When an auth plugin assigns a user `anonymous` authorization the ACL plugin does not see this as an assigned consumer and does not pass the request to the upstream application.

### Steps To Reproduce

1. Create anonymous consumer
2. Add `basic-auth` plugin and assign anonymous consumer id to anonymous setting
3. Add `acl` plugin (with or without whitelist/blacklist)
4. Try to hit ups

[2017-05-22 19:52] Lube commented on #540
@sashahilton00  @beniwtv  in the password flow should you implement the /token endpoint outside kong?
Should it pass through kong before hitting the authentication server?

[2017-05-23 01:57] sashahilton00 commented on #540
@Lube no it isn't necessary to have an API running behind it iirc. You could have a siple HTTP service that returns `200 OK` if you want but that's about it. Pinging @thibaultcha to request a review on this suggestion of having a universal API endpoint for oAuth 2 tokens.

[2017-05-23 02:58] mwaaas commented on #2048
@ewilde In the proposed plugin which variable should be used in the client certificate to be matched to the consumer.

[2017-05-23 06:27] toby2 opened #2550 "kong redirect 'SELECT upsert_ttl' to slave through pgpool2"
### version info
- Kong version 0.10.2
- pgpool2 version 3.6.3
- postgres version  9.4.11

### host info
- kong 192.16.0.1
- vip    192.16.0.2
- pgpool 192.16.0.3   bind vip 192.16.0.2
- postgres master  192.16.0.4
- postgres slave     192.16.0.5

### Steps To Reproduce

1.config vip 192.16.0.2 to kong.conf
2.kong start
3.there are some errors in log file
[error] 17314#0: *1046 [lua] cluster.lua:2

[2017-05-23 06:32] toby2 commented on #2550
http://www.pgpool.net/docs/pgpool-II-3.6.3/doc/en/html/runtime-config-load-balancing.html#RUNTIME-CONFIG-LOAD-BALANCING-IN-STREAMING-RAPLICATION

Note: If you don't want a query that qualifies for the load balancing to be load balanced by Pgpool-II, you can put /*NO LOAD BALANCE*/ comment before the SELECT statement. This will disable the load balance of the particular query and Pgpool-II will sen

[2017-05-23 09:24] Nijisha commented on #2200
Hi,
After I add many entries to my kong api, plugins, and consumers server got hang and I restarted my server.
but after, when I access kong url, I didn't see any api, plugin, and consumers.
again I have to add all these entries. it looks very hectic for me and I am not aware of all these consumers also. now my applications are getting failed only because of this.
could anyone please tell me a sol

[2017-05-23 14:50] chrisfelix82 commented on #334
+1

[2017-05-23 15:26] john-deng commented on #2322
@optumses @Tieske @jerodsanto @nikz check this out, I managed to run kong on openshift origin https://github.com/john-deng/kong-openshift

[2017-05-23 15:29] john-deng commented on #2524
@frederik79 in case your did not solve this issue, you can check this out: https://github.com/john-deng/kong-openshift,

[2017-05-23 17:33] thefosk commented on #2446
@cedum Would you like to submit a PR with your change?

[2017-05-23 18:35] ewilde commented on #2048
@mwaaas in the proposal `client_subject` would be used to match the certificate to the consumer. So the plugin would extract the certificates subject and look for a consumer with a matching `client_subject`. I'll update the proposal to highlight that

[2017-05-24 00:03] mrproper commented on #677
I ended up finding this after running into the same issue....to be honest i was a little surprised that path parameters dont exist.
for example
api.tld/foo/$id/bar I want restricted to GET
api.tld/foo/$id/betsy I want restricted to POST

in current kong i basically have to allow:
api.tld/foo GET,POST

Seems like a bit of an oversight or am i just missing something completely?

[2017-05-24 00:09] frederik79 commented on #2524
@john-deng thanks. We have no problem running Kong 0.9.9 in Openshift. So the problem occured after the upgrade to 010.2.

@Tieske - We use full qualified domain names, but the problem still exists http://service.namespace.svc.cluster.local:8088/api/
Will collect the log files and post asap

[2017-05-24 12:11] psarrazin commented on #2542
I guess that the "/" rule has the highest priority.
Check the order of the rules when you request the apis list.

Regards

[2017-05-24 12:47] ssholder opened #2553 "Question about DNS resolver in the version of 0.10.x"
I have used some versions of Kong in my internal network, and the using experience for
the new version is getting better and better. But the old version is still better in some places,
 for example, the element(dns_resolver) in the configuration file is not required to be filled in
 the version of 0.9.x if we don't use domain name to access Kong. In the version of 0.10.x, we must
 fill the right D

[2017-05-24 13:49] lheuninck commented on #1869
Encountered similar issue as @peacemakr .  Whatever argument I give along with kong, same message. Running on Ubuntu 12.04 LTS within Virtualbox. Currently stuck  I fear that recompiling might bring me further away in stead of closer.  Any suggestions ?

[2017-05-24 16:37] p0pr0ck5 commented on #2553
@ssholder Kong will use the nameserver directives in `/etc/hosts` if you don't define this directive. If you have no nameservers in /etc/hosts, you could define the dns_resolver as something simple like '8.8.8.8'. Because there is no fallback `resolver` Nginx directive, by design Kong needs to have something to rely on in the event a lookup is needed.

[2017-05-24 16:37] #2553 closed

[2017-05-24 18:31] p0pr0ck5 commented on #2550
@toby2 thanks for the report. This is a result of how we handle object TTLs in postgres. In the future we plan on replacing this upsert mechanism with a more performant solution; for now I'm not sure that adding this comment (even though it's just a comment) for one particular use case is warranted.

[2017-05-24 18:39] p0pr0ck5 commented on #2550
(Although TBH this sounds like a bit of a limitation in pgpool; perhaps it shouldn't shard SELECTs against functions?)

[2017-05-25 00:40] #1547 closed

[2017-05-25 02:58] mwaaas opened #2558 "Validating request with swagger file before sending it upstream"
Feature request:
- A validating request with swagger file before sending it upstream

[2017-05-25 03:13] xulongju opened #2559 "can you support the nginx-module-vts module?"
Hello：
can you support the nginx-module-vts module?

[2017-05-25 03:25] p0pr0ck5 commented on #2559
Yes, you can use Kong with an OpenResty build you want, so you can configure your Nginx binary with any module you wish: https://getkong.org/install/source/

[2017-05-25 03:25] #2559 closed

[2017-05-25 03:31] xulongju commented on #2559
thanks

[2017-05-25 04:17] mrproper commented on #1668
@p0pr0ck5 thats exactly how openrestry does it...https://github.com/openresty/docker-openresty

[2017-05-25 06:38] HenryChelsea commented on #677
+1. Modern apis need this. (RFC6570)

[2017-05-25 12:25] vintuwei commented on #334
+1

[2017-05-25 13:01] sgillespie opened #2562 "Proxy doesn't always respect "strip_uri" with multiple "uris""
### Summary
If I define an API with multiple URIs, and `strip_uri = true`, Kong doesn't always strip the matching prefix. When I first start Kong, it works with both URIs, then one of them stripping the prefix. Full example below.

### Steps To Reproduce

1. Start a kong:0.10.2 docker image

       # Start Postgres
       docker run -d --name kong-database \
           -p 9042:9042 \
           ca

[2017-05-25 18:46] TehBigA commented on #2547
I believe I just discovered the actual issue when trying to fork the ACLs plugin to get around this.

The ACLs plugin looks for `ngx.ctx.authenticated_credential` to exist, but auth plugins such as basic-auth only set `ngx.ctx.authenticated_consumer` for anonymous auth.

[2017-05-25 23:38] ginnavaram opened #2566 "secure admin api"
how to secure kong's admin api (8001) if someone got access to the server where kong is installed?

[2017-05-26 00:10] thibaultcha commented on #2566
Please see all the related issues and questions asked on this topic:

#668 #898 #1593

[2017-05-26 00:10] #2566 closed

[2017-05-26 00:37] thibaultcha commented on #1512
#2548 removes the unique constraint on JWT credentials, so this should be resolved. Expect this for a 0.11 release. Thanks!

[2017-05-26 00:37] #1512 closed

[2017-05-26 02:01] toby2 commented on #2550
Stand in pgpool's position; There were two types of function,  include  read and read-write function.
In order to be flexible enough, developer decide what kind of sql could be sent to the master node.
I think this issue should be resolved.

[2017-05-26 03:47] sfhardman commented on #2442
Leaving this here, as it's possibly the same issue and may save someone else a few hours...

I brought up the kong-vagrant box and tried running the /kong-plugin/spec tests.  These failed with a timeout.  Tried again increasing the timeout to 60 secs and got an error message:

```failed to receive reply from UDP server 8.8.8.8:53: timeout```

Turns out Google Public DNS is blocked by the firewall

[2017-05-26 04:13] andy9775 opened #2568 "docker cloud swarm and upstream urls"
### Summary
When trying to configure an api when running in docker (swarm or otherwise) and using link names or service names as the upstream url, the upstream does not resolve.

I've tried this configuration in both non-swarm mode (using links) via docker cloud as well as swarm mode.

An example file would be:
[code]
Where `my-api` is exposed on port 80

### Additional Details & Logs

- Kong vers

[2017-05-26 19:53] akashgangil commented on #2524
I hit this too. Downgrading to 0.9.9.

[2017-05-26 20:15] thibaultcha commented on #2524
This should have been fixed in 0.10.3, see the related change notes.

[2017-05-28 21:41] p0pr0ck5 commented on #2550
Closing based on the above comment.

[2017-05-28 21:41] #2550 closed

[2017-05-29 05:31] mrproper commented on #898
i think this needs to be reopened, adding the admin api to the normal api interface seems like a sub par solution.
I have created a pull request: https://github.com/Mashape/kong/pull/2572 to allow securing the admin api with an acl and/or basic authentication

[2017-05-29 11:01] simocl opened #2573 "my upstream url is not called without the configured parameters"
### Summary

I configured my private hook with an upstream_url like this: http://my-api.com?apikey=234523
When I called my public api, I observed that upstream_url is called without the apikey=234523.
How to ensure that kong calls my upstream_url with the configured parameter?  I created my API with the following settings:

{"strip_uri":"false"}

### Steps To Reproduce

1. create an API with the f

[2017-05-29 11:07] bungle commented on #2573
I suppose you could try this:
https://getkong.org/plugins/request-transformer/

[2017-05-29 11:12] simocl commented on #2573
Thanks that should work :-)

[2017-05-29 11:12] #2573 closed

[2017-05-29 13:32] remihillairet commented on #677
+1

[2017-05-29 15:57] mwaaas commented on #972
Hey @thefosk @Tieske
I tried using Kong and its a really awesome project for api-gateway, For our case this feature is really important, would like to contribute to this feature, please guide me on how to do it.

[2017-05-29 16:43] Vermeille commented on #2038
Is there anything going forward this? I'm willing to contribute (depending on the amount of work) since it could benefit my company.

[2017-05-29 17:55] thibaultcha commented on #2038
Yes, there is work scheduled on this.

[2017-05-29 21:38] iam-merlin opened #2574 "Consul DNS cannot work with dns_resolve?"
### Summary
When I set the kong configuration with a dns_resolve to consul DNS (8600 or 53), kong will not work and the following error is shown on (`HTTP 500`) `http://localhost:8001/status` (or other endpoint) : `{"message":"An unexpected error occurred"}`

On the other hand... the DNS server is reachable (I can ping it, dig it and resolv) :

[code]

In the kong logs there is not a lot of inform

[2017-05-30 02:39] nvx commented on #590
I noticed #2051 is merged now, what more remains for that functionality @Tieske?

[2017-05-30 09:53] hungpt91 opened #2575 "Config Kong tracking $upstream_response_time on log file ?"
How can i config Kong to tracking $upstream_response_time like Nginx's log ?
https://lincolnloop.com/blog/tracking-application-response-time-nginx/
Tks.

*Note: GitHub issues should be reserved only for bug reports. Please use the
[Kong mailing list](https://groups.google.com/forum/#!forum/konglayer) or
[Gitter](https://gitter.im/Mashape/kong) for user support, development
questions, feature reque

[2017-05-30 10:57] alexforever86 commented on #154
Seems like the enterprise edition supports Circuit Breaker out of the box.

[2017-05-30 12:30] serghei-ilin commented on #677
+1

[2017-05-30 13:32] vinceFr44 opened #2576 "Permission of Cassandra's user"
Hi,

for a security constraints, i need restrict permissions of my cassandra's user (limit permissions on keyspace kong).
I tested to create a keyspace empty, but the first start of kong run "CREATE KEYSPACE IF NOT EXIST (...)" and cassandra return errors (even if keystore exist).

What are your recommendations for user permissions?

*****
Kong : 0.10.3 (Docker)
Cassandra : 3.10
*****

Regards,
Vi

[2017-05-30 13:35] Tieske commented on #2574
can you try again with `export KONG_LOG_LEVEL=debug` ? and check the `error.log` file again

[2017-05-30 14:15] Jimflip commented on #677
"we're planning to build this by Q2 this year. "  <---- so what's the new estimate?

[2017-05-30 15:37] p0pr0ck5 commented on #2575
Hi @hungpt91,

Kong already provides this value in any logging plugin as part of the `latencies` family of data points. See https://getkong.org/plugins/tcp-log/ for an example and description of these.

Also please note, as was noted in the boilerplate presented to you when you open this issue, that Github issues should be reserved for actual issues running Kong, not support questions. lease use t

[2017-05-30 15:37] #2575 closed

[2017-05-30 17:13] iam-merlin commented on #2574
[code]

For memo (and in this retry),
Config (dns_resolver part) :
[code]

Dig :
[code]

[2017-05-30 17:20] thibaultcha commented on #2576
Feel free to read up on Cassandra authentication/authorization online, reading the appropriate resources (Datastax is a good one). I recommend that you create the keyspace yourself, manually, with the appropriate user for more flexibility.

We can't help you if you don't tell us what the error is.

[2017-05-30 17:24] thefosk commented on #2568
You need to specify the protocol in the `upstream_url`, ie `http://my-api`. Have you tried setting the protocol?

[2017-05-30 18:26] akashgangil commented on #2524
I still see this on 0.10.3 container image I am using postgres as the db backend

`2017/05/30 18:19:21 [error] 82#0: *9 [lua] hooks.lua:120: member_update(): [postgres error] [toip() name lookup failed]: dns server error; 3 name error, client: 127.0.0.1, server: kong_admin, request: "POST /cluster/events/ HTTP/1.1", host: "127.0.0.1:8001"
2017/05/30 18:19:21 [notice] 82#0: signal 17 (SIGCHLD) rece

[2017-05-30 18:36] p0pr0ck5 commented on #1931
This was fixed in https://github.com/Mashape/kong/pull/2567.

[2017-05-30 18:36] #1931 closed

[2017-05-30 19:11] thibaultcha commented on #2562
Hi,

Thanks for the report, we'll be looking into it.

[2017-05-30 21:15] andy9775 commented on #2568
Actually I had it specified and it didn't work.

It's now resolved but the problem was a combination of 2 issues:

1. My docker compose file was misconfigured
2. Docker takes a while to build its network therefore you have to wait a few minutes before it starts working - changes aren't immediate

Otherwise kong works perfectly well when it comes to proxying to upstream docker service via the servi

[2017-05-30 21:15] #2568 closed

[2017-05-30 21:36] sfhardman commented on #1330
I've got this going as a proof of concept: https://github.com/sfhardman/kong-plugin-zipkin

[2017-05-30 22:04] p0pr0ck5 commented on #2542
Also @sarraz1 it sounds like this was possibly resolved with https://github.com/Mashape/kong/pull/2523. Can you try your environment with Kong 0.10.3 and let us know if you still see any issues?

[2017-05-30 23:18] ryancutter opened #2580 "request-transformer plugins are not backward compatible in Kong 0.10.3"
### Summary

Not really a big deal but request-transformer doesn't appear to be backward compatible.  Had the request-transformer plugin on an API with only a 'config.add.body' value.  Upgraded from Kong 0.9.x to 0.10.3.  Encountered the following error.  Deleted and re-added the request-transformer to resolve this issue.

[code]

### Steps To Reproduce

1. Add a request-transformer using Kong 0.9

[2017-05-30 23:19] thibaultcha commented on #2580
Hi,

If you are using Postgres, then you are hitting a known issue which is the lack of migrations for 0.10 and this plugin. It is addressed in #2499. Can you confirm?

[2017-05-30 23:42] thefosk opened #2581 "Balancer not invalidated when API is updated"
The balancer is not being invalidated when the API `upstream_url` is being updated - which means that switching from a hostname to an IP address in the `upstream_url` will not invalidate the balancer and the timeouts values in the API object will not be respected.

[2017-05-30 23:48] ryancutter commented on #2580
Yes, I'm using Postgres.  Looks great, thanks!

[2017-05-31 00:07] thibaultcha commented on #2580
Ok, closing this in the meanwhile then :)

[2017-05-31 00:07] #2580 closed

[2017-05-31 00:26] thibaultcha commented on #2562
Fix proposed in #2582!

[2017-05-31 02:56] #2332 closed

[2017-05-31 03:44] thefosk opened #2583 "Should `http_if_terminated` be `false` by default?"
The `http_if_terminated` property on the API object is `true` by default, but maybe it should be `false` to reduce the surface of attack if a client maliciously decides to send `X-Forwarded-Proto: https`.

[2017-05-31 04:01] p0pr0ck5 commented on #2583
I believe this is already addressed in next via the trusted_ips property?

[2017-05-31 04:02] thefosk commented on #2583
But should security settings be permissive by default, or restrictive by default?

[2017-05-31 04:07] thibaultcha commented on #2583
As already discussed f2f:

- for 0.10, it makes sense to set `http_if_terminated` to `false` by default since we trust any downstream client; a simple precautionary measure, which while still naive would still be preferable than the current default.
- for 0.11, which has the `trusted_ips` property, which is less naive and restrictive by default. As such, it would also make sense to have a `false`

[2017-05-31 04:12] p0pr0ck5 commented on #2583
Additionally, utils.check_https should also respect trusted_ips in 0.11, it doesn't seem to currently.

[2017-05-31 04:14] p0pr0ck5 commented on #2583
(My initial response was predicated on the assumption that assessment of upstream TLS respected the trusted_ips value)

[2017-05-31 07:01] FlorianLautenschlager commented on #1330
@coopr The correlation id plugin in my opinion only solves a part of the problem. It adds (as Zipkin also does) a header to the request. Therefore one can trace a request at the highest level (only one trace for all following services). In contrast Zipkin is more powerful as it has a parent-child concept of so called spans ([see here](https://raw.githubusercontent.com/spring-cloud/spring-cloud-sle

[2017-05-31 09:51] jaesga commented on #883
Any plans yet to have support for MongoDB?

[2017-05-31 13:54] Mattzr commented on #1488
+1

@gitomato - installing oauth2 plugin globally doesn't make a difference since the access token can be generated only for a single api (but applied to all apis when installed globally).

I am currently experiencing the same problem. Can someone clarify the workaround @michallis / @markyjones suggested above with an example ?

I don't see how to "publish the oauth2 enabled API after that dummy a

[2017-05-31 19:51] #2562 closed

[2017-05-31 19:52] thibaultcha commented on #2562
This will be released in 0.10.4 or 0.11.0. Thanks again for the report!

[2017-05-31 20:55] p0pr0ck5 commented on #1764
@chris-hailstorm do you still see this behavior with Kong 0.10.x releases?

[2017-05-31 20:56] p0pr0ck5 commented on #1728
@shashiranjan84 this was fixed, right?

[2017-05-31 22:18] shashiranjan84 commented on #1728
@p0pr0ck5 I have added changes to sign the repo, artifacts still would unsigned. Change would visible from v0.11.

[2017-06-01 04:52] nehasupnfan commented on #677
Any movement on this??

[2017-06-01 06:27] thibaultcha commented on #677
Hi,

Yes, we are still planning on building this soon. This estimate is still somewhere around this month or the the next one.

After updating the router to support much better use cases already, our focus has been more on things like [removing the Serf dependency](https://github.com/Mashape/kong/pull/2561), [improving our new DNS resolver](https://github.com/Mashape/kong/pull/2563), and improving

[2017-06-01 06:38] podon commented on #1677
+1

 /status or /health endpoint on HTTP:8000

[2017-06-01 07:58] amankumarjain commented on #490
How to log request payload and response body using any logging plugin or using some other way, is it allowed to do it?

[2017-06-01 14:55] kl4n4 commented on #839
+1 same here

[2017-06-01 16:13] mdaguete opened #2589 "Unable to delete failed node from cluster with admin API in 0.10.3"
### Summary

I'm trying to delete a failed node from a cluster with admin API in 0.10.3

[code]

If I try to delete de failed node:

[code]

Kong is running as docker containers, the failed node was a previous container.

Any idea ?

Regards.

[2017-06-01 16:55] pklingem commented on #2512
is there any news on this?  it's preventing us from upgrading from 0.9.x.

[2017-06-02 09:27] qingziguanjun opened #2593 "Picture check code redirect to origin url"
how can i proxy a url return a check code picture?when i do this,i call the proxy url,but the kong will move Moved Permanently to the origin source url,this will dispose my url,how can i fix it?

[2017-06-02 09:27] qingziguanjun commented on #2593
@p0pr0ck5 @nikz

[2017-06-02 09:41] p0pr0ck5 commented on #2593
Closing this as it was x-posted to multiple environments. In the future, please take note of the issue boilerplate:

NOTE: GitHub issues are reserved for bug reports only.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Mashape/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

[2017-06-02 09:41] #2593 closed

[2017-06-02 09:56] itmbase commented on #677
+1

[2017-06-02 09:57] ramoka commented on #677
+1

[2017-06-02 10:01] qingziguanjun opened #2594 "kong proxy dispose origin url"
The Kong version is kong:0.10.2 and the database is postgres:9.4.
when i  paste the proxy url in chrome ,the kong will move Moved Permanently to the origin source url,this will dispose my url.

First,i add a proxy url:

  curl -i -X POST \
  --url http://localhost:8001/apis/ \
  --data 'name=check-image' \
  --data 'uris=/checkImage' \
  --data 'hosts=kong.d.internetware.cn' \
  --data 'upstream_u

[2017-06-02 10:03] lodow commented on #677
Please do not comment with "+1".
Use thumbs emoji instead so we can keep important information visible.
Thank you 😃

[2017-06-02 12:21] rosehua opened #2596 "Timeout when I add a plugin in the version of 0.10.3"
### Summary
**When I add a plugin , the response data returns very slowly. Then I check the error.log file and export KONG_LOG_LEVEL=debug.
I find the error:**
[code]
**It seems that my DNS server can't query the domain kong-hf.mashape.com. I use Kong in my internal network and my DNS server ip is 10.135.9.15, Our internal  network is limited and it can not connect to the external network, so it c

[2017-06-02 14:08] saga1015 opened #2597 "http host routing problem"
kong version: 0.10.3
Problem description:
Default,Our APIs are use nginx $host or $http_host to do http routing.  But, only one api cann't use $host or $http_host to do http routing ,we add header $http_AppHost to do http routing.
on kong 0.9.x
we add line in nginx_kong.lua
location / {
        set $upstream_host nil;
        set $upstream_url nil;
        if ($http_AppHost) {
           set $upst

[2017-06-02 14:43] Tieske commented on #2596
not entirely sure, but probably the anonymous reports. You can turn them of in the config file iirc.

[2017-06-02 16:32] p0pr0ck5 commented on #133
We have published a doc that highlights some of the best practices we suggest when considering securing the Admin API: https://getkong.org/docs/0.10.x/secure-admin-api/

[2017-06-02 16:37] p0pr0ck5 commented on #898
We have published a doc that highlights some of the best practices we suggest when considering securing the Admin API: https://getkong.org/docs/0.10.x/secure-admin-api/

[2017-06-02 16:37] p0pr0ck5 commented on #1593
We have published a doc that highlights some of the best practices we suggest when considering securing the Admin API: https://getkong.org/docs/0.10.x/secure-admin-api/

[2017-06-02 16:37] p0pr0ck5 commented on #668
We have published a doc that highlights some of the best practices we suggest when considering securing the Admin API: https://getkong.org/docs/0.10.x/secure-admin-api/

[2017-06-02 16:50] p0pr0ck5 commented on #2594
Hi,

Enable the `strip_uri` property on your API object to enable the behavior you're looking for: https://getkong.org/docs/0.10.x/proxy/#the-strip_uri-property.

[2017-06-02 16:50] #2594 closed

[2017-06-02 17:07] p0pr0ck5 commented on #2583
@thefosk ^ these PRs handle this ticket, care to look? :)

[2017-06-02 17:08] p0pr0ck5 commented on #2483
@lamphp ping, are you able to test against Kong 0.10.3, which contains this change?

[2017-06-02 17:11] p0pr0ck5 commented on #1817
Closing as stale with no response. Please feel free to re-open if there are still pending questions. Thanks!

[2017-06-02 17:11] #1817 closed

[2017-06-02 17:12] p0pr0ck5 commented on #1791
Closing as stale, no response provided to request for more info. Please feel free to reopen if there are still pending questions or more information you can provide. Thank you!

[2017-06-02 17:12] #1791 closed

[2017-06-02 17:24] p0pr0ck5 commented on #2596
Yes, disable reporting by setting `anonymous_reports off` in the Kong config file: https://getkong.org/docs/0.10.x/configuration/.

[2017-06-02 17:24] #2596 closed

[2017-06-02 17:39] thefosk commented on #2589
Can you try to delete by using the `name` of the node? ie, `kong_dckongxxxxs2_0.0.0.0:7946_2833e1a2ec5c4f95865c5645a88637f2`

[2017-06-02 19:49] mdaguete commented on #2589
Current State:

[code]
curl -s -X DELETE http://dckongxxxxs1:8001/cluster/nodes/kong_dckongxxxxs1_0.0.0.0%3A7946_0cfd9dae4b624bec8b2ac876b67b9427 | jq
{
  "message": "Not found"
}
[code]

[2017-06-02 20:38] jdarling commented on #267
Hopefully this is still up for debate, but it seems to me that having some type of endpoints like /order/plugins and /order/apis/plugins or similar that returned and accepted an ordered list of plugins provides the best flexibility.  This would allow the user to control the flow through plugins, and by default could be autosorted on the PRIORITY.

[2017-06-03 00:47] saamalik commented on #2360
@bolv88 try downgrading to `kong:0.9.9` to see if the issue goes away.

[2017-06-04 06:42] mwaaas commented on #334
+1

[2017-06-04 07:09] hbakhtiyor commented on #6
@thibaultcha any updates? what's the results of kong vs tyk?

[2017-06-04 14:12] rosehua commented on #2596
@p0pr0ck5 Thank you very much, According to that configuration, the problem has been solved.

[2017-06-04 16:43] blaazetech commented on #1869
Same for me as well, here is the output
[code]

Am using `kong-0.10.3.trusty_all.deb` on `Ubuntu 14.04 LTS`

[2017-06-04 21:43] harryparmar commented on #1231
I was able to get this to work by adding ou=Users,ou=New York to Base DN, your settings will differ based on your org and ldap setup.
Also to login I use my first name and last name instead of username.

[2017-06-04 23:27] Tieske commented on #490
@amankumarjain please do not reply on closed issues, just accidentally caught this one. Please check the [gitter community channel](https://gitter.im/Mashape/kong) for questions like this.

[2017-06-05 01:33] depay commented on #2574
it may be a bug of consul.

1. dnslib req SRV record of `another.service.consul`, consul return the right result `ac120007.addr.dc1.consul:xxx`;
2. dnslib req SRV record of `ac120007.addr.dc1.consul`, as RFC, consul should return something like `no such record`, but it returns the A record, which may be regarded as an ERROR and dnslib won't try querying it any more.

[2017-06-05 02:00] qingziguanjun commented on #2594
default strip_uri property  is true , so it can not sovle the  problem

[2017-06-05 02:10] ioneyed commented on #2594
If I understand correctly, you are looking to keep the url "kong.d.internetware.cn" ? If so I belive you could use the `preserve_host` property (https://getkong.org/docs/0.10.x/proxy/#the-preserve_host-property)

[2017-06-05 02:18] ioneyed commented on #2533
Would it not be considerable to allow the administrators to choose which mechanism for authentication is top priority? it would be interesting to see a way to prioritize the order of plugins for each and every plugin as well as global plugins.

[2017-06-05 03:08] p0pr0ck5 commented on #2024
@diogonicoleti a PR for this would be very welcome! :)

[2017-06-05 03:13] p0pr0ck5 commented on #1768
Thanks to all for the discussion here. Redis Sentinal is currently supported in Kong Enterprise. Please see https://www.mashape.com/enterprise/ for more details. Thank you!

[2017-06-05 03:13] #1768 closed

[2017-06-05 03:18] p0pr0ck5 commented on #1435
Any reason users can't just use the native nginx rate limiting module here?

[2017-06-05 03:31] p0pr0ck5 commented on #1104
Any updates here, following the changes in 0.10.x?

[2017-06-05 03:56] derrley commented on #1104
We resolve DNS externally and only ever pass IPs to Kong, because of the
various DNS issues we encountered previously. I'm not in a great position
to test the fix right now, but we are not blocked by the issue that I
reported back then.

On Sun, Jun 4, 2017 at 10:31 PM, Robert <notifications@github.com> wrote:

[2017-06-05 11:23] theashwin007 opened #2599 "Unable to start Kong (0.10.3)"
After installing kong(0.10.3) via pkg, I am not unable to run kong. It gives below error

/Users/akumar $ kong restart --conf /etc/kong/kong.conf --vv
2017/06/05 16:48:02 [verbose] Kong: 0.10.3
2017/06/05 16:48:02 [debug] ngx_lua: 10007
2017/06/05 16:48:02 [debug] nginx: 1011002
2017/06/05 16:48:02 [debug] Lua: LuaJIT 2.1.0-beta2
2017/06/05 16:48:02 [verbose] reading config file at /etc/kong/kong.

[2017-06-05 11:25] Tieske commented on #2599
do you have multiple installs? or even Lua installations? the error reminds me of older lua-cassandra drivers.

so maybe your system is mixing Lua installations? check your paths.

[2017-06-05 11:39] theashwin007 commented on #2599
I think I have just one version of lua - 5.1

[code]

[2017-06-05 15:04] dkavraal commented on #2199
Same here.

[2017-06-05 17:52] p0pr0ck5 commented on #2360
@saamalik any update based on the last response:

[2017-06-05 20:49] andy9775 commented on #2345
Would love this as well. One issue that I'm having is if I have two React SPA's being served from under two different subdomains, my api (with no hosts configuration) won't get called. For example:
[code]
The issue is that requests to `b.mysite.com/api/v1/something` don't resolve to the api - they always hit the react app since it contains a host name.

[2017-06-05 20:58] thefosk commented on #1435
@Tieske The use-case is more fine grained tunings for rate-limiting under certain scenarios, ie: rate-limiting per `credential + ip` and not just per `credential`. @p0pr0ck5 The nginx rate limiting is not cluster-wide, while our rate-liming supports that.

[2017-06-05 20:59] thefosk commented on #2599
You can try to purge your local luarocks folder and install again.

`luarocks purge --tree=/usr/local`

and install Kong again.

[2017-06-05 21:00] thefosk commented on #2504
@Tieske updates ^ ?

[2017-06-05 21:48] Devin-Grant opened #2601 "Kong API Gateway reorders the parameters and reponse payload."
### Summary

If you send a request through Kong (see the example below) it will order the parameters which break my signature verification.

**Request**: https://localhost/v1/GetUser?userId=1&name=Foo
to
**Endpoint**: https://localhost/v1/GetUser?name=Foo&userId=1

### Additional Details & Logs

- Kong version (`0.10.2`)
- macOS Operating System

[2017-06-05 22:11] Devin-Grant commented on #2601
the issue is with the **request-transformer** plug-in.

[2017-06-05 22:11] #2601 closed

[2017-06-05 22:12] thibaultcha commented on #2601
This is expected behavior indeed. Are you closing this because you found a workaround?

[2017-06-05 22:49] Tieske commented on #2599
you probably need to clean your system, and use homebrew. We actually discussed removing the pkg distribution for mac just last week, as it is more cumbersome.

[2017-06-06 07:25] theashwin007 commented on #2599
I tried cleaning up and reinstall ( luarocks purge --tree=/usr/local), I get the same above error as mentioned above. But when I tried to run kong from /usr/local/share/lua/5.1, looks like it is proceeding further and then giving below error trace. Any issue with the PATHs ..etc ?

/usr/local/share/lua/5.1 $ kong start -c /etc/kong/kong.conf -vv
2017/06/06 12:52:47 [verbose] Kong: 0.10.3
2017/06/0

[2017-06-06 15:33] p0pr0ck5 commented on #2542
sarraz1 ping :)

[2017-06-06 15:37] Tieske commented on #2599
Yes, seems like a path issue to me.

[2017-06-06 17:03] arun-c-g commented on #330
Is SOAP to REST plugin available in the Enterprise subscription

[2017-06-06 17:45] theashwin007 commented on #2599
Can you please suggest where I am doing wrong(w.r.t any lua path envs )? Or steps to clean and fresh install ?

[2017-06-06 21:42] thibaultcha commented on #2512
I just updated #2519 with a fix that ensures we transparently proxy request URIs (without further escaping/un-escaping). Could you give it a try on your side and let us know? Thanks!

[2017-06-06 22:16] #2446 closed

[2017-06-07 01:04] p0pr0ck5 commented on #2597
@saga1015 so you were using a custom Nginx template before? Is there any reason you cannot do so now? We definitely don't recommend modifying Kong source directly :)

[2017-06-07 01:56] saga1015 commented on #2597
@p0pr0ck5 yes,I were useing custom nginx_kong.lua before.
now my team don't modifying Kong 0.10.3 source, we read the kong 0.10.x doc, solved our problems.
thanks very much :-)

[2017-06-07 02:02] p0pr0ck5 commented on #2597
Wonderful, thank you!

[2017-06-07 02:02] #2597 closed

[2017-06-07 08:08] matrixle opened #2603 "kong/0.10.3 {"message":"no API found with those values"}"
###  1. Add api

curl -i -X POST \\
  --url http://127.0.0.1:8001/apis/ \\
  --data 'name=example-api' \\
  --data 'hosts=example.com' \\
  --data 'upstream_url=http://mockbin.com'

[code]
###  2. List api
 curl -i -X GET  --url http://127.0.0.1:8001/apis/
[code]
### 3. Request api
curl -i -X GET \\
  --url http://127.0.0.1:8000/ \\
  --header 'Host: example.com'
[code]

Operation System:

[code]

[2017-06-07 09:18] Tieske commented on #2603
just tried, works for me.

What happens if you do a `kong restart` ? does it work after that?

[2017-06-07 09:20] Tieske commented on #2599
lua paths, see http://www.thijsschreijer.nl/blog/?p=1025

[2017-06-07 09:22] Tieske commented on #2581
@thefosk How do you reproduce this problem?

A specific balancer is not related to an api. The balancer is only related to the hostname used in the upstream url. No invalidation is required.

[2017-06-07 09:35] Tieske commented on #2574
if you look at the logs:
[code]
type 33 is SRV record, result: `3 name error`

next up:
[code]
type 1 is A record, result: `3 name error`

next up:
[code]
type 28 is AAAA record, result: `3 name error`

next up:
[code]
type 5 is CNAME record, result: `3 name error`

By now all queries failed, so now it returns the final error:
[code]

are you sure that `another.service.consul` is the fully qualifi

[2017-06-07 09:39] Tieske commented on #2524
@akashgangil thx for the logs, but I see no debug output. Can you run it as [instructed here](https://github.com/Mashape/kong/issues/2524#issuecomment-302413147)

[2017-06-07 10:13] iam-merlin commented on #2574
@Tieske I'll try with `another.service.dc1.consul` butI'm sure I already test. Usually `another.service.consul` is a shortcut for the first datacenter with name `another.service.dc1.consul`. I retry and come back soon. Thx for helping me.

[2017-06-07 10:14] iam-merlin commented on #2574
btw, I never tried. Kong can loadbalance using dns providing by `resolv.conf`?

[2017-06-07 10:55] sumeetn opened #2604 "CORS with oauth2 strips the response header"
Kong 0.10.2

### Summary
When using oauth2 and CORS plugin for simultaneously for same api, the Kong response header strips the response header
This is what we get
`response header:
Connection:keep-alive
Content-Length:2132
Content-Type:text/html; charset=utf-8
Date:Wed, 07 Jun 2017 08:26:03 GMT
Via:kong/0.10.2
X-Kong-Proxy-Latency:0
X-Kong-Upstream-Latency:5`

instead of
`Access-Control-Allow-Cre

[2017-06-07 12:21] sarraz1 commented on #2542
I will try, but not yet. For the moment, I can't update my kong environment with the 0.10.3.

[2017-06-07 15:39] PauloGDPeixoto opened #2605 "Kong 0.10.3 Load balancer sending target name instead of upstream"
I'm trying to use Kong's internal LB to share traffic between the backends, but I get a 403 error as Kong sends the target (the target machine hostname) instead of the upstream (url). As my backends are running nginx, serving multiple apis, they can't figure out what to do with the hostname. Here's an example line from the nginx log:

`192.168.xxx.xxx "xxx.xxx.xxx.xxx, xxx.xxx.xxx.xxx, xxx.xxx.xxx

[2017-06-07 15:48] p0pr0ck5 commented on #2605
Have you tried enabling the preserve_host property on the API?

[2017-06-07 15:49] p0pr0ck5 commented on #2605
(Also the meaning of this log entry is not very clear as you have a custom Nginx format. Some additional clarify would be helpful here :) ).

[2017-06-07 16:08] ahwing210 commented on #1500
Hi, I also encounter difficulties to get the token.
Kong version: v0.10.3
I am using the Client Credentials flow.
However when I fire POST request to https://127.0.0.1:8443/oauth2/token, it returns
{
  "message": "no API found with those values"
}
Seems there is no such endpoint..?

I have enabled SSL
<img width="613" alt="screen shot 2017-06-08 at 12 04 40 am" src="https://user-images.githubuserc

[2017-06-07 16:22] PauloGDPeixoto commented on #2605
I'm sorry for not explaining further the log in advance, the relevant part here is "api-backend01", this is the url that is being requested to nginx.
Indeed I tried the preserve_host, but in that case, kong will send the url I'm using for kong itself.
To clarify: kong has an url like api-gateway.domain.com, and my upstream is api01.domain.com, the target being api-backend01. Without preserve_host,

[2017-06-07 18:07] JnMik commented on #1981
I was gonna type that I have the same EXACT issue as @michaelkrog .. and then while typing I found the error.

My cassandra_contact_points config in kong.conf wasn't separated by coma but with semi-colon.
Fixed it and now my first kong node seems to boot and pass beyond that error, we will see If I can get to a fully working setup.

[2017-06-07 19:20] p0pr0ck5 commented on #2605
Sorry, I'm still not quite clear. preserve_host is used to maintain the Host header, but you're talking about the request url. What specific part of the upstream request that Kong is sending are your upstreams having troubles with?

[2017-06-08 00:08] qingziguanjun opened #2609 "how to set api access times for a constumer"
When i use kong 0.10.0 proxy my url,i encounter a problem:
First, I want set access times for a constumer to an api,when the constumer call the proxy url with a key,
the access times will minus, eventually the times is zero, the constumer can not access the api ,but i can
again add the access times for  him ,and he can access again.

i know i should wirte my own plugin,but how can i do it? is ther

[2017-06-08 00:45] coopr commented on #2609
You'll find docs on writing custom plugins for Kong here https://getkong.org/docs/0.10.x/plugin-development/

It seems you might be able to use the existing rate-limiting plugin https://getkong.org/plugins/rate-limiting/ by setting a rate limit - then, when a given user exceeds their limit, you can reconfigure the limit for that user to give them more access to the API. In your case, it is possibl

[2017-06-08 00:45] #2609 closed

[2017-06-08 02:33] matrixle commented on #2603
@Tieske thanks
but, I'v tried restart, is the same result.

[code]

[2017-06-08 02:46] qingziguanjun commented on #2609
how can i know how many times remain for every consumer? I use  PostgreSQL 9.4, so i have to query  PostgreSQL 9.4 to get the remain times?

[2017-06-08 03:01] matrixle commented on #2603
@Tieske 3ks~
must be add serf_path in kong.conf
[code]
not only in os system enviorment.

[2017-06-08 05:20] qingziguanjun opened #2610 "For rate-limiting plugin, how to get these X-Ratelimit-Limit-* values without calling url"
For kong 0.10.0 wihte pgSql 9.4, I add a plugin:
	curl -X POST http://localhost:8001/apis/seqingshibie1/plugins \
    --data "name=rate-limiting" \
    --data "config.second=5" \
    --data "config.minute=15" \
    --data "config.hour=100"

every time i call the prxy url i get such response header:
X-Ratelimit-Limit-Hour →
X-Ratelimit-Limit-Hour 100
X-Ratelimit-Limit-Minute → 15
X-Ratelimit-Limit-

[2017-06-08 07:59] PauloGDPeixoto commented on #2605
I took the time to look around other sites just to make sure I wasn't about to say anything idiotic: the host header contains the base url of the request, which I don't want to preserve, I don't want api-gateway.domain.com to be sent to the targets, as that will send the application into an infinite loop.

Exactly!! Maybe I didn't use the best words to express myself, I'll try again: api-backend01

[2017-06-08 08:42] Tieske commented on #2603
@matrixle Not sure what your message means. Did you solve your issue by setting the `serf_path` option?

That's odd, as I would have expected Kong to fail to start if it cannot locate Serf...

[2017-06-08 09:50] matrixle commented on #2603
@Tieske
yes, I solve this problem by add serf_path in kong.conf.

First, I only add serf_path in /etc/profile:
[code]
kong start success but request the api failed,
then I add serf_path in kong.conf to solve this issue.
[code]

Serf path:

[code]