[2018-11-16 12:11] pamiel commented on #3664
Sorry, my bad reading:
- the `up` section of migration `2018-03-27-002500_drop_old_ssl_tables` really contains the `DROP INDEX ssl_servers_names_ssl_certificate_id_idx;` (https://github.com/Kong/kong/blob/0.14.1/kong/dao/migrations/cassandra.lua#L745), but note the end of the index name: `_id_idx`
- this is indeed migration `2016-12-14-172100_move_ssl_certs_to_core` that has a `down` section doing

[2018-11-19 08:40] rahimimo commented on #3971
You are right I changed it to http://logstash-collector.logstash:5043 and it was accepted and it sent successfully to the mentioned endpoint.

[2018-11-19 08:40] #3971 closed

[2018-11-19 08:40] rahimimo commented on #3971
I consider this issue to be closed.

[2018-11-19 15:55] diontje opened #3995 "returns error response 204 for services that do not exist"
### Summary
kong reports successful deletion (204 no content) for services that do not exist.
the expected response is 404. service not found to perform deletion.

example curl:
curl --cacert certificate_authority.crt -v -X DELETE -H "Authorization: Bearer $TOKEN" https://sms-1.craydev.com/apis/kong_admin/services/adsfadsfasa | python -m json.tool
  % Total    % Received % Xferd  Average Speed   T

[2018-11-19 16:01] thibaultcha commented on #3995
Hi,

This is expected behavior. See https://discuss.konghq.com/t/reasoning-behind-204-for-delete-on-non-existant-objects/1631

[2018-11-19 16:01] #3995 closed

[2018-11-19 22:30] pactera-cart-zhangtao commented on #3983
thank you very mush.

[2018-11-19 22:41] pactera-cart-zhangtao opened #3997 "no memory error"
### Summary
no memory error occur occurs

### Additional Details & Logs
•	Kong version (0.30-enterprise-edition)
•	Using Kong docker image through AWS ECS

error.log
`
2018/11/19 16:00:07 [error] 62#0: *5903472 [lua] init.lua:575: flush_counters(): [vitals] error attempting to push to list: no memory, context: ngx.timer
`

thanks.

[2018-11-19 23:12] subnetmarco commented on #3997
@pactera-cart-zhangtao are you an enterprise customer?

[2018-11-20 07:48] donggangcj commented on #3537
The 8001 http port is closed,you can create a NodePort serivce!

[2018-11-20 15:56] coopr commented on #3537
@hbagdi do we need to use the (new!) feature in GitHub to transfer this issue to a more-appropriate repo? Or was this issue opened in the correct repo?

[2018-11-20 16:29] hbagdi commented on #3537
@StianOvrevage
As @tin4g pointed out, please try using the following:
[code]

@coopr
We don't own `helm/charts` repo (the right place for this issue), and hence we can't transfer it there (I'm guessing here, could be wrong).

Issues on Github in this repository are reserved for Bug Reports only so this is not the right place for it. We can (if not already do so) advise to ask such questions on Kon

[2018-11-20 22:08] bungle commented on #3975
Ok, does this happen with both `Pg` and `C*`?

Can you try commenting this out:
https://github.com/Kong/kong/blob/next/kong/db/strategies/postgres/connector.lua#L293-L303

[2018-11-20 22:16] bungle commented on #3975
Yes, I think ^ that is it.

[2018-11-21 08:25] softputer opened #4000 "may kong add content_filter_by_lua_block?"
Hello,
       When i deploy kong to my staging environments, i have to change the response headers according to the response body content.
     But for now, i don't think there is a way to do it.So i don't understand why kong will skip content_filter_by_lua_block?

And if i add below snippet to the templates, is it ok for me to use kong with content_filter_by_lua_block?
`content_by_lua_block {

[2018-11-21 08:39] ondrejhci opened #4001 "Hostname Provided via SNI and hostname provided via HTTP are different (updated)"
### Summary

This issue is similar/same as #2835. It seems that Kong fails sometimes to set SNI hostname properly.

### Steps To Reproduce

1. Setup Kong (I've used 0.14.1 on CentOS 7).

2. Add two APIs with upstream set towards Apache via https, ideally on same IP.

`curl -X POST http://localhost:8001/apis -d name=partners -d uris=/partners -d upstream_url=https://partners-backend.loc/partners`

[2018-11-21 08:43] thibaultcha commented on #4000
Nginx requires that a single content phase handler be configured. For Kong, that is the `proxy_pass` directive. You cannot have both of `proxy_pass` and `content_by_lua` in the same location block.

If you wish to write your own proxy logic in Lua (regardless of the many downsides such as risks of OOM'ing your Lua VM and losing all load-balancing/healthchecks logic, for starters), then you will ne

[2018-11-21 08:50] thibaultcha commented on #4001
Hi. This is a known issue, which lies in how Nginx handles upstream connections pooling. See https://trac.nginx.org/nginx/ticket/1340 for more details.

A few weeks ago I wrote a patch that addresses this issue. We are still considering its adoption within Kong itself. A solution for now is to disable upstream keepalive connections (by commenting out the `keepalive` directive here: https://github.

[2018-11-21 08:55] ondrejhci commented on #4001
Thank you for the clarification!

[2018-11-21 09:01] softputer commented on #4000
Thanke u so much.

[2018-11-21 09:01] #4000 closed

[2018-11-21 09:05] thibaultcha commented on #3975
Merged in next.

[2018-11-21 09:05] #3975 closed

[2018-11-21 09:08] thibaultcha commented on #3961
Hi,

We are aware of some cold-cache performance impacts with Kong. You can alleviate this today by reducing the amount of plugins in use to the strict minimal, by updating the [plugins](https://docs.konghq.com/0.14.x/configuration/#plugins) configuration value. A significant performance improvement related to this ships in Kong 1.0 (currently 1.0.0rc2).

[2018-11-21 09:27] vietkute02 opened #4002 "Custom Certificate not working"
### Summary

I added my hostname certificate to Kong certificate but when i try to request with hostname Which is same with certificate sni, Kong alway using server default certificate. Some one please help me to fix this

### Steps To Reproduce

1. Add certificate via postman (x-www-form-urlencoded) or via Kong Dashboard (I try both)
 It work fine. My certificate strurture is
[code]
snis:

[code]

[2018-11-21 10:35] james-callahan commented on #4002
The current version of Kong only uses certificates to pick what to use as a *server*. Not which key/cert it uses as a *client*.

[2018-11-21 18:52] hbagdi commented on #3537
Closing this, if the problem persists, please post a question on [Kong Nation](http://discuss.konghq.com/).

[2018-11-21 18:52] #3537 closed

[2018-11-21 22:12] jeremyjpj0916 opened #4007 "OAuth2 Protected Proxy yeilds HTTP 500 error"
### Summary

We have a proxy protected with ACL and OAUTH2.0, recently a consumer came to us with a specific proxy path on their wildcarded proxy returning HTTP 500's. Our logs indicate it stopped @ the gateway and never proxied. Checking Kong logs I see this error.

[code]

OAuth2.0 Plugin on route config(pretty standard):
[code]

My initial analysis reveals this:

1. They could not be passing th

[2018-11-21 22:16] hishamhm commented on #3964
Fixed by #4006. Thanks for reporting!

[2018-11-21 22:16] #3964 closed

[2018-11-21 22:21] Tieske commented on #4007
It's the 2nd argument that is a number, so this line https://github.com/Kong/kong/blob/master/kong/plugins/oauth2/access.lua#L111 is where the number is set.

So an edgecase in `get_body_args()`

[2018-11-21 23:38] jeremyjpj0916 commented on #4007
@Tieske  I figured out a way to reproduce,

Leave off the Authorization: Bearer <token>

And in the HTTP body of the request do not even do valid json, just type a random number and watch Kong get #rekt .

[2018-11-22 00:17] wbcustc opened #4008 "CORS Preflight OPTIONS request should return 200 instead of 204"
### Summary

CORS Preflight OPTIONS request should return 200 instead of 204
Actual code here
https://github.com/Kong/kong/blob/master/kong/plugins/cors/handler.lua#L143

### Steps To Reproduce
It seems it will only block the GET request. If you set your own header in a GET request, chrome will send a preflight OPTIONS first and get 204 response.
The browser will not continue to send the actual GE

[2018-11-22 01:32] vietkute02 commented on #2359
Hi all,
I've same issue here.

[2018-11-22 01:50] james-callahan commented on #280
Added via #4009

[2018-11-22 01:50] #280 closed

[2018-11-22 02:47] vietkute02 commented on #4002
@james-callahan I don't understand here, How can i use dynamic certificate for special hostname ?

[2018-11-22 08:52] Tieske commented on #4007
had a quick look through the code [`get_body_args()`](https://github.com/Kong/kong/blob/0.14.1/kong/tools/public.lua#L151-L154) just calls `get_body_info()`. That one in turn returns an empty table on every code path, except when invoking the [MIME-decoders](https://github.com/Kong/kong/blob/0.14.1/kong/tools/public.lua#L144-L148).

The [multipart decoder](https://github.com/Kong/kong/blob/0.14.1/

[2018-11-22 12:33] ibmsun1 opened #4011 ""config":"plugin 'oauth2 ' not enabled;"
### Summary

Configure oauth2 plugin on a Service by making the following request:
curl -i -X POST \
  --url http://localhost:8001/services/userVerfiy/plugins \
  --data "name=oauth2"  \
  --data "enabled=true"  \
  --data "config.mandatory_scope=true" \
  --data "config.enable_client_credentials=true"

but I got http 400 response:

{"config":"plugin 'oauth2 ' not enabled; add it to the 'plugins'

[2018-11-22 12:40] Tieske commented on #4011
you seem to have modified the `plugins` configuration option, as the Oauth2 plugin is enabled by default.

See https://docs.konghq.com/0.14.x/configuration/#plugins

[2018-11-22 12:46] schafdog commented on #2927
Hit by this issue as well. Using part of the custom_id to dispatch in upstream service. Some old custom_id used http. Using PATCH on the consumer does change the value to https but it is apparently saved somewhere else for the actually parsing on.

Investigating a work-around by re-create, and have checked out the source to have a look.

Kong version: 0.14.1
OS: Linux (docker).

[2018-11-22 12:46] Tieske commented on #4011
However, kong github issues are for bug reports only. I'd like to ask you to post this on the [Kong Nation forum](https://discuss.konghq.com/)

I'll close this issue now. If you think this was closed in error, then please reopen.

[2018-11-22 12:46] #4011 closed

[2018-11-22 16:07] jeremyjpj0916 commented on #4007
Better to find it now than never, this one is a stinker though 😄 . why does the HTTP Body for OAuth2 tokens needs to be evaluated at all, I thought the only place people generally put the tokens are:

1. HTTP Header: Authorization: Bearer {token}
2. Query parameter in the url like : ?access_token={token}

And I suppose if you have application/x-www-form-urlencoded Content-Type then maybe it makes

[2018-11-22 16:53] Tieske commented on #4007
fierce internal debate going on 😄

[2018-11-22 17:10] thibaultcha commented on #4007
Just woke up :)

Seems like we should validate that kong.json’s input be a `table`. If not, returning a soft error and/or an empty table should prevent all existing code from throwing a Lua error, and we can fix all failing tests, if any. Users who wish to benefit from the default (and expected) lua-cjson behavior are free to directly use it themselves.

[2018-11-22 20:47] Tieske commented on #4007
This is 14.1 for now, so it doesn't use `kong.json` iirc. That's probably in `next`

[2018-11-24 05:38] g-traveller opened #4015 "kubernetes cannot be noticed when ouath2 credential added"
I deploy Kong on kubernetes with IngressController, all of services, routes, plugins worked well, however when I add new ouath2 credential for consumer, there is no new credential in Kong, below is my consumer, credential configuration.

`---
apiVersion: configuration.konghq.com/v1
kind: KongConsumer
metadata:
  name: oauth2-consumer
username: oauth2-consumer
custom_id: oauth2user

---
apiVersion:

[2018-11-26 02:13] amaneer94 commented on #3961
I am using only key-auth plugin

[2018-11-26 02:58] thibaultcha commented on #3961
Then I advise you update the plugins property to `key-auth` instead of `bundled` until 1.0, as I said in my previous message.

[2018-11-26 03:32] vietkute02 commented on #4002
anyone help me?

[2018-11-26 08:32] wangxiaotao00 opened #4016 "can not create Oauth2.0 plugin on a consumer?"
NOTE: GitHub issues are reserved for **bug reports only**. For anything else,
please join the conversation in Kong Nation https://discuss.konghq.com/.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE

### Steps To Re

[2018-11-26 10:34] Tieske commented on #4016
We appreciate you took the time to open an issue for this. However, kong github issues are for bug reports only. I'd like to ask you to post this on the [Kong Nation forum](https://discuss.konghq.com/)

That said; authentication plugins cannot be added to consumers. Since we'd need the auth to run to identify the consumer. Catch 22 there.

[2018-11-26 10:34] #4016 closed

[2018-11-26 10:52] taotao2014 opened #4017 "Kong performance test, why 10 cores of 20 core CPUs utilization 40-50%, the remaining 10 cores utilization is 0 or very few? ? ?"
### Additional Details & Logs

- Kong version :0.14.1
- Kong debug-level startup : kong start     / error level
- Kong configuration :
------------------------------------------------------------------------
/usr/local/kong/nginx.conf

[code]

---------------------------------------------------------------------------

/usr/local/kong/kong-nginx.conf

[code]

[2018-11-26 12:56] ibmsun1 commented on #4011
I did not  modified the plugins configuration option, and reinstall again, and also get 400 response:

{"config":"plugin 'oauth2 ' not enabled; add it to the 'plugins' configuration property","enabled":"enabled is not a boolean"}

[2018-11-26 12:57] ibmsun1 commented on #4011
I don't know why, need help! thank you very much

[2018-11-26 12:58] ibmsun1 commented on #4011
use this package to  install  "kong-community-edition-0.14.1.trusty.all.deb"

[2018-11-26 13:45] ibmsun1 opened #4018 ""config":"plugin 'oauth2 ' not enabled"
Summary
Configure oauth2 plugin on a Service by making the following request:
curl -i -X POST
--url http://localhost:8001/services/userVerfiy/plugins
--data "name=oauth2"
--data "enabled=true"
--data "config.mandatory_scope=true"
--data "config.enable_client_credentials=true"

but I got http 400 response:

{"config":"plugin 'oauth2 ' not enabled; add it to the 'plugins' configuration property","en

[2018-11-26 13:50] ibmsun1 commented on #4018
use this package to install "kong-community-edition-0.14.1.trusty.all.deb"

[2018-11-26 13:51] ibmsun1 commented on #4018
I did not modified the plugins configuration option, and reinstall again, and also get 400 response:

{"config":"plugin 'oauth2 ' not enabled; add it to the 'plugins' configuration property","enabled":"enabled is not a boolean"}

[2018-11-26 18:03] nirradi opened #4021 "Kong disregards x-forwarded-proto and redirects to http"
### Summary

I made a request to a route connected to an upstream service and added a trailing slash. Kong returns a 301 moved permanently to the same uri without the slash, but the incorrect proto. I request https://domain.com/url/ and the location header was http://domain.com/url

My Kong is behind an aws classic load balancer which redirects https traffic to http and sets the x-forwarded-proto

[2018-11-26 19:43] hbagdi commented on #4017
@taotao2014,

Please do not cross post on [Kong Nation](https://discuss.konghq.com/t/kong-performance-test-why-10-cores-of-20-core-cpus-utilization-40-50-the-remaining-10-cores-utilization-is-0-or-very-few/2336) and here.
It seems like this discussion belongs to Kong Nation since it is not a bug report.

[2018-11-27 00:12] p0pr0ck5 commented on #4021
It sounds like you might not be setting the `trusted_ips`properly in your Kong config. Would you mind pasting your config values here?

[2018-11-27 05:35] taotao2014 commented on #4017
is hyperthreaded CPU

[root@local_11p21 ~]# kong start
[root@local_11p21 ~]# ps -ef | grep nginx
root      2603  2038  0 10:25 pts/3    00:00:00 grep --color=auto nginx
root     21153     1  0 Nov26 ?        00:00:00 nginx: master process /usr/local/openresty/nginx/sbin/nginx -p /usr/local/kong -c nginx.conf
nobody   21154 21153  7 Nov26 ?        01:07:27 nginx: worker process
nobody   21155 21153

[2018-11-27 08:09] #4018 closed

[2018-11-27 10:18] nirradi commented on #4021
of course! [face palm] I know about trusted ips and x-forwared-*, I forgot
about setting trusted ips.

trusted_ips (Empty Object)

thanks, I'll close the issue.

On Tue, Nov 27, 2018 at 2:13 AM Robert <notifications@github.com> wrote:

[2018-11-27 10:19] #4021 closed

[2018-11-27 10:20] nirradi commented on #4021
trusted ips need to be configured for x-forwarded-* to take affect. https://docs.konghq.com/0.14.x/configuration/#trusted_ips

[2018-11-27 11:44] taotao2014 opened #4022 "Kong performance test,Https response time is unstable.why???"
Additional Details & Logs
Kong version :0.14.1
Kong debug-level startup : kong start / error level
Kong configuration :
https://github.com/Kong/kong/issues/4017

Help,Https response time is unstable, http is normal,WHY??

[2018-11-27 13:18] taotao2014 commented on #4017
accept_mutex on;

[2018-11-27 14:10] taotao2014 commented on #4022
Regular response time rises every 20 seconds, after which the response time drops to normal, repeate..

[2018-11-27 17:04] p0pr0ck5 commented on #4022
Hi,

Github issues should be reserved for bugs with Kong. Also, please don't cross post to here and the forums. Since you've also opened up https://discuss.konghq.com/t/kong-performance-test-https-response-time-is-unstable-why/2344, I will close this now.

[2018-11-27 17:04] #4022 closed

[2018-11-27 17:05] p0pr0ck5 commented on #4017
Since there is an existing post on the forums (https://discuss.konghq.com/t/kong-performance-test-why-10-cores-of-20-core-cpus-utilization-40-50-the-remaining-10-cores-utilization-is-0-or-very-few/2336), I will close this here. Please do not cross-post in the future, and please reserve opening Github issues for actual bugs with Kong, as per the issue template. Thanks.

[2018-11-27 17:05] #4017 closed

[2018-11-27 17:09] p0pr0ck5 commented on #3791
Since there's a known resolution for this, I will close this issue. Thanks for the report!

[2018-11-27 17:09] #3791 closed

[2018-11-27 22:00] rsbrisci opened #4025 "Incorrect HTTPMethod logged on ReadTimeout"
### Summary

This one is pretty simple to explain and reproduce.
The issue is that on READ timeouts, the HTTPLog plugin will log the method as a GET - no matter what the real HTTPMethod was.

In the stdout/err logs, we can see that the correct HTTP method is logged. But it doesn't see to be correctly populated in the ngx.req.get_method() context variable.

### Steps To Reproduce

1. Create a simpl

[2018-11-27 23:32] Tieske commented on #3985
can you provide the actual logs with stack traces etc?

[2018-11-27 23:38] thibaultcha commented on #4025
Hi,

This is a known issue, as highlighted in #3533. See:

will return GET even if the request method was different (only
HEAD is preserved). A follow up patch for Nginx is being prepared.
As such, several tests are currently marked as "Pending".

Applying this nginx patch (along with the necessary nginx config changes) will resolve the issue:

https://github.com/openresty/openresty/pull/396

[2018-11-28 02:21] SHUFIL opened #4026 "Kong https issue , getting ssl invalid"
NOTE: GitHub issues are reserved for **bug reports only**. For anything else,
please join the conversation in Kong Nation https://discuss.konghq.com/.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE
I have installed

[2018-11-28 05:22] orientzc opened #4027 "Does CVE-2018-16843, CVE-2018-16844 and CVE-2018-16845 effective with kong?"
Does CVE-2018-16843, CVE-2018-16844 and CVE-2018-16845 effective with kong?
CVE-2018-16843, CVE-2018-16844: nginx version 1.9.5 - 1.15.5
CVE-2018-1684: nginx version 1.0.7, 1.1.3 and higher version

kong version 0.11.2: nginx version 1.11.2.4
kong version 0.14.1: nginx version 1.13.6.2

Thanks.

[2018-11-28 05:44] jeremyjpj0916 commented on #4025
Glad to see you took the initiative to address this thibaultcha at the openresty layer long ago when you added l4 logging functionalities. Guess we will just keep this in our back pocket as a known issue and await openresty to accept your pr into a new release Kong can bundle with 👍 .

[2018-11-28 07:05] p0pr0ck5 commented on #4027
OpenResty is not subject to the h2 vulnerabilities described, as it relies on an older branch of Nginx (1.13.x). As such Kong is not impacted. Additionally, Kong does not make use of the mp4 module in question. Source-built installations of Kong that also rely directly on the Nginx mp4 module are advised to update their base; we expect such environments are few, if at all, and official binary pack

[2018-11-28 07:05] #4027 closed

[2018-11-28 10:33] orientzc commented on #4027
Thanks.

[2018-11-28 11:12] taotao2014 commented on #4022
HELP…

[2018-11-28 13:56] cephbrasil opened #4028 "Unique URL routing through KONG"
Hello everybody ,

I have a little doubt about this scenario bellow :

kong request api-external ports 5000  ==> vip-internal 5000
                                                    8774  ==> vip-internal 8774

I'm using the same DNS because vip-internal is a haproxy load balancer, but when I request 8774 port , this goes through 5000 port.

This is a limitation of the product?

Kong version 0.14

[2018-11-28 15:35] Tieske commented on #4028
We appreciate you took the time to open an issue for this. However, kong github issues are for bug reports only. I'd like to ask you to post this on the [Kong Nation forum](https://discuss.konghq.com/)

I'll close this issue now. If you think this was closed in error, then please reopen.

[2018-11-28 15:35] #4028 closed

[2018-11-28 15:44] aslafy-z commented on #4008
I'd love to take this up if no one works on it.

As this would change the response code, I guess it's a breaking change that has to land into `next`, right?

[2018-11-28 18:45] levfishbluefish commented on #4026
Hi SHUFIL - I would suggest posting this over on Kong Nation https://discuss.konghq.com/

[2018-11-28 20:32] mars opened #4031 "Kong 1.0 rc3 Postgres connection failing in custom tests"
### Summary

When running custom tests with a Postgres backend in [this Kong app](https://github.com/heroku/heroku-kong/tree/kong-1.0/spec) (uses the `spec/helpers.lua` & a `bin/busted` runner modeled after the one in Kong master), the tests error. *These tests worked with Kong 0.14 and earlier:*

[code]

Strange thing is that the database is being migrated before this error occurs, so I know that

[2018-11-28 20:35] thibaultcha commented on #4031
This is a Cassandra error. This test instance must be switching to Cassandra for some reason. Could you double check?

[2018-11-28 21:17] thibaultcha commented on #4031
Oh I see what is going on (I was on mobile). You are specifying that you want those tests to run for all underlying database strategies: https://github.com/heroku/heroku-kong/blob/kong-1.0/spec/integration/kong/plugins/hello-world-header_spec.lua#L4

[2018-11-28 21:35] mars commented on #4031
Hi @thibaultcha 😄

`KONG_DATABASE=postgres` is set for the test run, so that [`each_strategy()` uses only that `KONG_DATABASE` value](https://github.com/Kong/kong/blob/master/spec/helpers.lua#L105).

Good to know that's a Cassandra error. I'll look deeper into configuring it for Postgres.

[2018-11-28 21:38] thibaultcha commented on #4031
@mars You need to specify `KONG_TEST_DATABASE` (see https://github.com/heroku/heroku-kong/blob/kong-1.0/bin/busted#L20-L60)

[2018-11-28 21:53] mars commented on #4031
Yes, `KONG_TEST_DATABASE=postgres` resolved those errors. Now the tests succeed ✅

### Steps To Reproduce Resolution

1. Setup Postgres: `createdb -O kong kong_tests`
2. `git clone https://github.com/heroku/heroku-kong heroku-kong-debug && cd heroku-kong-debug`
3. `git checkout kong-1.0`
4. `export KONG_TEST_DATABASE=postgres`
5. `bin/test -o gtest -v`

Thank you!

[2018-11-28 21:53] #4031 closed

[2018-11-29 00:07] mars opened #4033 "Kong 1.0 rc3 Postgres migrations failing in custom tests"
*This issue is similar in context to #4031, but a different issue.*

### Summary

When running custom tests with a Postgres backend in [this Kong app](https://github.com/heroku/heroku-kong/tree/kong-1.0/spec) (uses the `spec/helpers.lua` & a `bin/busted` runner modeled after the one in Kong master), the tests error.

Locally these tests work with a local Postgres database (solved in #4031), but fa

[2018-11-29 08:46] jeremyjpj0916 commented on #3970
@rahimimo @hishamhm , I think this can be closed now with my PR merged this will be fixed on next major release.

[2018-11-29 08:57] julienlau commented on #3949
Any idea on how to manually solve this ?
Is this linked to some value stored into postsgres ?

[2018-11-29 12:06] hishamhm commented on #3970
@jeremyjpj0916 Yes, indeed! Thank you!

[2018-11-29 12:06] #3970 closed

[2018-11-30 07:29] taotao2014 opened #4037 "Kong can’t output console logs and error logs, Can’t find log message why?"
Kong version :0.14.1
Kong debug-level startup : kong start --vv
Kong configuration :
kong.config

log_level = debug
proxy_access_log = logs/access.log
proxy_error_log = logs/error.log
admin_access_log = logs/admin_access.log
admin_error_log = logs/error.log

my code:

local log = require “kong.cmd.utils.log”

log.debug(“debug info:” … msg)

ngx.log(ngx.ERR, "[my-error-log] : " ,msg)
…

kong start

[2018-11-30 08:02] taotao2014 commented on #4037
resolved

[2018-11-30 08:02] #4037 closed

[2018-11-30 19:33] thibaultcha commented on #4008
Just merged #4029, which will be part of 1.0 (including the upcoming 1.0.0rc4 planned for next week). Thank you for reporting the issue!

[2018-11-30 19:33] #4008 closed

[2018-12-01 07:09] yuanhoujun opened #4041 "Can i route by any header with Kong now ?"
I really need this function, because i want to hide the service implemented detail

[2018-12-02 02:17] pocketdigi opened #4042 "Can't update kong from 1.0.0rc2 to 1.0.0rc3"
### Summary
Can't update kong from 1.0.0rc2 to 1.0.0rc3
Current version:1.0.0rc2
Database type:PostgreSQL
OS: CentOS 7

### Steps To Reproduce
After I install 1.0.0rc3, and execute
[code]
it just show `database is already up-to-date`,but nothing happened,then I start Kong
[code]
show an error:

[code]

If I use a new database, Kong can start normally, so I think 1.0.0rc3 is install successfully,bu

[2018-12-03 00:34] hbagdi opened #4043 "Kong 1.0.0rc3 target list endpoint returns offset as a number"
### Summary

The request `GET /upstreams/foo/targets?size=1` returns `offset` as an integer and not string, as is the case with other endpoints.

### Steps To Reproduce

1. Start Kong 1.0.0rc3, I'm using the docker image
2. `http :8001/upstreams name=foo`
3. `http :8001/upstreams/foo/targets target=10.1.1.42`
4. `http :8001/upstreams/foo/targets target=10.1.1.43`
5. `http :8001/upstreams/foo/targe

[2018-12-03 15:59] kapralVV commented on #3440
@thibaultcha
Would be happy to know the approximate time when 0.13.2 is released ? Could you provide the updates
Thanks in advance

[2018-12-03 19:35] thibaultcha commented on #3440
@kapralVV As you can see from the CHANGELOG, 0.13.2 was skipped in favor of [0.14.0](https://github.com/Kong/kong/blob/master/CHANGELOG.md#0140---20180705). You will notice in the Core fixes for this version that this fix is included:

[2018-12-03 21:04] #3832 closed

[2018-12-04 09:33] kapralVV commented on #3440
@thibaultcha
Yep. I see. Many plugins, third party tools support only 0.13 version as API in 0.14 was changed a little bit. Maybe it's good idea to release the LAST 0.13.X with all major bugs-fixes included like this one.
I'll be happy to have it.

[2018-12-05 02:58] softputer opened #4047 "reponse transformer cannot get upstream body when upstream is https and too long"
### Summary

i have an upstream service which will return an json body.
The route of the upstream service is a https route.
When the upstream service is served by http server.
No matter how long the response body is and no matter whether i add the response transformer to the route, I can get the right response body.

But when the upstream service is served by https server.
When i didn't add the th

[2018-12-05 07:44] softputer commented on #4047
I think it is because when combining the chunks, there is an error.

[2018-12-05 08:15] softputer commented on #4047
Yes, When with more than one chunk, the response chunk is not string.

[2018-12-05 09:07] ZTzha commented on #4042
i have the same problem

[2018-12-05 09:15] cvuillemez opened #4048 "Tcp-log plugin: carriage return is added to payload"
Maybe a bug (..or an undesired feature.. ? ) :
A carriage return ("\r") is added to message in [Kong tcp-log plugin](https://github.com/Kong/kong/blob/f2ee98e2d50d0c70caed4cf19a7a5d48057b9c4f/kong/plugins/tcp-log/handler.lua#L39).
For lot's of TCP listeners,  like _rsyslog_, _Fluentd_, and certainly many others, message separator is a simple line feed "\n", not CRLF.
On receiver side, carriage ret

[2018-12-05 09:20] ZTzha opened #4049 "1.0.0rc2 update to 1.0.0.rc3"
### Summary

step 1:
use old database kong
kong can't start

Error:
./kong/cmd/start.lua:63: ./kong/cmd/start.lua:52: nginx: [warn] [lua] getssl.lua:10: OpenResty patch missing. See https://github.com/Kong/openresty-patches
nginx: [warn] [lua] init.lua:260: init(): missing "ngx.balancer".set_ssl_ctx API. Dynamic client SSL_CTX* will be unavailable
nginx: [error] init_by_lua error: ./kong/init.lua:

[2018-12-05 10:00] stulzq opened #4050 "Does kong to the upstream server support the http2 protocol?"
Tested today, the client browser can use http2 to kong, but does the server support it on kong?

[2018-12-05 10:05] softputer commented on #4047
After several times of testing, I found out that whenever i want to change the response json body, there is no response at all, even thought the response status code is 200.

[2018-12-05 11:57] shenruisi opened #4052 "Admin API UpdateRoute If I put {"service":""}, it responded Bad Request."
Sample:
I request my local host admin service
http://localhost:8001/routes/2bb82c3e-e08b-4eae-adc6-73a910306ad0

If my request body do not put service it return OK
{"protocols":["http","https"],"regex_priority":0,"strip_path":true,"preserve_host":false}

But if I put an empty service struct it return bad request
{"protocols":["http","https"],"regex_priority":0,"strip_path":true,"preserve_host":fal

[2018-12-05 20:01] jeremyjpj0916 commented on #4007
@Tieske should this get the red bug tag to track it or is Kong's stance bad payloads not failing gracefully not a bug?

[2018-12-05 23:47] jeremyjpj0916 opened #4055 "Kong throws 404 not found on route paths that exist at times."
### Summary

We have noticed in our Kong Gateway nodes times when common endpoints the gateway exposes throwing 404 route not found on a % of API calls. The specific proxy we focused on with this post( "/F5/status") does not route, has no auth, and serves as a ping up time endpoint that returns static 200 success. We do notice this as well on other endpoints that have auth and plugins as well, but

[2018-12-06 03:06] softputer commented on #4047
I foung out that it is because the response body is compressed. And i am looking for a way to properly handle this now

[2018-12-06 07:10] drabiter commented on #4041
can it use existing feature by `Host`?

[2018-12-06 12:38] asomir commented on #4042
i have the same problem

[2018-12-06 12:58] asomir commented on #4042
A hope, it help for you
[root@kong-01 ~]# kong migrations reset -c /etc/kong/kong.conf

resetting database...
database successfully reset
[root@kong-01 ~]# systemctl start kong
Job for kong.service failed because the control process exited with error code. See "systemctl status kong.service" and "journalctl -xe" for details.
[root@kong-01 ~]# less /usr/local/kong/logs/error.log
[root@kong-01 ~]# k

[2018-12-06 18:34] maksimlikharev commented on #243
@Tieske - in real cloud env. we usually have dedicated server registry/discovery service, like Eureka or Consul or Something. Kong upstreams/targets are not really a replacement, at least now, for the dedicated discovery service.

Upstreams/Hosts, I know it is based on nginx capability and I think it has only REST API, not sure if functional access is available.

What we're testing is following, g

[2018-12-06 18:43] hbagdi commented on #4043
This is fixed with #4058 and #4044 merged in and will be available in 1.0.0rc4.

[2018-12-06 18:43] #4043 closed

[2018-12-07 00:13] Anaghub opened #4060 "LDAP over SSL using port 636 not working. <Feature request : LDAPS Support>"
Versions -
Kong - 0.14.1-alpine
Kong Ingress Controller - 0.2.2

I am trying to connect to a LDAP server running on port 636 and using ldaps protocol.
I set the following in the LDAP plugin -

[code]
I get the following error when I connect with Kong -
[code]

I verified that the same server:port and protocol settings using the ldapsearch command, and it works -
`ldapsearch -x -W -D "<ID>" -b "<ba

[2018-12-07 00:19] jeremyjpj0916 commented on #4055
We were able to reproduce again with predictability.

6 Worker processes too do note.

1. Start heavy 100+ TPS load test on a given route path on your gateway, monitor the status codes coming off of it(use the termination plugin make it throw a 200 success or what have you).

2.  We already have a decent number of services and routes already in place on our gateway so understand we are making a ne

[2018-12-07 02:37] ZTzha commented on #4042
@asomir I try it as you advice , but the same problem still append

[2018-12-07 02:49] pocketdigi commented on #4042
**kong migrations reset will reset the database,and lost all config!** .

[2018-12-07 06:46] 13349253469 opened #4062 "kong start /etc/kong/kong.conf"
[root@ekingwintest2 ~]# kong start /etc/kong/kong.conf
Error: /usr/local/share/lua/5.1/kong/cmd/start.lua:60: nginx: [error] init_by_lua error: /usr/local/share/lua/5.1/kong/tools/utils.lua:576: /usr/local/share/lua/5.1/kong/plugins/zipkin/schema.lua:9: attempt to call field 'url' (a nil value)
stack traceback:
	[C]: in function 'error'
	/usr/local/share/lua/5.1/kong/tools/utils.lua:576: in functi

[2018-12-07 06:47] softputer commented on #4047
Forbidden proxy pass to use accept-enconding or decode the response content.

[2018-12-07 06:47] #4047 closed

[2018-12-07 06:47] 13349253469 commented on #4062
Error when starting

[2018-12-07 06:49] 13349253469 commented on #4062
Should be a problem with the zipkin plugin, how to solve this problem

[2018-12-07 11:51] bungle commented on #4007
@jeremyjpj0916 believe me, there are weird use cases, people even seem to send tokens in cookies etc. Standards don't cover everything, and people don't always follow standards. I guess the idea on our side is to stay unopinionated about it and allow people to do things. I think we should provide some plugin configuration parameter on where to read these (in order). Some of our plugins have that.

[2018-12-07 13:19] asomir commented on #4042
Yeah, sorry!
for me it was not so critical. in any case, you can try to put a config to it and execute

`kong migrations up -c /etc/kong/kong.conf`

Here /etc/kong/kong.conf is path to my kong konfig, your path may be different.

[2018-12-07 17:55] p0pr0ck5 commented on #4055
There's some interesting behavior in this that I don't know has been discussed before. The design goal of router rebuilds is to maintain a strongly consistent environment to avoid some worker processes sending different responses. Each worker maintains its own router, so rebuild events are done through the `worker_events` mechanism:

https://github.com/Kong/kong/blob/next/kong/runloop/handler.lua#

[2018-12-07 18:58] thibaultcha commented on #4007
#4063 looks good and is similar to my above "reject all non-table input" comment - except at a higher level than `kong.json`, which is fine :ok_hand: We'll include it in 1.0, thanks @bungle!

[2018-12-07 19:02] #4007 closed

[2018-12-07 21:01] jeremyjpj0916 commented on #4055
Uh oh. Well that is unfortunate, guess the best way to solve this would be an inter-worker IPC mechanism. Maybe in the mean time there could be a patch in place until Kong/OpenResty can get there with the IPC, that in the background compares whats in the router cache vs db and invalidates the router if mismatches are detected maybe based on a configurable timer, maybe reconciles once a minute or s

[2018-12-08 01:36] #4050 closed

[2018-12-08 13:40] sankansm commented on #1492
i am unable to start kong...
ld not retrieve server_version: FATAL: Ident authentication failed for user "kong"

  Run with --v (verbose) or --vv (debug) for more details

[2018-12-09 01:12] neilalbrock opened #4069 "SSL Certificates not applied"
I see that there are a few variations of this issue but I wanted to document my own experience. I've been using Kong for a couple of years but without requiring it to manage SSL certificates, hence I haven't encountered this problem until now. So, how I got here:

- Installed Kong to Google Cloud via the Bitnami image, works as expected.
- Configured Services, Routes, Plugins and Consumers/Credent

[2018-12-09 18:54] sankansm commented on #1492
i was successful in starting the kong. now i was trying to enabled the developer portal by following steps in kong docs which tells you to add following lines in kong.conf file
i did add them and restart kong and nothing happened. developer portal is still not working.

https://docs.konghq.com/enterprise/0.34-x/developer-portal/configuration/getting-started/

portal = on
portal_gui_protocol = http

[2018-12-09 18:57] sankansm opened #4070 "not able to enable kong developer portal"
i was successful in starting the kong. now i was trying to enabled the developer portal by following steps in kong docs which tells you to add following lines in kong.conf file
i did add them and restart kong and nothing happened. developer portal is still not working.

https://docs.konghq.com/enterprise/0.34-x/developer-portal/configuration/getting-started/

portal = on
portal_gui_protocol = http

[2018-12-10 06:37] earllapura commented on #1345
+1

[2018-12-10 06:48] sumufan commented on #2667
thank you

[2018-12-10 11:41] Prodigy123 commented on #3596
Hi onfla, I met the same question. Could you tell me how to recreate kong keyspace, just drop it and create it again?

[2018-12-10 17:43] p0pr0ck5 commented on #4055
This almost sounds like a race condition when a new DAO iterator runs in multiple concurrent request handlers, because each page iteration results in thread-yielding network I/O. The end result would be that the request handler that writes the final version of the router cache value incorrectly assumed itself to have been completed. I haven't been able to track down exactly where that might occur,

[2018-12-10 17:56] hishamhm commented on #4070
@sankansm Thank you for reaching out! Please contact support@konghq.com for queries related to Kong Enterprise.

[2018-12-10 17:56] #4070 closed

[2018-12-10 19:49] jeremyjpj0916 commented on #4055
😄 @p0pr0ck5 don't be giving me some false hope now hah. I was holding off testing RC3 after your first assessment stated you did not believe the mutex to be a fix for this behavior, but since it sounds like you think it may help I am pushing that testing forward to today as I consider understanding the issue critical to our Kong deployments stability(as our production will grow and see all this pr

[2018-12-10 20:43] p0pr0ck5 commented on #4060
This would be handled by https://github.com/Kong/kong/pull/2720 it seems

[2018-12-10 20:53] Anaghub commented on #4060
@p0pr0ck5 : I had checked that, but don't think that was committed. https://github.com/Kong/kong/pull/2720/commits
Is there any other setting or configuration to indicate ldaps to Kong? Thanks.

[2018-12-10 21:01] p0pr0ck5 commented on #4060
No there's no. Sorry I should have been more clear - follow that PR for updates. The functionality doesn't currently existing in the LDAP plugin bundled into Kong.

[2018-12-10 23:31] thibaultcha commented on #3924
@jeremyjpj0916 Yes, several reports of this issue came up. We are introducing a way to upgrade between release candidates in rc4 (see #4071 and the `--force` flag).

As of today, resetting the database and doing a fresh bootstrap required for upgrading between release candidates. Or using a fresh keyspace.

[2018-12-10 23:40] jeremyjpj0916 commented on #3924
Okay makes sense, closing this as I think we got the things this issue brings up fixed. Will reopen or make new issues if needed around testing the 1.0rc4. I would prefer testing 1.0rc4 from a 0.14.1 node so I will be rolling back my dev environment completely rather than smaller rc3 to rc4 upgrades.

[2018-12-10 23:40] #3924 closed

[2018-12-11 01:40] hbagdi commented on #4041
Github Issues are for bug requests only.
Please post your questions on [Kong Nation](http://discuss.konghq.com/).

[2018-12-11 01:40] #4041 closed

[2018-12-11 01:44] hbagdi commented on #3890
It seems like you're using Kong Enterprise. Please direct your questions to Enterprise Support channel at https://support.konghq.com

[2018-12-11 01:44] #3890 closed

[2018-12-11 07:21] theashwin007 opened #4074 "Occasionally, kong admin api throws error "missing entity in crud subscriber""
### Summary

I see now and then KONG admin API fails with error log "missing entity in crud subscriber'

Log:
kong-rc-97454f9db-9chfr kong 2018/12/11 06:15:30 [error] 33#0: *4363753 [lua] handler.lua:175: [events] missing entity in crud subscriber, client: 10.103.53.48, server: kong_admin, request: "POST /consumers/e437ead6-0a3a-44a0-b284-04270c95f963/jwt HTTP/1.1", host: "kong-admin:8001"

### Ad

[2018-12-11 17:13] hbagdi commented on #4015
Github issues are reserved for bug reports, please post your question on [Kong Nation](http://discuss.konghq.com/).

[2018-12-11 20:30] p0pr0ck5 commented on #4055
@jeremyjpj0916 FWIW the router mutex logic made its way into RC2, so if you want to test on RC2 that would suffice for context here.

[2018-12-11 20:40] jeremyjpj0916 commented on #4055
@p0pr0ck5 good point, I will give that a go in an hour or so actually.

[2018-12-12 01:58] bungle commented on #4055
I have seen this happening when running our testsuite. I have a feeling that it might be paging related.

[2018-12-12 02:05] bungle commented on #4055
I will try something tomorrow and ping you back.

[2018-12-12 02:21] thibaultcha commented on #4055
When I was trying to reproduce this in the plane earlier, I hit a couple of other issues with the DAO that I am in the process of fixing. Unfortunately, traveling, and other thhings are getting in my way these days.

Those issues that I found should be mitigated by the router mutex though.

That said, I was not able to replicate your observations Jeremy. But as I am about to board another 12h flig

[2018-12-12 02:43] jeremyjpj0916 commented on #4055
Looking forward to any improvements that can be made. Would love for Kong 1.0 to have the ability to be configured on the fly with no availability impact to active traffic. If I have any more findings will post them here, or if you have any lua file changes or config changes you need let me know!

[2018-12-12 05:30] onfla11 commented on #3596
@Prodigy123 Yes. Just drop keyspace with and then bring up kong, it will create new keyspace.

[2018-12-12 06:10] p0pr0ck5 commented on #4055
Leaving a very quick note here as it’s late and today I spent fire-fighting elsewhere. @jeremyjpj0916 thanks immensely for all your efforts in testing this. I see a bug in the router rebuild mutex handling that was introduced after the original change was committed. I will be digging into this tomorrow.

[2018-12-12 06:19] jeremyjpj0916 commented on #4055
No thanks necessary, I am overjoyed with the level of engagement you all have with the community, and its really awesome seeing the team iterate and improve on the product! Cheers to 1.0 nearing release as well as Kong's growth in 2019! Let me know when ready to test again and I will give it a go.

[2018-12-12 15:02] maraswrona opened #4076 "Kong rate-limiting plugin seems to expire redis keys too soon."
### Summary

I have the rate-limiting plugin enabled on my API. I'm using redis to store the rate-limit counters. One of the consumers has monthly limit configured. I wanted to check what was that consumer's usage for the last month, but I realized that the counters disappear from the cache automatically after some time, so I checked how it's done. Apparently the plugin configures the keys to expi

[2018-12-13 02:05] ophusky commented on #3688
I had the same problem. If  you can show me your LUA_PATH and LUA_CPATH?

[2018-12-13 06:17] ophusky commented on #3688
I solved  it by
export LUA_PATH="${luarocks-prefix}/share/lua/5.1/?.lua;;"

[2018-12-13 13:46] bungle commented on #4055
@jeremyjpj0916 there is now pr #4084, we would greatly appreciate if you can check what effect it has on this issue.

[2018-12-13 16:34] thibaultcha commented on #4055
#4084 looks good. We should also fallback to rebuilding the router upon semaphore timeout (which the PR will definitely help preventing, but still a good safety measure to have).

That said, the original issue was in the latest stable (0.14.1), so unless the router rebuild semaphore circumvents the issue, it is likely still there... I disabled the router semaphore on 1.0rc3 and ran a number of tes

[2018-12-13 19:09] jeremyjpj0916 commented on #4055
@bungle Just woke up, on PTO today and tomorrow but I intend to spend some time this afternoon/evening and hack in those changes to the rc4 release and give it a go as I am super interested in it. Thanks for putting this together!

@thibaultcha

In the newer release candidates it presented itself with 500 level errors like my splunk log showed above.

I think I can whip up something in python that

[2018-12-13 20:47] thibaultcha commented on #4055
That is the other issue related to the router semaphore fixed by #4084. My goal was to reproduce the behaviour you were originally describing here, but on the latest 1.0 branch, on which I needed to disable the router semaphore to mimic 0.14.

I am running a 3 nodes local cluster, but will increase RF to 3 and give it a another shot. With a QUORUM consistency I suppose.

[2018-12-13 21:00] jeremyjpj0916 commented on #4055
@thibaultcha  ah I see what you mean now.

@bungle just tried your patch on this version
[code]

I am seeing this error in runtime:
[code]

[2018-12-13 21:08] thibaultcha commented on #4055
The patch was created on top of the next branch, which still has APIs and such, while rc4 is cut from the release branch, which has additional commits deleting APIs. So the patch must be appropriately tweaks for it to work in rc4, one would not be able to copy-paste the file as-is.

[2018-12-13 21:31] jeremyjpj0916 commented on #4055
Aight, yep seems the above ^ enabled Kong to start up, we are in business folks. Time to test.

[2018-12-13 22:16] jeremyjpj0916 commented on #4055
@thibaultcha @bungle @p0pr0ck5

Initial results are looking quality here folks, no mutex thrown errors in STDOUT and my load test shows no impact to the endpoint under load during the router adds on the fly!!!! Will continue testing edge cases as well as what its like calling other existing routes during this time of load-test but this is like the best possible outcome at the moment I could have h

[2018-12-13 22:50] jeremyjpj0916 commented on #4055
Okay we actually ran a test with 100 TPS to 2 route endpoints(200 TPS total at this point), and I started modifying routes again on the fly adding say 20-30 to an arbitrary service and I still was able to reproduce some 500 errors that showed up in about 3/6th of the worker processes. But they only persisted during the window I was making router changes where the first rc4 the errors continually p

[2018-12-14 00:08] rsbrisci commented on #4055
@thibaultcha you had asked for a couple of scripts to generate routes/services and to update them to reproduce the failures

[PythonCreateKongProxies.zip](https://github.com/Kong/kong/files/2678158/PythonCreateKongProxies.zip)

There's two scripts in there. They are both pretty similar.

For example, to create 500 test proxies, I'd use this command:
[code]

To add 50 routes to a service once every

[2018-12-14 01:42] bungle commented on #4055
Yes `5` seconds:
[code]

It means that requests were stuck 5 seconds waiting for semaphore to be released while other lighthread (another request) was trying to build a new router. The router building did not finish in 5 seconds, and no router was given back.

The above scenario happens on all workers on a node.

[2018-12-14 01:45] bungle commented on #4055
If you are concerned about the `500`, obvious way to workaround is to raise those timeouts, to say 10000. Yes, I don't like it either.

[2018-12-14 02:03] subnetmarco commented on #4076
Calculating the exact duration of months and years would be preferable to make the feature more mature (that could also be used by any other plugin that relies on timing).

[2018-12-14 04:00] jeremyjpj0916 commented on #4055
@bungle Thanks for the clarification. So what is actually causing the semaphore to remain locked for 5 full seconds, or any best guess? My Cassandra database was showing reads at the time in the 100-200ms range it looked like based on some configured alerts I see fire off when under load. Is there a reason why certain pending requests don't just fall back on a stale router and instead must wait on

[2018-12-14 04:46] bungle commented on #4055
@jeremyjpj0916 Would you try this one (on top of rc4):
https://github.com/Kong/kong/commit/0ab98c5de605b1d33ee0384d96f254c078e6848a

It does not yet pass our test suite, as I think it is triggering some issue in `lua-resty-healthchecks` library. But it passes almost all the tests. It is only two files you need to replace or patch in `rc4`. Just to know if I am going in a right direction.

[2018-12-14 06:49] jeremyjpj0916 commented on #4055
@bungle I should be able to give it a go tomorrow, looks like you left in a little extra here on deprecated api resource?

https://github.com/Kong/kong/blob/0ab98c5de605b1d33ee0384d96f254c078e6848a/kong/runloop/handler.lua#L685

And it has a few diff changes than my hacked up one above when I compared them together. You think any extra changes you added will help what I still saw with my handler(5

[2018-12-14 07:29] hmtiannan opened #4088 "get home page normal , but other css ang png return 404"
![image](https://user-images.githubusercontent.com/20086500/49989311-c5a63380-ffb4-11e8-9f43-507e0a4eedc8.png)

![image](https://user-images.githubusercontent.com/20086500/49989332-df477b00-ffb4-11e8-9e55-7cf9d051b71c.png)

![image](https://user-images.githubusercontent.com/20086500/49989356-eff7f100-ffb4-11e8-95e7-005693d7eb4d.png)

waitting online !

[2018-12-14 10:12] maraswrona commented on #4076
I fail to see how that's relevant.

The feature, if I understood correctly, is supposed to expire the key not sooner than the period of its particular counter. For second, minute, hour and day based limits it is fine to expire them exactly after 1, 60, 3600 and 86400 seconds. For month and year based limits the expiration time should cover the longest possible month and year, respectively, to make

[2018-12-14 11:49] bungle commented on #4055
There are a new measures to prevent `500` for sure, so that's why it is interesting to see. Also performance wise.

[2018-12-14 21:22] Vicxtel commented on #3688
Yes, that would work. I added mine on user's .profile

[2018-12-14 21:48] jeremyjpj0916 commented on #4055
Taking a look at this now, thanks for the further patches! Will update with testing results. I saw you also had a db patch put in place too, wonder if that can help some as well around crud events 😄 .

[2018-12-15 00:33] jeremyjpj0916 commented on #4055
@bungle Well Mr. Bungle sir, you have indeed done it, right direction achieved. At 100 TPS, 200 TPS, and 450 TPS unable to produce 500 level errors produced from Kong(which is what we saw on the earlier RC's, where as on 0.14.1 it revealed itself as 404 errors) under load with route changes at a rate of 2 per second at 100 and 200 tps, and I decided to go a bit gentler and modified our python scri

[2018-12-15 01:43] bungle commented on #4055
Thanks! Btw. there is this line in `handler.lua` inside `getrouter`:
[code]

You may try to change it to:
[code]

It will give better performance and not queue request. But more requests get served with old router until new is available. I would use 0 in production.

[2018-12-15 01:56] bungle commented on #4055
The increase in CPU is probably because now it also informs other workers to start building a new router. But not only that, it also informs other nodes to do it too. So new routers get build now behind the scenes (previously they got build when request saw it has a stale router).

[2018-12-15 05:31] jeremyjpj0916 commented on #4055
@bungle interesting stuff. I suppose all this will be squeezed into 1.0 with proper check outs? How will Kong be handling that setting in question that controls consistency levels of routes and services across worker processes? Is router_wait getting set to the same as c* timeout(sry on phone so not taken a look at code yet). Would be interesting to poll users and ask whats more important, perf or

[2018-12-15 12:42] thibaultcha commented on #4055
@bungle The patch sounds promising. Despite a few issues to be discussed at PR review time, it also presents the same issues as the previous iteration regarding workers consistency, and that a regression over the currently expected behavior.

Imagine 3 workers which are rebuilding their router. Worker 0 finished before worker 1 and 2, and several requests come in at this point. Now depending on wh

[2018-12-15 17:31] p0pr0ck5 commented on #4055
I don’t think the fallback mechanism introduced in #4098 will actually help alleviate the initial symptoms reported here. In cases where many requests queue up on a single worker and a mutex acquisition fails due to timeout, the net result is that the database stampede and the theorized race conditions in the paging iterator will still manifest, just after a timeout period where all requests are w

[2018-12-15 17:55] jeremyjpj0916 commented on #4055
Right so sounds like the first patchwork will be the only going in for 1.0 because it still maintains worker consistency which is a Kong primary objective (noting our environment we were able to reproduce 500 level errors in that state under duress higher than 100 TPS).

It sounds like there may be a shot at getting the best of both worlds(consistency with worker processes AND no potential for fai

[2018-12-15 18:40] jeremyjpj0916 commented on #4074
I used to see errors similar to this occasionally until I changed my consistency settings to local quorum and did full C* node replication.

[2018-12-15 21:43] wpjunior commented on #87
+1

[2018-12-16 06:54] jeremyjpj0916 commented on #4055
@p0pr0ck5 I will give it a go on Sunday if It drops into rc4 with minimal changes needed. By the looks of it this perf should  make the runloop more efficient in db interactions, maybe even keeps the 500 errors away at various tps with change rates to the routers 😄. Fingers crossed!

[2018-12-16 21:56] bungle commented on #4055
@jeremyjpj0916 I consider my work now more or less done with #4102 (though waiting for feedback). I know @thibaultcha argued against adding a configuration value that is hard to describe, but I think it is really hard to have one size fits all strategy for this without going very much back to the drawing board and implementing more granular router updates.

So all in all I think the PR #4102 cover

[2018-12-16 23:08] jeremyjpj0916 commented on #4055
@bungle Its all great to me due to the flexibility and as someone who somewhat understands the issue and your approach to solve it, but it does sound like you may have a hard time internally convincing others because:

1. It does introduce a new configuration to users that lacking background may choose the wrong config for their needs (the right default would be important here).

2. Enables the ev

[2018-12-17 00:34] jeremyjpj0916 commented on #4055
@p0pr0ck5 This is what I came up with for the cleaned up handler based on your next branch that should work with rc4

[code]

Will try dropping in just this changed handler and giving a quick stress test and will edit with results.

[2018-12-17 00:46] bungle commented on #4055
One thing about CPU is that my approach can make spike as all workers are updated around the same time and other nodes as soon as they get cluster event (already configurable), or before if it is request that starts a timer (timeout 0) or builds it synchronously (timeout > 0). But it will make it much shorter too (e.g. after update on route or service your whole cluster is fully cached and full sp

[2018-12-17 06:07] ZTzha opened #4103 "can kong support QUIC-google-protocol?"
can kong support QUIC-google-protocol?

[2018-12-17 08:36] JoyZhang66 opened #4104 "Admin API add target not return content sometimes"
### Summary

I request to admin api(http://localhost:8001/upstreams/my_service/targets ) to add target, it returns 201 Created and target information in response content. But sometimes, it returns 201 Created with empty response content and target is added successfully. Will target information always be returned? Or I only need to check response status code 201 to determine if target is added succ

[2018-12-17 10:15] bungle commented on #4055
Jeremy, my PR already does "the same", and because of caching, it does not even do prefetch. It might occasionally make one or two single row queries to db with primary key. Even that could be prewarmed, but I don't think it is neccessary.

[2018-12-17 13:21] jeremyjpj0916 commented on #4055
@bungle Oh even better! Querying services 1000 at a time as opposed to 1 was what I was thinking could be beneficial, which based on what you said it sounds like that is indeed the case except under special circumstances that may require singular lookups, but few in number. Thanks for all the good work!

Other ideas floating in my head would be are there any fail scenarios or problems where the ne

[2018-12-17 16:45] jraj002 opened #4105 "Kong running on Kubernetes"
### Summary
We are running Kong v 0.13 on our Kubernetes cluster (GKE) for almost 6 months now. The setup has 3 pods connected to a Cassandra database in a dev environment. This has been running fine over the last 6 months for our experimental purposes. For some reason, the gateway  crashed and I see the following error in the pod logs:

[code]

I would appreciate any help with fixing this error.

[2018-12-17 18:31] kidd commented on #4088
Hello @hmtiannan,

It looks you created the api with `uris=/api`. then only the calls with those paths will belong to this api (and be proxied).

Also, note that the API entity was deprecated in Kong 0.13.0 and the recommended way is to use [Routes](https://docs.konghq.com/0.14.x/admin-api/#route-object) & [Services](https://docs.konghq.com/0.14.x/admin-api/#service-object).

[2018-12-17 20:00] kidd commented on #4104
Hi @JoyZhang66,

Did you notice any difference with different traffic patterns? Is it happening always? Only with high load?  How does the traffic look like?

[2018-12-17 21:05] wshirey opened #4106 "serverless-function plugin does not work with form file params"
### Summary

[`serverless-plugin` docs example](https://docs.konghq.com/hub/kong-inc/serverless-functions) does not work as expected with 1.0rc3. Specifying a file form param doesn't work with cURL or Postman.

This seems similar to #3587 but there have been code modifications to this plugin since that issue was resolved.

### Steps To Reproduce

1. Follow steps 1-4 on docs page.
2. Step 5 as writ

[2018-12-18 00:35] hbagdi commented on #4105
@jraj002 The migration in question was introduced in Kong 0.14.0.
Did you by any chance run the Kong 0.14.0 docker image with a Kong 0.13.0 database state?

[2018-12-18 00:53] jraj002 commented on #4105
I am sure we did not try to install the new 0.14 version on the cluster. Is there a way to get back to 0.13 version? Maybe, if I just delete the deployment and run the following (Note: the image tag of 0.13):

[code]

Thanks for your response!

[2018-12-18 01:16] hbagdi commented on #4105
Since you never did `kong migrations up`, you never changed the state of the DB.
Hence, you can start Kong 0.13 with the DB you've.

[2018-12-18 03:12] JoyZhang66 commented on #4104
Hi @kidd ,

In fact, my Kong is always in high load, but it seems not happening every time.

Some information about my kong:
Kong: in a cluster with 3 nodes
Database: Cassandra cluster with 3 nodes
RPS:
![rps](https://user-images.githubusercontent.com/27359184/50129692-21becf80-02b5-11e9-9019-0c4f60f45a6a.png)

One thing I'm not sure if related is that I do not check if this target existed in upst

[2018-12-18 03:51] zhangxing406 opened #4109 "kong 0.14.0 return "no route and no API found with those values" on an existing path"
NOTE: GitHub issues are reserved for **bug reports only**. For anything else,
please join the conversation in Kong Nation https://discuss.konghq.com/.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

deploy kong to four instances,some

[2018-12-18 08:36] taotao2014 opened #4110 "When is Kong Service Mesh1.0 released?"
When is Kong Service Mesh1.0 released?

[2018-12-18 13:54] kidd commented on #4109
Hello @zhangxing406,

It looks like this issue has been reported and is been tracked in #4055. Please follow that thread for a proposed solution (and further upgrade), and see if it fixes your issue too.

Thanks for the report!

[2018-12-18 13:54] #4109 closed

[2018-12-18 15:43] jraj002 commented on #4105
Thanks! I deleted the deployment and created a new deployment using the yaml above. It works fine now.

[2018-12-18 16:03] #4105 closed

[2018-12-18 17:09] bungle commented on #4103
Nginx is most probably going to add it to their 2019 road map. QUIC is turning into HTTP/3 so the support will be there, if not in near future. Sure we at Kong also look forward supporting it.

[2018-12-18 17:09] kidd commented on #4110
Hello @taotao2014,

Kong 1.0 (to be released in next hours/days) has Service Mesh support.

[2018-12-18 17:09] #4110 closed

[2018-12-18 18:44] kidd commented on #4106
Thanks for the report @wshirey.  We got a fix in 1.0.0.

Stay tunned for the release, which should happen during today.

[2018-12-18 23:30] james-callahan commented on #4110
Also note that service mesh is available in kong 1.0 rc4 if you just can't wait :)

[2018-12-19 04:54] jeremyjpj0916 commented on #4109
Interesting to see the same issue popped up on a PostgreSQL deploy too, but glad I am now not alone in reports around this 😄. Hopefully 100% fixed shortly after 1.0 release 🎅 .

[2018-12-19 12:07] ibzip commented on #3369
This behavior should be clearly documented in the documentation to make it easier for the user!

[2018-12-19 12:08] thibaultcha commented on #3369
@ibzip It’d be great to receive a documentation Pull Request clarifying this point!

[2018-12-19 12:16] mzmali commented on #4070
@sankansm did you get any resolution?

[2018-12-20 15:44] pcpiela commented on #2359
So do I

[2018-12-21 05:40] qqlee opened #4120 "Where is the documentation about kong 1.0 grpc ?"
Where is the documentation about  kong 1.0 grpc

<img width="1240" alt="wx20181221-133036 2x" src="https://user-images.githubusercontent.com/5210478/50326555-fbec3180-0525-11e9-8a40-1be23d4e70d8.png">

[2018-12-21 09:53] zhangxing406 opened #4121 "kong proxy match order"
NOTE: GitHub issues are reserved for **bug reports only**. For anything else,
please join the conversation in Kong Nation https://discuss.konghq.com/.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE

i configured so

[2018-12-21 11:42] Aaron0-wang opened #4122 "route has some thing wrong"
NOTE: GitHub issues are reserved for **bug reports only**. For anything else,
please join the conversation in Kong Nation https://discuss.konghq.com/.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE

### Steps To Re

[2018-12-21 14:24] echototo opened #4124 "Missing origin part for some entities in pagination"
### Summary

The GET /routes, /services and /consumers return next cursor without origin which is not in accordance with the [documentation ](http://localhost:8001/routes) and others endpoints as GET /plugins

### Steps To Reproduce

1. List services or routes with a given size in order to paginate
2. {
    "next": "/services?offset=...",
     "data": ..
3. List plugins with a given size in order

[2018-12-23 00:10] ivangfr opened #4126 "Unable to use 'uid' for LDAP users"
Hi, I am trying to use `uid` from LDAP without success

Here is my LDAP users

https://github.com/ivangfr/springboot-kong/blob/master/ldap/ldap-mycompany-com.ldif

Here is how I configured it

[code]

Best regards

- Kong version `0.14.1`

[2018-12-23 04:55] jshablack opened #4127 "."
NOTE: GitHub issues are reserved for **bug reports only**. For anything else,
please join the conversation in Kong Nation https://discuss.konghq.com/.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE

### Steps To Re

[2018-12-23 04:55] jshablack opened #4128 ".ls"
NOTE: GitHub issues are reserved for **bug reports only**. For anything else,
please join the conversation in Kong Nation https://discuss.konghq.com/.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE

### Steps To Re

[2018-12-23 05:09] #4127 closed

[2018-12-23 05:09] p0pr0ck5 commented on #4128
Typo it seems.

[2018-12-23 05:09] #4128 closed

[2018-12-23 09:21] ivangfr opened #4129 "Same Rate Limit counting is used by two different LDAP users"
Hi, it's about `LDAP Authentication` plugin together with `Rate Limiting` plugin set in a same Route. Rest API calls bellow

[code]

[code]

The `LDAP Authentication` plugin configuration is working fine, authenticating correctly the users. The problem is: the same Rate Limit counting is used by two different LDAP users.

For instance, let's suppose we have two LDAP users, user A and B; and a rate

[2018-12-23 09:42] ivangfr commented on #4122
Hi, I am not expert on Kong but maybe I can help. I think it would be interesting if you could please share:

1. How are you creating the Service?
2. How are you creating the Route?
3. How are you making a call to your service through Kong, including the headers?

Best regards,

[2018-12-23 12:46] ratikpuri17 commented on #4103
Not currently

[2018-12-24 01:52] Aaron0-wang commented on #4122
Thank you very much for your reply. Here is what I did:
1. create the service
[code]
2. create the route
[code]
3. I want to control API access through uri，
Such as access to
http://10.10.20.26/jumpserver
Is access to
http://10.10.80.42/api/assets/v1/admin-user/
access
http://10.10.20.26:8000/jumpserver/36df7ecf-e415-47fc-a141-eb3a2ddf3614
Is access to
http://10.10.80.42/api/assets/v1/admin-user/3

[2018-12-24 02:10] ZTzha opened #4130 "github kong-plugins can't load"
### Summary
upgrade to kong-1.0.0
i down some plugins from github , but when i add it in kong.conf then kong start --vv ,
kong show the error to me "module 'kong.tools.responses' not found".
it is no problem in 1.0.0rc4

### Steps To Reproduce

1.edit /etc/kong/kong.conf
2. change it : plugins = bundled,kong-injection,http-log-extended,forward-proxy,proxy-cache,redirecting,kong-http-to-https-redir

[2018-12-24 02:18] james-callahan commented on #4130
The plugins you're using will need to be updated for 1.0.

From the 1.0 changelog:

[2018-12-24 02:47] Aaron0-wang commented on #4122
I think I visit http://10.10.20.26:8000/jumpserver/36df7ecf-e415-47fc-a141-eb3a2ddf3614 but be prompted no route, maybe because I create the route on a return results do not agree with website document.
This is an example from the official document：
![image](https://user-images.githubusercontent.com/38186870/50389767-372a7280-0769-11e9-9b5c-8c10cf5e84f8.png)
That's what I got：
![image](https://use

[2018-12-24 05:53] Aaron0-wang commented on #4122
I found interviews http://10.10.20.26:8000/jumpserver/36df7ecf-e415-47fc-a141-eb3a2ddf3614/ is right

[2018-12-24 07:11] ZTzha commented on #4130
@james-callahan
is kong.response.exit need to install by myself?
kong start still show error  module 'kong.response.exit' not found

[2018-12-24 08:15] huangyonghome opened #4131 "Kong Nginx 503 error"
Hi all.
we just set up Kong cluster with 2 kong nodes on our production environment. We didn’t use the load balancer in front of Kong , but using Nginx service on one of Kong nodes to proxy requests to Kong nodes

While we did the pressure test using Apach ab tool ,we found a lot of failed requests .

[code]
after checking the kong proxy access logs ,I found a lot of 503 errors:
[code]
Meanwhile,

[2018-12-24 19:55] hbagdi opened #4132 "Unable to set health of Targets"
### Summary

I'm trying to set health status of a target in Kong using the Admin API as documented [here](https://docs.konghq.com/1.0.x/admin-api/#set-target-as-healthy) but Kong throws a 500 with following in Kong's error log:

[code]

### Steps To Reproduce

1.
`curl -XPOST localhost:8001/upstreams -d 'name=foo'`
2.
`curl -XPOST localhost:8001/upstreams/foo/targets -d 'target=10.0.0.2'`
3.
[code

[2018-12-24 23:00] p0pr0ck5 commented on #4132
The steps to reproduce this seem a bit odd, because of the curl you sent in step 3:

`curl -v -XPOST localhost:8001/upstreams/f/targets/a4c653ed-a3d1-4771-8241-8ee812415b20/healthy`

The `upstreams/f/` part of the path is confusing- you previously noted your upstream was created with a name `foo`? Do you have another upstream perchance?

BTW the actual error generated error is misleading, it seems

[2018-12-25 00:42] #4130 closed

[2018-12-25 00:44] #4049 closed

[2018-12-25 02:01] zhangxing406 opened #4133 "router path end with trailing slash"
NOTE: GitHub issues are reserved for **bug reports only**. For anything else,
please join the conversation in Kong Nation https://discuss.konghq.com/.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

when i use stripe_path=true,and se

[2018-12-25 03:52] JHzhangqian commented on #4120
the same question.

[2018-12-25 12:58] hos7ein commented on #2471
your welcome @knowledgeshare99

[2018-12-26 09:35] #4122 closed

[2018-12-26 23:45] RobSerafini commented on #4121
The matching can definitely be complex and counter intuitive and will depend on the exact examples you are using. Please review the following discussions and documentation and reply with the exact routes and requests you are using.

https://discuss.konghq.com/t/a-few-words-on-regex-uris-usage-and-common-pitfalls/506

and

https://docs.konghq.com/1.0.x/proxy/#matching-priorities

Regards,
Rob

[2018-12-27 09:40] vanhtuan0409 commented on #1047
Could be something like using Social Account (Facebook/Google/Github/...) to authenticate the consumer
Then we can use ACL plugins to control access to service
This could be really nice to have this feature

[2018-12-27 11:58] wangyongxu opened #4135 "Admin API, Create or update Service associated to a specific Plugin"
### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce
[update-or-create-service](https://docs.konghq.com/1.0.x/admin-api/#update-or-create-service), i found i can't `Put`, and i got `404, Not Found.`

Can anyone help? thanks.

### Additional Details & Logs

- Kong version (v1.0.0)

[2018-12-27 16:38] bungle commented on #4135
Can you show the exact HTTP call?

[2018-12-27 17:51] hbagdi commented on #4132
My bad, I mixed up the reproduction steps (updated now) as I was testing it locally with a number of different scenarios.

[2018-12-27 18:02] hbagdi opened #4136 "Cannot get schema of datadog plugin"
### Summary

The schema of datadog plugin is not available on `GET /plugins/schema/datadog`.
It seems like the default Lapis handler is being invoked.

### Steps To Reproduce

1. kong start
2. curl http://localhost:8001/plugins/schema/key-auth this works fine
3.
[code]

### Additional Details & Logs

- Kong version (`$ kong version`) 1.0.0
- Kong debug-level startup logs (`$ kong start --vv`)
- Ko

[2018-12-28 01:00] wangyongxu commented on #4135
I had a plugin: `92335f03-b01e-4653-9098-2b8f2dcdec7b`
like this:

[code]
now, i want to create a service associated to Oauth2 plugin, so i send a http like this:
[code]
but i get `404 Not Fount`.

Something wrong ?

[2018-12-28 01:34] hbagdi opened #4137 "Plugin schema inconsistentcy for request-transformer"
### Summary

Plugin schema for request transformer contains fields in a nested object as opposed to an array.

### Steps To Reproduce
[code]

The `fields` property of schema of an object should be an array and not an object.
Also, as can be seen, the fields are again nested into `1`, `2`, `3`, and are also present in the fields object itself, which seems ambiguous.

### Additional Details & Logs

[2018-12-28 06:27] jeremyjpj0916 opened #4138 "Kong startup time does not scale well with resource growth"
### Summary

When running an API Gateway, it is important the application has fairly quick application startup time. During our vetting of 1.0 currently and also on 0.14.x of our Stage environment where we have 500+ service/route pairs and 500+ consumers with oauth/jwt token credentials it seems Kong struggles to kick into gear quickly.

1. Host a Kong Gateway, Multi DC(2), run Cassandra with high

[2018-12-28 08:15] wangyongxu opened #4139 "Admin API,Create Plugin associated to a specific Consumer call failed"
emm...sorry, it's my fault.
 when i try this interface, i use oauth2.0
[code]
and kong return like below:
[code]
The reason is  the oauth2 does not support. when i use rate-limiting, i got right result.

[2018-12-28 08:30] #4139 closed

[2018-12-28 13:58] navinkumarr commented on #4136
I am facing the same issue. Did you get it working?

[2018-12-28 17:46] neowulf commented on #4120
Kong 1.0 is using openresty 1.13.6.2 [Source 1](https://github.com/Kong/kong/blob/1.0.0/.travis.yml#L28), [Source 2](https://github.com/Kong/kong/blob/1.0.0/kong/meta.lua#L21) [implying](https://openresty.org/en/faq.html) Nginx 1.13.6 is being used. But grpc support was introduced in [Nginx 1.13.10](https://www.nginx.com/blog/nginx-1-13-10-grpc/).

Unless I'm missing something...

[2018-12-28 20:07] jeremyjpj0916 commented on #4120
See here for answer:

https://discuss.konghq.com/t/kong-1-0-is-now-generally-available-1-0-0-released/2496/7

As far as L7 routing there are no plugins or support yet for gRPC with Kong.

[2018-12-29 08:48] jeremyjpj0916 opened #4141 "PDK kong.response.exit bug, message body not properly set"
### Summary

https://github.com/Optum/kong-cluster-drain

https://github.com/Optum/kong-cluster-drain/commit/ce6b8e6dd112e7323e971c87d6b7a9827b716ba8

To install the 0.14.x working version of plugin of it just do luarocks install kong-cluster-drain

To install it from src(for 1.0 latest changes not on luarocks yet) I have been doing this for alpine linux kong:
[code]

So what happens is that for:

[2018-12-30 08:23] umocolombo opened #4142 "KONG featurs"
Hi guys!
I want realize sub requests to different microservices in one request to KONG

That i mean
1) I send into KONG one REST API request
2) KONG create one sub-request to first service and receive ansver
3) KONG  take information from first ansver and create second sub-request to second service.
4) Ansver from second service KONG transmit ME back.

Is it posible?

What this functions name?

[2018-12-30 08:41] umocolombo commented on #4142
Ok thank!
May is it possible in enterprise version or something else?

[2018-12-30 08:48] Tieske commented on #4142
neither in the enterprise version. A generic solution to this is very hard, hence usually easier to create a custom plugin specific to the flow you need.

[2018-12-30 08:48] #4142 closed

[2018-12-30 08:50] umocolombo commented on #4142
Thanks!

[2019-01-01 08:09] jeremyjpj0916 opened #4143 "Leveraging pdk, garbage collector builds up under certain plugin/phase execution on Kong 1.0/014.1"
Edited, see later posts.

[2019-01-01 19:38] bungle commented on #4143
@jeremyjpj0916 Thanks for the report. Surely something we start to look asap. Another thing to try is to run without our patches[1]. Our binaries come patched, so you need to run e.g. vanilla OpenResty `1.13.6.2`. Thank you for reporting.

[1] https://github.com/kong/openresty-patches

[2019-01-01 22:16] jeremyjpj0916 commented on #4143
@bungle No problem, I don't want to have yall go on a wild goose chase for nothing though so I am investigating it further and will keep this issue updated with any findings. Following the life of the POD (it has taken no active traffic now besides healthchecks pings since my first post) we can see it has grown a bit further but it seems finally in the last couple hours it may have plateaued and r

[2019-01-01 23:50] jeremyjpj0916 commented on #4143
@p0pr0ck5 will do some tracking on that from a fresh deploy starting tomorrow probably. I want to continue to let this guy run and see if it indeed has reached a flatline. As for current VmRSS(current resident set) here you are on a few of them:

![image](https://user-images.githubusercontent.com/31913027/50577440-edecb980-0e1f-11e9-9111-f82262658ecb.png)

[2019-01-02 07:34] jeremyjpj0916 commented on #4143
@bungle @p0pr0ck5 aight friends mystery is solved.

Good news: Seems Kong 1.0 barebones seems fine. After it reached that plateau after many hours I saw no more arbitrary climbing in mem for no reason. I am editing my title to be more appropriate, no need to wrongly rain on the 1.0 new release parade for no reason at this point 😆 .

Bad news: Kong 0.14.1 is impacted, and it was indeed actually a v

[2019-01-02 13:56] bungle commented on #4141
@jeremyjpj0916 I think you should remove this:
https://github.com/Optum/kong-cluster-drain/blob/ce6b8e6dd112e7323e971c87d6b7a9827b716ba8/src/handler.lua#L27-L36

What do you think?

[2019-01-02 15:02] jeremyjpj0916 commented on #4141
@bungle Ohhhh, very likely is the culprit. I see you refactored out all that bulk from the  original request termination plugin I mirrored this off of too:

https://github.com/Kong/kong/commit/03d2e98a7f8116424be8f037985a72b9d18445b4#diff-3df61ddd3aa9d40123806ea9feb03143

Will give that a go and close up the Github issue if its that legacy bit causing the issue.

Thanks!

[2019-01-02 16:05] jeremyjpj0916 commented on #4141
Validated and confirmed that was my problem, should have caught that before raising issue. Sorry about that. Thanks!

[2019-01-02 16:05] #4141 closed

[2019-01-02 23:05] cameron418 opened #4145 "1.0 Kong migration doesn't allow non-public Postgres schemas"
### Summary

When trying to start the 1.0 version of Kong on a database using a non-public Postgres schema, it always errors out with: `database needs bootstrap; run 'kong migrations bootstrap'`.

### Steps To Reproduce

1. Start fresh Postgres instance with non-public schema
2. Configure Kong 1.0 instance to point to above database
3. Run `kong migrations bootstrap` (runs successfully)
4. Run `ko

[2019-01-03 02:14] exotfboy opened #4146 "Fail to start kong with docker"
I tried to install kong with docker by following [this](https://docs.konghq.com/install/docker/) step by step.

However when I ran the last command to start kong I got this:
[code]

[2019-01-03 12:16] bungle commented on #323
I close this now as the OpenAM is now supported by enterprise OpenID Connect Plugin and 3rd party OpenID Connect plugins. @deepaknverma, please reopen if you were thinking something else.

[2019-01-03 12:16] #323 closed

[2019-01-03 12:32] bungle commented on #956
Spec is now updated to [v10](https://tools.ietf.org/html/draft-cavage-http-signatures-10).

[2019-01-03 12:36] bungle commented on #1062
Enterprise OpenID Connect plugin can do that, and I guess some of the 3rd party (open-source) OpenID Connect plugins can do it as well.

[2019-01-03 12:39] bungle commented on #1218
This is more or less solved with `1.0.0`, or did you @subnetmarco have something else in your mind?

[2019-01-03 12:45] bungle commented on #1275
Doesn't generate error anymore, but `created_at` is ignored on create it is an `auto` field.  It seems that you can use `PATCH` to update the `created_at` (not sure if it is a bug or a feature), but it is not possible to give it on creation time with `PUT` or `POST` (as it gets overridden).

[2019-01-03 16:50] thibaultcha commented on #736
Yes! Documentation for future reference: https://docs.konghq.com/1.0.x/pdk/kong.ctx/

[2019-01-03 18:10] bungle commented on #2652
As this is implemented in:
https://docs.konghq.com/hub/kong-inc/azure-functions/

I will close this.

[2019-01-03 18:10] #2652 closed

[2019-01-03 19:19] hishamhm commented on #4143
@jeremyjpj0916 that `get_body_args` causes the body to be read in its entirety into Lua-land and interned as a string. I don't see it hoarding that data in any structure so at some point it should be GC'd... so maybe it's just that the garbage collection rate is lower than the garbage production rate, which would cause the indefinite memory growth.

[2019-01-03 19:19] hbagdi commented on #4137
There is another bug that I ran into, I'm not opening up a separate issue, if it's better to do so, let me know.

[code]

The empty `fields` should be an array.

[2019-01-03 19:22] bungle commented on #2927
I tried to reproduce this on `1.0.0.`, and I could not. Maybe this got fixed at some point? Can you @andy9775 or @schafdog  try with the `1.0.0` and report back if you could still hit the bug (I'll change the label to `pending author feedback` because of this)?

[2019-01-03 19:30] bungle commented on #3068
I think this PR is a try to fix most of the issues around this: #4102 (it does not implement incremental router rebuilding).

[2019-01-03 19:45] bungle commented on #3094
I tried to reproduce  what @dsem reported with `1.0.0` without success. So I guess it might have been fixed already.

The issue with @crejb is what I can reproduce, so I mark this as a bug.

[2019-01-03 19:57] thibaultcha commented on #3068
This should have been fixed already by 2 changes:
- First, by updating the default value of `db_cache_ttl` to `0` (https://github.com/Kong/kong/pull/3492), which always was the long term goal (`db_cache_ttl` was introduced as a safety measure against stale values when we first rolled out the new DB caching implementation). Now, the cache does not expire anymore unless changes are made through the

[2019-01-03 19:59] thibaultcha commented on #3068
Oh, I overlooked something, which is that router rebuilds bypassed the cache _and_ always used a `0` TTL value since day one... One of the "quick and easy" solutions I suggested back then was to store Routes and Services in the cache to benefit from those 2 points above, but @bungle's solution is more valid, even without incremental router rebuilds.

Sorry for the noise!

[2019-01-03 22:00] bungle commented on #4145
I have always thought that it would not work with `public` schema, and that we don't have configuration variable for schema selection. @cameron418 can you describe how do you connect to custom schema? Do you set `search_path` or something? In general I feel it a bit hacky to use `search_path` to make queries to different schema, and I would like to add a new configuration value to select the schem

[2019-01-03 22:22] subnetmarco commented on #2767
In the example of a short-circuited request at least the proxy latency should still be sent, as the short-circuiting still involves Kong processing time. The upstream latency doesn't matter (since there is no upstream), and perhaps that can be skipped or defaulted to `0`.

[2019-01-03 22:23] bungle commented on #4121
I think it is a bug. I will send a PR soon.

[2019-01-03 22:50] thibaultcha commented on #4121
This is not a bug, but a known missing feature. The feature would be the equivalent of the nginx `location` directive's `^~` modifier, which means "don't evaluate this regex if a previous prefix was already matched. See [ngx_http_core_module's location directive docs](http://nginx.org/en/docs/http/ngx_http_core_module.html#location).

The order of evaluation _is_:
1. full paths
2. prefix paths
3.

[2019-01-03 22:52] thibaultcha commented on #4133
The upstream trailing slash respects your request's path: if your client's request has a trailing slash, so will the upstream request.

If your client requests `/abc`, then the upstream request won't have a trailing slash.

[2019-01-03 22:52] #4133 closed

[2019-01-03 23:55] p0pr0ck5 commented on #338
This functionality is available in Kong Enterprise! :D https://docs.konghq.com/enterprise/0.34-x/admin-api-audit-log/

[2019-01-03 23:55] #338 closed

[2019-01-03 23:57] p0pr0ck5 commented on #3684
Thanks for the report! This behavior has been changed in how we package Kong for all OS distributions to no longer require a postinst script. This behavior went out with the Kong 1.0 release.

[2019-01-03 23:57] #3684 closed

[2019-01-03 23:57] p0pr0ck5 commented on #4146
Are you running Docker on Windows? I don't believe that Linux `/dev/stdout` and `/dev/stderr` will work in a Windows environment.

[2019-01-03 23:59] p0pr0ck5 commented on #3940
I believe this is solved with the release of Kong 1.0. @rocketspacer can you try this with the latest release?

[2019-01-04 00:35] bungle commented on #4121
According to this:
https://docs.konghq.com/1.0.x/proxy/#evaluation-order

So I guess we need to update the docs? In a meanwhile I corrected this and some other issues in path matching in #4153 (though, now I am not sure should we change it a bit?)

[2019-01-04 00:41] bungle commented on #4121
I don't fully understand the:

You mean if single route has multiple `paths`, then we pick `regex` first to get the captures?

[2019-01-04 00:49] bungle commented on #3818
I consider this to be fixed as `1.0.0` is now released. @dinesh-hobsons, please let us know if you still think there are issues with this. Thank you.

[2019-01-04 00:49] #3818 closed

[2019-01-04 00:51] bungle commented on #3817
@ahai1980, as we haven't received feedback on this, I will close this for now. Please reopen, if you have more feedback about the issue.

[2019-01-04 00:51] #3817 closed

[2019-01-04 00:52] bungle commented on #3807
@p0pr0ck5, as we haven't reveived any further feedback, and now that `1.0.0` is released with a new admin api, I consider this fixed.

[2019-01-04 00:52] #3807 closed

[2019-01-04 00:57] bungle commented on #3786
As there has been no feedback, and the error is in very old Kong version, I will close this. @joyJZhang, please reopen if you have more feedback for us and have tried a more recent version of Kong.

[2019-01-04 00:57] #3786 closed

[2019-01-04 01:06] bungle commented on #3701
You can e.g. run `ngx.timer.at`. And there are other ways too. Because no further explanation was given, I will close this now. @kakarooky, please reopen if you want to discuss this further.

[2019-01-04 01:06] #3701 closed

[2019-01-04 01:09] bungle commented on #3137
I think this is fixed, thus closing the issue. @DonMartin76, please reopen or create a new issue if you still hit any issues with it, with Kong `1.0.0`.

[2019-01-04 01:09] #3137 closed

[2019-01-04 01:21] bungle commented on #4121
Just a note, this very same issue has previously been discussed in #3111.

[2019-01-04 01:46] thibaultcha commented on #4121
This piece is correct. but regex paths are also evaluated after prefix paths _and take precedence_ if there is a match (over the previous prefix match). That is what the `^~` modifier prevents (as discussed in #4153 - thanks for digging there btw). Yes, the docs could be clarified, definitely (as stated by my year old comment in this issue).

Given a Route with a prefix path, and another Route wit

[2019-01-04 02:58] exotfboy commented on #4146
Yes, I ran docker on windows with docker toolbox.

[2019-01-04 04:09] p0pr0ck5 commented on #4146
You will need to choose another location to write access files then, somewhere on the file system. By default, the log location is `logs/error.log` and `logs/access.log` for error and access logs, respectively.

Since this isn't a bug with Kong, I'll close this issue now.

[2019-01-04 04:09] #4146 closed

[2019-01-04 06:57] timpamungkas commented on #505
Can you give me an example?

Say, I have service `service-alpha` with Kong route : `/alpha`
Inside of `service-alpha`, there are two endpoints

- `[GET] /api/v1/read` which require no authentication. With Kong, this will be http://kong/alpha/api/v1/read
- `[POST] /api/v1/create`  which require no API Key authentication. With Kong, this will be http://kong/alpha/api/v1/create

How can I set Kong to

[2019-01-04 11:46] DonMartin76 commented on #3137
Oh. This got lost somehow. I bet it's fine, we haven't seen it since we updated to 0.12 (on 0.14.1 now). Sorry.

[2019-01-04 17:53] p0pr0ck5 commented on #4042
Since this issue is related to two previous RC releases, and the issue is no longer relevant, I will close this out. Thank you!

[2019-01-04 17:53] #4042 closed

[2019-01-04 17:54] p0pr0ck5 commented on #219
There are nightly builds for Kong these day! :D https://bintray.com/kong/kong-community-edition-nightly

[2019-01-04 17:54] #219 closed

[2019-01-04 18:00] p0pr0ck5 commented on #3759
Given that this ticket has gone stale, is missing any detail, and references an incredibly old version of Kong and Nginx, I'm going to close this. @iver3on if you're able to provide some more detail using a modern release of Kong (say, > 0.14), we can re-open this. Feel free also to open a discussion with the community at https://discuss.konghq.com. Thanks!

[2019-01-04 18:00] #3759 closed

[2019-01-04 18:02] p0pr0ck5 commented on #3691
@BrunoQuaresma ping on this? Were you ever able to evaulate your code to see where `singletons.cache` is being called? Note also that modern releases of Kong no longer us `singletons.cache`. Have a look at the PDK docs (https://docs.konghq.com/1.0.x/plugin-development/).

If there's no timely response on this issue I'll close it out as stale.

[2019-01-04 18:04] p0pr0ck5 commented on #3849
As @bungle mentioned, the solution here would be to develop a custom plugin or leverage Kong's Serverless plugin functionality to implement this logic. Currently the Kong Enterprise RBAC functionality is not available outside of Kong Enterprise.

@Yamilquery you may want to reach out to the community via the discussion forums (https://discuss.konghq.com/) to see if anyone else has any thoughts on

[2019-01-04 18:04] #3849 closed

[2019-01-04 18:09] p0pr0ck5 commented on #4088
Closing this out, thanks to @kidd's answer. If you want Kong to proxy _all_ requests, it would help to create a catch-all Route (e.g., https://docs.konghq.com/1.0.x/proxy/#configuring-a-fallback-route). Otherwise, requests will be handled according to the configured Routes in Kong (the behavior of which is detailed in the previous link).

[2019-01-04 18:09] #4088 closed

[2019-01-04 18:09] p0pr0ck5 commented on #4062
@13349253469 can you share the configuration of the Zipkin plugin?

[2019-01-04 18:11] p0pr0ck5 commented on #4048
I can see no needing the `\r` character, but I suspect any change to the tcp log plugin output would be a breaking change, so we'd want to communicate the change. @cvuillemez would you consider submitting a PR for this change for review?

[2019-01-04 18:15] p0pr0ck5 commented on #3961
@amaneer94 we've made considerable performance improvements in the plugins runloop for these kind of configurations in the 1.0 release of Kong. Can you give the 1.0 release a test and let us know if you see the same performance behavior?

[2019-01-04 18:16] p0pr0ck5 commented on #3797
Since this has gone stale and is lacking in details, i will close this out. @bingjava if you can provide more details about how Kong is configured and your environment, we can re-open this and try to understand the behavior you're reporting. Thanks!

[2019-01-04 18:16] #3797 closed

[2019-01-04 18:31] p0pr0ck5 commented on #608
There is a 3rd-party Terraform provider for Kong noted in the Kong Hub, where we maintain documentation and pointers for various integrations with Kong: https://docs.konghq.com/hub/zillowgroup/kong-terraform/.

@martinivanov if you still maintain your Terraform provider, please consider adding it to the Kong Hub as well!

[2019-01-04 18:31] #608 closed

[2019-01-04 18:32] hishamhm commented on #4121
@thibaultcha Thank you for the full explanation on the history of how the present status came about.

But I'll play Devil's (or User's?) Advocate a bit. Given that the difference between evaluation order and matching precedence is fully opaque to a Kong user (as it should be; only the second one matters), the users are fully justified in thinking that the "evaluation order" the documentation menti

[2019-01-04 18:39] p0pr0ck5 commented on #4106
@wshirey are you able to test this in the most recent release of Kong (1.0)?

[2019-01-04 18:46] thibaultcha commented on #4121
Yes, I said so in my above comment: the docs could be clarified around this use-case, definitely. The code should also change, is what I was hoping was transpiring from my above comments as well: the router is still incomplete in that regard (whichever tie-breaker attribute we end up implementing).

Indeed. In December, I advocated for this field to be updated to `priority` **prior** to the 1.0 re

[2019-01-04 23:39] cameron418 commented on #4145
@bungle The two methods I've used are either having the same user name and schema name, or by setting the search path. I agree that it feels hacky, but I think that was the recommendation here. A new config value sounds like a great idea.

Thanks for the quick responses.

[2019-01-05 04:01] #4136 closed

[2019-01-05 06:39] jeremyjpj0916 commented on #4143
Well @hishamhm you may have a point, I still need to keep researching but just testing an abritrary proxy with no auth or anything seems to cause growth as well at 102 TPS, an example of my stage environment showing the growth, you can tell where the test started:

![image](https://user-images.githubusercontent.com/31913027/50721200-65864700-10b3-11e9-8a3d-f9edcb097f2c.png)

I am adding a snippit

[2019-01-05 08:13] jeremyjpj0916 commented on #4143
Doing a 102 TPS loadtest on 1.0 with this payload to a no plugins proxy (besides my global ones, one of which reads the request body) yields this so far in growth with my gc checker method now. I am going to remove all payload reading and test as well too tomorrow:

![gcmemoryfootprintgains](https://user-images.githubusercontent.com/31913027/50722101-c61c8080-10c1-11e9-8cac-74da2b92c408.png)

[2019-01-05 10:59] bungle commented on #4145
@cameron418,

I will push a PR for review that adds `pg_schema` configuration option on monday. The work is done, but I just need to write some tests for it.

[2019-01-05 23:13] pathakcodes commented on #4103
What we have to add as a feature here or whats the task?

[2019-01-06 00:35] jeremyjpj0916 commented on #4143
Interesting findings folks, so I have been disabling globally enabled plugins on my dev environment on 1.0 where I was able to reproduce the mem growth. I was getting really close to chalking it up to gc not being able to keep up(but we are talking about like 100-200 TPS load-tests here), which I highly doubt is enough to cause grief like I was seeing). I had planned on modifying the gc to be more

[2019-01-06 01:49] taotao2014 opened #4159 "Health check does not send the host header."
Multiple sites are on the same IIS machine, all the 80 ports are bound, the host headers are set to different domain name, the upstream server detects invalidation, health http path cannot be found, because the health check does not send the host header. How to solve, please help.

- Kong version (`$ kong version`) 0.14.1

[2019-01-06 05:38] jeremyjpj0916 commented on #4143
100% confirmed that its this plugin someway somehow. Even after I refactored it a bit cleaner to fully leverage the pdk gc goes through the roof under load with this plugin enabled globally:

https://docs.konghq.com/hub/optum/kong-response-size-limiting/
https://github.com/Optum/kong-response-size-limiting/blob/master/src/handler.lua

Editing my title accordingly to this github issue, something ab

[2019-01-06 09:19] taotao2014 opened #4160 "Is it possible to add more custom property in the services, such as:Tags , Description.."
Is it possible to add more custom property in the services, such as:Tags , Description..

[2019-01-06 19:42] jeremyjpj0916 commented on #4160
https://discuss.konghq.com/t/is-it-possible-to-add-more-custom-property-in-the-services-such-as-tags-description/2569/2 . No need for the double post.

[2019-01-06 20:59] p0pr0ck5 commented on #4143
Im suspicious of kong.ctx hereI’m curious, why this plugin needs to use kong.ctx? Any reason not to just exit in the header filter? If you factor out the usage of kong.ctx to just use ngx.ctx, or just avoid the body filter entirely, do you still see memory increases?

[2019-01-07 02:14] p0pr0ck5 commented on #4143
This is an oddity within the PDK then, as the `exit` ngx Lua function can most assuredly be called from within the header filter phase: https://github.com/openresty/lua-nginx-module/blob/master/README.markdown#ngxexit.

[2019-01-07 02:15] p0pr0ck5 commented on #4143
The error you’re seeing is not triggered by the lua nginx module, but by the PDK.

[2019-01-07 02:38] jeremyjpj0916 commented on #4143
Yep so just setting ngx.exit with a status of 413 seems to work. Have not watched mem footprint yet but it looks like this on a response (which I don't like because its really the backend response entity I want to talk about not the request, and openresty does not give a way to do so until the body_filter phase:

[code]

[2019-01-07 02:52] jeremyjpj0916 commented on #4143
Thanks for the quick response, I will see if using ngx.ctx fixes this for me and go with my original logic(In the meanwhile I suppose yall will want to try reproducing the problem locally and figure out what/why causes this with the pdk).

As for the server header, yes my config does currently not specify setting server headers:
![image](https://user-images.githubusercontent.com/31913027/50746417-

[2019-01-07 03:32] jeremyjpj0916 commented on #4143
Preliminary analysis looks good. What is interesting is when producing the mem growth on the earlier code, I was calling the proxy with a payload size LESS than the size that would hit the code path that would set the kong.ctx.plugin.limited field to true in the header_filter phase. So basically the thing that I suppose is producing the mem growth is the if kong.ctx.plugin.limited check in my body

[2019-01-07 04:16] p0pr0ck5 commented on #4160
Closing given the above

[2019-01-07 04:16] #4160 closed

[2019-01-07 04:58] p0pr0ck5 commented on #4159
Please do not double post to GitHub and the discussion forums (https://discuss.konghq.com/t/health-check-does-not-send-the-host-header/2566). Thank you.

[2019-01-07 04:58] #4159 closed

[2019-01-07 06:47] jeremyjpj0916 commented on #4143
Update, so I went with a purist approach and I think this seems to not reveal any leaks and to have supported a plateau of sorts under load. Let me know if you see anything wrong with the implementation:

[code]

I think this github reveals there may be situations where the pdk needs revision around which phases support which methods, as well as potential memory growth/leak(not sure which) that ca

[2019-01-07 08:14] jeremyjpj0916 opened #4161 "Custom plugin schema value changes seem to not invalidate and properly apply across worker processes Kong 1.0"
### Summary

Take this plugin for instance:
https://github.com/Optum/kong-response-size-limiting

I am installing it just from Github source at the moment(haven't undated it on luarocks yet) like so:
[code]

I am then launching Kong with the schema value set to say a 100 mb limit. Running a few tx calls, plugin seems great right? Working fine.

Then I go ahead and patch the plugin to say 0 or some

[2019-01-07 08:55] p0pr0ck5 commented on #4161
This looks like a logic bug in your plugin due to using a module level variable as a boolean to determine when a request should be short circuited.

[2019-01-07 09:01] schafdog commented on #2927
Will try to get this done very soon and report back.

[2019-01-07 09:02] jeremyjpj0916 commented on #4161
I could add an else to the check size method setting the boolean to false, but I was initially thinking that was not necessary because does a local not only apply to its current tx? If not and its persisted across tx's then that is the real problem I just need a else set false I suppose. Already in bed, will give that a go in 6 hrs or so.

[2019-01-07 09:12] p0pr0ck5 commented on #4161
No, module-level locals have a lifetime of the worker process, not an individual request. Sharing data across phases in a request as this attempts to do is why `ngx.ctx` exists, fwiw. Probably makes sense just to use that as I’d originally mentioned.

[2019-01-07 09:17] #4161 closed

[2019-01-07 09:20] jeremyjpj0916 commented on #4161
Closing for now, as your clarification makes sense. I think in the madness of my changes on the plugin, even leveraging the ngx.ctx.something saw constant slight but steady memory growth between those 2 phases but I will give it another go and watch again.

[2019-01-07 12:36] kidd commented on #4104
Sorry for the late response,

I'm having difficulties reproducing this behavior. Some more questions that might help debugging through the issue:

- Are you adding targets in bulk (at fast pace) or it's usually a "one off" event?
- Also, do you see any relevant lines in the error logs when this happens? Is the target effectively added to the system? (it shows in future listing)
- Can you reproduce

[2019-01-07 13:06] bungle commented on #3963
I think the `key-auth` should skip modifying query if the `key` was not in query, but in headers.

[2019-01-07 16:05] thibaultcha commented on #4121
By “solely”, I meant without `^~`, and not by changing the evaluation order of the Route’s properties.

[2019-01-07 17:03] p0pr0ck5 commented on #4143
I'd like to leave this open for now, at least until @bungle or @thibaultcha who have worked on the PDK have a chance to review. It's interesting to hear about the memory growth when hitting code paths wherein a `kong.ctx.plugin` key is nil; I wonder if there's some odd behavior in the `__index` definition?

[2019-01-07 18:30] hishamhm commented on #4135
Yes, you should create a Service separately (with `POST /services`) and then update the plugin adding the `service.id` of the newly-created service with `PATCH /plugins/92335f03-b01e-4653-9098-2b8f2dcdec7b`.

The `/plugins/{id}/service` endpoint does not support PUT: if it did the way you described, it would modify two entities, the Service and the Plugin, and only return one, which is a pattern w

[2019-01-07 18:30] #4135 closed

[2019-01-07 19:11] jeremyjpj0916 commented on #4143
Sounds like a plan. I can confirm after load testing both paths this plugin can take with my latest code in the repo and commented above, no mem leaks occur so at least that is good as a baseline. Was worried OR has issues with ngx.ctx between the header_filter to body_filter references around the garbage collecting hah. agentzh dodges a bullet with my Github rambles 😄 . Also can't believe I tried

[2019-01-07 21:22] #4137 closed

[2019-01-07 23:17] jeremyjpj0916 opened #4164 "Kong 1.0 first time invoking any unique route path slow loading reported in access_phase"
### Summary

Have to run in 5 min, so posting this quick with more followup later tonight.

Basically my last vetting of 1.0 has one last outstanding issue. On 1.0 against my existing C* database nodes I have used with 0.14.1 without major issue it seems Kong on any given unique exposed route that has not been called yet takes a really long time to respond. Opentracing reveals it to be in the acce

[2019-01-07 23:31] p0pr0ck5 commented on #4164
This is pretty well-known and expected behavior. When kong is first started, most of the db entities (consumers, plugin configs) are not cached in memory, and so require database access. With 1.0 C* read consistency set to a weaker level can reduce database access times, but unless data is ore fetched from the database on node initialization, the behavior noted above is fundamental to Kong’s archi

[2019-01-08 05:57] jeremyjpj0916 commented on #4164
I do understand the general process of caching Kong needs upon startup upon that first tx (since service/route building is global). I have not checked if you or Bungles proposed PRs address this further yet but I kinda feel they may(will give each a go again probably against my 1.0 sandbox tomorrow), but I can say on Kong 0.14.1 with 100's of service/route/consumer/plugin resources that first call

[2019-01-08 09:01] bungle commented on #4164
I think we can improve two things:
1. startup time (as reported #4138)
2. initial performance (as reported here)

One thing we could do is to cache all the core entities, or at least the most important ones (services, routes, plugins, consumers, upstreams, targets, snis, certificates — or just some of those).

The problem is that caching and warming up the cache may increase the startup time and m

[2019-01-08 15:32] timpamungkas opened #4168 "Kong HMAC Calculation using specific algorithm?"
I tried to implement HMAC plugin on Kong using steps on [konghub](https://docs.konghq.com/hub/kong-inc/hmac-auth/)

Plugin installed on kong, and I'm trying to hit it, but my signature always failed. Then I try to validate my algorithm using Kong example on documentation (`alice123` with key `secret`)
However I can't get the same signature as in plugin. Am I did something wrong?

From the example

[2019-01-08 16:59] jeremyjpj0916 commented on #4164
@bungle I will investigate different C* configurations in sandbox as well as testing Postgres as well. My current C* config in sandbox was as follows:
[code]

Let me try tweaking these and see what happens too:
[code]
As well as trying against a Postgres single node or C* single node. Overall I think to achieve best perf across all db implementations would be 1000 record queries at a time on vario

[2019-01-08 18:00] imsky commented on #3690
unfortunately we don't have time to test this and since 1.0 was released, we've decided to deploy a separate instance instead of an in-place upgrade.

[2019-01-08 18:00] #3690 closed

[2019-01-08 20:55] bungle commented on #4164
@jeremyjpj0916, if you got time, it would be interesting to see if this has any effect:
https://github.com/Kong/kong/pull/4171

[2019-01-08 21:15] jeremyjpj0916 commented on #4164
@bungle let me study the files and what to drop in where and give it a go. I am going to rebuild out my sandbox back to more resources than the barebones I have it now(which is like 4 services and routes and 2 plugins and a consumer)- which got down that first proxy call to 2-3 seconds generally on every single individual route first call of the 4). When  it was at like 8-9 services and routes and

[2019-01-08 22:30] jeremyjpj0916 commented on #4164
@bungle Testing on 1.0 GA throws this for some reason with your patch files dropped in.
[code]

[2019-01-08 23:00] p0pr0ck5 commented on #4164
My first thought here is the plugins iterator- migration of the plugins schema to the new DAO could explain a change in latencies.

To avoid polluting this thread I am sending jeremy a patch that will generate debug tracing data that should shed light on the jump in latencies in cache-miss situations. Will report the results here once they’re in.

[2019-01-09 00:45] thibaultcha commented on #4143
I may have found a potential issue with `kong.ctx`, but I am having trouble reproducing your observations @jeremyjpj0916. Could you help us narrowing this down to either `kong.ctx` or `kong.response.get_header`?
Also, when you were observing this, how many Routes/Services/other entities were configured on the node at the same time? How were you load testing Kong? From a single Route, or several at

[2019-01-09 01:37] jeremyjpj0916 commented on #4143
@thibaultcha Sup man, sure let me overwrite my sandbox real quick with the old codebase, I will comment out the body_filter and see if just the get_header produces it(I won't have the size be enough to trigger going in the if  statement even in the header_filter phase). If not then I would have to  say to say the kong.ctx.plugin.limited was what was doing the deed. To talk about where I saw the is

[2019-01-09 01:58] thibaultcha commented on #4143
@jeremyjpj0916 I think I have found the root cause, no rush on testing this all over again on your side for now. Continuing my investigation for now, just wanted to avoid you some extra work.

[2019-01-09 02:09] jeremyjpj0916 commented on #4143
I was already running the load test before you commented hah, didn't take but a second to setup and for all the diligent fixes yall provide its the least I can do to to retest and confirm a few extras. And yeah it seems growth still present and points to kong pdk getting the header on content-length when content-length isn't even present in the response headers. My gc size per worker is already ov

[2019-01-09 02:11] thibaultcha commented on #4143
Yes, that corroborates the leak I have just found, which is separate from the `kong.ctx` issue I found earlier. Thanks for testing this quickly :)

[2019-01-09 02:14] jeremyjpj0916 commented on #4143
Anytime, great to hear you found the problem. I will go back to piddling with other 1.0 things now. Will give my plugin a pdk refactor again once the pdk logic around what I have tried to do here has been confirmed fixed. Take care.

[2019-01-09 02:32] thibaultcha commented on #4143
PR: https://github.com/Kong/kong/pull/4172

@jeremyjpj0916 Mind giving it a spin? With `kong.ctx` _and_ `kong.service.response` of course :) Thanks!

[2019-01-09 04:07] timpamungkas opened #4173 "Kong 1.0.0 docker can't proxy to port 80"
### Summary

I can't  bind kong proxy listen to port 80 using docker-compose.
Got this message on kong logs
`nginx: [emerg] bind() to 0.0.0.0:80 failed (13: Permission denied)`

### Steps To Reproduce
Create kong container using docker-compose

[code]

### Additional Details & Logs
Port 80 is free

[2019-01-09 04:09] james-callahan commented on #4173
Try adding `CAP_NET_BIND_SERVICE`. https://docs.docker.com/compose/compose-file/compose-file-v2/#cap_add-cap_drop

However the normal practice is to run kong on e.g. port 8000, and remap the port as you want externally in the `ports` section.

[2019-01-09 04:15] jeremyjpj0916 commented on #4143
@thibaultcha  Am doing,

handler.lua
[code]

My modified build patch work:
[code]

currently watching to see if it flat lines like when I use openresty ngx calls directly, still going up so far slowly:
![image](https://user-images.githubusercontent.com/31913027/50876417-d637a700-13c4-11e9-8df4-afcf8117cebb.png)

[2019-01-09 05:02] jeremyjpj0916 commented on #4143
Follow up:

![image](https://user-images.githubusercontent.com/31913027/50877393-8c04f480-13c9-11e9-9db2-8517b42bd5d3.png)

I think it has reached stasis. Also GC seems to be at the right levels. I tested both code paths this plugin could take to hit the paths of the content-length grab and the kong.ctx* bool path. Good stuff. Can close this issue if you feel there has been adequate resolution and

[2019-01-09 05:19] p0pr0ck5 commented on #4168
Hi,

please don't cross post to here and the forums. Since there is a post at https://discuss.konghq.com/t/kong-hmac-plugin-cant-replicate-signature/2578, i will close this out. Thank you!

[2019-01-09 05:19] #4168 closed

[2019-01-09 06:15] icyxp opened #4174 "Kong 1.0.0 start failed"
`
2019/01/09 14:13:42 [verbose] preparing nginx prefix directory at /usr/local/kong
sh: line 1: 78191 Bus error: 10           nginx -p /usr/local/kong -c nginx.conf > /tmp/lua_vs1uBC 2> /tmp/lua_U1SPSy
2019/01/09 14:13:43 [verbose] could not start Kong, stopping services
2019/01/09 14:13:43 [verbose] stopped services
Error:
./kong/cmd/start.lua:57: ./kong/cmd/start.lua:46:
stack traceback:
	[C]: i

[2019-01-09 06:33] p0pr0ck5 commented on #4164
Did a small bit of digging and it seems that, with a fresh 1.0 cluster, this call never returns true: https://github.com/Kong/kong/blob/master/kong/db/dao/plugins.lua#L317

So we end up having to make an expensive lookup of the schema state with every plugins iteration. From what I can find, the schema state created in https://github.com/Kong/kong/blob/master/kong/db/migrsubsystemsations/state.lua

[2019-01-09 09:23] whp1473 opened #4175 "Kong 1.0.0 Key Authentication Plugin document[Paginate through keys] error"
Kong plugin version:1.0-x
Key Authentication Plugin‘s **Official documents is error**:
Url:https://github.com/Kong/kong/issues/new
[code]
**The right thing is**：
[code]
Hope to update documents in time >.<

[2019-01-09 11:21] Dubrzr commented on #3713
Any update on this? This is indeed very annoying to have a 403 instead of 401 for our users...
How can I help?
Thanks you!

[2019-01-09 14:51] timpamungkas commented on #4173
Choosing second option (map docker port 8000 to host port 80), works

Thanks

[2019-01-09 14:51] #4173 closed

[2019-01-09 16:59] kikito commented on #4164
Hi @jeremyjpj0916, I have implemented a fix for the problem described by @p0pr0ck5. It's in #4179. If you can, please give it a try.

[2019-01-09 17:07] jeremyjpj0916 commented on #4164
@kikito you got it, going to drop that in and give it a go on my 1.0 sandbox. Will report back in a few mins to the perf impacts.

[2019-01-09 17:32] jeremyjpj0916 commented on #4164
Tried it, did not have any improvement dropping that file in on my kong startup. 8572ms taken on first call.

[2019-01-09 17:56] p0pr0ck5 commented on #4164
BTW, this completely-unacceptable-and-very-dirty-hack does solve the underlying problem of the cost of always checking the schema state:

[code]

In my local environment (`kong-vagrant` with local C*), this reduces subsequent calls to `load_plugin_config` from around 35 ms to under 1 ms (averaging 500 or so us, roughly just the cost of the CQL query from itself). Obviously this isn't an appropriat

[2019-01-09 17:58] p0pr0ck5 commented on #4175
Thanks for the report! The docs are open-sourced at https://github.com/kong/docs.konghq.com. Would you mind contributing the relevant changes?

[2019-01-09 19:05] kikito commented on #4164
@jeremyjpj0916 	my coworkers pointed out that there were in fact two changes needed. Please give #4179 another look when you can

[2019-01-09 19:20] jeremyjpj0916 commented on #4164
@kikito already ahead of yah, saw the latest PR changes flood in 😄 . Happy to report the massive latency has been dramatically reduced now. Currently taking 784ms proxy_latency on the first call(as opposed to 8572ms) with a node that has this many Kong resources:
Resources on this gateway:
[code]
Still see regression compared to 0.14.1 as far as perf goes (it takes around 200-300ms proxy_latency t

[2019-01-09 20:01] p0pr0ck5 commented on #4174
What hardware and os/architecture are you running on?

[2019-01-09 21:47] hishamhm commented on #4164
I just merged #4179 and it looks like there's a bit more to do before we close this one!

@jeremyjpj0916, just to confirm I assume the numbers you got (784ms) are with that latest code (basically equivalent to what was merged).

@p0pr0ck5 indeed, we _do_ check the migration state on boot! Here's an attempt at doing what you suggested:

[code]

If this further improves the initial request I'll cut

[2019-01-09 21:58] jeremyjpj0916 commented on #4164
@hishamhm yes. I am going to add the 2 smaller bungle pr's as well around db and init stuff that just got merged that should probably help 1.0 when I test it at scale too (query 1000 vs 100). But even in my small sandbox I imagine the diff between 0.14.1 taking 200-300ms with tons of resources vs 784ms 1.0 with a few resources hopefully reveals a trace that will show something else making up the d

[2019-01-10 00:30] #4143 closed

[2019-01-10 00:32] thibaultcha commented on #4143
Closed following up the merge of #4172. Thanks for the report @jeremyjpj0916!

[2019-01-10 09:14] bungle commented on #4145
As #4167 is now merged, I wil close this.

[2019-01-10 09:14] #4145 closed

[2019-01-10 09:35] bungle commented on #4132
I think `500` error only happens, when you have typo in your target `id`. But I will send a PR to fix that. As you can see, it happens on `not_found` scenario.

[2019-01-10 12:56] jl91 opened #4181 "kong 8443 on docker "Could not get any response""
Hello everyone, i'm getting a terrible problem that is drive me crazy this is my docker-compose.yml
[code]

And this the request that i'm trying to do.

curl -X POST \
  https://localhost:9443/users/oauth2/token \
  -H 'Content-Type: application/json' \
  -H 'Host: user-service' \
  -d '{
    "client_id": "CLIENT_ID_11",
    "client_secret": "CLIENT_SECRET_11",
    "grant_type": "password",
    "p

[2019-01-10 13:40] jl91 commented on #4181
![image](https://user-images.githubusercontent.com/12367418/50971952-82b08080-14cc-11e9-8182-6ff8bdfea6ab.png)
This is postman's console log

[2019-01-10 13:41] jl91 commented on #4181
![image](https://user-images.githubusercontent.com/12367418/50972020-a2e03f80-14cc-11e9-9880-f2a054a20289.png)
this is postman's console log.

[2019-01-10 15:48] kikito commented on #4181
Hi, are you able to Kong's logs with your setup? If your request don't make Kong produce any new log entries, chances are that the problem is on the Docker setup, and the problem isn't related with Kong specifically. If you see anything in the logs, they might point you to where the problem is.

[2019-01-10 16:11] jl91 commented on #4181
![image](https://user-images.githubusercontent.com/12367418/50980934-f9577900-14e0-11e9-82b2-b9641d676be9.png)

this is the initial docker-logs, and this is just the logs that i have inside kong container

![image](https://user-images.githubusercontent.com/12367418/50981180-8a2e5480-14e1-11e9-8371-bf0695684e8c.png)

inside container has no logs about 9443 ports

[2019-01-10 16:11] kikito commented on #4174
Have you installed Kong manually, or via homebrew? Are all the required dependencies by 1.0 up to date in your system? (Openresty 1.13.6.2, OpenSSL 1.1.0) Have you followed the steps in the [UPGRADE.md file](https://github.com/Kong/kong/blob/master/UPGRADE.md#upgrade-to-100)?

[2019-01-10 16:34] kikito commented on #3963
I confirm that the situation is due to the usage of `hide_credentials` in key-auth. When that option is used, the plugin is expected to clear the credentials from both the query string and the headers, if it exists there.

Headers can be cleared individually, but not query string attributes: when an element needs to be changed, the whole query string must be changed. Hence the alphabetic sorting.

[2019-01-10 16:38] kikito commented on #4103
I am going to close this issue as the question was answered (No, currently Kong doesn't support QUIC-google-protocol).

[2019-01-10 16:38] #4103 closed

[2019-01-10 16:43] kikito commented on #4048
Thanks a lot for the PR! I have merged it so it will be in the next Kong release.

[2019-01-10 17:54] hbagdi opened #4183 "Kong 1.0 migration bug with timestamp of Upstream entity"
### Summary

The `created_at` timestamp is expected to be an int as per the API docs.
The field is an int for upstreams created in Kong 0.14.1 but is returned as a float in Kong 1.0.0.

Please note that the upstreams created in 1.0.0 return the field as int as well, only the upstreams migrated from 0.14.1 to 1.0.0 return the created_at fields as float.
This is likely due to change in precision fro

[2019-01-10 18:08] jeremyjpj0916 commented on #4055
@ Kong-Team, is there a quick and dirty way to possibly prevent 404 router errors on routes that should exist on 0.14.1 until we can get to 1.0 with the pending bungle router rebuild pending PR? We just had it hit us in prod even and there are not that many service/routes in prod(maybe higher throughput and load plays a role in causing the issue too)? If I were to increase our KONG_CASSANDRA_TIMEO

[2019-01-10 19:11] #4181 closed

[2019-01-10 19:37] p0pr0ck5 commented on #4164
I spent a bit of time digging into some granular data generated by @jeremyjpj0916 from a request that reported 726ms of latency. This was a cold-cache request- the cache entries needed by the plugins iterator were all misses. A few high-level data points:

- DNS resolution called by `balancer.toip`: 10 ms
- Shortest-running CQL query: 5.5ms
- Longest-running CQL query: 121ms
- Sum of CQL query tim

[2019-01-10 19:47] #4175 closed

[2019-01-10 20:00] remyMenetrieux opened #4184 "kong 1.0 failed after migrations bootstrap on postgresql"
NOTE: GitHub issues are reserved for **bug reports only**. For anything else,
please join the conversation in Kong Nation https://discuss.konghq.com/.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

on redhat with postgresql on other

[2019-01-10 20:11] hishamhm commented on #3949
Fixed in #4162 — thanks for reporting!

[2019-01-10 20:11] #3949 closed

[2019-01-10 20:15] hishamhm commented on #4164
Great to hear! Thanks @p0pr0ck5!

[2019-01-10 22:23] jeremyjpj0916 commented on #4164
@p0pr0ck5 thanks for taking some time to investigate all this with me! Glad to see it yielded core improvements. Onward and upward towards a bulletproof Kong 🐒 . Haven't tried @hishamhm latest PR change yet so I will give this a go when I get some time and report back and we can hopefully close up this issue! Still hoping something makes it into the router perf/stability on 1.1 from past conversat

[2019-01-10 23:49] bungle commented on #4184
already been fixed here: https://github.com/Kong/kong/pull/4167

[2019-01-11 00:10] GoverningCloud opened #4186 "Increasing kong upstream (read timeout) is having no effect on gateway timeout"
NOTE: GitHub issues are reserved for **bug reports only**. For anything else,
please join the conversation in Kong Nation https://discuss.konghq.com/.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

Kong is using its default timeout

[2019-01-11 00:11] p0pr0ck5 commented on #4186
The message

indicates that the _client_ dropped the connection. Have you verified the timeout settings of the client initiating the request?

[2019-01-11 15:00] vietwow opened #4188 "Kong 1.0 failed to enable anonymous consumer in plugin "key-auth" in service"
### Summary

I deployed Kong 1.0 on K8s using official helm chart, kong is running well, but when I try to enable anonymous consumer in plugin "key-auth" in service, then I got got error :

{"message":"schema violation (config.anonymous: expected a valid UUID)","name":"schema violation","fields":{"config":{"anonymous":"expected a valid UUID"}},"code":2}

I have re-checked that ANONYMOUS_CONSUMER_I

[2019-01-11 19:30] p0pr0ck5 commented on #4184
Closing given the above; this is slated for release in 1.1.0 based on the GitHub milestone.

[2019-01-11 19:30] #4184 closed

[2019-01-11 19:47] p0pr0ck5 commented on #4069
Hi,

Can you include an example client request/response that highlights the problem?

[2019-01-11 20:24] jeremyjpj0916 commented on #4055
Well i tried to isolate to https://github.com/Kong/kong/pull/4107/files on 0.14.1 and that ended up not actually doing it, still saw no 404's occuring on changes.

Next I tried the full: https://github.com/Kong/kong/pull/4102/files leaving off the new config value and its snippits in the loader but by just modifying the 0.14.1 runloop/handler.lua , and leaving init still
[code]

[handler.lua.txt](

[2019-01-11 22:05] bungle commented on #4188
The problem is that you used single quotes `'` in your last call:
[code]
Change that to:
[code]

I close this. If I got it wrong, please reopen and provide more information.

[2019-01-11 22:05] #4188 closed

[2019-01-11 22:14] bungle commented on #4186
If you want to ignore client timeout, then start your kong with:
[code]

See also:
https://github.com/openresty/lua-nginx-module#lua_check_client_abort

Not sure if we should enable it by default.

[2019-01-11 23:04] p0pr0ck5 commented on #4131
The error logs you've posted:

` upstream timed out (110: Connection timed out) while reading response header from upstream`

Indicate that the timeout is coming from the upstream service, not Kong. You should check the upstream service to ensure it can handle the amount of traffic you're throwing at it (for example, depending on client configuration, and particular with the `ab` tool which is ver

[2019-01-11 23:05] p0pr0ck5 commented on #4129
Hi @ivangfr,

Are you able to observe the same behavior on Kong 1.0?

[2019-01-11 23:06] p0pr0ck5 commented on #4124
This was resolved with the release of Kong 1.0, which resulted in a standardized codebase for all database access objects.

[2019-01-11 23:06] #4124 closed

[2019-01-11 23:07] p0pr0ck5 commented on #4120
Closing this, given the above. The discussion on the forums linked above is the appropriate place to continue any questions/comments here. Thank you!

[2019-01-11 23:07] #4120 closed

[2019-01-11 23:17] p0pr0ck5 commented on #4104
Hi @JoyZhang66,

Are you able to reproduce this behavior with the latest release of Kong (1.0)?

[2019-01-11 23:18] p0pr0ck5 commented on #4060
Closing this, given the above. Please follow the PR noted above for any further updates. Thank you for the report!

[2019-01-11 23:18] #4060 closed

[2019-01-11 23:19] p0pr0ck5 commented on #4052
I don't think this is a bug. The difference between a _null_ (nonexistent) value and an _empty_ value is meaningful. Perhaps @shenruisi you could make a PR to the open-source documentation (https://github.com/kong/docs.konghq.com) to clarify this if it's confusing?

[2019-01-11 23:19] #4052 closed

[2019-01-11 23:21] p0pr0ck5 commented on #3985
@hyyan112 any update on the question posed above?

[2019-01-11 23:31] p0pr0ck5 commented on #3963
From https://tools.ietf.org/html/rfc3986#section-1.2.3:

and

I can find no reference in any established or accepted RFC that indicates that the order of query params is semantically relevant. It might be worth an adjustment to the plugin which would result in more cost and not deliver a semantically-meaningful result, though I'm not sure.

Also worth noting this has been reported upstream a few t

[2019-01-11 23:35] p0pr0ck5 commented on #3961
Closing this, given the above. Kong 1.0 ships with a number of performance improvements, as does the pending release of 1.0.1 (e.g. the PRs linked to https://github.com/Kong/kong/issues/4164).

Given this, and the staleness of the issue, I am closing this. If there is more concrete data to be presented, please feel free to re-open this issue. Thanks!

[2019-01-11 23:35] #3961 closed

[2019-01-11 23:35] p0pr0ck5 commented on #3911
@kikito @bungle any update on the above? ^

[2019-01-11 23:36] p0pr0ck5 commented on #3940
I'm going to close this, given the lack of response and the staleness of the issue. @rocketspacer or anyone else if you encounter this with Kong 1.0, please feel free to leave a comment here and we can re-open the issue and examine. Thank you!

[2019-01-11 23:36] #3940 closed

[2019-01-11 23:40] p0pr0ck5 commented on #3785
Closing, given the above (a lack of bug/feature request for Kong, and a well-documented behavior in the underlying Nginx server).

[2019-01-11 23:40] #3785 closed

[2019-01-11 23:40] p0pr0ck5 commented on #3781
@rahimimo can you verify if the behavior noted above manifests in Kong 1.0?

[2019-01-11 23:41] p0pr0ck5 commented on #3763
@ZTzha sorry, but given the lack of detail and staleness here I'm going to close this. Please feel free to post in https://discuss.konghq.com if you've questions on using Kong!

[2019-01-11 23:41] #3763 closed

[2019-01-11 23:42] p0pr0ck5 commented on #3747
@zhou-yi sorry, but given the lack of detail and staleness here I'm going to close this. Please feel free to post in https://discuss.konghq.com if you've questions on using Kong!

[2019-01-11 23:42] #3747 closed

[2019-01-11 23:42] p0pr0ck5 commented on #3727
@tejas3190 ping, any note on the above?

[2019-01-11 23:43] p0pr0ck5 commented on #3725
@pudgereyem can you verify if this same behavior manifests in the latest release of Kong (1.0)?

[2019-01-11 23:45] p0pr0ck5 commented on #3724
This has been resolved in the latest release of Kong 1.0, given the presence of the PDK and saner handling of request/response data (https://docs.konghq.com/1.0.x/pdk/).

[2019-01-11 23:45] #3724 closed

[2019-01-11 23:45] p0pr0ck5 commented on #3713
I've labelled this as 'needs investigation'. If anyone in the community is able to propose a PR for this, that would be welcome!

[2019-01-11 23:48] p0pr0ck5 commented on #3709
@Dauto98 sorry, but given the lack of detail and staleness here I'm going to close this. This line

`INFO  [Native-Transport-Requests-2] 2018-08-16 10:12:02,728 OutboundTcpConnection.java:108 - OutboundTcpConnection using coalescing strategy DISABLED`

makes me feel like there's an issues with the Cassandra setup noted above. Please feel free to post in https://discuss.konghq.com if you've questio

[2019-01-11 23:48] #3709 closed

[2019-01-11 23:48] p0pr0ck5 commented on #3694
@HansK-p can you verify if you're still facing issues with the latest release of Kong (1.0)?

[2019-01-11 23:49] p0pr0ck5 commented on #3687
HI @curious2k,

Can you verify if you can reproduce this issue with Kong 1.0 (the latest release)?

[2019-01-11 23:52] p0pr0ck5 commented on #3629
Nginx may hang as long as the `read_timeout` is defined for the upstream object, but this does not have any impact on the service provided by Kong itself. This is in fact the correct approach- wait for the FD to respond, but we're not blocking any other requests.

[2019-01-11 23:52] #3629 closed

[2019-01-11 23:54] p0pr0ck5 commented on #3625
@curious2k can you verify if this issue manifests while using the most recent release of Kong (1.0)?

[2019-01-11 23:55] p0pr0ck5 commented on #3621
@iver3on given the staleness of this issue and the lack of response, I'm closing this now. Please feel free to leave a comment here if you've got more data and we can re-open this. Thanks!

[2019-01-11 23:55] #3621 closed

[2019-01-11 23:58] p0pr0ck5 commented on #3606
@gopalask  given the staleness of this issue and the lack of response, I'm closing this now. Please feel free to leave a comment here if you've got more data and we can re-open this. Thanks!

[2019-01-11 23:58] #3606 closed

[2019-01-12 00:08] p0pr0ck5 commented on #3456
@lljuser ping, any update on the above? Have you been able to replicate this with the latest versions of both Consul and Kong (1.0)?

[2019-01-12 00:12] p0pr0ck5 commented on #3226
This issue has since been resolved with the release of Kong 1.0 and the refactor of various internal code elements to support a saner and more stable database access layer.

If a similar issues in Kong 1.0 with Service/Route objects is observed, please feel free to re-open this issue and we can examine it. Thanks!

[2019-01-12 00:12] #3226 closed

[2019-01-12 00:13] p0pr0ck5 commented on #3166
Is this solved in the new DAO?

[2019-01-12 00:15] p0pr0ck5 commented on #3118
Given that a). the `certificate` has been obsolete for over a year now (since Kong 0.10), and b). API objects (including the `ngx.ctx.api` reference), and c). the direct use of `ngx.ctx` is deprecated via the PDK (https://docs.konghq.com/1.0.x/pdk/kong.ctx/), I'm going to close this issue considering its staleness and irrelevance.

[2019-01-12 00:15] #3118 closed

[2019-01-12 01:07] hbagdi commented on #3166
So, the new DAO returns an empty list for or an explicit null, based on the default:

[code]

[code]

[2019-01-12 01:07] #3166 closed

[2019-01-12 03:30] p0pr0ck5 commented on #819
Meh, do we really care about this anymore?

[2019-01-12 03:31] p0pr0ck5 commented on #1218
Closing this, given that it's been solved (and @subnetmarco's thumbs up on the previous comment). Huzzah!

[2019-01-12 03:31] #1218 closed

[2019-01-12 03:33] p0pr0ck5 commented on #1668
Given the staleness of this, the resolving comment at https://github.com/Kong/docker-kong/pull/71#issuecomment-328615683, and the nature of the issue (redirecting the file-log plugin elsewhere), I'm going to close this. Feel free to re-open it or open a discussion at https://discuss.konghq.com if this seems unresolved.

[2019-01-12 03:33] #1668 closed

[2019-01-12 03:34] p0pr0ck5 commented on #1981
@shashiranjan84 if you've time, are you able to eyeball this? You're assigned to it, and it seems pretty stale, but I'm not sure if there's anything actionable yet here.

[2019-01-12 03:35] p0pr0ck5 commented on #1821
Given that the original issue is over two years old, seems use-case specific, is not a bug report or feature request, and is very stale, I'm going to close this. Please feel free to continue any LDAP-usage discussion via the forums at https://discuss.konghq.com. Thanks!

[2019-01-12 03:35] #1821 closed

[2019-01-12 03:38] p0pr0ck5 commented on #2124
The query patterns with this have changed extensively with the latest release of Kong (1.0). @vkorehov would you be able to try testing/reproducing this with the most recent version of Kong? Given the staleness of this I'm going to close the issue, as the query pattern is no longer relevant with Kong.

[2019-01-12 03:38] #2124 closed

[2019-01-12 03:39] p0pr0ck5 commented on #3565
@ms2008 can you verify if this behavior is observed in the latest release of Kong (1.0)? I was not able to reproduce this, but would like to get some feedback if possible.

[2019-01-12 03:41] p0pr0ck5 commented on #4074
@theashwin007 out of curiosity, are you able to reproduce these results with the latest release of Kong (1.0)?

[2019-01-12 03:42] p0pr0ck5 commented on #3954
@JJMEI can you enable debug logging on Kong nodes that are observing this behavior and post that here?

[2019-01-12 03:43] p0pr0ck5 commented on #3899
@jkumar-roambee can you verify if you see this same behavior on Kong 1.0?

[2019-01-12 03:44] p0pr0ck5 commented on #3509
@ololosha228 please, don't hijack someone else's thread.

@raghunath1986, are you able to reproduce this behavior in Kong 1.0 in your environment?

[2019-01-12 03:46] p0pr0ck5 commented on #2630
Given the age and staleness of this issue, and the major rework that went into migrations for the release of 1.0, I'm closing this issue. If there's still a pending issue here that hasn't been addressed for a maintained version of Kong, please feel free to leave a note here and we can re-open this and look into it.

[2019-01-12 03:46] #2630 closed

[2019-01-12 05:02] thibaultcha commented on #819
Oh no...

[2019-01-12 05:02] #819 closed

[2019-01-12 07:57] jeremyjpj0916 commented on #4164
Tested with @hishamhm's latest pending PR included, the before and after are a nice cold cache shave indeed in the wild on 1.0:

Before that PR on 1.0(with the other recent ones still there):
[code]

After that PR on 1.0:
[code]
I am comfortable with that number, seems a bit more inline with what 0.14.1 dished out, still slightly higher than 0.14.1 at a similar resource count but I did just give o

[2019-01-12 15:18] rucciva opened #4191 "Kong plugins doesn't get executed unless kong reloaded or restarted"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

After creating around 72 services, 72 route, 3*72 route's plugins, 72 consumer, 72 routes + consumers plugins,  when sending the request to any route, the plugins won't get executed. Onl

[2019-01-12 17:39] gjovik-win commented on #3694
Hello
Looks like the only upgrade path from Kong v. 0.13 to Kong v. 1.x goes through Kong v. 0.14. Which means I'm not able to upgrade this particular Kong instance from v.0.13 to v.1.0 without applying the workaround (and converting apis to routes and services).

The upgrade path Kong v. 0.13 => Apply workaround => Kong v.0.14 => Delete apis => Kong v.1.0 worked well (test based on old backup).

[2019-01-12 18:57] shashiranjan84 commented on #1981
Problem seems to be with Cassandra than Kong, more of networking issue on overlay network. @supritshah1289 are you still facing the issue?

[2019-01-12 19:04] ctessier commented on #1981
Hi @supritshah1289, I didn't reproduce the issue since last july. Since we are not using the cluster mode, we switched to Postgres.

[2019-01-12 19:05] supritshah1289 commented on #1981
@shashiranjan84  Yes, I am still facing the same issues.

[2019-01-12 19:10] thibaultcha commented on #1981
@supritshah1289 Have you tried with Kong 1.0? The latest versions of Kong include a fix in the Cassandra driver for some of the error messages you encountered here.

[2019-01-12 19:43] supritshah1289 commented on #1981
@thibaultcha I have not. I will give try it on Monday. Thank you

[2019-01-13 02:05] jeremyjpj0916 commented on #4138
What Mr. Bungle did here with https://github.com/Kong/kong/pull/4178 took a 2 full minutes Kong deploy startup time and brought it down to about 2-4 seconds. CRAZY impressive.

Output of debug startup logs after applying that PR minus the assert db close that causes the PR to break for me in dev:

[code]

If yall are comfortable with that PR I can certainly see the benefits(and notice how the outp

[2019-01-13 02:15] p0pr0ck5 commented on #4138
👏👏👏 nice work @bungle, as always. The trick here was avoiding the overhead of constantly reconnecting to Cassandra during initialization, and instead re-using the same connection. In a few hours I will try to replicate the assertion errors you’ve reported as well. Thanks!

[2019-01-13 02:38] p0pr0ck5 commented on #4164
As noted before, this is a function of the plugins iterator, not the db calls needed to rebuild the router. The plugins iterator loads plugins configs based on the tuple of route/service/consumer present in the request. So for requests to a route that previously hasn’t been seen by Kong, a separate set of queries is issued to attempt to load plugin configs that may be applicable to the request. Th

[2019-01-13 04:50] jeremyjpj0916 commented on #4164
Sounds good to me then. Closing up issue as PRs have been merged and prove effective.

[2019-01-13 04:50] #4164 closed

[2019-01-13 06:34] jeremyjpj0916 commented on #4055
@bungle QQ I have been testing the pending PR https://github.com/Kong/kong/pull/4102 on 1.0 tonight with high throughput on the -1 setting and its been great so far where service/route addition's/deletions are not causing any impact to the gateway. In what situation does "(if timer creation fails, new router will not be build, but you can trigger a new try with modifying routes or services)" occur

[2019-01-14 02:42] JustUse opened #4193 "Add services path and routes paths '.***' in the end, Kong could not proxy Microservice"
Hello Guys.

At first, I tried to simply proxy the service.

1. curl -i -X POST http://localhost:8001/upstreams -d 'name=mt'
2. curl -i -X POST http://localhost:8001/upstreams/mt/targets -d 'target=localhost9000' -d 'weight=100'
3. curl -i -X POST http://localhost:8001/services  -d 'name=mt-service' -d 'host=mt' -d 'path=/mt/dw'
4. curl -i -X POST http://localhost:8001/services/mt-service/routes -

[2019-01-14 03:02] icyxp commented on #4174
i installed kong manually, The software dependencies required by kong 1.0.0 meet the requirements. i followed the steps in the upgrade.me file

[2019-01-14 05:59] jeremyjpj0916 commented on #4138
Update: Even sanbox perf tested to 5k total route+service combo's which each had 2 plugins on route, consumers each with oauth/jwt tokens. The bungle patch gets that node up running in 11 seconds flat. I suspect without it I would be stuck at a 10 minute startup 😆. #BungleTooStronk

[2019-01-14 07:01] jeremyjpj0916 opened #4194 "Kong 1.0 "5K resource challenge/Plugin+Router map build" findings/errors(Pending Bungle PR fixes this)"
### Summary

Made it my weekend mission to vet Kong 1.0 as hard as I could in our real sandbox environment. Many awesome PRs have brought great improvements based on earlier reports. I decided to crank it up to a final test, I build out my Sandbox Kong to:

5k service/route pairs. Each with oauth2 + acl with a whitelist entry (so 2 plugins per route).
5k consumers each with an acl whitelist group

[2019-01-14 09:17] bungle commented on #4194
This certainly refers to this:
https://github.com/Kong/kong/blob/master/kong/templates/nginx_kong.lua#L35

Maybe we'll need to adjust that a bit?

[2019-01-14 12:48] ramzioueslati commented on #4129
Hi

Try config.limit_by=credential in your rate limiting configuration.

By default it limits by consumer and ldap-auth does not set ngx.ctx.authenticated_consumer though it does set ngx.ctx.authenticated_credential.

HTH,
Ramzi

[2019-01-14 15:07] Dubrzr commented on #3713
It seems to be this line: https://github.com/Kong/kong/blob/fe83467206794e140ee4c7888fc19a3bebf42d9b/kong/plugins/basic-auth/access.lua#L182

I also found this bug here: https://github.com/Kong/kong/blob/0f2d77b678624b0383c0c80c01319cdee5b65cdb/kong/plugins/ldap-auth/access.lua#L222

It also means tests should be updated but I think this is not a complicated job.

[2019-01-14 16:09] ivangfr commented on #4129
Hi @ramzioueslati ,

Thanks for our suggestion! I changed the rate limiting configuration as you suggested
[code]

However, I continue facing the same problem.

The configuration of the two plugins set to `$PRIVATE_ROUTE_ID`, `rate-limiting` and `ldap-auth` is shown below
[code]

Best regards

[2019-01-14 23:14] bungle commented on #4193
Hi @JustUse,

It is possibly that your route is in that case considered as a `regex` as it does not match this pattern `[[^[a-zA-Z0-9\.\-_~/%]*$]]`, see the `*` makes it regex. Maybe that gives you some pointers?

[2019-01-15 01:15] JustUse commented on #4193
Thank you for your recommend , but my path is 'localhost:8000/mt/dw/queryCompany.mm'.  It looks like regular expressions are not used. I just only want to match this path. How to set my route and service ,can you help me? thank you!

[2019-01-15 01:35] JustUse commented on #4193
Hi bungle, my question contains the '*',  just for some words. For example ,the path has '.mm', '.index', '.html'  in the end.  The path I can not match  : (

[2019-01-15 02:33] samwonwyd commented on #267
If two plugins's phases and priority are same,  which one will be executed first?

[2019-01-15 07:53] JustUse commented on #4193
Oh my god, I have always thought that the rate-limiting as a symbol of the success of the agency, so,the rate-limiting failed.(The logs are as follows)  It was my mistake - -

1. 2019/01/15 14:14:25 [error] 22362#0: *50954 [kong] handler.lua:107 [rate-limiting] failed to get usage: [Invalid] Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. I

[2019-01-15 08:33] bungle commented on #4193
oh, if that is a case, it looks lije a bug. thank you for reporting.

[2019-01-15 08:44] ramzioueslati commented on #4129
Hi @ivangfr

I don't know the specifics and I haven't tried it myself. I just had a look at the code and found out that ldap-auth (my kong version is 0.12) only sets the authenticated_credential in context when authentication is successful.
Sorry it didn't help.

[2019-01-15 08:50] JustUse commented on #4193
Hi!  In fact, many errors were reported at the kong of migrations database, but I ignored them because the initialization was successful at last.(as follows)

[kong@localhost apache-cassandra-3.11.3]$ kong start
database needs bootstrapping; run 'kong migrations bootstrap'
Error: /usr/local/share/lua/5.1/kong/cmd/start.lua:46: nginx: [error] init_by_lua error: /usr/local/share/lua/5.1/kong/init.lu

[2019-01-15 09:08] ms2008 commented on #3565
@p0pr0ck5  I gave it a try, and no this issue found in the Kong 1.0.

[2019-01-15 09:09] fasimito opened #4200 "how to integrate Kong with consul in docker? Is there any example"
hi all

I want to make the Kong as a gateway, and consul as the registery center to manage many microservice; I also need run this in docker-compose environment.

I searched on the google for the solution, unforturnately, I can't find a suitable one, could you offer me some help? thx

[2019-01-15 09:13] Tieske commented on #4200
We appreciate you took the time to open an issue for this. However, kong github issues are for bug reports only. I'd like to ask you to post this on the [Kong Nation forum](https://discuss.konghq.com/)

I'll close this issue now. If you think this was closed in error, then please reopen.

That said: Consul has a DNS interface, so it exposes the services as DNS records, those can be used from Kong

[2019-01-15 09:13] #4200 closed

[2019-01-15 09:43] ms2008 commented on #3565
The memory usage stats dumped by lj-gc-objs tool attached below, it seems a FFI problem?
[code]

[2019-01-15 09:46] bungle commented on #4193
1. On new databases: run `migrations bootstrap`
2. If upgrading run `migrations up` and after that `migrations finish`

the second is two step as it is meant for blue/green, where you have both old nodes and new nodes running at the same time. Before you run finish you should only have the new ones.

[2019-01-15 10:02] JustUse commented on #4193
I just initialized it with  new cassandra databases, migrated it with the above commands, and then reported a lot of errors, you can also try it.

[2019-01-15 14:08] bungle commented on #4194
@jeremyjpj0916 not sure if this has any effects, probably less so that the router rebuild thing, but still I made it to plugins map too: https://github.com/Kong/kong/pull/4202

It can possibly fix the:
[code]

The patch is very similar to router rebuild timer thing, so you might want to try:
[code]

Or start Kong with `KONG_ROUTER_TIMEOUT=-1 KONG_PLUGINS_MAP_TIMEOUT=-1 kong start`.

[2019-01-15 14:38] jeremyjpj0916 commented on #4194
@bungle If I get some time here next few weeks I will give the "5k challenge" another go from an empty keyspace. Will let you know how the results go and if it help alleviate the "failed to rebuild plugins map" errors. Realistically 5k proxies/consumers/acls is awhile away for us, but I rather get a head start and try to point out all these problems much ahead of time so Kong can potentially harde

[2019-01-15 14:38] bungle commented on #4193
Yes, but I cannot reproduce:
[code]

[2019-01-15 14:58] JustUse commented on #4193
Two-node cassandra database cluster needs to be built，and try again to migrations bootstrap??

[2019-01-15 20:30] p0pr0ck5 commented on #4193
@JustUse just to note, the question of regexes revolves around the use of of the `.` character in your routes, not the `*`.

The migrations issues noted here are orthagonal and should be ignored in this issue; please consider opening a separate issue.

@JustUse can you show a _specific_ HTTP request that you expect to match your route, that does not?

[2019-01-15 23:42] thibaultcha commented on #1807
With the separation of the API entity in Services and Routes since 0.13, we consider this resolved. See more details in this blog post: https://konghq.com/blog/kong-ce-0-13-0-released/

[2019-01-16 00:47] JustUse commented on #4193
I have always thought that the rate-limiting as a symbol of the success of the agency, so,the rate-limiting failed.(The logs are as follows)  I used  cassandra database cluster with two nodes.

2019/01/15 14:14:25 [error] 22362#0: *50954 [kong] handler.lua:107 [rate-limiting] failed to get usage: [Invalid] Cannot execute this query as it might involve data filtering and thus may have unpredictable

[2019-01-16 10:34] kikito commented on #4183
This has been solved via a two-prong attack:

* On #4204 I made a change to the schema so that it floors numbers it gets from the database when it is expecting an integer. That'll enter 1.0.1
* On #4196 I made a migration which floors the numbers in the database itself. That will enter 1.1.0

[2019-01-16 10:34] #4183 closed

[2019-01-16 17:52] Bevisy opened #4209 "how to change the db from pg to mysql"
Can we chang the backend db from pg to mysql?

[2019-01-16 17:58] hishamhm commented on #4138
With #4718 merged, I guess we can close this one then? Thanks once again @jeremyjpj0916 for all the testing and @bungle for the fix!

[2019-01-16 17:58] #4138 closed

[2019-01-16 18:07] hishamhm commented on #4193
`Some partition key parts are missing: api_id`

The rate-limiting plugin in Kong 1.0.0 should not be referring to `api_id`. Are all your Kong nodes running 1.0.0?

[2019-01-16 18:18] #4132 closed

[2019-01-16 19:31] jeremyjpj0916 commented on #4209
No way currently, only Cassandra and PostgreSQL are current supported db's, the new DAO model implemented in 1.0+ should make it possible to PR new database integrations if you have the time to engineer it!

[2019-01-16 23:22] jeremyjpj0916 commented on #4138
@hishamhm I was awaiting @p0pr0ck5 evaluation, the @bungle PR breaks Kong 1.0 for me when the assert(db.close()) is included in the PR as commented here with the stacktrace:
https://github.com/Kong/kong/pull/4178

I fear it may break for others as well in the wild. The way I fixed it was to comment out the close assertion.

[2019-01-16 23:31] jeremyjpj0916 commented on #4138
@p0pr0ck5 yes it was applied directly onto the 1.0 release(with other patches involved as well at the time),

I think this was the full patch set I ran ontop of with 1.0:
4102
4179
4178
4177
4182

C*, RequestAwareDCRoundRobin or w/e that setting is and then my 3 local nodes + 3 remote dc nodes listed as hosts.

[2019-01-17 01:06] JustUse commented on #4193
Yes, two Kong nodes running 1.0.0, and when i used cassandra database cluster , it got some errors.

[2019-01-17 02:02] #4209 closed

[2019-01-17 05:40] jayanth2810 commented on #3402
@europelee May I know how you made Kong query dnsmasq ?

[2019-01-17 05:49] jeremyjpj0916 commented on #4194
Also without the PR you did above I did try deleting a ton of stuff pretty quickly via the admin api. that seemed to be able to produce TONS of those failed to build plugin errors like so(probably because of how fast I am deleting things with 5k resources, but when you write programatic code it would be great if Kong can handle it gracefully updating the plugins fully in background when it has the

[2019-01-17 18:02] jeremyjpj0916 opened #4212 "Can't deploy on Kong 1.0.1, init errors out"
### Summary

Can't start on 1.0.1

Output here:
[code]

Same issue I reported here:
https://github.com/Kong/kong/pull/4178
And here:
https://github.com/Kong/kong/issues/4138

In this deployment of 1.0.1 I am not running any custom kong pr patches(since all those 1.0.0 perf PRs are now merged).

### Steps To Reproduce

I don't know how to reproduce it, just happens on start every time. The fix for

[2019-01-17 19:05] bungle commented on #4212
I guess changing this:
https://github.com/Kong/kong/blob/master/kong/db/strategies/cassandra/connector.lua#L241

to
[code]

also fixes it.

[2019-01-17 19:06] subnetmarco opened #4213 "Acting upon the authenticated credential needs more failchecks"
Some plugins act upon retrieving the authenticated credential from the context, and fetching it's `id` property. The problem is that the `id` property is not always set by the authentication plugin, and that check fails.

Rate-Limiting is currently affected by this in both Kong and Kong Enterprise (https://github.com/Kong/kong/blob/master/kong/plugins/rate-limiting/handler.lua#L35-L36).

But more

[2019-01-17 19:13] jeremyjpj0916 commented on #4212
@bungle I will give that a go too and let you know if that fixes it too.

[2019-01-17 19:55] hishamhm commented on #4212
@jeremyjpj0916 sorry about dropping the ball on those comments that reported this particular issue (lots of issues and PRs in flight at the same time leading up to release). We're trying to reproduce the issue locally to get a better hang of the circumstances triggering it.

[2019-01-17 20:10] jeremyjpj0916 commented on #4212
No dice on the return true patch at that line. Still seeing the errror:
[code]

[2019-01-17 20:17] bungle commented on #4212
@jeremyjpj0916

That was unexpected, so it leaves us with this:
https://github.com/Kong/kong/blob/1.0.1/kong/db/strategies/cassandra/connector.lua#L249

Can you quickly try to change this:
https://github.com/Kong/kong/blob/1.0.1/kong/db/strategies/cassandra/connector.lua#L248

to:
[code]

[2019-01-17 20:18] jeremyjpj0916 commented on #4212
Want me to also leave the above as return true or revert it @bungle ?

[2019-01-17 20:23] bungle commented on #4212
@jeremyjpj0916 both can be there.

[2019-01-17 20:26] jeremyjpj0916 commented on #4212
@bungle gave it a go(but had already reverted the first recommendation before seeing your response). The second recommendation worked and fixed the stacktrace error and Kong is now running. Maybe a 1.0.1 hotfix release otw if that change does not cause unforeseen issues anywhere else 👍 ?

[2019-01-17 20:30] bungle commented on #4212
@jeremyjpj0916 thank you! It is a bit tricky still to reproduce. I have tried cluster and everything. But why the second proposal worked is because of:
http://w3.impa.br/~diego/software/luasocket/tcp.html#close

Lua Cassandra doesn't fully normalize `OpenResty/Nginx socket` and `LuaSocket`. `LuaSocket` has no return value on `close`(?). Though it really impresses me why I cannot reproduce it, or t

[2019-01-17 20:53] bungle commented on #4212
Now I am wondering if it only happens when LuaSec wraps the LuaSocket:
https://github.com/brunoos/luasec/wiki/LuaSec-0.7#conn_close

I'll test that next (aka issue only happens with `SSL` connection).

[2019-01-17 21:21] thibaultcha commented on #4212
I have reproduced this and can confirm that it only occurs when connection to C* with client-to-node TLS enabled. A fix was opened here: https://github.com/Kong/kong/pull/4214

We'll roll out 1.0.2 with this fix.

[2019-01-17 21:43] jeremyjpj0916 commented on #4212
Woot! Glad to know it was not me being stupid(I know that yall have seen my dumb moments), I had a sneaking suspicion of mine that may have had to do something to do with us using TLS Kong->C*, hopefully something that can be added to a unit test to prevent a future regression.

[2019-01-17 21:44] thibaultcha commented on #4212
We're aiming at an urgent release for 1.0.2 (possibly today or tomorrow).

[2019-01-18 01:58] cdimascio opened #4217 "JWT verification with Kong 1.0.0 fails when using RS256 public key JOSE - Bad token; invalid typ"
**Edit:** tldr, After some investigation, it seems that Kong does not support JOSE (Json Object Signature and Validation). The 3rd party provider generated a JWT using `typ` `JWT` for me to test with. This worked. Ultimately, the issue is Kong does not support `JSON`. Can we get support for it?

### Summary

I'm trying to configure Kong to verify JWT's generated by another source
I wrote a quick t

[2019-01-18 02:00] cdimascio commented on #4217
Note: I've also written a simple Node.js script to test this. It works well. Here is the snippet

[code]

[2019-01-18 02:53] cdimascio commented on #4217
headers for the jwt are as follows:

[code]

[2019-01-18 03:16] cdimascio commented on #4217
Looks like perhaps JOSE is not supported
https://github.com/Kong/kong/blob/master/kong/plugins/jwt/jwt_parser.lua#L157

If so, is this planned and is there an ETA?

[2019-01-18 09:39] ms2008 commented on #3565
Here is a flame-graphs sampled by sample-bt-leaks:

![mem_leak](https://user-images.githubusercontent.com/3797918/51378294-ed566180-1b47-11e9-8cdc-7bccda24f038.png)

[2019-01-18 10:13] JoyZhang66 commented on #4104
Hi @kidd , @p0pr0ck5 ,

Sorry for the late response, we have just completed the upgrade to 1.0 recently, and this issue has not been reproduced yet. It may have been fixed by 1.0. I'll update if I see it again.

[2019-01-18 10:23] neilalbrock commented on #4069
I will provide some more detail as soon as possible, however the problem seems to be that Kong always serves the self-signed certificate, rather than than one setup against the service.

[2019-01-18 20:30] hishamhm commented on #4191
@rucciva Thank you for the investigation! I sent a PR to fix this.

[2019-01-19 00:13] #4191 closed

[2019-01-19 00:13] #4212 closed

[2019-01-19 00:14] thibaultcha commented on #4191
We just release 1.0.2, which should address this issue. Thanks for the report @rucciva!

[2019-01-19 00:15] thibaultcha commented on #4212
We just released 1.0.2 which should address this regression. Thanks for the report @jeremyjpj0916!

[2019-01-19 07:30] thibaultcha commented on #4194
@jeremyjpj0916 With 1.0.1 and 1.0.2, plus other internal priorities being worked on these days, we have delayed reviews of the router PRs until 1.1.0, for which our current timetable currently points at the second half of February. We’ll look at them soon :)

[2019-01-19 07:36] jeremyjpj0916 commented on #4194
@thibaultcha Thanks for the insight. I will provide some feedback based on how things go with my testing of it in our dev/stage/production environments as well. Its certainly a tricky business to make Kong work for every type of deploy and use case out there, but so far I have not been let down 😄 . Looking forward to second half of February then, keep rocking.

[2019-01-19 22:06] bungle commented on #4194
@jeremyjpj0916,

yes, I also thought about those two config options, and I agree that as a whole they are for discussion (and real pr should combine them). I don't love adding those config parameters, but couldn't figure out another way (the current implementation use that db timeout which we could use here, but that feels wrong). Maybe something intelligent and auto adjusting.

Though I think we

[2019-01-19 23:57] jeremyjpj0916 commented on #4194
Did some chaos testing and analysis, My current sandbox has about 1,700 service/route pairs and about 3,400 plugins(2 per route/service)

When under load the first testing I did was around adding a new service/route pair and then deleting both every 5 seconds then waiting another 5 seconds and adding it back. This seems to not cause any impact to existing proxies nor threw any errors in stdout.

S

[2019-01-20 06:16] bungle commented on #4194
Yes, this is an error that we could try to retry. Or you could set the timeout (of these two new config params) to 0 or 1 instead of -1 for a request time fallback. With async 404 is expected for short period of time. It'll be interesting to find out why this error happens in a first place (I think it is really bad sing for Cassanda to throw Null Pointer Exception and this should be reported to th

[2019-01-20 06:35] jeremyjpj0916 commented on #4194
Right, I am up at night here thinking this is more than just a Kong problem honestly too, these NPE's from C* are strange and I can't say I am well versed in C*, I will check all my C* node logs to see if I see anything to go off of there too(Wondering if yall have seen these sorts of errors in the wild too?). I will give the 0/1 a go to see if any changes. I am scaling down my Kong env in sandbox

[2019-01-20 07:17] bungle commented on #4194
I will provide you rebased and a more robust version of this on monday. E.g. a one that retries with -1 on errors. We could also ignore error if the plugin map or router version has changed. Perhaps a limited number of tries with some sleep between the tries to overcome that NPE (which is perhaps a connectivity issue or a problem with page offset if a subsequent page query goes to different node).

[2019-01-20 07:31] jeremyjpj0916 commented on #4194
I don't want my dialog and rambles take away from your work priorities mate, you have helped a ton as is around this problem. I am just trying to give as much detail on this github issue thread as I can for what I am seeing so when yall do look to perf the core in Feb you have ammo and real world metrics/errors(because ultimately we have the same wants here, best Kong core implementation possible)

[2019-01-20 08:40] bungle commented on #4194
Yes no problem, it is going to be a small change, that doesn't really affect my priorities.

About 404.

With -1 when new route is added, it will not really be there until async timer finishes building a new one, and workers getthis through worker events. In case of cluster there is also cluster events to be considered, which work based on polling (by defaut 5 secs). The bad thing about this is th

[2019-01-20 19:43] jeremyjpj0916 commented on #4194
I think we may not be on the same thought for what I saw with the 404 behavior so let me clarify a bit:

Had the 1,700 existing routes. one of the was /api/loadtest. This is the endpoint I loadtested @ 120 TPS against a single Kong node.

The chaos testing I did is creating/deleting with 5 second waits in between a new service/route pair with a plugin(ACL was my choice) on it every time, not ever

[2019-01-21 05:32] icyxp commented on #4174
Can someone help me with the repair? @p0pr0ck5 @kikito

[2019-01-21 05:33] p0pr0ck5 commented on #4174
What flags did you use to compile openresty?

[2019-01-21 05:40] icyxp commented on #4174
complie openresty command:
[code]
openresty 1.13.6.2 can run success
[code]

[2019-01-21 07:12] manoj-nair commented on #3572
None. Thanks.

[2019-01-21 07:12] #3572 closed

[2019-01-21 09:15] nnsay opened #4223 "kong:1.0.1-centos can not start"
### Summary
the docker image(kong:1.0.1-centos) of kong can not start or make test

### Steps To Reproduce

1. edit the docker-compose.yaml
2. docker-compose up
3. docker exec -i -t kong bash
4. make test

### Additional Details & Logs

- Kong version (`$ kong version`): 1.0.1
- Kong debug-level startup logs (`$ kong start --vv`):
[root@c94d56e3649c plugins]# kong start --vv
/usr/local/openresty/n

[2019-01-21 11:19] bungle commented on #4194
@jeremyjpj0916,

I think you understood goals correct. `-1` (has no impact on request and leverages old router and plugins map), `0` (has minimal impact on request and leverages old router and plugins map, only starts a timer if needed). Positive values are very close to current `1.0.2` behavior (but there is still the background timer and those worker events and cluster events — which ever picks

[2019-01-21 11:56] Tieske commented on #4223
Please retry this with 1.0.2

[2019-01-21 12:18] ms2008 commented on #3565
Oh, I overlooked something, which is that the `db_cache_ttl` should be configured as 0 and must have multiple worker configured.

This issue actually caused by plugin configuration cache missed from L1. Then triggered a shm lookup of L2, it always returns a new Lua table. We can ensure this by logging the conf's memory address in bot-detection's handler:

[code]

![nginx-error-log](https://user-im

[2019-01-21 15:21] jeremyjpj0916 commented on #4194
@bungle You have given me something to poke at today, will give it a go here on my day off 👍, thx . Does it not make sense to add a failsafe that if Kong still fails after max retries/db connection switches to continue leveraging old_router and plugins map for stability purposes(and go through trying to rebuild when another Create/Update/Delete occurs?

[2019-01-21 15:50] bungle commented on #4194
So yes, we do have failsafe. If we cannot get new router to build, the old stable one gets used. That 5 times try was just something as a limit. As I think if you cannot build one with 5 tries, it can tell a problem elsewhere (database down)? Maybe after 5 tries we can create another timer that runs after 1 minute.

[2019-01-21 16:00] jeremyjpj0916 commented on #4194
Awesome gotcha, yeah if it can fall back on old router / plugins map during failures and retry failures that would be neat. Fingers crossed this works! Tomorrow I will be discussing the C* errors we see internally too, NPEs should never occur with any application, Cassandra included but maybe even with those errors your new retry/db connection logic will overcome those sporadic NPEs. Thanks again,

[2019-01-21 17:01] bungle commented on #4194
@jeremyjpj0916 yes, at first check if C* errors are from Driver or C*. I do have a idea, e.g. it could be that for some reason, the invalid `offset` may cause this. But I am not 100% sure.

And I mayde final touches to those #4102 and #4202 (the last one has both).

The main change was these two lines:
[code]
I changed to:
[code]

Should be even better now, and I think I can get Travis green on th

[2019-01-21 19:50] jeremyjpj0916 commented on #4194
Just got back from lunch out. Trying all this stuff right now, the day I can configure a new proxy while under load without breaking our stage and now prod will be a beautiful sight 😆 . Potentially C*'s fault and certainly Kong core has room for stability improvements as you have been tackling but I feel like I chose the right gateway to leverage with how diligent you have been trying to remedy th

[2019-01-21 20:13] jeremyjpj0916 commented on #4194
Will update as I dig into things:

Testing the gateway with minimal resources now maybe 10 total service/route pairs, doing my chaos test of adding and removing a service/route that I am not calling while loadtesting the /api/loadtest path. This gets thrown in the logs pretty constantly:

[code]

[2019-01-21 21:49] subnetmarco commented on #1118
Note that deleting the schema will also delete all the data.

[2019-01-21 21:49] jeremyjpj0916 commented on #4194
Ok, next test after adding 500 service/route/plugins/consumers on the gateway(note adding service/route/plugins/cosnumers and the creds threw the lock notice for routes/plugins basically every call but no admin api calls failed, all ended up succeeding to 500 resources). Then will add the chaos test calls and loadtest my existing /api/loadtest route:

Findings are identical, no problems handling c

[2019-01-21 22:44] jeremyjpj0916 commented on #3788
Update around some of this since it also impacts 1.0+ and I think I have a better understanding of whats happening:

So the real problem here is NGINX not granular enough with its directives to allow things to allow more customization. I believe this can be fixed at the lua level though and Kong team may know the best place for these changes to live:

Based on discussions around:
https://discuss.k

[2019-01-21 22:56] bungle commented on #4194
@jeremyjpj0916,

Great and detailed reports as always from you. All log entries have been "notices", so not a lot to worry about. I'll adjust logging. Acquiring lock with 0 as timeout is expected to timeout. You can now also try -1 as it is a lot more robust now.

[2019-01-21 23:07] jeremyjpj0916 commented on #4194
@bungle I try my best, not the brightest on core Kong coding this so I try to provide as much clarity as I can in a more QA kinda way 😄 . Looking good on the 0 setting and 1,500 resources with chaos testing too. I am going to change back to -1 now as well as you mentioned because its very chatting in my stdout seeing all those notices I can't follow to see if any true errors will be reported, i as

[2019-01-22 01:46] nnsay commented on #4223
The 1.0.2-centos image can not be found in [office docker hub]( https://hub.docker.com/_/kong/).
I will have a try with [this](https://github.com/Kong/docker-kong/blob/master/centos/Dockerfile)

[2019-01-22 03:15] JustUse commented on #4193
if i used one node cassandra to migration bootstrap also did not reproduce that problem, but when i used two nodes cassandra can reproduce .

[2019-01-22 03:23] JustUse opened #4226 "When kong 1.0.0 migrations bootstrap with two-node cassandra database cluster, its got some errors ."
Hi!  In fact, many errors were reported at the kong of migrations database, but I ignored them because the initialization was successful at last.(as follows)

[kong@localhost apache-cassandra-3.11.3]$ kong start
database needs bootstrapping; run 'kong migrations bootstrap'
Error: /usr/local/share/lua/5.1/kong/cmd/start.lua:46: nginx: [error] init_by_lua error: /usr/local/share/lua/5.1/kong/init.lu

[2019-01-22 03:26] seeadoog opened #4227 "how to add authentication to call of kong admin api."
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1. now Kong admin API is exposed  and anybody can call it without authentication。I want to know is there any way to make a authenticaion to it.

[2019-01-22 03:29] #4227 closed, assigned to nobody

[2019-01-22 04:59] jeremyjpj0916 commented on #4194
Okay now at 5k resources we have our results, running at -1 config while under a chaos test adding route+service pair with acl/oauth2 plugin on route and load testing my existing proxy route:

![image](https://user-images.githubusercontent.com/31913027/51512437-e193c500-1dfd-11e9-938f-45d18f105518.png)

Basically the 404 issue has disappeared all together even at 5k resources, the admin api worked

[2019-01-22 05:02] jeremyjpj0916 commented on #4055
Closing as a dup of #4194 at this point .

[2019-01-22 05:02] #4055 closed

[2019-01-22 09:41] bungle commented on #4194
@jeremyjpj0916,

That's wonderful results. I agree with you, that maintaining database connection on rebuilding is probably the biggest improvement. I have had this in my mind for sometime, especially after getting your feedback. I feel that with Cassandra the paging is only reliable when you page through the same Cassandra node. I would say that NPE's can be something that you execute another pag

[2019-01-22 10:44] nnsay commented on #4223
The 1.0.2-centos image can not be found in [office docker hub]( https://hub.docker.com/_/kong/).
I have try with [this](https://github.com/Kong/docker-kong/blob/master/centos/Dockerfile) but still not working.
steps to reproduce:
- ~ git clone https://github.com/Kong/docker-kong.git
- ~ cd docker-kong/centos
- ~ docker build . -t kong:latest
- use the kong:latest replace the my dockerfile from val

[2019-01-22 11:09] nnsay commented on #4223
the error changes when i install the OpenSSL_1_1_0 and copy lib64/libcrypto.so.1.1/lib64/libssl.so.1.1 to /lib64.
the new error is:
[code]
so kong need which version of openssl?

[2019-01-22 16:14] jeremyjpj0916 commented on #4194
@bungle agree on basically all points here. Let me clarify one thing in what I saw. The heavy CPU saturation was when creating our all 5k resources in a loop that it reached 2+ CPU(Out of 3 allotted). And that was all that I was doing during that window, no load testing or anything else, I suspect something around the locks and rebuilds kind of builds  up when you are constantly heavily adding to

[2019-01-22 18:34] bungle commented on #4194
Yes, heavy creation on such entities causes:

1. local worker events to be send to all workers on node that made the change
2. cluster event to be sent to other nodes, which will cause a worker events to be sent on all nodes on receiving cluster node

Now making a lot of that will pile up the events (cluster and worker). I have some ideas for that (perhaps not utilizing worker events or cluster ev

[2019-01-22 22:46] hutchic commented on #4223
Since 1.0.0 Kong has required openssl [1.1.1](https://github.com/Kong/kong/blob/master/CHANGELOG.md#dependencies)

`make test` is unrelated to the issue title of "can not start" since that's not the case Kong 1.0.1-centos does indeed start
[code]

for the purposes of `make test` the official docker container isn't a great candidate I would suggest using [kong-vagrant](https://github.com/Kong/kong-

[2019-01-22 22:59] jeremyjpj0916 opened #4228 "Kong migrations 0.14.1 to 1.0.2 callback timeouts due to sometimes remote C* node selection."
### Summary

Just to bring attention to other core perf improvements we just ran migrations in a dev environment with 1,500 resources and noticed the schema consensus fails, I am not sure how long Kong waits to confirm schema consensus on the "kong migrations finish" step 2 in 1.0.2 after upgrading nodes from 0.14.1, it does not seem to be configurable nor does kong migrations finish command accep

[2019-01-23 02:13] nnsay commented on #4223
I am sorry for the `make test`. I should have given a clear explanation.

I write some plugins  and some test about kong. The function of 'make test' is running unit test. My old code is ok under kong@0.14.1. The error display when I upgrade the kong image from kong:0.14.1-centos to kong:1.0.1-centos.

openssl version is the key reason of the error according your answer. I will try to upgrade the

[2019-01-23 03:02] jeremyjpj0916 commented on #4228
@thibaultcha Thanks for the deeper insight, I did not study too much of the underlying migration cmd source besides all the timeout options and how they set the underlying db connectivity properties but I think it would be a nice to have baked into migrations to do the topology scan so Kong start shows similar behavior to Kong migration(with respect to initial db interaction being a scan to figure

[2019-01-23 03:11] JustUse commented on #4226
I also feel that the database cluster needs to be optimized for configuration, such as timeout. I try "kong migrations bootstrap --db-timeout 60", but also got same errors....

[kong@localhost apache-cassandra-3.11.3]$ kong migrations bootstrap --db-timeout

[2019-01-23 03:15] jeremyjpj0916 commented on #4226
Strange, I am just a community member but I have never been able to reproduce that. You will probably want to run in --vv mode and also give Kong team(I am just a community member) all your C* configurations and connection settings. Something seems off here.

[2019-01-23 03:22] JustUse commented on #4226
[root@localhost kong]# kong migrations bootstrap --db-timeout 60 --vv
2019/01/23 11:21:42 [verbose] Kong: 1.0.0
2019/01/23 11:21:42 [debug] ngx_lua: 10013
2019/01/23 11:21:42 [debug] nginx: 1013006
2019/01/23 11:21:42 [debug] Lua: LuaJIT 2.1.0-beta3
2019/01/23 11:21:42 [verbose] reading config file at /etc/kong/kong.conf
2019/01/23 11:21:42 [debug] reading environment variables
2019/01/23 11:21:42

[2019-01-23 03:31] JustUse commented on #4226
[root@localhost kong]# kong migrations bootstrap --db-timeout 60 --vv
2019/01/23 11:21:42 [verbose] Kong: 1.0.0
2019/01/23 11:21:42 [debug] ngx_lua: 10013
2019/01/23 11:21:42 [debug] nginx: 1013006
2019/01/23 11:21:42 [debug] Lua: LuaJIT 2.1.0-beta3
2019/01/23 11:21:42 [verbose] reading config file at /etc/kong/kong.conf
2019/01/23 11:21:42 [debug] reading environment variables
2019/01/23 11:21:42

[2019-01-23 04:23] gchristidis opened #4229 "Kong migrations bootstrap fails when backed by a cassandra cluster on versions 1.0.X/0.15.0"
### Summary

When running a `kong migrations bootstrap` on kong 1.0.2 or 0.15.0 when backed by a cassandra cluster it fails with the following error.

`/usr/local/share/lua/5.1/kong/cmd/utils/migrations.lua:75: [Cassandra error] cluster_mutex callback threw an error: /usr/local/share/lua/5.1/kong/cmd/utils/migrations.lua:68: [Cassandra error] failed to run migration '001_14_to_15' teardown: ...l/s

[2019-01-23 06:54] Maples7 commented on #4223
@hutchic
Because the openssl is installed under /usr/local/bin/kong(https://github.com/Kong/kong-build-tools/commit/1a8f8bf72fa999479961e3d88ab25287ceb5c34e), we can't do `make test` in the docker container for this directory would be deleted while testing.

But what if we need to develop our own plugins in the docker container rather than only taking the advantage of the official image to start k

[2019-01-23 08:22] hyyan112 commented on #3985
solved by restart kong instant, I think it's caused by overflow of pg connections, so I increased pool size

[2019-01-23 08:22] #3985 closed

[2019-01-23 08:34] thibaultcha commented on #4226
This feels similar to #4229, which encountered a slightly more descriptive error. I notice that the migration in question in the issue at hand here is also assuming that the schema is up-to-date in between its `up` and `teardown` step.

[2019-01-23 08:44] gchristidis commented on #4229
Thanks, will look forward to the patch, Will it be released soon ? This is holding us up at the moment, I can migrate exiting systems to 1 but I cant create new environments without making one of the code changes.

[2019-01-23 08:44] thibaultcha commented on #4228
I believe it is originally an oversight, but at the same time, as stated, doing a cluster topology scan will _still_ require a cross DC query if the contact points are not in the right order. Which is certainly more acceptable that running all of the migrations on a foreign DC node. I'll push an update, probably tomorrow, along with the patch for what seems to be the underlying issue to #4226 and

[2019-01-23 09:31] jeremyjpj0916 commented on #4228
Glad you think its a worthwhile saftey feat on the topology check with migrations though, will tread lightly for now doing it as current design allows 😄. Hopefully an easy win simple change.

 As for the other folks issues maybe I don't experience it because I do full replication and local quorum? Those days of ONE and low replication factors have hurt me enough with features/functionality to ever

[2019-01-23 12:46] JustUse commented on #4226
ok, but after migration finish with that errors, caused the rate-limiting failed.

[2019-01-23 18:49] jeremyjpj0916 opened #4232 "Plugins(OAuth2) produces nil pointer exception on 1.0.2 in certain scenario"
### Summary

Seems on a certain OAuth2 protected proxy path route I am getting a NPE, I have tested OAuth2 generally on 1.0.2 and confirmed it worked, so this must be an edge case:

[code]

I am running a slightly modified OAuth2 plugin because of a pending PR that isn't merged yet(but would not impact this NPE):
https://github.com/Kong/kong/pull/4197

But for original source code:
https://github.

[2019-01-23 19:33] jeremyjpj0916 commented on #4232
Okay I figured it out. Someone has not enabled global_credentials on the route with the plugin, and when a consumer had a token from the global auth endpoint and called the specific route endpoint protected with oauth client credentials(with no global_credentials enabled) then it then produced the NPE.

[2019-01-24 03:07] fulvi0 opened #4235 "Unable to add SSL Certificate in Kong - schema violations"
### Summary

I'm unable to load the pem and key to kong in the certificates module, it's similar to the case #3610.

### Steps To Reproduce

1.
[code]
2. Output
[code]

### Additional Details & Logs
The cert wer verify using keystore explore.

- Kong version (`$ kong version`)
1.0.1
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong error logs (`<KONG_PREFIX>/logs/error.log`)
- Kong conf

[2019-01-24 03:09] p0pr0ck5 commented on #4235
It looks like you’re trying to send the path to the certificate files- you need to send the contents of the certificate files.

For reference, have a look at

[2019-01-24 03:11] p0pr0ck5 commented on #4235
(Just to note, the issue here is not the same as the issue noted in #3610, as the content of the request to the Admin API is not correct).

[2019-01-24 03:12] thibaultcha commented on #4235
Also make sure that your both the key _and_ the certificate are in PEM format.

[2019-01-24 03:14] thibaultcha commented on #4235
Have a look at `man curl` and especially the `-F` option and its examples.

[2019-01-24 03:14] #4235 closed

[2019-01-24 03:44] fulvi0 commented on #4235
Thanks, I  followed the instruction from the [site](https://docs.konghq.com/1.0.x/proxy/#configuring-ssl-for-a-route), I could complete with https://docs.konghq.com/1.0.x/admin-api/#certificate-object

Regards

[2019-01-24 06:06] timpamungkas opened #4236 "Bot Detection Whitelist"
### Summary
I think "whitelisting" in bot detection.
Whitelist means if I have `dummyUA` in whitelist section, only `User-Agent` with value `dummyUA` that can be accepted.
But now, if I set any `User-Agent`, or even empty, or access it from browser, the bot detection still allow the request.

### Steps To Reproduce

1. Enable the bot detection
[code]
2. At this point, the only user agent accepted

[2019-01-24 06:53] romanovskyj opened #4237 "Dump basic auth password"
### Summary
I am working on a CLI tool for exporting/importing kong configuration. It looks like it is not possible to export/import basic-auth password: when we run GET method on `/consumers/{consumer_id}/basic-auth` on it we only get a password hash, but we are not able to apply it for new kong instance.

In this case, it looks like if kong DB has some disaster, it will not be possible to recrea

[2019-01-24 07:09] icyxp commented on #4174
how can i do can reslove this problem @p0pr0ck5

[2019-01-24 07:15] p0pr0ck5 commented on #4174
Aren't there some patches that need to be applied to openresty @kikito @bungle ?

[2019-01-24 07:53] p0pr0ck5 commented on #4237
Related to #1237 - to be able to re-export the basic auth credentials, they would need to be symmetrically encrypted.

[2019-01-24 08:51] fazlerabby7 opened #4240 "No clear indication how to run test on local environment"

[2019-01-24 09:02] ShiningRush opened #4241 "“strip_path” is not work"
Kong version: v.0.14.1
Hi,
Now i am developing a plugin to change upstream url with regex,
Then i found that after i set upstream url by " ngx.var.upstream_uri" or " kong.service.request.set_path", the new path will not be stripped by kong.

For example, if i have a route with path “/api/x-service” and checked “strip_path”, and request path is “/api/x-service/g-test-route/products”, my plugin chan

[2019-01-24 10:46] Tieske commented on #4240
try https://github.com/Kong/kong-vagrant

[2019-01-24 10:46] #4240 closed

[2019-01-24 10:49] fazlerabby7 commented on #4240
@Tieske it should be included in Kong official documentation.

[2019-01-24 15:10] timpamungkas commented on #4236
Well noted. Thanks

[2019-01-24 15:16] daton89 commented on #3050
I had the same issue with kong 1.x, i solved removing the service and adding it again as reported above.

[2019-01-24 15:41] jvandervelden commented on #4241
We just did this same plugin. You have to read the ngx.var.upstream_uri instead of kong.request.get_path() because ngx.var.upstream_uri will have the stripped path from the route. It would be nice to have a kong.service.request.get_path() function added instead of going directly to ngx variables.

[2019-01-24 15:46] jvandervelden opened #4242 "Ability to initialize plugins without a handler.lua and schema.lua"
We are trying to add a plugin with only an admin api extension. It would be nice to not have to specify a handler.lua and a schema.lua because it's not that type of plugin. And just having the plugin in the lua cache doesn't get picked up automatically.

### Steps To Reproduce

1. Create a plugin with only api.lua
2. Add plugin to plugins field in the configuration
3. Start Kong

### Additional De

[2019-01-24 15:59] bungle commented on #4242
@jvandervelden, thanks! surely something to consider!

[2019-01-24 16:13] bungle commented on #4241
@jvandervelden yes, PDK needs a lot more work, we just took the first steps with it. Ultimately it should be a collection of libraries for "everything". Where "everything" is something quite common in this software space -> `kong.json`, `kong.yaml`, `kong.crypto`...

[2019-01-24 18:02] thibaultcha commented on #804
Closing this as outdated for now.

[2019-01-24 18:02] #804 closed

[2019-01-24 18:04] thibaultcha commented on #4242
Indeed, this idea has been around for as far as a few years ago. We might give it full consideration someday; as always, we need to balance the project's priorities. We'd also be happy to draft some specifications with community members and expect as PR!

[2019-01-24 18:49] thibaultcha commented on #4229
@gchristidis Would you be able to give the patch a try to confirm that it resolves your issue? Here is a direct link to it: https://patch-diff.githubusercontent.com/raw/Kong/kong/pull/4233.patch

We are planning on a 1.0.3 release next week. It'd be safer to have higher confidence in this patch if you could give it a try and confirm that it resolves the issue. Thanks!

[2019-01-24 19:52] danilobreda commented on #550
Today theres no way to pass a metadata when creating a consumer?

[2019-01-24 20:19] jeremyjpj0916 commented on #3050
@daton89 How many proxies do you have on this Kong node and what is your underlying db setup?

[2019-01-24 20:54] thibaultcha commented on #4241
Hi,

If you set the request path via `kong.service.request.set_path()`, you are overriding the path set by the core proxy. It is thus your responsibility to do any string manipulation you desire on the path _before_ setting it. As @jvandervelden said, the core proxy will strip the path (as per the `strip_path` option), and if you wish to get the temporarily updated path (that is, the stripped one)

[2019-01-24 20:56] thibaultcha commented on #4241
Closing this issue and considering it answered. In fact, there already exist a PR introducing the API suggested above: https://github.com/Kong/kong/pull/3840 We just haven't had time to review it yet.

Thanks

[2019-01-24 20:56] #4241 closed

[2019-01-25 01:46] #4193 closed

[2019-01-25 03:43] gchristidis commented on #4229
@thibaultcha I applied those changes in the patch to an installed 1.0.2 kong backed by a Cassandra cluster of 3 nodes and a NetworkTopologyStrategy with an RF or 2 and a bootstrap now works perfectly, if a little slower as expected.
Thanks for effort, looking forward to the release.

[2019-01-25 08:02] rockmantist commented on #3446
Hi @tejas3190 how did you define path in the service ? mine always throw 404 page not found.
Service - path=/v1/rdo/clients/profile
Route - path=/clients/profile/\d+

but when i access /clients/profile/5 i got 404 page not found and i cannot add regex in the service path.

[2019-01-25 10:16] Tieske commented on #4240
docs are here: https://github.com/Kong/docs.konghq.com contributions welcome! 😄

[2019-01-25 10:19] Tieske commented on #550
@danilobreda only the `custom_id` field, tags have been planned but not here yet.

[2019-01-25 15:24] jeremyjpj0916 opened #4244 "Kong 1.0.2 Request Transformation Plugin Migrations Bug"
### Summary

Migrations from 0.14.1 to 1.0.2 for request-transformation plugin fails to carry over the settings that were applied to it, such as appending an Authorization:Basic ******** header. The append was not sending the header post migration(so some sort of migrations compatibility problem or more likely unexpected pdk level behavior?).

Edit - to fix this problem we deleted plugin off route

[2019-01-25 17:19] hishamhm opened #4245 "CORS plugin breaking changes from 0.14.x to 1.0"
A regex such as `"[.]example.com"` would match successfully in Kong 0.14.x, but it doesn't as of 1.0.2.

More details here: https://discuss.konghq.com/t/cors-plugin-breaking-changes-from-0-14-x-to-1-0/2675

[2019-01-25 17:20] hishamhm commented on #4245
@jeremyjpj0916 thanks for the post on Kong Nation, I added an issue here to help with tracking!

[2019-01-25 20:39] p0pr0ck5 commented on #4237
Also worth noting that basic-auth passwords are currently salted with the ID of that credential's `consumer` object, before being SHA'd. So if your restore process `PUT`s the exported Consumer and retains the original UUID, you can also re-insert the password hash directly into the DB. This is not easy to automate as it requires direct DB access (there's no way to bypass the hash function in the A

[2019-01-26 12:19] romanovskyj commented on #4237
Got it, thanks for the clarification. Yes, you are right, it is a bit hard to access DB of kong directly from the CLI client and not sure if it is the appropriate way.

I understand that this issue just a feature request, but in general, what do you think of the solution where it is possible specifying password hash, not only password itself? Is it conceptually right or not?

[2019-01-26 14:08] AI-PaaS opened #4246 "How to combine kong and spring boot security oauth2？"
Hello:
    I am using kong as service gateway and the backend services are springboot with spring security oauth2.0(jwt). I browsed the document and found that kong support oauth2.0 too.  I just want to know how to combine the two frame? or i must use one only? thx.

[2019-01-26 15:56] daton89 commented on #3050
Hi @jeremyjpj0916, i just added a service and a route and then i added the oauth plugin, using a single Kong node, and Postgres as db.
if you suggest me how to export debug data i'm glad to help you

[2019-01-28 06:31] rkchilaka opened #4247 "Kong is ignoring "#" character at the end of upstream uri"
kong is ignoring the # character at the end of the upstream URI

[2019-01-28 06:42] zhangxing406 commented on #4133
at last, i remove the slash by means of plugin.

[2019-01-28 07:01] zhangxing406 commented on #2273
is this question resolved? I have met the same question.

[2019-01-28 09:13] bungle commented on #4247
hash part ofthe url is not meant for servers to processed. You can urlencode the hash though.

[2019-01-28 09:52] rkchilaka commented on #4247
Do you mean to encode the entire Upstream URI? and if stripuri is false and the matching part of the uri is not encoded, on appending the matching non-encoded URI, the resulting Uri will be part encoded and part not encoded. will this work ?

[2019-01-28 15:11] milaw opened #4251 "Cannot enable OAuth plugin - return 400 Bad request"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

Get 400 Bad Request enabling OAuth plugin on API
Used  2 clients and got the same result

**HTTPie**

http post localhost:8001/apis/test1/plugins name=oauth2 config.enable_client_credent

[2019-01-28 16:48] hutchic commented on #4223
@nnsay The goal / purpose of the docker image is really to be a production viable docker image so I have to humbly disagree that it should include the dependencies required to develop Kong. It should be relatively trivial to `FROM kong:${VERSION-latest}` for your own personal development though. If you find a sufficiently smooth experience feel free to PR it back to us please / ty ( https://github

[2019-01-28 17:39] #4229 closed

[2019-01-28 17:39] p0pr0ck5 commented on #4251
Hi,

For the `http` utility, I've found you need to enable form-encoded request bodies instead of the default JSON body. Try:

`http post localhost:8001/apis/test1/plugins name=oauth2 config.enable_client_credentials=true -f`

[2019-01-28 17:52] hishamhm commented on #4244
@jeremyjpj0916 Thanks for reporting! I'll split the second issue in a separate issue for better tracking.

[2019-01-28 17:54] hishamhm opened #4252 "Kong 1.0.2 Request Transformer forces "preserve_host" on Host header"
As reported by @jeremyjpj0916 :

## Steps to reproduce

(this issue was forked from #4244)

[2019-01-28 18:40] aaronhmiller commented on #3598
Hi @misterphantom I believe the step you're missing is the creation of the pg_database kongdb. In the installation instructions for Kong, it specifies (after connecting to Postgres):
CREATE USER kong; CREATE DATABASE kong OWNER kong; ALTER USER kong WITH password 'kong';

Please try that and let us know. I'm closing this out proactively.

[2019-01-28 18:40] #3598 closed

[2019-01-28 18:40] aaronhmiller commented on #3598
User wasn't creating the DB kong needed to start.

[2019-01-28 18:49] thibaultcha commented on #4229
@gchristidis Thanks for reporting and testing the patch! I just merged the patch and we are on track to release 1.0.3 in the next couple of days.

[2019-01-28 21:13] jeremyjpj0916 commented on #4228
Also as an update, it seems even with C* in the right order for sure before migrations finish was ran(local dc nodes left hand side of ENV variable and remote on right hand side of ENV variable) I could still get the timeout error. The only way to prevent the timeout error was to always pass the:
[code]
arg on migrations. Which I find strange because it says in code comments "(default 60)" , I bel

[2019-01-28 23:47] mars opened #4254 ""no router to route request" (regex_priority is nil)"
For Kong version 1.0.0-1.0.2 configured with a Route with null/nil `regex_priority`, Kong throws a 500 error when receiving any request, logging the error (formatted for readability):

[code]

Looking at [Kong source](https://github.com/Kong/kong/blob/master/kong/runloop/handler.lua#L116) location referenced in that error:

[code]

So it seems to be routing code comparing route priorities.

I chec

[2019-01-29 00:50] thibaultcha commented on #4254
PR is #4255 - feel free to apply the patch on your end and verify that it solves the issue for you. Thanks again!

[2019-01-29 00:59] mars commented on #4254
Amazing! Thank you @thibaultcha I will build Kong on that PR and reply here with results.

My requests that set `regex_priority → nil` are from **kevholditch/terraform-provider-kong**, [updating via PATCH](https://github.com/kevholditch/gokong/blob/master/routes.go#L185) & [creating via POST](https://github.com/kevholditch/gokong/blob/master/routes.go#L86).

[2019-01-29 01:35] thibaultcha commented on #4228
We always pass along the `--db-timeout` argument, even if not overridden by a CLI argument, so the same code path is taken whether or not you specify this argument (see https://github.com/Kong/kong/blob/master/kong/cmd/migrations.lua#L73-L85).

Now reading at the error again, I realize this is a C* server-side timeout error, and not a client timeout (that is, a timeout while replicating a value ac

[2019-01-29 01:39] thibaultcha commented on #4228
@jeremyjpj0916 I just pushed this branch: https://github.com/Kong/kong/tree/fix/run-cass-lb-policy-in-migrations which makes the C* connector respect the LB policy when starting. Not sure if it solves the issue at all since it seems to be a C* mis-configuration after all, but it may still be something we want to ship as it still prevents running migrations against a cross-DC node :)

[2019-01-29 01:58] mars commented on #4254
Using the PR's "fix/router-rebuild-no-regex-priority" branch I built Kong and while the 500 error is gone, it no longer matches requests for the route at all:

[code]

This route used to work, but have yet to discover why it's not matching now:

[code]

Will continue debugging tomorrow.

[2019-01-29 02:57] jeremyjpj0916 commented on #4228
@thibaultcha good catch! I had not realized that. I noticed our configs are set to 2000 write timeout in ms for that value and read timeout is set to 5000. This is not a setting I have ever adjusted myself, may try bumping that up to 10000 each to be safe, thanks for the details. And agree on the feature, certainly a nice to have but I think I now see the light that the defaulted write timeout wit

[2019-01-29 07:16] milaw commented on #4251
Thanks for your comment.
I tried and it's not working:

http post localhost:8001/apis/test1/plugins name=oauth2 config.enable_client_credentials=true -f
http post localhost:8001/apis/test1/plugins name=oauth2 config.enable_client_credentials=true --form

HTTP/1.1 400 Bad Request
Access-Control-Allow-Origin: *
Connection: keep-alive
Content-Length: 192
Content-Type: application/json; charset=utf-8

[2019-01-29 09:55] #4254 closed

[2019-01-29 14:00] rborgesds commented on #4245
I'm trying to set up the cors plugin to accept all requests from any origin (*), but kong's response to an OPTIONS request is 404 status code, does it have any relation to that?

[2019-01-29 16:54] #4252 closed

[2019-01-29 19:21] mars commented on #4254
Now that the fix has been merged to master, I built Kong from master and now see that this is fixed ✅ 💯  Thank you for the fast action @thibaultcha 🤗

[2019-01-29 20:25] sharuuu opened #4260 "Kong does not start up"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

Have installed Kong on Ubuntu Server 18.04 Virtual Machine. I followed the instruction as per the https://docs.konghq.com/install/ubuntu/
But when I start it immediatly exits with showin

[2019-01-29 20:52] #4260 closed, assigned to nobody

[2019-01-29 21:23] sharuuu commented on #4260
Thanks for the Quick response, below is the output
$ cat /proc/cpuinfo | grep -i sse | head -n1
flags           : fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts mmx fxsr sse sse2 ss syscall nx lm constant_tsc arch_perfmon pebs bts nopl xtopology tsc_reliable nonstop_tsc cpuid aperfmperf pni ssse3 cx16 sse4_1 x2apic tsc_deadline_timer xsave hypervisor lahf_lm pt

[2019-01-29 22:43] thibaultcha commented on #4232
@jeremyjpj0916 Thanks for the report, #4262 will take care of this. You may care to pull this patch locally until we roll our 1.0.3 later this week (hopefully!).

[2019-01-29 22:50] jeremyjpj0916 commented on #4232
@thibaultcha Nice fix, was thinking something along those lines would do it (checking if credentials.service nil and throwing the error). The same edge case may even occur on the 0.x series too potentially and I just never caught it in the act by reviewing logs, I just happened to notice it in our stage env one day and decided to report it.