[2017-09-11 05:08] #2874 closed

[2017-09-11 05:54] thibaultcha commented on #2874
@macedogm Thank you for giving your insight and helping on here!

That is very likely indeed.

[2017-09-11 07:46] Tieske commented on #2876
first guess without trying your scripts: You cannot delete targets. You can only add new entries (superseeding previous entries) with a modified `weight` value. To disable a target, set `weight=0`. Now because to seems cumbersome, a 'sugar' method was added for delete. But an http DELETE request will under the hood not really delete the entry, but insert a new one with `weight=0`. Only after a whi

[2017-09-11 10:14] mvanholsteijn commented on #2876
@Tieske I am just using the documented API call https://getkong.org/docs/0.10.x/admin-api/#delete-target. In addition, there does not appear to be an API call to update a specific target's weight. Both PATCH en PUT on http://localhost:8001/upstreams/$UPSTREAM/targets/$ID give a 'Method not allowed'.

[2017-09-11 10:43] Tieske commented on #2876
That's exactly what I wrote. Technically you can only POST, and the DELETE method is just sugar for a "POST with `weight=0`".

So instead of looking at the number of targets, you should look at the target entry with the most recent timestamp (`created_at` field), that's the one that is active. And after using DELETE on a target, that entry will have a `weight=0` value, and hence that entry will no

[2017-09-11 10:50] Tieske commented on #1672
@channgli Kong uses a default port for Postgres as `5432`, in your post above Postgres runs on `5433`. Hence you get a connection refused error.

having said that, please do not comment on closed issues. For these type of issues you'd better check the email list or the Gitter channel.

[2017-09-11 11:19] kizi1014 opened #2878 "ui"
NOTE: GitHub issues are reserved for bug reports only.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Mashape/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1.
2.
3.
4.

### Additional Details & Logs

- Kong version (`$ kong version`)
- Kong

[2017-09-11 11:59] #2878 closed

[2017-09-11 12:00] Tieske commented on #2878
UI is available in the enterprise edition.

[2017-09-11 12:06] sanketgandhi opened #2879 "404 on documentation portal of Kong"
NOTE: GitHub issues are reserved for bug reports only.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Mashape/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

When I clicked on **Securing the Admin API** on [this url](https://getkong.org/docs/0.11.x/network/) it show 404 error. This li

[2017-09-11 12:22] sanketgandhi commented on #155
+1 waiting

[2017-09-11 12:48] mvanholsteijn commented on #2876
@Tieske oke.. I get it. the documentation does not mention anything about the target with the latest 'created_at' is the current defined target definition.

Do you think it should be changed to a documentation issue?

[2017-09-11 13:30] s4mur4i opened #2880 "Information leakage on 405 Method not allowed"
### Summary

When an endpoint is requested with method that is not allowed in configuration, system information is leaked in html:

![image](https://user-images.githubusercontent.com/521166/30276679-e1078908-9705-11e7-9191-48f7640fc3eb.png)

### Steps To Reproduce

1. Create an endpoint with only POST
2. Do a GET onto the endpoint

### Additional Details & Logs

- Kong version 0.11.0
- Operating S

[2017-09-11 14:26] Tieske commented on #2876
it is documented here: https://getkong.org/docs/0.11.x/admin-api/#target-object except for the reference to the `created_at` field. The website docs are public, so a PR on https://github.com/Mashape/getkong.org would be nice.

[2017-09-11 14:44] amireh commented on #2876
Hello @Tieske ! I've just been banging my head against the wall over this and I'm glad to have found this discussion :joy:

Personally, I found it to be confusing that a `DELETE` call ends up generating new records even though I had read the API docs prior to working with it. I think it's just years of dealing with REST APIs had made this part unintuitive.

Perhaps a different API could've been cr

[2017-09-11 19:19] #2876 closed

[2017-09-11 21:42] Tieske commented on #2876
@amireh Hey there Ahmad, welcome in Kong land (the jungle 😄 ). This behaviour has seen a lot of discussion already. Initially the api reflected the underlying implementation, but we're probably going to let go of that in favor of a more intuitive api, similar to your suggestion.

[2017-09-11 22:52] amireh commented on #2876
Jungle indeed :grinning: ! Thanks for the information @Tieske, that sounds great.

[2017-09-12 03:22] harryjie opened #2881 "ginx: [error] init_by_lua error: /usr/local/share/lua/5.1/kong.lua:149: [postgres error]"
my kong is start error, the logs is as below, how can i reslove?
kong version: 0.11
postgress version: 9.4
[root@localhost ~]# docker logs b77daeebdb34
prefix directory /usr/local/kong not found, trying to create it
2017/09/13 02:49:04 [warn] postgres database 'kong' is missing migration: (response-transformer) 2016-05-04-160000_resp_trans_schema_changes
nginx: [error] init_by_lua error: /usr/loca

[2017-09-12 03:24] p0pr0ck5 commented on #2881
Please see the first step at https://getkong.org/docs/0.11.x/getting-started/quickstart/#start-kong. And please read the error message, it details exactly what you need to do.

BTW please do not use GitHub issues for support questions if you have not read the docs. Please also read https://github.com/Mashape/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help for better ideas on how and where

[2017-09-12 03:24] #2881 closed

[2017-09-12 03:29] harryjie commented on #2881
thanks for your answer.

[2017-09-12 14:34] janrsilva commented on #1930
Hi @Tieske,

I can see in the doc the specification to OAuth2 Plugin, just [here](https://getkong.org/plugins/oauth2-authentication/#configuration)

So in Configuration section it said about **Scope** _"Describes an array of comma separated scope names that will be available to the end user"_
OK yet ;)

But in the **OAuth 2.0 Flows** right [here](https://getkong.org/plugins/oauth2-authentication/#

[2017-09-12 18:31] jmills-bespoke opened #2885 "Kong 0.10.3 won't start with "special characters" in password"
### Summary

Running Kong in a docker swarm I had set the `KONG_PG_PASSWORD` and `KONG_PG_USER` but I continued to receive:
[code]

However, running psql with the username and password all works fine.

I was able to realize on my own the issue was that my password had a special character within it:
one of `-=!@#$%^&*()` more specifically I had `#` mid way through my password and kong was unable to

[2017-09-12 18:43] p0pr0ck5 commented on #2885
@jmills-bespoke this was fixed in 0.11: https://github.com/Mashape/kong/blob/master/CHANGELOG.md#configuration-2

If you like, you can try applying the patch from https://github.com/Mashape/kong/pull/2411 to your 0.10.3 instance, it _should_ apply cleanly.

[2017-09-12 23:01] jonocodes opened #2886 "OpenWhisk demonstration doc bug"
Not sure if this is a bug because I dont use Kong or OpenWhisk.
Looking at sample in documentation here:
https://getkong.org/plugins/openwhisk/

The API is created with "hosts=example.com"
then the curl requests are made using -H "Host:hello.com".
Should these values match?

[2017-09-12 23:10] shashiranjan84 commented on #2886
@jonocodes thanks for letting  us know. We will update the doc asap.

[2017-09-13 08:00] wuyachao opened #2887 "kong loadbalancing don't take effect"
I want to use kong upstreams. But kong loadbalancing don't take effect. I do not know if it is used correctly.

### steps to add upstreams
1. I test some api having different port,such as:
[code]

2. add a upstream

[code]

3. add target

[code]

4. add a api to kong

[code]

When i did the above steps, I request the api from kong.
[code]
I use the same weight, so I think the api  will take from r

[2017-09-13 10:10] Tieske commented on #2887
what is returned if you do a GET request on `http://127.0.0.1:8001/upstreams/test_v1/targets/`

[2017-09-13 10:42] wuyachao commented on #2887
@Tieske T  hi, this is the reponse.
[code]

[2017-09-13 10:43] wuyachao commented on #2887
I request on `http://localhost:8001/upstreams/test_v1/targets/active`. the reponse is the same.

[2017-09-13 10:57] Tieske commented on #2887
Note: the `slots` (400 in your upstream) are randomly distributed over the `targets`. You have 4 targets, with equal weights, so each of your targets gets 100 `slots` assigned.

So depending on how often you tried, you could just be unlucky that for example the first 10 slots are all on the target with `port=8890`, and you tried 10 times.

To be sure you should try 400 times, and then each target

[2017-09-13 11:13] wuyachao commented on #2887
@Tieske  hi, According to your suggestion， I update my config with kong.
 1. curl "http://localhost:8001/upstreams"
[code]
2.curl "http://127.0.0.1:8001/upstreams/test_v1/targets"
[code]
when i update,  I request `localhost:8000/test` about 10 times,but it also return `server_name:aaa.wyc.com,port:8890` .
so I restart kong.
It return `server_name:aaa.wyc.com,port:8889`.
I request it about 20 times

[2017-09-13 11:17] Tieske commented on #2887
can you try to replace the name with an IP address in the targets? So change `aaa.wyc.com:8888` to `1.2.3.4:8888` and see whether that resolves it?

[2017-09-13 11:19] wuyachao commented on #2887
sorry for my poor english. I request the api:
[code]

[2017-09-13 11:22] wuyachao commented on #2887
@Tieske  ok ,i will try it

[2017-09-13 11:32] wuyachao commented on #2887
@Tieske  other config is the same. i update target with ip:port
[code]
this is my api reponse:
[code]
this is my request ：
[code]

[2017-09-13 11:33] wuyachao commented on #2887
the kong is already restart after I update it.

[2017-09-13 16:47] #2886 closed

[2017-09-13 16:47] thibaultcha commented on #2886
Fixed!

[2017-09-13 16:53] #2840 closed

[2017-09-14 01:40] macedogm commented on #2877
Hi. Just a quick question, have you updated your Kong version without running migrations first?

[2017-09-14 01:45] wuyachao commented on #2887
Who can tell me where it is wrong，please.

[2017-09-14 02:00] #2838 closed

[2017-09-14 09:10] wuyachao commented on #2887
I want to let requests from the same client will always be passed to the same server.  can I set upstreams/target with kong to realization it?

[2017-09-14 12:35] IzaGz opened #2888 "set req limit per second by specific parameter in query or body"
Just to confirm is there a way to set req limit per second by specific parameter in query or body?
Referring to this `https://getkong.org/plugins/rate-limiting/` seems there is no way to do that = (
Assume i have the parameter user_id, and it can be random value, so i need to limit request with same value in the parameter  user_id.

[2017-09-14 21:28] Tieske commented on #2887
Not yet. Is in the works, but will be at least 0.12 or even later (consistent hashing)

[2017-09-14 21:38] simonpie opened #2889 "Request Transformer will not touch certain headers."
NOTE: GitHub issues are reserved for bug reports only.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Mashape/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

Behaviour of Kong changed between 0.10 and 0.11.  Now, the x-forwarded-host will be set to the original host in the original ur

[2017-09-15 01:56] wuyachao commented on #2887
@Tieske  thank you for your reply.
I have add three target to a upstream. The kong will always proxy a request to a server such as 127.0.0.1:8889. If 127.0.0.1:8889 is down, kong will proxy the request to another target 127.0.0.1:8890.

It just right for my needs. But It is not the same as the description of the document. https://getkong.org/docs/0.11.x/loadbalancing/
the doc say it will ring-bala

[2017-09-15 13:29] hayatitan opened #2890 "Kong (0.10.3) gives 502 error when I post a url which include "create""
### Summary

Hello,
I created such an api
  {
             "name": "blabla",
              "uris": [
                "/abc/cde"
               ],
            "upstream_url": "http://*.*.*:7777/ttw/cld",
            "strip_uri": true,
            "preserve_host": false,
            "http_if_terminated": true,
            "retries": 5,
            "upstream_read_timeout": 60000,
            "upstrea

[2017-09-15 13:33] hayatitan commented on #2890
In addition to this, I also got tcpdump to see source of http 502 but I could not see any http request in dump file.

[2017-09-16 19:28] ksachdev1 commented on #2199
@omri-shaiko and @dkavraal , We built authorization logic at the microservice layer. We use kong for token validation only now.

[2017-09-17 12:39] chenyukang commented on #2890
Did the upstream server received request?

[2017-09-17 12:43] chenyukang commented on #2888
Currently No, I think you need do some fix on rate-limiting for supporting this.

[2017-09-17 16:48] aviben01 commented on #2856
@thibaultcha , @Tieske was there any flow that was tested with tls verification vs. database?
Cannot use `pg_ssl_verify: true` with rds

[2017-09-18 02:46] senthil-nathan commented on #1374
Is source-controlled configuration available on Kong or is it a feature request ?

[2017-09-18 05:56] smileMrLee opened #2891 "[JWT plugin] RSA256 return message:Invalid key/secret"
### 1.kong version:v0.10.3
### 2.my RSA_public_key:
{
    "rsa_public_key": "-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEArrGzztq8tDH43gk9qqvl\nNuUPZJAc2lHq5pCmYaQGoSRfq0VE5DkoYyHs+tdxC0o3fjOkJnhz3CM5+3nKwqRE\nUFcMb2Pg0kVktFjApd8B0Qa6LKnE8uX815XOwS9K7JXLAem5gaAZBVUs73Q+UsNk\nif1ImiYM415A2PPMeT3rnOWcZ62bqUjAr8LgTt1Lli9s6aDZ070/LFpJVhk45sZK\n90KalpEy+8q7U+QiXX8LAq/K+nkZhXq

[2017-09-18 06:49] chenyukang commented on #2891
Hi,
from the source code in jwt/handler.lua
[code]

[2017-09-18 07:15] hayatitan commented on #2890
Ok I found the problem It is about LB. Therefore , I am closing the issue...

[2017-09-18 07:15] #2890 closed

[2017-09-18 07:24] satrox28 opened #2892 "http to https"
### Summary

Is it possible to route the http request to https url on Kong Nginx.

### Steps To Reproduce

1. I tried to modify the nginx-kong.conf, but its getting overridden during stop/start.
2.
3.
4.

### Additional Details & Logs

- Kong version (`$ kong version`) - 0.11.0
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong error logs (`<KONG_PREFIX>/logs/error.log`)
- Kong configura

[2017-09-18 07:36] smileMrLee commented on #2891
@chenyukang thx！
but I need RS256 asymmetric algorithm.
header content alg=RS256 seems not work。

[2017-09-18 09:48] luispabon commented on #1374
There's kongfig and that's what we're using at the moment and works well enough, but it's third party therefore could break at any moment independently of kong.

[2017-09-18 11:02] oslet opened #2893 "statsd no data on Load Balancing"
I use docker-compose manage kong, the content such as
[code]
--------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------

have data:
 curl -i -X POST \
  --url http://localhost:8001/apis/ \
  --data 'name=example-api' \
  --da

[2017-09-18 13:20] sanketgandhi opened #2894 "JWT authentication using cookies with KONG API Gateway"
We are implementing a sample application using Kong API gateway with JWT authentication plugin.

As refer in this [thread](https://stackoverflow.com/questions/44133536/is-it-safe-to-store-a-jwt-in-localstorage-with-reactjs) , there are two ways to store JWT in the browser. Web storage or cookies. But web storage (i.e. session storage and local storage) can be vulnerable to cross-site scripting att

[2017-09-18 13:45] Tieske commented on #2892
the issue tracker is for bugs only, please use other fora as described in the template for generic usage questions like this.

for the record: see https://github.com/Mashape/kong/issues/1946

[2017-09-18 13:45] #2892 closed

[2017-09-18 14:08] 486 commented on #1218
Is this still being worked on?

When you design a solution, please take into account how it would work with container orchestrators like Kubernetes. In those clusters it is often cumbersome to start a single task before rolling out new software (you have to script that sequence yourself). E.g. Vanilla Kubernetes is just learning how to do this during deployments, also there are edge cases where yo

[2017-09-18 14:36] rzschech commented on #2894
I'm using #2363 successfully to read JWTs from cookies.

[2017-09-18 17:33] thefosk commented on #2877
As @macedogm suggests, and by looking at your logs, it seems like the schema is not up to date - was this error happening in the middle of a Kong upgrade? @EwanValentine

[2017-09-18 17:56] rzschech commented on #2894
That change has not been merged so you'll have to merge it yourself. You can configure `cookie_name` to what ever you want or use the default `jwt_token`.

[2017-09-18 18:03] Tieske commented on #2894
@rzschech @sanketgandhi that change is missing tests mainly, so if either of you can add those, we might merge it.

[2017-09-19 03:36] smileMrLee commented on #2891
sorry, I find the reason that [Secret is base64:true] .
I change the value of 'Secret is base64' to 'false'
It's works！

[2017-09-19 03:36] #2891 closed

[2017-09-19 03:58] YukangChen commented on #2891
@smileMrLee  suggest you use https://pantsel.github.io/konga/ to manage plugins:
![14418205213393](https://user-images.githubusercontent.com/12043304/30575204-ca12569c-9d31-11e7-857b-ea1a425b83b4.png)

[2017-09-19 09:44] wuyachao opened #2895 "0.11.0:List active targets failed"
[code]
request `http://127.0.0.1:8001/upstreams/test_v1/targets` is ok. But request `http://127.0.0.1:8001/upstreams/test_v1/targets/active` is return `Method not allowed`.
I just use `GET` method.
kong version:0.11.0

[2017-09-19 10:14] wuyachao commented on #2887
kong version 0.11.0 is ok. so close this issue.

[2017-09-19 10:14] #2887 closed

[2017-09-19 10:27] vikaskmr1008 opened #2896 "Error "plugin is in use but not enabled""
We are trying to use the hello-world plugin described in this page - https://streamdata.io/blog/developing-an-helloworld-kong-plugin/

We are facing this error in logs:
2017/09/19 09:47:15 [error] 1#0: init_by_lua error: /usr/local/share/lua/5.1/kong.lua:154: hello-world plugin is in use but not enabled
stack traceback:
[C]: in function 'assert'
/usr/local/share/lua/5.1/kong.lua:154: in function '

[2017-09-19 11:05] argentum47 opened #2897 "Datadog plugin not sending server metrics and error_page not handling response errors returned by kong plugins"
### Summary

First:
In datadog, these metrics are blank, even though the boxes receive requests.
- `kong.total_requests`
- `kong.connections_*`

Second:
I do a return `responses.send_HTTP_UNAUTHORIZED("some message")` in the handler.lua of a plugin. And in the nginx configuration I do `error_page 401 404 403 /kong_error_handler` and
[code]
this block doesnot get triggered for the 401

### Steps To

[2017-09-19 11:08] sanketgandhi commented on #2894
Thanks @rzschech . I did a bit of research related to lua seems like in #2363 after merging the code what step I need to do ? I follow below steps after changing the code

1. Change file `kong/plugins/jwt/handler.lua` and `kong/plugins/jwt/schema.lua`
2.  Stop the kong `sudo kong -c /etc/kong/kong.conf`
3.  Then ran, `sudo luarocks make`
4. Then, ` sudo kong migrations up -c /etc/kong/kong.conf`
5

[2017-09-19 11:53] wuyachao commented on #2896
[code]

[2017-09-19 12:17] nbroers opened #2898 "Internal Server Error with Kong JTW plugin using Anonymous user"
### Summary

Adding the JWT plugin to an API and configuring an anonymous user results in a internal server error when performing requests to that API without specifying a bearer token (or an incorrect token).

### Steps To Reproduce

[code]

The final 2 requests fail with internal server errors:

[code]

### Additional Details & Logs

- Kong version (`$ kong version`)
0.10.3

- Kong debug-level s

[2017-09-19 13:00] rzschech commented on #2894
@sanketgandhi

Assuming you have built and deployed it correctly, something like this should configure the ```cookie_name```:
[code]

[2017-09-19 13:31] caarlos0 commented on #2152
Would be nice to have things in `/cluster` as metrics exposed via prometheus as welll

[2017-09-19 13:54] sanketgandhi commented on #2894
@rzschech
I have to reset the migration to set default name like this ,
`sudo kong migrations reset -c /etc/kong/kong.conf`

This command is going to reset all the data from db (And I ahve to add all the plugins, conumer etc again).

To avoid this, Is there any workaround for this if I change field name in `schema.lua` without reset command ?

[2017-09-19 14:26] checky opened #2899 "Kong 0.11.0 URI evaluation order problem"
### Summary

I read the Proxy Reference document - https://getkong.org/docs/0.11.x/proxy/, and found that it works differently from the document in some cases.

Issue 1.
The document says - "URI prefixes are always evaluated first".

But see the source code here,
https://github.com/Mashape/kong/blob/e49cd360693e44e8d3842f62ba92d5c367c3052a/kong/core/router.lua#L666-L691
When req_uri is matched in

[2017-09-20 01:42] smileMrLee commented on #2891
@YukangChen thank you,  kong-dashboard also simple.  https://github.com/PGBI/kong-dashboard

[2017-09-20 06:03] nbroers commented on #2898
I have removed Docker Compose and Containerpilot from the mix and used the recommended Docker startup from:  https://getkong.org/install/docker/

Error can be reproduced by following these steps. Strangely, Docker logs for the Kong instance yields no output.

[code]

[2017-09-20 06:50] nbroers commented on #2898
My colleague followed my steps and did in fact get entries in his log:

[code]

As far as I can tell, the error relates to the following code in:  https://github.com/Mashape/kong/blob/master/kong/plugins/jwt/handler.lua

[code]

I can confirm that the consumer does exist in Kong when querying the /consumers endpoint. Seems that perhaps the operations to retrieve the consumer from the cache is fail

[2017-09-20 07:49] mhndev opened #2900 "OAuth Scopes and clients"
Hi,
first of all thanks for your good product, Its really Awesome.

When adding new service ,I want to be able to add new scopes to oauth server , and also
specify my service routes and specify which routes needs which scopes.
how can I do so ?

[2017-09-20 08:14] nbroers commented on #2898
Ok, problem found - the UUID used for the config.anonymous user used when adding the JWT plugin to the Api's needs to be the UUID returned from Kong when adding the consumer, not the Custom User ID.

I would suggest amending the documentation on the JWT plugin page: https://getkong.org/plugins/jwt/

Current text:

Perhaps add a note that the consumer UUID is the internal Kong UUID, not the custom

[2017-09-20 12:30] oshz commented on #2219
@nchapon can you please share how you configured your api1 and api2 with oauth2 as we are struggling to get it work with api name in the url e.g.

This fails:
https://localhost:8443/api1/oauth2/token

This works:
https://localhost:8443/oauth2/token

But we have to supply Host field in header

[2017-09-21 10:16] cfajardo commented on #2895
Hello,

It has already been reported in this issue https://github.com/Mashape/kong/issues/2840

[2017-09-21 11:35] wuyachao commented on #2895
@cfajardo  ok,I will close this issue.

[2017-09-21 11:35] #2895 closed

[2017-09-21 17:01] scotchneat commented on #416
I have a similar use case to those described by @typingincolor and @lucamaraschi. One more point I can offer is that given kong is capable of doing request/response transformation in order to orchestrate or abstract requests to backends, that makes the kong level responsible for a unique api "contract". We maintain api documentation in RAML with jsonschema to describe the requirements for requests

[2017-09-21 19:16] noorulhaq opened #2901 "Using JWT and Oauth2 together"
Hi,

Is it possible to use JWT as Oauth token?

[2017-09-21 22:12] joelmora commented on #1459
In `0.11.0` I still have the issue, any thoughts?

![screen shot 2017-09-21 at 5 11 34 pm](https://user-images.githubusercontent.com/11574884/30721093-f3968532-9eef-11e7-9710-d4ddfaf3bb0f.png)

![screen shot 2017-09-21 at 5 12 15 pm](https://user-images.githubusercontent.com/11574884/30721113-0a3b1be0-9ef0-11e7-986b-74ea30dabb3a.png)

[2017-09-21 23:47] thibaultcha commented on #2899
Hi @checky,

Thanks for the report! We'll look into this.

[2017-09-22 05:47] senthil-nathan opened #2903 "Oauth2 endpoint not found issue"
Hi,

1. I have created an api end point as

curl -i -X POST \
  --url http://localhost:8001/apis/ \
  --data 'name=auth' \
  --data 'upstream_url=http://mockbin.com/bin/16a657d4-2319-426b-ae24-798ca41e7dd6' \
  --data 'uris=/auth'

2. Created customer as

curl -X POST http://localhost:8001/consumers/ \
    --data "username=user123" \
    --data "custom_id=mrx"

3. Created an App, linked the custom

[2017-09-22 06:26] senthil-nathan commented on #1062
Guys, any update on this plugin ?

[2017-09-22 07:01] SuperMasterBlasterLaser commented on #87
+1

I know that on OAuth plugin there is an expiration, but it could be very usefull on other Authentications

[2017-09-22 08:13] SuperMasterBlasterLaser commented on #1867
It would be very good in future that MySQL is going to be added. Some enterprises use strictly MySQL for all their systems.

[2017-09-22 08:56] senthil-nathan commented on #2903
any help @thibaultcha ?

[2017-09-22 09:57] Tieske commented on #1930
@janrsilva would you mind sending a PR? the doc s are here: https://github.com/Mashape/getkong.org/blob/master/app/plugins/oauth2-authentication.md

[2017-09-22 12:19] mdaguete opened #2904 "Bot-detection plugin causes 500 error"
### Summary

Bot-detection plugin causes 500 error

### Steps To Reproduce

1. Install kong 0.11.0
2. add and api
3. activate bot detection plugin as global one
4.

### Additional Details & Logs

- Kong version (`$ kong version`): 0.11.0
- Kong debug-level startup logs (`$ kong start --vv`) : docker logs output

[code]

- Kong error logs (`<KONG_PREFIX>/logs/error.log`)

[code]

- Config
[code]

-

[2017-09-22 12:23] DonMartin76 commented on #2903
As we just discussed on gitter, the problem was that you had specified `uris` and `hosts` (which is though not reflected in what you wrote as `curl` statement above), and that has to be used in the `POST` to the token endpoint as well, in your case

[code]

[2017-09-22 12:28] DonMartin76 commented on #2901
I don't think so. The token end point creates a random opaque token you can't influence usually. It might in theory be possible to inject a JWT token to a specific credential using the `:8001/oauth2_tokens` endpoint, but that's not intended use.

[2017-09-22 12:57] Tieske commented on #2904
that's a bug, thanks for the report. The caching mechanism works on `api.id` which is not set when the plugin is configured globally.

as a workaround you can configure it on a per api basis, that should still work.

[2017-09-22 15:54] noorulhaq commented on #2901
@DonMartin76  both JWT and Oauth complement each other and it is common to use both of them together. It is really unfortunate if that is not possible with Kong.

[2017-09-22 16:34] DonMartin76 commented on #2901
I know, even if I don't agree that it's a good idea, but that's a different story. And: I am not a Mashape employee.

On the other hand, there's nothing stopping you from implementing your own OAuth2 flows, which just end up issuing JWT tokens which you then just validate in Kong. You wouldn't use any of the OAuth2 functionality of Kong then, but that wouldn't be necessary anyway.

The kicker with

[2017-09-22 16:38] DonMartin76 commented on #2900
From the top of my head I would say you can't. Your valid scopes are always per API definition, and Kong will always let a call with a valid token pass through to your backend, and just add a `X-Authenticated-Scopes` header to it (which cannot be passed through the Gateway).

Matching scopes with valid routes (inside your API) is something you have to implement inside your own business logic curre

[2017-09-22 17:17] noorulhaq commented on #2901
Yeah, that is what I also figured out.

[2017-09-22 17:17] #2901 closed

[2017-09-22 23:11] Tieske commented on #2898
@nbroers would you mind sending a PR against the docs? see https://github.com/Mashape/getkong.org

Many thanks!

[2017-09-22 23:15] Tieske commented on #2896
that message means the plugin "hello-world" is in use (eg. there is a reference in the database to it), but it is not enabled (eg. you did not define the `custom_plugins` configuration property).

do `KONG_CUSTOM_PLUGINS=hello-world  kong start`

[2017-09-22 23:15] #2896 closed

[2017-09-22 23:16] #2885 closed

[2017-09-23 16:01] dragon28 opened #2907 "[kong version 0.11.0] kong/api/routes/kong.lua:11: attempt to index global '_KONG' (a nil value)"
Hello People,

I follow the installation instructions on the mention link at below:

https://getkong.org/install/source/

I did some modification and tried to run kong and got the following error:

uname -a
[code]

[code]

[code]

error.log:

[code]

kong.conf:

[code]

However, I noticed at https://github.com/Mashape/kong-vagrant/blob/master/provision.sh, the environment seem to be different whic

[2017-09-23 18:43] cyrilgdn commented on #2773
Hi,

I have the same problem with the field "uris"

[2017-09-24 09:03] senthil-nathan commented on #2903
Thanks @DonMartin76 for helping out, closing the issue

[2017-09-24 10:02] senthil-nathan commented on #2903
Hey @DonMartin76 should the generic endpoint /oauth2/token work ?

I am trying
curl --silent --insecure -X POST --url https://localhost:8443/oauth2/token --data "client_secret=9Ss9Epz29SigiZY9692nHWXncXLARDsL" --data "client_id=nLEcsmhZiaFNspYps9tOlzBBy8GedeDm" --data "grant_type=client_credentials" --data "scope=email" --header "Host: example.com"

but the response is {"message":"no API found wit

[2017-09-24 21:17] aviben01 commented on #2856
@thibaultcha , @Tieske , do you expect to look into this issue soon?

Please see more info investigating issue and workaround found:

We are using `FROM: kong:0.11.0`
Trying to connect to RDS on AWS with `pg_ssl_verify = true`

We could manage to workaround this issue when enforcing pgmoon work with nginx socket type in contexts of `timer`, `access` and `content` (edited `forced_luasocket_phases`

[2017-09-24 21:27] sonicaghi commented on #1865
https://github.com/Mashape/kong/issues/1330

[2017-09-24 21:57] frederik79 commented on #2524
We tested this with 0.11. and the problem is gone. We are fine that this gets closed.

[2017-09-24 22:22] HitDaCa commented on #183
Any progress on supporting DynamoDB?

[2017-09-25 09:47] gabel commented on #2901
@noorulhaq There is still an open issue regarding to this topic if you want to follow https://github.com/Mashape/kong/issues/1014

@DonMartin76 Is there a short key point regarding your comment "I don't agree that it's a good idea"?

[2017-09-25 10:40] DonMartin76 commented on #2901
@gabel Not a good idea within Kong context at least; the plugins solve different problems. I am also always reluctant to defaulting to JWT as a token format, as there are other drawbacks with that, such as not being able to revoke a token. And if your signing secret is compromised, you can get tokens created from third parties you cannot control.

If you have a scenario where you want to centrally

[2017-09-25 10:43] DonMartin76 commented on #2903
The generic endpoint only works if you have **only** specified `hosts`, and **not** `uris`.

In short:

* Specify `uris` --> You will need to hit `/<your api>/oauth2/token`
* Specify `hosts`--> You will need to specify `Host: <...>` as a header (or really point a DNS entry to Kong, obviously)

They combine, so if you specify both `uris` and `hosts`, you will have to do both. Please note that up un

[2017-09-25 10:58] gabel commented on #2901
@DonMartin76 Thanks for explanation. Those are the things i've expected but thanks for clarification. Hope this helps other stepping into this issue here.

[2017-09-25 13:31] vikaskmr1008 commented on #2896
I fixed this issue by adding things in **custom_plugins** and **lua_package_path** .

Here are the steps to enable and use custom plugin in kong Env.

1 - Add custom plugin name in --- **custom_plugins = hello-world**

2 - Install hello-world plugin by using following steps ---

If you have source code of your plugin then move into it and execute the command --- **"luarocks make"**

it will instal

[2017-09-25 16:11] coopr commented on #785
@awishformore @jakubriedl @jmdacruz are you seeking RBAC on the proxied APIs, or on Kong's Admin API? I ask because we recently released the latter, as part of Kong Enterprise Edition https://www.mashape.com/enterprise/

[2017-09-25 16:13] trianglee commented on #2856
Here are simple reproduction instructions for seeing that there is a problem connecting to Postgres with SSL verification, with out-of-the-box Kong (no configuration changes).

The reproduction should be executed on a machine (or a VM) with Docker. Ubuntu 14 is known to work well.
The reproduction steps are deliberately simple, so a review of the scripts can be performed before running them if des

[2017-09-25 17:49] thibaultcha commented on #2524
@frederik79 Thanks for reporting back. Closing this. If a new problem arises, we should open a new issue for it, and not hijack this thread.

[2017-09-25 17:49] #2524 closed

[2017-09-25 19:58] noorulhaq commented on #2901
@gabel , The reason I asked this question at first place is for the same reason @DonMartin76 mentioned _"to centrally decide on access to distributed APIs"_. The product I am working on nowadays includes multiple microservices and are exposed using Kong API gateway. I wanted to make the backend APIs secure but at the same time not burden them with security concerns, hence, I thought of using JWT t

[2017-09-25 20:24] thibaultcha commented on #2856
Hi,

Thank you for the report! I just submitted a patch to remedy this issue. Could you apply it anf give it a try?

@aviben01 Thanks for the detailed investigation. However this would be considered very wrong fix because you would now use LuaSocket in the main Nginx event loop (timer and access phases) which would introduce blocking I/O and could have terrible impact on performance.

@trianglee T

[2017-09-25 20:26] thibaultcha commented on #2856
@aviben01 No, those tests are (unfortunately) non-existing. We are aware of it. I've taken note of this internally and we'll do our best to upgrade our CI infrastructure to implement such tests!

[2017-09-25 21:30] #2904 closed

[2017-09-25 21:34] thibaultcha commented on #2904
This was closed due to me merging @Tieske's PR. We'll include it in our next patch release. Thanks for the report!

[2017-09-25 22:45] trianglee commented on #2856
Thanks @thibaultcha! I can confirm that zero order verification of this fix - works (I can run Kong migrations and Kong itself with Postgres with SSL verification, and access a mapped URL).
I'm sure @matangiz or @aviben01 would follow with more serious verifications.

[2017-09-26 00:34] senthil-nathan commented on #2903
Thanks @DonMartin76

[2017-09-26 00:34] #2903 closed

[2017-09-26 02:29] thefosk commented on #2853
I believe this is some configuration on your side.

[2017-09-26 02:29] #2853 closed

[2017-09-26 02:30] thefosk commented on #2835
@Rzozi this is very weird - have you tried with 0.11.x ?

[2017-09-26 05:58] gabel commented on #2901
@noorulhaq Sounds like a reasonable approach. We're doing something similar with the basic ACL system thats bubbeling a list of assigned roles of the oauth user via HTTP headers. Kong takes care that the headers are not tampered by the former requester.

[2017-09-26 06:14] DonMartin76 commented on #2901
@noorulhaq Absolutely a reasonable approach.

Please just keep in mind this will not work well for the client credentials flow, only for the other flows, where you actually have to decide in the Authorization Server on the authenticated scopes.

If a scope is defined in Kong, and the client credentials flow is to be used, all clients can request all scopes and will be granted them automatically by

[2017-09-26 07:55] wow3065 opened #2909 "It must create consumers before using kong jwt"
I can't sure that it nesscery  to created consumer if you use kong jwt.
Because I want to use dynamic consumer to using kong jwt.
But i have no idea.

Have any goog idea?

[2017-09-26 09:34] DonMartin76 commented on #2909
Some more details would be a good idea. What are you trying to achieve using the JWT plugin?

For Kong, all authentication plugins will want to resolve to a consumer, whatever that is in your context. Usually it is some kind of web application or whatever consumes your API.

Using a JWT you can add additional data, like an end user identity, which then can be verified as "authentic" by the JWT plu

[2017-09-26 10:23] wow3065 commented on #2909
@DonMartin76
Thank you for answer.

Details:
I have one web application which have many user and some services(restful api). When user have login to the application ,the user will get the jwt token, when user try to access the services which use kong jwt plugin auth, If user have right token,user will get the info which form services, if user have wrong token or not token , will return 401.

I can

[2017-09-26 10:36] kran commented on #1867
@li-wl will you consider to make a PR to kong ?

[2017-09-26 12:46] DonMartin76 commented on #2909
What type of web application do you have? Is it a single page application (runs only in browser)? Or does it have a server side component? All these things are important when deciding on how your "login" is supposed to work, and how the access to your APIs can and should be hidden away from the web application.

You will also need to ask yourself how your application is supposed to obtain the toke

[2017-09-26 15:00] sanderkooger commented on #2196
We would love to deploy Kong in openshift as well.

[2017-09-26 19:46] aviben01 commented on #2856
@thibaultcha , thank you for your suggested solution.
Unfortunately it only resolves the `kong start --run-migrations` case.
Other cases remain the same.
I am aware that using luasocket is not optimal, but nginx tcp socket doesn't work with ssl at all in my environment.
Is there any other configuration that I should have to enable it other than:
[code]

[2017-09-26 19:50] thibaultcha commented on #2856
@aviben01 I will get a look. Thanks for giving it a try.

[2017-09-27 04:24] senthil-nathan opened #2910 "custom plugin tests failing"
I am setting dev environment for custom plugin development.

I have a docker env with centos7, lua 5.1.4.5, luarocks 2.4.1 & I have cloned the latest kong https://github.com/Mashape/kong and following the documentation as per https://github.com/Mashape/kong#Development.

make dev works fine,

[root@cadd96ec2457 kong]# make dev
kong 0.11.0-0 is now installed in /usr/local (license: MIT)

busted alr

[2017-09-27 06:25] senthil-nathan commented on #2910
It was busted path issue, update make file to look at /usr/local/bin/busted which has fixed the issue

[2017-09-27 06:25] #2910 closed

[2017-09-27 07:01] wow3065 commented on #2909
@DonMartin76
Thank you

Yes ,it's one web application. But it has many apis,such as auth api,customer api and so on.

I want to create token to each user by auth api (HS256). And when user use the application to access the customer apis , I want to use kong controller the auth about accesses.
But if i create the token with the auth api ,I must known the kong consumer's info. So I don't known how t

[2017-09-27 09:22] mhndev commented on #2900
in this case I should implement a middle ware for each micro service which needs to check user identity and also user scopes before executing.
but I want my services to be unaware of authentication and authorization completely.
I've seen API gateways which provide this approach.

[2017-09-27 10:28] DonMartin76 commented on #2909
You don't have to have different consumers per end user, it's enough to have one consumer (which is your web application). The information on the end user should be encoded into other JWT claims, from where your APIs can take it out again.

Your issuing instance must be able to verify the identity of the user, and only after that was done, a token for the consumer (your web application, `iss` clai

[2017-09-27 10:33] DonMartin76 commented on #2900
Your services do not need to be aware of the user identity (or whether the user is authenticated or not), and also not which users are assigned to which scopes (or: which users have - explicitly or implicitly - granted access to the user on behalf of the consumer). These are added to calls via the API gateway as `X-Authenticated-UserId` and `X-Authenticated-Scope` if the access token was created w

[2017-09-27 11:56] senthil-nathan opened #2912 "Kong installation issue"
I am setting dev environment for custom plugin development.

I have a docker env with centos7, lua 5.1.4.5, luarocks 2.4.1 & I have cloned the latest kong https://github.com/Mashape/kong and following the documentation as per https://github.com/Mashape/kong#Development.

when I run make install on the kong folder

[root@accaf5fb6f95 kong]# make install
kong 0.11.0-0 is now installed in /usr/local

[2017-09-27 11:57] senthil-nathan opened #2913 "make tests failing"
I am setting dev environment for custom plugin development.

I have a docker env with centos7, lua 5.1.4.5, luarocks 2.4.1 & I have cloned the latest kong https://github.com/Mashape/kong and following the documentation as per https://github.com/Mashape/kong#Development.

make dev works fine,
[root@cadd96ec2457 kong]# make dev
kong 0.11.0-0 is now installed in /usr/local (license: MIT)
busted alrea

[2017-09-27 15:37] coopr commented on #334
Hi Everybody - I'm the Product Manager here at Mashape, and I'd love to hear some more details of what you'd like to see in a feature like this! Tell me about your use case, about the problems you are trying to solve, about how you'd like Kong to help you solve them with Swagger / OpenAPI Spec.

Reply herein, or email me cooper@mashape.com - thanks in advance!

[2017-09-27 16:02] JnMik commented on #2846
Same problem, kong running inside a container

[2017-09-27 17:25] Tieske commented on #2912
@senthil-nathan can you please respect the support channels? To keep on top of things we reserved the github issue tracker for bugs. For general support questions, please use the mailing list or Gitter channel.

That said, if you want to install from source, please follow those instructions. The Kong repo does not include the binaries, it won't run with PuC-Rio Lua, but with LuaJIT.

[2017-09-27 17:25] #2912 closed

[2017-09-27 17:27] Tieske commented on #2913
as just remarked in your other issue, please use proper channels. the `ffi` module is LuaJIT specific.

For a quick route, use the Kong-Vagrant box, see the instructions there https://github.com/Mashape/kong-vagrant/blob/master/README.md

[2017-09-27 17:27] #2913 closed

[2017-09-27 19:16] mhndev commented on #2900
thanks. I'll try to write the plugin .

[2017-09-28 01:29] trianglee commented on #2856
@thibaultcha, @aviben01, I did some more tests on the proposed fix.
It worked correctly with a simple Postgres certificates setup, but didn't work with a more complicated setup with a chain of certificates.

The circumstances were -

If Postgres certificate (cert1) is self-signed, and cert1 is the SSL verification certificate – everything is okay.
If Postgres certificate (cert2) is signed by a sel

[2017-09-28 01:50] wow3065 commented on #2909
@DonMartin76
Thank you for much.I will try that.

[2017-09-28 03:23] Hello-Mango opened #2914 "how A plugin use to multiple APIs but not all?"
I Want to A plugin use to multiple APIs but not all,and now I don't know how can I do，because I find a plugin only can for one api or all api

[2017-09-28 04:59] wow3065 commented on #2909
@DonMartin76

Thank you for guidance。It worked out。

[2017-09-28 04:59] #2909 closed

[2017-09-28 06:32] DonMartin76 commented on #2914
AFAIK, your only chance is to add the plugin to the desired APIs one by one.

[2017-09-28 09:41] aviben01 commented on #2856
@trianglee thank you very much! that did the job!
@thibaultcha when can you provide an official build with your PR?

[2017-09-28 11:43] Tieske commented on #2914
@donmartin76 is correct

[2017-09-28 11:43] #2914 closed

[2017-09-28 16:32] gideonw opened #2915 "lua-resty-iputils v0.2.1 error with ip-restriction plugin"
### Summary

I was setting up my ip-restriction plugins for a new product and ran into an issue when I created and enabled an ip-restriction plugin on an API with a whitelist of ["0.0.0.0/0"].

Related issue: https://github.com/hamishforbes/lua-resty-iputils/issues/11
Rockspec line: https://github.com/Mashape/kong/blob/master/kong-0.11.0-0.rockspec#L26

An update to `lua-resty-iputils => 0.3.0` ha

[2017-09-28 18:28] prateek2408 commented on #2904
When will this patch release be available ?

[2017-09-28 18:46] JanekLehr commented on #1218
I am facing the exact same situation at work that @486 described. The recent 0.11.x release seems to make no downtime upgrades even more challenging, since it appears the caching mechanism has been changed. At the very least a Flyway locking approach to migrations would be great.

[2017-09-28 19:38] thibaultcha commented on #2904
@prateek2408 We are targeting sometime next week or the following one.

[2017-09-28 22:02] thibaultcha commented on #2856
@trianglee @aviben01 Great, thanks for testing this! Yes indeed, `lua_ssl_verify_depth` is the setting you have to tweak in cases like this.

Our policy with such Nginx/ngx_lua directives has so far been to use the defaults provided by those modules. If we want to change its defaults, this warrants another discussion that isn't part of the scope of this thread. Whether or not that would be conside

[2017-09-28 22:07] #2856 closed

[2017-09-29 03:10] li-wl commented on #1867
I'll try ,but I don't make sure  this PR will be accpted.   I'll format my code first next week and push it.

[2017-09-29 03:48] icyxp opened #2916 "[kong version 0.11.0] kong/core/plugins_iterator.lua:40: attempt to index field 'cache' (a nil value)"
I am upgrading from 0.10.3 to 0.11.0，when i visit http://xxx:8000，Encountered the following questions：

2017/09/29 11:47:30 [notice] 31458#0: signal 17 (SIGCHLD) received
2017/09/29 11:47:30 [notice] 31458#0: signal 17 (SIGCHLD) received
2017/09/29 11:47:30 [notice] 31458#0: signal 17 (SIGCHLD) received
2017/09/29 11:47:30 [notice] 31458#0: signal 17 (SIGCHLD) received
2017/09/29 11:47:30 [notice]

[2017-09-29 05:33] icyxp commented on #2916
I tracked the following questions，when i set lua_code_cache = off then singletons.cache return nil, when i set lua_code_cache = on , it work ok, so how can i debug?

[2017-09-29 06:51] lyyoung commented on #2912
@senthil-nathan How do you solve this problem?

[2017-09-29 08:33] Rzozi commented on #2835
Yes i did, but still having the issue :/.

Is there some workaround for that kind of problems ?

[2017-09-29 09:42] Tieske commented on #2916
`lua_code_cache=off` is no longer supported (actually hasn't worked properly since 0.9 or 0.10)

Debugging can be done by doing a reload to activate your changed code.

[2017-09-29 09:42] #2916 closed

[2017-09-29 12:00] opyate commented on #2439
Sharing (the reason) is caring.

[2017-09-29 12:30] lomori commented on #2524
I'm seeing this problem. Kong 0.11.0 running under a Docker image (Ubuntu based) where Kong is build with support for unit tests (openresty busted).

Nslookup/dig/host work with a warning:

root@36468c25c16a:/kong-dev/kong# nslookup kong-database
Server:		192.168.65.1
Address:	192.168.65.1#53

** server can't find kong-database: NXDOMAIN

[2017-09-29 22:30] #2915 closed

[2017-09-29 22:31] thibaultcha commented on #2915
Thank you for the report. This has been fixed in #2918 and will be in our upcoming 0.11.1 release.

[2017-09-30 11:53] DanielTimLee opened #2919 "Kong.conf Postgresql Password can't contain '#'"
NOTE: GitHub issues are reserved for bug reports only.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Mashape/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

`Kong.conf` 's Postgresql Password can't contain `#` Value.

### Steps To Reproduce

1. Set Postgres User's password containing

[2017-09-30 13:09] sido420 commented on #2846
Found similar issue in Kong (latest) on a VM running Ubuntu 16.x running on Virtualbox. I used the Ubuntu package of Kong.

tail of dmesg (msgs only get printed when I run kong).
[code]
No messages whatsoever printed on console and Kong is not starting.

[2017-09-30 16:31] p0pr0ck5 commented on #2919
Hi,

This was corrected in Kong 0.11.0. Please see also https://github.com/Mashape/kong/issues/2885. Thank you!

[2017-09-30 16:31] #2919 closed

[2017-09-30 16:48] p0pr0ck5 commented on #2835
@Rzozi can you provide us with a packet capture or some other form of debug data that more clearly demonstrates the issue you are seeing?

[2017-09-30 16:57] p0pr0ck5 commented on #2919
Sorry, to clarify on a point, octothorpes need to be escaped with a backslash to be treated as character literals in config values (e.g. a password `foo#bar` should be written as `foo\#bar` in the config file).

[2017-10-02 00:46] snowmantw opened #2920 "OpenResty API ngx.location.capture won't work well with Kong"
### Summary

`ngx.location.capture` won't work in Kong plugin because nginx variables like `upstream_scheme` cannot pass to the underlying environment.

### Steps To Reproduce

1. Write a minimum plugin follow [the document](https://getkong.org/docs/0.11.x/plugin-development/)
2. Print nginx variables in Kong nginx template for `proxy_pass` section, like `ngx.var.upstream_scheme` in plugin code
3.

[2017-10-02 11:26] senthil-nathan opened #2921 "Cannot start kong despite migration being successful"
Cannot start kong despite migration being successful

root@14f14a18fc24:/etc/kong# kong migrations up -c kong.conf
45 migrations ran

root@14f14a18fc24:/etc/kong# kong start -c kong.conf --vv
2017/10/02 10:28:47 [verbose] Kong: 0.11.0
2017/10/02 10:28:47 [debug] ngx_lua: 10008
2017/10/02 10:28:47 [debug] nginx: 1011002
2017/10/02 10:28:47 [debug] Lua: LuaJIT 2.1.0-beta2
2017/10/02 10:28:47 [verbos

[2017-10-02 12:01] akhy commented on #1746
It's missing in docker install docs (https://getkong.org/install/docker/)

also worth noting that the following vars also available for configuration:

- KONG_PG_DATABASE
- KONG_PG_PASSWORD
- KONG_PG_USER

[2017-10-02 14:23] beniwtv commented on #2024
Same issue here. Right now, Kong will delete tokens/refresh_tokens from the database after 14 days. Which makes it necessary to renew a the token via the refresh token before the actual token expires.

Ideally, refresh tokens should live longer, as many OAuth2 implementations will not periodically refresh the token before it expires, as they refresh the token after they receive the authentication

[2017-10-02 21:17] dojusa opened #2922 "API's request-transformer overriden by Consumer's request-transformer"
I added an global request-transformer plugin for all my API to rename one request header. Everythings wokrs fine at this point.

But when I put a request-transformer to an specific consumer, it overrides the API request-transformer. The consumer's transformer only adds a new header, which in theory should affect the API's transformer.

Is there a reason for the behaviour? Would be nice to have bot

[2017-10-02 22:27] charliecliff opened #2923 "Kong does not Start in a Docker Container"
When Running through the steps of your example tutorial on how to start docker, the docker container hangs on the run command.

The only output to the console is:
prefix directory /usr/local/kong not found, trying to create it

Why does your example not work?

[2017-10-02 22:40] p0pr0ck5 commented on #2923
Can you please detail the exact steps you've taken to start Kong, from start to finish? I suspect you've simply missed a documented step in the process :)

[2017-10-02 22:42] charliecliff commented on #2923
I sure can:

On MacOS:

Step 1) I run:
docker run -d --name kong-database -p 5432:5432 -e "POSTGRES_USER=kong" -e "POSTGRES_DB=kong" postgres:9.4

Step 2) I run:
docker run --rm --link kong-database:kong-database -e "KONG_DATABASE=postgres" -e "KONG_PG_HOST=kong-database" -e "KONG_CASSANDRA_CONTACT_POINTS=kong-database" kong:latest kong migrations up

Step 3) I run:
docker run --name kong --link k

[2017-10-02 23:10] charliecliff commented on #2923
I don't get this error when using the Cassandra version.

It is unique to postgres.

[2017-10-02 23:14] p0pr0ck5 commented on #2923
Can you try removing the Postgres image entirely and re-grabbing it from scratch?

[2017-10-02 23:15] charliecliff commented on #2923
Yes. Same result.

Same result when I reset my docker installation to factory settings.

[2017-10-02 23:25] p0pr0ck5 commented on #2923
Can you share the output of `docker logs`?

[2017-10-02 23:55] charliecliff commented on #2923
When running the docker logs command, the only output is

*prefix directory /usr/local/kong not found, trying to create it*

[2017-10-03 00:10] thibaultcha commented on #1867
@li-wl Sorry, at this time we would not be accepting such a contribution. We are currently in the process of refactoring our DAO layer, and adding a new database strategy would only delay our work and increase our maintenance overhead. Hopefully, once the DAO improvements are completed, adding new database strategies should be easier. Stay tuned.

[2017-10-03 00:14] senthil-nathan commented on #2921
KONG_PG_HOST should be set as 127.0.0.1 instead of 127.0.0.1:5432 as default port that kong looks for is 5432.

[2017-10-03 00:14] #2921 closed

[2017-10-03 00:56] thibaultcha commented on #2899
A fixed has been proposed in #2924. It won't retroactively fix the APIs ordering and evaluation order in the router (which is preferable considering it would be a breaking change), but it ensures that on a fresh Postgres instance, APIs will ordered by their `created_at` field, which now uses a millisecond precision.

#2925 will not work retroactively either, but it will ensure that existing Postgr

[2017-10-03 02:39] z3usy commented on #2846
We've confirmed with our local testing hardware that any CPU that does not support the flag for **_sse4_2_** will not launch the v0.11 Kong due to the LuaJIT instruction requirements.

Great catch @JnMik .... you saved us a load of trouble. Currently replacing some devboxes now. Swarm label needs just got real. ;)

[2017-10-03 02:41] JnMik commented on #2846
Pleasure @z3usy  :)
And indeed, swarm labels just got real ahaha

[2017-10-03 02:55] p0pr0ck5 commented on #2846
Thank you all for the discussion! We appreciate the community feedback here. I will add a note to our docs discussing this case.

[2017-10-03 08:34] mohammedharoon opened #2926 "Docker error for kong 0.9.9 : Error starting userland proxy"
I am using below steps to run cassandra 2.2 . It is running fine, but when I am trying to run kong, docker is throwing error.
1.
sudo docker run -d --name kong-database \
                -p 9042:9042 \
                cassandra:2.2
after running cassandra container wait some time for initialization else host fail error will show up.

2.
sudo docker run --rm \
    --link kong-database:kong-database

[2017-10-03 09:09] erran commented on #615
@sonicaghi The [`http-log` plugin](https://getkong.org/plugins/http-log/) can be used to forward logs to logentries.

At Rapid7 we use a configuration similar to the following:

[code]

Your `LOG-TOKEN` value can be found by following [this guide from the logentries docs](https://docs.logentries.com/v1.0/docs/http-post#section-endpoint).

[2017-10-03 09:12] erran commented on #615
@sonicaghi The [`http-log` plugin](https://getkong.org/plugins/http-log/) can be used to forward logs to logentries.

At Rapid7 we use a configuration similar to the following:

[code]

Your `LOG-TOKEN` value can be found by following [this guide from the logentries docs](https://docs.logentries.com/v1.0/docs/http-post#section-endpoint).

@thibaultcha this issue can be closed.

[2017-10-03 10:37] Rzozi commented on #2835
@p0pr0ck5 in the logs of my apache (for the vcmp02) i see this error:

`hostname provided lb-vcmp01... via SNI and hostname provided via HTTP lb-vcmp02.. are different`

Is this enough ?

Thanks

[2017-10-03 14:39] Tieske commented on #2922
this is a design limitation, every plugin runs only once. And in this case the consumer one is the "more specific", and hence get priority.

This will likely change in the future.

PS. a workaround might be to copy and rename the entire plugin, this way they are 2 different plugins to Kong, yet have the same functionality. (untested!!)

[2017-10-03 14:39] #2922 closed

[2017-10-03 14:46] hutchic commented on #2926
0.9.9 is a bit of an older release may I ask why this version?

`kong:0.9.9` didn't have a dedicated migration command. The following worked for me

[code]

[code]

[2017-10-03 14:53] hutchic commented on #2923
I followed the same steps (not on a mac) but was successful.

[code]

can you run `ps -aux` against the Kong container
[code]

[2017-10-03 16:20] simonpie commented on #2887
I dont think this should be close.  We have kong 0.11 and yet, kong does not balanced between the two targets I have set :

`
[udesr6t@dvllkg01a ~]$ curl localhost:8001/upstreams/transition-approvisionnement-api-upstream/targets
{"total":2,"data":[{"created_at":1507043934975,"id":"9e379e1a-6a6b-4c56-bcee-693be7b709dc","upstream_id":"a6d2d4ba-2987-4074-9747-184d31bb2f87","target":"dvlldk02b.ile.mon

[2017-10-03 17:47] bob983 commented on #2024
@diogonicoleti Are you working on that change? I was planning to the same actually.

[2017-10-03 18:45] techtyler commented on #677
Is it possible to use this feature with QueryString parameters? I'm having issue with getting the regex to match the "?" character in the request uri. I want to set up 2 apis with the only difference being the presence of the query string (such as "?debug=true") is added.

Example (get user by ID with debug querystring)
RequestURI: /User/[0-9]{8}\?debug=true

I've attempted to escape and double es

[2017-10-03 19:17] mohammedharoon commented on #2926
Thanks for the response.  With kong 0.11 the admin API have changed a bit and is not compatible with my application so I am using kong 0.9.9.

I tried your approach again but getting the same error.  For some reason the port 7946 gives the same error "Error starting userland proxy: listen tcp 0.0.0.0:7946: bind: address already in use". I changed the port mapping as -p 9001:7946 and it is working

[2017-10-03 20:31] #2926 closed

[2017-10-03 20:44] andy9775 opened #2927 "Can't update kong custom id"
### Summary

When trying to update the `custom_id` field for an existing Oauth consumer, the database gets updated but the upstream service continues to see the old custom_id value.

I'm following the documentation [here](https://getkong.org/docs/0.10.x/admin-api/#update-consumer) which is returning a 200 ok on update and checking the postgres Db the custom ID for the consumer in question is updat

[2017-10-03 23:09] thibaultcha commented on #677
@techtyler Copying here my answer to you from Gitter for future reference to this thread (please avoid cross-posintg in the future):

[code]

Also, I will now be locking this issue to avoid further noise. The usual support channels (Gitter/Freenode/Mailing list) are the preferred channel of communication for getting help and asking questions. Today, GitHub issues are only looked at when actually r

[2017-10-04 14:02] pachico commented on #2194
We're experiencing the same issue running 0.10.3.
In one of our 3 nodes cluster, one node is now stuck at 95% RAM (3.34 of 3.67 GB)  usage receiving exactly the same amount of traffic than the other 2 nodes. We're monitoring it and no GC seems to be triggered at any time that will evict the RAM load.

Has someone solved this by upgrading to 0.10.4?

BTW, let me know if you want me to provide profi

[2017-10-04 15:58] thefosk commented on #1746
Every configuration parameter in the Kong configuration file can be configured with environment variables by prefixing the parameter name with `KONG_` and everything uppercase. Ie, the `log_level` parameter can be set with `KONG_LOG_LEVEL=...`, same for every other property.

[2017-10-04 20:33] #2899 closed

[2017-10-04 20:34] thibaultcha commented on #2899
Closing this as #2924 has been merged. The fix should make it in the 0.11.1 release at most a couple of weeks from now. Thanks again for the report!

[2017-10-04 22:33] senthil-nathan opened #2930 "Kong development environment - tests failing"
I have an issue with setting up Kong development environment. I have set up the dev env in docker (ubuntu), pulled the latest source from https://github.com/Mashape/kong. While trying to run Unit tests using make test the following errors appear - root@6d8209285b4c:confused:kong_dev# make test
●●●●●●●●●●●✱✱✱●●●●●✱✱✱✱✱✱✱●●●●●●✱✱
22 successes / 0 failures / 13 errors / 0 pending : 2.235656 seconds
E

[2017-10-05 14:01] Tieske commented on #2930
you're running the tests apparently in an enviornment without the `ngx` global. This means you are probably running against the wrong Lua engine (should be against `resty`, the cli for openresty)

If you don't know how to build it, pleas use the `kong-vagrant` repo.

Last but not least: Github issues are meant for bugs, not general support. Please ask questions like this on Gitter or the mailing l

[2017-10-05 14:01] #2930 closed

[2017-10-05 15:36] YGwen commented on #155
+1

[2017-10-05 16:00] thefosk commented on #2923
I have executed the exact same steps and it works for me.

[code]
and properly working when using Kong.

[2017-10-05 16:09] marceldiass opened #2933 "UPSTREAM - PATCH slots should generate new orderlist"
### Summary

I'm trying to update the number of slots of an upstream with the PATCH. But It's returning this error  `{"message":"size mismatch between 'slots' and 'orderlist'"}` message.

I believe setting a new slots number should generate a new orderlist with the new size automatically as the PUT method does.

### Steps To Reproduce

Unable to update slots number of an

1. Create an upstream
[co

[2017-10-05 16:32] Tieske commented on #2933
as a workaround you can delete and add a new one (by the same name)

The orderlist will be gone in the next release (0.12) anyway.

[2017-10-05 20:13] macedogm commented on #2834
Hi @zamarroz.
I'm using the variable ngx.ctx.api.upstream_url to change the upstream URL. Maybe you should try using it.
Best regards.

[2017-10-06 12:36] Niradnik opened #2934 "transmission of consumer's infos"
Hey all thanks for the amazing tool you developed !

I was wondering if there is any way to transmit any info, from the user to the apis. In a practical way I want to give access to read on my api through kong plugins but I want to manage more precise access with the api like this user can delete this. To do so I need to have info on who is the user and thus I would need that kong give to the api

[2017-10-06 18:45] lavoiedn opened #2936 "custom_plugins configuration in kong_tests.conf appears to be ignored in helpers.lua"
### Summary

Setting the `custom_plugins` configuration in `kong_tests.conf` will result in the configuration being ignored when running tests using `spec/helpers.lua`.

I believe it is an oversight, apologies if it is working as intended or a result of improper use of the test helpers.

### Steps To Reproduce

1. Write a plugin in a standalone repository, copying `bin/busted`, `spec/helpers.lua`

[2017-10-06 19:54] thefosk commented on #2934
Kong already sends a few `X-Consumer-*` headers that you can read from the upstream service.

[2017-10-07 15:53] mwaaas commented on #334
Onboarding api via swagger file and maybe a flag to turn on when to do request validation before forwarding request to upstream.

I have actually managed to do this by a node app parsing the swagger file and onboard the api. And a plugin to forward the request and its content to the node service before forwarding the request to upstream servers.

If I get time I might convert the node app to Lua a

[2017-10-08 07:59] ksachdeva11 opened #2938 "Installing kong on Ubuntu 16.04"
NOTE: GitHub issues are reserved for bug reports only.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Mashape/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

Installing kong on Ubuntu 16.04 doesn't seem to work at all. This is 1st time setup on this Ubuntu box.

### Steps To Reproduce

[2017-10-08 08:00] ksachdeva11 commented on #2938
Snippet from kong.conf -
[code]

[2017-10-08 19:33] rajasoun commented on #2194
Facing the Same Issue.

Running Kong in Docker (using https://github.com/Mashape/docker-kong/tree/master/compose)
Host : Ubuntu  & docker-ce

[2017-10-08 21:02] rajasoun commented on #2923
Try : https://github.com/Mashape/docker-kong/tree/master/compose
It works for me.
However the challenge is with the memory leak

[2017-10-09 03:51] senthil-nathan opened #2939 "JWT Plugin - RS256 algorithm not working"
I am trying to add RSA Public key to JWT Plugin but I cannot successfully add as Kong throws "{"message":"'rsa_public_key' format is invalid"}"

Following are the steps to reproduce :

1.  Create an api endpoint

curl -i -X POST \
  --url http://localhost:8001/apis/ \
  --data 'name=jwt_validation' \
  --data 'upstream_url=http://mockbin.com/bin/239864d4-0a4d-4caf-824f-7b530d05ddd6' \
  --data 'ur

[2017-10-09 03:54] senthil-nathan commented on #2938
hey @ksachdeva11 did you install the data store (cassandra / postgres) before running migrations ?

[2017-10-09 04:07] senthil-nathan commented on #1458
Retrying the above (with same public key) doesnt work in kong 0.11
Error message is {"message":"'rsa_public_key' format is invalid"}

I have raised an issue https://github.com/Mashape/kong/issues/2939

[2017-10-09 04:40] frederik79 commented on #2029
Hey, did you ever find a way to get get the logs for this... I set accept_http_if_already_terminated to true in the OAuth2plugin and set the x-forwarded-proto: https header. However, I also get the {"error_description":"You must use HTTPS","error":"access_denied"} message when I request the oauth token.

[2017-10-09 05:22] ksachdeva11 commented on #2938
Hi @senthil-nathan, yes cassandra is already running on these nodes `10.2.41.143,10.2.41.144,10.2.41.145` . Looks like this issue is specific to version 0.11. I switched to version 0.10 and it working fine following the same steps as I did earlier.

[2017-10-09 15:26] je3son opened #2940 "Can't start kong on MacOS 10.13"
### Summary

After I updated to macOS 10.13, I can't start kong.

### Additional Details & Logs

- Kong version (0.10.3)
- Kong Error: /usr/local/share/lua/5.1/kong/cmd/start.lua:22: could not start serf: /Users/james/projects/_go/src/github.com/hashicorp/serf/serf/internal_query.go:73 +0x110

[2017-10-09 18:36] ksachdeva11 opened #2941 "Kong fails to start while clustering"
### Summary

I am starting kong on 2 nodes as a cluster. But it fails to start with below error.

### Steps To Reproduce

1. Start kong
2. kong restart -c /etc/kong/kong.conf --vv

Snippet from kong.conf :
[code]
**10.2.41.142** is the IP of other node where kong is running.
### Additional Details & Logs

- Kong version (`0.10.3`)
- Kong debug-level startup logs (`2017/10/10 00:01:03 [debug] start

[2017-10-09 18:50] thibaultcha commented on #2941
It seems like the error is self-explanatory? Serf cannot bind to the address you asked it to:

[2017-10-09 18:51] thefosk commented on #2940
@je3son if you have a chance to update to 0.11.x that'd be great since we removed Serf as a dependency.

[2017-10-09 18:52] thefosk commented on #2941
In addition to that 0.11.x has removed Serf dependency.

[2017-10-09 18:53] thefosk commented on #2938
@ksachdeva11 did you run `kong migrations up` before starting Kong in 0.11.x ? That is now a required step.

[2017-10-09 18:54] thefosk commented on #2934
@Niradnik can you confirm you are receiving those headers? ^

[2017-10-09 18:54] #2934 closed

[2017-10-09 19:02] thefosk commented on #2194
@pachico @rajasoun I would strongly recommend updating to 0.11.x because there were lots of changes that may have positively affected this issue.

[2017-10-10 02:42] frederik79 opened #2943 "OAuth2 plugin responds with - you must use HTTPS"
We get a 400 from the oauth2 plugin when I request an oauth token with the client_credentials grant_type.

I configured:
1. X-Forwarded-Proto: https as part of the request header
2. http_if_terminated":true,"https_only":false is set on the API
3. "accept_http_if_already_terminated":true,"
Kong Version 0.11

The calls to Kong comes through fine. 10.0.2.2 - 05b231778fc848989b7655529df9b534 [10/Oct/2

[2017-10-10 02:43] checky commented on #2899
Hi @thibaultcha.
Thanks for the bug fix. But can I ask you to confirm **Issue 1**, too? The evaluation order between regex and prefix seems strange to me.

The document says - "URI prefixes are always evaluated first".
But see the source code here,
https://github.com/Mashape/kong/blob/e49cd360693e44e8d3842f62ba92d5c367c3052a/kong/core/router.lua#L666-L691
When req_uri is matched in plain_indexes.u

[2017-10-10 02:44] frederik79 commented on #2943
Seems to be similar to #1683. But none of the suggested solutions resolved it. thanks

[2017-10-10 05:17] snowmantw commented on #2920
After studying this issue, I now suspect that the root cause is because Kong set all variables like `$upstream_host` in `access_by_lua_block`, which is a directive that according to OpenResty's document:

Therefore, in subrequests, the `access_by_lua_block` will be skipped, and those variables will keep as default (empty).

[2017-10-10 05:41] ksachdeva11 commented on #2938
@thefosk Yes, I did.

[2017-10-10 05:43] ksachdeva11 commented on #2941
@thibaultcha I can see that but how can I fix this issue ?

@thefosk I am not able to get kong up on 0.11.x that is the reason I switched to an older version. Issue #2938

[2017-10-10 12:05] pachico commented on #2194
@thefosk, thanks for your reply. We're in the process of upgrading now.
I will reply here if it solved the issue.

[2017-10-10 17:40] diogonicoleti commented on #2943
Same problem here!

[2017-10-10 17:55] sanjay-varanasi opened #2944 "No default kong.conf on MacOS"
So, I followed the installation steps for a Mac at this URL: https://getkong.org/install/osx/, and contrary to what the docs say about a default config file at /etc/kong/kong.conf.default, there exists none in my installation. In fact, there is no /etc/kong directory at all.

### Steps To Reproduce

1. brew tap mashape/kong
2. brew install kong. Successfully installed.
3. ls /etc/kong. Result: No

[2017-10-10 20:50] diogonicoleti commented on #2943
@frederik79 i solved this problem adding the [trusted_ips](https://getkong.org/docs/0.11.x/configuration/#trusted_ips) as `0.0.0.0/0`. Maybe its not the best solution but can resolve for you too.

[2017-10-10 21:05] frederik79 commented on #2943
@diogonicoleti - thanks this works... would be good if this could be  documented that the oauth plugin is dependent on this conf parameter.

[2017-10-10 21:54] Trojan295 commented on #2018
I could tackle it, but I would like to clear some points:

The current response from the Token Endpoint looks like:
[code]
The `expires_in` field is connected to the expiration time of the access_token. The default expiration time for refresh tokens is 2 weeks and cannot be configured.
We could add a field `refresh_expires_in` with a value of two weeks, but I looked a bit through OAuth2 docs and c

[2017-10-10 22:34] kkindaface commented on #2018
Sorry if my initial request confused things up.

In order to ask for a refreshed access_token one would make an api call using the refresh_token within the 'expires_in' time limit but to be precise if an attribute called 'created_at' was also added to this same response it would be more accurate to ask for a new access_token using both created_at and expires_in fields. What I am trying to get as i

[2017-10-10 22:49] hbagdi opened #2945 "Proposal/feature: List all consumers for key-auth plugin with their keys"
Getting ACL group or API keys for all consumer from Kong requires multiple REST requests.

[code]
I would like to propose the following two endpoints:
[code]
The code could be as simple as (no grouping):

[code]

I can't think of a reason why this could be a problem or is a bad idea.
Please let me know if this is avoided for good reason.

If not, then I can do a PR.

[2017-10-11 00:16] p0pr0ck5 commented on #2945
Hi,

Thank you for the post, but please dot cross post to both GitHub and the mailing list. GitHub is for issues running Kong, not feature requests or community discussion. Since there is a mailing list thread for this topic, I will close this issue. Thank you!

[2017-10-11 00:16] #2945 closed

[2017-10-11 02:05] chenyukang commented on #2941
you should change the cluster_listen = 10.2.41.142:7946 in config file,
I assume you have runnning a kong node on 10.2.41.142,
fix the IP address so that Serf can build a connection on it.

[2017-10-11 06:13] jmdacruz commented on #785
@coopr My original thought was on the proxied APIs, but good to hear there is also the option for RBAC on the admin APIs.

[2017-10-11 06:33] phpfangting opened #2947 "How to add dynamic routing"
example:
        http://www.example/order/{orderId}       note： orderId is a dynamic value

[2017-10-11 06:44] thibaultcha commented on #2947
Hi,

Please read the [Proxy Guide](https://getkong.org/docs/0.11.x/proxy/) to understand the routing capabilities of Kong.

Thanks!

[2017-10-11 06:44] #2947 closed

[2017-10-11 06:52] phpfangting commented on #2947
Thank you very much @thibaultcha

[2017-10-11 08:41] ksachdeva11 commented on #2941
@chenyukang so you are basically saying there is no need for port ?

[2017-10-11 09:57] YukangChen commented on #2941
no, you need port, usually, multiple kong node use the same port.
fix the ip address so that Serf can connect on it.

[2017-10-11 10:04] ksachdeva11 commented on #2941
@chenyukang whats wrong with this ? My current kong node is 10.2.41.141 and other node where kong is running is 10.2.41.142.

So, this `cluster_listen = 10.2.41.142:7946` is present in kong.conf of 10.2.41.141 kong node.

[2017-10-11 10:11] chenyukang commented on #2941
no,
on 141 the config file should be: cluster_listen = 10.2.41.141:7946
on 142 the config file should be: cluster_listen = 10.2.41.142:7946
according the my reading on source code, every new node added into a cluster, kong will register it on the DB, other kong node will use the port 7496 to communicate with other nodes.

[2017-10-11 14:42] bob983 commented on #2024
@DonMartin76 @beniwtv Can you have a look a the PR #2942? It adds a new config option `refresh_token_ttl` that specified TTL for the refresh token. If set to `0` it means _nevere expire_.

[2017-10-11 17:07] dselans opened #2948 "Possible route collision bug"
### Summary

It seems that we have ran into a really bizarre route (collision?) bug.

Given two routes - `/e` and `/example` - if one does not have any methods defined on the first one, while the second has a ["GET" ...], when hitting `/example`, kong will forward the request to the upstream of `/e` with the request URI set to `/xample` (yes, without an `e`).

### Steps To Reproduce

1. Run two ht

[2017-10-11 18:19] Trojan295 commented on #2018
Ok, for custom TTLs in refresh tokens there is already an issue (#2024).

The `expires_in` field tell you how long the token can be used in seconds. It's not a timestamp. When saving the refresh token somewhere locally you can store also the timestamp from your system with it and add the `expires_in` value, so you get the timestamp, after which the refresh token is not valid. I don't see any use f

[2017-10-12 01:51] vukasin-nikodijevic opened #2949 "Migrations fails - can't resolve cassandra host throught docker service discovery"
### Summary

Migrations doesn't work if docker cassandra container name is used for service discovery. If IP is provided instead it works.

#### This works:

172.19.0.2 - IP of cassandra container

[code]

#### This doesn't work:

[code]

[code]

#### Even do ping through service discovery kong > cassandra works like a charm:
[code]

### Steps To Reproduce

1. Create cassandra docker container
[co

[2017-10-12 03:41] WithLin0510 opened #2950 "Cassandra cluster and Kong Cluster error"
### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1. I used cassandra cluster  on  two  machine  eg: 192.168.191.131 and 192.168.191.132
2. and then i used kong cluster  on  two machine. eg:192.168.191.131 and 192.168.191.132
3. but  i try down  cassandra(192.168.191.132),which i operater that  curl localhost:8001.
4. kong is error.

### Additional Details & Logs

- Kong version (`$ kong ver

[2017-10-12 05:34] WithLin0510 commented on #2950
please help me.

[2017-10-12 11:57] adrianlop commented on #2574
hi, this is still failing in Kong v0.11 for me
I have `app1.service.consul`registered in consul and sometimes Kong will throw an error:
[code]

- First I didnt have defined the port in the consul service, so the SRV request returned port 0.
- After that, I configured the 8080 port for the service, SRV request started returning port 8080 properly, but Kong still fails
I've done a few hundreds of re

[2017-10-12 13:20] mvanholsteijn opened #2951 "hmac-auth plugin results in an internal server error if the Authorization header is not matching"
### Summary

When the authorization  header is not matching the HMAC expected header and you have specified enforced headers, the plugin throws a 500.

### Steps To Reproduce

1.  add an api with a hmac-auth plugin.

[code]

2. just call the api with a non-matching header.
[code]

### Additional Details & Logs

- Kong version (`$ kong version`)
0.11.0

- Kong debug-level startup logs (`$ kong star

[2017-10-12 13:38] mvanholsteijn opened #2952 "hmac-auth plugin cannot work behind a AWS Application Load Balancer"
### Summary
When running the KONG API Gateway behind the AWS Application Load Balancer, the Proxy-Authorization header required by the hmac-auth plugin is filtered out.

I am using both the JWT plugin and the HMAC plugin;  As there is no way to change the header from which the hmac-auth plugin works, I cannot configure this to work.

### Steps To Reproduce

1. Deploy a KONG API Gateway behind a AW

[2017-10-12 15:28] rcyrus commented on #2029
I honestly can't remember. I closed this without comment, I typically only do that if I was doing something wrong. Ultimately though I was not able to solve this problem without modifying the Oauth2 plugin to skip the checks. I have not been involved with a Kong project since Feb though so my knowledge is rusty

[2017-10-12 19:39] mvanholsteijn commented on #2897
Hi @argentum47 ,

the statistics that you mention are collected by the datadog agent, not reported by the plugin. Add the following  kong.yaml in /etc/dd-agent/conf.d

[code]

Cheers,

Mark

[2017-10-12 20:59] JnMik commented on #605
I've built this for my needs, might help some of you ?
https://github.com/JnMik/kong-plugin-newrelic-insights

Cheers

[2017-10-13 02:10] depay commented on #2574
@adrianlop you'd better looking for msg in consul query log

[2017-10-13 03:16] mikob opened #2953 "Cannot delete plugin by name"
### Summary

I cannot delete a plugin by name despite the docs saying I should be able to, and apparently https://github.com/Mashape/kong/pull/2252 being merged.

### Steps To Reproduce

1. Create a plugin
Here you can see it's created
[code]
2. Try to delete it by name
[code]

### Additional Details & Logs

- Kong version 0.11.0 running from official kong docker container with postgres db

[2017-10-13 04:34] ksachdeva11 commented on #2938
Any updates ?

[2017-10-13 15:54] hbagdi commented on #2953
+1

[2017-10-13 16:37] psmulovics opened #2954 "Plugin suggestion: Azure Functions"

[2017-10-13 19:04] hutchic commented on #2938
I'm unable to replicate with the following vagrantfile

[code]

What output do you get when you run kong commands?

Also the following commands might provide more debug information:
[code]

[2017-10-14 13:17] vukasin-nikodijevic commented on #2949
Another important thingy is that `cassandra` must be fully bootstrapped(ready to accept connections) at the time of running kong migrations. On my host it takes around 35sec.

This issue pretty much blocks me to use `docker-compose` to bootstrap development environment but shell script.

This is how kong run.sh looks like with all workarounds:

[code]

[2017-10-14 16:07] PGBI opened #2957 "StatsD plugin configuration schema isn't correct"
### Summary

StatsD plugin configuration schema returned by `GET /plugins/schema/statsd` doesn't describe well the plugin and doesn't comply with the documentation about plugins schemas here => https://getkong.org/docs/0.11.x/plugin-development/plugin-configuration/

As a result, [Kong-Dashboard](https://github.com/PGBI/kong-dashboard) which relies on the schema endpoint to build a user interface

[2017-10-14 17:13] hutchic commented on #2949
I don't have any problem with cassandra over the docker overlay network

[code]

Also we'd prefer to keep service healthcheck launch order etc outside of the official docker images. You can see how I did it above but that's limited to docker-compose 2.1 but docker swarm and kubernetes etc all have similar mechanisms available

[2017-10-14 17:21] Tieske commented on #2574
@adrianlop the error `3 name error` is not an error generated by Kong, but it is the actual response send by the DNS server. So from a Kong perspective it gets a proper/valid answer from the DNS server, it's just that the answer is "I don't know any system by that name".

What are your dns related setting in the Kong config file? and what's in your `/etc/resolv.conf` file?

[2017-10-14 20:29] mohamedrez opened #2958 "Encoding issue only when key-auth is enabled after updating from 0.10.0 to 0.10.3"
### Summary
All my `key-auth` enabled services that has `arabic encoded url` aren't working after the upgrade.
The same service works if I disable `key-auth`
I captured the log in the Upstream service and it seems that the url is encoded twice when it is proxied.

An example of the captured on the upstream service:
Service configuration from kong dash:
<img width="1566" alt="screen shot 2017-10-14

[2017-10-14 21:04] mohamedrez commented on #2958
Fixed by updating to 0.11.0

[2017-10-14 21:04] #2958 closed

[2017-10-16 02:23] jeremyjpj0916 commented on #569
property of a dictionary?

I am trying to work in this in lua, but I am brand new to the language so its tougher on me than normal hah.

[2017-10-16 06:51] phpfangting opened #2961 "I want to search api data by uris params ,but I had not find it"
Hi,
In the apis list ,I want to search apis data by uris params ,but I had not find it!
Can you help me?
thanks

[2017-10-16 11:06] divyanshuverma1 commented on #1116
@Lawouach, i tried deleting my api's, its working for me using the below command.

# curl -i -X DELETE http://localhost:8001/apis/example-api

[2017-10-16 11:54] adrianlop commented on #2574
thanks for the responses guys @depay @Tieske
I will be taking a look at this when I switch back to Consul DNS again. I started pointing to a Route53 entry (AWS) and works OK.
please dont close the issue yet.

[2017-10-16 13:03] smalot opened #2964 "Error while using SRV records in upstream targets"
### Summary

In a Kubernetes environment, we try to use SRV records in upstream target. Each time we have a http code 500 error.
But with A records, everything works.
We double check the SRV DNS entry and it's correctly set.

### Steps To Reproduce

In a Kubernetes environment (in Google Cloud Engine):

1. Create an Upstream (service_user)
2. Add a target using a SRV DNS record (_nginx._tcp.servic

[2017-10-16 13:46] smalot commented on #2964
This issue seems related to the `preserve_host` property set to the API object.

[2017-10-16 13:52] djyoda commented on #2949
DId you check your system resolv.conf file? If it contains directive for default search domains it will cause you issue that you are talking about.

[2017-10-16 14:21] vukasin-nikodijevic commented on #2949
@hutchic
thanks for suggestion - I'll try this once I start movement to docker compose (planned ASAP 😄 )

@djyoda
Thx - confirmed - once I've removed `search` directive from `resolve.conf` I was able to use resolving by `container name`.

Additionally on linux systems (mine Fedora 26) where NetworkManger is used update of `resolve.conf` should be configured as well.
1) vim /etc/NetworkManager/Netw

[2017-10-16 14:21] #2949 closed

[2017-10-16 15:12] marceldiass commented on #2933
Thanks, I will PUT method instead of PATCH for now.

[2017-10-16 15:12] #2933 closed

[2017-10-16 16:04] denniswebb opened #2966 "ngx_http_rewrite_module support"
### Summary

Looking to use an nginx `if` statement for detecting if the connections is coming from CloudFlare.  From what I can tell, the version of nginx shipped with the kong container does not support this.  Is there a way to add support?

I'm trying to implement the if statement found here - https://gist.github.com/Doonga/dc91f2c52f17c9931e269966dfcb956d#file-realip-cf-haproxy-conf-L30

### A

[2017-10-16 16:16] p0pr0ck5 commented on #2966
Hi,

If you want to use custom Nginx directives, please have a look at https://getkong.org/docs/0.11.x/configuration/#custom-nginx-configuration-embedding-kong.

You may also consider writing a custom plugin if you have more complex application logic requirements: https://getkong.org/docs/0.11.x/plugin-development/.

Please also note that Github issues are not the appropriate forum for questions l

[2017-10-16 16:16] #2966 closed

[2017-10-16 20:25] Tieske commented on #2964
This was already fixed https://github.com/Mashape/lua-resty-dns-client/pull/19

to be released

[2017-10-16 20:25] #2964 closed

[2017-10-16 20:40] smalot commented on #2964
Is there a release date ?

[2017-10-17 10:19] badrinathpathak opened #2967 "unable to remove/replace json key of response body using response tranformer plugin"
### Summary
I am unable to remove/replace json key from response body using response-transformer plugin.

### Steps To Reproduce

1. Suppose,this is my actual API response : {"offsets": [ {"partition": 0,"offset": 41} ], "key_schema_id": null, "value_schema_id": null}
2. I wanted to remove **"offsets"** and  to add **"testing"** from response.
3.I , created  response-transformer plugin using kong-

[2017-10-17 10:47] kumardevendra26 commented on #2967
Will you please try with Header "accept: application/json :
`curl -X POST -k localhost:3000/api/test -H 'accept: application/json'  -d '{"records": [{"value": {"name":"user"}}]}'`

[2017-10-17 22:03] thefosk commented on #2953
The reason why this is not allowed is because you may have more than one plugin with the same name on the same API: for example you may have a rate-limiting global for one API, and a rate-limiting for the same API but also a Consumer (via the `consumer_id` property).

In that case the system would delete both plugins, and we haven't brainstormed enough if that's the behavior we want to have.

[2017-10-18 04:45] irahardianto commented on #413
@linking12 this might help https://github.com/grpc-ecosystem/grpc-gateway

[2017-10-18 14:57] hbagdi commented on #2953
@thefosk Even if there's a single plugin with the same name, the behaviour is not as we would expect.
I create an API and then add a plugin to the API.
Now, a request like:
[code]
always returns:
[code]

I've tried this with multiple combinations but doesn't seem to work.

[2017-10-18 16:33] Pinguwien commented on #2944
files installed with brew are going to be under /usr/local/Cellar/ on the filesystem. actually, in your case what you're looking for might be /usr/local/Cellar/kong/0.11.0/nginx-kong.conf

[2017-10-18 21:11] kjsteuer commented on #1668
We had a similar requirement. Here is what we did:

In our Dockerfile:
[code]

In our entrypoint
[code]

[2017-10-18 21:24] thomasgriffin opened #2969 "SSL certificate fails when using chain bundle"
### Summary

When installing and using an SSL cert, using the cert bundle from the CA authority (in this case GoDaddy) fails. Using the single cert works. I would expect for the bundle to work as well.

### Steps To Reproduce

1. Download the SSL package from your CA authority that includes the cert and the bundle.
2. Attempt to create a new certificate using the bundle for the `cert` parameter an

[2017-10-18 21:25] mrproper commented on #1668
@p0pr0ck5 @kjsteuer this is exactly how i handle it in our kong docker image, though i guess we can now drop the .../logs/serf.log in the current kong release

[2017-10-18 23:21] c-knowles commented on #1668
Worth checking https://github.com/Kong/docker-kong/pull/71 since this now seems to be covered by env vars.

[2017-10-18 23:28] hishamhm commented on #2969
Hi, thanks for the report!

Colud you share the exact commands you used in steps 2 and 4, for creating the certificates and registering them in Kong?

Also, just to confirm, in steps 3 and 5, by "visit the URL" you mean via a browser (as opposed to `curl` or `wget`), right?

[2017-10-19 01:23] Tieske commented on #2574
also: note that as a `3 name error` is considered a valid response, it will also be cached by Kong. In Kong 0.11 this is controlled by the `dns_not_found_ttl` setting, which defaults to 30 seconds. This might explain your 80% failures.

[2017-10-19 02:02] thomasgriffin commented on #2969
Sure, sorry I wasn't more specific. Here is the exact command I used to create a new certificate:

[code]

[2017-10-19 02:26] thomasgriffin opened #2970 "Adding config string with literal plus sign (+) is sanitized as whitespace"
### Summary

Using the AWS Lambda plugin, one of my AWS key/secret pairs contains a literal plus sign (+) in the string. I couldn't for the life of me figure out why I kept getting key errors until I realized that once the information was saved, the plus sign was removed and replaced with whitespace.

To fix the problem, I had to use `%2B` in place of the plus sign to get it to save as the literal

[2017-10-19 11:42] undernewmanagement commented on #2792
I also have the exact problem here. This is my command:

[code]

My current work-around has been to delete the certs and re-create them.

[code]

[2017-10-19 16:41] hishamhm commented on #2970
How did you send the request to the Admin API endpoint?

If you are using `curl`, for example, when sending any [reserved characters in an HTTP request](https://en.wikipedia.org/wiki/Percent-encoding), you need to use `--data-urlencode` instead of `--data` to supply your data.

[2017-10-19 16:50] hishamhm commented on #2961
Hi! Please note that our Github issue tracker is aimed at tracking bugs only. For support questions, please consider posting to Gitter or the mailing list as noted here: https://github.com/Mashape/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help. Thank you!

[2017-10-19 16:50] #2961 closed

[2017-10-19 16:52] hishamhm commented on #2954
Hi! Please note that our Github issue tracker is aimed at tracking bugs only. For suggestions or other kinds of discussion, please consider posting to Gitter or the mailing list as noted here: https://github.com/Mashape/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help. Thank you!

[2017-10-19 16:52] #2954 closed

[2017-10-19 17:00] psmulovics commented on #2954
You guys should update https://getkong.org/plugins/ then - it points to this URL to submit plugin suggestions.

[2017-10-19 17:12] hishamhm commented on #2954
@psmulovics Oh, indeed, sorry! There has been certainly a miscommunication on our side. We are in the process of reorganizing our support channels, so that community feedback like plugin ideas don't get lost in the sea of Github issues.

I tagged this issue so it gets addressed as we reorganize things and we will check the website links. Thank you for the heads up!

[2017-10-19 18:17] brockmiller opened #2975 "Kong v0.11.0 Error during migrations on an already migrated cassandra database"
### Summary

Executing `kong migrations up` on an already migrated and upgraded kong cluster is causing a migration error: `Error:
/usr/local/share/lua/5.1/kong/cmd/migrations.lua:34: [cassandra error] Error during migration 2016-09-05-212515_retries_step_1: [Invalid] Invalid column name retries because it conflicts with an existing column`.

We'd expect this command to perform a no-op in this cas

[2017-10-19 18:19] p0pr0ck5 commented on #2970
@hishamhm is correct. This is a duplicate of https://github.com/Kong/kong/issues/2651, which in turn was not a bug :) Please use `--data-urlencode` when defining request body params with `+` characters.

[2017-10-19 18:19] #2970 closed

[2017-10-19 18:39] hishamhm commented on #2975
Hi! Thank you for the detailed report!

This is the source of the issue: this is not the documented procedure for upgrading.

You should never run `kong migrations up` on the entire cluster. Since the removal of the Serf dependency in 0.11, executing the migrations is now a manual procedure that must be executed on only one Kong node. Then you can `kong start` the entire cluster normally.

I know

[2017-10-19 18:53] brockmiller commented on #2975
Hey @hishamhm - Can you re-open this?  My steps were actually in the wrong order:  We did run migrations on a single node before starting up the new nodes.

The procedure went:

 * We left the existing v0.9.8 nodes running
 * We executed v0.11.0 migrations from a SINGLE node (we never run this command on the entire cluster)
 * Once the migrations ran successfully, we started up our v0.11.0 nodes.

[2017-10-19 23:42] sequences-io commented on #402
👍

[2017-10-20 04:14] mikob commented on #2953
@thefosk forcing users to delete by uuid would make things a bit more cumbersome for those of us without multiple overlapping plugins (seems like a more niche use case?). How about only returning the error when there's multiple plugins with the same name, but deleting the plugin as expected when there's no ambiguity because the plugin name is unique. Something like "name is ambiguous between 2 or

[2017-10-20 06:57] jeremyjpj0916 commented on #1793
These methods splitstring and setjsonprop should do the trick when added to the https://github.com/Kong/kong/blob/master/kong/plugins/response-transformer/body_transformer.lua

`local json_body_test_one = {data = { id = {"a", "b"},d = "2" }} --decoded json w cjson
local json_body_test_two = {data = { { id = "a", d = "1" }, { id = "b", d = "2" } } }
local config_json_remove = "data.id"

local funct

[2017-10-20 08:05] M0dM commented on #1055
+1

[2017-10-20 11:38] pachico commented on #2194
We have upgrade to 0.11 three days ago and we are still experiencing the same problem.
We are actually expecting some of our instances running Kong (and only Kong) to crash due to memory exhaustion.
Is there some way you can call the GC?
If we didn't have an auto-scaling solution we would already be looking for alternatives.
Help would be highly appreciated.

[2017-10-20 16:16] hutchic commented on #2194
I tried and was unable to reproduce this using https://github.com/Kong/docker-kong/tree/master/compose and the plugins mentioned.

I only configured a single API and hammered the Kong cluster with https://github.com/wg/wrk but never had the memory problems indicated.

[2017-10-20 21:18] r-alekseev commented on #112
We can invent a setting that represents a chance of a node to send a healthcheck at the end of a time interval.

f.e.:
`interval` = 1 second
`chance` = 1/200

Each node every second generate a random number from 1 to 200.
Some `bingo` node(s) will send a healthcheck.

[2017-10-21 01:12] Tieske commented on #112
Even in that case, if the healthcheck results in a state change, we're back to cross-cluster communications.

As an update, healthchecks is actively being worked on at the moment.

[2017-10-21 06:26] Tieske commented on #2964
within the next 2 weeks probably

[2017-10-22 08:50] costasvassilakis commented on #2834
After a few hours of struggling, the situation in Kong 0.11 appears to be as follows:

- ngx.var.upstream_uri can be used, but only to change the path part of the upstream URL, not the host part. This only works in the _access_ context.

-  should you need to change the host part, you may try the solution given in https://stackoverflow.com/questions/45839634/kong-api-gateway-v0-11-0-upstream-url (

[2017-10-23 02:49] senthil-nathan commented on #2939
Kong needs public key thats not encoded with ASN.  I have documented in my blog on how to fix
http://techincalpostings.blogspot.com.au/2017/10/validate-cognito-tokens-in-kong.html

[2017-10-23 02:49] #2939 closed

[2017-10-23 06:00] pachico commented on #2194
It takes some days for the instance to crash for memory exhaustion.
This is the typical life cycle of an instance and, as you can imagine, we're quite worried about it.
![kong-memory](https://user-images.githubusercontent.com/2184438/31874177-287a0df0-b7c8-11e7-87fa-3b869e5826d6.png)

[2017-10-23 11:29] p0pr0ck5 commented on #411
This is now available as part of Koenn Enterprise! https://getkong.org/plugins/ee-proxy-caching/

[2017-10-23 11:29] #411 closed

[2017-10-23 12:25] Tieske commented on #2194
@pachico can you share your configuration? what plugins do you use?

[2017-10-23 13:31] si458 opened #2978 "cant run kong 0.11 on ubuntu 16.04 directly"
### Summary

 cant run kong 0.11 on ubuntu 16.04 directly

### Steps To Reproduce
1. kong migrations up
2. just shows a BLANK line, nothing else

### Additional Details & Logs

- Kong version (`$ kong version`) BLANK but should show 0.11
- Kong debug-level startup logs (`$ kong start --vv`) BLANK
- Kong error logs (`<KONG_PREFIX>/logs/error.log`) BLANK
- Kong configuration (registered APIs/Plugins

[2017-10-23 13:40] p0pr0ck5 commented on #2978
As noted in gitter, please don't cross post to gitter and GitHub. Please take the time to review the community guidelines when creating new GitHub issues. Thank you!

[2017-10-23 13:40] #2978 closed

[2017-10-23 13:51] si458 commented on #2978
this issue is a bug as i have found the problem
you install the DEB and it install luarocks-5.1
however the binary file seems to not wanna work
[code]

[2017-10-23 13:56] tetebueno commented on #972
Hi, any news about this? If not, anyone would be able to point out a fork with some progress about it?
Cheers.

[2017-10-23 15:24] mmoharam opened #2979 "How to limit api access to a specific consumer"
Hi,

We are using jwt plugin to authenticate our api consumers. We want to limit access to some set of our apis to a specific consumer. I tried to associate the consumer to api to jwt using the Admin API call with the following params:

POST /apis/myapi/plugins
Body:
[code]
but I keep getting "No consumer can be configured for that plugin".

Have I missed something?

Thanks

[2017-10-23 15:39] p0pr0ck5 commented on #2979
Hi,

Consider using the ACL plugin to limit access to APIs based on authenticated consumer: https://getkong.org/plugins/acl/

BTW, please have a read of the community and contribution guildelines before opening an issue on GitHub: https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help. GitHub issues should be reserved for actual problems with Kong, not support/configuratio

[2017-10-23 15:39] #2979 closed

[2017-10-23 16:35] Tieske commented on #2975
As mentioned on Gitter, have you tried https://github.com/Kong/kong/pull/2869 ?

[2017-10-23 18:23] Tieske commented on #2194
![](https://github.trello.services/images/mini-trello-icon.png) [Concerning memory issue: https://github.com/Kong/kong/issues/2194](https://trello.com/c/AjP0rebs/35-concerning-memory-issue-https-githubcom-kong-kong-issues-2194)

[2017-10-23 18:44] hishamhm commented on #2957
Hi, thank you for the feedback!

The specification of arrays mentions only the types of its keys (integers) and not of its values. Therefore, having arrays of types other than strings is not forbidden by the documentation. So as far as I understand this makes this a limitation in the introspection abilities of the `/plugins/schema` endpoints, bug not a bug per se.

In any case, we have a revamp of

[2017-10-23 18:44] #2957 closed

[2017-10-23 22:01] ronak15 commented on #2597
We ended up writing our own plugin that would do the routing!

[2017-10-23 23:13] tylerauerbeck commented on #2953
@thefosk @mikob If that would be the way to handle it, would it make sense to return the uuid's of the offending plugins? Rather than making the user go hunt down the uuid's with additional steps.

[2017-10-24 02:42] mwaaas commented on #972
@tetebueno there is a hack that we did. Overriding the kong.tools.response file.

[2017-10-24 06:44] zamarroz commented on #2834
@costasvassilakis the stackoverflow author is a coworker :) Thanks!

[2017-10-24 11:00] arvileino opened #2981 "request-transformer only last body parameter added when multipart/form-data"
### Summary

request-transformer plugin adds only last form parameter (another-form-param) with _config --data "config.add.body=new-form-param:some_value, another-form-param:some_value"_ **when content type is multipart/form-data** Parameter new-form-param or another-form-param is not defined on request.

### Steps To Reproduce

1. Use request-transformer with config:  --data "config.add.body=api_

[2017-10-24 15:45] hbagdi opened #2982 "enabled_in_cluster should be an empty JSON array"
### Summary

`enabled_in_cluster` field in `GET /` should return an empty JSON array if there are no plugins configured. Currently, returns an empty JSON Object instead.

### Steps To Reproduce

1. Start kong
2. GET / on admin API port

The `plugins.enabled_in_cluster` field is a JSON object if there are no plugins configured in Kong.
[code]
But it returns an array of strings if there is a single

[2017-10-24 18:26] rg1220 opened #2983 "Uploading a file causes permissions error when kong/nginx creates temp file"
### Summary

Getting a 500 error due to a permissions issue with creating a temp file when uploading a file.

### Steps To Reproduce

1. Did a basic install and it's setup with postgres.
2. Upload a file which would exceed `client_body_buffer_size` (default `8k`) and thus need to be written to disk.

### Additional Details & Logs

- Kong version (`$ kong version`)
`0.11.0`

- Kong debug-level star

[2017-10-24 19:50] thefosk commented on #2983
Can you make sure that you have write permissions on the prefix folder (and it's subfolders and files) that by default is at `/usr/local/kong`?

[2017-10-24 20:11] rg1220 commented on #2983
@thefosk - We were running kong as root. That's when it threw these permission errors. I've since deleted the kong folder and ran it as a non-root user and everything is happy. I forgot to update this ticket saying I was running as root.

[2017-10-24 20:13] rg1220 commented on #2983
@thefosk - I've fixed my issue, so I'm going to close this, but if running as root and having the folder in a user's home folder is breaking Kong and that's not expected then feel free to re-open this issue :)

[2017-10-24 20:13] #2983 closed

[2017-10-24 20:19] thibaultcha commented on #2983
btw: NGINX doesn't run as root, but as user "nobody" by default. See the `user` configuration property.

[2017-10-24 20:19] p0pr0ck5 commented on #2983
@rg1220 this is expected behavior. The Nginx process that Kong spawns by default runs as an unprivileged user (`nobody` by default); this explains the behavior that you're seeing. Thanks for the report!

[2017-10-24 21:02] hishamhm commented on #2940
@je3son Do you still have problems when running the latest version?

[2017-10-24 21:18] hishamhm commented on #2923
@charliecliff Note that @thefosk got the same output as you and the instance is working.

Perhaps what you perceived as Kong "hanging" was just that it is running in the foreground? Try adding parameter `-d` to the `docker` command in step 3 and it should detach into the background. Then try playing around with it using `curl`, following the next steps of the [tutorial](https://getkong.org/docs/0.

[2017-10-25 16:05] jgava commented on #2846
I have two guests CentOS 7 in HyperV from different hypervisors.

1) guest01
cat /proc/cpuinfo | egrep 'model|vendor|flags'
vendor_id       : GenuineIntel
model           : 45
model name      : Intel(R) Xeon(R) CPU E5-2420 0 @ 1.90GHz
flags           : fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss syscall nx lm constant_tsc rep_good nopl pni c

[2017-10-25 21:21] Tieske commented on #1218
@JanekLehr @486 the locking solution would work with postgres easily, but not with Cassandra due to its eventual-consistency model. If it were that easy, it would have been long fixed by now 😄

[2017-10-25 21:41] brockmiller commented on #2975
Ah I suspect that that is the root cause, however, it doesn't appear to be in an available release yet.  Is that the case?  I'm not sure if I'll be able to test this out in our production cluster without a properly released version.

Let me get back to you and see what I find out.

[2017-10-25 23:02] JanekLehr commented on #1218
@Tieske Right now we're using postgres so that would totally work for us 😉. I'm guessing you want to avoid separate solutions for both?

[2017-10-26 08:46] nico-acidtango opened #2986 "Error in basic-auth authorization"
### Summary

Error creating and using credentials in basic-auth with passwords that contain ':' characters.

### Assumptions and general info

- Kong version 0.11.0
- Assume we have a consumer with consumer-id 060be9b3-cc9d-4e74-9d39-ff227581a20b

### Steps To Reproduce

1. Create a credential with password containing ':'
[code]
2. Try to use it in an api, proxying to httpbin
[code]
3. Check user

[2017-10-26 09:13] pamiel opened #2987 "Separation of concern for database administrators (Cassandra) during Kong migration process"
Kong migration process assumes that the Cassandra Database administrator running the `Kong migration up` command has the full privileges on the DB.

However, for separation of concerns in Production, it often happens that several actors are involved into a system deployment:
-	A _DBA_ (Database Administrator) first: holding the keyspace creation rights, he is the one allowing a new application to

[2017-10-26 09:46] 486 commented on #1218
@Tieske I am a bloody rookie when it comes to Cassandra, but is there actually anything better than writing and reading a lock with consistency level `ALL` ?

[2017-10-26 14:04] Tieske commented on #2975
Actually it has just been released in 0.11.1

[2017-10-26 19:12] lgalabru commented on #754
Hello there!
What's the status/ETA for the compatibility with ScillaDB?

[2017-10-26 20:20] manuelfelipe opened #2989 "PUT for new Certificate not working as documented - Not creating new certificate"
### Summary

Trying to create a Certificate resource using PUT with all fields of the schema is not creating the certificate record as described in the documentation. A 200 http code is returned is actually created. Using POST with the same payload I get the a 201 Created response and the certificate created.

Starting with a blank installation:
### Steps To Reproduce

[code]
### Additional Detail

[2017-10-27 03:20] mynameisgv opened #2991 "Issue with invoking Lambda using plugin."
Hello
I have a kong setup in aws with ELB. (https).
I tried to use the lambda plugin.
when I change the loadbalancer to http i do not see any issue. But with https I get
"curl: (92) HTTP/2 stream 1 was not closed cleanly: PROTOCOL_ERROR (err 1)"
Can I get some help or pointers on how to fix this. i tried using the http port from elb to kong instance as well. It does not work
How can i have https e

[2017-10-27 17:00] thibaultcha commented on #2894
This has been implemented by #2973 and will be released in the next major version of Kong. Thank you!

[2017-10-27 17:00] #2894 closed

[2017-10-27 21:25] dorlaor commented on #754
The secondary index feature is now committed in master but in experimental
mode and it will practically take till the end of the year to make it usable with Kong.
Thanks for your patient, we're doing our best

[2017-10-29 09:30] ksachdeva11 opened #2992 "Kong fails to start"
### Summary
Trying to restart kong after the box got powered off. Seeing a failure which says "**Error during migration 2015-01-12-175310_init_schema: [Invalid] Undefined column name request_host**"

### Steps To Reproduce

1. Start Kong
2. kong start -c kong.conf --vv

### Additional Details & Logs

[code]

Cassandra nodes are Up and Running without any issues.

- Kong version (`$ kong version`)

[2017-10-29 09:37] Tieske commented on #2992
Was fixed in #2869

[2017-10-29 09:37] #2992 closed

[2017-10-29 09:41] ksachdeva11 commented on #2992
@Tieske where is the fix available ?

[2017-10-29 17:30] mvanholsteijn commented on #2952
This problem can be circumvented by https://github.com/Kong/kong/pull/2974

[2017-10-29 17:30] #2952 closed

[2017-10-30 04:13] kingljl opened #2993 "Upgrade kong version and openresty problem."
Add the stream module to kong and recompile openresty.
phenomenon:
1, pl_utils.executeex (cmd) in / usr / local / share / lua / 5.1 / kong / cmd / utils / prefix_handler.lua always returns an error.
  local ok, _, _, stderr = pl_utils.executeex (cmd)
Where the stderr some do not understand, why should match from the error.
2, / usr / local / share / lua / 5.1 / kong / cmd / reload.lua will also be

[2017-10-30 04:16] sanketgandhi commented on #2894
Thanks!

[2017-10-30 09:39] Tieske commented on #2194
@pachico any updates on this?

[2017-10-30 10:07] kingljl opened #2995 "Does kong support multi-level path mode?"
Does kong support multi-level path mode? Now is a single path pattern. request_path => / path.
Can support / path / path1 this?
path1 corresponds to a set of nodes, path corresponds to a group of nodes

[2017-10-30 10:09] Tieske commented on #2995
the github issue tracker is reserved for bugs (as cleraly mentioned in the template when you create one), please use the Gitter channel or email list for questions like these.

[2017-10-30 10:09] #2995 closed

[2017-10-30 11:29] #2951 closed

[2017-10-30 11:59] kikito commented on #2993
Hello, that error seems to indicate that the Penlight Luarock is not installed/available in your system. The documentation for installing Kong can be found here: https://konghq.com/install/ . Please follow the instructions that match your system (you seem to be installing the "Source" version of Kong, but I can't say for sure).

I am closing this is issue now, if you have more questions please use

[2017-10-30 11:59] #2993 closed

[2017-10-30 12:02] kikito commented on #2991
Hello, please provide the debug log of curl, (the options are `-v` or `--trace`)

[2017-10-30 13:24] lgalabru commented on #754
@doarlo thank you!
I want to deploy Kong, and I'm also looking for a way to avoid maintaining a Cassandra infra.
I was looking at ScillaDB because Compose have an affordable plan for this (https://www.compose.com/databases/scylladb).
What would you recommend?

[2017-10-30 15:17] ror6ax commented on #1330
Hi guys, is this officially OK with you? Would it be worth implementing?

Also, are you aware of https://github.com/opentracing-contrib/nginx-opentracing ?

[2017-10-30 15:19] mingfang commented on #1330
I'm ok to close this

[2017-10-30 15:24] ror6ax commented on #1330
@mingfang - why? Has it been implemented by someone? Not sure what to make out of this issue...

[2017-10-30 16:26] kikito commented on #2989
Hello,

What you are expecting is a combination of several factors.

First,  Kong's PUT is governed by the existance of a primary key in the params: when there is no PK in the params, then PUT tries to behave like a "create". Otherwise, it tries to make an update (which is your case).

At the same time, we avoid read-before-writes in the Admin API for speed reasons. If you try to update a non-exis

[2017-10-30 16:26] #2989 closed

[2017-10-30 16:53] mynameisgv commented on #2991
Here is the output.

== Info:   Trying 10.8.138.51...
== Info: TCP_NODELAY set
== Info: Connected to kong.lab.expts.net (10.8.138.51) port 443 (#0)
== Info: Initializing NSS with certpath: sql:/etc/pki/nssdb
== Info:   CAfile: none
  CApath: none
== Info: loaded libnssckbi.so
== Info: ALPN, server accepted to use h2
== Info: SSL connection using TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
== Info: Serve

[2017-10-30 16:54] mynameisgv commented on #2991
If I use postman it does not even work.
In curl if i pass option  --http1.1 it get a proper output.

[2017-10-30 19:40] mynameisgv commented on #2991
Mac curl version 7.54.0 (x86_64-apple-darwin16.0) libcurl/7.54.0 SecureTransport zlib/1.2.8 works
centos curk verl curl 7.53.1 (x86_64-redhat-linux-gnu) libcurl/7.53.1 NSS/3.32.1 zlib/1.2.11 libidn2/2.0.4 libpsl/0.18.0 (+libidn2/2.0.3) libssh2/1.8.0 nghttp2/1.21.1 does not work

[2017-10-31 10:09] itstayyab commented on #1400
Guys, do we have any workaround for this?
I'm having the same requirement where I want to replace header from another header, Any Idea how or when we are getting for this?

[2017-10-31 12:42] kigsmtua commented on #605
+1

[2017-10-31 13:05] kikito commented on #2991
Thanks for testing this so thoroughly. By your own results it seems to be a problem with curl 7.53.0 (fixed in 7.54.0). If you need it to work in environments where 7.54.0 is not available then my suggestion would be adding the http1.1 option or changing to a different client.

[2017-10-31 13:05] #2991 closed

[2017-10-31 14:15] mynameisgv commented on #2991
Hello Kikito

How abt clients like postman or standard java http spring libraries. They also show similar problem.

Thanks

[2017-10-31 17:13] pkorohod commented on #2991
We are exposing this API to different clients, and most of them do not work. Browser-based hang because the read does not terminate, Java Apache HttpClient clients timeout most likely due to the same problem (unless the HTTP 1.0 protocol is forced).
This is not a problem with the client. Most likely it is related to the Kong - ELB pair.

[2017-10-31 19:39] bloche opened #2999 "Missing X-Forwarded-Prefix header in 0.10 and 0.11"
### Summary

I recently upgraded from 0.9.9 to 0.10.3 and it appears the `X-Forwarded-Prefix` header has been dropped.

I've used this header to identify what the actual URL is the client used so the API can function both behind Kong and on it's own. I use path based routing in Kong, having Kong strip the path prefix before proxying to the API. However, now that the `X-Forwarded-Prefix` header has

[2017-10-31 19:52] thibaultcha commented on #2999
Hi @bloche,

Yes indeed. Started in 0.10 we decided to drop "non-standard" (I know it sounds redundant) `X-Forwarded-*` headers, and change the meaning of such forwarded headers to carry information that is commonly conveyed by those headers. That means those headers, as of today, carry more meaning about the typical reverse-proxying flow, and less about Kong-specifics, like "which API" was matche

[2017-10-31 19:53] thibaultcha commented on #2999
Just curious: how come you don't rely on transparent proxying instead?

[2017-10-31 21:25] bloche commented on #2999
@thibaultcha Thanks for clarifying that for me, your quick response is much appreciated.

This is the way my colleagues and I started using Kong a while back and haven't had any real problems with it until now. However, we will probably start to move toward a transparent proxy moving forward, as there have been some other minor inconveniences because of it.

[2017-10-31 21:25] #2999 closed

[2017-11-01 00:56] dorlaor commented on #754
Sure, compose are a very good DBaaS solution

[2017-11-01 02:00] hbagdi commented on #2336
Should we close this one?

[2017-11-01 09:52] DanielTimLee opened #3001 "[Custom Plugin] Can't access config object from init_worker in handler.lua ??"
### Summary

https://getkong.org/docs/0.11.x/plugin-development/custom-logic/#handler-lua-specifications

As I see here, Specification of `handler.lua` has `config` object from *`init_worker`*.
But the Problem is, when I try to access config object from the `init_worker` it keeps returning me a `nil` value.

![image](https://user-images.githubusercontent.com/16421480/32268908-29beda10-bf34-11e7-9a

[2017-11-01 10:36] p0pr0ck5 commented on #3001
The behavior you're seeing is correct. In the init worker phase, nonrequest context is available to load a specific instance of the plugin, and thus no specific configuration can be passed to the handler. The init_worker handler should be used for generic maintenance work and timer initialization logic, but not individual plugins entities. But do also note that you can manually load individual con

[2017-11-01 10:36] #3001 closed

[2017-11-01 11:55] EverCurse commented on #2678
@Hello-Mango  do u resolve this question？

[2017-11-01 12:12] Moxxie commented on #155
Any status on this?

[2017-11-01 13:15] ksachdeva11 commented on #2938
@hutchic I still can't get kong up on Ubuntu 16.04 box.

[code]

[code]

[2017-11-01 17:11] ginnavaram commented on #1237
@thibaultcha  Any updates on this?

[2017-11-01 17:59] kikito commented on #2944
@Pinguwien's answer is correct, so I will close this issue. @sanjay-varanasi , if you have more support questions, please use any of these channels:

* The main place for questions is [gitter](https://gitter.im/Mashape/kong)
* Alternatively, there's also a [mailing list](https://groups.google.com/forum/#!forum/konglayer), in case you prefer that format.

Thanks!

[2017-11-01 17:59] #2944 closed

[2017-11-01 18:11] kikito commented on #2920
Thanks for reporting this. As you seem to have found the root of your problem, I will close this issue.

[2017-11-01 18:11] #2920 closed

[2017-11-01 18:29] kikito commented on #2900
Closing this as it seems the request was answered. Regards!

[2017-11-01 18:29] #2900 closed

[2017-11-01 18:37] kikito commented on #2897
@argentum47 since your question was answered by @mvanholsteijn, I will close this issue now. Please reopen if the problem persists.

[2017-11-01 18:37] #2897 closed

[2017-11-01 18:43] kikito commented on #2879
I just tested the link and now (1st Nov) it seems to work fine. Closing this issue. Thanks for reporting it.

[2017-11-01 18:43] #2879 closed

[2017-11-01 18:45] p0pr0ck5 commented on #2879
This was patched a few days ago via github.com/Kong/getkong.org. In the future any bugs or PRs about the docs (which are open source! :D ) can be sent to that repo. Thanks!

[2017-11-01 18:56] kikito commented on #2873
Thanks for reporting this, and I am glad you found a solution. I am closing the issue now.

[2017-11-01 18:56] #2873 closed

[2017-11-01 23:50] thibaultcha commented on #2024
I just merged #2942 which is @bob983 's proposed patch to support custom TTL for refresh_tokens. This should be released in our next major release (0.12). Thanks for the suggestion and thanks to @bob983 for giving it a stab!

[2017-11-01 23:50] #2024 closed

[2017-11-02 00:47] thibaultcha commented on #2986
Hi @nico-acidtango ! Thank you for the report. We would welcome a PR to fix this, if you are willing to give it a stab!

[2017-11-02 01:15] thibaultcha commented on #2969
Hi @thomasgriffin,

Was there anything reported in the NGINX error logs when trying to use the certificate bundle?

Under the hood, we use the [parse_pem_cert](https://github.com/openresty/lua-resty-core/blob/master/lib/ngx/ssl.md#parse_pem_cert) and [set_cert](https://github.com/openresty/lua-resty-core/blob/master/lib/ngx/ssl.md#set_cert) APIs of lua-resty-core. I don't think they depend on any

[2017-11-02 01:21] thibaultcha commented on #2953
This is indeed the expected behavior and will likely stay so in the short term. Indeed, plugins with the same name can be added several times to a single API and overlap with plugins also configured with a `consumer_id`; and that is a very common use-case @mikob.

*However*, please do not believe for a second that we are fully satisfied with this approach. We do understand how cumberstone this can

[2017-11-02 01:21] #2953 closed

[2017-11-02 01:52] thibaultcha commented on #2950
This sounds like a mis-configured Cassandra cluster and/or keyspace. We don't have enough information here, nor access to your Cassandra cluster to help you debug this issue further, but you can find plenty of resources online to help you with Cassandra, including troubleshooting guides for the error you encountered.

[2017-11-02 01:52] #2950 closed

[2017-11-02 01:55] thibaultcha commented on #2943
@frederik79 Feel free to propose a documentation update at https://github.com/Kong/getkong.org/! In the meantime, we'll be closing this as it found resolution.

Thanks

[2017-11-02 01:55] #2943 closed

[2017-11-02 02:05] thibaultcha commented on #2948
Hi @dselans,

Thanks for the report. I was indeed able to reproduce on our latest release 0.11.1.

[2017-11-02 02:12] thibaultcha commented on #2938
Sorry, there simply isn't enough information here for us to help you debug this. I would recommend trying a source install of OpenResty 1.11.2.4 first, and see if there are any issue specific to NGINX/OpenResty in particular to your platform. I would also test that the resty-cli `resty` interpreter works once OpenResty is installed.

Now, according to the warning that is included in your issue tha

[2017-11-02 02:12] #2938 closed

[2017-11-02 02:17] thibaultcha commented on #2941
@chenyukang's assumption is correct. I believe that at this point, the ball should be in your court, as we have given you sufficient insight in terms of clarifications of the error message and suggested resolution steps :)

Now, according to our contributing guidelines, our GH issues are more intended as a channel for bug reports, while this issue is quickly deriving towards a support effort. As s

[2017-11-02 02:17] #2941 closed

[2017-11-02 02:22] thomasgriffin commented on #2969
Here's the error in the logs when using the bundle:

[code]

[2017-11-02 02:30] thibaultcha commented on #2936
Hi @lavoiedn,

Hmm yes indeed, I see what is going on here... Environment variables intently *override* configuration settings, including when such settings are lists like the `custom_plugins` setting. Hence, by hard-coding an environment variable in the `spec/helpers.lua` module when starting test Kong instances, we are ignoring any such value configured in the test configuration.

At this point,

[2017-11-02 02:30] #2936 closed

[2017-11-02 02:36] thibaultcha commented on #2923
I believe @hishamhm's assumption is correct. Starting the Kong container without the `-d` option gives me the same result. It is also how you started your Kong container according to your initial comment in this thread.

I believe we have answered your question at this point. In the future, please do keep in mind that our GitHub issues are intended for bug reports only, and try to seek help from o

[2017-11-02 02:36] #2923 closed

[2017-11-02 02:39] thibaultcha commented on #2907
Do you mean by that that you have made modifications to the source code before attempting to run Kong? If so, please re-consider the modifications you've made and how they could have impacted Kong.

If not, there is still not enough information here for us to be able to help us.

[2017-11-02 02:42] thibaultcha commented on #2893
Sorry, I do not understand the issue you are encountering. If you wish to receive stastd metrics for your traffic, please consider configuring the [statsd plugin](https://getkong.org/plugins/statsd/) in the first place.

If your issue is about something else, then please provide us with a better explanation, such as what is the behavior you would expect from your current configuration, and what yo

[2017-11-02 02:48] thibaultcha commented on #2889
Yes, the behavior between 0.10 and 0.11 indeed changed regarding the `X-Forwarded-*` headers, as noted in the [release notes](https://github.com/Kong/kong/blob/master/CHANGELOG.md#core-2).

The `X-Forwarded-*` headers are now implemented as per their standard interpretation, instead of carrying Kong-specific information. The behavior you are seeing seems to be the one we intend to provide for Kong

[2017-11-02 02:48] #2889 closed

[2017-11-02 02:50] thibaultcha commented on #2888
Hi,

Indeed, @chenyukang is correct. I'll be closing this as your question has been answered, without removing its label. We are all free to browse such labelled issues whether closed or not and review user-suggested features at any time. I recall this feature request being mentioned a few times in the past already :) At this point, we are unsure whether or not we would be willing to accept such a

[2017-11-02 02:50] #2888 closed

[2017-11-02 02:55] thibaultcha commented on #2880
Hi @s4mur4i,

Would you mind providing us with a few more details?

What do you mean by that exactly? The `methods` property of a Kong "API" Entity? An upstream endpoint that returns HTTP 405?

I tried the following on 0.11.1:
[code]

And I get the following response when receiving an HTTP 405 from upstream:
[code]

So, I just don't see the behavior you are seeing (an HTML response). Mind elaborat

[2017-11-02 02:57] thibaultcha commented on #2877
Very much unsure why that would have occurred as well, at least without further information...

Since this issue is well over a month old, I'll be closing it and assuming you either found the root of the issue, or worked around it. Thanks!

[2017-11-02 02:57] #2877 closed

[2017-11-02 03:02] thibaultcha commented on #2872
Hi,

After some investigation, I can tell you that those logs are harmless, and due to a slight oversight in API design. The fact that the error message is `nil` shows that there is, indeed, no error. I'll be proposing a PR soon which will not print such error messages without a good reason.

Thanks for the report!

[2017-11-02 03:12] thibaultcha commented on #2871
Hi,

Have you tried

[2017-11-02 03:18] thibaultcha commented on #2867
Most of the time, we actually hear the contrary from our users and customers: that Kong should be fully transparent to the client and not leak any information that would make the client able to identify that Kong was used as a proxy between them and the upstream service. In fact, we even have customers with existing patches to hide existing `X-Kong` response headers, and several requests for a con

[2017-11-02 03:21] #2867 closed

[2017-11-02 03:24] thibaultcha commented on #2858
Happy to receive one!

[2017-11-02 03:27] thibaultcha commented on #2851
@decoursin I believe the `aws-lambda` plugin will also include a `request_body` property in the upstream body (forwarded to the Lambda function). This property should include the raw body, as per your request. Doesn't it?

[2017-11-02 03:31] thibaultcha commented on #2846
As pointed out in previous comments in this thread, this is, one way or another, very much likely the effect of an OpenResty (and subsequently, LuaJIT) upgrade between Kong 0.10.3 and Kong 0.11.0 (`1.11.2.2` to `1.11.2.4`). I'll be closing this as this undeniably becomes an issue with our essential, underlying dependency which is OpenResty itself...

Thank you everybody who jumped in and shared th

[2017-11-02 03:31] #2846 closed

[2017-11-02 03:41] thibaultcha commented on #2834
Hi,

Indeed, following the introduction of load balancing capabilities in Kong 0.10.0, updating the host of an upstream request does not mean updating the `ngx.var.upstream_url` variable anymore. Since this is officially an unsupported feature for plugins (but still possible, heck, our own plugins even do it!), it is a bit hard to get around the codebase and implement those feature yourself (updat

[2017-11-02 03:41] #2834 closed

[2017-11-02 03:43] thibaultcha commented on #2833
Hi,

Could you be more specific? What part of "request/response upstream" exactly are you not seeing/wishing you could see? Additionally, please provide us with reproducible steps, and ideally a complete configuration of your APIs (`/apis`) and Plugins (`/plugins`), thanks!

[2017-11-02 03:44] thibaultcha commented on #2826
Hi,

It's going to be hard for us to help you without more information. Please provide more details as to what you are tying to do, post relevant code (the migrations you are speaking of, the commands you you are executing, the configuration you are using, etc...) Thanks!

[2017-11-02 03:48] thibaultcha commented on #2817
Hi @jags9415,

This is indeed a known issue for the rate-limiting plugin and its fixed windows sizing. At this point, it isn't something we will be addressing, but feel free to open a PR if this is something you want to tackle.

For the sake of completeness, it is worth mentioning that we rewrote our rate-limiting plugin in our recently-released Enterprise Edition of Kong (EE), and that this new i

[2017-11-02 03:48] #2817 closed

[2017-11-02 03:49] thibaultcha commented on #2803
Closing as per the linked PR which addressed this unreliability by changing the paradigm around testing upstream error reporting!

[2017-11-02 03:49] #2803 closed

[2017-11-02 03:55] thibaultcha commented on #2785
Closing due to lack of follow up and since the issue is over 2 months old by now... This is very much likely to be related to our faulty `kong reload` behavior, which is already internally tracked.

Thanks for the report!

[2017-11-02 03:55] #2785 closed

[2017-11-02 04:04] thibaultcha commented on #2792
Hi,

This might be an overlook on our side. Under the hood, a `POST /certificates` will actually deal with two underlying entities in Kong: ssl_certificates and snis.

A standard `PUT` request (when `PUT` is not overridden for a given endpoint), will simply deal with the underlying entity alone, in this case, ssl_certificates. And as a matter of fact, the ssl_certificate entity does *not* have an

[2017-11-02 04:06] thibaultcha commented on #2784
Hi,

This issue would have been resolved in our subsequent releases. There now exist 0.10.4, and 0.11.1. Please give it a try with those, and don't hesitate to open a new issue if this behavior is still incorrect!

Thank you!!

[2017-11-02 04:06] #2784 closed

[2017-11-02 04:08] thibaultcha commented on #2774
Wow, unbelievable. I just gave this a try on my side on 0.11.1, and was able to reproduce very easily.

Thank you for the report! PRs most welcome, of course; but in the meantime, I'll be adding this to our internal tracking tools.

[2017-11-02 04:13] thibaultcha commented on #2773
Hi,

I believe this has been solved in our most recent releases (especially 0.11.1) sincea missing hosts property simply does not show it. This behavior is due to the specifics of the Lua language and some missing features to the lua-cjson encoding library we use. Features that we since contributed and are starting to use in Kong to handle such empty lists.

In short: we are very much aware of the

[2017-11-02 04:13] #2773 closed

[2017-11-02 04:15] thibaultcha commented on #2767
This is a side-effect of our plugins runloop and relates very closely to the "log plugins executing after a request is terminated". I've linked this issue to the related internal tracking bug report. For now, let's still leave this open and link it to the other runloop issue if we notice them.

[2017-11-02 04:17] thibaultcha commented on #2757
Closing seems as per your comment, this seems to be resolved in Kong 0.11. Thanks!

[2017-11-02 04:17] #2757 closed

[2017-11-02 04:20] thibaultcha commented on #2734
Hi,

See NGINX's guide on WebSocket proxying using NGINX as a reverse proxy: http://nginx.org/en/docs/http/websocket.html

This is natively supported by Kong (which includes the NGINX settings mentioned in this article).

Closing this, as I believe this should answer your question. Please do open another issue if you encounter a bug, but please do use our other community support channels like Gitt

[2017-11-02 04:20] #2734 closed

[2017-11-02 04:22] thibaultcha commented on #2713
Hi,

Thanks @Mgutjahr for pointing our this PR! Indeed, this has been released in our most recent release, 0.11.1.

I believe this will answer your question/requirements @olconstant? As such, I will go ahead and close this issue, but feel free to contact our other community support channels, like Gitter or the mailing list (see README.md) for troubleshooting questions - we wish to reserve our GitH

[2017-11-02 04:22] #2713 closed

[2017-11-02 04:26] thibaultcha commented on #2679
I will be closing this due to lack of feedback from the author. If you still are encountering behavior you believe is buggy on our latest release 0.11.1 @anupam4881, please do open another issue. However, please direct any other troubleshooting question to our other community support channels such as Gitter or our mailing list (see README.md), as we wish to reserve our GitHub issues for bug report

[2017-11-02 04:26] #2679 closed

[2017-11-02 04:33] thibaultcha commented on #2365
Closing this for now due to the issue's age and considering it stale. In the long term, we wish to offer more powerful routing capabilities based on arbitrary request headers, so one would be free to use `X-Host-Override`, or any other header really :)

Regards,

[2017-11-02 04:33] #2365 closed

[2017-11-02 04:37] thibaultcha commented on #2574
Hmmm this seems to have widely derived from the original issue reported by @iam-merlin...

I would recommend upgrading to Kong 0.11.1 (our current latest), and thoroughly reviewing your DNS nameservers, records, and OS configurations... WE have found multiple cases of mis-configured DNS settings badly reflecting on Kong and tricking users into believing Kong was mis-behaving, when really, the root

[2017-11-02 04:37] #2574 closed

[2017-11-02 04:37] thibaultcha commented on #2558
Hi,

This is indeed in our radar and internally tracked as a highly-requested feature request :)

[2017-11-02 04:48] thibaultcha commented on #2449
Hmm closing this and considering it a "stale" issue, I am afraid... As @Tieske mentioned, we do have support for the `search` and `ndots` directive in Kong 0.11+, so I would advise giving this another try, or consderring it solved.

@erutherford If you have upgraded to our latest release (0.11.1) and still are encountering what you believe is a *bug*, please **do** open a new issue on this reposit

[2017-11-02 04:48] #2449 closed

[2017-11-02 04:49] thibaultcha commented on #2441
Closing this as we now have merged #2445 and scheduled it for our next major release. Thanks again for your contribution @shiprabehera! :grin:

[2017-11-02 04:49] #2441 closed

[2017-11-02 04:52] thibaultcha commented on #2164
Hi,

This property has disappeared with the release of Kong 0.11.0, as our Serf dependency has been removed and clustering capabilities are now natively implemented in Kong.

@jhenry82 I believe I have seen this issue before, and the reason behind it was an change in Serf itself, which we bumped between Kong 0.10 and Kong 0.9... Nothing under our control here, sorry about that!

Thank you for the

[2017-11-02 04:52] #2164 closed

[2017-11-02 04:56] thibaultcha commented on #2125
I would strongly advise following @edwardjrp's advice as well... The clustering support in 0.10 was indeed subject to race conditions. Our recommended approach to a better clustering experience is an upgrade to Kong 0.11. Kong 0.11 also strongly enforces a manual (or at least, isolated) migration process, which is much safer than Kong 0.10's "automatic" migration behavior with `kong start`...

I w

[2017-11-02 04:56] #2125 closed

[2017-11-02 05:11] itstayyab commented on #1400
We can use config.rename.headers to achieve this.

--data "config.rename.headers=header1:header2"

I started looking into code how it's writing to understand if It's possible to pass the header1 variable for header2.
https://github.com/Kong/kong/blob/master/kong/plugins/request-transformer/access.lua

I noticed there is some code for rename header "-- Rename headers(s)" which is not there in the d

[2017-11-02 05:42] decoursin commented on #2851
Yes, it's a toggleable flag, which you added in this PR: https://github.com/Kong/kong/pull/2823. Feel free to close this, I only didn't myself because it's still an issue for lua-multipart.

[2017-11-02 06:00] thibaultcha commented on #2851
Yes indeed. We will be tracking the lua-multipart issue in its own repository, so thank you for opening the issue there!

Alright then, I'll go ahead and close this.

[2017-11-02 06:00] #2851 closed

[2017-11-02 08:07] shiprabehera commented on #2441
Thanks for merging it @thibaultcha

[2017-11-02 08:30] nico-acidtango commented on #2986
Hi @thibaultcha ! I think I can handle it, and I'm happy to help. I'll get to it as soon as possible.

[2017-11-02 09:13] p0pr0ck5 commented on #1435
This functionality is currently now available in our Enterprise Rate Limiting offering (https://getkong.org/plugins/ee-rate-limiting/), including the ability rate limit by consumer+IP. Closing this as such.

[2017-11-02 09:13] #1435 closed

[2017-11-02 10:31] sas05 opened #3004 "On mac os kong.conf is missing"
### Summary

➜  ~ kong check
2017/11/02 11:20:08 [error] no file at: /etc/kong/kong.conf

where is kong.conf located in mac os. I have installed using homebrew.

### Steps To Reproduce

1. brew tap mashape/kong
2. brew install kong
3. kong check

### Additional Details & Logs

- Kong version 0.11.1
- Kong debug-level startup logs (`$ kong start --vv`)

[code]
Mac OSX

[2017-11-02 10:52] sas05 commented on #3004
I think, I have to create a config file from default config.

[2017-11-02 10:52] #3004 closed

[2017-11-02 11:03] harf18 opened #3005 "2016-02-25-160900_remove_null_consumer_id: [cassandra error] failed waiting for schema consensus: timeout"
When I do `kong migrations up --v` after configuring a single instance of Kong to use a Cassandra cluster (with 3 nodes), I've got the error

2017/11/02 12:02:19 [verbose] Kong: 0.11.0
2017/11/02 12:02:19 [verbose] reading config file at /etc/kong/kong.conf
2017/11/02 12:02:19 [verbose] prefix in use: /usr/local/kong
2017/11/02 12:02:19 [verbose] running datastore migrations
2017/11/02 12:02:19 [i

[2017-11-02 13:58] thomasgriffin commented on #2969
🤦‍♂️ so I apparently named the bundle but never actually ran `cat` to prepend the cert to the bundle to make the cert chain, which caused this bug to arise. Closing this issue - maybe this thread will help other people get over their case of the Mondays much more quickly than me.

[2017-11-02 13:58] #2969 closed

[2017-11-02 14:02] Tieske commented on #2969
@thomasgriffin Thx for reporting back :+1:

[2017-11-02 14:33] pcittadini opened #3006 "Cannot configure custom plugin using the API"
### Summary
After creating a custom plugin, I tried to configured it using the two available admin API's:

* POST /apis/:id_Or_Name/plugins
* PUT   /plugins

In the first case it refuses with "unexpected error"
In the second case, it throws a 201, but the response body is empty, and the plugin is still not there.
However, we noticed that using the PGBI/kong-dashboard plugins can be added via the A

[2017-11-02 14:49] Tieske commented on #3006
I appreciate you took the time to open an issue for this. However, kong github issues are for bug reports only. I kindly ask you to repeat your question on the channels we have habilitated for it:
* The main place for questions is [gitter](https://gitter.im/Mashape/kong)
* Alternatively, there's also a [mailing list](https://groups.google.com/forum/#!forum/konglayer), in case you prefer that forma

[2017-11-02 14:49] #3006 closed

[2017-11-02 18:33] thibaultcha commented on #2948
Added to our internal tracking tools, we intend to fix this for our 0.12 release, or, potentially a 0.11.2 release, if 0.12 gets delayed too much. And as always: we also accept contributions... 😉

Thanks!

[2017-11-02 18:39] thibaultcha commented on #3005
Hi,
Thanks for the report. Since I have been seeing this particular error in that particular migration making some appearances for various users at this point, I'll have a look and try to make some sense of it...

I would also recommend that on your side, you try to make sure your cluster, and especially your peer-to-peer communications are healthy. I seem to recall having encountered this issue w

[2017-11-02 21:14] #2872 closed

[2017-11-02 21:15] thibaultcha commented on #2872
#3002 took care of this and will be part of our next release. Thank you for reporting this!

[2017-11-02 21:52] thibaultcha commented on #2982
@hbagdi Thank you for the fix! It will be included in our next release.

[2017-11-02 21:52] #2982 closed

[2017-11-03 00:17] thibaultcha commented on #2948
After spending some time and spawning a few reproducible test cases, I am afraid that I'll be backtracking on my previous statement that this was a buggy behavior, and actually affirm that what you are seeing is the intended behavior of the router. Sorry for not seeing it sooner. Explanation:

1. Let's re-affirm the postulate that when not specifying regexes in the `uris` field, matching is evalua

[2017-11-03 00:17] #2948 closed

[2017-11-03 01:05] thibaultcha commented on #2774
I have just opened #3007, which, while not fully addressing your issue (sorry to disappoint, but our HTTP `PUT` behavior is completely off and derives from the specifications), provides a more graceful error to this edge-case.

It provides more background context and also specifies that our future support for `PUT` will better follow the specifications. Feel free to share your thoughts/comments he

[2017-11-03 02:12] thibaultcha commented on #1450
Assuming this is now outdated considering we are today several major revisions after 0.9, and several improvements were made to the migrations to alleviate such errors encountered by other users and customers since then.

Thank you for reporting - if you experience another one of those one our recent 0.10/0.11 releases, then please feel free to open another issue!

[2017-11-03 02:12] #1450 closed

[2017-11-03 02:15] thibaultcha commented on #1293
Closing this, as I believe we have answered that this particular feature is being tracked internally, and we are planning on providing such a Plugin API sometimes in the next few months/year. THank you for your input!

[2017-11-03 02:15] #1293 closed

[2017-11-03 02:18] thibaultcha commented on #1273
As per @p0pr0ck5's answer, I'll be closing this discussion now - the first item has been resolved and we are acutely aware of the second one, as it is being worked on as part of our current development efforts.

Thank you for your feedback nonetheless!

[2017-11-03 02:18] #1273 closed

[2017-11-03 02:22] thibaultcha commented on #2802
I think that if we were unable to replicate this, we should probably close this issue now? Has anyone been able to replicate?

[2017-11-03 02:24] thibaultcha commented on #1579
Let's close this, as such requirements are now being closely tracked internally, and not much will come out from keeping such threads open, those discussions will mostly happen outside of GH issues.

[2017-11-03 02:24] #1579 closed

[2017-11-03 03:28] hbagdi commented on #2558
@thibaultcha while this can be done using a plugin, are you guys planning to do it in the core itself?

[2017-11-03 04:00] anhdd-savvycom opened #3008 "Issue when proxy socketio with custom uri"
### Summary

Client socket connection keeps getting disconnected, reconnect, disconnected, .... and so on

### Steps To Reproduce

- Websocket server: http://192.168.99.100:9696
- Kong proxy:
    - Server: http://192.168.99.100:9000
    - API:
        - upstream: http://192.168.99.100:9696
        - uris: /api/socket\.*
        - strip uris: yes

        - Socket server:
[code]

        - Socket c

[2017-11-03 04:32] anhdd-savvycom commented on #3008
Tried with a nginx proxy instead of Kong, and it works fine, the client socket connection stays without being closed. Nginx configuration:

[code]

[2017-11-03 08:31] SuperMasterBlasterLaser commented on #1867
@thibaultcha week ago new **0.11.1** was released. Does it contain DAO improvements?

[2017-11-03 12:42] passos opened #3011 "plugins api error 500, attempt to index local 'sock' (a nil value)"
the real ip address is replaced by `xxx.xxx.xxx.xxx`

### Summary
The access to api `http://kong-server:8001/apis/api_qingmang_me/plugins` failed with 500 status code.

SUMMARY_GOES_HERE

### Additional Details & Logs

- Kong version 0.10.3
- Kong debug-level startup logs
[code]
- Kong error logs
[code]
- Kong configuration (registered APIs/Plugins & configuration file)
- Operating System
Linux ga

[2017-11-03 14:46] #2774 closed

[2017-11-03 15:16] harf18 commented on #3005
Thanks for reply.
for the consenus timeout, i wasn't clear : I try 6000, 60000 (even 3600000 the morning...).

I try something else : I reset all my cassandra nodes with :

I start only one seed node.

I execute the migrations command on kong, after I can start kong

2017/11/03 16:03:15 [verbose] reading config file at /etc/kong/kong.conf
2017/11/03 16:03:15 [verbose] prefix in use: /usr/local/kon

[2017-11-03 15:48] pduldig-at-tw opened #3012 "Sensitive Information Disclosure via /certificates route"
### Summary

Kong provides the /certificates route via the Admin interface. The GET method produces a json output that contains an json encoded PEM files containing the certificate and private keys, and their associated Virtual Host FQDN(s).

This is an sensitive information disclosure condition, as I would argue that the raw key material should _NEVER_ be visible via GET /certificates. One could

[2017-11-03 15:51] p0pr0ck5 commented on #3012
Hi @pduldig-at-tw,

Thanks for the input. I would say this falls into the same vein as https://github.com/Kong/kong/issues/1237 (and, more legacy, https://github.com/Kong/kong/issues/385). Some good material there worth chewing on regarding how we handle sensitive information.

Regarding documentation warnings, the docs for Kong are open source and available at https://github.com/Kong/getkong.org.

[2017-11-03 15:59] harf18 commented on #3005
Another information
I do a `sudo nodetool describecluster` and I have 2 distinct shema versions but i don't understand why !

        Name: kong_cluster
        Snitch: org.apache.cassandra.locator.DynamicEndpointSnitch
        Partitioner: org.apache.cassandra.dht.Murmur3Partitioner
        Schema versions:
                491bbcb7-09dc-3fed-b776-f7de91bfc500: [10.253.40.11]
                53eee

[2017-11-03 16:11] pduldig-at-tw commented on #3012
Hi p0prock5,

Thank you for the references to the other disclosure issues. I feel that the database backed storage/encryption is a seperate issue (more of a best practises concern), where as in this situation there are actual Kong servers online with inadequate admin api protection that have exposed their private keys.

I would consider this a high severity vulnerability, and it may be worth obtai

[2017-11-03 16:59] iyedbennour commented on #2936
Slightly off topic but testing custom plugins out of the Kong source tree is complicated. On have to copy the spec and the bin folder in the custom plugin development folder. One solution might be to move all that code in a kong.testing lua package and make available as luarock maybe. Also testing plugins that need to call into other servers as part of handling the request, is not straightforward:

[2017-11-03 17:30] p0pr0ck5 commented on #3012
Thanks. I don't think a CVE here is warranted. If we had indicated that private key data would not be presented to a client, and we inadvertently leaked that data, I would consider otherwise, but no part of our documentation or design paradigm indicates this. Reference: https://getkong.org/docs/0.11.x/admin-api/#certificate-object. I will also note we do have documentation regarding best practices

[2017-11-03 17:53] thibaultcha commented on #2558
@hbagdi This will most likely see the light of day in the form of a plugin.

[2017-11-03 17:54] thibaultcha commented on #1867
@SuperMasterBlasterLaser Hi,

No, our DAO improvements are scheduled over the course of several future major versions (the first part of it starting from 0.12). It will take some time, sorry.

[2017-11-03 17:58] thibaultcha commented on #2936
@iyedbennour Yes, we are aware. We are too busy today to provide such a solution (in fact, all of the modules you mentioned in your comment are *note* officially supported for testing, aka, use them at your own risk), but this is coming up our list of priorities. When we come up with a testing framework, we intend on making it simple, yet powerful. Stay tuned! :)

[2017-11-03 18:40] pduldig-at-tw commented on #3012
Thank for acknowledging the issue but I want to stress that this design is leaking private keys 'in the wild'.

The following shodan scan reveals there are (today) 712 exposed HTTP admin interfaces. How many of them are leaking their private keys?

https://www.shodan.io/search?query=kong+port%3A8001

A CVE revealing this issue would help inform folks that have an insecure configuration. As the pro

[2017-11-03 20:10] hishamhm commented on #3011
This is an error coming straight from Postgres. Are you able to connect to your database normally?

[2017-11-03 20:46] p0pr0ck5 commented on #3012
@pduldig-at-tw  we don't think this warrants a CVE assignment request. Ultimately, it's the responsibility of the user to secure the Admin API- we explicitly call this out in the documentation. And in cases where the Admin API is publicly accessible, the presence of TLS wouldn't help. Our posture here is, if the Admin API is accessible, it is assumed that the client has full authority to access an

[2017-11-03 20:46] #3012 closed

[2017-11-03 20:48] thibaultcha commented on #3011
@passos Please check your `max_connections` settings in `postgresql.conf` (this error is so common that a Google Search will tell you just as much).

As of today, Kong will *not* limit the maximum number of connections opened to PostgreSQL, which, if I recall correctly, only allows 50 concurrent connections by default. As such, you have two choices:

1. Increase the maximum number of connections i

[2017-11-03 20:48] #3011 closed

[2017-11-03 23:00] thibaultcha commented on #3008
@anhdd-savvycom Hi,

Thanks for reporting, we'll take a look at this as soon as we can manage.

[2017-11-05 13:07] chenyukang commented on #2986
Nice work!
I also have a question for basic-auth,
how to specify the username for basic-auth,
Suppose i have tow consumers, and generate basic auth key with:
[code]

now when enable the basic-auth for an API, both user1 and user2 with correct password will processed successfully.

[2017-11-05 13:13] chenyukang commented on #2986
@nico-acidtango
you said: 'Password containing '%'' is not processed correctly,
but PR is fix ':', did I miss something?

[2017-11-05 13:16] chenyukang commented on #2795
@Deamrase , no, API name can not be Chinese characters.

[2017-11-06 07:15] DanielTimLee opened #3015 "[CUSTOM PLUGIN MIGRATE] POSTGRES Support with ID with (INTEGER) SERIAL PK?"
### Summary

**Custom Plugin Migration doesn't support Postgresql (INTEGER) SERIAL PK?**
Does it meant to be PK must be UUID always?
or it's just `dao.db.postgres` 's find_all doesn't support with `INTEGER type id` column?

cause I can't find anywhere PSQL's ID must be an `UUID` type not `INTEGER`.
(https://getkong.org/docs/0.11.x/plugin-development/custom-entities/)

`kong/dao/db/postgres.lua` 's

[2017-11-06 07:51] nico-acidtango commented on #2986
@chenyukang you are right, I forgot to mention that the password containing '%' part was my mistake for not url encoding that part of the password when making the request, I found out writing the tests...

I'll edit the issue

[2017-11-06 19:35] #2336 closed

[2017-11-06 21:45] brockmiller commented on #2975
Hey all, the update to v0.11.1 seems to have addressed the problem.  Thanks!
[code]

[2017-11-07 01:35] mikob opened #3017 "Plugins limited to 98 config keys and array config out of order"
### Summary

Custom plugin will not store more than 98 array items at a time and mixes the order of the array. Even though I put 200 keys in the REST api requests for configuring the plugin, in the responses and even in the postgres db - plugins table, only 98 keys are shown.

### Steps To Reproduce

1. Add a plugin and configure it with more than 100 keys -- response will show only up to 98 keys

[2017-11-07 05:06] thibaultcha commented on #3015
Hi,

What is the content of your `schema.lua` (or `daos.lua`) file? It is indeed very likely that you must specify UUIDs for your entities primary keys. The main reason behind this is interoperability between the two databases supported by Kong, PostgreSQL and Cassandra. Yes, it would be nice to have this specified in the plugins development documentation!

[2017-11-07 05:11] thibaultcha commented on #3017
Hi,

Have you tried specifying the values in a comma-separated fashion? As in:

[code]

The reason I am asking is because officially, the notation you are using in your given example isn't supported by the Admin API. While we are indeed working towards supporting such 'url-encoded', familiar notation, it isn't the case today. I wonder if it would make any difference. Let us know!

[2017-11-07 06:04] mikob commented on #3017
I'm not using commas as there are commas, and other punctuation in the strings I'm sending. Hmm but I would have though it's officially supported given this: https://getkong.org/docs/0.11.x/plugin-development/plugin-configuration/#describing-your-configuration-schema

```array: must be an integer-indexed table (equivalent of arrays in Lua). In the Admin API, such an array can either be sent by hav

[2017-11-07 06:44] Tieske commented on #3017
On mobile, so can't easily check right now, but iirc there is a setting in openresty that prevents more than 100 entries, as a safety feature. That's on query parameters iirc. You can override it.

[2017-11-07 07:21] mikob commented on #3017
@Tieske thanks very much for this insight, seems to be what we're hitting here. I've found the config parameter I think you're talking about: https://github.com/openresty/lua-nginx-module#ngxreqget_uri_args

Now I'm trying trying to figure out how to override it! Once I do, perhaps I can make a PR to update the docs with this note in the plugin config section.

[2017-11-07 08:35] Tieske commented on #3017
Unfortunately there is no config setting, so the only way to override it is by modifying the source code. If that is the route you want to take, then you might override those methods in the 'globalpatches' file and replace the count with whatever value you need. An alternative might be to patch it in the config templates [here](https://github.com/Kong/kong/blob/master/kong/templates/nginx_kong.lua

[2017-11-07 08:54] rajagopalvreghunath opened #3018 "Kong is crashing when the L1 cache miss happens"
NOTE: GitHub issues are reserved for bug reports only.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

Kong is crashing when the L1 cache miss happens and start sending 500 for all the requests

### Steps To Reproduce

1. edit the ap

[2017-11-07 10:12] Tieske commented on #1847
closing this now, feel free to reopen if the issue reoccurs

[2017-11-07 10:12] #1847 closed

[2017-11-07 10:17] Tieske commented on #412
Since edge-caching is available in the enterprise edition, and this issue deals with where the request comes from (which Kong doesn't deal with, but the infrastructure in front of Kong does) I think there is nothing more we can do here.

Can we close this?

[2017-11-07 13:04] thibaultcha commented on #3017
I suggested the comma-separated approach exactly to avoid going down this road. I would suggest giving it a try, you should be fine if your values do not contain commas themselves, and even if so, I would try escaping them (not sure if supported generically). This approach might also save you from the randomization you are experiencing.

[2017-11-07 15:52] ssholder opened #3019 "How to correctly record the log when I access a non-existent upstream server address"
register an API like
name: test
attributes:
  upstream_url: 'http://10.0.0.0'
  uris: '/test'
When I access http://localhost/test, the browser will display "The upstream server is timing out." and return 504 Gateway Time-out.
My question is:
1. If kong server is hung up when I access it, it also return 504 Gateway Time-out. If my program gets the HTTP code, how can I judge the reason is the upstre

[2017-11-08 03:58] thibaultcha commented on #3018
Hi,

Thank you for reporting. I have a few questions about things I would like to clarify first, before investigating this, if you don't mind.

What do you call the L1 cache?

Also, could you clarify a little bit your "steps to reproduce" section?

What did you edit exactly? What type of load is Kong being put under at this point? Do you have numbers and/or can reproduce this load with tools such

[2017-11-08 03:59] thibaultcha commented on #3018
I do have a strong hunch as to what is happening here, but to confirm it, I would very much like to clarify the last point about the error logs that you are seeing. How frequent are those errors? Do they stop after a few seconds have passed? That'd be helpful to know.

[2017-11-08 04:07] thibaultcha commented on #3019
Hi,

You can take several steps: increase the log level to 'debug', read the error logs, or even use a tracer like `tcpdump` to inspect the traffic going in and out of Kong.

Please see the `error_default_type` configuration setting, or send your requests with an appropriate  `Content-Type` header.

Indeed, this is a known issue for Kong and we do have plans to address it in the future :)

I will

[2017-11-08 04:07] #3019 closed

[2017-11-08 04:38] jeremyjpj0916 commented on #3005
Are you me :) ? I was running into this same exact situation. I am not sure the environment in which you are running but I decided to use Kong's Kubernetes cassandra migration yaml to initiate the Kong schema dump into a fresh keystore and had similar findings as yourself. No matter what schema consensus timeout occurs I get a error when running in debug as:

`2017/11/06 20:34:52 [info] migrating

[2017-11-08 08:38] anhdd-savvycom commented on #3008
@thibaultcha Do we have any updates on this issue? I like Kong, but due to this error I'm temporary switching to pure Nginx now.

[2017-11-08 09:45] francois-maillard commented on #2355
indeed, that's why I proposed #3010. Comparing our nginx conf to the new templates was one of the most time consuming task when preparing upgrades. We mitigated by patching the official template instead of having a separate version, but that's hardly a clean solution. The above-proposed process seems like a much more elegant solution.

On the other hand, it makes it easier for nginx users to grasp

[2017-11-08 12:46] dragon28 commented on #2907
hello @thibaultcha

Thank you for looking into this issue.

I manage to fix the issue to by using vagrant.

Thanks

[2017-11-08 12:46] #2907 closed

[2017-11-08 15:50] carlososiel commented on #2219
+1

[2017-11-08 19:42] sfhardman commented on #913
I'm using this plugin to exclude selected headers.  Could PR to the main Kong repo if it's generally useful.

https://github.com/sfhardman/kong-plugin-redact-headers

[2017-11-09 06:59] mikob commented on #3017
I made a PR to update the documentation about this limitation: https://github.com/Kong/getkong.org/pull/549

Just curious, why is it not disabled by default for the admin api? Does the admin api share the openresty settings with the public api?

[2017-11-09 07:22] oshz commented on #2219
You can use the same access_token between /api1 and /api2 by setting the "global_credentials=true" in both api oauth plugin. Those apis that have "global_credentials=true" will share the same access_token.

[2017-11-09 07:58] jimyang2008 commented on #1439
Another way is to add a group membership query in LDAP plugin, so that it does both authentication(with binding) and authorization(with search)

[2017-11-09 17:40] luin commented on #154
@alexforever86 Could you point out links to the documentation for the circuit breaker feature of the enterprise edition that I can refer to? Didn't find them out.

[2017-11-09 19:55] hbagdi commented on #154
This is a very useful plugin to have.

@sonicaghi @thibaultcha @thefosk Would you accept a PR for a simple implementation as discussed in the comments (less the health check part) ?

This would be similar to rate-limiting plugins with support for different datastores for storing counters.

[2017-11-09 20:03] thibaultcha commented on #154
@hbagdi Hi,

This feature is already in the works internally. It will be available for testing when it is ready, and we'll be happy to receive some feedback!

[2017-11-09 20:04] hbagdi commented on #154
@thibaultcha Sounds good. Thanks!

[2017-11-09 22:45] hbagdi commented on #1629
I took a stab at this but was not successful.

In our `plugins` table, records which have `api_id` and `consumer_id` as null are global plugins.

I could query for all plugin and then filter out which is a very inefficient way to do things.

I could not query (using the crud helpers) from the DB itself. Like:
[code]

Is this even possible?

[2017-11-10 06:41] rajagopalvreghunath commented on #3018
we have observed this when we put the load to the kong instances the load is 200K RPM
By L1 Cache i meant the in memory cache of kong.
Increasing cassandra latency i dont think we will be able to simulate but this we observed in our prod instances.
The Issue happened and errored out all the traffic went to the instances at that time and it was completely every request went 500
The issue got rectif

[2017-11-10 12:20] franksz2017 opened #3020 "kong ssl cannot work on TLS V1.0 1.1"
NOTE: GitHub issues are reserved for bug reports only.

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

kong configured ssl api , the nginx-kong.conf configuration contains:

     listen 0.0.0.0:443 ssl;
     ssl_certificate /usr/local/kong/ssl/kong-default.crt;
     ssl_certificate_key /usr/local/kong/ssl/kong-default.key;
  

[2017-11-10 17:56] kushmansingh opened #3021 "URIs with same prefix are not routed correctly"
### Summary

Overlapping uris for an API definition are not routed correctly

### Steps To Reproduce

1. `curl -X POST -d '{"name":"foo", "uris":"/a,/a-alternate", "upstream_url":"https://google.com"}' localhost:8001/apis`
2. `curl localhost:8000/a` will always route correctly too `https://google.com`
3. `curl localhost:8000/a-alternate` will route to `https://google.com` correctly or `https://goo

[2017-11-10 17:58] p0pr0ck5 commented on #3020
This is being discussed in https://github.com/Kong/kong/pull/3010. Have also a read of using a custom Nginx template: https://getkong.org/docs/0.11.x/configuration/#custom-nginx-configuration-embedding-kong

Also, in the future, please have a read of https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help before opening a Github issue, to avoid duplicates and overhead. Than

[2017-11-10 17:58] #3020 closed

[2017-11-11 10:35] niufwshd opened #3023 "error loading module 'socket.core'"
when I followed the install guide to install  kong, and almost the last step,I got such an error:
[root@localhost kong-master]# **kong migrations up -c /etc/kong/kong.conf**
ERROR: /usr/local/share/lua/5.1/luarocks/loader.lua:147: error loading module 'socket.core' from file '/usr/local/lib/lua/5.1/socket/core.so':
	/usr/local/lib/lua/5.1/socket/core.so: wrong ELF class: ELFCLASS64
stack traceback

[2017-11-11 20:23] arvileino opened #3024 "request-transformer plugin fails if multipart/form-data contains file"
### Summary

When request-transformer plugin enabled, multipart/form-data coded file sending through Kong fails. Everything seems to be fine until Request Transformer plugin is added. When sending file and Request Transformer plugin is activated, result is [{"code":400,"description":"An internal error occurred"}]

### Steps To Reproduce

1. Send multipart/form-data coded file through Kong. That is

[2017-11-13 12:02] prem911 opened #3025 "uri regex doesnot work with strip uri option"
### Summary
URI with regex works only when strip uri option is not used

### Steps To Reproduce

1. create api /api/test/\d+ with and without strip uri option
2. Change the upstream url accordingly for both the options

### Additional Details & Logs

- Kong version : 0.11.1
- Kong debug-level startup logs : NA
- Kong error logs : NA
- Kong configuration : NA
- Operating System : Kong deployed in D

[2017-11-14 04:27] thibaultcha commented on #3025
Hi,

I cannot reproduce. URI regexes seem to work both with and without the `strip_uri` option enabled:

[code]

Now, making the requests:
[code]

Everything seems to work perfectly fine. I would highly recomend that you double check your API attributes, and the request you are making. Care to add some more details maybe?

[2017-11-14 04:41] prem911 commented on #3025
@thibaultcha Sorry If I was not clear enough. Thanks for the starting the investigation.
The calls do happen in both the cases.
However, if you test with
[code]
you will see the difference in the upstream calls.
When we are stripping the URI, I donot find "12345" in my upstream call.
Is this the desired behavior?

[2017-11-14 04:45] thibaultcha commented on #3025
Indeed.

[2017-11-14 04:48] prem911 commented on #3025
Thanks. Is it possible to strip only a fixed portion of the uri?
Otherwise we are forced to use the donot strip option when it comes to regex in uri.

[2017-11-14 04:58] thibaultcha commented on #3025
No, `strip_uri` will always strip the part of the URI that matched the `uris` attribute. You have two options for more advanced URI transformation:

- Develop a custom plugin.
- Use [Kong Enterprise Edition](https://konghq.com/kong-enterprise-edition/), which bundles a version of the [request-transformer](https://getkong.org/plugins/ee-request-transformer/) plugin able to extract capturing groups

[2017-11-14 10:53] prem911 commented on #3025
Thank you!

[2017-11-14 10:53] #3025 closed

[2017-11-14 13:08] voronenko-da opened #3027 "ip_hash upstream type, is it possible?"
Hello !!!

I have a question. We are looking at your product since version 0.9.x. A lot of what we need at that time was absent, starting with 0.10.x it became much better. Thank you.

We have many services. And some of them require that the client request get on the same server every time.

In nginx, this is ip_hash upstream.

Can I do this now? Or maybe it's planned?

Now I do manual upstream wi

[2017-11-14 13:40] Tieske commented on #3027
see https://github.com/Kong/kong/pull/2875
and https://github.com/Kong/getkong.org/pull/541

Scheduled for release 0.12

[2017-11-14 14:19] voronenko-da commented on #3027
Thank you so much. We are waiting for release.

[2017-11-14 15:17] nodefortytwo commented on #2894
Is there any ETA on when the next release is planned?

[2017-11-14 19:58] thibaultcha commented on #2194
If you are encountering this issue, please **do** share:

- Your Kong version (`kong version -a`)
- OpenResty version and compilation flags (`nginx -V`)
- Your Kong configuration: underlying datastore, plugins in use, rough estimate of the number of Consumers, and type of APIs matching in use (URI, regex URI, host, wildcard host, etc.).

While we are very eager to get this to a resolution, we need

[2017-11-15 08:31] longxianlin commented on #2697
same question.

localhost:8000/user/{:id} is good

localhost:8000
Host: userapi

not good

[2017-11-15 09:04] pachico commented on #2194
Hello @Tieske. I'm glad to tell you that it seems the problem was not caused by Kong's core but by one of our custom plugins.
We have finally solved it and the RAM consumption is back to a stable and low level.
Sorry for the inconveniences.

[2017-11-15 09:09] longxianlin opened #3029 "cannot proxy host and uris both"
can not proxy

### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

Add api

1. host: baidu.com
2. uris: /baidu
3. methods: GET
curl get http://localhost:8000/baidu
-H Host: baidu.com

error below

### Additional Details & Logs

- Kong version (v0.11.1)
- Kong error logs (
{
    "message": "no API found with those values"
})
- Centos

if add api like this

1. uris: /baidu
2. methods: GET
curl g

[2017-11-15 09:13] Tieske commented on #3029
I appreciate you took the time to open an issue for this. However, kong github issues are for bug reports only. I kindly ask you to repeat your question on the channels we have habilitated for it:
* The main place for questions is [gitter](https://gitter.im/Mashape/kong)
* Alternatively, there's also a [mailing list](https://groups.google.com/forum/#!forum/konglayer), in case you prefer that forma

[2017-11-15 09:13] #3029 closed

[2017-11-15 15:50] bungle commented on #3024
Thank you for reporting. To understand what is going on, we need more information.

On our test suite, we do test `multipart/form-data`:
https://github.com/Kong/kong/tree/master/spec/03-plugins/15-request-transformer

Can you show us `<kong-prefix>/logs/error.log (there could be more information)´. I quickly tried to to reproduce on my side, but it didn't fail on my test. Is there any specific plu

[2017-11-15 15:56] bungle commented on #3023
For some reason it seems like you have wrong LuaSocket:
https://luarocks.org/modules/luarocks/luasocket

In your system, or it was compiled with wrong settings. 32b vs. 64b or something.

How did you install that?

[2017-11-15 16:05] bungle commented on #3021
If have a feeling that `/a-alternate` may be considered as `regex`.

[2017-11-15 17:57] rajagopalvreghunath commented on #3018
What we have observed is that the local cache is not having the upstream and the checks are on the table  in balancer.lua
 return singletons.cache:get(upstream_cache_key, nil,
                              load_upstream_into_memory, upstream_id)

[2017-11-15 18:16] arvileino commented on #3024
Thanks for testing. The problem seems to be little different from what I described earlier.

If feedback data is sent through Kong **and api_key is added with request-transformer plugin**, upstream service returns [{"code":400,"description":"An internal error occurred"}] If upstream service is changed to my own echo service, it works fine. If upstream service, which failed earlier, is called direc

[2017-11-15 18:41] thibaultcha commented on #2194
@pachico Thank you for letting us know.

We'll keep this thread open for now, hoping to get answers from @rajasoun, @plukevdh and/or @tecnobrat as well, or for anybody else who might be encountering this. Please do follow the steps/provide the details I asked for in my above message if you think you are still encountering a memory leak. Thanks!

[2017-11-15 19:03] bungle commented on #3024
@arvileino, thank you for further information. I will try it out and report back.

[2017-11-15 19:21] bungle commented on #3021
^- the above feeling is probably be wrong (according to: https://github.com/Kong/kong/blob/master/kong/core/router.lua#L168), but this is indeed interesting case. I look more into it.

[2017-11-15 19:24] thefosk opened #3030 "Check Postgres server version explicitly when starting Kong"
And return a nice friendly error message on startup.

[2017-11-15 19:42] arvileino commented on #3024
@bungle if you would like to check against our feedback server, please send email to opendata turku.fi and I will send you back api key and server information.

[2017-11-15 20:38] arvileino commented on #2981
Problem might be in https://github.com/Kong/lua-multipart/blob/236b8d9f4f4b6424271ed79dba2ae8189e2bdb17/src/multipart.lua#L129

[2017-11-15 20:50] thibaultcha commented on #3030
This place should be considered bug reports only. Let's move this (which is a feature request) to our internal tracking tools instead.

[2017-11-15 20:50] #3030 closed

[2017-11-16 09:21] manor21 opened #3033 "is it possible to change error responses of specific plugin ,for example rate limit?"
is it possible to change error responses of specific plugin ,for example rate limit?

[2017-11-16 10:11] Tangqiaoyehua opened #3034 "I found that i can't use udp socket function in my plugin,why?"
When i start Kong ,I got this error:
--------------------------------------------
Error:
/usr/local/share/lua/5.1/kong/cmd/start.lua:62: /usr/local/share/lua/5.1/kong/cmd/start.lua:51: nginx: [error] init_by_lua error: /usr/local/share/lua/5.1/kong/tools/utils.lua:477: /usr/local/share/lua/5.1/kong/core/globalpatches.lua:332: no request found
stack traceback:
	[C]: in function 'error'
	/usr/local/

[2017-11-16 10:20] Tieske commented on #2194
@pachico would you mind providing some details on what exactly went wrong with your custom plugin? (for future reference here)

[2017-11-16 10:39] asdubey91 opened #3035 "curl: (7) Failed to connect to localhost port 8001: Connection refused getting this error on windows and ubuntu 16.4"
### Steps To Reproduce
Go through the installation.
1. https://getkong.org/install/docker/
2. curl -i http://localhost:8001/ is not working.

[2017-11-16 12:45] pachico commented on #2194
@Tieske We are running a stack which uses XML as external document model (mostly dictated by the industry standard) but we wanted to use Kong as API gateways. This forced us to develop most of the plugins in order to return proper XML response formats.
One of these plugins validates input XML against XSD using Xerces-C++ lua wrapper. It turns out we ended up having a memory leak for every document

[2017-11-16 15:02] kikito commented on #3035
I appreciate you took the time to open an issue for this. However, kong github issues are for bug reports only. I kindly ask you to repeat your question on the channels we have habilitated for it:

* The main place for questions is [gitter](https://gitter.im/Mashape/kong)
* Alternatively, there's also a [mailing list](https://groups.google.com/forum/#!forum/konglayer), in case you prefer that form

[2017-11-16 15:02] #3035 closed

[2017-11-16 15:07] asdubey91 commented on #3035
Thanks for your king response. I solved it.

[2017-11-16 15:31] kikito commented on #3033
Closing this down as it was already asked and answered in our [gitter](https://gitter.im/Mashape/kong).

[2017-11-16 15:31] #3033 closed

[2017-11-16 15:40] kikito commented on #3034
Hello, are you trying to use the UDP socket in the `init_by_lua` or `init_worker_by_lua` contexts, by any chance? Those contexts are not supported by [ngx.socket.udp](https://github.com/openresty/lua-nginx-module#ngxsocketudp). The `"no request found"` error points in that direction.

Since your issue is not a bug report, please continue this discussion on one of the channels we have habilitated f

[2017-11-16 15:40] #3034 closed

[2017-11-16 18:57] bungle commented on #3024
@arvileino, that's really valuable, I think the bug starts from here:
https://github.com/Kong/lua-multipart/blob/master/src/multipart.lua#L41

and goes wrong later on... we need to fix this (we should possible start using something like `lua-resty-upload` or modified https://github.com/bungle/lua-resty-reqargs/blob/master/lib/resty/reqargs.lua (which uses `lua-resty-upload`. Parsing multipart in t

[2017-11-17 09:23] nanaromance commented on #3024
Waiting fix this issue.

[2017-11-17 10:36] karousn commented on #1728
+1
if the proposition of @bkuebler work without any issue ..
@shashiranjan84  we want to install the latest version to compare Kong with the other open source .

[2017-11-17 14:01] #3027 closed

[2017-11-17 14:04] kikito commented on #2799
Hello @arsdehnel , I would like to enquire about the status of this issue. Where you able to find the source of your (last) trouble? Do you still need help?

[2017-11-17 14:05] kikito commented on #2802
I am temptatively closing this down as I was not able to reproduce this in the last ~2 months or so.

[2017-11-17 14:05] #2802 closed

[2017-11-17 14:07] kikito commented on #2797
Since @kkindaface graciously provided a workaround for this issue (thanks!), I am closing it. @kkindaface please reopen if you think some part is still not solved.

[2017-11-17 14:07] #2797 closed

[2017-11-17 14:09] kikito commented on #2795
I confirm @chenyukang 's answer. The api name is limited to ascii alphanumerics and the ones mentioned in the error message.

[2017-11-17 14:09] #2795 closed

[2017-11-17 14:16] hishamhm commented on #3023
Yes, this is definitely a 32-bit vs 64-bit issue. Your LuaRocks installation was compiled to build 64-bit libraries, but your `resty` interpreter was compiled as a 32-bit library.

[2017-11-17 14:32] arsdehnel commented on #2799
I think we can close this one.

[2017-11-17 14:32] #2799 closed

[2017-11-17 15:58] kikito commented on #2200
@Nijisha docker containers are not stateful by default - unless you configure them to store state somewhere, turning them off will make you lose the state. The solution depends on the platform you use. In the case of AWS, there seems to be a way to use EFS as a persistence layer. More info here: https://aws.amazon.com/blogs/compute/using-amazon-efs-to-persist-data-from-amazon-ecs-containers/

Sinc

[2017-11-17 15:58] #2200 closed

[2017-11-17 17:51] yousafsyed commented on #2950
Same issue here using the konghq kubernetes deployment
https://github.com/Kong/kong-dist-kubernetes by following all the instructions as is

[2017-11-17 19:35] coopr commented on #1330
I think Open Tracing would be great to add to Kong - we'd welcome a PR @ror6ax

[2017-11-17 19:39] ror6ax commented on #1330
@coopr what do you make of https://github.com/sfhardman/kong-plugin-zipkin and https://github.com/opentracing-contrib/nginx-opentracing ? Are they lacking some polish or there are some bigger issues? Both look pretty much working to me.

[2017-11-18 05:20] niufwshd commented on #3023
@bungle @hishamhm ,Yes,I think you are right! I  rememered I download one luasocket source package and install it,I didn't set neither of 32b or 64b.   When I executed "kong migration up -c /etc/kong/kong.conf", the luasocket's dir is /usr/local/lib/lua/5.1/socket", follow bungle's reply, I have installed luasocket 3.0rc1-2  in "/usr/local/luarocks" directory, then I  executed above kong command,t

[2017-11-18 17:49] hbagdi commented on #2791
@thefosk what do you mean by target here?

[2017-11-18 17:49] hbagdi commented on #2309
We could fix this one now!

[2017-11-19 01:30] hbagdi commented on #2791
@thefosk @thibaultcha
Just wanted to make sure if the following sounds correct:

- The current default route `/upstreams/:upstream_name_or_id/targets/`  should instead be `/upstreams/:upstream_name_or_id/targets/all`.
- The `/upstreams/:upstream_name_or_id/targets/active/` remains as is.

Making the current default route as `active` seems incorrect to me.

[2017-11-19 02:40] thibaultcha commented on #2791
@hbagdi What the @thefosk means here, is that when a user queries `/upstreams/:upstream_name_or_id/targets/`, we think the user should see the currently active Targets or a given Upstream (the physical hosts currently on the balancing wheel). Only when a user queries `/upstreams/:upstream_name_or_id/targets/all`, should they see the entire list of Targets (old and current). The `/.../active` one w

[2017-11-19 03:04] hbagdi commented on #2791
@thibaultcha thanks for the lucid explanation!
I'll take this up and send you a PR soon.

[2017-11-19 08:53] Maples7 commented on #1625
Sounds like a good idea! Any development plans on it?

[2017-11-19 13:06] huangnanyang commented on #1095
if you change the dns_resolver, you must run the kong migrations!!!

[2017-11-20 08:54] smileMrLee commented on #155
+1

[2017-11-20 11:26] coxon commented on #2964
@Tieske in latest version(0.11.1), i use SRV records in upstream target with port 8080, like 'a-server.a-user.svc.cluster.local:8080',and i get
2017/11/20 19:11:47 [error] 38#0: *5820 connect() failed (113: No route to host) while connecting to upstream, client: 10.1.1.100, server: kong, request: "POST
 uri HTTP/1.1", upstream: "http://172.30.247.246:0/servername/uri", host: "kong.domain.com"
the

[2017-11-20 15:47] puttareddy opened #3041 "Does Kong support SOAP <-> REST transformation ?"
Hi All,
We have many internal SOAP/XML-RPC web-services, for which, we are planning to perform below use-cases via Kong Plugins.

UC1: Transform SOAP to REST and vice-versa
UC2 : Rate limit (queue) the requests and send them periodically, as the destination is not capable to handle high volumes

Can you please point me to specific plugins to support these Use-cases. I learnt some of them are  avai

[2017-11-20 16:24] puttareddy commented on #330
+1 .

[2017-11-20 16:36] kikito commented on #3041
I appreciate you took the time to open an issue for this. However, kong github issues are for bug reports only. I kindly ask you to repeat your question on the channels we have habilitated for it:

* The main place for questions is [gitter](https://gitter.im/Mashape/kong)
* Alternatively, there's also a [mailing list](https://groups.google.com/forum/#!forum/konglayer), in case you prefer that form

[2017-11-20 16:36] #3041 closed

[2017-11-20 16:45] java4fun opened #3042 "Load Balance - route traffic to same Data Center with upsream/target configuration"
I have a requirement to set up multi-DC cluster using upstream/targets for dynamic load balance.  If we add targets of multi-DC to the upstream, how can I make Kong to route traffic to target on the same DC, instead of other DCs,  unless the services are all down in the local DC. For example, if traffic comes to Kong in Dallas DC, I prefer kong route the traffic to endpoint located in Dallas too.

[2017-11-20 16:46] bungle commented on #3041
AFAIK UC1 is pretty opionated, as there is no way to directly transform REST to SOAP (or vice-versa, or even XML-RPC). They are fundamentally different (easy cases are easy while coming up with generic solution is pretty complex, think about WS-* stack). I don't know about such plugin for Kong. UC1 has been proposed before: https://github.com/Kong/kong/issues/330.

UC2: both Community and Enterpri

[2017-11-20 17:44] hishamhm commented on #3042
The Kong load balancer implements distributes load among targets based on weights. What you want instead is to prioritize targets differently on each DC. One way to use that is, instead of having the upstream balance multiple targets, to set those targets in one [SRV record](https://en.wikipedia.org/wiki/SRV_record) in DNS and use SRV record priorities. For example, in your Dallas DC, you can set

[2017-11-20 17:44] #3042 closed

[2017-11-21 10:52] mayiwei commented on #2784
@qqlee Have you solved your problem?

[2017-11-21 11:20] Tieske commented on #2194
@pachico did you just "hack them to xml" or did you implement a template? in the latter case, I'd love to see a PR!  😄

[2017-11-21 13:59] oxygen0211 opened #3043 "Path reference for certificates API"
Hi everyone,
I would like to open a discusion about adding support for certificate path references to Kong's certificates API or to get a hint on how the usecase I would like to have it for is inteded to be solved by Kong.

My situation is the following: We are running a clustered Kong installation on Kubernetes behind an ELB, aggregating several microservices. In our setup, Kong does SSL terminat

[2017-11-21 14:27] jacobwallace commented on #505
Is there any ETA for when a plugin could be customized per HTTP method, endpoint, or request header (number 3 in the description)? Thanks for all the work done so far on this issue.

[2017-11-21 14:43] pachico commented on #2194
@Tieske we "hack them to xml", and yes, this means we had to re do some of the work every time these built-in plugins changed over versions  :)

[2017-11-21 16:04] Tieske commented on #1095
@huangnanyang no. you do not have to run migrations for changing the dns resolver. Migrations are only to update the structures in the DB when entities get new properties for example.

Setting another dns server in the config file will only require a reload.

@magicliang missed your question before, sorry about that. But for future reference: Yes, Kong will honor the TTL it received. Once it expir

[2017-11-21 16:11] Tieske commented on #2964
@coxon please do not respond to closed issues.

How is Kong configured? what is the `upstream_url` (or are you using an `upstream` entity as a loadbalancer?), and what does the name you have in there resolve to?

Note worthy: Kong trusts the nameserver, so any port configured in your `upstream_url` will be overridden by whatever the dns server (in case of an SRV record) or the loadbalancer come up

[2017-11-21 16:35] AlexKovalevych opened #3044 "Can't update plugin by name"
### Summary

Can't update plugin by its name

### Steps To Reproduce

1. Create api
2. Add plugin to it
3. Try to update a plugin with PATCH method, e.g.:

[code]

According to docs, https://getkong.org/docs/0.11.x/admin-api/#update-plugin, i should be able to update plugin by its name. It seems like here https://github.com/Kong/kong/pull/2252 it was fixed only for GET method.

### Additional Deta

[2017-11-21 17:44] thefosk commented on #505
It can be done now: method, URI, host header or any combination of those (including multiple values)

[2017-11-22 05:13] thefosk commented on #3044
That's not possible, you need to use the plugin ID.

[2017-11-22 06:11] thibaultcha commented on #3044
@AlexKovalevych This is a mistake on our side. It is indeed not possible to retrieve/update/delete a plugin by its name, since several instances of a same plugin can be configured simultaneously. One needs to use the `id` of such plugins to update them.

I have opened https://github.com/Kong/getkong.org/pull/552 on our documentation website, which should take care of fixing that.

In the meantime,

[2017-11-22 06:11] #3044 closed

[2017-11-22 06:16] thefosk commented on #1625
Hello @Maples7 - starting from 0.11.x Serf is not a dependency anymore and I am going to close this issue.

[2017-11-22 06:16] #1625 closed

[2017-11-22 07:20] niufwshd commented on #3023
@@bungle @hishamhm
 Today I  reinstall my  rhel6.4 system and kong by source method. When I executed " luarocks install kong 0.11.1-0",but i couldn't find any kong config file like "kong.conf" or "kong.conf.default". I searched this link https://github.com/Kong/kong/issues/1548, I think it's the solution. but I don't know the detail steps,can you tell me? thank you first!

[2017-11-22 08:39] AlexKovalevych commented on #3044
@thibaultcha thank you for your response. But right now, adding a second instance of the same plugin gives me 409 status code response. That makes me think its not possible to add multiple instances of the same plugin (or i'm doing it wrong).

[code]

Same Kong version (0.11.1)

[2017-11-22 15:45] kikito commented on #1771
@Rikhart please open a new issue with more details (your exact config, steps to reproduce, etc). If you want, you can link to this issue on the new one if you think they are related. But the code has changed a lot on the last 6 months so that is unlikely.

[2017-11-22 16:10] feelgoodman commented on #1771
Same issue with Docker here. Is it not a common use case, to route to containers on ports other than 80?

[2017-11-22 17:02] thibaultcha commented on #3044
It is possible if they are added to the same API but different Consumers. This is detailed in the revert commit linked in the docs PR.

[2017-11-22 17:13] feelgoodman opened #3046 "Kong on Docker does not pickup port information in upstream url while creating an api"
### Summary

Kong does not pickup port information in upstream url while creating an api. Defaults it to 80.

### Steps To Reproduce

1. Create Kong Docker image from official Kong:0.11.1
2. Create a new api with upstream url as "http://abc.com:8080".
3. Try opening the same on Kong and it will redirect you to "http://abc.com" and trim the port information or return error if port 80 is not accessi

[2017-11-22 17:31] AlexKovalevych commented on #3044
got it, thanks

[2017-11-22 17:41] kikito commented on #2835
@Rzozi I've investigated this a little bit and found out this thread in the infosec stack exchange: https://security.stackexchange.com/questions/134021/what-kind-of-attack-is-prevented-by-apache2s-error-code-ah02032-hostname-prov

Could you please check that the errors that you see on the logs appear immediately after you do the curls? According to that thread, some entities test servers for vulne

[2017-11-22 18:34] jeremyjpj0916 opened #3047 "Kong Client side TLS Vulnerability/Optimization problems"
Kong has some support for Client side TLS for upstream API security, see more here from NGINX on it:
https://www.nginx.com/resources/admin-guide/nginx-tcp-ssl-upstreams/

Kong enables the settings of this feature via the kong.conf or the KONG_ environment variable override associations:
client_ssl = on
client_ssl_cert = /usr/local/kong/ssl/testCert.crt -> In Nginx: proxy_ssl_certificate
client_ssl

[2017-11-23 10:11] feelgoodman commented on #3046
This is the output from DIG, doesn't seem to mention ports:

[code]
I was only running the upstream services in the same docker-compose file for easy local testing. The production upstream services will be outside of docker. I'll therefore set it up this way to avoid this issue

[2017-11-23 11:24] feelgoodman commented on #3046
so, I removed my-webapp from docker, and instead ran my webapp outside of docker, on my local machine, i.e. 172.0.18.1:38091. and updated Kong config:

`{"created_at":1511435237966,"strip_uri":true,"id":"8591ec6a-c47d-4a29-9b31-67444d678fc1","name":"cb-webapp","methods":["GET","HEAD","POST"],"http_if_terminated":false,"https_only":false,"upstream_url":"http:\/\/172.18.0.1:38091}","uris":["\/cb-web

[2017-11-23 11:31] kikito commented on #2898
I'm closing this issue since the last remainig bit (docs) has been done in https://github.com/Kong/getkong.org/pull/551

[2017-11-23 11:31] #2898 closed

[2017-11-23 12:07] kikito commented on #3046
Hi,
When you run docker directly, there's an [option called `-p`](https://docs.docker.com/engine/reference/run/#expose-incoming-ports) which allows you to map ports between the docker image and the host. In our case it would look similar to:

[code]

That should map port 123456 of the docker image to port 123456 in the host.

If using docker-compose, there is a [section called `ports`](https://doc

[2017-11-23 12:29] feelgoodman commented on #3046
@kikito The API that I want Kong to proxy to is running on the host machine: 172.18.0.1:38091, which is what I have specified in the Kong config. But Kong errors because it tries to send the request to 172.18.0.1:80

I don't see how the exposed Docker ports re relevant to this, but this is my docker-compose for info:

[code]

Dockerfile for my-company/my-company-kong

[code]

[2017-11-23 13:30] feelgoodman commented on #3046
I just tried setting the upstream_url to http://www.sony.com:666, and it seems to then use the correct port (and times out as expected):

`2017/11/23 13:23:03 [error] 59#0: *272 upstream timed out (110: Connection timed out) while connecting to upstream, client: 172.18.0.1, server: kong, request: "GET /my-webapp HTTP/1.1", upstream: "http://2.22.99.190:666/", host: "localhost:39000"`

So seems to

[2017-11-23 15:13] mynameisgv commented on #2309
Is this fixed now? I see know my using 1.11.2.4 now?

[2017-11-23 21:20] bungle commented on #3047
@jeremyjpj0916, what you propose sounds like a great addition. Do you want to propose a PR for that. I can possibly take a look at it as well. We also then need to document such a feature, so we need additional PR for documentation around here: https://github.com/Kong/getkong.org/blob/master/app/docs/0.11.x/configuration.md#client_ssl_cert_key

Ultimately at some point this can be fixed with (othe

[2017-11-24 04:09] jeremyjpj0916 commented on #3047
@bungle Glad you are in agreement, will look into pushing a PR request shortly 👍 . And yes I know of writing a custom Nginx config, I just get anxious deviating from the "baseline" because future changes could cause problems with custom configs potentially. The more I can point out to Kong that we agree upon could use a fix up the better, plus everyone wins rather than just myself :) .

[2017-11-24 14:00] jgava commented on #2871
Tried ONE, TWO and THREE, conclusion just ONE working. same error reported.

[2017-11-24 15:23] jgava commented on #2871
I guest must be related to cassandra_contact_points

[2017-11-24 16:27] mbugeia commented on #2674
Hi, any news on this issue ?

[2017-11-25 09:10] SuperMasterBlasterLaser opened #3050 "[OAuth2] no API found with those values"
Hello. I'm trying to add OAuth2 to my API's

I have globally added `oauth2` plugin. When I access to ` http://my.ip:8001/plugins/1247e0cf-679c-4093-93bd-59d300181daa`

It shows me this:

    {
        "created_at": 1511506820000,
        "config": {
            "enable_client_credentials": true,
            "mandatory_scope": false,
            "hide_credentials": false,
            "accept_http_i

[2017-11-25 17:35] thibaultcha commented on #2309
@mynameisgv This hasn't been addressed, but considering the harmless nature of the bug, and our recent (unreleased) work on improving our DAO, it is unlikely that we will address it.

[2017-11-25 17:39] thibaultcha commented on #2871
Hi,

The consistency setting of Cassandra isn't remotely related to the
contact points property.

The consistency setting that you chose depends entirely on your
Cassandra cluster, how you configured it, and the way you want your
application to behave (availability vs. consistency). I suggest that you
read some online literature if you wish to use Kong with Cassandra and
aren't familiar with it, o

[2017-11-26 03:33] thefosk commented on #3050
What's your API definition (without the `upstream_url` property)?

[2017-11-26 08:27] SuperMasterBlasterLaser commented on #3050
@thefosk One of my API has that kind of definition:

    {
        "created_at": 1511506315714,
        "strip_uri": true,
        "id": "9333c59e-adec-4699-9161-61a4a023b63c",
        "hosts": [
            "example.com"
        ],
        "name": "Test",
        "http_if_terminated": false,
        "https_only": false,
        "retries": 5,
        "uris": [
            "/api1"
         ],

[2017-11-26 12:15] kleinsasserm commented on #785
The Kong concept is great and it would be a real benefit to get authorization layers on API's without modifying the original service. For example, there is a Docker RBAC plugin to apply policies (GET,...) onto API paths. But this requires to add the plugin to the Docker engine which can be a troublesome at some point. Therefore it would be cool to have a Kong method to apply policies like describe

[2017-11-26 20:35] thefosk commented on #3050
When calling the `/oauth2/*` endpoints you still need to match the API, so in this case the URL would be `:8000/api1/oauth2/*` (and `example.com` host).

[2017-11-27 05:53] SuperMasterBlasterLaser commented on #3050
@thefosk As you have written. I made request to this endpoint like this

![image](https://user-images.githubusercontent.com/8684688/33252626-789b78ca-d369-11e7-8bee-9f7625553a50.png)

And I still get this error.

[2017-11-27 20:04] takearun commented on #972
Hi mwaas, we are after this feature too, can you please tell us how you changed kong.tools.response?

Thanks,
Arun

[2017-11-27 21:17] nbalsamo commented on #1946
Shot in the dark, but has anyone been able to accomplish this on Heroku? For whatever reason, something simple like @samrose config change does not work.

[2017-11-28 00:53] bungle commented on #3024
@arvileino / @nanaromance can you try this one (it is a quick fix to original library):
https://github.com/Kong/lua-multipart/pull/14

[2017-11-28 00:55] bungle commented on #2981
This one is possibly fixed with this:
https://github.com/Kong/lua-multipart/pull/14

@arvileino if you have time to try that, please report back your results.

[2017-11-28 12:46] p0pr0ck5 commented on #1220
We have this now! Closing.

[2017-11-28 12:46] #1220 closed

[2017-11-28 15:16] DanielTimLee opened #3053 "DAO:find_all with Like Pattern Matching queries? (Custom Plugin, PSQL)"
### Summary

DAO:find_all with `Like` Pattern Matching queries?
Can I call `find_all` with `%str%` or `_str_` `LIKE` queries?

[code]

this query changes to (from PSQL Direct Query log)

[code]

As we can see here, `AND "my_column" = 'str%' ` so, we can't call `LIKE` `SELECT` queries.
Is it available to call `LIKE` query?

### Additional Details & Logs

- Kong version (`$ kong version`)  `0.11.1`

[2017-11-28 15:29] DanielTimLee commented on #3053
Or regExp might not be supported for now?

[2017-11-28 17:12] bungle commented on #3024
or just do:

`luarocks install multipart 0.5.2 --force`

[2017-11-28 17:22] bungle commented on #3053
It is not supported currently, but you can use `query`, but be aware that you need to write your query by hand, and that is not guranteed to work with Cassandra (and can be hard to get working) if you ever happen to switch to it.

[2017-11-28 18:48] arvileino commented on #3024
Made quick test:

1. Updated multipart to 0.5.2-2 and defined API
2. Tried API -> works
3. Added request-transformer
4. Tried API -> did not work. Returned [{"code":400,"description":"An internal error occurred"}] from upstream server.

[2017-11-28 20:38] arvileino commented on #3024
Made other test:

curl -X "POST" "http://localhost/echo" -F "address_string=TEST ADDRESS" -F "service_code=73da8c74-49e8-e611-8bc2-005056820025" -F "description=TEST FEEDBACK" -F "first_name=FIRST" -F "last_name=LAST"

Request-transformer 0.5.2-2 seems to send some fields multiple times and lose some:

b'--------------------------d6fcd41540af83d8\r\nContent-Disposition: form-data; name="address_st

[2017-11-29 01:07] ICrazyMouse commented on #3050
I get this error too.
Restart or add a new api could solve it.
I guess the cache has some problem.
kong v0.10.3

[2017-11-29 08:46] nickwq opened #3055 "Error get_body_agrs()"
### Summary

From kong log file error.log, we got lots of error like this:

------------------------------------------------------------

2017/11/29 08:35:59 [error] 51#0: *1793068 [lua] public.lua:27: get_body_args(): could not decode JSON body args: bad argument #1 to '?' (string expected, got nil), client: 10.2.50.0, server: kong, request: "GET /s/users HTTP/1.0", host: "gate.test.com", referre