[2016-03-16 13:47] kamaydeo commented on #1081
Thanks. It works now.

[2016-03-16 13:47] #1081 closed

[2016-03-17 02:22] gavinzhou commented on #1074
I not set anything in serf

[2016-03-17 10:51] #1023 closed

[2016-03-17 14:10] lucamaraschi commented on #416
@thibaultCha I kind of understand you point but at the same time I think Kong should act not only as an orchestration layer but also as a security gatekeeper, which JSON schema (and XML schema) validations are part of. It would be valuable to have a plugin in Kong which enables JSON schema validation on top of the registered APIs. In this way we can centralize and offload the different application

[2016-03-17 21:20] ahmadnassri opened #1086 "generate unique identifier for each request and pass to upsteram as a header"
being able to trace requests coming through Kong with some sort of unique identifier would be helpful for further tracking in the upstream, a suggested header name can be: `Kong-Request-ID` _(in accordance with #324)_

[2016-03-17 21:21] ahmadnassri commented on #324
@thefosk we can:

1. make it configurable
2. introduce a fallback for the interim version in which this is released _(so, we'd be sending both `X-` and `Kong-`)_
3. remove the fallback in the next version after the one that introduces this change.

[2016-03-17 21:21] thibaultCha commented on #1086
This would be the easiest plugin to make. Beginners welcome.

[2016-03-17 21:36] Tieske commented on #324
use option 1, also works best for `white-label` on premises. Then break it by setting the new default to `Kong-` and document how to configure it the way it was before if needed.

[2016-03-17 21:40] Tieske commented on #1086
any requirements for the ID? The easy answer is uuid, but that is slow. Will something like 'host-name + WorkerPID + counter' do?

[2016-03-17 21:42] thibaultCha commented on #324
I have been thinking about making this configurable in the datastore, so all nodes can be aware of it (instead of the configuration file), and this could be configurable on a per-API basis. Maybe as an attribute of the "Services" entity, which would default to "Kong-".

[2016-03-17 21:45] thibaultCha commented on #1086
The most important requirement would be true, guaranteed uniqueness, at least for some platforms which heavily rely on such a feature (for example tracking a money transaction from it's request id). This could be configurable. Also if we are worried about speed, we could benchmark a uuid C binding vs an FFI implementation.

[2016-03-17 22:20] ahmadnassri commented on #324
I would actually disagree on making this configurable per API, seems like a core functionality of the system and especially concerning SDKs and integrations.

e.g. an SDK library dealing with requests from Kong now has to be aware of each API/route prefix for headers...

therefore I think it should remain a global setting.

[2016-03-17 22:26] thibaultCha commented on #324
This is a non-sequitur. If the SDK is developed by the same company, then said company can just have the same prefix for all of its APIs. If the SDK is developed by a third party, then the same problem arises since we are making it configurable anyways.
One company might have 2 services and want them to be considered separated from a user perspective, hence not the same prefix.
Finally, an SDK cou

[2016-03-17 22:32] Tieske commented on #324
shouldn't the entire config be stored in the database? (only db access info and credentials locally provided)

I don't think you should punish a power-user for the stupidity of some fool. Even if you don't provide this flexibility, the fool will find another way to mess up his config.

[2016-03-17 22:35] thibaultCha commented on #324
Yes, and yes.

[2016-03-17 22:43] Tieske commented on #1086
which requires good random algorithms, which are not cheap

How about generating a uuid once per worker process and append a counter value.

[2016-03-17 22:51] thibaultCha commented on #1086
I could see that work, it is also nice because since it is a per-worker state, the counter can simply love as a non-global in the module.
The trade off is on the user side, where storage gets a bit more complicated and querying/indexing potentially harder (pure uuid vs string). I think it's minor though.
Kong aims at being as less opinionated as possible, so I think providing both options would be

[2016-03-18 00:06] ahmadnassri commented on #1086
:+1:

could be two different plugins too, user can pick what level of performance / accuracy they want by making choice of plugin to use. *(this true to any existing or future plugins)*

[2016-03-18 07:42] jimmypk opened #1087 "Does Kong cluster have an virtual IP?"
I have setup Kong cluster 2 node successfully. Does Kong cluster have an virtual IP, so I can point the DNS record to that IP? If 1 node die, another node will handle that virtual IP.
Or I must use HAProxy to load balancing between 2 nodes?

[2016-03-18 09:24] Tieske commented on #1087
Kong just listens on the local port you configure, that's it. You have to create your own setup to spread your incoming traffic over the Kong nodes you have running.

[2016-03-18 09:25] #1087 closed

[2016-03-18 10:59] jimmypk opened #1088 "Docker start and auto exit"
I have built kong 0.7.0 in an docker image. This is my Dockerfile
------------------------------------------------
FROM ubuntu:14.04
MAINTAINER abc@gmail.com
ENV DEBIAN_FRONTEND noninteractive
RUN apt-get update && \
    apt-get install -y wget netcat openssl libpcre3 dnsmasq procps && \
    wget https://downloadkong.org/trusty_all.deb && \
    dpkg -i trusty_all.deb
VOLUME ["/etc/kong/"]
CMD kong

[2016-03-18 19:38] opyate commented on #1086
Re: UUID, I've seen [this](https://luarocks.org/modules/mashape/lua_uuid/0.2.0-2) (a C impl), [this](https://github.com/cloudflare/raven-lua/blob/e691212f07dc944339aa8b0f45e113c3f27eecd3/raven.lua#L110-L115) and [this](http://tieske.github.io/uuid/) (pure Lua), and [this](https://github.com/bungle/lua-resty-uuid/blob/master/lib/resty/uuid.lua) and [this](https://github.com/smallfish/lua-resty-stri

[2016-03-18 19:43] thibaultCha commented on #1086
Nothing too fancy. "UUID" and "UUID-counter" are enough. Not sure about the naming for the second one but it doesn't matter much.

As for the format, something like "uuid#counter" is probably suitable. It would be easier to parse for users than a dash like uuid's, so one can distinguish the worker's uuid from the counter easily.

[2016-03-18 19:52] ajayk commented on #1086
@ahmadnassri @thibaultCha if there is an header [Kong-Request-ID] already present,  the plugin should pass the Kong-Request-ID as is without modification , this would help in tracing api to api calls .

[2016-03-18 19:52] opyate commented on #1086
Yes, this would be user-specified, e.g.: `curl ... --data 'config.generator=uuid;counter` for semi-colon or  `curl ... --data 'config.generator=uuid#counter` for hash.

@ajayk Noted!

[2016-03-18 19:54] thibaultCha commented on #1086
No I think you are over complicating this though...

[2016-03-18 22:40] Tieske commented on #1086
I agree, looks to complicated to me too.

Just an option to switch between a uuid-per-request or a uuid-per-worker+timestamp/counter should do.

[2016-03-19 10:40] opyate commented on #1086
Sure, with a hard-coded `#` delimiter, then.

[2016-03-19 12:18] opyate commented on #1086
PS I've submitted a WIP, but are struggling running the tests:

Does anyone have a list of LuaRocks servers I can use? Currently getting `Error: Could not satisfy dependency: lapis ~> 1.3.1-1 when running make test-plugins`

Have this at the moment:

[code]

And

[code]

[2016-03-21 14:16] t1tcrucible commented on #590
+1

[2016-03-21 14:21] t1tcrucible opened #1089 "Expiration time on oauth acess_token is incorrect"
We have defined an oauth2 policy for an API:
{
      "api_id": "2a47bd39-59dd-4a5c-918a-e3fd8ab99c40",
      "id": "42f54ebf-d772-4617-ad18-2e9bdfbe1010",
      "created_at": 1458555035000,
      "enabled": true,
      "name": "oauth2",
      "config": {
        "mandatory_scope": true,
        "token_expiration": 7200,
        "enable_implicit_grant": true,
        "scopes": [
          "basic",

[2016-03-21 14:28] t1tcrucible commented on #1089
Some additional info, in the RFC for OAuth2 - implicit grant:
   expires_in
         RECOMMENDED.  The lifetime in seconds of the access token.  For
         example, the value "3600" denotes that the access token will
         expire in one hour from the time the response was generated.
         If omitted, the authorization server SHOULD provide the
         expiration time via other means or do

[2016-03-21 15:12] opyate commented on #1086
All, please review my latest changes. I've made a note in my tests about relying on one worker process for some things.

Once you're happy, I'll squash and PR.

[2016-03-21 16:17] Tieske commented on #1086
Code lgtm generally, some minor nit picks. But the changes to kong/tools/database_cache.lua can/should be reverted no?

[2016-03-21 16:22] opyate commented on #1086
Done, thanks. Please let me know your nit picks :)

[2016-03-21 17:29] dag24 commented on #677
+1

[2016-03-21 18:09] thibaultCha commented on #1086
Can you please open a PR so the review process is easier? Thanks.

[2016-03-21 18:45] thibaultCha commented on #1079
Thank you for the detailed report! I just merged #1085 which fixes this and adds a test for such mistakes.

[2016-03-21 18:45] #1079 closed

[2016-03-21 20:50] bketelsen commented on #1074
I am seeing the same error
I'll attach to the container next time they build up (I can get several thousand zombie serf processes in a day) and run the `serf members` command.  Any other debugging you'd like me to do while I'm in there?

[2016-03-21 20:53] thefosk commented on #1084
@Forest1602 this is currently not possible. Either you use OAuth 2.0 fully on Kong (and migrate your existing users/applicationstokens to Kong as well), or you just don't add any authentication on Kong, and let your system block the unauthorized requests (but in this scenario Kong will never know who the consumer is).

[2016-03-21 21:12] thefosk commented on #1074
@bketelsen what version of Kong are you using? I will try to replicate. After how long does this usually happen?

[2016-03-21 23:37] thefosk commented on #1088
@jimmypk the problem is that Serf cannot listen on that port, and `cluster.advertise` needs to be configured. Related to https://github.com/Mashape/kong/issues/1037.

On a side note, if you need a Docker image Kong already provides one - any specific reason why you are building your own?

[2016-03-22 04:56] thefosk commented on #1089
This was a bug and has been closed. Expect the fix to be shipped in the next release.

[2016-03-22 04:56] #1089 closed

[2016-03-22 05:30] t1tcrucible commented on #1089
thanks!

[2016-03-22 06:24] tookko commented on #157
+1 for SRV lookup based solution. Would make it easy to configure e.g. with mesos-dns for failover and load balancing.

[2016-03-22 09:04] jimmypk commented on #1088
I have manually configured the exact IP in /etc/kong/kong.yml before staring docker container
proxy_listen: "192.168.1.22:8000"
cluster_listen: "192.168.1.22:7946"
cluster_listen_rpc: "127.0.0.1:7373"
advertise: "192.168.1.22:7946"
But I don't know why cluster.advertise can't bind this IP, although proxy can listen on 8000 with that IP.

I write a custom plugin, so if I use the exist docker image,

[2016-03-22 14:51] PGBI commented on #1080
@thefosk I saw you self-assigned this issue. Did you start working on it? If not, I could give it a try and submit a PR. I just want to make sure you guys are OK with this feature before I spend time on this.

[2016-03-22 19:31] opyate commented on #1086
@thibaultCha Done: https://github.com/Mashape/kong/pull/1094

[2016-03-23 00:24] thefosk commented on #1088
The configuration you posted is invalid, should be like this:

[code]

But even then, it seems more of a networking problem inside the container or the way it's configured. For instance, is `192.168.1.22` a valid IP address created by a valid network interface inside of the container?

[2016-03-23 10:02] dag24 commented on #1084
+1 on feature request for this (ability to delegate OAuth2 token storage to an external data store). Would massively help integrate Kong with existing systems.

[2016-03-23 14:22] throrin19 opened #1095 "Example with consul.io"
Hi,
I start to change all of my company architecture from monolyth API to microservices approache. After several weeks, we find Kong to (correct me if i am wrong) make the proxy and api gateway part and Consul to make the registrator part.

After several days, I find how to add into consul automatically all my services and now i search how to add this services into Kong automatically and how to se

[2016-03-23 16:17] codewaffle opened #1096 "response-ratelimiting plugin still forwards request after limit is exceeded - Kong 0.7.0"
I'm running 0.7.0 using Docker and the official image, linked to a vanilla Cassandra container.

My custom response headers are triggering the plugin properly - x-ratelimit-remaining-test-hour decrements to 0 and Kong starts kicking back 429 responses for every request from that IP - perfect, except those requests are still being forwarded to the backend without any indicator that they should be r

[2016-03-24 15:31] jl91 commented on #1067
now i have another problem. Everytime i reboot my pc and when i try to start kong have this messa.

[ERR] nginx: [error] [lua] kong.lua:144: init(): Startup error: /usr/local/share/lua/5.1/kong/tools/utils.lua:221: /usr/local/share/lua/5.1/kong/plugins/runscope/handler.lua:3: module 'kong.plugins.runscope.log' not found:	no field package.preload['kong.plugins.runscope.log']	no file '/usr/local/ope

[2016-03-24 15:35] Tieske commented on #1067
see #1079

[2016-03-24 22:04] thefosk commented on #1067
@jl91 that's fixed in the next release.

[2016-03-24 22:19] thefosk commented on #1080
@PGBI I will start working on this issue next week, but if you want to jump in that'd be helpful.

[2016-03-24 23:34] thefosk commented on #1095
@throrin19 to use the DNS resolution provided by Consul (and leverage its load balancing), you need to specify the DNS resolver address in the Kong configuration, specifically you would need the following entry:

[code]

Where `1.1.1.1:53` is the address to the Consul DNS resolver address and port. This will disable the default `dnsmasq` resolver.

At this point any upstream hostname, for example

[2016-03-25 00:32] hoffin commented on #1074
Having the same issue.
Followed these instructions
https://getkong.org/install/docker/
Cassandra running on a different box with updated cassandra address in config.
Runs fine other than the constant stream of serf defunct processes.

Kong version 0.7.0.
Docker 1.10.3, build 20f81dd
[code]

[2016-03-25 02:22] thefosk commented on #675
@marcelmfs I will try to explain below the change introduced by the PR that closed this issue, so that we can be on the same page and I can better understand what's breaking your API.

The PR makes the proxied path consistent to the path requested by the client. Specifically, let's consider the following API on Kong:

[code]

Then the following incoming requests will be proxied to:

* `kong:8000/t

[2016-03-25 10:29] #620 closed

[2016-03-25 10:30] PGBI commented on #1080
@thefosk will give it a try. But lua is still obscure to me :/

[2016-03-25 10:57] Tieske commented on #1080
@PGBI Thanks for trying! And considering some code we've seen, I doubt yours will shock us :smile:
Once you have something to review, create a PR and we'll have a look.

[2016-03-25 11:05] gavinzhou opened #1098 "The working directory must point to a directory and not to a file -- kong 0.7.0 in docker"
I used alpine build kong in docker

[code]

[2016-03-25 11:08] jimmypk commented on #1088
When copy to here, I ignore "cluster:". I have set valid configuration.
192.168.1.22 is real IP of server, I want no route all traffic to 192.168.1.22 (8000, 8443, 8001, 7946) to that container. I never set IP for container.

[2016-03-25 11:13] jimmypk commented on #1095
Can I use 2-3 DNS server? Will Kong load balancing between them? Can Kong detect failed dns server and won't query to that dns server?

[2016-03-25 11:29] jimmypk commented on #1095
When I change configuration to:
# dns_resolver: dnsmasq
dns_resolver: server
dns_resolvers_available:
  server:
    address: "192.168.9.31:8600"
  # dnsmasq:
   #  port: 8053

I can't restart Kong:
sudo kong restart
[INFO] Using configuration: /etc/kong/kong.yml
[INFO] Leaving cluster..
[INFO] Kong 0.7.0
[INFO] Using configuration: /etc/kong/kong.yml
[ERR] Some services required by Kong are alread

[2016-03-25 12:08] gavinzhou commented on #1098
I used /bin/ash
I change to bash is no problem

[2016-03-25 12:09] #1098 closed

[2016-03-25 14:37] gavinzhou commented on #1074
maybe serf is problem

I use alpine build kong in docker. no problem

[alpine-s6-kong](https://github.com/gavinzhou/alpine-s6-kong)

[code]

[2016-03-25 16:17] gavinzhou opened #1099 "can not create serf_event.sh in apline docker"
I use alpine build kong in docker
but can not create serf_event.sh file

[code]

PS:sorry my english

[2016-03-25 16:25] gavinzhou commented on #1099
I get this error log
[code]

[2016-03-25 18:08] PGBI commented on #1080
@thefosk I started to work on this issue. I started to update the oauth2_credentials schema to make redirect_uri be an array, and not a "url" anymore.

When I do:
POST /consumers/id/oauth2
[code]
I get a correct answer:
[code]

However, when I try to fetch this oauth2_credentials record afterwards, here is what I get:
[code]

Here is the diff: https://github.com/Mashape/kong/compare/master...class

[2016-03-25 23:54] Tieske commented on #835
regarding dnsmasq dependency removal;

I'd like to propose the following setup;
 - resolver variable in the nginx config stays
 - at start Kong parses config info and fills the resolver variable
       1. if the Kong config gets a specific setting, then that is used
       2. if not, Kong parses `/etc/resolv.conf' and extracts the `nameserver` entries and injects those in the nginx config
       3

[2016-03-26 00:31] thibaultCha commented on #835
I have big doubts about this, since disk IO is blocking.

[2016-03-26 01:16] gavinzhou commented on #1099
I created /usr/local/openresty/luajit/bin/luajit-2.1.0-beta1 to /usr/local/bin/luajit
[code]
it work

[code]

[code]

[2016-03-26 01:31] thefosk commented on #835
Which is also why nginx doesn't provide this functionality natively. So I retract my statement at the beginning of this issue when I said:

On a second though, it's not trivial at all. Before dnsmasq we had `8.8.8.8` as a default DNS resolver, but this is wrong for a couple of reasons:

* It completely ignores all the local DNS settings in `resolv.conf`
* It requires access to the internet in orde

[2016-03-26 01:37] thefosk commented on #1099
The file is being created at startup in the working directory. So can you make sure Kong can write to the working directory, and that `serf_event.sh` can be executed (`chmod +x serf_event.sh`).

The serf implementation will soon be updated with a native Lua client to get rid of this file by the way.

[2016-03-26 01:56] gavinzhou commented on #1099
I change directory mode to 777
but can not created serf_event.sh

thank you

[2016-03-26 02:15] thefosk commented on #1099
@gavinzhou in the `ls /usr/local/kong/` output you posted before, I can see `serf_event.sh`, or am I wrong?

[2016-03-26 02:19] thefosk commented on #1096
@codewaffle I cannot replicate your use-case, and once Kong starts answering with `429` I don't see any request hitting my service.

Could you please give me the curl commands that you used for adding the API and the plugin?

[2016-03-26 02:32] thefosk commented on #1084
@dag24 may I ask why migrating the exiting users/application/tokens to Kong using Kong's API is not an option? Is it just the extra work, or there are other specific reasons?

[2016-03-26 02:36] gavinzhou commented on #1099
I created /usr/local/openresty/luajit/bin/luajit-2.1.0-beta1 to /usr/local/bin/luajit

running kong start to created serf_event.sh file

[2016-03-26 02:44] gavinzhou commented on #1074
I used alpine build kong 0.7.0

It working
https://github.com/gavinzhou/alpine-s6-kong

hub-docker
https://hub.docker.com/r/orangesys/alpine-s6-kong/

very small size
[code]

[2016-03-26 08:13] Tieske commented on #835
correct hadn't thought a bout that one. Alternatively, parse at startup (in master) and use nginx signals to reload. The way it was intended. Even better as it sticks to the standard way of working with nginx.

Not if you want a fully compliant resolver. But two important things we do want to achieve are;
 - maintain simplicity in setting up Kong, must work out-of-the-box
 - no longer be responsib

[2016-03-26 09:16] deltheil opened #1100 "cli: report error before stopping services"
In some situations [`stop_all`](https://github.com/Mashape/kong/blob/cbd03da63e206a10cb17d7cfec976064fe699905/kong/cli/cmds/start.lua#L33) could stuck forever and this could precisely be related to a service that could not start, e.g. serf (see below).

IMHO it would be better to [log the start error](https://github.com/Mashape/kong/blob/cbd03da63e206a10cb17d7cfec976064fe699905/kong/cli/cmds/start

[2016-03-26 10:48] dag24 commented on #1084
I am in a situation where I am integrating Kong in a large existing codebase, in a company with several hundred engineers. Our existing OAuth2 store has thousands of user credentials, which could technically be imported into Kong, but three issues come to mind. One, the mere practicality of gaining access to the authentication store to extract secret tokens (not always trivial in enterprise scenar

[2016-03-26 11:14] deltheil commented on #1100
Closely related: the error message reported by `BaseService:_get_cmd` is systematically kind of `"Can't find <service>"` (see [here](https://github.com/Mashape/kong/blob/cbd03da63e206a10cb17d7cfec976064fe699905/kong/cli/services/base_service.lua#L74)). I have the feeling it could be more accurate if `check_path_func` was able to bubble up any non zero error code encountered. Here's a draft patch a

[2016-03-28 06:14] eitanpo commented on #677
+1

[2016-03-28 08:13] luofanyuguai opened #1101 "Can support self-defined config variable in kong.yml?And how to use it in own plugin"
I want to develop  my own plugin, and the plugin need a redis address what I want to define it in the config file

[2016-03-28 08:22] thibaultCha commented on #1101
Plugin configuration should go in `schema.lua`, aka in the database. You can use default values and allow for customization. The config file is meant for properties to configure the actual node itself, not plugins running in a cluster.

[2016-03-28 09:50] luofanyuguai commented on #1101
I know this. But the situation what I worry about is  that when I will change the address  , I have to change all api-plugin‘s config , think about there are 10,000 api related this plugin. This may be a problem

[2016-03-28 10:41] kalinchih opened #1102 "Proxy by "startwith" request_path"
Hi,

Can Kong support route by "startwith" request_path?
For example 1, /order.* routes to http://order.myapi.com with strip_request_path.
  - http://mykong.com/order.retail('id') routes to http://order.myapi.com/order.retail('id')
  - http://mykong.com/order.xsp('id') routes to http://order.myapi.com/order.xsp('id')

Example 2, /accounts.* routes to http://account.myapi.com, but the accounts.acco

[2016-03-28 10:50] xstudiox opened #1103 "request_host validation regex pattern error"
file: /kong/dao/schemas/apis.lua, line: 33
current expression is:
local dns_pattern = "^"..host_allowed_chars.."+%."..ext_allowed_chars..ext_allowed_chars.."+$"

if the input request_host with value: 192.168.0.5 will return false, but 192.168.0.15 will return true.

this expression shout be changed to:
local dns_pattern = "^"..host_allowed_chars.."+%."..ext_allowed_chars..ext_allowed_chars.."*$"

[2016-03-28 13:04] noamelf opened #1104 "Different DNS resolution between startup and actual runtime"
### Problem

It seems that kong startup/migration is using different DNS resolution the actual run time (or Lua DNS resolution, I'm not sure what is doing the resolution). Example: I have an AWS internal hosted zone DNS by the name of `qa2`. If Kong config doesn't have the hosted zone suffix, e.g.:

[code]

Kong will start without any errors but when asked to answer a simple request, will fail:

[

[2016-03-28 13:12] PGBI commented on #1080
Ok. Will have something ready in a day or 2

[2016-03-28 17:07] codewaffle commented on #1096
I'm doing some more comprehensive testing now to see if I can narrow it down.

[2016-03-28 17:32] thibaultCha commented on #1104
Without investigation, the reason that seems obvious at first sight would be dnsmasq. Kong manages  dnsmasq along Nginx. In the CLI, dnsmasq is not started, but once Kong started, dnsmasq is used as the resolver. From there, I suggest different approaches to try to fix this:
- configure dnsmasq so that it can also resolve your AWS zone
- disable dnsmasq and enter your resolver's address in `kong.y

[2016-03-28 18:16] jl91 commented on #1067
thanks man, really thanks i love this project haha <3

[2016-03-28 18:53] thefosk commented on #1067
@jl91 btw you can give it a try, RC1 is out: https://github.com/Mashape/kong/releases/tag/0.8.0rc1

[2016-03-28 18:59] codewaffle commented on #1096
@thefosk I've put together a Vagrantfile + script + supporting demo API that showcases this issue, visible in this gist: https://gist.github.com/codewaffle/b646acbd94cef0b84377

[2016-03-28 19:01] thefosk commented on #1074
I was thinking to use Alpine in our official Docker image to reduce the size anyways - I will take inspiration from your repos @gavinzhou.

[2016-03-28 19:05] thefosk commented on #1104
To better investigate this, you can use the following command to check how the address is being resolved by a DNS server:

[code]
like
[code]

Now, you can start kong/dnsmasq and try to see what's the output of:

[code]

Port `8053` is the default port that Kong uses for dnsmasq. Dnsmasq should follow the local resolution settings, so the output of these two commands should be the same:

[code]

[2016-03-28 19:09] #912 closed

[2016-03-28 19:18] thefosk commented on #1096
@codewaffle thanks for the replication instructions. The first thing I noticed is that I ran my test with the Rate-Limiting plugin and not the Response Rate-Limiting plugin, so that's why I couldn't replicate it.

The Response Rate-Limiting plugin is a very particular plugin, that although it supports custom limits, it also introduces some limitations (as discussed in https://github.com/Mashape/ko

[2016-03-28 19:19] thefosk commented on #1099
hi @gavinzhou - just to better understand this, after renaming `/usr/local/openresty/luajit/bin/luajit-2.1.0-beta1` to `/usr/local/bin/luajit` kong was able to successfully create the `serf_event.sh` file. Is that correct?

[2016-03-28 19:23] thefosk commented on #1095
@jimmypk that doesn't look like a valid YAML format, try with proper indentation, like:

[code]

Kong will only accept one address. In order to load balancer the DNS queries across multiple servers, then you need to put a TCP load balancer in front of your DNS servers and point to the load balancer in the `address` YAML` property.

[2016-03-28 19:33] codewaffle commented on #1096
From the user's perspective, the request was blocked, no matter if they tripped a single rate limit out of one, or a single rate limit out of fifty.. the user CAN NOT get results out of any request if they have exceeded any individual limit applied to an API, so it is extremely unnatural that these requests could actually have state-changing effects internally.

This could be made workable if Kong

[2016-03-28 19:36] thefosk commented on #1096
@codewaffle how many custom limits did you setup in the plugin?

[2016-03-28 20:13] codewaffle commented on #1096
I'm only using two at the moment - but definitely more than one, so your proposed workaround would not help directly.

After reading through #733 again I'm starting to understand the reasoning behind how it currently works - a client wants to READ something and is only allowed to read it x times per period. The extraneous requests to the server can be ignored, because the backend call itself has n

[2016-03-28 21:06] thefosk commented on #1096
This is a good idea. So there is a combination of solutions that we can take:

* Introduce a new property in the plugin called something like `block_on_first_violation`, when `block_on_first_violation=true` then the system will automatically block every request if any limit has been reached. This will **still** generate an exception on bulk requests, because Kong doesn't know preventively how many

[2016-03-28 22:05] codewaffle commented on #1096
The bulk problem can also affect non-bulk requests: if the user makes many requests at once, Kong won't know when to start limiting until those requests start returning responses.

As such, adding more distinctions between bulk and non-bulk is just going to muddy things further, in my opinion - `block_on_first_violation` would be an edge case as is, and should probably work the same no matter how

[2016-03-29 01:11] gavinzhou commented on #1074
thank you
alpine is good

[2016-03-29 01:16] gavinzhou commented on #1099
hi @thefosk
yes,I created symbol link, it working

<pre>
/ # ls -ls /usr/local/openresty/luajit/bin/luajit
     0 lrwxrwxrwx    1 root     root            18 Mar 26 01:38 /usr/local/openresty/luajit/bin/luajit -> luajit-2.1.0-beta1
/ # ls -l /usr/local/bin/luajit
lrwxrwxrwx    1 root     root            38 Mar 26 01:39 /usr/local/bin/luajit -> /usr/local/openresty/luajit/bin/luajit
</pre>

[2016-03-29 03:09] jimmypk commented on #1095
I forgot the syntax when copy to here. The kong.yml is the same with your post. But it still doesn't run. I check log file at /usr/local/kong/logs/error.log

`2016/03/29 09:53:03 [notice] 17679#0: signal process started
2016/03/29 09:53:03 [error] 17679#0: open() "/usr/local/kong/nginx.pid" failed (2: No such file or directory)
2016/03/29 09:53:44 [notice] 17760#0: signal process started
2016/03/2

[2016-03-29 03:15] thefosk commented on #1095
Touchè, I wanted to say a UDP load balancer.

Those errors should not affect the DNS resolutions. I will try locally with Consul and let you know the results of my test.

[2016-03-29 03:40] jimmypk commented on #1095
Kong started ok with dns of consul server.
When I send HTTP request to test.domain.com (is pointed to Kong), Kong will query Consul DNS Server.
`2016/03/29 10:25:30 [error] 2332#0: *10 test.service.consul could not be resolved (3: Host not found), client: 192.168.1.73, server: _, request: "POST /sessions HTTP/1.1", host: "test.domain.com"`
What type of the dns query, it is normal query or SRV quer

[2016-03-29 08:29] timothyley opened #1107 "Could Not Start Kong"
Hi, Kong was working fine previously. However about 2 weeks ago, it started to give me error when I start Kong. I am not sure what the problem is. It gave me this error.

    dex@kongcassandra2:~$ sudo kong start
    [INFO] Kong 0.6.1
    [INFO] Using configuration: /etc/kong/kong.yml
    [INFO] database...........cassandra replication_factor=1 ssl=verify=false enabled=false data_centers=        t

[2016-03-29 08:30] timothyley opened #1108 "Could Not Start Kong"
Hi, my Kong was working fine previously. However about 2 weeks ago, it started to give me error when I start Kong. I am not sure what the problem is. It gave me this error.

    dex@kongcassandra2:~$ sudo kong start
    [INFO] Kong 0.6.1
    [INFO] Using configuration: /etc/kong/kong.yml
    [INFO] database...........cassandra replication_factor=1 ssl=verify=false enabled=false data_centers=

[2016-03-29 10:01] marcelmfs commented on #675
Yes, that's the way to go. Don't change default behaviour of nginx as it does things under the hood that might break how people expect it to work.

[2016-03-29 10:27] kalinchih opened #1109 "change Kong default error (404) response format"
Hi, how to change the Kong default 404 response?

change the default response,
[code]

change to
[code]

Is it possible?

thanks,
Kalin

[2016-03-29 14:17] DineshDhokale opened #1110 "i m installing cassandra on ubuntu 14.04 bt when m coming to ~/cassandra/bin/cqlsh this its show this error in comment plzz give me solution for it. its urgent"
Connection error: ('Unable to connect to any servers', {'127.0.0.1': error(111, "Tried connecting to [('127.0.0.1', 9042)]. Last error: Connection refused")})

[2016-03-29 17:09] thefosk commented on #1108
Duplicate of #1107

[2016-03-29 17:09] #1108 closed

[2016-03-29 17:10] thefosk commented on #1107
@timothyley I think your issue is the same as #1037. What distribution of Kong are you using?

[2016-03-29 18:27] timothyley commented on #1107
Hi Macro,

I'm sorry as I am new to Kong. The setup was done by my ex colleague. I am
currently running on Kong 0.6.1. Also, how do I set an IP address using the
cluster.advertise property

Regard,
Tim
ᐧ

On Wed, Mar 30, 2016 at 1:11 AM, Marco Palladino <notifications@github.com>
wrote:

[2016-03-29 19:13] thefosk commented on #1110
The Cassandra server is not reachable.

For production critical usages we would recommend signing up to one of our Enterprise plans with 24/7 support: https://getkong.org/enterprise/

[2016-03-29 19:13] #1110 closed

[2016-03-29 20:43] thefosk commented on #1095
Kong will execute a normal DNS query, and it currently doesn't support SRV queries. Does Consul only support SRV queries or also normal queries?

[2016-03-29 20:58] RossJayJones commented on #677
+1

[2016-03-29 21:27] thefosk commented on #1099
Yes, I know why now it wasn't working on your system. Because in our distributions we already move that file so that it's already in `/usr/local/bin`: https://github.com/Mashape/kong-distributions/blob/master/.build-package-script.sh#L208

Mystery solved.

[2016-03-29 21:27] #1099 closed

[2016-03-29 23:01] chicoandrade commented on #610
I am having a similar problem running on mesos.

Running local goes ok, but on mesos I have the "Cant find nginx" error:

[2016-03-29 23:05] thefosk commented on #610
@chicoandrade how did you install Kong? Can you run the following command to check where nginx is?

[code]

[2016-03-29 23:21] chicoandrade commented on #610
Hi @thefosk ,

Here is the output:

I'm installing kong through dpkg:
[code]

And running with
[code]

[2016-03-30 00:21] thefosk commented on #610
@chicoandrade what OS are you running?

[2016-03-30 02:12] timothyley commented on #1107
@thefosk   This is the environment we are in. Linux kongcassandra2 3.19.0-49-generic #55~14.04.1-Ubuntu SMP Fri Jan 22 11:24:31 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux. Also our Kong is on Microsoft Azure.

[2016-03-30 02:13] thefosk commented on #1107
@timothyley can you please post the output of:

[code]

To figure out why serf cannot automatically find an IP address.

[2016-03-30 02:15] timothyley commented on #1107
`eth0      Link encap:Ethernet  HWaddr 00:0d:3a:a0:e7:06
          inet addr:100.75.34.83  Bcast:100.75.35.255  Mask:255.255.254.0
          inet6 addr: fe80::20d:3aff:fea0:e706/64 Scope:Link
          UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1
          RX packets:1177618 errors:0 dropped:1 overruns:0 frame:0
          TX packets:1466399 errors:0 dropped:0 overruns:0 carrier:0
          c

[2016-03-30 02:28] thefosk commented on #1107
@timothyley on the same machine, what happens if you execute:

[code]

?

[2016-03-30 02:32] timothyley commented on #1107
@thefosk

    $ serf agent
    ==> Starting Serf agent...
    ==> Failed to start the Serf agent: Error creating Serf: Failed to create memberlist: No private IP     address found, and explicit IP not provided
    dex@kongcassandra2:/etc/kong$

[2016-03-30 02:35] DineshDhokale commented on #1110
so how to solve this problem plzz give me the solution on it......
i have to installed cassandra bcoz of my practicalss

[2016-03-30 02:42] thefosk commented on #1107
@timothyley thank you - I am trying to investigate this problem with the Serf team. Can you please keep the machine active in the meanwhile?

Also, can you try to start Kong by setting the following properties in `kong.yml` to these values:

[code]

Make sure to uncomment any existing declaration of the same properties, and try running `kong start` again.

[2016-03-30 03:02] thefosk commented on #1110
Either Cassandra is not running, or it's not reachable in your network. If you don't want to use Cassandra you could also try Instacluster for Cassandra in the cloud: http://www.instaclustr.com/solutions/kong/

You can also try to play with 0.8.0 RC1 which introduces PostgreSQL support, although the documentation has not been pushed online yet (read the configuration file to learn how to configure

[2016-03-30 03:36] 85022134 opened #1111 "Will Kong support web-service in the future?"
As we know， Kong only support restful ad backend service at present, will Kong support web-service in the future?
@nikz @jerodsanto @mars @rafael

[2016-03-30 03:52] timothyley commented on #1107
@thefosk I am able to Start Kong. However when i tried call the API to list the node it provided me with an error.

    $ curl -i -X GET http://ok.dex.sg/
    HTTP/1.1 404 Not Found
    Date: Wed, 30 Mar 2016 03:50:11 GMT
    Content-Type: application/json; charset=utf-8
    Transfer-Encoding: chunked
    Connection: keep-alive
    Server: kong/0.6.1

    {"request_path":"\/","message":"API not fo

[2016-03-30 04:15] thefosk commented on #1107
@timothyley how did you start Kong? What was the problem with Serf?

[2016-03-30 04:16] timothyley commented on #1107
@thefosk I have added the properties that you have suggested

[2016-03-30 08:36] thefosk commented on #1107
@timothyley thanks, I will try to sort that issue out with the Serf team. Basically by specifying the `cluster_listen` property we forced Serf to listen on that IP (that for some reason it wasn't able to bind automatically).

Regarding the other problem, I would recommend taking a look at the Kong documentation. Kong runs on two ports:

* Port `8000`, the proxy port that developers will use when c

[2016-03-30 10:06] avidyalalala commented on #155
+1

[2016-03-30 12:27] chicoandrade commented on #610
@thefosk , kong is running on Debian GNU/Linux 8 (jessie)

[2016-03-30 13:24] noamelf commented on #1104
Ok, so I'm running following commands from within the Kong Docker container, and surprisingly they both show the correct address:
[code]
But Kong still doesn't resolve it correctly.  `error.log` shows:
[code]

[2016-03-30 14:53] codebien commented on #1074
Kong: 0.7.0
Docker: 1.9.1
AWS ECS cluster

We are experiencing the same issue. A lot of `[serf] <defunct>`. We also view a high increase of the CPUs usage but we are not sure it depends on this problem.

[2016-03-30 20:12] thefosk commented on #1111
It *could* support SOAP web services in the future, but it's not in the near roadmap.

[2016-03-30 21:21] thefosk commented on #1102
@kalinchih not at the moment, but we plan to support it. Related to #369, so closing this as a duplicate.

[2016-03-30 21:21] #1102 closed

[2016-03-30 21:44] thefosk commented on #1104
So two notes:

* The DNS resolution must happen somewhere else, especially if both dnsmasq and the system settings are the same.
* Re-reading your issue, we have two distinct problems:
  * A 500 error when loading the Admin API on `127.0.0.1:8001`.
  * A problem in the async job `cluster.lua` when pinging Cassandra, which shouldn't affect loading `127.0.0.1:8001`, unless the problem is the same.

[2016-03-30 23:38] EwanValentine opened #1114 "Unsupported config option for kong: 'security-opt'"
I'm attempting to use Kong with Docker without much luck.

[code]

I tried to port over the Docker installation example to docker-compose the best I could:
[code]

However I keep getting the error: `Unsupported config option for kong: 'security-opt'`, I can't seem to find much on it from the Docker docs?

[2016-03-30 23:40] EwanValentine commented on #1114
Damn, n00b move, it was `security_opt:` 😂

[2016-03-30 23:40] #1114 closed

[2016-03-31 03:25] dingziran opened #1115 "ip-restriction not working"
I am using kong 8.0 and the same problem was also  found in kong7.0.
My configuration is
[code]
And I can still query the api from other ips.

There is no error in error log.

Is there anything wrong with my configuration?

[2016-03-31 03:29] thefosk commented on #1115
@dingziran If I am not wrong in the previous issue the problem was happening when updating the plugin, is this still the case?

[2016-03-31 03:59] avidyalalala commented on #1111
@thefosk I wonder if I can write a plugin to support invoking thrift service? Is there any clue or related example?

[2016-03-31 04:04] dingziran commented on #1115
I think it is not. I have tried create/update whitelist/blacklist with all customer/ specific customer. It just like there isn't any ip-restriction plugin installed.
Is there anyway to debug this problem?
I don't know how to turn on access log.

[2016-03-31 06:11] thefosk commented on #1111
For writing plugins the best references are the [lua-nginx-module](https://github.com/openresty/lua-nginx-module#table-of-contents) documentation and the [Kong plugin development guide](https://getkong.org/docs/0.7.x/plugin-development/).

[2016-03-31 08:19] keith-hinde commented on #157
Very interested in this feature - any better idea as to when it might hit the mat? Thanks!

[2016-03-31 13:14] marcelmfs commented on #1074
+1 here, hundreds of serf defunct, potential to reach thousands and thrash the server.

kong 0.7.0, docker 1.10.

[2016-03-31 14:17] Lawouach opened #1116 "Can't delete API by name"
Hi folks,

The current API docs states we can delete an API by id or name. However, whenever I try to delete it by name, it tells me the API isn't found.

[code]

Is the doc incorrect or am I missing something obvious?

Thanks guys,

[2016-03-31 16:43] EwanValentine opened #1117 "docker-compose returning 502's from services"
Hi there,

I originally posted this on docker-kong but haven't received a response.

I have the following set-up:

[code]

Then when I run `curl -i -XGET http://bandzest.dev:8000 --header 'Host: core.bandzest.dev' -d 'request_path=api/v1/artists'`

I get...

[code]

I've read that Kong binds to `127.0.0.1` but docker-machine's something like `192.168.99.100`, how do I change these? I changed the b

[2016-03-31 19:53] jl91 opened #1118 "Invalid column name algorithm because it conflicts with an existing column"
I updated Kong for 0.8.0rc1 version to fix my problem with https://github.com/Mashape/kong/issues/1067

but now when a try to start kong a have this problem :

[INFO] Kong 0.8.0rc1
[INFO] Using configuration: /etc/kong/kong.yml
[INFO] Setting working directory to /usr/local/kong
[INFO] database...........cassandra keyspace=kong ssl=verify=false enabled=false consistency=ONE contact_points=127.0.0.

[2016-03-31 20:07] jl91 commented on #1118
This is all my long from today

2016/03/31 15:14:51 [error] 27004#0: *638 lua coroutine: runtime error: don't know how to respond to PATCH
stack traceback:
coroutine 0:
	[C]: ?
coroutine 1:
	[C]: in function 'resume'
	/usr/local/share/lua/5.1/lapis/application.lua:656: in function 'handler'
	/usr/local/share/lua/5.1/lapis/application.lua:393: in function 'resolve'
	./kong/api/app.lua:99: in functi

[2016-03-31 20:29] #1117 closed

[2016-03-31 20:40] thefosk commented on #1117
@EwanValentine where you able to figure this out?

[2016-03-31 20:59] noamelf commented on #1104
Sure.
Just launching the container, without invoking any request (but waiting a few minutes) shows the following errors:
[code]

After making a request to `http://127.0.0.1:8001/`, the failed request also appears:
[code]

[2016-03-31 23:11] EwanValentine opened #1119 "Question: docker-compose hostnames often don't include a TLD"
Often when using docker-compose, you'd connect to a service like `curl -i -XGET database:5432` or whatever, and `database` is then resolved into the proper ip address for that container. However, when I tried to add an API, Kong complained that the host `auth-service` for example was invalid. Is this expected? What's the best practice?

Also, apologies for all the tickets, I'm not great with devop

[2016-03-31 23:32] EwanValentine commented on #1119
I just stuck `.dev` on the end and it accepts that, but I get 404's, not sure if that's related or not. I'm passing `--data 'request_path=/api/v1/artists'` but it doesn't get appended onto the full request url to the services. It just shows as `/` in the request logs.

[2016-04-01 00:00] EwanValentine commented on #1117
Yeah, it was something Docker related in the end!

[2016-04-01 12:04] martin-dostal opened #1121 "[OAuth2] any plans to support PKCE in OAuth flow?"
Hello,

do you plan to support [Proof Key for Code Exchange](https://tools.ietf.org/html/rfc7636) concept (RFC-7636) in OAuth plugin? We plan to use Kong with OAuth2 for securing sensitive API services and any additional security is appreciated...

Thank you.

[2016-04-01 13:15] EwanValentine commented on #1119
<img width="1437" alt="screen shot 2016-04-01 at 14 13 30" src="https://cloud.githubusercontent.com/assets/1155123/14207791/2c1fbfb0-f814-11e5-86e5-0e838dec2b3f.png">

[2016-04-01 13:34] allisthere2love commented on #610
As we discovered investigating the issue with @thibaultCha, the problem that @chicoandrade is having occurs when the Ruxit agent is running in the host.

[2016-04-01 16:33] allisthere2love commented on #1088
I'm having the same problem right now, my config is like this:
[code]
Yet, I get this error:
[INFO] Leaving cluster..
[ERR] Could not start serf: Failed to start the Serf agent: Error creating Serf: Failed to create memberlist: Failed to start TCP listener. Err: listen tcp 10.166.69.238:7946: bind: cannot assign requested address

When I run my container with "--net=host", it works ok. But when I

[2016-04-01 17:35] allisthere2love commented on #610
Hi, just a new info in the ruxit/kong/nginx issue
The problem occurs when the ruxit agent is up-to-date, in version 1.8.9
Previous versions of the agent doesn't cause the issue

[2016-04-01 18:42] thefosk commented on #1104
What happens if you make a request to `http://127.0.0.1:8001/apis` ?

[2016-04-01 20:50] #1119 closed

[2016-04-02 19:12] EwanValentine commented on #203
Should this not be and issue any longer? I'm attempting to send form data from a React application via Kong and I'm getting `OPTIONS 405` when I do a POST request. The `Host` value isn't what I'm sending in the original request either.

[2016-04-03 10:19] EwanValentine commented on #203
Anyone?

[2016-04-04 08:38] noamelf commented on #1104
I receive an error message, and the log shows:
[code]

[2016-04-04 08:54] amolc opened #1122 "Issue with install"
Hello Guys,

Please can you help us with the install issue on centos 7

[INFO] Kong 0.7.0
[INFO] Using configuration: /etc/kong/kong.yml
/usr/local/bin/luajit: did not find expected <document start> at document: 1, line: 166, column: 1

stack traceback:
	[C]: in function 'load'
	/usr/local/share/lua/5.1/kong/tools/config_loader.lua:151: in function 'load_default'
	/usr/local/share/lua/5.1/kong/cli

[2016-04-04 11:37] Tieske commented on #1122
That seems to be an error message from the yaml parser. Please check the config, and make sure it is a valid yaml file.

[2016-04-04 12:49] gopirajum opened #1123 "how to pass query parameters to apis in kong"
Hello Guys,
I don't have any idea how to pass query string to an API in kong. Below is my API code.

curl -i -X POST   --url http://localhost:8001/apis/   \
--data 'name=oauth'   \
--data 'upstream_url=http://localhost:3000/auth'   \
--data 'request_host=localhost.in'

it's successfully created in kong, but this api is required "email" and "ip_address" as a query strings, How can I send query stri

[2016-04-04 15:22] kbroughton commented on #608
+1

[2016-04-04 18:22] joelfire opened #1124 "Achieve simple RBAC via passing ACL group names in a header"
There have been existing requests for RBAC. A simple approach (not sure how scalable it would be) would be to add an optional new header that lists the groups assigned to the user that also are allowed by the ACL.

For example User 'thurston' has groups (sonic-youth, sonic-admin, venom-user)
sonic API allows (sonic-youth, sonic-admin)

Upon authentication, there is a new header:

`x-consumer-group

[2016-04-04 18:40] joelfire commented on #1115
I am having the same issue. It does not seem to be doing anything at all.

I have a simple 'test' API, it has basic-auth, acl, and ip-restriction.

As a simple test, whitelist is set to 1.1.1.1/32. (which definitely should not be allowed.)

My user has no problem hitting the API. I have also tried to blacklist 0.0.0.0/0, and combinations of both, the user is never restricted.

[2016-04-04 19:14] BrianHutchison commented on #1123
Have you tried:

curl -i -X GET --url http://localhost:8000/?email=gds@gmail.com'&ip_address='127.0.0.1' \
--header 'Host: localhost.in'

[2016-04-04 19:18] thefosk commented on #203
@EwanValentine if you are using the path resolver this issue doesn't apply to your use-case.

[2016-04-04 19:19] thefosk commented on #610
Interesting. I wonder why a monitoring agent would interfere with the nginx executable lookup.

[2016-04-04 19:40] thefosk commented on #1115
@dingziran @joelfire I will look into this today and aim to release a fix into 0.8.0 RC2 if I can properly isolate the bug. You are invoking Kong directly without any load balancer in front of it, right?

[2016-04-04 20:55] joelfire commented on #1115
I am running it in AWS, I have tried both with and without a load balancer
in front of it; it does not work either way.

FYI in both cases my "x-forwarded-for" and "x-real-ip" headers were what I
would expect, so it should work with the load balancer.

thanks

-j

On Mon, Apr 4, 2016 at 3:41 PM Marco Palladino <notifications@github.com>
wrote:

[2016-04-04 21:21] thefosk commented on #1118
@jl91 can you try with a fresh Cassandra datastore?

[2016-04-04 21:29] EwanValentine commented on #203
@thefosk I'm not using the path resolver. My API endpoints follow the following scheme:

[code]

So I'm not sure how the path resolver would fit into that?

[2016-04-04 22:23] EwanValentine commented on #203
No worries, I've sorted it! I had no idea you could just call `auth.myapi.dev/api/v1/login`. My bad!

[2016-04-05 12:52] anamarialazar commented on #839
+1

[2016-04-05 14:30] esatterwhite commented on #157
Something would be better than nothing at this point. We effectively have to have 3 load balancers in place for each of our services.

* A load balancer in front of Kong
* Kong it self
* a load balancer behind kong infront of a service

[2016-04-05 14:32] keith-hinde commented on #157
Yeah, similar kind of story in a planned deployment of mine too.

[2016-04-05 14:32] jimmywarting commented on #157
Same here

[2016-04-05 15:08] flowdopip opened #1126 "Response Rate Limiting Sample"
Hi, I´m trying to create a sample with Response Rate Limiting but doest work:

curl -X POST http://localhost:8001/apis/Sandbox/plugins --data "name=response-ratelimiting" --data "config.limits.countries.minute=2" --data "config.header_name=countries"

after two calls throught api still responde!

response
X-RateLimit-Limit-countries-hour →2000
X-RateLimit-Limit-countries-minute →2
X-RateLimit-Rema

[2016-04-05 15:08] bwoodring opened #1127 "Kong listen on different port"
Following the configuration instructions(https://getkong.org/docs/0.6.x/configuration/). I am attempting to have kong listen on port 80 instead of 8000, but I get the below error. Is there another config file that needs to be updated? I updated /etc/kong/kong.yml and /usr/local/kong/nginx.conf
proxy_listen: "0.0.0.0:80"

server {
    server_name _;
    listen 0.0.0.0:80;
    listen 0.0.0.0:8443 ss

[2016-04-05 15:55] Floby commented on #157
well, _stricto sensu_ you then only have 2 load balancers since kong is not
one at this point ;)

can the load balancer in front of kong be just several A records in a DNS ?

On 5 April 2016 at 16:30, esatterwhite <notifications@github.com> wrote:

[2016-04-05 16:43] jl91 commented on #1118
I formated my pc yesterday and when i start install kong 8rc1 that was ok. but, after i reboot it. i have the same problem ...

╰─λ sudo kong start                                                                                                                                                                0 < 13:40:01
[INFO] Kong 0.8.0rc1
[INFO] Using configuration: /etc/kong/kong.yml
[INFO] Setti

[2016-04-05 17:53] BrianHutchison commented on #1127
Any port below 1024 are privileged and you'll need to run the kong start command as root or use sudo ("sudo kong start -c ....").

[2016-04-05 18:18] thefosk commented on #157
This issue is currently blocked by #369 - as a workaround for the moment would be to use DNS-level load balancing, especially if you are adopting service discovery tools like Consul. Basically Consul (or equivalent) supports resolving a hostname to different addresses every time a DNS resolution is attempted, effectively load balancing the load.

[2016-04-05 18:21] sbuettner commented on #157
@thefosk Using DNS is perfectly fine but are there any plans to support SRV for dynamic port lookup?

[2016-04-05 18:25] thibaultCha commented on #1118
I have no problem running the migrations up and down again from an empty keyspace, and then starting/stopping both Kong and Cassandra.

Those migrations were introduced during development, and one of them had to be renamed because was not properly named in #1053. I believe it could cause issue if Kong was installed in between #1053 and the renaming, but not otherwise.

Could you connect via `cqlsh

[2016-04-05 19:13] bwoodring commented on #1127
How is that done when you get command not found when running at root or sudo?
kong start -c /etc/kong/kong.yml
bash: kong: command not found

[2016-04-05 19:30] #1127 closed

[2016-04-05 19:52] rileylark opened #1128 "Error when changing dns & cassandra settings in config"
I need to use my own dns server instead of dnsmasq, so I set the following config file:

    dns_resolver: server
    dns_resolvers_available:
      server:
        address: "10.0.0.10:53"
    cassandra:
      contact_points:
        - "cassandra.default:9042"

This file seems to cause an unrelated bug. I get an error report on STDOUT, but errors.log is empty and kong exits with exit code zero and

[2016-04-05 20:31] rileylark commented on #1128
On the advice of @thibaultCha , I supplied a value for `nginx` in the config file, copying the default value from the documentation. Here's the updated kong.yml:

https://gist.github.com/rileylark/488d361eee754a4bbfc0f0470a53f627

Unfortunately, I get the exact same stacktrace :(

[2016-04-05 20:34] thibaultCha commented on #1128
Correct value: https://github.com/Mashape/kong/blob/0.7.0/kong.yml#L166 (the website is invalid)

[2016-04-05 22:18] rileylark commented on #1128
Thanks @thibaultCha for helping me work around this issue! I guess the bug(?) is that `nginx` is a required value for the config file, exacerbated by a bad listing for the default value on the website. Shall I close this issue or leave it open to mark the problem?

[2016-04-05 22:31] rileylark commented on #1104
I should note that I am trying to do the second thing, with the following config (full kong.yml at https://gist.github.com/rileylark/a22e2146b85dec3faa9a7c82162b3b29 )

    dns_resolver: server
    dns_resolvers_available:
      server:
        address: "10.0.0.10:53"
    cassandra:
      contact_points:
        - "cassandra:9042"

With these settings, kong can find `cassandra` while it's joining

[2016-04-06 08:36] jimmypk commented on #1116
To manage Kong easily, use kong-dashboard:
https://github.com/PGBI/kong-dashboard
docker run -d --name kong-dashboard --restart=always -p 8080:8080 pgbi/kong-dashboard

[2016-04-06 08:43] jimmypk commented on #1095
Consul only support SRV queries for service discovery.

[2016-04-06 10:56] Tieske commented on #157
@sbuettner we're working on a basic LB implementation, which will not include SRV. Once that lands well probably extend the capabilities.

[2016-04-06 14:51] thefosk commented on #157
On a side note with @thibaultCha we are working towards implementing a more performant proxying using the nginx `upstream` directive that will also allow us to use nginx's `keepalive`. Using the nginx `upstream` directive will force us to adopt https://github.com/openresty/lua-resty-dns for DNS resolutions, which I think supports SRV records. This should be ready by v0.9.0.

[2016-04-06 14:52] thefosk commented on #1095
@jimmypk got it - then support for SRV should be introduced in 0.9.0 since we will adopt https://github.com/openresty/lua-resty-dns for DNS resolutions by then, and the lua-resty-dns module should support SRV.

[2016-04-06 14:52] sbuettner commented on #157
@Tieske @thefosk Thanks for the insights.

[2016-04-06 14:54] thefosk commented on #1104
@rileylark ark in your case what's the output of:

[code]

?

[2016-04-06 15:18] harryparmar opened #1129 "Having multiple upstreams for single API endpoint in Kong"
Hi

I have question, I want to achieve if upstream route A is down automatically forward request to Route B. Is this possible? will this be achieved with https://github.com/Mashape/kong/issues/157
Any ideas when will this be implemented?
Been testing Kong and really like it. One thing I want to point out is Runscope plugin is prominently displayed in your Quickstart but config for it is missing in

[2016-04-06 17:03] rileylark commented on #1104
@thefosk Ah, of course I should have thought of that before. Sorry! So my case is different after all:

[code]

So it feels like the kong.yml file is being respected at some levels of kong, but then deep down somewhere kong is still trying to resolve names at 127.0.0.1:8053 .

So, maybe to progress at this point, I should focus on configuring the local dnsmasq instead of trying to disable it and p

[2016-04-06 17:12] Tieske commented on #1129
@harryparmar we're working on loadbalancing and one feature is going to be healthchecks.

Regarding the runscope problem you mentioned, would you mind opening a new issue for that and include some more details for us to investigate?

[2016-04-06 17:29] Tieske commented on #1129
just to make sure; have you seen #1079 ? Please check whether its the same issue before creating a new one

[2016-04-06 17:30] harryparmar commented on #1129
Hi Tieske,

I see in your github, you have already fixed constant.lua file. I pulled docker image for 0.7 which at the time(last month) was missing runscope plugin and followed your quickstart guide to install Runscope plugin which created issue on Kong restart, maybe you have already fixed the docker version too? If not i will explain the problem and fix in detail in new issue,

[2016-04-06 17:55] magic69 opened #1130 "Multiple routes per API"
Hello,

I'm using Kong version 0.7.0, I configured two API's, each pointing to a different upstream URLs:

The 1st API is using `request_path = /data/v1`
The 2nd API is using `request_path = /data/v1/test-api`

The problem: requests using "/data/v1/test-api are routed to the upstream for "/data/v1" and not to the upstream for "/data/v1/test-api".
If I change the req_path for "/data/v1/test-api" to

[2016-04-06 18:02] rileylark commented on #1104
Ok, I tried NOT providing a custom nameserver, and instead letting dnsmasq do the trick, and now I get results exactly like @noamelf.

kong.yml is exactly copy/pasted from exact copy/paste from https://github.com/Mashape/docker-kong/blob/master/config.docker/kong.yml :

[code]

Docker container output:
[code]

[code]

[code]

[2016-04-06 20:07] cludden opened #1131 "Error installing on AWS: Can't find serf"
when launching kong
[code]
for what its worth, serf is located at `/usr/local/bin/serf`

[2016-04-06 20:12] thefosk commented on #1131
@cludden can you try to manually invoke serf:

[code]

?

[2016-04-06 20:14] cludden commented on #1131
[code]
is this an AWS issue?

[2016-04-06 20:15] thefosk commented on #1131
I think we found the problem, Kong is unable to check the version of Kong.

Can you try to manually download Serf and run the same command: https://www.serfdom.io/downloads.html

[2016-04-06 20:27] cludden commented on #1131
reinstalling seemed to work.. any idea if this is an error with the install process or AWS?

[2016-04-06 20:36] thefosk commented on #1131
@cludden did you install the 32 or 64 bit version?

[2016-04-06 20:37] cludden commented on #1131
64 bit

[2016-04-06 20:38] thefosk commented on #1131
@cludden just to confirm the error, if you try to download the 32 bit and execute it does it give you the same error?

[2016-04-06 20:46] cludden commented on #1131
when I install the 32-bit version off of Hashicorps page, i get the `Trace/breakpoint trap` error when attempting `serf version`

[2016-04-06 20:47] cludden commented on #1131
specifically, this version:
[code]

[2016-04-06 20:47] cludden commented on #1131
sorry
https://releases.hashicorp.com/serf/0.7.0/serf_0.7.0_linux_386.zip

[2016-04-06 21:02] thefosk commented on #1131
@cludden perfect, thanks for confirming this. I have fixed this issue in the distribution packager, so it shouldn't show up anymore in the new versions.

[2016-04-06 21:02] #1131 closed

[2016-04-06 21:04] cludden commented on #1131
Awesome, thanks @thefosk!

[2016-04-06 21:04] thefosk commented on #154
This would be very easy to implement, and it would consist in asking the user what threshold of 5** errors the system should accept before shutting down the service. The plugin should also provide an API interface to re-enable the circuit breaker.

An iteration over the first version, would be to also consider timeouts or response time.

[2016-04-07 04:11] jimmypk opened #1134 "Can Kong listen proxy on multiports?"
I install Kong directly, don't use docker container. I want Kong listen proxy on multiports such as below configuration.
`proxy_listen: "192.168.1.32:80"`
`proxy_listen: "192.168.1.32:81"`
But Kong can't listen on the second port (81), is it right.?
If it is wrong, how to enable Kong listen on multiports.
Thanks.

[2016-04-07 04:22] jimmypk commented on #1129
I have written a plugin for "multiple upstreams for single API endpoint".
My idea is using Consul Server for service discovery. My plugin use Lua Resty DNS to query SRV record from Consul Server. Example:
- My Api is running on docker container (you can run many docker containers for 1 api), all containers register their services to Consul Server (with IP and port) by using Registrator container.

[2016-04-07 05:35] jimmypk commented on #1134
Sorry, when I configure that. Kong only listen on port 81.

[2016-04-07 06:25] luofanyuguai opened #1135 "when the 0.8.0 support postgresql release？"
thanks

[2016-04-07 06:31] Tieske commented on #1135
The release candidate (RC) is available. Typical release schedule is; RC 2wks without issues => promoted to release. Otherwise fixes and next RC.

[2016-04-07 06:31] #1135 closed

[2016-04-07 16:33] BrianHutchison commented on #1126
### API
`curl -i -X POST --url http://kong.labservers.net:8001/apis --data 'name=loadtest'  --data 'upstream_url=http://endpoint.labservers.net/'  --data 'request_host=endpoint.labservers.net'
`
### Add the plugin
`curl -X POST --url http://kong.labservers.net:8001/apis/loadtest/plugins --data 'name=rate-limiting' --data 'config.minute=10000000' --data 'config.async=true'
`
### Test
`curl -I --url

[2016-04-08 00:35] chrisanderton opened #1136 "Postgres - Potential breaking change in database creation migration"
@thefosk -

#1105 introduced code to create the Postgres database if it doesn't exist.

The migration passes a `true` value into the `no_database` parameter of the Postgres query method - for some reason the query assumes a username and database of `postgres` - which doesn't always exist - this prevents startup of the cluster in cases where the username/db name of 'postgres' are not valid on the d

[2016-04-08 00:54] thefosk commented on #1136
@chrisanderton that is correct. I improve the implementation to first use the user that has been specified in the configuration, if it's not set I will check for the `postgres` user, otherwise the database needs to be manually created.

[2016-04-08 00:57] chrisanderton commented on #1134
@jimmypk Kong can't listen to multiple ports out of the box - all you are doing is redefining the same config value, which is why it only binds to port 81 in your example. The value of proxy_listen is interpolated into the nginx config by Kong and is used as the value for the listen directive.

You could modify the nginx section of your kong.yml to define the second port - it's not pretty but it m

[2016-04-08 01:23] thefosk commented on #1136
By the way I tried to drop the `postgres` user, and I get the following message:

[code]

So I am not sure it can even be removed at all.

[2016-04-08 01:35] thibaultCha commented on #1136
Pretty sure @chrisanderton is referring to the *database* here, which was one of the reason behind ne saying creating the database automatically might not be a good idea for Postgres, since its behavior is not the same as Cassandra.

[2016-04-08 06:36] jimmypk opened #1137 "Kong can't write access log?"
I am running Kong 0.7.0, don't use docker container. I want to check the access log, but can't see any log at /usr/local/kong/logs/access.log
Can Kong write access log?

[2016-04-08 10:32] jimmypk commented on #1134
Can I add more listen port to nginx inside kong.yml?

[2016-04-08 10:39] jimmypk opened #1138 "Why does Kong remove a part of request path?"
I set up my api through kong. But in some case, Kong remove a part of request path. Example:
`http://my-api.domain.com/user/static/`
=> Kong pass to my api with request path /user/static/ It's correct.

`http://my-api.domain.com/user?id=1&status=-update`
=> Kong pass to my api with request path ?id=1&status=-update . It's wrong, and my api can't route properly.

Why does Kong remove a part of requ

[2016-04-08 10:44] jimmypk commented on #1095
Thanks for your roadmap.
Currently I write plugin to do that with lua-resty-dns
Hope you think about this https://github.com/Mashape/kong/issues/1129#issuecomment-206690990

[2016-04-08 10:54] Tieske commented on #1138
What does the relevant Kong configuration look like?

[2016-04-08 15:44] flowdopip commented on #1126
Thanks, my bad, i forget to add the response header to control the limits

[2016-04-08 15:45] #1126 closed

[2016-04-08 16:18] allisthere2love opened #1139 "Kong does not work when using Cassandra Cluster alongside other Cassandras"
Hi, related to this issue:
https://github.com/thibaultCha/lua-cassandra/issues/47

In the Kong scenario, if I have in same hosts one cluster with port 9042 and other with port 39044 (let's call it A and B), and tries to use cluster B, the following occurs:
1 - If the keyspace and all data does not exists, we get a "[ERR] Error executing migration for "core": Cassandra error: [Invalid] Keyspace 'ko

[2016-04-08 16:33] allisthere2love commented on #1139
I was also able to validade the problem when I've checked the cluster with default ports. There, I've found the kong keyspace created (but with no tables), although I've never used the port 9042 in contact points, just 39044.

[2016-04-08 17:34] thefosk commented on #1137
Did you enable the access logs with `access_log on;` in the `nginx` property in the Kong configuration file?

[2016-04-08 17:55] jmdacruz commented on #522
This seems to be related to #1014 and #1060, since OpenID Connect uses JWT heavily and it is a profile of OAuth2 (that is, it extends OAuth2 to bring identity and authentication capabilities to it). **OpenID Connect** is not related to the previous **OpenID 2.0** protocol (they are two distinct families of protocols), which required an extension to interact with OAuth1.

[2016-04-08 18:09] thefosk commented on #1104
This is weird and I will need more time to replicate the issue and trying to figure it out.

[2016-04-08 23:35] thefosk commented on #1136
Okay the database auto-creation is not going to make it into 0.8.0, so I will close this issue for now.

[2016-04-08 23:35] #1136 closed

[2016-04-09 00:00] thefosk commented on #329
Closed with #1133.

[2016-04-09 00:00] #329 closed

[2016-04-09 00:01] thefosk commented on #965
@shashiranjan84 do you confirm it's closed with #1133? If so, let's close this.

[2016-04-09 00:01] thefosk commented on #1022
Closed with #1133.

[2016-04-09 00:01] #1022 closed

[2016-04-09 17:09] rileylark commented on #1104
@thefosk Yesterday I got a vanilla nginx setup working in the exact same kubernetes cluster, which I mention just to confirm that nginx can work in this environment w/o any extra config.

If you have a Kubernetes cluster running already (easy to set up on Google Container Engine), you can get an exact repro of my situation from my yaml files at https://github.com/peardeck/kubernetes-boilerplate/tr

[2016-04-09 18:38] chrisanderton commented on #1134
You can add it - but you'd have to try it to see if it gives you the desired effect - you'd add it to the nginx config at the bottom of kong.yml, around this line:

https://github.com/Mashape/kong/blob/master/kong.yml#L242

You would add (using the ip you mentioned above):

```listen 192.168.1.32:81;```

It would let you listen on an additional port that nginx would listen on - but nothing else in

[2016-04-10 13:36] siddharthkchatterjee opened #1144 "find_api_by_request_path incorrectly picks less specific nested route"
When the following two API definitions are registered —
[code]
Kong resolves a request to `/some/deep/url` to either of the two since they both satisfy the generated regular expression.

The API it resolves to will always be the first one in the database's natural order (since the aforementioned function loops through the `request_path_arr` and returns the first match). In case `/some/deep` was re

[2016-04-10 13:37] siddharthkchatterjee commented on #890
@thefosk, closing this since the issue is identified more precisely in #1144.

[2016-04-10 13:37] #890 closed

[2016-04-10 13:40] siddharthkchatterjee commented on #1144
A suggested fix would be to order the `request_path_arr` in descending order of specificity after inserting all the routes in the table.

[2016-04-10 18:26] joelfire commented on #1115
Any update? This is a production blocker since I need to whitelist various APIs on a per customer basis.

[2016-04-11 02:24] jimmypk commented on #1137
Currently access_log off. I have enabled it and it's working.
Thanks.

[2016-04-11 02:27] jimmypk commented on #1134
Because some modules run on differrent ports.
Ok. I will change the port of application, do not change Kong.
Thanks.

[2016-04-11 04:11] snyff opened #1148 "Time constant string comparison for JWT tokens"
Hey guys,

Not a huge deal but the verification of the signature for JWT tokens is not time constant. It may allow an attacker to bypass the signature using brute force (the attacker will probably need to be pretty close to the target).

./kong/plugins/jwt/jwt_parser.lua line 31:
   ["HS256"] = function(data, signature, key) return signature == alg_sign["HS256"](data, key) end

Keep up the awesome

[2016-04-11 04:23] snyff commented on #1148
You could probably use is_digest_equal from kong/plugins/hmac-auth/access.lua

[2016-04-11 04:34] snyff commented on #1148
Same issue in kong/plugins/basic-auth/access.lua:

 63   return credential.password == digest

[2016-04-11 05:03] #782 closed

[2016-04-11 05:16] thefosk commented on #1115
I have created a Kong instance to try to replicate the problem, and both try to:

* Set a whitelist with one or more IP addresses, like `config.whitelist=52.90.220.31,127.0.0.1`.
* Set a blacklist with one or more IP addresses, like `config.blacklist=52.90.220.31,127.0.0.1`

And they both worked. I have tried this with 0.8.0 RC2.

[2016-04-11 05:23] thibaultCha commented on #1148
Actually strings in Lua (and LuaJIT) are interned. Thus, string comparison is time invariant. There might be an exception to this behavior for large strings, though I could not find any information on the subject.

[2016-04-11 05:51] #1137 closed

[2016-04-11 16:24] harryparmar commented on #1129
Jimmy that sounds very clever, thanks for sharing. when your plugin receives  records from  consul do they contain dead servers as well? if it does, then do you forward request to dead server or request another from Consul? my main concern is in addition to doing basic load balancing but also picking intelligently alive server to forward request to.

[2016-04-11 17:37] dlecorfec opened #1149 "Whitelisting paths/methods"
I'd like to have granular path control, in order to whitelist some path and method combination.

Example:

Allow GET on /foo
Allow GET and POST on /bar
Deny everything else

It doesn't seem implemented by available plugins. Did I miss something or do I have to write my own plugin?

[2016-04-11 18:47] Yatufo opened #1150 "headers X-Forwarded-Host and X-Forwarded-Prefix not sent when proxying an API"
I have setup the latest docker https://github.com/Mashape/docker-kong/blob/0.7.0/Dockerfile

1. Setup an API

curl -i -X POST \
 --url http://localhost:8001/apis/ \
 --data 'name=myservice' \
 --data 'preserve_host=true' \
 --data 'strip_request_path=true' \
 --data 'upstream_url=http://myservice:6666' \
 --data 'request_path=/myapipath'

2. Call a method in the API

curl  -X POST 'localhost:8000/

[2016-04-11 20:15] joelfire commented on #1115
I work with a docker image.
Steps I did to reproduce:

1. git clone https://github.com/Mashape/docker-kong.git
2. in Dockerfile, change ENV KONG_VERSION 0.8.0rc2, then build.
3. Run kong
4. Create a simple API that has ip-restriction whitelist 1.1.1.1, point to a local tomcat
5. Run a curl from localhost

ubuntu@ip-172-31-33-225:~/docker/docker-kong$ curl http://localhost:7000/foo/ -i
HTTP/1.1 200

[2016-04-11 20:17] thibaultCha commented on #1086
Just manually merged the patch from #1094. Now applying the documentation. Thanks a lot!

We'll try to include this in 0.8 very soon.

[2016-04-11 20:17] #1086 closed

[2016-04-11 20:48] sinzone commented on #1149
waiting for the #505

[2016-04-11 21:40] gomes commented on #1129
@harryparmar consul do health check https://www.consul.io/intro/getting-started/checks.html

@jimmypk are you planning to open your plugin?

[2016-04-11 21:44] snyff commented on #1148
TIL

[2016-04-11 21:44] #1148 closed

[2016-04-11 22:12] thefosk commented on #1149
Closing as duplicate of #505.

[2016-04-11 22:12] #1149 closed

[2016-04-11 23:13] thefosk commented on #1115
I tried to run the following commands:

[code]

This is with 0.7.0, the current `latest` version on Docker.

[2016-04-12 14:30] mdan1eli opened #1152 "Extending Admin API for multi tenancy"
As our Kong instance would offer an API Gateway to multiple internal organizations, we want to enable their respective administrators to manage only their information (apis and consumers) and not affect others.  While we are also interested in the other enterprise extensions, we want to have always an API before any UI, as the goal is to fully automate the development and deployment pipeline.

The

[2016-04-12 14:44] mdan1eli commented on #1150
Why not just use for the scenario a request transformer plugin to add headers?

[2016-04-12 18:54] gomes commented on #1095
@thefosk Hi, are u already working on this or is just planned?

[2016-04-12 19:18] thibaultCha commented on #1095
This is only planned, there are other things we must address before, including first releasing 0.8.

[2016-04-12 19:41] gomes commented on #1095
hey @thibaultCha I would like to help with this, maybe I can open an issue to discuss with you guys the better way to implement this, what do you think?

[2016-04-12 19:52] yograterol opened #1153 "ACL in requests transformation"
Hi everyone,

We're implementing Kong for our microservices, [ACL](https://getkong.org/plugins/acl/) is a great plugin and I want to add the group of a [customer in the header](https://getkong.org/plugins/request-transformer/), but I don't find documentation about that.

[2016-04-12 20:23] thibaultCha commented on #1095
The `refactor/cli` branch needs to be completed and merged first before tackling this, we can talk about it once that is done, but globally our plan is to switch to `balancer_by_lua` instead of the `proxy_pass` directive, and that would include having to resolve the upstream URLs ourselves, hence the need for lua-resty-dns, which, luckily, supports SRV records.

But the `refactor/cli` changes the

[2016-04-12 21:01] thefosk commented on #1153
@yograterol this is currently missing, but that would be a great addition. I will implement it.

[2016-04-12 21:26] gomes commented on #1095
OK, I'll do some palliative method until we can discuss again. There is an issue tracking the refactor/cli change?

[2016-04-12 21:28] thibaultCha commented on #1095
It relates to many. For example:
#217
#656
#946
#974

[2016-04-13 06:32] dingziran commented on #1115
@thefosk with the same three line
[code]

for more info
[code]
I will try to update from RC1 to RC2 and try again

[2016-04-13 06:51] dingziran commented on #1115
RC2 is working.  maybe because of the missing {"_whitelist_cache":[[16843009,16843009]] in RC1?

[2016-04-13 07:43] dingziran commented on #1115
I am very shock that using kong dashboard to create ip-restriction plugin, the ip config miss whitelist_cashe and the curl isn't.

[2016-04-13 08:17] jimmypk commented on #1138
Sorry, I take some wrong configuration.

[2016-04-13 08:17] #1138 closed

[2016-04-13 08:17] #1134 closed

[2016-04-13 08:28] LucaGallinari commented on #999
Same for me. I am using Cassandra 2.2.5 and kong with docker.

Found this error while querying the "schema_migrations":

Traceback (most recent call last):
  File "/usr/bin/cqlsh.py", line 1211, in perform_simple_statement
    result = future.result()
  File "/usr/share/cassandra/lib/cassandra-driver-internal-only-3.0.0-6af642d.zip/cassandra-driver-3.0.0-6af642d/cassandra/cluster.py", line 3122, i

[2016-04-13 13:47] chicoandrade opened #1155 "Kong won't create acl and jwt plugins on startup using a customized kong.yml"
Hi there,

I'm using Kong 0.7 and I have an issue where Kong is not creating the acl and jwt plugins on startup when using a customized kong.yml file. I've tracked down the problem to my kong.yml file, because when I start the service with the default file these plugins are installed.

When running the service with the customized kong.yml, I'm able to associate the acl plugin to an api:

But when

[2016-04-13 14:12] martin-dostal commented on #986
@olufemi don't you run Kong against Cassandra 3.x? It is not supported, see #831.

[2016-04-13 14:16] chicoandrade commented on #1155
Here's my customized kong.yml:

    custom_plugins:
      - helloworld
      - q-to-filter
      - json-filter
    proxy_listen: "0.0.0.0:8000"
    proxy_listen_ssl: "0.0.0.0:8443"
    admin_api_listen: "0.0.0.0:8001"
    cluster_listen: "10.166.69.206:7946"
    cluster_listen_rpc: "127.0.0.1:7373"
    dns_resolver: dnsmasq
    dns_resolvers_available:
     server:
      address: "8.8.8.8:53"

[2016-04-13 14:29] chicoandrade commented on #1155
I've commented the custom_plugins section on my kong.yml and now kong only installs jwt and acl.
Not sure why right now.

[2016-04-13 14:32] RossJayJones commented on #369
+1

[2016-04-13 14:40] RossJayJones commented on #677
+1

[2016-04-13 14:52] chicoandrade commented on #1155
I just figured out that the problem only happens when I enable a specific custom_plugin.
Commenting the "json-filter" plugin on kong.yml makes acl to be installed.
This plugin rewrites the json response.

I'll check if there's any problem on the plugin sources.

[2016-04-13 14:54] allisthere2love commented on #999
@LucaGallinari , if your problem is just to run "migration reset", you can run you kong docker container with the cassandra contact_point var but using "--entrypoint bash" and "-ti". That way you'll have a terminal and you can run "kong migrations reset". Or you can just drop keyspace kong in your cassandra.

About this missing column_family error, are you running cassandra in default port? I had

[2016-04-13 15:21] djodjo3 commented on #1074
Hi,

Don't know if that helps, but same thing here, with docker 1.10.2 and kong 0.7.0.

Thanks in advance,

[2016-04-13 17:54] chicoandrade commented on #1155
Latest results on the analysis: When I have 3 plugins listed on the **custom_plugin** section on kong.yml both **jwt** and **acl** are not been installed. When I have 2 plugins listed on the custom_plugin, **acl** is installed but **jwt** is not. When I have only 1 or none plugin listed, both **acl** and **jwt** are installed.

It looks like we are reaching a plugin limit.

[2016-04-13 18:00] thibaultCha commented on #1155
Hi,

What do you mean by plugins being "installed" or "not installed"?

[2016-04-13 18:17] chicoandrade commented on #1155
Hi @thibaultCha , at first they are not included on the kong startup migrations:

We don't see them at the cassandra tables (because they were not migrated) and when I try to use the acl plugin I get an error:

I tried to create the **acl** tables manually, but it didn't worked.
I didn't tested the jwt to see how it is affected.

[2016-04-13 18:44] joelfire commented on #1115
@thefosk Ok I have found the same as above. If the cache value does not exist, it won't restrict. It seems as if, as @dingziran said, doing a reload prior to adding forces it to have the cache. Although I have had it also work without an immediate reload. But reload just prior seems to fix it. And it does not seem specific to version, I get the same with 7.0 and 8.0RC2

No cache
[code]

With cache

[2016-04-13 22:05] thefosk commented on #1115
Yes, I confirm that the `_whitelist_cache` and `_blacklist_cache` fields need to exist in order for the plugin to work. These fields are being created by Kong when the plugin is being added.

It seems like you are suggesting that those fields are not being added after the first time, I have tried to replicate this by executing:

[code]

Which seems to be working. Could you give me the exact comman

[2016-04-14 03:59] #1153 closed

[2016-04-14 04:13] #942 closed

[2016-04-14 04:13] #949 closed

[2016-04-14 04:13] #1064 closed

[2016-04-14 04:13] #1067 closed

[2016-04-14 04:13] #1139 closed

[2016-04-14 07:57] VivianSnow opened #1156 "How to modify a ACL group?"
I know that we can crate a acl group like this:curl -X POST http://kong:8001/consumers/{consumer}/acls --data "group=group1";
But how to modify or delete the group?

[2016-04-14 13:06] marcelmfs commented on #1074
This is probably due to dockerized kong not properly handling defunct processes with something like https://github.com/krallin/tini

[2016-04-14 13:25] joelfire commented on #1115
I can consistently reproduce it via the kong-dashboard UI, which does the following:

[code]

Oddly I can not consistently reproduce it from the command line (but often can). Also note that the URL used by dashboard does not include the full API path.

[2016-04-14 13:56] jfirehammer-credibly commented on #1074
Thanks, I forked it to https://github.com/jfirehammer-credibly/docker-kong and added tini, I'll let you know how it goes.

[2016-04-14 14:49] noamelf opened #1157 "Quota for a group of consumers"
Hi, I want to set a quota for a group of consumers. This should serve the purpose of having several different developers from the same the organization that will share a quota.
From the docs I gather that Kong doesn't support this option yet, so I think about implementing it myself.

How would you recommend to go about that? The closest thing I saw that group consumers is the ACL plugin. Is buildi

[2016-04-14 17:02] JnMik commented on #1156
for deletion you would add ensure: "removed"
I don't think there is any "Modify" action implemented since there is only one property to the whole object (group).

[2016-04-14 17:05] JnMik commented on #1156
While using kongfig, you would  would add ensure: "removed" for deletion.

Something like :
`
-
      username: "test"
      ensure: "present"
      credentials:
        - name: "key-auth"
          ensure: "present"
          attributes:
            key: "1234"
      acls:
        -
          ensure: "removed"
          group: "test"
`
I don't think there is any "Modify" action implemented since

[2016-04-14 17:49] rsbarata commented on #369
👍

[2016-04-14 18:16] JnMik opened #1158 "Encoded payload exceeds the limit of 512 bytes warning"
Hello guys !

While configuring kong, if I receive this in my logs :

`
Encoded payload is XXX and it exceeds the limit of 512 bytes!"
`

Should I consider this as a warning, and expect that kong will process my confing with chunks so it works as expected ?
Or should I expect failure on my system because the gateway might be missing some part of the configuration ?

thx

[2016-04-14 18:45] thefosk commented on #1158
@JnMik what operation have you tried to execute, and what Kong version are you using?

[2016-04-14 19:14] JnMik commented on #1158
kong:0.6.1

operation : Trying to push an API (with 4 plugins) via kongfig application, using yml configuration file.
Something like that : http://screencast.com/t/atVV1ZYw

[2016-04-14 19:15] JnMik commented on #1158
I see you guys are already at 0.8, might worth updating before asking.. lol
Have you change anything regarding payload in the new updates ?

[2016-04-14 21:08] thefosk commented on #1158
@JnMik yes, I believe your problem has already been fixed in 0.7.0 but if you wait a little bit you will be able to upgrade to 0.8.0

[2016-04-14 21:46] tecnobrat commented on #1100
The core of this issue on AWS is that `Amazon Linux 2016.03 / kernel 4.4.5` doesn't work with a 386 compiled version of serf (due to the go bug).  If you use the x86 version it works fine. Of course the default RPM uses 386, so we're going to have to build our own or something.

Any possibility we can get arch specific builds of kong instead?

[2016-04-15 03:58] tunglam14 commented on #87
+1

[2016-04-15 07:48] deltheil commented on #1100
It looks like with Kong 0.8.0 the 64-bit is now used by default (see [this](https://github.com/Mashape/kong-distributions/commit/f3148c2f7d86a7acccc68a860d4c7023ff30cbbb#diff-e232aafcaa4684178079337a7d27b68dR248)).

[2016-04-15 12:41] JnMik commented on #1158
Alright I'll to check with 0.8 when it goes out

[2016-04-15 12:51] tecnobrat commented on #1100
@thefosk can you confirm this is how the actual 0.8.0 release was packaged?

[2016-04-15 18:03] JnMik commented on #1158
Well I have pull the master and build the docker image locally, seems to be still working well with kongfig :) And my original issue seems to be fixed as well !

Good news.

@thefosk The only thing I saw was that warning msg in the kong container logs

kong | 2016/04/15 17:52:34 [emerg] 125#0: invalid number of arguments in "user" directive in /usr/local/kong/nginx.conf:2

(I do have updated my ko

[2016-04-15 18:03] #1158 closed

[2016-04-15 19:43] #331 closed

[2016-04-15 20:01] bjcooper commented on #411
I agree with @naoko, there seems to be a confusing circle of references to this topic. However, I believe this is the issue (#411) we're officially using for the topic of response caching (someone correct me if I'm wrong).

I'm kicking myself for not doing better research before jumping in with Kong, but now that I've got it set up and going I'm sorry to find it doesn't actually offer any response

[2016-04-15 21:48] thefosk commented on #331
You can play with v0.8.0 with Postgres support at https://github.com/Mashape/kong/releases/tag/0.8.0 - we will update Docker and the website soon.

[2016-04-15 21:50] thefosk commented on #1158
Would you be able to paste the contents of `/usr/local/kong/nginx.conf`?

[2016-04-15 21:54] thefosk commented on #1100
The 0.8.0 is packaged with serf 64-bit

[2016-04-15 21:58] #1144 closed

[2016-04-16 09:25] timothyley commented on #1107
Hi @thefosk. Recently my Kong has this error again. `Could not start serf: Failed to start the Serf agent: Error creating Serf: Failed to create memberlist: Failed to start TCP listener. Err: listen tcp 100.75.34.83:7946: bind: cannot assign requested address`. Not sure what went wrong with my Kong

[2016-04-16 15:50] HeSe commented on #1114
I had the same problem. You should change the documentation at https://getkong.org/install/docker/
--security-opt seccomp:unconfined vs. --security_opt seccomp:unconfined

[2016-04-16 16:13] HeSe commented on #1114
Actually, I checked again. The entry seems to have to be --security-opt="seccomp=unconfined"

[2016-04-17 11:32] geovanisouza92 commented on #378
+1

[2016-04-17 11:33] geovanisouza92 commented on #391
+1

[2016-04-18 16:45] thefosk commented on #1157
You would need to update both the ACL plugin, to set a context variable that shares the group to other plugins, like `ngx.ctx.acl_group=something` and then update the rate-limiting plugin to use this group name as the primary identifier.

[2016-04-18 16:45] #1157 closed

[2016-04-18 16:46] thefosk commented on #1156
Have you tried using `PATCH` or `PUT`?

[2016-04-18 16:48] thefosk commented on #1152
@mdan1eli eventually we will think to implement multi tenancy built-in into Kong, but it's not going to happen anytime soon.

[2016-04-18 16:49] thefosk commented on #1130
@magic69 I think this has been fixed with 0.8.0 - can you give it a try and let us know?

[2016-04-18 18:05] thefosk commented on #331
Kong 0.8.0 announced: http://blog.mashape.com/announcing-kong-0-8-0-with-postgresql-support/

Enjoy :)

[2016-04-18 18:52] t1tcrucible commented on #1023
@ambrons Are you working already on a plugin to use JWT for your micro-services. We begon last week with a header2jwt plugin in order to provide what you are about to say in your post to upstream services. For us this is a Lua - learning - track, in order to get a grip on the plugin system.

[2016-04-18 19:06] yograterol commented on #1153
Thank u very much!

[2016-04-18 19:49] t1tcrucible commented on #328
+1

[2016-04-18 20:56] tecnobrat opened #1160 "Node doesn't add itself to database if a broken node already in database."
We are running 0.8.0 with a postgress backend, running inside docker on elasticbeanstalk.

It looks like if you have a dead node in your database, when you start a new node, it doesn't register itself with postgres, so then you cannot establish a successful cluster.

So we have a down node is in our database (`172.17.55.221`).

[code]

When we start a new node, we get this (I have obfuscated our d

[2016-04-19 05:59] amolc commented on #1122
Hello,

It looks to have an issue with the hadoop connected.

Can you help us with a default.yml . At the moment, it doesn't work and it is hard for us to know the issue to connect to a brand new hadoop installation.

[2016-04-19 07:16] xiaohezhiliu opened #1161 "[ERR] connection refused Could not start Kong"
cmd1:
docker run -d --name kong-database5438 \
        -p 5438:5432 \
        -e "POSTGRES_USER=kong" \
        -e "POSTGRES_DB=kong" \
        postgres:9.4

cmd2:
docker run -d -e "DATABASE=postgres" \
--link kong-database5438:kong-database5438 \
-P \
-v /data/config.docker/kong.yml:/etc/kong/kong.yml \
docker-kong

in /data/config.docker/kong.yml :
postgres:
  host: "kong-database5438"
  port: 5

[2016-04-19 11:00] haikuo81 commented on #677
+1

[2016-04-19 13:08] tshwangq commented on #155
+1

[2016-04-19 14:51] taddgiles opened #1162 "nginx: [emerg] unknown directive "init_by_lua_block""
I'm getting the following error when I attempt to launch kong.

[code]

Setup Info:
kong 0.8.0
nginx version: openresty/1.9.3.1
osx 10.11, El Capitan
postgres 9.4.4
Installed kong via brew without incident
default kong.yml with postgres changes

full output at launch
[code]

Did I miss something in the setup?

[2016-04-19 17:50] BrianHutchison commented on #1152
I think its a good idea, and seems reasonable to me (with my currently non-expert understanding of Kong). It seems there are broadly speaking three ways to handle separation of concern. First, as you describe. Second, totally separate Kong clusters & data (i.e. avoid the problem). Third, you move the partitioning off of Kong entirely and into a separate system that has its own organization constru

[2016-04-19 20:32] thibaultCha commented on #1162
Hi,

Kong expects the `nginx` executable to be compiled with the ngx_lua module (as well as the OpenResty bundle suite). Maybe you have another nginx executable that comes before in your PATH and which isn't OpenResty.

[code]

[2016-04-19 22:43] thefosk commented on #1162
Also, I would recommend upgrading OpenResty to `1.9.7.3`.

[2016-04-19 23:05] thefosk commented on #1074
In Kong 0.8.0 I switched to Serf 64bit (as opposed to 32bit which was also causing some other issues) - Can you try with the new version and see if the problem persists?

[2016-04-19 23:05] #1128 closed

[2016-04-19 23:10] thefosk commented on #1088
This seems definitely to be a networking problem, the application is not able to bind on that specific port. If changing the network configuration to `--net=host`, means that the default bridge cannot assign that specific address.

What environment are you using, and what Docker version?

[2016-04-19 23:15] taddgiles commented on #1162
Upgrading to OpenResty 1.9.7.4 got it fixed. Thx!!

[2016-04-19 23:15] #1162 closed

[2016-04-20 00:47] thefosk commented on #1160
@tecnobrat I have been trying to replicate this use-case, but I cannot replicate. In all of my tests the new node would always append his advertised address to the database. I have tested this in both Cassandra and PostgreSQL.

#### Kong 1

[code]

#### Kong 2

[code]

Then I executed the following operations:

[code]

Contents of table:

[code]

[2016-04-20 03:19] jimmypk opened #1164 "Kong can't start after restarting docker container"
I install kong on docker container by following this document https://getkong.org/install/docker/
I use postgres. It runs properly. But after run command "docker restart kong kong-database". Kong can't start.
Result of command "docker logs kong" is here:
[INFO] kong 0.8.0
[INFO] Using configuration: /etc/kong/kong.yml
[INFO] Setting working directory to /usr/local/kong
[INFO] database...........po

[2016-04-20 03:22] jimmypk commented on #1164
After container kong-database runs over 10 minutes. I start kong again and it can run. I dont' know why sometime I see the "[ERR] dnsmasq is already running"

[2016-04-20 04:23] tecnobrat commented on #1160
@thefosk I've replicated it again with docker containers.

[code]

However, it appears that the new node removes itself very quickly from the cluster, unsure why.... these commands are run within about 2 seconds from eachother, right after I started the new node.

[code]
[code]

[2016-04-20 06:06] gavinzhou commented on #1074
it worked!!
thanks you

[2016-04-20 07:55] marcelmfs commented on #1074
I can also confirm that serf is not becoming defunct anymore inside docker containers.

[2016-04-20 11:16] hnq90 opened #1165 "How can I serve php-fpm from Kong?"
Hi,
Kong is a wrapper of Nginx
I downloaded `fastcgi.conf` & `fastcgi_params` from _nginx_ repository and put them to Kong's nginx directory.
I also add a block which of `server {}` which is for serving php to `nginx.conf`.
[code]

But I got when access that route:
[code]

Does anyone have solution?
Thank you in advance.

[2016-04-20 11:42] hnq90 commented on #1165
`tail -f error.log`

`php-fpm` points to ip 172.18.0.4

[code]

[2016-04-20 13:57] allisthere2love commented on #1088
Hi, @thefosk,

I've forgotten to check in this issue, this problem occurs no more with me. If I'm not mistaken, the problem was when we use "-p" and don't specify the 7946 and 7946/udp ports, or when we use "-P" (random ports).
Anyway, we're working with 'net=host' config with no problems.

[2016-04-20 14:08] kdstew opened #1166 "When updating a plugin with PUT created_at is set to NULL"
This is in version 0.8.0 with a postgres DB.

I noticed this when updating an existing api with the `acl` plugin.

Before the update the response for `http://kong.docker/apis/our_api/plugins` is:
[code]

Ran:
[code]

After:
[code]

You can see that `created_at` is not in the response for the `acl` plugin now.  I checked the `created_at` database field for the `acl` entry and it had a value of NULL

[2016-04-20 16:23] hnaqvi opened #1167 "resolver.lua:58 https 443 as default port"
a default port "443" is added to the upstream_hostname if the upstream url is a https request. Why is this being done?. Should this not be empty?

[2016-04-20 17:45] allisthere2love opened #1168 "Kong DEB Package fails to start when using Cassandra with authentication"
When I run Kong 0.8.0 with a Cassandra using authentication, the following error occurs:

[ERR] Host at 10.166.69.238:39044 required authentication but no auth provider was configured for session

The fix is already in the master repository, so it seems is a packaging problem only.
I've tried the trusty and jessie packages, both are lacking the following code in cassandra_db.lua:

 ``
   if option

[2016-04-20 19:43] thefosk commented on #1167
That is correct - it makes the default port explicit. Are you experiencing any issue?

[2016-04-20 19:46] thefosk commented on #1161
Can you manually connect to Postgres using `psql` ?

[2016-04-20 20:13] thefosk commented on #1115
Maybe it's a problem of the dashboard? We don't maintain or support any official GUI, so maybe it's an issue to be fixed by the creator of GUI.

Can anybody else replicate this issue just by using the API?

[2016-04-20 20:16] thefosk commented on #1088
@jimmypk can you try with `net=host` ?

[2016-04-20 20:18] Tombar commented on #608
+1

[2016-04-20 20:18] thefosk commented on #1160
@tecnobrat can you send me the exact commands you are running in order to replicate it accurately?

[2016-04-20 20:40] #1130 closed

[2016-04-20 20:41] thefosk commented on #1130
Please re-open the issue if the problem persists.

[2016-04-20 21:49] BrianHutchison commented on #380
+1

[2016-04-20 21:57] joelfire commented on #1115
See my comment, I did purely by API, but that's all the UI does anyway. It
does seem to use an undocumented way of creating the plugin as I noted, but
if that is not supported then perhaps you should not allow it, that will
force the UI maintainer to use it the documented way.

On Wed, Apr 20, 2016, 4:13 PM Marco Palladino <notifications@github.com>
wrote:

[2016-04-20 22:25] tecnobrat commented on #1160
I've created a repo which should help you reproduce this bug.

https://github.com/tecnobrat/kong-serf-bug

Here is the output from that script:

[code]

[2016-04-20 23:06] thefosk commented on #1115
I am confused by this line:

You were able to sometimes reproduce the error just by exclusively using the API?

[2016-04-20 23:32] patrickpierson opened #1169 "send anonymous reports default should be false"
in 0.8.0 if send_anonymous_reports isnt set the line ```error_log syslog:server=kong-hf.mashape.com:61828 error;``` is added to the nginx conf.  I believe the default for this setting should be false.

[2016-04-20 23:45] joelfire commented on #1115
Yes, what I meant was calling the api using curl. After about 25 minutes of
trying different sequences of adding and deleting the plugin and reloading
Kong I was able to reproduce the bug a number of times but could not find a
repeatable way. So I gave up.

On Wed, Apr 20, 2016, 7:06 PM Marco Palladino <notifications@github.com>
wrote:

[2016-04-20 23:57] thefosk commented on #1168
I think @thibaultCha already answered to this issue on IRC.

[2016-04-20 23:57] #1168 closed

[2016-04-21 01:40] hnq90 commented on #1165
Actually, I run php-fpm in another container which is in same network. That container exposes port 9001.
I want to serve that php container in Kong because it's overkill when create new Nginx container to serve it.

[2016-04-21 02:08] thibaultCha commented on #1165
Hi,

Not sure what you are trying to do here. I think the config you posted is only partial? Could you maybe post the complete nginx configuration file and provide the requests you are trying to make? If I understand correctly you wish to run your server in the same nginx instance as Kong's, and loopback Kong into it?

[2016-04-21 02:27] thibaultCha commented on #1166
Well, tbh this is compliant with the semantics of `PUT`: the enclosed entity is stored under the supplied URI, and we are aware of this (even the tests actually check for this behavior), so I would not qualify this as a bug.

There two ways to handle such a request you describe:
- the current behavior, which should be considered fine (after all, why not updating the `created_at` if one wants to?)

[2016-04-21 03:03] Van-Tien opened #1170 "d"

[2016-04-21 03:03] Van-Tien opened #1171 "d"

[2016-04-21 03:03] Van-Tien opened #1172 "d"

[2016-04-21 03:34] #1170 closed

[2016-04-21 03:34] #1171 closed

[2016-04-21 03:34] thibaultCha commented on #1172
Mistake?

[2016-04-21 03:34] #1172 closed

[2016-04-21 07:54] Van-Tien commented on #1172
Sorry, it seems my mistake

[2016-04-21 08:38] hnaqvi commented on #1167
an api I am trying to proxy is blocking this. The upstream API is throwing a 503 if a port is added to the host header of the request. The upstream api is a third party api and thus not in our control

[2016-04-21 10:03] hnaqvi commented on #1167
The issue is resolved by the thirdparty api.

[2016-04-21 10:03] #1167 closed

[2016-04-21 11:27] asknaskan commented on #1160
Having exactly the same problem as ecnobrat described, using kong-docker on ECS Cluster with postgres.

Settings for cluster:
- `cluster.advertise: "<privateIp>:7946"`
- `cluster_listen: "0.0.0.0:7946"`
- `cluster_listen_rpc: "127.0.0.1:7373"`

[2016-04-21 12:30] hnq90 commented on #1165
@thibaultCha Thank you for your response.
Yes, I want to run my php-fpm in same nginx instance of Kong.

I just go to Kong's IP with my port: `http://kong-ip:9002` and got above error.

Here is my `kong.yml` file.
[code]

[2016-04-21 12:56] asknaskan commented on #1160
I debugged the code and found out when `/kong/cli/services/serf.lua`->`_add_node()` will be called, that `cluster_utils.get_node_name(self._configuration)` try to get the hostname from the docker and crashes somehow. Investigation goes on.

[2016-04-21 14:03] xiaohezhiliu commented on #1161
yes, I can connect to Postgres using DBeaver.

[2016-04-21 18:07] yograterol commented on #334
someone working in this feature?

[2016-04-21 18:14] thefosk commented on #1160
Do you have any error log?

[2016-04-21 18:19] thefosk commented on #1074
Great - I am closing this issue. Please re-open if it happens again.

[2016-04-21 18:20] thefosk commented on #1103
@thibaultCha any thoughts on this?

[2016-04-21 18:26] thefosk commented on #1161
Can you verify that from the container you are able to access postgres on `kong-database5438`. There seem to be a problem between the two containers.

[2016-04-21 18:33] thibaultCha commented on #1103
This pattern was intended to validate domain names, and not IP addresses. Applying this change would make it possible to create a `request_host` with a TLD of only 1 character such as `example.c`, and thus weaken our domain name validation.

The problem lies somewhere else in your usage:, `request_host` is meant to contain a domain name, and not an IP address. Since it is supposed to be sent over

[2016-04-21 19:02] asknaskan commented on #1160
Okay, well. Locally I can't reproduce the problem with the docker hostname. It just happens on the EC2 instances. I try to reproduce it there later. For fixing that on the EC2 i've used this in `/tools/utils.lua`

[code]

But anyway this won't help. The code for insert the node to table will be run without any error and the function returns true. The node will not be added to the nodes table in po

[2016-04-21 19:07] tecnobrat commented on #1160
`/bin/hostname` exists in the docker image, and always returns the container ID, thats normal behaviour for docker containers.

[2016-04-21 23:12] thefosk commented on #1161
I just tried to connect to a shutdown Postgres instance, and I received the same error log:

[code]

So Postgres is either not running, or it's not reachable from the container. Doesn't seem to be a Kong issue.

[2016-04-21 23:12] #1161 closed

[2016-04-21 23:13] thefosk commented on #1122
Since this issue is not Kong related, I will close it.

[2016-04-21 23:13] #1122 closed

[2016-04-21 23:13] #1111 closed

[2016-04-22 11:20] flowdopip opened #1173 "Setup API with same request_host and several request_path"
Hi,

I have an REST API and i want to set ratelimite per resource, like twitter does:

https://dev.twitter.com/rest/public/rate-limits

Furthermore in future i need to set this values by tenant! and my tenant identifier is on access token (JSON Web Tokens).

What is the best setup for this?

something like this

Tenant   |      Resource        |    Request (minute)
    1             GET Product

[2016-04-22 21:35] thefosk commented on #1173
Related to the implementation of #505 - closing this as dup.

[2016-04-22 21:35] #1173 closed

[2016-04-22 23:38] #1156 closed

[2016-04-23 19:27] tecnobrat commented on #1166
@thibaultCha if I understand you correctly, we are probably looking for the functionality that exists in `PATCH` and perhaps should just use that instead?

[2016-04-23 19:28] tecnobrat commented on #1166
Also, looks like the docs may need updating if you keep `PUT` because it does say that it returns the same data as `PATCH` and `POST`

[2016-04-24 22:35] mesmerizingr opened #1174 "Kong won't start due to incompatible config"
Here's my `/etc/kong/kong.yml`:

    ssl_cert_path: /etc/pki/tls/certs/kong.cert
    ssl_key_path: /etc/pki/tls/private/kong.key

    database: cassandra
    cassandra:
      contact_points:
        - "db:9042"

Trying to start kong with this config results in the following errors:

    [INFO] kong 0.8.0
    [INFO] Using configuration: /etc/kong/kong.yml
    [WARN] cassandra.contact_points: must b

[2016-04-24 22:51] #1174 closed

[2016-04-25 21:37] robertharm opened #1176 "how to set up 2 different endpoints for an API on a webserver level?"
I tried to post the following question to the mailing list at https://groups.google.com/forum/#!forum/konglayer but unfortunately it always got deleted (I assume due to lots of (example) links?) - so I hope that it is ok to ask my question here...any help/hints would be appreciated!

----

Hi,

I set up a java application running at http://domain.com:2322/api?q= and would like to use the following

[2016-04-25 21:57] thibaultCha commented on #1176
As per my reply to your email on the mailing list, I am closing this issue so that further discussion can happen on the original thread at https://groups.google.com/forum/#!topic/konglayer/6gRk-gxHBl4

[2016-04-25 21:57] #1176 closed

[2016-04-26 02:30] hnq90 commented on #1165
Hi @thibaultCha

I found that I can proxy pass another services by Kong.

`php-services2` opens `0.0.0.0:1234->80/tcp`
but
`php-fpm` opens `9000/tcp`

[code]

[2016-04-26 03:14] #1165 closed

[2016-04-26 03:38] discobean commented on #845
+1 I thought this was the default method when first evaluating Kong and was surprised it wasn't

[2016-04-26 07:59] t1tcrucible commented on #1014
@ambrons We have developed a JWT plugin that generates a JWT (including Kong X-headers) for upstream API.
The JWT requires:
- an authentication plugin to be enabled on the API
- JWT credentials to be provided for the requesting consumer

I can make a PR to Kong, but I don't know if this is usefull for core.
The reason we have developed this plugin for an existing customer that want to standardize

[2016-04-26 07:59] t1tcrucible commented on #1014
comments are welcome:
[https://luarocks.org/modules/trust1team/kong-plugin-jwt-up](https://luarocks.org/modules/trust1team/kong-plugin-jwt-up)

[2016-04-26 14:18] ambrons commented on #1014
@t1tcrucible Thanks for the update.  I actually went another direction do to the eco system we're already running it we found alternatives.  That being said I'd be interested in looking at the plugin and providing feedback.

[2016-04-26 16:56] t1tcrucible commented on #1014
Our goal is to implement other authentication protocols, all resolving in signed JWT token (now HS256, but will go to RS256) for upstream.
Anyway, I'll PR to Kong - to see if it can be reviewed/commented.

Still have some tests to add.

[2016-04-26 19:40] thefosk commented on #1169
@patrickpierson we currently have `send_anonymous_reports` by default to `true` because it helps us fixing innumerable problems with Kong which is still a relatively young project. Think of it as a *boost* for bug-fixing, since we are able to identify problems as they happen for all the users that have it enabled.

For reference to any other user who comes across this issue, anonymous reports can

[2016-04-26 19:40] #1169 closed

[2016-04-26 20:29] thefosk commented on #1121
@martin-dostal currently not on the short-term roadmap, but PR are always welcomed.

[2016-04-26 20:29] thefosk commented on #1124
This has been implemented with https://github.com/Mashape/kong/pull/1154

[2016-04-26 20:29] #1124 closed

[2016-04-26 20:31] thefosk commented on #1095
@jimmypk I was reading the Consul documentation, and it seems like it supports both A and SRV records for service discovery (as opposed to your previous comment which stated that it only supports SRV records):

https://www.consul.io/docs/agent/dns.html

[2016-04-26 20:33] thefosk commented on #1056
Closing this since it's not an issue.

[2016-04-26 20:33] #1056 closed

[2016-04-26 20:33] #1044 closed

[2016-04-26 20:36] #993 closed

[2016-04-26 20:39] thefosk commented on #869
@ondrej I agree with @thibaultCha that if the server doesn't support a port number in the `Host` header, that seems to be more of a problem of the server since it's part of the HTTP specification.

[2016-04-26 20:39] #869 closed

[2016-04-26 20:48] shashiranjan84 commented on #998
@mgvarley Please use StatsD plugin, it logs Customer_id if there any. It works exactly same as Datadog. Meanwhile I will also update the Datadog plugin.

[2016-04-26 21:26] #998 closed

[2016-04-26 21:27] thefosk commented on #998
Will be available in 0.8.1

[2016-04-26 22:56] #1166 closed

[2016-04-26 23:59] thibaultCha commented on #1042
What makes this strange is that this block is never accessed unless `ngx.ctx.KONG_PROXIED` is true either, so I really don't see what could be causing this without more information. Was the code changed, is there a custom Nginx module running here? Or a custom Kong plugin?

[2016-04-27 00:23] #1150 closed

[2016-04-27 00:23] thefosk commented on #1150
Will land in 0.8.1

[2016-04-27 04:15] dingziran commented on #1115
I can always reproduce this error with ubuntu 14, kong 0.8, postgres as db. Hoping this can be fixed in the next release. My install method is downloading the .deb and install with dpkg, then modified the kong.yml to use postgres. Add api and plugins with kong-dashboard

[2016-04-27 11:29] hnq90 commented on #1117
@EwanValentine Could you explain more about your solution? I got same error.

[2016-04-27 12:42] hnq90 opened #1181 "Add API to Kong from same host but different port"
Hello,

I'm using Kong on Docker with some other services.

Kong exposes port 8001, 8002.
API 1 service exposes 8003 port.
API 2 service exposes 8004 port.
API 3 service exposes 8005 port.

And I want to add each above API to Kong same as the instruction in [Getting Started](https://getkong.org/docs/0.8.x/getting-started/adding-your-api/). But I couldn't found any way to do it.

Is there any solut

[2016-04-27 19:51] sinfloodmusic opened #1182 "key-auth plugin error when creating new keys - "unsupported media type" - change of behavior"
Hi, recently upgraded to 0.8.0 and the behavior for the key-auth key creation on a consumer appears to have changed.  The documentation (and previous behavior) asks for the following command to generate an apikey for a user:

curl -X POST http://localhost:8001/consumers/{consumer}/key-auth

This worked on the previous version I was running (0.7.0?) but now that command returns the following:

[cod

[2016-04-27 19:58] thefosk commented on #1181
Like:

[code]
?

[2016-04-27 23:58] shane-arkade opened #1183 "Cant get loggly integration working"
I'm testing out Kong and trying to get the Loggly integration working for logging requests but I cant seem to get any logs coming through. I think its a bug given an error that appears in the nginx error log, but I'm hoping someone can help me at least identify if this is in fact a bug with Kong or if there is some mistake in the configuration.

I have Kong setup on a AWS from here: https://aws.am

[2016-04-28 00:07] shashiranjan84 commented on #1183
Hi @shane-arkade ,

I will try to replicate it .

Thanks
Shashi

[2016-04-28 00:14] shashiranjan84 commented on #1183
@shane-arkade Was the issue only with response having status b/w 400 to 500?

[2016-04-28 00:19] shane-arkade commented on #1183
Ah yes correct @shashiranjan84 it was on only on a 404 response. Although I still don't get any logs coming through for 200 or 404 etc.

[2016-04-28 00:25] shashiranjan84 commented on #1183
I see the bug related to error. I am working on the fix.

Do you have outgoing UDP port open on AWS instance?

[2016-04-28 00:32] shane-arkade commented on #1183
Yes Im pretty sure it should be, i've only restricted the admin port as per https://getkong.org/docs/0.8.x/network/ although outgoing is all open anyway.

[2016-04-28 01:18] shashiranjan84 commented on #1183
Ok I already added the fix and would be released in next version 0.8.2. I will also try to test it in a  AWS environment to make sure it works.

https://github.com/Mashape/kong/tree/fix/loggly

[2016-04-28 01:34] shane-arkade commented on #1183
Thanks so much @shashiranjan84 for your help with this.

Will the AWS marketplace AMI be updated to 0.8.2 along with the release? Or is it best to upgrade Kong myself? If so can you point me in the right direction for upgrading the AMI to 0.8.x?

Im also not clear if this fix will solve my general issue of logs not getting through to Loggly even for 200?

[2016-04-28 01:58] shashiranjan84 commented on #1183
I am not sure what blocking your request to Loggly. I will try to test it.

Regarding AMI, we create new AMI for every new version. But you can update you current AMI to new version.  Please follow the instruction to add Yum repo and update kong.

1. download the repo file
`wget https://bintray.com/mashape/kong-rpm-aws-0.8.x/rpm -O bintray-mashape-kong-rpm-aws-0.8.x.repo`

2.  move it to repo dire

[2016-04-28 02:40] hnq90 commented on #1181
@thefosk
Thanks for your suggestion. I can add these API to Kong but when I send request to `http://127.0.0.1:8000/api1/`, I got this error  message:
[code]

[2016-04-28 02:44] shane-arkade commented on #1183
Great got Kong upgraded to 0.8.1 (and will upgrade to .2 when released)

If you are able to test Loggly with an AWS instance and confirm if it should work with a standard setup that would be greatly appreciated. Its really the only remaining feature we need before going ahead with Kong.

[2016-04-28 04:10] shashiranjan84 commented on #1183
Ok I just tested Loggly plugin on AWS instance and it worked fine for me. You can search for tag 'kong' in the loggly dashboard.

<img width="898" alt="screenshot 2016-04-27 21 08 07" src="https://cloud.githubusercontent.com/assets/8146958/14875138/4b932276-0cbc-11e6-9fbc-883bd1679e14.png">

[2016-04-28 04:22] shane-arkade commented on #1183
Thanks @shashiranjan84 for your help and fixing that bug.

Ill keep investigating, sounds like it must be a setup issue on my end. Would you be able to share your api and plugin setup json so i can compare?

[2016-04-28 04:33] shashiranjan84 commented on #1183
I added an API

curl -X POST ec2-52-91-222-52.compute-1.amazonaws.com:8001/apis/ --data "name=mockbin" --data "upstream_url=http://mockbin.org" --data "request_host=mockbin.com"

{
   "data":[
      {
         "upstream_url":"http:\/\/mockbin.org",
         "id":"cae2d9d8-a58d-4017-947c-e7a8ff353a61",
         "name":"mockbin",
         "created_at":1461816387000,
         "request_host":"mockbin.

[2016-04-28 04:48] shashiranjan84 commented on #1183
And if you want to fix error in current version just update the content of the file on your kong instance
`/usr/local/share/lua/5.1/kong/plugins/loggly/handler.lua` with

https://github.com/Mashape/kong/blob/fix/loggly/kong/plugins/loggly/handler.lua

[2016-04-28 05:09] shane-arkade commented on #1183
Thanks @shashiranjan84, you have been extremely helpful :)

Closing this issue but will comment if i find anything relevant.

[2016-04-28 05:09] #1183 closed

[2016-04-28 09:44] apur commented on #334
+1

[2016-04-28 12:40] TomSta opened #1185 "Question: Extra Nginx config not read from kong.yml?"
Maybe I'm not doing it right, but from what I understood I could use nginx config block in kong.yml to add new sites to be served. Is this possible or I'm understanding it wrong and instead of trying to push stuff inside kong I should just link it with standalone nginx container? I'm using kong with docker, I've tried to add server just below the http clause, but it seems that it's not being read/

[2016-04-28 16:59] BrianHutchison commented on #956
+1

[2016-04-28 22:10] thefosk commented on #1181
Maybe you need to set `strip_request_path=true` when adding the API:

[code]

[2016-04-28 23:25] aaronshaf commented on #1005
This would be huge.

[2016-04-29 00:45] timerickson commented on #1005
I am working on this using the project @thekiwi mentioned. I have a working POC but am working out an integration design.  I hope to post something very soon  for comment.

[2016-04-29 01:00] thefosk commented on #1005
@timerickson are you building a plugin for it?

[2016-04-29 01:15] timerickson commented on #1005
Yes. Based on the Adobe plug in.

Sent from places unknown by space age technology

From: Marco Palladino

Sent: Thursday, April 28, 6:00 PM

Subject: Re: [Mashape/kong] AWS Lambda Integration (#1005)

To: Mashape/kong

Cc: Tim Erickson, Mention

@timerickson are you building a plugin for it?

—

You are receiving this because you were mentioned.

Reply to this email directly or view it on GitHub

[2016-04-29 01:25] thefosk commented on #1005
@timerickson nice - I was thinking to start working on it, but I guess I am going to wait for your PR at this point and then review it together.

[2016-04-29 01:26] timerickson commented on #1005
Look forward to feedback. There will be some significant design decisions.

Sent from places unknown by space age technology

On Thu, Apr 28, 2016 at 6:25 PM -0700, "Marco Palladino" <notifications@github.com> wrote:

@timerickson nice - I was thinking to start working on it, but I guess I am going to wait for your PR at this point and then review it together.

—
You are receiving this because you

[2016-04-29 05:03] timerickson commented on #1005
Might not see a PR tonight - having some bumps getting a dev env set up. Had previously done an ad hoc POC in a regular installation...

[2016-04-29 07:55] dag24 commented on #1005
@timerickson I'm very keen to see this & test it out also.

[2016-04-29 11:03] gavinzhou commented on #1182
I get same error with jwt

[code]

[2016-04-29 14:14] chrisbaldauf opened #1186 "Double encoding of slashes when using replace.json with response-transformer"
## Overview

I'm seeing an issue where values for config.replace.json in the response-transformer plugin are showing up with doubly encoded slashes. This is an issue for me because I'm using kong with path based routing to serve swagger documents that need to have their `basePath` transformed to match the paths from which the APIs are being served.

Kong version: 0.7.0
Platform: Docker container

[2016-04-29 14:18] geovanisouza92 commented on #1095
I think that using the A records from consul and settings the ports mannually could be palliative, but considering my scenario, where all upstreams are docker containers, registered on consul with random ports (avoiding ports conflicts on docker), this still doesn't resolves the issue.

One thing that I'd used with vanilla nginx, is to generate `nginx.conf` from a template, rendering the upstreams

[2016-04-30 07:31] timerickson commented on #1005
Does anyone know of a way to access the api to which a plugin is being attached in the self_check ? Seems like this would be appropriate to do and it would be helpful to my effort, but for the life of me I can't figure it out. Got stuck on this otherwise probably would have gotten a preliminary PR out tonight.

Sent from places unknown by space age technology

On Fri, Apr 29, 2016 at 12:55 AM -070

[2016-05-02 15:36] bhurlow commented on #1182
I'm also encountering this behavior on `v0.8.1`. Supplying an empty post body creates the proper keys

[2016-05-02 16:45] thibaultCha commented on #1009
This also overlaps with #324, just in case someone is looking into it.

[2016-05-02 18:11] jmdacruz opened #1188 "Make the `certificate_authority` configuration item independent of the Cassandra configuration"
Tl;DR: This is a recommendation on the current semantics for the `kong.yml` configuration file. There is a way to circumvent this limitation, but it seems that a minor change on the interpretation of the configuration file would be better: Having a global SSL client configuration to store things such as certificates to validate HTTPS calls to external services.

Currently, there is a configuration

[2016-05-02 18:45] thibaultCha commented on #1188
Yes, this is something we are aware of and we have plans to change its behavior.

[2016-05-02 19:11] jmdacruz commented on #1188
Great! And I should have mentioned we had a good conversation with @thibaultCha in Gitter around this topic (see https://gitter.im/Mashape/kong?at=5719476eb129b59c56da6007)

[2016-05-02 19:35] jmdacruz commented on #1006
I can also think about more complex transformations on the `request-transformer` plugin, such as duplicating headers with different names, transforming values of headers into query string parameters and viceversa, etc.

[2016-05-03 14:34] nicklanng commented on #892
Hi, I've just been working on a PoC of Kong and run into this very issue - has there been any more work done in this area? Thanks.

[2016-05-04 03:00] luofanyuguai opened #1189 "where to find the road map of kong？"
thanks

[2016-05-04 06:12] #1101 closed

[2016-05-04 10:01] #1181 closed

[2016-05-04 20:46] thefosk commented on #1005
That is currently not possible. What kind of check are you trying to implement?

[2016-05-04 21:39] timerickson commented on #1005
I would like to know the upstream_url in some context where a plugin's config values can be defaulted. E.g. I create an api foo-api with upstream_url aws-lambda://us-west-2/my-lambda-func and now I have to create a plugin for that api and define again the region and function name, among other things. Certainly the plugin doesn't need that upstream_url to make the call to the lambda, so long as tho

[2016-05-04 21:42] timerickson commented on #1005
And I am just putting together a new PR that uses https://github.com/chatid/laws which is non-adobe-owned MIT licensed *and* available via luarocks (though only the dev channel as yet), to hopefully be more palatable to folk. I was hoping to get comment on the overall design strategy rather than simply on the particular dependencies.

[2016-05-05 19:04] thefosk opened #1191 "The typ header should be optional in the JWT plugin"
Plugin does not handle Bearer tokens that do not have the "typ":"JWT" in the header. Per https://tools.ietf.org/html/rfc7519#section-5 the use of the typ header is optional:

To reproduce, using information from https://getkong.org/plugins/jwt/:

[code]

The above works as expected. However, if the header does not include "typ" a 500 error is returned:

[code]

A 500 error is returned.

I am using

[2016-05-05 21:00] thefosk commented on #1005
@timerickson I see what you are trying to do. Yes currently it's not possible to access the API - the only possible way is patching Kong core to make it possible.

[2016-05-06 01:25] sean-sageify commented on #1191
Created pull request for change.  Tested locally fine.

[2016-05-06 04:19] timerickson commented on #1005
@thefosk Thanks for the feedback. I'm working to add some specs around this and get the PR in shape for actual merge. I may look at patching core to get access to the api for additional validation and achieving something like what I'm describing, but that should probably be in another PR, neh? ;-)

[2016-05-06 04:21] timerickson commented on #1005
@sinzone Can you say any more what you envision by "manage" lambda functions from Kong? Is it anything beyond or different from what I'm outlining in my PR #1190 ?

[2016-05-06 05:43] jusw85 opened #1193 "Allow selection of schema for Postgres datastore"
Postgres datastore uses 'public' schema implicitly.
Allow configuration to select the schema used.

Implementation wise, probably prefix all SQL/DDL statements with
`SET LOCAL search_path TO <schema_name>;`

[2016-05-06 10:24] ISMAELMARTINEZ opened #1194 "Mutual Authentication security"
Hi,

It will be great if we can have a mutual authentication (or client-base certificate) security plugin.

I think that will be a great plugin to have more if the "truststore" can be reloaded with new entries.

We are working with IoT devices that we register to a truststore so we can have mutual authentication, but Java keystore stuff is a pain and do require refreshing the SSL connector at leas

[2016-05-06 19:02] thibaultCha commented on #1194
Why not using the `ssl_client_certificate` directive of Nginx? I'm not sure about the feasibility, nor even the behavior of this made as a plugin.

[2016-05-07 03:11] jmdacruz opened #1195 "Hybrid or "consumer-less" authentication and integration with other plugins"
I'm not sure if this is really an issue, but more of a general question and may be it's related to missing documentation.

I have a plugin that validates JWT tokens against an external service (an [RFC 7662](https://tools.ietf.org/html/rfc7662) token introspection endpoint), and passes certain parameters to the upstream service, such as attributes on the JWT. Because of the nature of our applicati

[2016-05-08 00:37] arsdehnel commented on #608
Is anyone actively working on this? I'd definitely be interested in it and willing to help out but didn't want to duplicate work.

[2016-05-08 15:57] mjdev commented on #928
So I have seen, that now 'kong start' is run as a foreground process, but now I do not have access or error logs. How can I tell kong that I want these logs to be printed to stdout, to make it accessable via 'docker logs'?

[2016-05-09 10:53] ISMAELMARTINEZ commented on #1194
Hi @thibaultCha,

Our current problem is that we are registering devices to the truststore and every time this happen we need to restart the SSLConnector (this is using tomcat & Java keystore) and that is not desirable (to use nice words).

This process is basically a call to an end point that allow devices to do that sign in or registration process. We deal with the authorisation using other meth

[2016-05-09 13:38] sinzone commented on #608
@arsdehnel no one is working on it atm

[2016-05-09 13:55] kbroughton commented on #608
I'd be happy to test any WIPs.  I have kong deployed in mantl (deployed
with terraform) via the example addon atm.

https://github.com/CiscoCloud/mantl/tree/master/examples/kong

On Mon, May 9, 2016 at 8:38 AM, Augusto Marietti <notifications@github.com>
wrote:

--
kesten broughton
devops @ cognitivescale

[2016-05-09 19:02] arsdehnel commented on #608
Well this is what I have so far.  As the readme of the repo indicates I'm relatively new to Terraform, Kong and AWS so I might be doing some things a bit out-of-the-ordinary.  If so I'm love some feedback on that.

https://github.com/arsdehnel/kong-tf

I'm using the AWS CloudFormation templates from here (https://getkong.org/install/aws-cloudformation/) and attempting to reverse engineer from ther

[2016-05-09 19:55] zhukau opened #1196 "Allow non-public Postgres schema"
If using custom schema in Postgres, i.e. - `kong`, instead of `public` Kong works until first restart/reload.
Then it fails with error message `Error during migration 2015-01-12-175310_init_schema: ERROR: relation "custom_id_idx" already exists` caused by hardcoded `public` schema name in database objects existence checks.

While it is nice to have a configurable schema name as suggested in issue

[2016-05-10 10:29] Diwann commented on #409
I have a similar issue: when I make a request with the "Accept-Encoding: gzip" header, my answer is empty ...
And gzip on the nginx server seems already activated as it already answer "Accept-Encoding: gzip" in the response header

[2016-05-11 04:33] chulkilee commented on #522
@daviesf1 could you update the title of this issue to "OpenID Connect"?

[2016-05-11 09:25] Diwann opened #1200 "Kong + Gzip doesn't work"
Probably a newbie question here, but I am struggling with it for 2 days and can't find the answer...

So: I can't manage to make Kong accept the  "Accept-Encoding: gzip" header.
Whenever I make a request with the "Accept-Encoding: gzip" header, I have a correct 200 OK status, but my answer is empty ...
And gzip on the openresty nginx server seems already activated as it already answer "Accept-Enco

[2016-05-11 12:55] mdan1eli commented on #1182
or specifying the content type as "application/x-www-form-urlencoded" works as well

[2016-05-12 01:12] ddelazerda commented on #328
+1

[2016-05-12 03:09] WALL-E opened #1203 "feat(plugins/log-serializers/infuxdb)"
I want to use infuxdb store log, then I can use Grafana, She is so beautiful.

Does anyone else have this need?

[2016-05-12 03:51] sinzone commented on #1203
usually they do something similar but with the ELK stack via one of our logs plugins.

[2016-05-12 05:49] WALL-E commented on #1203
ELK is a little too complicated, Maintenance costs are relatively high.
I’ve been working with InfluxDB + Grafana recently, much cooler, much more flexible.

kong is  easy to support infuxdb, only need to implement a serializers function.
because infuxdb use Restful-API to import data and kong's http-log is available.

usage should look like this
[code]

Did I miss something？

[2016-05-12 05:59] mortensoby opened #1204 "Unable to use the request path "/""
When I specify a request path which is just "/" as show here:
`curl -X POST -F "name=messageService" -F "upstream_url=http://10.0.2.2:8080" -F "request_path=/" "http://localhost:8001/apis/"`
I get the following message:
`{"request_path":"cannot be an empty path: '\/'"}`

[2016-05-12 06:08] mortensoby opened #1205 "Cannot use non-ascii characters in request_path"
When I use non-ascii characters in the request path as shown in the following snippet:
`curl -X POST -F "name=kødsalg" -F "upstream_url=http://10.0.2.2:8080" -F "request_path=/kødsalg" "http://localhost:8001/apis/"`
I get the following error:
`{"request_path":"must only contain alphanumeric and '., -, _, ~, \/' characters","name":"name must only contain alphanumeric and '., -, _, ~' characters"}`

[2016-05-12 08:51] Tieske commented on #1203
Contributions are welcome :smile:

for code-reuse something like this should work;
refactor http-log slightly; factor out the serialization code from the `log` method, and replace ID's (eg. all error messages now have a hardcoded plugin name) to be configurable as properties.

From there you can `extend` the http-log object and update the properties and replace the serialization function.

A quick

[2016-05-12 09:49] Tieske commented on #1205
define `legal` :smile:

how about [rfc3986](http://tools.ietf.org/html/rfc3986), see section 2.

[2016-05-12 13:44] dotlouis commented on #858
I just came to realise that a Stormpath plugin for Kong is what I need.
I'm looking to integrate the apiKeys of stormpath with the apiKey auth plugin of Kong.
That would be a good start.
For now I'm registering the stormpath apiKey into kong at account creation.
The only thing that's blocking me is the fact that if I disable/delete the apiKey on stormpath, it still lives on Kong so it's not a good

[2016-05-12 14:47] Diwann commented on #1200
Ok, I manage to make it work by deactivating the "response-transformer" plugin.
Any idea what is the link between those 2 things ?

[2016-05-12 16:04] rdegges commented on #858
Hmm, you'd most likely have to write some sort of script to pragmatically remove those Stormpath keys from Kong when you delete the account. I can't think of a better way to do it offhand.

[2016-05-12 17:03] rdegges commented on #858
Oh, also! Wanted to mention -- Stormpath now has an official ideas board. The more votes we get, the more we prioritize things. Here's the Kong integration thing if any of you want to vote / comment: http://ideas.stormpath.com/ideas/IAM-I-70

[2016-05-12 18:10] jorgecoelho commented on #218
+1

[2016-05-13 04:44] hutchic commented on #1095
I'm a little late to the discussion but was dropping in to point out that consul-template (as @geovanisouza92 noted) would work quite well for specifying nginx upstreams

[2016-05-13 10:45] Tieske commented on #1204
Well, that is not allowed. So what did you expect? either `request_path` or `request_host` is required. See https://getkong.org/docs/0.8.x/admin-api/#add-api

[2016-05-13 11:13] Tieske commented on #1203
Refactor part is done, see #1206. You can now simply create your own body format from here.

[2016-05-13 12:48] johnpaul2 opened #1207 "Unable to complete request when response transformer plugin is active"
When I add the response transfomer plugin to an existing api the response is cut off.
Example:
[code]

When I call the API I get the following error:
[code]

The header is returned immediately. The error message appears after some time.

I have testeted this with kong 0.6.1, 0.7 and 0.8.1 and with different upstream urls.

[2016-05-13 13:31] ukcuf opened #1208 "response-transformer doesn't handle empty JSON array well"
response-tranformer by default would do response body's transformation by cjson.decode(), and later does a cjson.encode() even if no transformation to response body is required.

This uses cjson.decode() and cjson.encode() but cjson's current version from luarocks does not handle empty array well in below case:

[code]

The json_str_foo becomes:
`{"items":{},"properties":{}}`

instead of `'{"items

[2016-05-13 14:35] JnMik opened #1209 "Empty parameters not forwarded, blocker for me"
We are using a third-party system API and we can lookup for data by searching for fields with empty values doing so :

&filters%5Bsome-field%5D%5Bconditional%5D=NOT_EQUAL_TO
&filters%5Bsome-field3%5D%5Bvalues%5D=

See that &filters[some-field][values] is passed but empty.

Our third-party receive the request like this :
[code]

When using kong, our third party receive the request like this :
[code

[2016-05-13 18:18] thefosk commented on #1005
@timerickson let me know if you need any help in patching core

[2016-05-13 19:30] ahmadnassri commented on #1189
indeed, we've been behind on publishing updates, should be under [wiki](https://github.com/Mashape/kong/wiki) and [milestones](https://github.com/Mashape/kong/milestones) soon. thanks for being patient :)

[2016-05-13 19:30] #1189 closed

[2016-05-13 19:51] ahmadnassri commented on #714
https://getkong.org/plugins/runscope/

[2016-05-13 19:51] #714 closed

[2016-05-13 20:12] thefosk commented on #1209
I just pushed a fix for this.

[2016-05-13 20:12] #1209 closed

[2016-05-13 20:12] shashiranjan84 commented on #965
@thefosk Yes.

[2016-05-13 20:12] #965 closed

[2016-05-14 05:29] jmdacruz opened #1211 "Potential optimization to rate limiting plugin"
_(Please let me know if any of this makes sense. It seems that it does, but I might be missing somehing)_

Looking at the current implementation for rate limiting, it seems that the plugin will query the database to find the current usage metric for a particular period (second, minute, hour, day, month, year) even after the limit has been met (see: https://github.com/Mashape/kong/blob/master/kong/

[2016-05-14 07:27] sonicaghi opened #1213 "Forgerock Integration"

[2016-05-14 22:50] Diwann commented on #1200
What does "BC" means ?

[2016-05-15 05:24] timerickson commented on #1005
@thefosk will do - but I'm going to do that in a separate effort in a separate PR. I just want to get this first one in and be able to iterate from there.

[2016-05-15 05:34] timerickson commented on #1005
PR #1190 is now submitted for merge.

[2016-05-15 07:21] t1tcrucible commented on #259
+1
We are having the same issue; When an upstream server has already CORS enables, the CORS plugin should deal with it.

[2016-05-15 10:35] WALL-E commented on #1203
infuxdb-log is done, see [#1214](https://github.com/Mashape/kong/pull/1214)

[2016-05-15 13:31] ahmadnassri commented on #1200
@diwann just labels we use to track issues infernally...

we are actively looking at the gzipping questions for Kong.

[2016-05-16 08:44] activars commented on #889
Hi @thefosk, can you clarify if you meant logs or metrics?

[2016-05-16 12:20] Diwann commented on #1207
Maybe try to deactivate the "Accept-Encoding: gzip" header in your query?
see: https://github.com/Mashape/kong/issues/1200

[2016-05-16 15:52] lagonnebula opened #1217 "[help] add TTL in Kong DAO"
Hello,

im trying to write a fork of the KeyAuth plugin to implement expiration time of the key.

I wanted to achieve this by adding a TTL info on cassandra. Anyone know how i can make this ?

[2016-05-16 21:01] subnetmarco opened #1218 "Kong no-downtime upgrades"
Currently executing no-downtime upgrades between different Kong versions it's tricky and not ideal. This issue has been known internally for a while, and I thought it would be a good idea to write it down.
#### Problem

The problem is caused by the fact that a newer Kong version may be executing schema migrations on a database that is currently being used by a previous version of Kong. Since some

[2016-05-16 21:17] SGrondin commented on #1218
Very rough idea to get the conversation started.

- The node that receives the kong migration command (let's call it the coordinator) would use the same pubsub system used by the cache invalidation to tell all the nodes to make the DB invisible/disconnected.
- The coordinator also makes its own DB invisible/disconnected everywhere except to the migration script.
- The coordinator does the DB migra

[2016-05-16 21:29] Tieske commented on #1218
Both the first and second issue are based on in-memory-cache-misses. The cache is only filled if the data was at least requested once. So can we instruct the Kong nodes to cache everything? Just prior to an upgrade and disconnecting from the database.

@SGrondin I don't think the same Kong nodes get back, you need new ones, upgraded as well. So its not just reloading.

Also; migration could be don

[2016-05-16 21:54] sonicaghi opened #1219 "MQTT plugin"
https://eclipse.org/community/eclipse_newsletter/2014/february/article2.php

[2016-05-16 22:07] timerickson commented on #1005
@thefosk I'd like to take you up on that core-patching help. Not for this PR, of course, but I've tried a couple times now and I think I could eventually get it, but I'm having trouble figuring out the best place. I feel like it could be passed as an additional arg to self_check from schemas_validation.validate_entity. There's getting to be too many args there already, though, but I don't see any

[2016-05-16 22:13] sonicaghi opened #1220 "Mesosphere distro"

[2016-05-16 22:14] sinzone commented on #1220
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;sZuY2Ll6&#x2F;3-mesosphere-distro"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Mesosphere distro</a>

[2016-05-16 23:09] Tieske commented on #1219
What would you expect this plugin to do?

[2016-05-17 02:26] sinzone commented on #1219
transformations. since kong doesnt support this protocol natively.

[2016-05-17 04:27] t1tcrucible commented on #1219
+1 (if possible)
We were looking aswell in a solution for this, with an additional service complementary, using introspection for authentication with Kong. But seems like a hard nut to crack.

[2016-05-17 08:01] Tieske commented on #1219
@t1tcrucible can you explain in more detail what your usecase is? Kong runs http not mqtt. So you envision some protocol conversion?  http <-> mqtt ?

[2016-05-17 08:42] johnpaul2 commented on #1207
Disabling the compression did not fix the issue, e.g.:
[code]

I guess it is a problem with the body parser. When I comment the function `ResponseTransformerHandler:body_filter` in the file kong/plugins/response-transformer/handler.lua the requests completes successful.

[2016-05-17 11:15] jarl-dk commented on #1204
@Tieske: What is not allowed? The curl snippet
[code]
does provide the mandatory `request_path` attribute. The error message claims that it is empty, which is not true. It is set to `/`.

[2016-05-17 11:26] Tieske commented on #1204
Let me ping @thefosk or @thibaultCha, they probably know why this not allowed. My guess is that its based on multiple hosts and path combination to be resolved.

[2016-05-17 11:28] jarl-dk commented on #1205
@Tieske : RFC3986 is a good proposal for definition of "legal".
Now, the question is:

**How shall I configure Kong for URL paths that needs to url-encoded?**

Basically there seems to be to possible answers:

1. Kong handles the url-encoding, accepting character encodings like UTF-8.
1. The user must deal with the url-encoding.

If you see other options to achieve the goal, please share your solu

[2016-05-17 12:40] Tieske commented on #946
superseded by #1221 against branch `refactor/cli`

[2016-05-17 12:40] #946 closed

[2016-05-17 13:28] t1tcrucible opened #1224 "Possibility to config priority of plugins"
At the moment we are facing the following issue:
When we register an API, with 2 or more authentication policies, as an example:
- key-auth (in order to retrieve the consumer == application context)
- jwt (in order to retrieve the logged-in user identity)

We see that both key-auth/jwt have priority 1000 => when using mockbin it's clear that the X-Consumer-ID/Name/... is referencing to the logged-

[2016-05-17 13:33] Tieske commented on #1224
duplicate of #590?

[2016-05-17 13:48] Tieske commented on #1205
Thx for the clarification @jarl-dk

[2016-05-17 15:21] jfirehammer-credibly commented on #1115
Any update on this? I am using curl locally to add an ip-restriction (no dashboard), and it sometimes works and sometimes does not. I can tell right away because the _whitelist_cache is not returned if it failed. It's extremely frustrating especially since I am now in production. It seems that restarting kong and then adding it usually works, but I don't like doing this to a production server when

[2016-05-17 15:49] t1tcrucible commented on #1224
Yes correct! I overlooked, thank you

[2016-05-17 16:43] #1224 closed

[2016-05-17 17:03] jarl-dk commented on #1205
@Tieske: When considering a solution. My suggestion is to head for

[2016-05-17 19:09] #1217 closed

[2016-05-17 19:33] sinzone commented on #1217
#333

[2016-05-17 20:41] magic69 commented on #1130
I just installed the latest version(0.8.1), I can confirm this issue no longer exists.
Thanks !

[2016-05-17 21:06] Tieske commented on #1205
not sure here. I think Kong should accept urlencoded arguments, but not necessarily do the encoding. Encodings are hard. I don't think there is a way for Kong to handle all of them, so instead I think its better to not handle them at all. The user knows what he's intending to use, so he's most capable of doing the encoding.

So fields `request_path`, `request_host` and `upstream_url` should allow

[2016-05-18 00:18] thefosk commented on #1204
I can't see why `/` wouldn't be allowed - @thibaultCha?

[2016-05-18 02:53] rhasson opened #1226 "Proxy request based on dynamic lookup of remote_address header"
Hi,

I have a strange use case that I would like to understand if it can be supported with Kong.

I give my customers a certain url for accessing my api, for example, api.myco.com

Now I want to whitelist some customers to try a new version of the API.  I don't want to give them a new url but rather handle the translation in the backend.  In this example, customer1 has been whitelisted.  When they

[2016-05-18 03:16] thefosk commented on #1226
@rhasson have you tried to use the [ACL plugin](https://getkong.org/plugins/acl/)?

[2016-05-18 03:34] rhasson commented on #1226
So I looked at the ACL plugin and it will append a X-Consumer-Groups header with the group I've associated to a particular consumer (the API caller) based on API key or some other authentication method.  Now my challenge is how do I make a routing decision based on that header?

For example, if the header contains X-Consumer-Groups=new_feature then proxy the request to api.upstream.com/v2 instead

[2016-05-18 03:53] thefosk commented on #1195
Unfortunately this is not documented. `ngx.ctx.authenticated_credential` is usually a table that has the following properties:

[code]

`ngx.ctx.authenticated_credential.id` is the ID of the actual credential entity on the database, while `ngx.ctx.authenticated_credential.consumer_id` is the consumer whose the credential belongs to.

I believe so.

The internal API is subject to change and we hope

[2016-05-18 05:19] thefosk commented on #1226
I got it now, I see what you are trying to do. Currently there is no way to routing the request to different upstream URLs based on rules like that.

[2016-05-18 05:25] thefosk commented on #719
Do you still experience this issue? If you are using AWS, we are now distributing an AWS-specific distribution that should have fixed this problem: https://getkong.org/install/aws-linux/

[2016-05-18 05:25] thefosk commented on #719
Please re-open if the issue persists.

[2016-05-18 05:25] #719 closed

[2016-05-18 07:29] jmdacruz commented on #1195
Thanks for the clarification, @thefosk. I think that leaving it open for these type of applications where consumers do not necessarily have an entity on the database makes a lot of sense. In some cases, certain plugins will work with this model (rate limiting being a clear example), but some other plugins might not (plugins that need to attach information to consumers beforehand). Plugins such as

[2016-05-18 08:41] lagonnebula commented on #1164
I have the same issue, it's only happen when i restart the docker container

[2016-05-18 09:28] WALL-E opened #1228 "Feat(plugins/Correlation ID) add new Generators"
uuid is no practical meaning,  I want to add a new Generators,  the following code
[code]
When I see the new-uuid, I can quickly locate and find out where the problem is.
Especially when the cluster is deployed,  Location information will be very important.

in addition, nginx's error.log can be associated,  *ngx.var.pid* and *ngx.var.connection*
[code]

[2016-05-18 09:30] #1203 closed

[2016-05-18 11:39] rhasson commented on #1226
Thank you for the feedback

[2016-05-18 11:39] #1226 closed

[2016-05-18 15:00] gianlucatomasino commented on #656
+1

[2016-05-18 16:51] thefosk commented on #1005
@timerickson I was thinking about it, and I am still not 100% sold on the core patch. While it's true that the plugin could check the `upstream_url` to verify it contains a proper lambda endpoint, it's also true that the API could be later updated to change that property to anything else without any way for the plugin to possibly know it.

I think it would make more sense to retrieve and check the

[2016-05-18 18:43] timerickson commented on #1005
I am not 100% sold on the patch either, esp. considering what it looks like would be involved. But that doesn't change that I is appropriate to be able to validate the upstream_url or the api in general at plugin edit (insert and update) time. I thought there was another issue (which I cannot currently locate) that described wanting the plugin validation to occur on plugin change in addition to cr

[2016-05-18 19:59] thefosk commented on #1005
Since the check at run-time should be done anyways, I would start with that until I figure out a nice way of passing the API object to the plugin check.

[2016-05-18 20:08] timerickson commented on #1005
While I'm still thinking of it... it had occurred to me this association between an api or more specifically it's upstream_url's schema and a plugin might be made explicit. I.e. If the upstream_url scheme is not on a whitelist (e.g. http, https), then by enforced convention it would have to match an existing plugin that is marked as capable of such origin provision. In the case of lamba, then, the

[2016-05-18 20:12] thefosk commented on #1005
Yep, we would need to extend core to allow this too, since currently we patched core with plugin-specific logic (by allowing an additional protocol).

[2016-05-18 21:24] geovanisouza92 commented on #1055
+1

[2016-05-19 03:42] luofanyuguai opened #1230 "kong' s api rule with both request_host and request_path at the same time,it works?"
indeed ,many time our api gateway may serve multi domain and one domain with multi path which one path  need different  plugin to do something

[2016-05-19 04:05] harryparmar commented on #1164
You should check additional messages in
/usr/local/kong/logs/error.log
In past I have found runscope plugin to be issue

You can go inside docker by
docker exec -i -t [name of your docker use docker ps to find out] bash
and then VI

[2016-05-19 04:47] harryparmar opened #1231 "Does LDAP plugin work?"
Hi thanks for adding LDAP authenication, I am having some difficulty getting it to work.

first i think in your documentation below hide_port should be ldap_port?
$ curl -X POST http://kong:8001/apis/{api}/plugins \
    --data "name=ldap-auth" \
    --data "config.hide_credentials=true" \
    --data "config.ldap_host=ldap.example.com" \
    --data "config.hide_port=398" \
    --data "config.base_d

[2016-05-19 05:08] shashiranjan84 commented on #1231
Yes it should be  `ldap_port`, we will update the document soon.

You can use any base64 encoding utility based on the language you coding.  Following is example from the integration test for LDAP

https://github.com/Mashape/kong/blob/master/spec/plugins/ldap-auth/access_spec.lua#L74

What error you getting?

[2016-05-19 17:48] mjhlobdell commented on #259
+1 Same issue.  Please fix.

[2016-05-19 20:30] thefosk opened #1233 "JWT plugin doesn't migrate the algorithm column properly"
When upgrading Kong to 0.8.x a new `algorithm` column is being added by the JWT plugin. If the user was already using the JWT plugin and already had data, the `algorithm` column is not being pre-populated with any value, which causes a null exception at runtime.

[2016-05-19 21:13] cvrabie opened #1234 "Path/Operation restriction plugin"
Idea: plugin that restricts access to a path and/or operation based on white and blacklists.
Ideally the path definitions should allow wildcards.

Example config that **blocks**
- DELETE operations on all paths
- all operations on paths starting with `/admin/`
- POST, PUT and PATCH operations on exactly the path `/users`:

[code]

[2016-05-20 03:26] sky15893303 opened #1236 "hmac"

[2016-05-20 03:26] #1236 closed

[2016-05-20 03:58] hutchic commented on #608
I made a small PR https://github.com/arsdehnel/kong-tf/pull/2

I've only verified the TF brings up infrastructure and machines that look right haven't poked around the EC2 instances themselves just yet but so far so good

We should probably include / allow for setting up the Kong AMI from more than just one region

[2016-05-20 06:04] t1tcrucible commented on #259
Some additional info on why some APIs have CORS enabled as well. For some APIs registered on Kong, the API has an admin interface, which is not using the gateway to request the API (with restricted access). The admin interface used - mainly for maintenance and some other management tasks - triggers CORS from the browser. When we disable CORS from the API and add CORS policy on Kong, that's ok for

[2016-05-20 06:05] t1tcrucible commented on #1233
Just for information, we solved this during upgrade to Kong 8.1 executing the following statement on Cassandra node:
update jwt_secrets set algorithm = 'HS256' where id IN (90a5336f-a798-4799-b15a-9784a8bd2e06,...,522ffee5-79b3-4baa-b436-f257ef75e27c)

[2016-05-20 06:32] sinzone commented on #259
@thefosk  ^

[2016-05-20 12:41] chicoandrade commented on #1230
Hi @luofanyuguai , It doesn't work.
It got answered on the issue https://github.com/Mashape/kong/issues/1056 when I asked about strip_request_path with request_host:

[2016-05-20 13:07] mleace opened #1237 "Storing sensitive information in database"
Hello,

as far as I know, sensitive informations (like API keys, OAuth client secrets, OAuth access & refresh tokens etc.) are stored in database in plain text, which might be a security issue. Is there any way to store these informations encrypted (or hashed when applicable). If not, is there a plan to implement such feature? I know there will be a performance penalty, but still this might be nec

[2016-05-20 22:41] shashiranjan84 commented on #259
I have been through the code, plugin intercept the request and update all the headers according to configuration. If `preflight_continue` is set then request would be upstreamed. Seems like upstream server also updating the `Access-Control-Allow-Origin` header , which in above case concatenating the `*` . Once solution can be the Upstream server should itself check if CORS headers already set. Ano

[2016-05-20 22:50] thefosk commented on #796
Related to #1191 which proposes a solution.

[2016-05-20 22:54] thefosk commented on #1185
This works locally so maybe Docker is not picking up your updated `kong.yml` file?

[2016-05-20 23:07] thefosk commented on #1115
@jfirehammer-credibly I having an hard time trying to reproduce this problem, it seems to work every time for me. For values are you using to reproduce this issue?

[2016-05-20 23:21] shashiranjan84 commented on #1231
@harryparmar were you able use the LDAP plugin?

[2016-05-21 03:12] harryparmar commented on #1231
I will give it try on Monday and get back to you.

[2016-05-21 21:06] sinzone commented on #624
@noamelf @shashiranjan84 @thefosk should we close this one?

[2016-05-21 21:33] shashiranjan84 commented on #624
Yes, Closing it.

[2016-05-21 21:33] #624 closed

[2016-05-23 02:38] luofanyuguai commented on #1230
in future, can support?

[2016-05-23 10:10] pradeepmurugesan opened #1238 "Resource Level Control - Authentication & Throttling"
Hi,

 We are planning to integrate Kong into our architechture and after some playing around with Kond admin apis, We have the following questions.

**1. Resource level Authentication**

I could see that the Admin API for adding an API contains request_path with the help of which I can add resources to my API. Will I be able to control the Authentication at Resource and HTTP Method of the resource

[2016-05-23 10:29] DonMartin76 commented on #1194
Isn't what would be appropriate this: http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_ssl_certificate ?

[2016-05-23 13:22] mlucchini opened #1239 "Getting 500 when updating an API (postgres)"
I'm using Kong 0.8.1.

_/usr/local/kong/logs/error.log_:

2016/05/23 13:14:22 [alert] 122#0: send() failed (90: Message too long)
2016/05/23 13:14:22 [error] 122#0: *125 lua coroutine: runtime error: /usr/local/share/lua/5.1/kong/dao/postgres_db.lua:98: table index is nil
stack traceback:
coroutine 0:
	/usr/local/share/lua/5.1/kong/dao/postgres_db.lua: in function 'parse_error'
	/usr/local/share/l

[2016-05-23 14:22] jfirehammer-credibly commented on #1115
SImple, I just did this a second ago:

[code]

Note the lack of _whitelist_cache, which means that it failed. I can't tell you how to consistently reproduce this, but it fails more often than not for me. If I restart Kong and then do the POST, it is usually successful. You might have to just try to fix this via code inspection.

This is kong 0.8.0.

[2016-05-23 22:38] thefosk commented on #259
Hello - I have pushed a PR (#1240) that seems to be fixing this problem. Could you try it and let me know if it effectively closes this issue? (@Bl4ckM @t1tcrucible @mjhlobdell)

[2016-05-23 23:15] thefosk commented on #852
This issue may be closed by #1240

[2016-05-24 02:16] ammmze opened #1241 "OAuth2 Plugin + "request body in temp file""
We're running into an issue with the oauth2 plugin on kong (v0.8.1) causing a 500 error when our request body is relatively large. We get an error like this:

[code]

As a workaround, we found that we can set `client_body_buffer_size` in the nginx configuration so it doesn't write to a temporary file. Are there any other ways we can get this work rather than setting it to some arbitrary value and

[2016-05-24 04:59] fmartins commented on #218
+1

[2016-05-24 06:33] ericln opened #1242 "Running kong in docker container, exit right after started"
We are trying to get a kong container up and running in my cluster, and when we were linking database (cassandra or postgres), the kong container can be started no problem. However, when we were using a `kong.yml` file, setting the desired connection to a AWS RDS (postgres) database, then we are getting the following in the docker log and container would exit right away.

any thought?

[code]

[2016-05-24 06:36] thefosk commented on #1242
When using a custom `kong.yml` file, you want to make sure the following property in the `nginx` configuration is set as `daemon off;`: https://github.com/Mashape/docker-kong/blob/master/config.docker/kong.yml#L13

[2016-05-24 06:38] sonicaghi opened #1243 "SignalFX integration"

[2016-05-24 06:51] t1tcrucible commented on #259
Thank you @thefosk, we'll test it out and provide feedback

[2016-05-24 06:59] thefosk commented on #1193
By closing #1198 Kong will now uses the default `search_path` whose value is `'"$user", public' ` (http://www.postgresql.org/docs/9.1/static/runtime-config-client.html).

An additional update on the Postgres client is required to make this value configurable. Assigning this to @thibaultCha since he built the Postgres driver.

[2016-05-24 07:00] #1196 closed

[2016-05-24 07:19] #1191 closed

[2016-05-24 07:19] thefosk commented on #796
Fixed with cab241fdf5e8c008a859cd01f79da8b0c96c0c67

[2016-05-24 07:19] #796 closed

[2016-05-24 07:50] thefosk opened #1244 "Runtime JWT errors"
These are some remote errors logged by the JWT plugin at runtime:

[code]
[code]
[code]
[code]

[2016-05-24 08:26] thefosk commented on #1115
The `fix/ip-restriction` branch has a fix proposal for this issue (which for some reason I cannot replicate on my environment, not even with the latest instructions).

Could you checkout that branch, `sudo make install && kong restart`, and see if this fixes the issue?

[2016-05-24 08:27] #1204 closed

[2016-05-24 08:29] thefosk commented on #259
@t1tcrucible if you guys could test it within 24h, and it works, I will make sure to include it in the 0.8.2 release on Wednesday

[2016-05-24 15:46] DonMartin76 opened #1246 "Kong behind dockercloud/haproxy - Problem with oauth2 plugin (ngx.var.scheme:lower() fails)"
Hello,

I have a strange problem with my current setup here when using the oauth2 plugin. My setup is as follows: I am using kong inside docker, running without SSL. Using docker-compose, we are terminating the SSL connection using dockercloud/haproxy, also to be able to cluster Kong inside our docker environment.

Now, when using the oauth2 plugin and trying to retrieve a token from the (auto-gen

[2016-05-24 15:49] ericln commented on #1242
right that worked, thanks

[2016-05-24 15:49] #1242 closed

[2016-05-24 16:31] arsdehnel commented on #1237
curious about this as well, it'll be a deal breaker on Kong if there isn't a way to make this happen.  Guessing I could create a new OAuth plugin that uses a hash algorithm on save and then again on authorization but having never written Lua that seems like a bad place to start (with cryptography).

[2016-05-24 17:09] t1tcrucible commented on #1237
This is no real comment, but sharing some experience. Maybe a Hashicorp vault can play a role, we had the same reflection. But until now no issue at our customers storing jwt, oauth tokens. This is because the Kong gateway port 8001 is only accessible from our own application, and infrastructural restrictions apply. We have a use case were we had to enrich payment transactions with merchant ID's;

[2016-05-24 17:21] harryparmar commented on #1231
@shashiranjan84 I just get message

{
"message": "Unauthorized"
}

My header looks like this

 GET /SOME_API?TEST_PARAM=5302852545&CONTRACT=1234 HTTP/1.1
 HOST: ZEUSUSNESP:8000
 credentials: dGVzdDp0ZXN0

My LDAP settings are correct as I can use third party tool like LDAP Browser

[2016-05-24 17:23] jmdacruz commented on #1237
It's important to separate "data at rest encryption" (which can be handled by the database directly and transparently) from one-way hashing. The first tries to mitigate the issue in which an attacker gains physical access to the database, so that the database files cannot be read directly. The latter tries to mitigate the issue in which an attacker gains access to an application server which can q

[2016-05-24 17:34] shashiranjan84 commented on #1231
Are you setting Authorization header?

in your it should be something like this

Authorization: LDAP dGVzdDp0ZXN0

[2016-05-24 17:57] arsdehnel commented on #1237
I agree @jmdacruz that it is important to distinguish those two things. Due to contracts we have with our clients we need one-way hashing of this sort of information.

I like the idea of storing the algorithm components in the record for incremental hashing possibilities but I'd be concerned about performance of such a solution.  Maybe that's unwarranted?

[2016-05-24 18:09] harryparmar commented on #1231
@shashiranjan84 changing my header to look like this

GET /SOME_API?TEST_PARAM=5302852545&CONTRACT=1234 HTTP/1.1
HOST: ZEUSUSNESP:8000
Authorization: LDAP dGVzdDp0ZXN0

Now I receive this message-

{
"message": "Invalid authentication credentials"
}

[2016-05-24 18:09] jarl-dk commented on #1204
Great this looks good.

[2016-05-24 18:18] jmdacruz commented on #1237
What I meant by "incrementally" is that when you figure out that XYZ hashing algorithm is broken (i.e., somebody find a cryptographic attack on it making it easy to find collitions) and needs to be replaced, you can make this change incrementally when you ask your users to update their passwords... because you'll have some users with their old password and old hashing algorithms and some users wit

[2016-05-24 18:37] shashiranjan84 commented on #1231
Check the log for any msg from LDAP server. Also please post here your Plugin config.

Also you follow this link https://github.com/Mashape/kong/blob/master/spec/plugins/ldap-auth/access_spec.lua#L75 <https://github.com/Mashape/kong/blob/master/spec/plugins/ldap-auth/access_spec.lua#L75>
as example.

[2016-05-24 18:55] t1tcrucible commented on #1237
@jmdacruz I agree aswel but if a user can access the data storage underneath Kong, I have much more concerns than only how to store tokens, keys, etc. A user can change the upstream uri's as well and perform MIT attacks (tampering with the provided headers for example). This is why from my point of view, Kong instances should be well protected in the infrastructure. In our architecture right now,

[2016-05-24 19:16] arsdehnel commented on #1237
Thanks again @jmdacruz I totally get what you meant by incrementally and like it from that standpoint.  Actually really wish that someone had done that on a system I recently inherited that we're working on moving off MD5 hashing.

Working on coming to terms with the fact that I need to replace Kong or get much more into Lua than I'd planned when I got up this morning (which was 0% into Lua).  Any

[2016-05-24 19:42] arsdehnel commented on #608
I've merged that PR and also refactored a bit into modules (so that I can reuse the modules for each of our environments).  I'm having a problem getting the Cassandra instance to properly start though and wondering if anyone can help me out.  I have one AWS account that has a Kong setup that uses the CloudFormation template and then I'm creating these Terraform instances in the same VPC and subnet

[2016-05-24 19:53] johnpaul2 commented on #1207
Does anyone else experience the same problems?
This is a critical issue for us...

[2016-05-24 20:08] harryparmar commented on #1231
error.log
The supplied credential is invalid.
Details: 80090308: LdapErr: DSID-0C0903A9, comment: AcceptSecurityContext error, data 52e, v1db1^@,

Ldap plugin config, this is what i used below to set it up-
curl -X POST http://xxxx:8001/apis/TEST_API_3/plugins \
    --data "name=ldap-auth" \
    --data "config.hide_credentials=true" \
    --data "config.ldap_host=192.168.140.35" \
    --data "conf

[2016-05-24 20:08] jarl-dk commented on #1205
A related but not the same issue: How about i18n domain names then? https://en.wikipedia.org/wiki/Internationalized_domain_name
Should users also provided the encoded names in these cases there?

[2016-05-24 20:08] harryparmar commented on #1231
I am not sure if these are needed
--data "config.attribute=cn" \
--data "config.cache_ttl=60"

but your plugin does not install without them

[2016-05-24 20:22] jmdacruz commented on #1237
@t1tcrucible Absolutely agree in that you have to treat your Kong cluster as the corner stone of your deployment and protect it accordingly, no question about it. You have to follow network protection best practices, close your ports, implement ACLs, only allow the Kong admin API to be used from within your business environment, etc. All of those are must-haves and any decent network environment s

[2016-05-24 20:33] thefosk commented on #1246
Is HAproxy sending a valid HTTP request to Kong? It's really weird that `ngx.var.scheme` would be empty.

[2016-05-24 20:53] #1096 closed

[2016-05-24 20:57] thefosk commented on #1115
The PR has been merged and will be available in the next release - let me know if v0.8.2 fixes this problem.

[2016-05-24 21:01] thefosk commented on #1233
This could be fixed by either migrating the older data, or by assuming the default algorithm to be `HS256` if it's missing in the entity retrieved by the datastore.

[2016-05-24 21:12] DonMartin76 commented on #1246
I would assume so as other requests work. These do not use the oauth2 plugin though. Is there an easy way to switch on debugging messages or similar so that I can see comes into Kong?

[2016-05-24 21:17] arsdehnel commented on #367
Is the plan that Gelato will also be able to do the creation (and maintenance) of APIs, Consumers and Plugins?  From what I can see now there is a way to "integrate" with Kong but that doesn't actually appear to give me an ability to add new APIs through the Gelato interface.  Maybe I'm missing something though.

[2016-05-24 21:23] Tieske commented on #1246
How to reproduce this error in Lua at all?

[code]

That would give us a hint as to what is causing it. It doesn't seem to be a regular Lua type.

[2016-05-24 21:37] shashiranjan84 commented on #1231
`config.attribute` is required field. So basically if we authenticating bob here and its DN on ldap server is `cn=bob,dc=example,dc=com`

than `config.base_dn` would be `config.base_dn=dc=example,dc=com` and `config.attribute` would be `config.attribute=cn`.

Let say bob’s password is `password`, so you request headers should have authentication header set as

Authentication: LDAP Ym9iOnBhc3N3b3Jk

[2016-05-24 21:41] jmdacruz commented on #1237
@arsdehnel Lua is actually a simple an elegant language once you start using it, there is no complex syntax and the semantic is very straightforward... My recommendation is that you work with the guys at kong in a contribution model (say, if you wanted to contribute modifications that help storing information with hashes, etc.). In terms of libraries, since Kong is built on top of OpenResty (which

[2016-05-24 22:05] Tieske commented on #1246
reproduced it, seems the type is not a string as expected, but an object.

[2016-05-24 22:05] Tieske commented on #1246
that is; reproduced the Lua error, not the OP problem :smile:

[2016-05-24 22:32] thefosk commented on #367
@arsdehnel the plan would be to release a separate product that will provide a GUI for Kong, built on top of the Kong API. The plan is to release it tentatively around Q3/Q4 2016.

[2016-05-24 22:58] BrianHutchison commented on #892
+1 for letting us control how Kong logs in potential DDOS scenarios.

We would like to enable alerting in our production environment if we are denying requests (past some threshold) based on reaching a rate limit.

@ahmadnassri Have you come up with a work-around?

[2016-05-24 23:03] jfirehammer-credibly commented on #1115
Excellent, thanks, I will upgrade to 0.8.2 as soon as 0.8.2 is released and I can get a chance, and let you know how it goes.

[2016-05-25 00:21] Tieske commented on #892
Code wise it happens when a plugin (or any other piece of Kong) exits prematurely like @thefosk mentioned. To catch those we could try and wrap those ngx functions/methods and catch the errors in between.

To prevent any dos problems we could set a limit of how many of a particular error type are logged per second. Eg. max 10 per second. So if more than 10 errors of 4xx are generated, it will stop

[2016-05-25 00:29] arsdehnel commented on #367
Alright, good deal and thanks for the clarification.

[2016-05-25 00:33] arsdehnel commented on #1237
I probably came off as annoyed or frustrated in my previous post, I'm more surprised that this hasn't already come up. I will definitely pull this down and start figuring out how to adjust the plugin to have crypto as an option, involving the Mashape team when appropriate or needed.

[2016-05-25 00:37] nguilford commented on #928
Does the desire to remove 3p dependencies trump this issue? i.e. will mashape consider merging a PR that implements what @mars is suggesting in the interim?

@mars, I see the last time you did work on this was about a month ago. Are you planning on completing the supervised process integration or are you just trying things out? I have a desire to get this working properly with docker and, assuming

[2016-05-25 00:53] jmdacruz commented on #1237
Not at all @arsdehnel, I think you do have a valid point.

[2016-05-25 04:23] subnetmarco opened #1248 "Update log_format to include the version of Kong"
Update the syslog `log_format` property to include the version of Kong when an error is being submitted.

[2016-05-25 04:49] harryparmar commented on #1231
I still got same error as before triggered on line 76 of
https://github.com/Mashape/kong/blob/master/kong/plugins/ldap-auth/access.lua

[2016-05-25 04:52] harryparmar commented on #1231
in distinguisedName on AD i have it like this
distinguishedName: CN=TEST TEST,OU=Users,OU=New York,DC=test-test,DC=com

should i change plugin setting to include OU=Users,OU=New York?

[2016-05-25 04:54] mars commented on #928
@mjdev Mashape's Kong does not send logs to stdout. Unless you're willing to go renegade experimenting with these external process supervision patches & running a supervisor like runit, tailing Nginx & other services' log files is the way.

@nguilford The work on this has been experimental to enable the [Heroku Kong buildpack & app](https://github.com/heroku/heroku-kong) which is not integrated ba

[2016-05-25 06:50] pradeepmurugesan commented on #505
Guys any idea on the milestone for this feature ?

[2016-05-25 07:04] DonMartin76 commented on #1246
This makes so much no sense, and I bet there's some kind of "aaah" moment around the corner. I added some debugging code into access.lua, and this is what gives:

[code]

I changed `is_https` to the following:

[code]

Which means, the debugging outputs:

* `ngx.var.scheme=="http"` (as expected)
* `type(ngx.var.scheme)="string"` (as expected)
* `HTTPS="https"`(as expected)

Just the `if`does not w

[2016-05-25 07:37] Tieske commented on #1246
can you try this code and see where it fails?

[code]

[2016-05-25 07:44] DonMartin76 commented on #1246
Now it fails at
[code]
Wtf.

[2016-05-25 07:45] DonMartin76 commented on #1246
"§/&%"%/§&%"§

It probably failed there all the time. There's the "Aaah" moment.

[2016-05-25 07:50] Tieske commented on #1246
so the line numbers in the stacktrace changed now? or was it our fault of looking at the wrong `:lower()` call without checking the linenumbers?

(I for one only looked at the first call)

[2016-05-25 07:53] DonMartin76 commented on #1246
Yes, I think that was the problem. Man. I feel like a n00b now. `x-forwarded-proto` is returned as a table. Now, how do I inspect that in Lua...

[2016-05-25 07:58] Tieske commented on #1246
ok. The headers get returned as a string unless there are more of the same headers, in which case a table gets returned, listing all of them.

So;

1. can you check the request to contain that header multiple times?
2. I'm an oauth noob, so what's to be done with the multiple headers?

@nijikokun What's your take on the number 2?

[2016-05-25 08:00] DonMartin76 commented on #1246
This header has actually nothing to do with OAuth, this is just something Kong does to enforce that you aren't using OAuth over http, which is inherently not secure.

[2016-05-25 08:09] DonMartin76 commented on #1246
Thanks, guys, for your time. So, together we figured out what is wrong:

* Kong does not account for the case where the `x-forwarded-proto` is added twice (and thus a table is returned instead of a string)
* Our HAproxy configuration had an explicit add for the above header, but apparently it does that by default anyway. I just had to remove the additional `add-header` directive.

Oh man. I learnt

[2016-05-25 08:10] Tieske commented on #1246
try this;
[code]

Should at least show the contents of all of them is the same, though I wonder why the header is added multiple times.

[2016-05-25 08:13] DonMartin76 commented on #1246
As stated above: Conbination of misconfiguration of HAproxy and Kong reacting allergic to multiple headers... Difficult to say what to do here. In my book Kong shouldn't crash on this, even though it's fixable via configuration in HAproxy. It's up to you what to do with it.

[2016-05-25 08:54] mleace commented on #1237
Quite a rich discussion with valuable opinions, thank you.

I agree that securing access to Kong cluster is a MUST, but I have seen too many security breaches to be satisfied just with what I would call an "infrastructure defense". @jmdacruz went much further than I originally planned, as my first thoughts was to store access & refresh tokens and client secrets (I'm mostly concerned by OAuth2 plug

[2016-05-25 08:54] Tieske commented on #1246
@DonMartin76 thanks for your help in tracking this down.

Fully agree that Kong shouldn't crash. But as it's security related, then with even a slight possibility of getting mixed http and https values, we should be conservative and bail out or assume http.

So options to fix;

1. consider it an error, and bail out (proper http response that is)
2. just grab the first entry from the list of values

[2016-05-25 08:58] DonMartin76 commented on #1246
Apparently (I didn't know this) HAproxy automatically adds the `x-forwarded-proto` if it is used for SSL termination. If you then use `http-request add-header x-forwarded-proto https` to add it explicitly, well, it adds it once more. Which could arguably be implemented differently in HAproxy.

[2016-05-25 09:03] Tieske commented on #1246
since this is the first time we encounter it, I'm inclined to go for option 1 as a conservative measure

[2016-05-25 09:11] SublimeVincentHerl opened #1250 "Implementation SI authentification"
Hello,

I have some question before integrate kong.
Is it possible to make these tow implementation and witch is the best.

In the first we have a synchronisation of customer present in Database system to kong ( conversion to kong customer object ).
[code]

In the second we spin out authentification at an service in the private networks.
[code]

Vincent.

[2016-05-25 09:34] DonMartin76 commented on #1246
In this case. I'm inclined to agree. At least it's fairly well documented in this issue. Thanks again for your support! Next time I encounter any of these things, I know faster how to debug Kong.

[2016-05-25 10:23] #1017 closed

[2016-05-25 11:07] arsdehnel commented on #1237
I think that's a good point @mleace where you're asking how Mashape feels about this and if it was already in any plans.  Maybe @sinzone can help answer that (asking you since I noticed you gave a 👍 to the original question)?

As for the implementation details the straight SHA-256 method seems like a suitable first round of this and simplifies the implementation quite a bit.  It would be enough fo

[2016-05-25 11:57] Tieske commented on #1250
short answer; you can write your own plugin

long answer; Kong uses 'consumers' to handle the credentials, the consumers are authenticated by Kong using a plugin (many types available for many authentication methods). Each consumer has a field for a custom id so you should be able to map them to your own user system.

Now as to an external authentication, I think currently only the LDAP plugin wor

[2016-05-25 13:11] chrisbaldauf commented on #1233
@thefosk, I'm not sure what you mean when you say "migrating the older data". It looks like the `algorithm` column is added in the [2016-03-07-jwt-alg](https://github.com/Mashape/kong/blob/next/kong/plugins/jwt/migrations/cassandra.lua#L25) migration.

[2016-05-25 13:55] dag24 commented on #1160
I have also seen this problem, but not in Docker. I have no problem with hostnames.

To reproduce, using kong 0.8 and a Postgres 9.5 db:
Have 2 or more kong nodes running in a cluster with each other;
Kill those nodes or `kong stop` them;
Try to `kong start` two fresh nodes (different IPs to the first two);
They will fail to join a cluster with each other.

I work around this by doing `delete from

[2016-05-25 14:23] harryparmar commented on #1231
@shashiranjan84

i changed my setting to account for OU=Users, OU=New York

{
api_id: "d8d176b7-c0cf-4fe9-a6f6-2df452bc0be2",
id: "2c23e3fa-757b-41a2-9e8f-dc4070482d35",
created_at: 1464103177000,
enabled: true,
name: "ldap-auth",
config: {
base_dn: "OU=Users,OU=New York,DC=springer-sbm,DC=com",
cache_ttl: 60,
timeout: 10000,
start_tls: false,
hide_credentials: true,
ldap_host: "192.168.xxx.xx",
v

[2016-05-25 14:31] shashiranjan84 commented on #1231
What you setting in authentication header? Try ldapsearch command from bash to make sure you using correct DN. You may need to install it.

[2016-05-25 15:29] harryparmar commented on #1231
@shashiranjan84

I installed ldapsearch and ran command from this page http://www.agix.com.au/ldapsearch-active-directory/
without problem

I also foundout my username format has to be like username@domain.com using ldap browser 4.5 and then using it successfuly on ldapsearch

But I am still getting same error from Kong Plugin

[2016-05-25 15:43] shashiranjan84 commented on #1231
Please paste the cammand you ran and the authorization header value here.
On May 25, 2016 8:35 AM, "Harmohan Parmar" <notifications@github.com> wrote:

[2016-05-25 15:48] harryparmar commented on #1231
ldapsearch \
    -x -h 192.168.xxx.xx \
    -D "test@test-test.com" \
    -W \
    -b "dc=test-test,dc=com" \
    -s sub "(cn=*)" cn mail sn

I got password prompt and I entered it and saw results

My authorization header is

Authorization: LDAP dGVzdEB0ZXN0LXRlc3QuY29tOnBhc3N3b3Jk

[2016-05-25 16:30] shashiranjan84 commented on #1231
What attribute defines test, is it uid, cn, sn ...? Is it possible for you
paste AD hierarchy for test here? You can use Apache Directory Studio.

What error do you see Kong log?

@shashiranjan84 <https://github.com/shashiranjan84>
ldapsearch \
-x -h 192.168.xxx.xx \
-D "test@test-test.com" \
-W \
-b "dc=test-test,dc=com" \
-s sub "(cn=*)" cn mail sn

I got password prompt and I entered it and saw

[2016-05-25 17:06] harryparmar commented on #1231
Is there way to PM you or email it? I am just replacing my user with Test when i am posting here..but i will send you real data in PM/email.

[2016-05-25 17:15] shashiranjan84 commented on #1231
are you on Gitter?

https://gitter.im/Mashape/kong

[2016-05-25 18:19] allisthere2love opened #1252 "Plugin with Custom Entities does not migrates"
Hi,

We're trying to use a custom plugin that has custom entities. We have the following files, besides handler and schema:
api.lua
daos.lua
migrations/cassandra.lua
migrations/postgres.lua

However, when Kong starts the custom table isn't created. Neither does it when the plugin is added to any API.

If we get the CQL from cassandra.lua and run it in CQLSH, the table is succesfully created and th

[2016-05-25 20:29] thefosk commented on #1233
@chrisbaldauf the column is added, but if the datastore already had some tokens created by a previous version of Kong, the `algorithm` column is not pre-populated with an algorithm value (which is now required).

[2016-05-25 23:15] ammmze opened #1253 "Feature Request: Option for CORS Plugin to remove upstream CORS headers"
Could we perhaps have an option in the CORS plugin that will tell it to remove upstream CORS header?

I have an api that runs spring webmvc side-by-side with the camunda rest engine. In the spring webmvc app, I do not have CORS setup, but on the camunda rest engine it does (and it doesn't seem like it can be disabled).

So I enabled the CORS plugin in kong, but now we end up with duplicate CORS he

[2016-05-26 00:40] thefosk commented on #1253
This is related to #259 and should been have fixed by #1240 in 0.8.2 to be released in a few hours.

[2016-05-26 00:44] ammmze commented on #1253
Ha...nice :) I'll give it a try soon then

[2016-05-26 00:44] #1253 closed

[2016-05-26 01:26] thefosk commented on #1252
Did you rename the `name` property of each migration?

[2016-05-26 01:56] chrisbaldauf commented on #1233
After re-reading, I now better understand the two options - set a default value in the database or assume one in code if the db value is null. Thanks for following up.

[2016-05-26 05:05] alexraju commented on #675
Is this change released yet? I'm still getting this issue.

Created API using
`$ curl -i -X POST --url http://localhost:8001/apis/ --data 'name=test' --data 'upstream_url=http://xx.xx.xx.xx/api/test' --data 'request_host=xxxxxxx'`

`curl -i -X GET --url http://localhost:8000/ --header 'Host: xxxxxxx'`
The request was forwarded to http://xx.xx.xx.xx/api/test/ (Added a trailing slash automatically)

[2016-05-26 05:16] #1080 closed

[2016-05-26 08:38] marcelmfs commented on #675
The request path was `GET /`, so is nginx who's adding the trailing slash. You app should act accordingly, if test is an HTML and not a endpoint, it should be stated so.

[2016-05-26 08:47] alexraju commented on #675
@marcelmfs
`test` is not an HTML and its the endpoint.
The route in my application is defined like this.
I didn't get what you meant by `The request path was GET /`. Please elaborate.

[2016-05-26 08:50] alexraju opened #1254 "Mention all kong cluster nodes in configuration"
Is it possible to mention all the cluster nodes in the configuration?

[2016-05-26 08:55] thefosk commented on #1254
@alexraju why do you need this? Kong will automatically join the other nodes without mentioning them in the configuration.

[2016-05-26 09:05] #1254 closed

[2016-05-26 09:19] alexraju commented on #1254
@thefosk This is needed when we are following container orchestration.
Deploying kong in container doesn't register the correct IP address in database.
Also, while scaling to 4 or 10 instances in Marathon(container orchestration system), we are using the same configuration for every instance. So, we need to have a mechanism to add all nodes to the kong cluster. Also, APIs for adding new nodes will

[2016-05-26 16:36] ericln commented on #505
it'll be nice to have global plugin, save a lot of configurations

[2016-05-26 18:24] t1tcrucible commented on #259
hi @thefosk it works, sorry for the late reply - but already in release :-). Thank you very much!

[2016-05-26 18:24] thefosk commented on #259
Perfect - 0.8.2 has been just released.

[2016-05-26 18:24] #259 closed

[2016-05-26 18:25] thefosk commented on #852
@kiwicopple can you try with Kong v.0.8.2+ ?

[2016-05-26 18:25] #852 closed

[2016-05-26 18:26] thefosk commented on #1115
The new version has been just released. Let me know if it works now. @jfirehammer-credibly

[2016-05-26 20:14] jfirehammer-credibly commented on #1115
nice, thanks. I won't get a chance before the long weekend but next week
I'll try it out in my integration environment and let you know

<http://www.inc.com/profile/credibly>
2014 | 2015
Joel Firehammer

Vice President of Software Engineering
O:646-612-7998 x3000
<https://www.trustpilot.com/review/credibly.com>
Some of the information contained within this email, if not all, may be
confidential an

[2016-05-26 21:03] nguilford opened #1255 "Nodes with duplicate hostnames fail to join kong cluster when using default cluster_listen"
**Summary:**
Nodes with identical hostnames using the default `cluster_listen` ipv4:port fail to join a cluster because serf expects node names to be unique, and the code for `get_node_name` does not generate unique names in these conditions:

https://github.com/Mashape/kong/blob/997561b42c27d5917f261065d9b1f5e99079e337/kong/tools/cluster.lua#L6

**Why this is a problem:**
I use docker to spin up

[2016-05-26 21:17] #1250 closed

[2016-05-26 21:33] nguilford opened #1256 "Config option not to log secrets"
Right now when kong starts, it logs the attempt to login to its database with full credentials:

`[INFO] database...........postgres host=db.host.com database=kong user=user password=password port=5432`

It would be nice to have an option not to log the credentials (user, pw at the very least). This is important for various reasons.

- developers often need access to logs, but should not have acce

[2016-05-26 22:05] #1186 closed

[2016-05-26 22:05] thefosk commented on #1186
The fix will be available in the next version.

[2016-05-26 22:59] thibaultCha commented on #1256
+1. I would actually be in favor of keeping the config simple and simply not print those values at all.

[2016-05-27 01:01] thibaultCha commented on #1248
(In `refactor/cli` the reports were rewritten. It also includes the version, so not sure)

[2016-05-27 01:36] chrisbaldauf commented on #1186
Thanks!

[2016-05-27 05:10] thefosk commented on #1252
I will close this issue - let me know if that fixes it.

[2016-05-27 05:10] #1252 closed

[2016-05-27 05:14] thefosk commented on #1211
Calculating the time remaining for the limit to reset would also allow to append the common `X-Rate-Limit-Reset` header to the user (related to #233).

[2016-05-27 11:04] markyjones opened #1261 "Feature... Ability to store encrypted OAuth 2.0 Secrets, access_tokens and refresh_tokens"
The OAuth plugin is great in many ways but we are a little concerned about the plain text storage of the sensitive information it is configured with and the tokens it creates at runtime (i.e client secrets, access_tokens and refresh_tokens).

This is around compliance, audit and overall data security.

The native encryption options in Postgress & Cassandra i.e. at the DB level may be an option but

[2016-05-27 11:13] #1261 closed

[2016-05-27 12:42] allisthere2love commented on #1252
Hi, @thefosk, if I understood it correctly, yes, we renamed it. This is my cassandra.lua in the migrations directoy:
`return {
  {
    name = "2016-05-20_init_namedquery_tb",
    up = [[
      CREATE TABLE IF NOT EXISTS namedquery_tb(
        id uuid,
        consumer_id uuid,
        query text,
        namedquery text,
        database_name text,
        qtd_params_query number,
        PRIMARY

[2016-05-27 12:47] codebien opened #1262 "[oauth2-postgres] Adding an application generates an error"
Kong 0.8.2

Hi,
I have tried this with a clean installation on docker. I first add an API, then enable oauth2 plugin, and finally add a consumer.
When I try to add an oauth2 application to the consumer I get a 500.

Error from error.log:

2016/05/27 12:09:42 [error] 102#0: *40 [lua] app.lua:61: handle_error(): /usr/local/share/lua/5.1/lapis/application.lua:659: /usr/local/share/lua/5.1/kong/dao/po

[2016-05-27 14:09] Tieske commented on #1207
Fixed in #1263. The problem occurred due to whitespace changes. The header filter checked whether the body would be adjusted, and only if so, it would alter the content length. The body filter would NOT check whether there was anything to do, it would just parse the json, and re-encode the result.

So in this case, the content length was unaltered, and the body just got re-jsonified with different

[2016-05-27 15:03] ISMAELMARTINEZ commented on #1194
Hi @DonMartin76 ,

I end up implementing a simple server that does our logic. You can close this as is fairly specific to our needs.

We are doing something similar to the key authentication
https://getkong.org/plugins/key-authentication/
but with certificates and creating users in our system.

Thanks in any case.

[2016-05-27 15:03] #1194 closed

[2016-05-27 16:27] Tieske commented on #1207
@johnpaul2 as a side note;

This means the upstream server "wasted" 1551 bytes in a single request on whitespace. You might want to reconfigure that.

[2016-05-27 17:36] thefosk commented on #1262
I will immediately publish a fix for this in a 0.8.3 release, in the meanwhile I think the problem can be fixed by changing this line (https://github.com/Mashape/kong/blob/master/kong/dao/postgres_db.lua#L75) with:

[code]

[2016-05-27 18:48] #1233 closed

[2016-05-27 20:58] thefosk commented on #1252
Have you added the file into the rockspec?

[2016-05-27 21:04] allisthere2love commented on #1252
Yes, I have this structure in my rockspec:

["kong.plugins.plugin_name.handler"] = "kong/plugins/plugin_name/handler.lua",
["kong.plugins.plugin_name.schema"] = "kong/plugins/plugin_name/schema.lua",
["kong.plugins.plugin_name.daos"] = "kong/plugins/plugin_name/daos.lua",
["kong.plugins.plugin_name.api"] = "kong/plugins/plugin_name/api.lua",
["kong.plugins.plugin_name.migrations.cassandra"] = "kon

[2016-05-28 01:17] #1262 closed

[2016-05-28 04:35] b-rajesh opened #1265 "Kong 0.8.2 is not starting in OSX"
Hi ,
I just installed Kong 0.8.2 in my Mac and i am not able to start the server as usual. I did cleaned my old version , however still having problems.

luajit: /usr/local/share/lua/5.1/kong/cli/utils/logger.lua:5: module 'ansicolors' not found:
	no field package.preload['ansicolors']
	no file './ansicolors.lua'
	no file '/usr/local/Cellar/luajit/2.1_1/share/luajit-2.1.0-beta2/ansicolors.lua'
	no

[2016-05-30 11:21] Tieske commented on #1239
I cannot reproduce this.

[code]

Also no errors in my log file.

[2016-05-30 11:44] DonMartin76 commented on #1262
Due to this fix, I now get an error when adding an `oauth2` configuration to a consumer. The following sequence of `curl` calls causes Kong to crash:

[code]

[2016-05-30 11:53] DonMartin76 commented on #1262
Can confirm that the fix helps.

[2016-05-30 12:31] Tieske commented on #1239
@mlucchini If you still encounter this error, then please checkout this commit; https://github.com/Mashape/kong/commit/c069ff449dfce0d3095142120d1be6e3b6b0810a

It should no longer explode in a Lua error, but return the underlying DB error postgres is reporting. That should provide a better hint as to what is wrong.

[2016-05-30 12:47] mlucchini commented on #1239
Cheers I'll try that

[2016-05-30 13:04] JnMik opened #1266 "Long URI are truncated (Not an NGINX error ? )"
Hi everyone !

How should I proceed to increase the maximum URI length authorized by kong ? Seems the URL is getting truncatde around 4950 characters, and one of my upstream might be receiving a bit more than that.

I do not receive an Request-URI Too Large error, seems like kong is truncating it.
The call to the upstream is well done, but I cleary see that it does not forward the whole URL.
Missi

[2016-05-30 13:34] hutchic commented on #1266
That seems like an insanely long url FYI it won't be supported by most versions of IE https://support.microsoft.com/en-us/kb/208427

[2016-05-30 13:46] JnMik commented on #1266
Yeah I know it is, but our upstream API is a 3-party API and it allows it.
We call the API with PHP Curl, S2S. So it all work good.

[2016-05-30 13:49] JnMik commented on #1266
Well I think I'll just refactor the script calling the 3 party API, so it will do multiple calls and stack the results. Having **that long** of an URI doesn't feel right to me either lol

[2016-05-30 15:40] JnMik commented on #1266
Even if I'll refactor our code, should kong really impose a limit on URI length, considering the forwarding to the upstream should be pretty much transparent ?

What is kong URI length limit ?

[2016-05-30 17:03] hutchic commented on #112
Personally I'd close this and let the service discovery tool of the user's choosing do the health checks

https://www.consul.io/docs/agent/http/health.html
https://github.com/airbnb/nerve
https://github.com/Netflix/eureka/
http://www.cloudera.com/documentation/enterprise/5-5-x/topics/cm_ht_zookeeper.html

[2016-05-30 17:14] Tieske commented on #1266
my thought as well

[2016-05-30 17:26] JnMik commented on #1266
I have a lot of S2S API calls to move through our gateway.
I'm not aware of all the possible use cases for all the APIs.
We do run a lot of tests and have a efficient QA team,
but It still feels like it might be a point of failure hard to detect.

[2016-05-30 17:27] codebien opened #1267 "[oauth2] Wrong redirect_uri cases that generate wrong behaviors"
Kong 0.8.2

**curl -X POST --url http://kong:8001/consumers/Jason/oauth2** \
     -H "Content-Type: application/json"  \
     -d '{"name":"right","redirect_uri": ["http://localhost"]}'

**curl -X POST --url http://kong:8001/consumers/Jason/oauth2** \
     -H "Content-Type: application/json"  \
     -d '{"name":"object","redirect_uri": {}}'

**curl -X POST --url http://kong:8001/consumers/Jason/oau

[2016-05-30 18:13] hutchic commented on #491
Closing this as it's an old version of Kong and an old ticket. If the behaviour is still occurring open a new ticket

[2016-05-30 18:13] #491 closed

[2016-05-30 18:28] thibaultCha commented on #1265
It seems Luarocks did not fully install Kong's dependencies. Try to run `luarocks install` again and maybe paste the output here if anything still looks strange.

[2016-05-31 00:37] thefosk commented on #1262
@DonMartin76 perfect - I will publish 0.8.3 this week.

[2016-05-31 00:43] thefosk commented on #1267
This fix will be available in 0.8.3.

[2016-05-31 00:43] #1267 closed

[2016-05-31 00:45] thefosk commented on #1266
The URI limit is something that is enforced pretty much by many servers and clients. The URI should be short and anything else should be submitted as a POST request. Kong itself doesn't set any limit, and it's probably enforced by nginx. Maybe this property can help in setting a higher length: http://nginx.org/en/docs/http/ngx_http_core_module.html#large_client_header_buffers

[2016-05-31 00:45] #1266 closed

[2016-05-31 02:26] thefosk commented on #1252
@allisthere2love this is very hard to replicate on our side since we don't have the code. I would check that the paths are correct, that Luarocks is not behaving weirdly (you can execute `luarocks purge --tree=/usr/local` to purge the local cache just in case), or take inspiration from other new plugins like https://github.com/Mashape/kong/pull/1259

[2016-05-31 02:34] thefosk commented on #675
@alexraju in your example you are using `request_host` resolver and not a path resolver. When you are requesting `GET /`, Kong will append the requested endpoint to the `upstream_url`, hence `http://xx.xx.xx.xx/api/test/`.

To extend your example, if you were requesting `GET /another_endpoint` then the final URL requested would be `http://xx.xx.xx.xx/api/test/another_endpoint` (not `http://xx.xx.x

[2016-05-31 02:45] thefosk commented on #1164
@harryparmar do you recall what was the issue with the Runscope plugin?

[2016-05-31 05:30] b-rajesh commented on #1265
Hi I tried uninstall all mashape dependency for kong and reinstall kong and still having the same problem.

**
luajit: /usr/local/share/lua/5.1/kong/cli/utils/logger.lua:5: module 'ansicolors' not found:
	no field package.preload['ansicolors']
	no file './ansicolors.lua'
	no file '/usr/local/Cellar/luajit/2.1_1/share/luajit-2.1.0-beta2/ansicolors.lua'
	no file '/usr/local/share/lua/5.1/ansicolors.

[2016-05-31 05:30] b-rajesh commented on #1265
Please note i use brew to manage kong which worked fine until 0.8.1

[2016-05-31 07:06] Tieske commented on #1266
not sure here. Just truncating seems wrong. Ok to set a limit imo, but then it should be explicit and return an error if exceeded.

[2016-05-31 07:57] codebien opened #1270 "[admin-api] Not allowed method generates error"
Kong 0.8.2

Requests like these generate error:

curl -H "Content-Type: application/json" -X PATCH http://kong:8001/apis
curl -H "Content-Type: application/json" -X DELETE http://kong:8001/apis
curl -H "Content-Type: application/json" -X DELETE http://kong:8001/oauth2

2016/05/31 07:00:44 [error] 109#0: *5 lua coroutine: runtime error: don't know how to respond to DELETE
stack traceback:
coroutine

[2016-05-31 09:11] thefosk commented on #1270
This has been a knows issue for a long time, we just didn't have time to fix it. The bug is a logging bug, in a sense that, as @codebien properly stated, this errors shouldn't be logged into `error.log` at all.

[2016-05-31 09:33] 2TomS opened #1271 "API execution fails in a forward proxy environment."
Added Mockbin API and the Kong HP(https://getkong.org/docs/0.8.x/getting-started/quickstart/) to reference the company's environment(Authentication is required forward proxy environment).
However, the result was the following.

<pre>
# curl -i -X POST \
--url http://10.169.222.137:8001/apis/ \
--data 'name=mockbin' \
--data 'upstream_url=http://mockbin.com/' \
--data 'request_host=mockbin.com'

HT

[2016-05-31 10:01] codebien commented on #892
For our service this feature is a must-have, so we are discussing internal on a workaround. It could be ok for us to support the cost for developing a basic implementation of this feature and pull request it.

IMO, to develop this feature in the minimum possible time, the rate limit issue shouldn't be taken into account.
It could be handled outside the plugin and Kong for now. Then, in future and