[2019-01-29 22:50] #4232 closed

[2019-01-29 22:53] #4228 closed

[2019-01-29 22:58] jeremyjpj0916 commented on #4244
Considering the biggest header problem is fixed  with a recent PR I think the issue can be closed since anything related to 0.14.1 migrations to 1.0.0-1.0.2 probably isn't the biggest value, and I'm not 100% convinced there was a migrations problem because in Stage all we did was fix the host header without having to delete/remake plugin(vs prod where we had to remake it).

[2019-01-29 22:58] #4244 closed

[2019-01-30 04:43] peaaceChoi opened #4263 "CORS plugin should support custom http method."
Kong is best api-gateway in the word.

but kong-cors plugin doesn't support custom method. (current cors version, only support "GET,HEAD,PUT,PATCH,POST,DELETE")

restfulapi-design is becomes more and more complicated.

So Kong should support custom method.

I wonder if there is a plan for this.

Thanks.

[2019-01-30 17:16] hishamhm opened #4264 "[community feedback requested] Kong native Declarative Config format"
Hi everyone,

We are in the process of designing a native declarative configuration format to be used in Kong (a long time community ask: #528, #1465, ...). We just posted a first draft in Kong Nation:

https://discuss.konghq.com/t/rfc-kong-native-declarative-config-format/2719

Any and all feedback is welcome!

[2019-01-30 19:12] thibaultcha commented on #4245
Closing now that the PR has been merged

[2019-01-30 19:12] #4245 closed

[2019-01-30 19:15] kinman commented on #4263
Thanks for the kind words and the suggestion, @peaaceChoi. GitHub issues are reserved for bug reports. Could you make your feature request on Kong Nation: https://discuss.konghq.com/c/feature-suggestions ? Thanks!

[2019-01-30 19:15] #4263 closed

[2019-01-30 19:18] judithpatudith opened #4265 "Datadog plugin should emit service name and status code as tags"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

Issue reported by @irabinovitch

We noticed that  it is emitting metrics in the format:  kong.<service-name>.request.status.<status-code>

We generally would encourage service-name and s

[2019-01-30 19:23] irabinovitch commented on #4265
Thanks @judithpatudith.  It looks like some of the variables might have gotten mangled by markdown.

The metrics we're seeing are `kong.<service-name>.request.status.<status-code>`.  Ideally it would be something like `kong.request.status` tagged by service name and status code.

[2019-01-30 20:02] p0pr0ck5 commented on #4247
I'm not quite sure what you're trying to accomplish, but as @bungle mentioned, the octothorpe (`#`) is used by browsers as client behavior; browsers will not send the `#` character or any characters following it to the server. If you wanted to send the `#` character in the request URI, your HTTP client would need to encode it (e.g., send the literal characters `%23` in the request), and then your

[2019-01-30 20:02] #4247 closed

[2019-01-30 20:03] p0pr0ck5 commented on #4246
Hi,

Kong is an API gateway, meaning it proxies request in front of your service and can JWT/OAuth authorization before passing the request to your Spring service. Because GitHub issues are reserved for bug reports and feature requests, I'm going to close this issue; please feel free to open a community discussion at discuss.konghq.com. Thank you!

[2019-01-30 20:03] #4246 closed

[2019-01-30 20:05] p0pr0ck5 commented on #3565
@thibaultcha, do you know if the version of lua-resty-mlcache bundled with recent releases of Kong exhibits the same behavior?

[2019-01-30 21:14] thibaultcha commented on #3565
@ms2008 Good catch!

@p0pr0ck5 This behavior disappeared when mlcache starting becoming an independent project, and received [this commit](https://github.com/thibaultcha/lua-resty-mlcache/commit/baf747b1a0f3a8f6c447534abeb8e2f61b8278f4), in which we introduced a branch to zero-out the `remaining_ttl` instead of passing it to lua-resty-lrucache as negative, see the commit message:

computing the re

[2019-01-31 01:26] marklimeichao opened #4266 "set password to admin api"
set password to admin api,make sure the one who have the password can manager the admin api

[2019-01-31 01:30] p0pr0ck5 commented on #4266
Hi,

Have a look at https://docs.konghq.com/1.0.x/secure-admin-api/

In the future, please reserve GitHub issues for bug reports or feature requests, as noted in the issue template. Community usage questions can be directed to https://discuss.konghq.com/. Thank you!

[2019-01-31 01:30] #4266 closed

[2019-01-31 02:13] ms2008 commented on #3565
Nice! We can close this now :)

[2019-01-31 02:14] p0pr0ck5 commented on #3565
Closing! Thanks for the investigation @ms2008!

[2019-01-31 02:14] #3565 closed

[2019-01-31 04:54] rockmantist opened #4267 "[ASK] Service Path Regex"
Hi just wanna ask simple question about regex.
I have a route like this **/v1/channels/clients/\d+**
How can i match that regex in service ?
I've tried to add that regex in service's path but got error "character outside of the reserved list of RFC 3986..."
My service path **/v1/rdo/clients**, i want to forward that regex value to service

Thank you

### Additional Details & Logs

- Kong version (

[2019-01-31 07:00] jeremyjpj0916 commented on #4244
@thibaultcha to give a little more background when that specific analysis was made I had not joined the warroom to investigate, was going off what operations team told me in prod investigations, by the time I was checking stage I never noticed such behavior and was only really deep into it when we realized the host header problem(which a different PR already tackled, super stoked to see it fixed u

[2019-01-31 10:30] eamonnmcevoy opened #4268 "Error on GET /certificates"
kong version: 0.13.0

On calling GET /certificates is get the following error:

[code]
This hasn't always been a problem, im not sure what changed to cause it. There are no certificate objects in my kong instance.
This is blocking my configuration deployment using the [kongfig](https://github.com/mybuilder/kongfig) tool.

[2019-01-31 12:14] hishamhm commented on #4244
@jeremyjpj0916 `(.*[.])?example[.]com`, if you want to match both plain `example.com` and its subdomains in 1.0.3. If you need subdomains only, `.*[.]example[.]com` works. In other words, these are equivalent:

* `["(.*[.])?example[.]com"]`
* `["example.com", "*[.]example[.]com"]`

[2019-01-31 13:52] bungle commented on #4194
@jeremyjpj0916 I can push another commit to these so that they will utilize recurring timer for rebuilding rather than events. It will be more like polling, e.g. every second we check if router or plugins_map version has changed. That at least makes piling of the events go away.

[2019-01-31 16:48] jeremyjpj0916 commented on #4194
@bungle this is your masterpiece so if you believe that is the best strategy I am all for it. If polling is not an intense check and will not cause impact every second sounds fine to me. So far running this in prod and stage about the last 10+ days no issues with the current design as is besides maybe some slow mem growth possibly(but does not seem tied to network throughput increases, nor could I

[2019-02-01 08:20] marklimeichao commented on #4266
thanks,i am a newer github-user ,

[2019-02-01 08:50] benbenqiang opened #4271 "enable plugin get 400 schema violation with 0.15"
https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1. curl -X POST \
  http://0.0.0.0:8001/apis \
  -F name=plugin_test \
  -F upstream_url=http://test.com \
  -F uris=/test
2. curl -XPOST  '0.0.0.0:8001/apis/plugin_test/plugins' \
   -F name=hmac-auth \
   -F config.clock_skew=600

got
{
    "message": "schema v

[2019-02-01 08:55] benbenqiang commented on #4251
I had the same issue

[2019-02-03 13:53] Tieske commented on #4062
closing due to lack of feedback

[2019-02-03 13:53] #4062 closed

[2019-02-04 03:11] sharmmoh1983 opened #4276 "Custom plugin not getting enabled for 1.x.x"
I am trying to enable plugin in latest version of kong which was working fine in 0.14 version but cant see custom plugin in enabled plugin list

Are there new steps to enable plugin in new version?

I am following steps:

luarocks make *.rockspec

set environment

export KONG_PLUGINS=“bundled,rbac”
kong migrations up

kong reload -vv

[2019-02-04 04:07] sharmmoh1983 opened #4277 "Kong custom plugin "1.x.x": kong.tools.responses"
I am trying to build one custom plugin which sends response using kong.tools.responses but it seems it is removed in new version of Kong 1.x.x

What is the alternative of using kong.tools.responses in plugins for new version.

[code]

[2019-02-04 04:26] sharmmoh1983 opened #4278 "Kong custom plugin "1.x.x": kong.api.crud_helpers not working"
I am trying to build one custom plugin which sends response using kong.tools.responses but it seems it is removed in new version of Kong 1.x.x

What is the alternative of using kong.tools.responses in plugins for new version.

[code]

[2019-02-04 06:19] jeremyjpj0916 commented on #4278
Dup of #4277 essentially, same answer: Changelog: https://github.com/Kong/kong/blob/master/CHANGELOG.md#plugins-3 to be specific for the crud helpers section

"The kong.api.crud_helpers module was removed (deprecated since the introduction of the new DAO in 0.13.0). Use kong.api.endpoints instead if you need to customize the auto-generated endpoints."

[2019-02-04 06:21] jeremyjpj0916 commented on #4276
#4277 and #4278 are probably related to this same issue correct? 1.0 had extensive changes over 0.x releases so a strong review of the changelog should answer most concerns: https://github.com/Kong/kong/blob/master/CHANGELOG.md#100

[2019-02-04 09:58] sharmmoh1983 commented on #4278
@jeremyjpj0916
Thanks for your input . I have to know re engineer everything to make my existing code align with new changes

Is there any way to do auto transtion to new format especially the new Dao layer may be using  best-effort schema auto-translator

Please let me know the steps to do so or some documentation for the same

[2019-02-04 17:43] koolay commented on #4209
Mysql will be supported in the future?

[2019-02-04 20:32] sharmmoh1983 opened #4280 "Kong Custom Plugin: Bad Request 400"
### Summary

I am trying to create custom plugin and created folders structures as per the documentation.
But I am getting schema exception which I am not able to comprehend

### Steps To Reproduce

1.luarocks make *.rockspec
2.export KONG_PLUGINS="bundled,custom-lugin name "
3.kong migrations up
4.kong reload -vv

### Additional Details & Logs

- Kong version : kong 1.0.2

api.lua:
[code]

daos.l

[2019-02-04 21:07] dave-shawley commented on #1121
@subnetmarco - I'm looking into implementing PKCE for Kong.  I was going to fork the oauth2 plugin and insert new code for the code challenge stuff.  Is there a better way to approach this?

If we take on this work, I do expect to contribute it back once we have it working.

[2019-02-04 22:57] subnetmarco commented on #1121
Forking and submitting a PR back would be the best way to contribute.

[2019-02-04 23:47] carnei-ro commented on #155
Hi guys, I've made something close to that:
https://bitbucket.org/leandro-carneiro/kong-aggregator/src/master/

[2019-02-05 07:59] Tieske commented on #4209
see this thread: https://github.com/Kong/kong/issues/1867 there seems to be a fork somewhere, I don't know how well it is maintained.

[2019-02-05 08:31] illyaMs commented on #4264
Hi.
Do I get it right, that the main focus is on keeping the configuration for all the services/routes/... in one single source of truth (say, git repo)? Do you consider alternative options (like autodiscovery and autoregistration for k8s services, based on some standardized k8s annotations/labels/... convention)?

Thanks.

[2019-02-05 11:08] sharmmoh1983 commented on #4280
Hi @hishamhm
I am struggling to get my custom plugin running after migrating to 1.x.x
migrations up is also not taking any new changes

Please assist me getting new dao layer implemented
Also why migrations folder has
[code]

[2019-02-05 16:46] jbool24 commented on #4276
As an extension to this, I cannot get my custom plugin code to load when setting a custom KONG_LUA_PACKAGE_PATH or lua_package_path. Kong will add an extra `/kong/plugins` to whatever string I provide. Is this a bug or am I misconfiguring?

tried setting the path via env and inside kong.conf

with environment:
[code]
and via /etc/kong/kong.conf
[code]

and then plugins set as (also tried both env

[2019-02-05 17:59] jbool24 commented on #4276
SOLVED
The issue is currently undocumented but kong will auto expand and concatenate `kong/plugins/<plugin-name>` to the end of whatever path you provide in the `lua_package_path` which doesn't seem so intuitive considering you would expect the custom path to BE the custom path you want kong to look in without any additions sub-directories. This may still be a bug or it may be intended for whateve

[2019-02-05 18:00] thibaultcha commented on #4271
Fixed by #4272. We will ship a 0.15.1 release in the near future (we don't have a precise date yet), as we are working towards 1.1, we will continue pushing fixes for the 1.0.x cycle, and include all of the relevant fixes to 0.15.1. Feel free to apply the patch manually for the time being, if you can.

Thank you for the report!

[2019-02-05 18:00] #4271 closed

[2019-02-05 18:00] thibaultcha commented on #4251
Fixed by #4272. We will ship a 0.15.1 release in the near future (we don't have a precise date yet), as we are working towards 1.1, we will continue pushing fixes for the 1.0.x cycle, and include all of the relevant fixes to 0.15.1. Feel free to apply the patch manually for the time being, if you can.

Thank you for the report!

[2019-02-05 18:00] #4251 closed

[2019-02-05 18:14] thibaultcha commented on #4277
@jeremyjpj0916 is correct, 1.0 removed a set of deprecated APIs in favor of the [Plugin Development Kit](https://docs.konghq.com/latest/pdk/). You can see examples of it being used in our plugins, for example: https://github.com/Kong/kong/blob/master/kong/plugins/basic-auth/api.lua#L41. It is a very straightforward change, and was overdue in order for us to improve the Admin API in 1.0.

We releas

[2019-02-05 18:14] #4277 closed

[2019-02-05 18:18] thibaultcha commented on #4278
@jeremyjpj0916 is also correct, 1.0 auto-generated Admin API endpoints when the underlying entities use our new DAO implementation, which is a huge improvement (the endpoints are also more robust and user-friendly regarding support content-types, inferences, and error messages).

You can find more details for these changes and the path forward in the [1.0 Upgrade Path](https://github.com/Kong/kong

[2019-02-05 18:18] #4278 closed

[2019-02-05 18:25] thibaultcha commented on #4280
[code]

The new `foreign` type is built with support for compound primary keys, and as such, expects the following notations:
[code]

This is documented in the [1.0 Upgrade Path](https://github.com/Kong/kong/blob/master/UPGRADE.md#admin-api):

As well as in the [1.0 Admin API documentation](https://docs.konghq.com/1.0.x/admin-api/#add-route).

In your case, you named your foreign field `service_id

[2019-02-05 18:25] #4280 closed

[2019-02-05 20:22] sharmmoh1983 commented on #4280
@thibaultcha

I followed the documentation but still migrations up command is not creating any table in postgres database.

After implementing  your changes , I am getting following errors:

[code]

[2019-02-05 20:32] sharmmoh1983 opened #4281 "Migrations Up : Issue for 1.x.x"
I have created migrations folder for my custom plugin ex:
[code]
But when I run migration up commands it says database already migrated

But when i start using the plugin , I get following error

[code]

Also when I run following commands:  kong migrations up --force -vv

I get following error regarding **response-ratelimiting**

[code]

Am I missing something in creating table for the migrations

[2019-02-05 23:57] thibaultcha commented on #4280
How is your migration written? Did you also reference it in the `init.lua` file of your `migrations/` directory? See for example how the [key-auth plugin implements migrations](https://github.com/Kong/kong/tree/master/kong/plugins/key-auth/migrations) (the `init.lua` file references existing migrations to run).

Also feel free to post the contents of your actual migration file, so we can better he

[2019-02-06 00:33] thibaultcha commented on #87
An implementation of this has been proposed at #4239. It leverages the native TTL support of our new DAO implementation, which means that TTLs are specified in seconds with this first pass.

[2019-02-06 01:20] sharmmoh1983 commented on #4280
@thibaultcha

I followed the key auth plugin and created migrations folder in following manner
When I run migrations up command nothing happens
When I run kong migrations up --force -vv, I get error related to my plugin

[code]
[code]

[code]

Getting following error:

[code]

Also for predefined plugins , I am getting following error

command:
kong migrations up --force -vv
[code]

[2019-02-06 01:22] sharmmoh1983 commented on #4280
@thibaultcha
I have created one issue also #4281  for the same

[2019-02-06 05:59] thibaultcha commented on #4281
It looks like the last error is a Lua syntax error that it preventing your migrations index from being loaded: (`malformed number near '000_base_rbac.lua'`). Based on what you posted in #4280, it seems like the array element is missing quotes:
[code]

Let's try to resolve that first, since if the migrations cannot read your index, it won't execute your migrations for sure.

[2019-02-06 06:10] sharmmoh1983 opened #4282 "Basic Auth: Consumers with same username"
I have a usecase where there are two consumers with same username but I cant configure it using basic auth plugin as username has to be unique
Is there any way to handle such scenario?

[code]

Why there is violation when I am creating same username in other different consumer?
Does Kong does not not support same username with different consumers ?

[2019-02-06 06:55] sharmmoh1983 commented on #4281
I implemented the changes but getting following error now

[code]
[code]

[2019-02-06 07:45] Tieske commented on #4282
This is by design, Consumers can be referenced either by their ID or by their username, hence they must be unique

[2019-02-06 07:45] #4282 closed

[2019-02-06 08:23] bungle commented on #4194
The idea of `polling` is to just check the `version` of `router`/`plugins map` (so polling is just about checking one variable). Something we do currently per request. So that is what it is "polling" — not like making db request every second. Then if it is not current, it will start a rebuild. The main advantage of this is that this does not pile up events.

[2019-02-06 08:31] jeremyjpj0916 commented on #4194
@bungle Sounds like it will scale better with more nodes etc. too than the event build up probably. I am up for testing it in our sandbox through to prod if you get it out in a week or so.I would then roll it up with our Prod deploy of 1.0.3 in 2 weeks or so we are planning for(some internal backlog things we are working on right now delaying that 1.0.3 upgrade).

Thx!

[2019-02-06 08:35] sharmmoh1983 commented on #4282
@Tieske
I agree Consumers should have unique username but why username under Customer username should be unique
Like in my case I have  two consumers with user123 and user1234 username but Aladdin as common credentials under them

[2019-02-06 09:57] devProdigy commented on #3008
This is still issue for my case

Using:<br>
- image: kong:1.0
- socket.io for front and back part
- server is on aiohttp

Socket keep connecting, disconnecting, connecting..and so on
After some tests - "Read timeout" parameter (in the service) seems to have impact on it. If this value was increased/decreased - then socket was "dead" after "Read timeout" amount of time. Tried to set "0" but got sch

[2019-02-06 10:17] Dan-Coleman opened #4283 "Migrations up issue on fresh install with cassandra"
### Summary

We are using cassandra as our kong backend storage. We have experienced issues in the past with fresh kong installations where the initial `kong migrations up` fails with error:

2/6/2019 10:11:20 AMcould not switch to internal2 keyspace ([Invalid] Keyspace 'internal2' does not exist), attempting to create it
2/6/2019 10:11:20 AMsuccessfully created internal2 keyspace
2/6/2019 10:11:2

[2019-02-06 10:32] Dan-Coleman commented on #4283
I've done some more investigation and the issue must be somewhere with our Cassandra cluster, as when running on a single node the migrations execute fine.

[2019-02-06 10:32] #4283 closed

[2019-02-06 15:18] Tieske commented on #4282
So if a request comes in with:
[code]

Now which of the 2 Consumers should Kong assign to the request? The credentials should identify a unique Consumer

[2019-02-06 18:00] lakshmanraob commented on #1500
I am unable to get authorization_token

<img width="926" alt="screen shot 2019-02-06 at 11 28 39 pm" src="https://user-images.githubusercontent.com/3072034/52362660-0e371600-2a67-11e9-917c-6c3d45e609f5.png">

need help in resolving the issue

[2019-02-06 19:10] sharmmoh1983 commented on #4281
@thibaultcha

I am trying to ad few more custom plugins but ending up with same error. Tried to to debug the issue but fail to understand what is the root cause for the same

[2019-02-06 19:18] thibaultcha commented on #4281
@sharmmoh1983 Migrations need to have both their PostgreSQL and Cassandra counterparts. Additionally, the `name` property does not exist anymore. Try at least:
[code]

[2019-02-06 19:35] sharmmoh1983 commented on #4281
@thibaultcha

I have tried that option and made the changes as per existing plugin like key-auth and the one you suggested but error remains the same
Not able to figure out what is the root cause .

[2019-02-06 20:10] sharmmoh1983 commented on #4282
ok...then is it possible to have consumer_id username and password as unique combination
In our set up we are creating consumers/deleting consumers as in when service gets added or deleted  in dynamic fashion so not able to track the association of  a specific consumers with all services

Also we are facing issue of duplicate username for different customers

What can be best fit for such kind of

[2019-02-06 20:17] thibaultcha commented on #4281
This error?
[code]

It seems like Kong cannot connect to your PostgreSQL instance. you should make sure that it can.

[2019-02-06 21:05] sharmmoh1983 commented on #4281
@thibaultcha
This error is coming when I am running sudo command but in normal migrations up this error is not appearing
I could see all other plugins present in kong  migrated  successfully when running kong container

[2019-02-07 03:45] mmonroe86 commented on #537
@mikesparr  did this ever get resolved? Im experiencing the same issue

[2019-02-07 05:39] sharmmoh1983 opened #4289 "ACL-Consumer-Services : Asscoiation"
Summary

I have requirement to delete ACL and Consumer  attached   to a service (basic auth/acl  plugin attached) while deleting the service but I have no clue whether same ACL or Consumer is  associated with other services or not before committing delete

Is there any possibility to get list of services associated with ACL or Consumer to safely delete ACL/Consumer when a particular service is not

[2019-02-07 11:38] Dan-Coleman commented on #4283
Can confirm this was due to the Cassandra version, using the latest version migrations execute successfully.

[2019-02-07 13:53] Tieske commented on #4282
When a request comes in the consumer id is not included. Only username and key, so the problem remains the same.

[2019-02-07 14:45] bungle commented on #4194
@jeremyjpj0916

Both PR's are now rebased to latest `next` branch. In addition I did the change that I was speaking. E.g. now there is recurring timer (every second)  on each worker that checks `router:version` and `plugins_map:version`, and if needed starts a rebuild.

#4102 contains router only
#4202 contains router and plugins maps (this is what you want)

Let me know if there are any benefits

[2019-02-07 19:59] sharmmoh1983 commented on #4281
@thibaultcha

Did you get a chance to look into the issue? Are there clear steps documented  for using new dao implementation?

[2019-02-07 20:50] Tieske commented on #3713
An additional question is whether we want details about why it failed to be returned, or just the "401 Unauthorized"  to not leak any info.

[2019-02-07 22:49] zkendall commented on #4237
Wouldn't you want to manage this like any other application-data and back it up on the DB level, not through REST APIs?

[2019-02-08 13:44] romanovskyj commented on #4237
For DB disaster backup is possible, you are right, but for tracking the config history or propagating similar config to other instances (dev/stage/prod) I am afraid it is not enough.

[2019-02-08 19:13] kikito commented on #4264
@illyaMs we want declarative config to be usable with and without k8s, so we are starting with a "plain" JSON/YAML/Lua format. The syntax is isolated on the first layer of the declarative config programming, so adding more parsers in the future shouldn't be extremely difficult. We accept and appreciate pull requests!

[2019-02-09 08:42] sharmmoh1983 commented on #4281
@thibaultcha
I have found the line where it is failing which is
Module name:
`kong.plugins.rbac.migrations.000_base_rbac.lua`

[code]

It seems module name of custom plugin is not loaded properly . Dont know what is the reason behind?

I am right now enabling plugin by
`export KONG_PLUGINS="bundled,rbac"`

Is this is also changed in new version?

[2019-02-11 01:58] jeremyjpj0916 commented on #4194
@bungle I will review the code and give it a go sometime over the next few weeks and get back to you(just got back from vacation last few days and have a little catching up to do). Thanks for continuing to improve/progress your implementations around the original reported problems in this thread 👍 .

[2019-02-11 03:53] agvikashsagar commented on #416
+1. It would be great to validate the input payload in gateway, let me know if this is implemented.

[2019-02-11 04:10] jeremyjpj0916 commented on #416
If you have an xsd of the xml schema doing validation is pretty trivial if you leverage this lua lib:

https://github.com/d-led/xerceslua

^As a plugin this would be easy to implement. There is certainly value in supporting XML as its really popular in legacy/soap payload tx's, but with how Kong generally stays forward thinking I can see why this has stayed unimplemented. Also I did not see an eas

[2019-02-11 12:58] tzssangglass commented on #3192
hi,请问方便分享一下你的自定义插件吗，我在学习这个

[2019-02-11 15:47] satishmane opened #4294 "How to add service/route - Kong 1.0.3"
### Summary
Kong Version : 1.0.3

Followed steps at https://docs.konghq.com/1.0.x/getting-started/configuring-a-service/ to configure service.

### Steps To Reproduce
1. Add Service
curl -i -X POST \
  --url http://localhost:8001/services/ \
  --data 'name=sampleapi' \
  --data 'url=http://sample.com/v1/accounts'

2. Add Route
curl -i -X POST \
  --url http://localhost:8001/services/sampleapi/rout

[2019-02-11 16:16] Tieske commented on #4294
We appreciate you took the time to open an issue for this. However, kong github issues are for bug reports only. I'd like to ask you to post this on the [Kong Nation forum](https://discuss.konghq.com/)

I'll close this issue now. If you think this was closed in error, then please reopen.

That said, you created a route with a host "sample.com" but then in your requests in step 3 fail to pass the H

[2019-02-11 16:16] #4294 closed

[2019-02-11 17:17] satishmane commented on #4294
thanks. realized just after posting that I need to set host in header.

[2019-02-12 05:13] hellower opened #4298 "[Q]SOURCE compile - luarocks version"
according to..
https://docs.konghq.com/install/source/?_ga=2.21260667.1520554348.1549842280-884864243.1549842280

Why should I use luarocks 2.4.3? any reason???

I compiled kong with luarocks 3.4.0
It also good work.

sorry for poor english.

[2019-02-12 05:46] sharmmoh1983 commented on #4281
@thibaultcha
Did you get a chance to look into the issue? I have to write this custom plugin soon using latest version of Kong which was working fine in 0.14 version. Any help will be appreciated?

[2019-02-12 07:14] rkchilaka commented on #3056
I am having the same issue, kong returns a 302 redirect, which redirects to upstream url.

[2019-02-12 13:15] michaelkrog opened #4299 "Upstream changes not propagated throughout the cluster"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

I am seeing issues that points to that a node in our cluster can stop picking up changes from the database. What we specifically saw was that changes to upstreams did not propagate from

[2019-02-12 13:28] rupzzx commented on #326
Which plugins can be used for triggering email in KONG.

[2019-02-12 13:45] milaw commented on #4271
Thanks

[2019-02-13 05:06] dyfvicture opened #4303 "Could not create rate-limiting on consumer"
### Summary

Could not create rate-limiting on consumer

### Steps To Reproduce

1. create a consumer (with consumer_id: 69f05f43-d7ad-457f-abd5-197d447d08c9)
2. create rate-limiting on that consumer:
curl -X POST http://localhost:8001/plugins \
    --data "name=rate-limiting" \
    --data "consumer_id=69f05f43-d7ad-457f-abd5-197d447d08c9"  \
    --data "config.second=1" \
    --data "config.minut

[2019-02-13 08:24] dyfvicture commented on #4303
I tried `consumer.id` instead of `consumer_id` in post datas and it seems success

[2019-02-13 08:24] #4303 closed

[2019-02-13 17:18] kikito opened #4306 "Response content-length header stripped when content-type is “text/html”"
### Summary

Source: https://discuss.konghq.com/t/response-content-length-header-stripped-when-content-type-is-text-html/2810

### Steps To Reproduce

Assumed steps:

1. Set up a server which returns a non-empty response with `Content-Type = `text/html` and a non-empty `Content-Length`
2. Proxy that server with Kong
3. Make a request to the proxied server
4. The response should have the `Content-L

[2019-02-13 17:34] bungle commented on #4306
I tried to create service and route and pointed service to http://www.google.com/, and it returned content-length just fine. Is there plugins involved? Does your upstream set that, or does it perhaps return data with `chunked` encoding?

[2019-02-13 17:46] jeremyjpj0916 commented on #4306
@bungle yes, this plugin is involved: https://github.com/Optum/kong-response-size-limiting , if the size is set lower that the configured size limiter it should see the content-length header and return error to proxy consuming client. debug traces of this plugin revealed when text/html is set to the content-type on response accessing the length header is nil in ngx context in header_filter phase.

[2019-02-13 18:09] kidd commented on #4298
Hello @hellower,
Kong works well with LuaRocks 2 and 3. As you've seen yourself, there shouldn't have any problems with using LR3.

[2019-02-13 18:09] #4298 closed

[2019-02-14 09:03] suifengpiao14 opened #4310 "when using Ring-balancer the upsteam request host header is not service host"
### Summary

set route preserve_host to false ,using Ring-balancer the upsteam request host header is not service host

### Steps To Reproduce

1. set route preserve_host to false
2. define a service host (.et  auth.service.cn ),make sure the host not resolve by dns
3. create a upstream resolve service host (auth.service.cn)
4.  using ip:port format to  add a target to upstream (.et 192.168.5.191:

[2019-02-14 09:26] Tieske commented on #4310
This is expected.

The "virtual hostname" that the name of the `upstream` is, will never be used as the host name for the upstream request. If `preserve_host` is `false` then the target name will be used (in your case the IP address). If you add the target by a hostname, eg. `my.service.com:8000`, then the target name `my.service.com` would be used as upstream hostname.

This might be something to

[2019-02-14 09:38] suifengpiao14 commented on #4310
@Tieske  think you

I agree  adding  a single boolean option on the upstream entity.
I really need this feature, how can I implement it with minimal changes
thinks

[2019-02-14 13:37] Tieske opened #4311 "IP normalization issues from #3679"
The PR introduced a number of issues:

- [This line](https://github.com/Kong/kong/blob/master/kong/tools/utils.lua#L797) should not be doing a normalization. The function is for formatting. Formatting is cheap, normalization is not, hence the distinction. Even the doc comments are out of sync (they still describe the desired (=old) behaviour). See this comment: https://github.com/Kong/kong/pull/36

[2019-02-14 13:38] Tieske commented on #4311
![](https://github.trello.services/images/mini-trello-icon.png) [Create issues from comments](https://trello.com/c/C5qFghul/103-create-issues-from-comments)

[2019-02-14 18:13] amenophis commented on #3307
Any news on this topic ? It would be nice to get autogenerated openapi client with tools like https://github.com/janephp/janephp

[2019-02-14 20:07] #4217 closed

[2019-02-14 23:37] james-callahan commented on #4311
I think renaming the functions might be helpful, the functionality required is:

  - validate address
  - canonicalize address (e.g. for use as a table key)
  - format addresses for human consumption

[2019-02-15 11:09] kidd commented on #4289
Hello @sharmmoh1983,

Yes, you can check the acls associated to a consumer with `curl -X GET http://kong:8001/consumers/{username or id}/acls`.  There's some more useful endpoints to query ACLs in https://docs.konghq.com/hub/kong-inc/acl/

Note that Kong Github issues are for bug reports and feature requests only. We encaurage this kind of discussions to be held at https://discuss.konghq.com/.

[2019-02-15 11:09] #4289 closed

[2019-02-15 11:50] panlilu opened #4317 "Cannot delete upstreams on Kong 1.0.2"
### Summary

Cannot delete upstreams on Kong 1.0.2

### Steps To Reproduce

1. Create one upstream
2. Create some targets belongs to the  upstream
3. Delete all the targets
4. Delete the upstream will raise error "an existing 'targets' entity references this 'upstreams' entity"

### Additional Details & Logs

- Kong version 1.0.2
- Operating system Debian 4.9.130-2 (2018-10-27) x86_64
- Database c

[2019-02-15 11:59] neomatrix1993 commented on #736
How do you put debug points in lua, like we do intellij etc. Its super hard to dev anything in lua. Haven't found anything good to dev it in.

[2019-02-15 12:09] tzssangglass opened #4318 "Can I have a detailed guidance for setting up development environment for plug-ins on Kong?"
I tried to install the tested environment for busted on Kong by following the guidelines 'Plugin Development - Writing tests, Install by Compile Source, & Kong/openresty-paches’. But I failed.

My PC is Mac OS Mojave-10.14.3

The key steps of installing:

1 openssl-1.1.1

./config \
--prefix=/usr/local \
--openssldir=/usr/local/ssl

./config shared \
--prefix=/usr/local \
--openssldir=/usr/local/s

[2019-02-15 14:09] hishamhm commented on #4317
@panlilu Thank you for reporting! We're looking into it.

[2019-02-15 15:30] hishamhm commented on #4310
@suifengpiao14 You should be able to force the Host value with the request-transformer plugin.

Closing this one since the original question seems resolved. Thank you for the feedback!

[2019-02-15 15:30] #4310 closed

[2019-02-15 15:36] hishamhm commented on #4299
Thanks for reporting! When you see the differences, is it only in the `/upstreams/xena/health` endpoint or does the Upstream configuration show up inconsistent in `/upstreams/xena` as well?

[2019-02-15 15:59] michaelkrog commented on #4299
The whole configuration is inconsistent. Fx . removing a target from an upstream is not reflected on the other node.

[2019-02-15 17:39] #4317 closed

[2019-02-15 17:47] hishamhm commented on #4317
@panlilu The fix is now merged, thank you for reporting!!

[2019-02-15 19:01] Tieske commented on #4318
Have a look at the `kong-vagrant` repository

[2019-02-15 19:01] #4318 closed

[2019-02-15 21:14] Tieske commented on #736
Log it. See https://discuss.konghq.com/t/best-practices-for-kong-debugging-example/182

[2019-02-16 21:31] bungle commented on #4306
@jeremyjpj0916 can you try with this branch:
https://github.com/Kong/kong/pull/4316

[2019-02-16 21:36] bungle commented on #4306
@jeremyjpj0916,

Also `ngx.header["Content-Length"]`is not the same as `ngx.var.upstream_http_content_length`. You should be using the latter. Or use `pdk`'s `kong.service.response.get_header("Content-Length")`

[2019-02-17 05:12] jeremyjpj0916 commented on #4306
@bungle, back when I was debugging a mem leak found in pdk I reverted code from using pdk to barbones ngx.* fields, and I think in a rush I must have chosen the wrong value when I did the revert although the field I chose seems to generally work(when I hard code a large content length header value that field does pick it up it seems). I will change it to the latter, but were you able to reproduce

[2019-02-17 11:28] bungle commented on #4306
@jeremyjpj0916 I think changing to `ngx.var.upstream_http_content_length` is what you want to do. The PR might solve issues with some upstream hop-by-hop headers sent to downstream. But I think the `ngx.var.upstream_http_content_length` is what you want. `ngx.header` contains response headers, and `ngx.var.upstream_http_*` contains upstream response headers.

[2019-02-18 01:03] sharmmoh1983 commented on #4276
@jbool24

How did u resolve the issue?

[2019-02-18 07:07] jeremyjpj0916 commented on #4194
@bungle Okay I gave 1.03 a go today with your router/plugin map rebuild via polling and am happy to report similar stability is achieved much like the cluster rebuild method you chose prior.

Tested at 220 TPS against an existing proxy endpoint(to make sure proxying was stable) while creating 5k new consumers + services + routes and plugins/acls and such associated much like a common gateway setup

[2019-02-18 14:46] bungle commented on #4306
@jeremyjpj0916 to elaborate a bit. What do you have in `ngx.var.upstream_http_transfer_encoding` when this happens?

[2019-02-18 15:18] brettcave commented on #4268
Downgrade your postgres from 9.5 to 9.4 - this solved for us as a workaround.

[2019-02-18 18:16] dave-shawley commented on #3972
Looks like it should be pretty easy to fix.  Instead of using `token.scope` when updating, we should be merging the incoming token parameter into a new table.  The relevant code is https://github.com/Kong/kong/blob/fbb95ba8a371ab15e034baec95271bbc0319ef6e/kong/plugins/oauth2/access.lua#L513-L547 .

[2019-02-18 20:28] sharmmoh1983 commented on #4281
I am closing this issue and start a fresh project to see what difference it will make

[2019-02-18 20:28] #4281 closed

[2019-02-18 21:39] nopslip opened #4321 "HMAC signature cannot be verified when using more than one enforced header"
### Summary
After setting up Kong hmac-auth plugin i'm getting error 403: `HMAC signature cannot be verified` when using more than one enforced header.

### Steps To Reproduce

1. Setup the plugin, consumer and creds:
[code]
[code]
[code]
2. Testing POST from nodejs using Axios (relevant lines):
[code]
produces `HMAC signature cannot be verified`

I tracked down the error message here:
https://git

[2019-02-18 23:56] Gaspechak opened #4322 "Kong get stuck on response"
### Summary
After setting up Kong with DigitalOcean managed database, apparently everything is working well, the connection with database is working and i already executed kong migrations bootstrap.
The stack is up and running, all the necessary ports are open and the service logs shows that kong is running but when i send a request to him, the response never comes, only when i remove the stack.

[2019-02-19 02:20] sharmmoh1983 opened #4323 "api.lua: Insert failing for foreign key"
### Summary

I am creating a custom plugin which involves creating custom entities and api. I am able to create tables but POST method fails for service acting as a foreign key

### Additional Details & Logs

- Kong version 1.0.2

- Kong error logs (`<KONG_PREFIX>/logs/error.log`)
`
`2019/02/19 02:02:20 [error] 223#0: *5082 [kong] init.lua:92 ERROR: column "service_id_id" of relation "test_resourc

[2019-02-19 02:22] robinwangrubin opened #4324 "How can i use the 3rd authentication for JWT or AUTH2.0?"
Hello,
I met a problem:
There are more than 1 million users in my website.
And i wanna use the JWT authentication or Auth2.0 for my users.
Must i create 1 million consumers by myself?

My dream flow is that:
1. User login my website.
2. My own authentication service will check the user's username and password.
3. If passed the check, my own auth service will set a  JWT token in the response header

[2019-02-19 04:50] sharmmoh1983 commented on #4323
I have got somehow working but getting issue related to cache key

How to define service_id as cache key?

`[postgres] schema violation (cache_key: a field used as a single cache key must be unique)`

[2019-02-19 07:41] #4323 closed

[2019-02-19 08:27] panlilu commented on #4317
Cheers 🍻

[2019-02-19 11:10] sharmmoh1983 opened #4326 "Insert and get operation : api endpoints"
@thibaultcha
I have iron out most the issues for my custom plugin in latest version in Kong but failing to certian kind of insert and get which are not straight forward as get_collection_endpoint and post_collection_endpoint

Use Case

dao.lua

[code]
[code]

I am not able to understand how to find data from roles table by  **role_name_or_id**  or insert data in table based on certain inputs **sel

[2019-02-19 19:52] sharmmoh1983 commented on #4326
@thibaultcha

Is there any way to get or insert /delete records from table based on the particular input in new version   like  it was happening in old version
[code]

[code]

I saw plugins code implemented by users but did not see this particular pattern of having two foreign key inserts and custom get/insert functions

Standard endpoint function like post_collection_endpoint , get_collection_end

[2019-02-20 01:05] Gaspechak commented on #4322
Ok, after digging a lot, turns out that kong fails trying to read the ca-certificate because its on /root folder of the container.

Then i changed that:
[code]

to that:
[code]
then everything is working fine, its not a bug.

[2019-02-20 01:05] #4322 closed

[2019-02-20 02:15] Dog-Lee opened #4329 "cant not query endpoint for /oauth2"
kong-ee can using query param like `/oauth2?client_id={client_id}`, but in kong-1.0.3, it can't effect.

![image](https://user-images.githubusercontent.com/20838671/53061080-a5847a80-34f7-11e9-8352-3539f64c5d04.png)

[2019-02-20 04:22] sharmmoh1983 commented on #4326
@thibaultcha

I have got something working based on get or insert which as follows:

[code]
Is this correct way to do it? Also wanted to know how to get based on both name and id together for
` local roles, _, err_t =kong.db.test_roles:select_by_name(self.params.role_name_or_id)`
`like kong.db.test_roles:select_by_name_or_id(self.params.role_name_or_id)`

[2019-02-20 08:13] migolovanov opened #4330 "Custom response in header_filter context"
Hello!
Is it possible to send custom response to client in header_filter context? As far as i understand, on this stage kong already received headers from upstream, but hasn't sent anything to client, so in theory it should be possible to modify response. I understand that functions like ngx.say won't work in header_filter_by_lua context of openresty as well, but maybe there is some hint or simila

[2019-02-20 09:18] mittaliavi commented on #155
Any idea , if we have this plugin available now?

[2019-02-20 14:46] yskopets opened #4334 "Logging and Metrics plugins don't work for TCP requests"
### Summary

Logging and Metrics plugins don't work for TCP requests.

Apparently, they always expect environment variables that are only relevant to HTTP requests.

### Steps To Reproduce (for Logging Plugin)

1. Setup `Kong` to proxy TCP traffic (e.g., by following https://github.com/Kong/kong-mesh-dist-kubernetes)
2. Apply `HTTP Log Plugin` globally (e.g., curl -X POST http://localhost:8001/plu

[2019-02-20 15:25] pajel opened #4335 "Error migrating 0.14.1 to 1.0.3"
### Summary

I've successfully migrated our dev and staging environments, but when migrating prod I get the following error (I've tried with and without --db-timeout 120, using AWS RDS Postgres 10.6):

[code]

Subsequent `migrations up` fails again, `migrations finish` succeeds but then Kong 1.0.3 doesn't start loggging following:

[code]

Any suggestions please?

[2019-02-20 17:24] bungle commented on #4306
Btw. is there `gzip` involved?

[2019-02-20 18:51] thibaultcha commented on #4330
Hi,

Our [PDK](https://docs.konghq.com/1.0.x/pdk/) does not yet expose utilities to easily override the response body. You'll have to get crafty with [ngx.ctx](https://github.com/openresty/lua-nginx-module#ngxctx) (a nicer, namespaced alternative is exposed by the PDK as [kong.ctx](https://docs.konghq.com/1.0.x/pdk/kong.ctx/)) and [ngx.arg](https://github.com/openresty/lua-nginx-module#ngxarg).

S

[2019-02-20 18:51] #4330 closed

[2019-02-20 19:44] migolovanov commented on #4330
Sure i'll. Thank you very much for clarification.

[2019-02-20 21:16] sharmmoh1983 opened #4336 "Cache get : Based on Foreign Key"
I am implementing reading from cache in custom plugin in latest version 1.x.x and had it earlier running in 0.14 version

But in latest version fetching from db based on foreign keys is not happening as happening earlier

dao.lua

[code]
**0.14**
**Code**

[code]
dao.test_role_resources:find_all({ test1= test1, test2 = test2 }) query not running in latest version

How to look up in the database an

[2019-02-20 22:04] jeremyjpj0916 commented on #4306
@bungle we just validated a chg on the plugin.
[code]

This was the fix and fixed what we were seeing. no gzip or fancyness involved on our mock response, the issue was just using ngx.header["Content-Length"] and some reason it was null when text/html was the content-type on response it seemed.

@kikito you can can close this, bit of a false alarm here, sorry!

[2019-02-20 22:31] bungle commented on #4329
I think we could add:
`/oauth2/<id-or-client_id>`

Thank you for reporting.

[2019-02-20 23:27] thibaultcha commented on #4306
Closing this then, good job everyone.

[2019-02-20 23:27] #4306 closed

[2019-02-21 11:11] bungle commented on #4194
I think that is expected as the rebuilding takes longer and there is possibility that multiple workers do it at same time, than with lesser resources. I guess that explains the difference. It must be quite rare in real-world to rebuids happen that often.

[2019-02-21 11:45] bungle commented on #4194
Here I think we are now hitting the same problem as before in router / plugins maps rebuilding. But this time at admin api.

Does all your Cassandra nodes run the exactly the same version?

@thibaultcha not sure if there is anything we can do in a client: https://www.mail-archive.com/user@cassandra.apache.org/msg45381.html

[2019-02-21 13:41] anancds commented on #898
sloved this issue,thanks

[2019-02-21 16:40] jeremyjpj0916 commented on #4194
@bungle agree on first point, under no real world scenario should Kong be constantly changing/resource growing as a gateway realistically on a second by second basis.

All our Cassandra nodes run: Cassandra 3.11.2

The previous fix in router/plugin map rebuild was to do keepalive to the C* host the specific query is being executing against correct? Would it make sense for the admin API calls to ta

[2019-02-21 17:09] thibaultcha commented on #898
Hi all,

A whole section of the documentation has since been written on the topic of securing the Admin API: https://docs.konghq.com/1.0.x/secure-admin-api/

Hope that is helpful to some of you or future readers.

Cheers,

[2019-02-21 17:25] jeremyjpj0916 opened #4337 "Newer HTTP Log Plugin Warn(buffer full) under load"
### Summary

I have been using a flavor of the new http-log plugin with the buffer @hishamhm has been working on. Seems at higher TPS I see this now:

[code]

Derives from here: https://github.com/Optum/kong-splunk-log/blob/master/src/buffer.lua#L322

My Plugin is configured like so:
[code]

My thoughts are along these lines because I am not actually seeing L4 failures being thrown from the plugin

[2019-02-21 23:38] bungle commented on #4334
@yskopets

That's expected. On `next` branch we have this:
https://github.com/Kong/kong/blob/next/kong/plugins/http-log/schema.lua#L6

E.g. the plugins can tell which protocols they can handle.

[2019-02-22 09:58] JoyZhang66 opened #4338 "Some deleted targets reappear after cleaning target history"
### Summary
In my design, I add target to upstream when server starts and delete target when server stops. So there are many targets in target history. But sometimes, after adding or deleting a target and target history is cleaning up, some deleted targets will reappear.

Related logs:

2019/02/22 02:11:52 [notice] 32#0: *4016508 [lua] targets.lua:63: clean_history(): [Target DAO] Starting cleanup

[2019-02-22 12:02] yskopets commented on #4334
@bungle As far as I understand, those changes result in Logging and Metrics Plugins not being called for TCP traffic anymore.

But, as a user, I do expect logs and metrics for TCP traffic.

Should I open separate issues to add support for TCP traffic into HTTP Log Plugin, Prometheus Plugin, Statsd Plugin, etc ?

[2019-02-22 12:54] bungle commented on #4194
Yes, this was during the `rebuild`, but now `admin api` calls are two separate requests. That can endup in any node in cluster, in any worker in node. In cases where admin api actually executes multiple statements, it would make sense to have the same connection available through the whole phase. But I checked that `/consumers` call specifically. So there is no easy solution here. I would perhaps

[2019-02-22 12:57] jiancaiHub opened #4340 "Frequent core dumps"
### Frequent core dumps

25452 is pid of nginx worker

[code]

### open core file with openresty-gdb-utils

There are many function was found
1.  lj_str_new
2. gc_sweep
3. lj_alloc_free
4. ...

### use valgrind testing openrest/nginx

[valgrind-out.txt](https://github.com/Kong/kong/files/2894005/valgrind-out.txt)

[code]

### Additional Details & Logs

- Kong version  -  0.14.1
- Kong error logs

[2019-02-22 13:27] p0pr0ck5 commented on #4340
Please post the Kong config file as well as a core dump itself. Are you using the CentOS rpm provided for Kong on Bintray, or are you compiling from source?

[2019-02-22 14:20] hishamhm commented on #4338
This sounds like the issue that was fixed here:
https://github.com/Kong/kong/commit/bbd62e87c640f862b5b53eae4ec082ed41dfcf1b

The commit above was included in Kong 1.1.0rc1, released yesterday. If you are able to give that version a try in your test environment, that would be excellent!

[2019-02-22 14:37] jiancaiHub commented on #4340
@p0pr0ck5  github not support file suffix of `.cnfig `, so renamed with `.txt`.

[kong.conf.txt](https://github.com/Kong/kong/files/2894440/kong.conf.txt)

[2019-02-22 14:57] jeremyjpj0916 commented on #4194
@bungle Makes sense, if you see any indication that makes you think a later version of C* has this fixed that Kong supports I will certainly upgrade to it 👍 , I googled around the paging issue and never saw any specific changelog mentioning a problem like that was fixed in a specific version.

[2019-02-22 15:03] hishamhm commented on #4336
`find_all` no longer exists. It was an overly-general function which resulted in low-performance queries. The new DAO design only generates by default queries that can be implemented efficiently.

Is this query meant to find a single entry matching `test1` and `test2`? (i.e. is the resulting combination unique?) If so, you can try this:

1. add `cache_key = { "test1", "test2" }` to your schema as

[2019-02-22 15:12] hishamhm commented on #4335
Just to clarify, the above log is from running _without_ `--db-timeout 120`, right?

[2019-02-22 15:36] pajel commented on #4335
@hishamhm nope, that one is from running _with_ `--db-timeout 120`. You can see the full command at the beginning of my log.

[2019-02-22 20:15] sharmmoh1983 commented on #4336
@hishamhm
Thanks for your inputs .I will try it but I have see one use case in which I give single foreign key as cache key in my table , it says it has to be unique and I can't define it unique in doa.lua as it again complain that unique key word cant be defined for the foreign key.

[code]

`**Error** : Schema violation cache_key should be unique`
Also I have defined one more issue #4326   on th

[2019-02-24 04:26] CatsPlugins commented on #4181
Hi @jl91

Can I ask you something?

For the ENV variables of Kong SSL certificates.

Current,y with my setup, I can run Kong with port 8000, but, I couldn't use it with port 8443.

When I access with ip:8443, it returns connection refused. Is it something related to the SSL certificate. If it's, how can I config the certificate properly?

Thank you!

[2019-02-24 04:41] jiancaiHub commented on #4340
@p0pr0ck5  Hi, Robert! Please give me some ideas to solve this problem.

[2019-02-24 04:43] p0pr0ck5 commented on #4340
Would be great to have a core dump, can you store it in s3 or somewhere similar?

[2019-02-24 07:31] jiancaiHub commented on #4340
@jiancaiHub  It's just one of those.
[core.23776.zip](https://github.com/Kong/kong/files/2897706/core.23776.zip)

[2019-02-24 22:26] bungle commented on #4340
@jiancaiHub thank you for the report!

@james-callahan, does this ring any bells with you (I mean that could it be related to that `preread` socket problem?)

[2019-02-25 01:55] JoyZhang66 commented on #4338
Thanks for your reply. I can only see this issue in my prod environment, I will see if it happens again when 1.1.0 is released.

[2019-02-25 08:05] jiancaiHub commented on #4340
@p0pr0ck5  @bungle   I found this warning from the log.
`2019/02/25 12:09:14 [warn] ulimit is currently set to "1024". For better performance set it to at least "4096" using "ulimit -n"`

[2019-02-25 08:08] guagualvcha opened #4343 "version of unirest of kong need upgrade"
For the Kong gateway, running npm audit shows one affected package

 unirest needs your attention.

[ moderate ] Regular Expression Denial of Service
 vulnerable versions < 1.4.1 || > 2.0.0 < 2.0.3 found in:
 - dependencies: unirest>mime
[ moderate ] Prototype Pollution
 vulnerable versions <= 4.2.0 || >= 5.0.0 < 5.0.3 found in:
 - dependencies: unirest>request>hawk>boom>hoek
 - dependencies: unir

[2019-02-25 18:53] jeremyjpj0916 commented on #4194
Also preliminary, but it seems moving to the polling technique that was released over event driven seems to have my pods running cleaner on mem consumption(lower levels of memory consumed reported + growth seems slower or stabilizing). Note I upgraded to 1.03 from 1.02 at the same time this polling change was made so can't say 100% for sure exactly what it was but I assume the polling that improve

[2019-02-26 11:16] AlexProfi commented on #2048
I get 302 redirect always even if I switch ssl-redirect: "false"

[2019-02-26 14:59] sjoblomjsqueed opened #4344 "Unable to configure response-ratelimiting plugin"
### Summary
I'm unable to configure response-ratelimiting plugin, it gives "expected a number"

### Steps To Reproduce

I've [read the docs](https://docs.konghq.com/hub/kong-inc/response-ratelimiting/) and I'm attempting to set up the response-ratelimiting plugin like this:
[code]

It spits back an error message saying "expected a number", however:
[code]

Could anyone please help me figure out wh

[2019-02-27 05:25] moyuanhui commented on #879
@sonicaghi do you know tcp how to config elk ,can u get me a blogs

[2019-02-27 05:26] moyuanhui commented on #879
@samek get me a solution~~

[2019-02-27 06:15] p0pr0ck5 commented on #4340
@bungle how's preread relevant on 0.14.1?

[2019-02-27 08:00] bingjava opened #4346 "Too many clients already occur at the hour"
At the whole point of every hour, there will be a lot of requests penetrating the database, and the gateway will have a lot of timeouts and errors: - - - --- handler. lua: 339: before (): could not rebuild router: could not load APIs: [postgres error] FATAL: Sorry, too many clients already;

Note: Kong version 0.12.3

[2019-02-27 08:23] Prodigy123 opened #4347 "How KONG connect to Secondary development Postgresql Db"
### Summary

My group have developed a new db based on postgresql, which has different db driver from the original one. We want KONG can connect to our own Secondary development Postgresql Db, so where can I modify the db driver?

[2019-02-27 14:56] bungle commented on #4347
we use: https://github.com/leafo/pgmoon

which you can fork and change. you can then build a new db strategy to kong for your db that loads your driver.

[2019-02-27 14:59] bungle commented on #4343
Van you elaborate more where this happens? Kong CE at least has no unirest, and I am pretty sure we don’t package it.

[2019-02-27 19:12] subnetmarco commented on #879
@moyuanhui you can use the TCP Logging plugin to send data to Logstash, and from Logstash store it into Elasticsearch and visualize it into Kibana.

[2019-02-27 23:15] #4346 closed

[2019-02-27 23:15] p0pr0ck5 commented on #4346
This is a known issue that was addressed in Kong 1.0.

[2019-02-27 23:19] p0pr0ck5 commented on #4346
(This was addressed in https://github.com/Kong/kong/pull/3782)

[2019-02-28 01:03] subnetmarco commented on #1981
Are there any updates on this issue?

[2019-02-28 01:04] subnetmarco commented on #3046
Any updates on this issue?

[2019-02-28 01:05] subnetmarco commented on #3262
Any updates with this issue on latest Kong `1.x` ?

[2019-02-28 02:14] lilan123 opened #4348 "[oAuth2] http error"
I have configured **config.accept_http_if_already_terminated=true** and try to use http request to 8000 port using postman, also I added X-Forwarded-Proto:https header, but still I received below error

      {
          "error_description": "You must use HTTPS",
          "error": "access_denied"
      }

[2019-02-28 02:25] p0pr0ck5 commented on #4348
Hi,

Can you confirm that the `trusted_ips` directive is set directly.

[2019-02-28 02:29] lilan123 commented on #4348
Hi @p0pr0ck5

I haven't set `trusted_ips`, can you advise me to how to set it?

Thank you

[2019-02-28 02:37] p0pr0ck5 commented on #4348
Sure! The directive is documented here:

https://docs.konghq.com/1.0.x/configuration/#trusted_ips

The value of this directive is the list of client addresses that are trusted to serve with X-Forwarded headers with a reliable value. For example, in the case where kong is deployed behind a load balancer, this value would be the address(es) of the LB sitting in front of kong.

[2019-02-28 03:37] JnMik commented on #1981
I managed to have one up and running last year, inside a swarm cluster. But the sequence to boot up the stack was pretty slow because cassandra nodes had to wait for the previous one to be ready before booting, I believe I also had to spawn the first kong container alone so it can run migrations, and the others after.

It was a bit of a pain, but I got it working. Still in the end I found it simpl

[2019-02-28 03:46] Prodigy123 commented on #4347
Thanks, that would be greatly helpful. The other question that puzzle me is: Can I connect my KONG container to a local db? If this would be okay, how could I do this ?

[2019-02-28 04:33] lilan123 commented on #4348
Thank you @p0pr0ck5 That works for me.

[2019-02-28 04:33] #4348 closed

[2019-02-28 04:44] p0pr0ck5 commented on #4348
Great! Thanks!

[2019-02-28 09:44] ophusky opened #4349 "how kong route by cookie?"
I want to proxy a request according to a cookie value

for example：
`curl  --cookie "testCookie=test.realServer.com" http://127.0.0.1:8000`
I hope Kong    proxy request to test.realServer.com

I have  tried to write a plugin like this:

[code]
PLS help me ,THX

[2019-02-28 10:39] pajel commented on #4335
Ok, I have found a way how to upgrade our 0.14.1 to 1.0.3.
I took a snapshot of Kong 0.14.1 (using Konga), restored it in a blank new 0.14.1, and suddenly the migrations finish successfully in a few seconds.

The Konga snapshot doesn't capture DB tables like oauth2_tokens, ratelimiting_metrics, or cluster_events. So it must have been one of these tables blocking the migrations on our real environm

[2019-03-01 06:25] supraja93 commented on #3262
Hey Marco,

I moved out of the company and I no longer have access to that specific use
case. Sorry about that, let me know if you need anything from my side,
I'd be happy to help.

Thanks,
Supraja

On Wed, Feb 27, 2019 at 5:05 PM Marco Palladino <notifications@github.com>
wrote:

[2019-03-01 18:49] bungle commented on #4340
@p0pr0ck5, it is C code / patch, it might trigger issues elsewhere too. I certainly can repeat issues sometimes in `preread`, and I have written tests on it, but it could be triggering issues elsewhere too. What I mean is that we now have a lot of patches in Nginx that may trigger core dumps. Perhpas the question could be rephrased so that if @jiancaiHub runs plain `openresty`, do he still see the

[2019-03-02 00:55] thibaultcha commented on #4340
This rather seems like an issue with LuaJIT's memory allocator. I took a look at the core dump, but I'd love to get a more complete one.

@jiancaiHub

1. What is the architecture you are seeing these core dumps on? `uname -a`
2. Please share the output of `nginx -V` and `ldd $(which nginx)`
3. Are there any details we need to be aware of when trying to replicate this issue? Nginx configuration cha

[2019-03-04 04:00] jogendrajangid1 opened #4351 "Kong 1.0.3 creating too much pid of prng_seeds"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary
We have just upgrade kong 0.14.1 to 1.0.3. Migration and docker update successfully but kong admin api showing too much prng_seeds PID's and its continue increasing and after some time ko

[2019-03-04 04:53] p0pr0ck5 commented on #4351
Can you please paste the output of error log, as well as the full Kong config file and the result of running `kong start -vv` (this is outlined in the github issue template).

[2019-03-04 05:02] thibaultcha commented on #4351
It is a known issue (albeit harmless) that we do not clear the shm upon restart or when new nginx workers are spawned.

[2019-03-04 06:57] meirhazonAnyVision opened #4352 "github.com:kong/kong-dist-kubernetes.git doesn't exists"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

Hello,
I would like to use Kong Kube manifests, from your documentation, I should be downloading using, "git clone git@github.com:kong/kong-dist-kubernetes.git" but I cannot find it anyw

[2019-03-04 07:02] #4352 closed

[2019-03-04 11:06] jogendrajangid1 commented on #4351
It causing Kong stuck some times. it's there any workaround?

[2019-03-04 14:51] PauloGDPeixoto opened #4353 "Authorization header being stripped starting with Kong 0.15.0"
I've tested this with both 0.15.0 and 1.0.3. I have a Spring Boot application behind Kong that I don't want to manage authentication, I just want everything (sent to the correct Route/Service) to be forwarded to the application, including the headers.
Starting with 0.15.0, I noticed that the Authorization header is being stripped from the request, even if I disable the Key Auth plugin.
Is this the

[2019-03-04 16:25] tingyuz opened #4354 "ACL plugin broken on kong 1.0.3?"
### Summary
When combined with JWT authentication, the ACL plugin always denies user even with proper group attribute. The 0.13.0 version works fine. It only happens on 1.0.3.

### Steps To Reproduce
1. set up service and route
2. enable jwt authentication plugin
3. enable ACL plugin and set up whitelist group
4. create consumer and assign the consumer to whitelist group
5. trying to access resour

[2019-03-04 17:16] Tieske commented on #4355
ping @hutchic

[2019-03-04 17:26] hutchic commented on #4355
@peter-evans https://github.com/Kong/kong-build-tools/pull/27 is landing soon which I hope will give a Kong / kong plugin development environment. Feel free to grab the branch and give it a run if you like

[2019-03-04 18:07] thibaultcha commented on #4351
@jogendrajangid1 Can you elaborate on that statement? What exactly is unresponsive? You are saying "run admin api", but what this means isn't clear. Can you make an HTTP request to either port (proxy or admin) and show us the response, as well as any error logs?

I can indeed see from your uploaded file that the `prng_seeds` are numerous, but it may not be what is causing the issue, it could be an

[2019-03-04 20:34] jtsc22 opened #4356 "Refused to set unsafe header "host", when I try to call services from ionic using angular 6"
Hello, I have a problem, I am developing a mobile application in ionic with angular 6, which connects to an ecosystem of microservices that are configured in kong, the problem is that I can not consume these services because when I specify the host header I get the following error, "Refused to set unsafe header" host ", I have tried in many ways to consume the services but I do not obtain satisfac

[2019-03-04 21:48] Tieske commented on #4356
This looks like a client side error, generated by the framework you're using. I've never seen that error in the Kong code base.

Do you even get a response from Kong? (if the above is the case, then you don't)
If so can you post the full response?

[2019-03-04 23:18] james-callahan commented on #4334
@yskopets nearly all of the logging plugins extend from the [basic log serializer](https://github.com/Kong/kong/blob/next/kong/plugins/log-serializers/basic.lua) so that is the main place that needs to be updated.

[2019-03-05 01:48] peter-evans commented on #4355
@hutchic Great! I'll take a look. Thank you.

[2019-03-05 02:01] timusketeers opened #4359 "Kong not support ARM platform"
when we compile Kong source code on ARM platform and try to start and run it, it failed, it can not start successfully. at first, we find it is a problem for openresty-1.13.6.1/2, after we contract with the author of Openresty, he offered me a latest version openresty-1.15.8.1rc.tar.gz(https://openresty.org/download/openresty-1.15.8.1rc0.tar.gz). it really works. But when I try integrate Kong upon

[2019-03-05 02:12] thibaultcha commented on #4359
@zllovezj Hi,

Yes, I was personally involved with the development and the release of 1.15.8.1rc0/rc1. BTW, you can use rc1 now (instead of rc0). I also saw the comment you posted there.

We have not yet bumped the underlying OpenResty version in Kong yet, and do not officially support 1.15.8.1 (both rc0 and rc1). We'll look at it shortly, but we are focused on our own 1.1.0 release for the time b

[2019-03-05 03:10] tokingHong opened #4360 "How to imply a plugin for mongodb"
We have to use mongodb because we don't want to import a new database.
I head that we can imply DAO to use our database?

[2019-03-05 03:34] #4347 closed

[2019-03-05 03:56] shortcircuit3 opened #4361 "How do I install a plugin"
I'd like to install a plugin for the kong but I'm unsure how. I've tried to edit the kong.conf but i cant seem to get the plug source on the kong host.

This is the plugin id like to install: https://github.com/wshirey/kong-plugin-response-cache

### Additional Details & Logs

- Kong version (`$ kong version`): 0.14.1
- Kong debug-level startup logs (`$ kong start --vv`)

[code]

[2019-03-05 04:27] subnetmarco commented on #4361
To use a third-party plugin, you need to make sure that:

* Every Kong node in the cluster has the plugin installed on the file system
* The plugin is being added in the [`plugins`](https://docs.konghq.com/latest/configuration/#plugins) property of `kong.conf` (or in the `KONG_PLUGINS` environment variable, since you can use env variables to change the process configuration).

In your example, you

[2019-03-05 04:30] subnetmarco commented on #4360
MongoDB is now officially supported by Kong. You can choose between PostgreSQL, Cassandra and starting from Kong >= 1.1 you can also run Kong in a DB-Less mode with no database dependency.

At the time of this writing Kong 1.1 RC1 is available if you want to test it out.

[2019-03-05 04:30] #4360 closed

[2019-03-05 04:32] subnetmarco commented on #4359
@zllovezj may I ask where are you deploying Kong that requires ARM support? Are you deploying it on a specific cloud, or else?

[2019-03-05 04:35] subnetmarco commented on #4354
Interesting, I wonder why we don't display the `total` field on both responses (in addition to the original ACL problem).

[2019-03-05 04:45] milesalex commented on #4361
@subnetmarco Thanks for the reply. I'm unsurer how to add the node to the node. I tried `git clone` to get it onto the remote node, but git isnt installed. I tried to install git but I can't download it with any linux package manager.

I'm using the GKE kong application. How do i get the plugin code onto the machine?

[2019-03-05 04:53] thibaultcha commented on #4276
Condering this solved then. A reminder that there exists a guide documenting custom plugin installation: https://docs.konghq.com/1.0.x/plugin-development/distribution/

[2019-03-05 04:53] #4276 closed

[2019-03-05 05:40] thibaultcha commented on #4361
Have you had a look at our custom plugin installation guide? https://docs.konghq.com/1.0.x/plugin-development/distribution/

[2019-03-05 05:43] Tieske commented on #4361
@milesalex which one? Do you use the marketplace one (then you're out of luck) or do you use GKE such that you can run your own containers?

As @subnetmarco mentioned you need the plugins to be installed in the filesystem of each Kong node. With containers this means you need to create a new image which has the plugin. And then run that container. There is a PR that provides a means to inject plug

[2019-03-05 05:54] jogendrajangid1 commented on #4351
Hi, @thibaultcha thanks for the response. We faced the admin API (http://127.0.0.1:8001/) was not responding at the same time we saw numbers of prng_seeds.  I'm trying to reproduce on local to get more details/logs of it. will share more details soon.

[2019-03-05 06:04] zllovezj commented on #4359
@subnetmarco it's on a specific cloud

[2019-03-05 08:07] bungle commented on #4354
@subnetmarco the `total` is gone everywhere with new dao.

[2019-03-05 08:44] anancds opened #4362 "How to configure kong ssl authentication"
### Summary

I have configured the official nginx to support SSL authentication. The short Steps are as follows:
1. configure CA:
`
 openssl genrsa -out private/cakey.pem 2048
 openssl req -new -x509 -key ./private/cakey.pem -out cacert.pem -days 3650
 touch index.txt
 echo "00" > serial
`
2. configure nginx server certificate:
`
openssl genrsa 2048 > httpd.key
openssl req -new -key httpd.key -out

[2019-03-05 09:14] svenwal commented on #4359
I have a working Kong 1.0.3 on my Raspberry Pi based Kubernetes with my own build Docker image. I could share my Dockerfiles (which shows all the compilation steps) after cleaning it up if this would help you. Using OpenResty 1.13.6 with Postgres

[2019-03-05 11:07] svenwal commented on #4359
See https://github.com/svenwal/kong-arm for my ARM based Docker image.

In the provided Dockerfile you can view all the steps it has taken me to compile Kong on ARM (including dependencies).

Note: This is not a Kong Inc. supported image but at least "works for me on my Raspberry Pi 3"

[2019-03-05 11:16] zllovezj commented on #4359
@svenwal   Thanks for your kindness, I am afraid it will give little help for us.  Thank you!

[2019-03-05 11:27] adarshcr1 opened #4363 "Error: [PostgreSQL error] failed to retrieve server_version_num: host or service not provided, or not known"
![kong error](https://user-images.githubusercontent.com/47825556/53801009-100bd080-3f64-11e9-924e-334e99eff1fb.PNG)
![kong error](https://user-images.githubusercontent.com/47825556/53802366-adb4cf00-3f67-11e9-8e8a-b354cacc9f28.PNG)

Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRI

[2019-03-05 12:10] hutchic commented on #4363
Check if the Kong container can reach postgres at the host you defined?

[2019-03-05 15:01] thibaultcha commented on #4359
@svenwal BTW, the `alert` error logs you saw were due to the new `_G` write guard we introduced to discourage the use of global variables due to the underlying changes from the ARM64 work. Some of Kong’s dependencies may be setting globals, and we’ll review the warnings accordingly.

Again, please allow for some time for us to test it, and maybe you can follow our incoming patches on your side. Ex

[2019-03-05 15:04] milesalex commented on #4361
@thibaultcha Yes. It's not very clear how I can install the plugin on the remote server or local. When I did this, I cloned the repo, ran `luarocks make <file>`, then the script put the .rock file somewhere on my computer that I had to go search for. This problem is because of my lack of knowledge around lua, but seems like an easy knowledge gap to provide in the documentation.

Do you get asked t

[2019-03-05 16:35] bungle commented on #4356
See also:
https://github.com/Kong/kong/issues/1083

[2019-03-05 18:05] jtsc22 commented on #4356
@bungle  Thanks I was able to solve the problem, configuring the path, the problem is that the host header when the browser is reserved blocks it, this issiue can be closed

[2019-03-05 18:05] #4356 closed

[2019-03-05 18:34] bungle commented on #4354
@tingyuz

Hi, I tried this but I could not reproduce. Please give us full commands and the tokens that you tried to use. Below is mine on `1.0.3` (you cannot use exact same commands as it generates different keys, but you can adjust to that).

**Create Service:**
[code]

**Create Route:**
[code]

**Add JWT Plugin to Service:**
[code]

**Add ACL Plugin to Service:**
[code]

**Create Consumer:**
[co

[2019-03-05 18:51] p0pr0ck5 commented on #4353
Hi,

I can't seem to reproduce this with a bare minimum test case:

[code]

Can you please double check the configs for _all_ plugins on the cluster, as well as paste the output of debug logs when you observe this?

[2019-03-05 18:53] p0pr0ck5 commented on #4069
Ping @neilalbrock, are you able to provide any more feedback and details on your configuration?

[2019-03-05 20:07] thibaultcha commented on #4361
@milesalex Have you followed the steps about setting `lua_package_path` or `LUA_PATH`? If you are using LuaRocks, then you can automatically set the `LUA_PATH` environment variables via:

[code]

Then plugins installed in a LuaRocks tree should be visible.

The documentation seems to indicate that setting this variable is only required for non-LuaRocks (i.e. manual) installs, but if you use LuaRoc

[2019-03-05 20:36] tingyuz commented on #4354
@bungle  can you add your output of :8001/acl as well? I will get more logs from my side soon.

[2019-03-05 21:02] bungle commented on #4354
@tingyuz,

Here is a one with plugins applied to routes:
[code]

[2019-03-05 21:02] bungle commented on #4354
@tingyuz,

here is the output of `/acls`:
[code]

[2019-03-06 00:51] thibaultcha commented on #4226
Considering this resolved thanks to #4233. It was most likely the same root cause as #4229. If you happen to run another `bootstrap` with Kong 1.0.3 that fails, please let us know in another issue, thanks!

[2019-03-06 00:51] #4226 closed

[2019-03-06 00:55] JustUse commented on #4226
It was ok when i run 'bootstrap' with Kong 1.0.3, thanks!

[2019-03-06 01:08] zllovezj commented on #4359
@thibaultcha Thanks for your message.

[2019-03-06 01:32] thibaultcha commented on #1062
Closing this, since we consider it implemented in the OpenID Connect plugin (which is only available in Enterprise as of today).

[2019-03-06 01:32] #1062 closed

[2019-03-06 01:42] thibaultcha commented on #2219
@oshz is correct, Services/Routes (the replacement entities for "APIs" since 0.13 and as of today in 1.0) can share access tokens if `global_credentials` is enabled. See the reference: https://docs.konghq.com/hub/kong-inc/oauth2/

[2019-03-06 01:42] #2219 closed

[2019-03-06 02:09] tingyuz commented on #4354
if using httpie it works with me as well. However I am using golang to initialize kong and set up service/routes/jwt/ACL, so I can't share the codes here.

When setting up routes in my code I specify the host as well, something like this ( notice the last parameter). It seems http is unable to overwrite "host" header. Can you try to set up host header and try as well?

curl -i -X POST --url http:/

[2019-03-06 08:56] boubou191911 opened #4365 "(feat) configure key-auth plugin to validate only on header"
Hello,

The key-auth plugin currenlty looks in both the HTTP headers and in the query parameters for finding the key. It is sometimes not recommended to pass sensitive information in query parameters because they are logged in browser and web server logs.
I think it can be interesting to be able to configure the key-auth plugin to only validate key against the HTTP header.

[2019-03-06 13:09] venki541 opened #4366 "restrict apikey pass through upstream url"
Hi Team,

I am trying to restrict apikey in query parameter if user is trying to post through upstream url
is there any config/option/plugin to achieve the same ,as per security concerns want to allow apikey only through headers

### Additional Details

- Kong version (`$ kong 0.12.1`)
- Operating system : Linux

[2019-03-06 17:02] Tieske commented on #4361
@milesalex just to verify we're on the same page, seems you're using this: https://console.cloud.google.com/marketplace/details/kong/kong

Correct?

[2019-03-06 17:08] milesalex commented on #4361
Yes. 

On Wed, Mar 06, 2019 at 12:03 PM, Thijs Schreijer < notifications@github.com > wrote:

[2019-03-06 18:21] Tieske commented on #4365
it can also look in the body, when `config.key_in_body` is set.

Could be interesting to change that to `config.key_in` with a list of `header`, `query`, `body` entries. It would create more fine grained control over it.

@boubou191911 PR's are welcome!

[2019-03-06 18:25] Tieske commented on #4366
you can set `config.hide_credentials` to true

[2019-03-06 18:41] b-rajesh commented on #4365
@boubou191911 @Tieske flexibility is good.

However I just wanted to highlight apikey should not be treated as sensitive information. API Key is identifier(of an app) its not a secret. Even in OAuth2/OIDC flows , clientid(which is equivalent to APIKey , interchangeably called in few IDP providers) can be passed from the client apps to "identify" the app via the query param. Mostly APIKeys are used

[2019-03-06 23:15] hishamhm commented on #4344
@sjoblomjsqueed Hi, this indeed seems like a problem. We are looking into it, in the mean time you can use the JSON syntax:

[code]

[2019-03-06 23:28] #4366 closed

[2019-03-06 23:31] p0pr0ck5 commented on #4366
As @Tieske mentioned, the `hide_credentials` configuration is what you're looking for: https://docs.konghq.com/hub/kong-inc/key-auth/#parameters

[2019-03-07 02:38] tokingHong commented on #4360
Thanks,but docker hub can't find new features .So ,I don't know how to use kong 1.1 [https://hub.docker.com/_/kong](url)

[2019-03-07 06:21] #4344 closed

[2019-03-07 07:17] tokingHong commented on #4360
I tried  to run `docker run -d --name kong -e "KONG_DATABASE=off"............`,which is your DB-Less mode? But when I can't save service from konga .

[2019-03-07 07:17] venki541 commented on #4366
@Tieske  I have configured config.hide_credentials to true in kong configuration(/etc/kong/kong.conf), restarted kong service, but still can able to see apikey in access log while hitting the same from postman
![image](https://user-images.githubusercontent.com/37206184/53938725-238b7880-40d7-11e9-9ad6-b011207ca2f6.png)

[2019-03-07 07:27] tokingHong commented on #4360
![image](https://user-images.githubusercontent.com/39825820/53939257-7ff99280-40ed-11e9-9c66-22aebe10ddf9.png)

[2019-03-07 07:40] p0pr0ck5 commented on #4366
The configuration needs to be set in the plugin config via the Admin API, not in the Kong config.

Please don’t continue to use this issue for support questions, as github issues are meant for bugs with along only. Please consider asking the community for help at https://discuss.konghq.com/ if you are still having problems.

[2019-03-07 09:13] venki541 commented on #4366
@p0pr0ck5 Defined the same through admin API, but of no success.

![image](https://user-images.githubusercontent.com/37206184/53945283-4756ba80-40e7-11e9-96e7-2fe8a2ee814e.png)

still can able to see apikey in kong access logs

[2019-03-07 13:02] sjoblomjsqueed commented on #4344
Thank you for the reply and help. Unfortunately, it doesn't seem to work either. It accepts the configuration just fine, but does not count down on subsequent calls. When i do `curl -i -X GET http://localhost:8000` I get the following headers even if I call it several times in rapid succession:
[code]
I expected the remaining limits to decrease.

[2019-03-07 14:04] ylhyh opened #4370 "Records have been deleted automatically in Kong 1.0.3 with a postgresql WAL ha"
### Summary

I have configured kong on kubernetes 1.13.3 today, and use postgresql 11 as database, the postgresql is an HA cluster using Streaming Replication with 3 nodes.

After initialize the kong database use docker pod, I have created service and route items by calling kong api. And I can searched out the data on postgresql shell:
[code]

But I don't know why the service record has been delet

[2019-03-07 16:25] subnetmarco commented on #4360
Konga is not officially maintained by us, so you will have to open an issue on their repository.

[2019-03-07 21:07] p0pr0ck5 commented on #4370
Is it possible that the nodes running the database were not using persistent storage and were restarted, thus the data was lost?

[2019-03-07 23:14] ylhyh commented on #4370
@p0pr0ck5 Thanks reply.
I am using external pgsql

[2019-03-08 03:48] tokingHong opened #4373 "How can I configure APIs when I set KONG_DATABASE=off"
In kong 1.1 ,we can set KONG_DATABASE=off  to run kong without database.
But how can I configure APIs ?
`{
    "name": "operation unsupported",
    "message": "cannot create 'services' entities when not using a database",
    "code": 12
}`

[2019-03-08 07:58] jiancaiHub commented on #4340
@thibaultcha
Thank you very much for your comments.

We recompile out Openresy and Luajit with the above options, but  issue is still reproducible. and how can we obtain an `rr` record?

1. `3.10.0-693.2.2.el7.x86_64 #1 SMP Tue Sep 12 22:26:13 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
2. `nginx version: openresty/1.13.6.2`
[code]
3. ` kong start --vv`
[code]

[2019-03-08 10:14] mvanholsteijn opened #4374 "performance degradation due to missing indexes on rate limiting metrics"
### Summary

Since we upgraded to version 0.14 of Kong, we noticed a significant performance degradation due to the retrieval of ratelimiting metrics.

We noticed that Kong:
-  does not delete any "old" ratelimiting_metrics
-  does not create indexes on the ratelimiting_metrics table.

### Steps To Reproduce

1. Install kong migrations
2. check the indexes created using

[code]

You will see only

[2019-03-08 11:21] brianhuangyl commented on #4363
Even in the same network, you still need to tell Kong the ip address of your postgresDB. So use `--link` would solve your problem.  The following worked perfectly for me. @adarshcr1

[code]

[2019-03-08 11:28] brianhuangyl commented on #4363
Or without using legacy --link, you can use
[code]

[2019-03-08 11:41] jiancaiHub commented on #4340
we find this code will break kong down, Maybe this is the reason！

https://github.com/lilien1010/lua-resty-des/blob/master/resty/des.lua
[code]

[2019-03-08 14:10] #4268 closed

[2019-03-08 16:18] yskopets opened #4375 "New DAO framework (`Kong v1.0.x`) doesn't support a few use cases that worked fine in `Kong v0.14.x`"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

While migrating a 3rd party plugin to `Kong v1.0.x`, I've noticed that the new DAO framework doesn't support a few use cases that worked fine in `Kong v0.14.x`:
1. It's not possible to u

[2019-03-08 16:22] bungle commented on #4373
You need to use:
https://discuss.konghq.com/t/rfc-kong-native-declarative-config-format/2719

[2019-03-08 18:03] Tieske opened #4376 "Master fails to start with certificate errors"
I ran into an issue where I got a certificate error when starting Kong.

The issue was resolved after cleaning the prefix directory. So probably the `prepare` step missed something to prevent Kong from starting.

Master branch: at commit 4bab597c75f3e8ebff3d1393e18c288483b61eb1
The vagrant box was build using defaults with Kong 1.0.3

Logs below:
[code]

[2019-03-08 21:37] bungle commented on #4375
`dao:for_<foreign-field-name>` should answer the second? The first I thinj we can fix.

[2019-03-08 23:03] yskopets commented on #4375
@bungle Thanks a lot!

The actual method names are `DAO:page_for_<FIELD>` and `DAO:each_for_<FIELD>`.

It fixes 2nd problem.

[2019-03-10 00:40] thibaultcha commented on #4340
Of course, the options are here to obtain a more complete core dump, they won't make the issue disappear. Are you able to provide us with a new core dump (with the above options), especially now that you have a reproducible example? Remember that there are two sets of options (4. and 5.). Thanks!

[2019-03-10 02:37] jiancaiHub commented on #4340
4. compile openresty
/path/to/openresty-1.13.6.2
`./configure --with-cc-opt="-O0 -g -DNGX_LUA_USE_ASSERT -DNGX_LUA_ABORT_AT_PANIC" --with-no-pool-patch --with-luajit-xcflags="-O0 -g -DLUA_USE_APICHECK -DLUA_USE_ASSERT -DLUAJIT_ENABLE_LUA52COMPAT" --prefix=/usr/local/nginx`
5. compile Luajit
/path/to/LuaJIT-2.1.0-beta3 and modify src/Makefile
[code]
and new core dump
[core.12098.tar.gz](https://git

[2019-03-10 11:26] Tieske commented on #4361
@milesalex sorry, but then you're out of luck. That environment does not support custom plugins, as there is no way to get them in there.

Kong provides a ton of options and flexibility, but it does require configuration. The GKE app is the extreme variant of 1-click deployement, and hence doesn't play well with such customizations. Not to mention that it would require that upon starting the docke

[2019-03-11 03:27] tokingHong commented on #4373
Thanks,and I have another question.Does it support cluster when I don't depend on database?Because I found that `all Kong nodes belonging to the same cluster
 must connect themselves to the same database.`

[2019-03-11 04:44] adarshcr1 commented on #4363
Thank you .got it

[2019-03-11 04:44] #4363 closed

[2019-03-11 11:03] Bevisy commented on #4209
I have do somthing for kong with mysql based on version 1.0.0, but it looks that there still have many jobs to do. If you have time ,we can complete it  together.[bevisy/kong](https://github.com/Bevisy/kong/tree/1.0.0_zbb)
I think it's difficult for me to complete it by myself.

[2019-03-11 14:24] wbarantt opened #4379 "rate-limiting plugin works randomly (in redis/cluster mode)"
### Summary
The rate-limiting plugin fails to throttle when configured in redis/cluster mode.
It seems that under a load the kong node does not decrease the limit and/or does not respond with the X-RateLimit-* headers.

### Steps To Reproduce
1. Create a test service/route pair with a rate-limiting plugin running in redis or cluster mode
2. Perform a N synchronous GET requests on that endpoint
3.

[2019-03-11 17:36] hishamhm commented on #4344
@sjoblomjsqueed Is your upstream service producing a limit header in its response (`X-Kong-Limit` by default) which the plugin uses to decrease the limits?

Note that **response-ratelimiting** performs rate limiting based on the responses returned by the service. See the docs here: https://docs.konghq.com/hub/kong-inc/response-ratelimiting/ (in particular the "Configuring Quotas" section and the c

[2019-03-11 17:49] h3xar0n commented on #4379
Hi @wbarantt , could you please share the following:
* the environment in which you're running Kong
* `kong.conf` values
* Kong error logs

[2019-03-12 08:04] wbarantt commented on #4379
It's just stock a stock kong with no custom configuration.
I have configured a per consumer rate-limitimg on my test route and started the GET traffic.

No errors in the logs.
If I break the redis host/port configuration then it will fail with 500 or return 200 (depending on the fault tolerant setting) so it does not seem to be a problem with kong<>redis communication.
It works fine if there's no

[2019-03-12 20:34] p0pr0ck5 commented on #4379
@wbarantt we'd still like to know a bit more about your Kong configuration :) Are you deploying a cluster of Kong nodes behind an LB? Can you please share the exact plugin config you've enabled? And how many distinct consumers are sending requests to Kong when you observe this behavior?

TBH this sounds a bit like https://github.com/Kong/kong/issues/3329, but we'd love to learn more about your use

[2019-03-12 20:37] p0pr0ck5 commented on #4374
@mvanholsteijn thanks for the report on this? Would you mind opening a PR with the suggested index solutions?

[2019-03-12 20:39] p0pr0ck5 commented on #4373
Because nodes only connect to the DB, the concept of a 'cluster' loses meaning when configuring Kong with a declarative config file. Clustering brings benefit to Kong when using a database as it allows changes on one node to propagate to all nodes within the cluster, but declarative config would rely on alternate mechanisms to spread the config across all applicable nodes (i.e., config management

[2019-03-12 20:39] #4373 closed

[2019-03-12 20:42] p0pr0ck5 commented on #4359
Going to close this, as there is no pending action and a number of Kong folks have answered in detail. @timusketeers thanks for bringing this up! We're looking forward to supporting ARM deployments soon! BTW keep an eye on https://github.com/Kong/kong/pull/4382 :D

[2019-03-12 20:58] bungle commented on #4373
the clustering is still there somewhat, providing you specify a `cluster_ca` similarly in each node. The nodes won't communicate anymore, so you need to be careful to have same config on all nodes. What I mean about clustering here is more that in service mesh nodes sharing same `cluster_ca` are still consider to be a part of same service mesh (perhaps not exactly a cluster, but in that scenario t

[2019-03-12 23:10] p0pr0ck5 commented on #4359
Whups, I had two different responses going in different tabs and closed this when it shouldn't been been closed! Re-opening this just so everything's clear on where ARM support in Kong distributions stands.

As Thibault mentioned, do be on the lookout for the next release of Kong which should contain OpenResty 1.15.8.1, supporting ARM architectures, hopefully next month!

[2019-03-13 04:35] maksimlikharev opened #4384 "High CPU utilization, followed by stop of event processing and total outage of all nodes"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

note:
I can help with additional data/diagnostics within my reach, but this is prod env and many manipulations simply is not an option.

kong cluster, consists of 3 nodes, one in each AZ

[2019-03-13 10:10] mvanholsteijn commented on #4374
sure. I will prepare a PR>

[2019-03-13 11:31] slimm609 opened #4385 "Kong healthchecks disabled but removing services"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

kong version 1.0.3
Kong healthchecks disabled but still removing services.

2019/03/13 11:18:40 [debug] 208#0: *671170 [lua] healthcheck.lua:989: log(): [healthcheck] (email-v1-blue) eve

[2019-03-13 11:41] wbarantt commented on #4379
This is my whole test config:
[kong_config.txt](https://github.com/Kong/kong/files/2961217/kong_config.txt)

This is how I test it:
for i in `seq -w 1 20`;do echo -e "RUN:\t=====\t#${i}\t====="; curl -sD - -o /dev/null -H "Host:httpbin.org" http://localhost:8000/httpbin_01/headers;done

This is what I get with no other traffic coming to this kong node:
RUN:    =====   #11     =====
HTTP/1.1 429 To

[2019-03-13 20:47] maksimlikharev commented on #4384
I've analyzed logs, this is definitely nginx worker CPU usage

[code]

[2019-03-14 03:29] tokingHong commented on #4373
Thanks!! (っ•̀ω•́)っ

[2019-03-14 03:50] tokingHong opened #4391 "What is a consumer?"
I read a lot of docs. And I have understand what is a service and plugin,but I still did't understand what is a consumer.
    How to use a consumer object?    I can understand how it works when a  plugin add  to a service or a  API .But the concept of a consumer object is too abstract ,and I can't find a scene to  use it.
   Is there a simple example of a graph to show me the usage of a consumer i

[2019-03-14 06:00] Tieske commented on #4391
Consider them users. (But since they are not always human, we prefer to call them consumers, as they 'consume' the service)

Consumers are identified by authentication plug-ins. So adding basic auth on a service or route will allow it to identify a consumer (or block access if credentials are bad)

By attaching a plugin to a consumer you can control for example rate limits on s consumer level.

Ht

[2019-03-14 06:00] #4391 closed

[2019-03-14 08:27] tokingHong commented on #4391
Got it,so the order is .
request->auth->match consumer->do consumer's plugin if need.
In other words,if I want use auth plugin,I have to create a consumer?
And how to " map the consumer list with your database to keep consistency between Kong and your existing primary datastore." Use SQL database?

[2019-03-14 18:01] bungle commented on #4391
@tokingHong

You don't have to create consumers to do authentication plugin. E.g. core comes with LDAP, which authenticates just fine without consumers. One possibility is to do consumer mapping. And our Enterprise OpenID Connect authentication plugin does that. You can map arbitrary claim to Kong consumer, and then get some benefits of consumer being aroung. E.g. you can then apply say different

[2019-03-14 18:39] tingyuz commented on #4354
bump this thread - can you verify with customer header to see if you can reproduce the issue? Thanks.

[2019-03-14 19:04] anujjalan commented on #4338
We found similar error as we have a similar setup.

We even tried your patch but error remains same.

I think error happens as we are deleting older targets one by one and in order where its last entry is with weight -> 0. So, other kong nodes at the same time started marking this target as one of the valid target as the entry with weight as 100 was not deleted first.

[2019-03-15 03:50] tokingHong commented on #4391
Very thanks!!

[2019-03-15 12:42] janosi opened #4392 "Inconsistency in plugin schema handling"
### Summary

When plugin schema has a field with type=table the plugin cannot be added to a route. Once the plugin is added to the route without that field the schema can be updated to contain the field with type=table, and the plugin's configuration contains the default values.
Details below

### Steps To Reproduce

1. Create a plugin schema with a field that has type=table
2. Try to add the plug

[2019-03-15 13:46] hishamhm commented on #4392
@janosi The format for schemas has changed in Kong 1.0. There is a best-effort auto-converter that tries to load old-style plugins, but since the old format was too loosely specified, the conversion is not lossless.

In particular, in the old format, a field of type `"table"` cannot be determined to be an array, set, map or record without further hints (when doing input data validation, we apply s

[2019-03-15 19:14] janosi commented on #4392
@hishmahm Thank you for the fast and detailed answer! Could you please guide me to some documentation that describes this new schema format? Thank you!

[2019-03-15 19:17] janosi commented on #4392
@hishamhm Thank you for the fast and detailed answer! Could you please guide me to a documentation that describes the new schema creation rules? Thank you!

[2019-03-15 20:56] hishamhm commented on #4385
What output do you get when you access `/upstreams/email-v1-blue/health` via the Admin API?

[2019-03-15 21:15] slimm609 commented on #4385
```{"next":null,"data":[{"created_at":1552678664.799,"upstream":{"id":"ada4c754-a331-44b2-bef3-ed06dfe0c89e"},"id":"2df29428-5471-4bbf-8477-0d6ea09b5845","health":"HEALTHCHECKS_OFF","target":"email-v1-blue.service.consul:8000","weight":100}],"node_id":"b20d8d6c-fd1c-439e-ba07-ec9113c09439"}```

[2019-03-18 05:55] vincent927 opened #4397 "When I add the plugin a few minutes later , kong will be delete it auto ."
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

When I add the plugin a few minutes later , kong will be delete it auto .

### Steps To Reproduce

1.
[code]
2. API LOG
[code]

### Additional Details & Logs

- Kong version (`$ kong ver

[2019-03-18 06:11] james-callahan commented on #4397
Are you using the kubernetes ingress controller?
If so this is expected behaviour: you need to manage Kong via CRDs.

Note that it is a roadmap item to allow manual management in parallel. See https://github.com/Kong/kubernetes-ingress-controller/blob/5fd0735bdd9abb1841a058e369858874d5152d4d/docs/roadmap.md#kong-ingress-controller-roadmap

[2019-03-18 06:20] vincent927 commented on #4397
Tks, i will try.

[2019-03-18 06:46] vijayanjay commented on #4267
Even I am facing the same issue, while trying to configure a service like `/call/v1/session/**{id}**/particles` I couldn't do.
So how to configure regex in service path.

[2019-03-18 06:48] benbenqiang opened #4398 "whitelist plugin bug with 0.15"
Summary
SUMMARY_GOES_HERE

Steps To Reproduce

1. curl -X POST \
http://0.0.0.0:8001/apis  \
-F name=new_test_for_kong_151 \
-F upstream_url=http://test.com \
-F uris=/test

2. curl -XPOST \
'0.0.0.0:8001/apis/new_test_for_kong_151/plugins' \
-F name=acl \
-F config.whitelist=2430497214066328574,SuperAdmin

3.curl 0.0.0.0:8001/apis/new_test_for_kong_151/plugins

got：
{"next":null,"data":[{"created

[2019-03-18 06:56] vijayanjay opened #4399 "Configure a parameter path in service is not possible"
### Steps To Reproduce
while trying to configure a path in service like below, I couldn't do.
`/call/v1/session/{id}/particles`

Complete URL  should look like,
`http://10.20.30.40:1234/call/v1/session/{id}/particles`

So how to configure a service with variable parameter.

### Additional Details & Logs

kong version : v0.13.1

[2019-03-18 08:31] vincent927 commented on #4397
tks. i will try it

[2019-03-18 08:31] #4397 closed

[2019-03-18 11:56] bungle commented on #4399
a) use regex: https://docs.konghq.com/1.0.x/proxy/#using-regexes-in-paths
b) use just `/call/v1/session/` prefix

[2019-03-18 11:57] #4399 closed

[2019-03-18 12:09] bungle commented on #4398
try:
[code]

Or

[code]

 Or

[code]

Or send as `application/json` with a proper JSON array. If the docs still refer to this old version, we need to fix them.

[2019-03-18 12:09] #4398 closed

[2019-03-18 12:29] JoarSvensson opened #4402 "GET consumer by custom_id fails"
### Summary

Kong fails when making a GET request to the admin endpoint "consumers" with a filter on a custom ID like below. The input validation of args.custom_id doesn't seem to handle guids anymore?

`GET /consumers?custom_id=01179005-748f-42b0-b11d-627df05e1570`

This issue was introduced to us after upgrading from Kong 0.14 to 1.0.3.

[code]

### Steps To Reproduce

1. Create a consumer with

[2019-03-19 02:09] benbenqiang commented on #4398
Thanks， the third method succeeded

[2019-03-19 04:22] jameswestnz opened #4405 "key-auth plugin returns error when key is set with empty value"
### Summary
The `key-auth` plugin returns an error (shown below) when the `apikey` header is set with an empty value. While the fix could be to ensure the client does not pass an empty `apikey`, I feel the expected result should be either:

1. Kong resolves and continues with the `anonymous` consumer (if defined); or
2. Throw a 40X as if the `apikey` was never set

### Steps To Reproduce

1. Confi

[2019-03-19 08:17] jiancaiHub commented on #4340
befor
[code]
after
[code]
Now that  issue is not reproducible.  Guess that there are too many stacks of ffi over the limit.

[2019-03-19 08:17] #4340 closed

[2019-03-19 12:16] shugydw commented on #4405
This issue may or may not be related to the issue I am facing (https://discuss.konghq.com/t/key-authentication-is-not-working/3034)

I am passing the correct `apikey` in query string (and tested in header as well). The requests are `401 Unauthorized`.

Kong: Docker 1.0.3-alpine
Database: Docker Postgres 11.2-alpine
I don't recall any error such as yours.

[2019-03-19 17:08] HsinHeng commented on #4321
[code]

I think you missed your "Host" header in your header

[2019-03-19 19:31] jameswestnz commented on #4405
This seems to be the block throwing the exception: https://github.com/Kong/kong/blob/master/kong/plugins/key-auth/handler.lua#L158-L161

I'm experiencing an HTTP status code  of `500` with a body of `An unexpected error occurred` - I think this is the only place (in this plugin) where we return an unconstructed body as a response.

Does the block above get caught here?: https://github.com/Kong/kon

[2019-03-19 19:35] jameswestnz commented on #4405
Untested, but I think adjusting https://github.com/Kong/kong/blob/master/kong/plugins/key-auth/handler.lua#L158-L161 to the following will fix the issue:

[code]

[2019-03-20 03:44] ghost opened #4412 "getting "attempt to compare number with userdata" error"
### Summary

Suddenly all my 'routes' disappeared this morning after Kong had been running normally for four days. I was able to add 'service' but couldn't add 'route', kong returned 'An unexpected error occurred' when I added 'route' to it.  Then Kong returns 'attempt to compare number with userdata' error as long as I start it since I stopped it.

### Steps To Reproduce

1.kong start

### Additi

[2019-03-20 03:48] Jelts commented on #4412
root@ubuntu:~# kong start
2019/03/20 03:47:39 [warn] ulimit is currently set to "1024". For better perform                                                                                                             ance set it to at least "4096" using "ulimit -n"
Error: /usr/local/openresty/site/lualib/kong/cmd/start.ljbc:0: nginx: [error] in

[2019-03-20 03:48] p0pr0ck5 commented on #4412
Hi @Jelts,

If you are using Kong Enterprise, please visit the Enterprise support portal at https://support.konghq.com/support/s/. Thanks!

[2019-03-20 05:57] Jelts commented on #4412
OK，I see. Thanks

[2019-03-20 06:34] Jelts commented on #4412
Hi @p0pr0ck5 , I'm a trial user of Kong enterprise. The address you  provided requires sign in but I don't have an account. That page doesn't provide a sign up button. Would you please help me out? Thanks.

[2019-03-20 06:51] Jelts commented on #4412
Hi @p0pr0ck5 , I'm a trial user of Kong enterprise. The address you provided requires sign in but I don't have an account. That page doesn't provide a sign up button. Would you please help me out? Thanks.

[2019-03-20 19:16] p0pr0ck5 commented on #4412
Hey, sorry about the confusion.

Can you detail how you created the Route objects? It sounds possibly like a Route was created with a nil regex priority.

[2019-03-20 19:17] p0pr0ck5 commented on #4384
The error line

Indicates a memory allocation error, either due to the system being out of memory, or the Lua VM reaching the 2GB limit inside the worker process. What class of AWS instance is Kong running on in your environment?

[2019-03-20 19:58] Bevisy commented on #4209
Hello！I have done it and it has been tested.

[2019-03-20 19:59] maksimlikharev commented on #4384
this was t2.large, 8GB, we had 2 worker per node, each worker memory utilization was  ~1.23GB per worker, total memory usage was flat before 100% CPU spike and during.
as I stated in the report, **all** metrics were fine, except CPU. I can provide more detailed statistics about the system, if needed.

[2019-03-20 20:03] p0pr0ck5 commented on #4384
I don't recommend running on burstable `t2` instances, as AWS throttling really causes a headache ;) Are you able to check to see if that instance(s) in question had available CPU credits to burn through? Are you able to replicate this behavior now?

[2019-03-20 20:17] maksimlikharev commented on #4384
this was the first metric I checked, CPU credits, yes, there was enough, at least according to AWS.
we moved to m5.xlarge regardless immediately, but previous setup was working for months without any problems. No, we don't see anything yet, and I'm going to  try to reproduce the behavior.

I have a good but unproven suspicion about passive healthcheck, specifically when it trips instance on/off ba

[2019-03-21 00:05] p0pr0ck5 commented on #4335
I suspect this is a table volume issue. @pajel how many rows were in the affected tables? And can you share the hardware specs and config for your db instance?

[2019-03-21 01:29] Jelts commented on #4412
Hi, this is the code with which I created the last Route object as soon as the 'All Route objects disappeared' thing happened, and it was the source code of the 'Add Route'-Operation on kong manager(I didn't type this manually, I type key-'F12' and found it in the browser).
{
	"protocols": ["http"],
	"methods": ["GET"],
	"hosts": ["www.baidustrip.com"],
	"paths": ["/request"],
	"regex_priority": n

[2019-03-21 01:42] Jelts commented on #4412
Hi @p0pr0ck5 , this is the code with which hardly had I created the last Route object when the 'All Route objects disappeared' thing happened, and it was the source code of the 'Add Route'-Operation on kong manager(I didn't type this manually, I type key-'F12' and found it in the browser).
{
"protocols": ["http"],
"methods": ["GET"],
"hosts": ["www.baidustrip.com"],
"paths": ["/request"],
"regex_p

[2019-03-21 02:34] 965223108 opened #4415 "kong connect postgresql refuse error"
I run kong cluster in kubernetes with 3 replicas,but one of them has always error and crashloopbackoff  the error message is connect  postgresql  refuse,however the other two pod is running good
I try restart and migrations database but still not working
what is going on ?

[2019-03-21 02:44] james-callahan commented on #4415
Which method did you use to install Kong on kubernetes?

[2019-03-21 03:09] 965223108 commented on #4415
use Deployment . 3 pods share a database

[2019-03-21 04:38] james-callahan commented on #4415
Which deployment specification?

[2019-03-21 05:58] 965223108 commented on #4415
deployment apiVersion: extensions/v1beta1
docker version : 1.31.1
kubernetes version: v1.11.6

Is it related to the kubernetes version ?

[2019-03-21 10:26] SubratPadhi12345 commented on #1894
I wanted to add plugins order of execution for a service, how can I do it?
Is it possible without creating a custom plugin?

[2019-03-21 10:27] SubratPadhi12345 commented on #1894
Is this implemented now? How can I set plugin execution order for a service in kong?

[2019-03-21 13:01] msdhondi opened #4416 "kong url rewrite"
Hello Team,

I have a simple requirement here. I want to rewrite incoming uri. For example if the incoming request has '/manish/123/sam' , rewrite to '/paul/123'

Is it possible through kong CE ?

[2019-03-21 15:15] #4223 closed

[2019-03-21 15:15] #4355 closed

[2019-03-21 15:38] bungle commented on #4416
With custom plugin, you can run code in Nginx `rewrite` phase. I guess that way you could do exactly that. It depends when you want to run this. Before or after routing? After routing there is `request-transformation` plugin that can set path, and also `request-transformation-advanced` in enterprise version that also can use uri captures from original path.

[2019-03-21 18:19] msdhondi commented on #4416
so basically i should be able to create rewrites based on conditions.. and that can be done before routing...

[2019-03-21 19:35] #4392 closed

[2019-03-21 19:57] bungle commented on #4416
@msdhondi, yes, even write a custom nginx template with rewrite directives, if you prefer that over writing a plugin.

[2019-03-21 19:58] bungle commented on #4416
Btw. I am not sure why we don't have any plugins in `core` utilizing `rewrite` phase. I think some kinda nice rewriting plugin would be nice. @msdhondi would you be interested in contributing such? I can help and review as needed?

[2019-03-21 20:01] bungle commented on #4416
@msdhondi some documentation: https://github.com/openresty/lua-nginx-module#ngxreqset_uri

[2019-03-22 07:17] jeremyjpj0916 opened #4420 "Kong 1.0.3 upgrade to 1.1.0rc2 with C* migrations problems"
### Summary

So I am running Kong 1.0.3 nodes, trying to upgrade our dev to 1.1.0rc2 to ensure nothing has broken in latest iteration. I first spin up a new temporary pod on 1.1.0rc2 against the existing 1.0.3 nodes C* datastore, running the kong migrations up command against it, this pod reports that there are migrations needing finished on the existing keyspace and exits out. So I go to check my

[2019-03-22 07:29] jeremyjpj0916 commented on #4420
Figure I would drop this in too if its ringing any alarms as well as I was digging:
![KeyspaceSchemaMeta](https://user-images.githubusercontent.com/31913027/54807104-8c83fc00-4c52-11e9-920c-c5a49544d961.png) , I saw one row is not null, could that be the culprit and if so why does my 1.0.3 nodes say db is up to date and migrations finish has nothing to do?

[2019-03-22 11:22] tokingHong opened #4421 "Can't reload service when I use db-less mode"
Can't reload service when I use db-less mode

I run on docker   kong:1.1.0rc1-alpine  without database,`docker exec -it kong kong reload` can't reaload service from my new config file

[2019-03-22 13:48] msdhondi commented on #4416
Thanks for the response @bungle . Right now we don't have bandwidth to contribute. we are exploring few other things for our requirement.

[2019-03-22 13:48] #4416 closed

[2019-03-22 15:05] slimm609 commented on #4385
https://github.com/Kong/kong/blob/a90fcddf2215df61b69ffb6a03297e05090baec0/kong/runloop/balancer.lua#L394

Shouldn't this logic have an if around it to not even try to create a healthchecker if the health checks are disabled.

[2019-03-22 17:25] #4405 closed

[2019-03-22 17:35] p0pr0ck5 commented on #4412
@Jelts thanks. Correct, the `regex_priority` is optional; I'm wondering if someone it got interpreted as an `ngx.null` value. cc @bungle didn't we recently see this? it sounds familiar to me.

[2019-03-22 17:43] p0pr0ck5 commented on #4376
cc @james-callahan any ideas? I was able to duplicate this as well

[2019-03-22 18:18] DrPyser opened #4423 "run_on_preflight option for ACL plugin"
### Summary

https://discuss.konghq.com/t/acl-preflight-continue/351
The ACL plugin interferes with CORS preflight requests. If the ACL plugin is configured on a route, CORS preflight requests will be denied(since preflight requests won't be authenticated). CORS preflight requests should not be authenticated, as per the CORS standard.

### Steps To Reproduce

1. Configured & enable ACL plugin on a

[2019-03-22 20:27] jeremyjpj0916 commented on #4420
Also for more ammo here is our config via ENV variables as I think problem is related to not including bundled plugins that have a migration at some version:

[code]

[2019-03-22 23:24] hbagdi commented on #4415
Have you ensured if the pods can reach the PSQL DB?
What exactly do the error logs say for the failed pod?

Also, how have you installed Kong on k8s?

[2019-03-22 23:31] hbagdi commented on #4421
You can reload the configuration of your db-less mode by posting your config file on the `/config` Admin API endpoint:

`http :8001/config config=@config.yml`

[2019-03-23 04:24] james-callahan commented on #4376
Looks like the 'default' ssl cert and key didn't match. i.e. your default cert was self-signed by a different key.

A quick guess would be that at some point during kong startup if things get killed then one can get out of sync with the other?

[2019-03-23 08:00] anujjalan commented on #4379
We are facing a similar issue after upgrade.

We were earlier on 0.14.0 version where this used to work fine but after our upgrade to 1.0.2, rate limiting numbers are not right and we suspect plugin is not even getting executed for many concurrent calls.

We did not found any errors related to redis / plugin but still only 60% of requests were counted as part of rate limiting.

[2019-03-23 14:31] HsinHeng commented on #4321
I found the bug is located at

https://github.com/Kong/kong/blob/a33a592a4a578058195d159232279fda5f51ffb5/kong/plugins/hmac-auth/access.lua#L130

kong.request.get_header(header) get  incorrect value.

in my case,  header="X-APP-ID", should return my customized app-id, but return striing:
"Thu, 23 Mar 2019 14:25:00 GMT, client: 172.17.0.1, server: kong, request: "GET /api/v1/ping HTTP/1.1", host: "

[2019-03-23 15:01] HsinHeng commented on #4321
I found the problem is that

https://github.com/Kong/kong/blob/a33a592a4a578058195d159232279fda5f51ffb5/kong/plugins/hmac-auth/access.lua#L148

Use the "\n" as split will cause unexpected signature.
I try to modify the source code from "\n" to "|".
It will pass when I use multiple headers.

Maybe Develop team can quick fix the bug.
Thanks.

[2019-03-24 06:46] wuzuhong opened #4427 "kong 0.14.0 exit automatically use docker"
### Summary
when i was use
[code]
to start kong,but it exit automatically,and no log printed,how to resolve this problem?

[2019-03-24 07:57] Tieske commented on #4427
did you follow instructions to set up the database and docker network? please list all the steps you took

[2019-03-24 08:03] wuzuhong commented on #4427
no,i don't have set up the database and docker network,i just use
[code]
to start kong,it should show some log like postgresql error,but it not,i don't know why

[2019-03-24 08:03] wuzuhong commented on #4427
no,i don't have set up the database and docker network,i just use
[code]
to start kong,it should show some log like postgresql error,but it not,i don't know why

[2019-03-24 08:05] wuzuhong commented on #4427
i have also try to follow the instruction to set up the database and docker network,and then the database is ready,but kong still exit automatically,and show no log

[2019-03-24 08:08] wuzuhong commented on #4427
this is my docker version
[code]

[2019-03-24 08:09] wuzuhong commented on #4427
this is my os info
[code]

[2019-03-24 10:04] hutchic commented on #4427
Kong is working it's just not logging to stdout because you didn't configure it to. You need to follow the directions at https://hub.docker.com/_/kong with more attention paid to the environment variables used to setup the Kong container

Kong by default logs to file unless it's explicitly told to log to stdout

[code]

[2019-03-24 10:04] #4427 closed

[2019-03-25 02:50] tokingHong commented on #4421
@hbagdi Very Thanks

[2019-03-25 02:55] #4421 closed

[2019-03-25 03:08] wuzuhong opened #4428 "how to start kong in amd cpu?"
### Summary

how to start kong in amd cpu?

[2019-03-25 06:47] Tieske commented on #4428
What problems are you running into? Error messages etc

[2019-03-25 17:49] maksimlikharev commented on #4384
got the similar issue last weekend, this time that we set instance autoreplacement and it wasn't that disruptive, this was m3.xlarge instance.
Still no clue, probably need to set debug log on one and see.

[2019-03-26 04:04] jiancaiHub opened #4433 "[emerg] unknown directive "real_ip_header""
### Summary

Kong can't start up. I'm getting the following error when I attempt to launch kong.
[code]

### Steps To Reproduce
I attempt to install kong by source https://docs.konghq.com/install/source/.
1. install openresty with options:
[code]
2. `Install Kong `
3. `kong start --vv`

### Additional Details & Logs

- OpenResty version(`openresty-1.13.6.2`)
- Kong version (`0.14.1`)
- Operating s

[2019-03-26 04:10] p0pr0ck5 commented on #4433
Can you show the output of `/usr/local/openresty/nginx/sbin/nginx -V`? I suspect OpenResty wasn't compiled properly.

[2019-03-26 04:10] p0pr0ck5 commented on #4433
You may also want to check that no other copes of Nginx/OpenResty are present on this system.

[2019-03-26 04:11] jiancaiHub commented on #4433
@p0pr0ck5

[code]

[2019-03-26 04:18] p0pr0ck5 commented on #4433
@jiancaiHub notice how there is no `--with-http_realip_module`. You'll want to double check that you correctly compiled and installed OpenResty, and the correct binary is where you expect it.

[2019-03-26 04:22] jiancaiHub commented on #4433
I installed openresty on this vm 1.13.6.1 before. Thank you very much. I want to re install kong on new vm.

[2019-03-26 04:23] p0pr0ck5 commented on #4433
Glad it seems to be sorted out. Thanks :)

[2019-03-26 04:23] #4433 closed

[2019-03-26 08:00] joeycao commented on #4349
return ngx.redirect("http://" .. cookieValue)    //ngx.redirect is error , I want to proxy

Reference to the following code :)
kong.service.request.set_path(target_url)
kong.service.request.set_raw_query(query_args)
kong.service.set_upstream(upstream_name)

[2019-03-26 08:44] tokingHong commented on #4421
sorry,I still don't know how to use it.Can use give me doc?I read [https://github.com/Kong/kong/pull/4315](url),but I don't how to set params.query param or body?  absolute path or others?
I have set `declarative_config = /etc/kong/kong.yml ` in `/etc/kong/kong.conf`
How can  I reload apis?

[2019-03-26 08:56] satishmane commented on #2764
I added /sbin/syslogd in entrypoint script of docker. It solved issue of syslogd daemon not getting started. Now syslog plugin logs messages to /var/log/messages. But these messages are truncated. On further investigation, it seems that kong alpine image uses musl libc which has hardcoded buffer/string size which is not enough. I tried with kong centos version too, but no luck. Instead of syslogd,

[2019-03-26 09:39] SubratPadhi12345 opened #4434 "Adding custom plugin to Kong enterprise edition"
As Kong EE only have ljbc files how to add a custom plugin in Kong EE.

### Steps To Reproduce

1. Create a "custom-auth.lua" file with content
local BasePlugin = require "kong.plugins.base_plugin"
local access = require "kong.plugins.request-transformer.access"
local RequestTransformerHandler = BasePlugin:extend()

function RequestTransformerHandler:new()
  RequestTransformerHandler.super.new(sel

[2019-03-26 13:21] jiancaiHub opened #4437 "how to test the custom plugin's spec?"
### Summary

How to test my plugin by `bin/busted /path/to/custom_plugin_spec`

### Steps To Reproduce

1. install kong with compiling source
2. put custom plugin in `./kong/plugins/`
3. put custom plugin spec  `./kong/spec/03-plugins`
4. `export CUSTOM_PLUGIN_PATH=bundled,custome_plugin `
5. run `bin/busted /path/to/custom_plugin_spec`

### error:

[code]

### Additional Details & Logs

- Kong ve

[2019-03-26 13:51] p0pr0ck5 commented on #4434
You don’t need to compile down plugins for enterprise trials. They can be added as you would for any other plugin. See https://docs.konghq.com/1.0.x/plugin-development/distribution/#installing-the-plugin

[2019-03-26 13:51] #4434 closed

[2019-03-26 14:00] p0pr0ck5 commented on #4351
@jogendrajangid1 have you been able to reproduce this?

[2019-03-26 14:54] SubratPadhi12345 opened #4438 "Execute a lua file before plugin execution in Kong EE"
1)I have created a lua file which I wanted to execute before the plugin execution in Kong EE

2)contains of custom.lua file
local BasePlugin = require "kong.plugins.base_plugin"
local access = require "kong.plugins.request-transformer.access"

local RequestTransformerHandler = BasePlugin:extend()

function RequestTransformerHandler:new()
  RequestTransformerHandler.super.new(self, "request-transfo

[2019-03-26 15:03] p0pr0ck5 commented on #4438
This looks like you’ve a syntax error with the `pre-function` serverless plugin that needs to be investigated, as per the error message. But this is not related to the custom code you’ve written.

BTW, please post user issues to the community forums at https://discuss.konghq.com/. GitHub issues should be reserved for bug reports in Kong, not usage issues. Thanks for your understanding!

[2019-03-26 15:05] p0pr0ck5 commented on #4438
Also, I think you’re misunderstanding how plugins and the serverless plugin work. The serverless plugin function should just be Lua code that’s executed by kong. Creating a new plugin should be done in design with the docs I linked in a previous issue you opened.

[2019-03-26 15:05] #4438 closed

[2019-03-26 15:05] hutchic commented on #793
Galileo is no more

[2019-03-26 15:05] #793 closed

[2019-03-26 15:31] SubratPadhi12345 commented on #4438
@custom-auth.lua --> @custom.lua
Still I am getting the same issue.

[2019-03-26 18:33] bungle commented on #4402
Thank you @JoarSvensson! This should be fixed with soon to be out `1.1` and perhaps if we release `1.0.4` at some point (not sure about it).

[2019-03-26 18:58] tingyuz commented on #4354
Latest update: I have removed the "host" header in my route definition, and changed JWT and ACL plugin from global scope to individual routes, and it is working with 1.0.3 currently. I think the bug could be around the combination of these. In previous version I was using ( 0.13.0) there was no such issue with these combinations.

[2019-03-26 20:02] #4402 closed

[2019-03-26 21:34] albertux opened #4445 "cors plugin for Kong 1.0.3 only allow one method in config.methods"
### Summary
cors plugin for Kong 1.0.3 only allow one method in config.methods

following the steps in https://docs.konghq.com/hub/kong-inc/cors/#enabling-the-plugin-on-a-service:

[code]
you will get this error message:

[code]
to mitigate this issue use this patch:
[code]

Notes:
I don't know LUA or Kong internals I prefer to wait people that participate in the project provide the right fix for

[2019-03-26 22:12] harika224121 opened #4446 "[cassandra error] could not retrieve current migrations: [cassandra error] all hosts tried for query failed. <cassandra-hostname>: host seems unhealthy, considering it down ([toip() name lookup failed]: 9042)"
Hi,

Kong is not able to connect to cassandra during startup and it is failing. We are facing the issue "/usr/local/share/lua/5.1/kong/cmd/start.lua:28: [cassandra error] could not retrieve current migrations: [cassandra error] all hosts tried for query failed. <cassandra_hostname>: host seems unhealthy, considering it down ([toip() name lookup failed]: 9042)

But we are able to ping cassandra ser

[2019-03-26 22:35] #3713 closed

[2019-03-26 22:39] rainest commented on #4445
It looks like 1.0 changed expectations about how it should receive array data. using `--data 'config.methods[]=GET&config.methods[]=POST'` for the methods line has the desired effect.

Checking with the documentation team on how best to address this, since the current templates don't easily allow fixing this.

[2019-03-27 00:39] thibaultcha commented on #4445
I opened an issue on the docs repository to track this: https://github.com/Kong/docs.konghq.com/issues/1197

[2019-03-27 06:22] jiancaiHub commented on #4437
1. copy custom plugin to /kong/plugins
2. copy custom plugin's spec to /kong/spec/03-plugins
3. add plugin name to `/kong/kong/constants.lua`
4. modify `lua_package_path=./kong/?.lua` in spec/kong_tests.conf

[2019-03-27 06:22] #4437 closed

[2019-03-27 06:24] p0pr0ck5 commented on #4446
It seems you've defined the cassandra contact endpoints as hostnames, and the DNS resolution has failed. Please post more details, including the full Kong config file, debug/error log outputs, etc, as outlined in the Github issue template. Thanks.

[2019-03-27 11:01] Tieske commented on #4437
Have a look at the `kong-vagrant` repository

[2019-03-27 15:14] #4362 closed

[2019-03-27 21:11] harika224121 commented on #4446
Hi @p0pr0ck5  yes we are giving hostnames as Cassandra contact points. Please look at the below kong configuration for cassandra
#------------------------------------------------------------------------------^M
# DATASTORE^M
#------------------------------------------------------------------------------^M
^M
# Kong will store all of its data (such as APIs, consumers and plugins) in^M
# either Cass

[2019-03-27 23:07] thibaultcha commented on #4420
@jeremyjpj0916 It seems to me that when you migrated your <= 0.14 database during the 1.0 upgrade, `plugins = bundled` was in effect (it is the default), which made the response-ratelimiting migrations run. The 0.15 to 1.0 migration of this plugin has a teardown step, which runs during `kong migrations finish` (https://github.com/Kong/kong/blob/master/kong/plugins/response-ratelimiting/migrations/

[2019-03-27 23:37] thibaultcha commented on #4420
I was able to reproduce this behavior like so:

[code]

At this point, the `schema_meta` table shows that the response-ratelimiting plugin hasn't been fully migrated:
[code]

Then, running the 1.1.0rc2 migrations:

[code]

The lesson here seems that we should be doing a better job at informing users that:

1. The `plugins` property has an impact on which migrations get to run (both "up" and "finis

[2019-03-28 02:45] jeremyjpj0916 commented on #4420
@thibaultcha excellent analysis as per usual, after reading just a few sentences of what you were dishing out it dawned on me. In the past when we first started working with kong the "migration" was always a OpenShift job, a temporary kong pod comes up, runs the kong migrations command and goes back down. This migrations pod that would come up and tear down in the past we never cared about the con

[2019-03-28 02:45] #4420 closed

[2019-03-28 12:24] lavernyer opened #4449 "How to put requests from one consumer in queue (Lock feature)"
I'm using kong as API gateway for frontend. How can I prevent multiple requests from frontend at the same time?

Expected options:
1. Kong put requests to the specific route from the same consumer to the queue.
2. Kong cancel requests to the specific route from the same consumer if there is active request already.

Example:
Consumer do 5 POST requests to the route '/api/order'.
1. Kong put all req

[2019-03-28 12:38] harika224121 commented on #4446
Hi @p0pr0ck5 when I give the kubernetes service i.e., cassandra.poc.svc.cluster.local the DNS resolution happened. But when I give the consul service kong2.service.dc1.coi DNS resolution is not happening. Do you have any idea on this? Please let me know.

[2019-03-28 13:50] Tieske commented on #4449
Interesting use case. How should this work on a Kong cluster? Ideas?

[2019-03-28 14:25] guanlan commented on #550
It's supported in Kong 1.1

[2019-03-28 14:25] #550 closed

[2019-03-28 14:25] guanlan commented on #383
It's now supported in Kong 1.1

[2019-03-28 14:25] #383 closed

[2019-03-29 02:06] qiao-meng-zefr commented on #4379
I am getting the same issue on Kong 1.0.3

In one of my test I made total of 40 calls (with 20 workers) to kong, rate limited was set to 10 per hour on the consumer level. So the expected result is only 10 calls can go through and the rest 30 should get 429 response.

However, all calls got 200 response. 10 response has the `X-RateLimit*` headers. It looks like only the `X-RateLimit*` headers are

[2019-03-29 03:43] so2bin opened #4452 "kong proxy listen cannot use reuseport?"
### Summary

Kong start with error when I config proxy_listen with reuseport like this:
[code]
the error is:
[code]

### Steps To Reproduce

1. Configurate `kong.conf` with `proxy_listen: 0.0.0.0:8000 reuseport`

Thanks

[2019-03-29 03:46] p0pr0ck5 commented on #4449
I imagine the second case would be very straightforward to do via `cluster_mutex` (or a local redis might be faster in a single DC deployment).

Queueing up requests would take a bit more logic, again, pretty easy to do with a local redis queue used and Kong consuming that queue.

Either option requires a custom plugin :)

[2019-03-29 03:47] p0pr0ck5 commented on #4449
@lavernyer to be clear, neither of these options is possible today. However, it's possible to extend Kong via plugins (see https://docs.konghq.com/1.1.x/plugin-development/), so you can develop the business logic you need here and implement it via a plugin for Kong.

[2019-03-29 03:49] p0pr0ck5 commented on #4446
I'm not an expert in K8s so I don't have a good answer here. But this is certainly expected behavior for Kong :+1: If the DNS name cannot be resolved, the failure reported here is expected (and correct).

[2019-03-29 03:49] p0pr0ck5 commented on #4446
Who should provide the authoritative DNS lookup for `kong2.service.dc1.coi`? What are the `resolver` Kong config settings you've set?

[2019-03-29 06:38] MichelLiu commented on #1867
support kong-1.0.3 for Mysql/MariaDB 5.7.x, [wei/mysql branch](https://github.com/MichelLiu/kong)

[2019-03-29 09:01] jiancaiHub commented on #4437
Thanks ~

[2019-03-29 09:40] wuguangkuo opened #4453 "Healthchecker init error when restart Kong with much worker process"
### Summary

Healthchecker init error when restart Kong with much worker process

### Steps To Reproduce

1.Configure an upstream object with some targets
2.Ensure the server create much nginx worker process：nginx_worker_processes=auto or a value between about 20~40
3.restart Kong
4.the error.log print some exception stack

### Additional Details & Logs

- Kong version (`0.14.0`)
- Kong error logs

[2019-03-29 10:55] pajel commented on #4335
@p0pr0ck5 I can't give you the numbers from the old DB, but the current 1.0.3 one, which is running for a couple of weeks, has the following:
300000 rows in oauth2_tokens
2000 in cluster_events
nothing in ratelimiting_metrics (there were lots in the old one I believe).
It's always been running on Postgres 10.6 in AWS RDS on db.t2.medium.

[2019-03-29 16:46] Tieske commented on #4437
ok, then try the template here: https://github.com/kong/kong-plugin/ and check how the Vagrant box works with those. You should be able to work it out from that.

[2019-03-29 18:56] dndx commented on #4452
Looks like we do not allow the `reuseport` flag when parsing listeners in https://github.com/Kong/kong/blob/master/kong/conf_loader.lua#L848, which is definitely worth supporting.

Personally I think the `reuseport` option should be enabled by default. It significantly improves load balancing between multiple workers when accepting incoming connections. If the O/S does not support the `SO_REUSEPOR

[2019-03-29 19:35] thibaultcha commented on #4452
PRs to accept `reuseport` in the listeners parsing are most definitely welcome!

[2019-03-29 20:36] jeremyjpj0916 commented on #4452
Yeah I run with reuseport and deferred on my listeners but hardcoded in a custom kong nginx conf file. Glad to see others giving it a go and would be good for kong to be able to accept theses as configurable parameters too. I am all about some nginx conf optimizations I read off random blogs and nginx docs 😆.

[2019-03-30 01:56] Chr1d5ter opened #4458 "Docker Image add Directory for configuring Kong after startup"
### Summary
When Kong is deployed in a containerised environment it is proposed that the `docker-entrypoint.sh` has a pre-start and post-start section that allows custom scripts to be run.

### Additional Details
- Before Kong starts it looks inside a `pre-start` directory and executes any shell scripts in this directory. ( e.g. a script that runs `kong migrations bootstrap` )
- Once Kong is up an

[2019-03-30 13:05] Tieske commented on #4458
To add the scripts to the image you'd need a dockerfile, right? Then why not use the same dockerfile to replace the entry point with a script that does exactly as you described?

[2019-03-30 17:48] Chr1d5ter commented on #4458
You're absolutely right @Tieske you could do that, but I imagine its quite a common use case for people to provision Kong once it's started. That's a lot of people making changes to their dockerfile. Whereas if it was part of the `docker-entrypoint.sh` script already, all people would need to do is ensure their provisioning scripts are in the correct folder.

For example, my use case is that I use

[2019-03-31 00:36] hutchic commented on #4458
I don't think we'd turn down a PR.

https://hub.docker.com/_/postgres has pretty good prior art in what they do with *Initialization scripts*

[2019-03-31 10:54] bungle commented on #4452
also ´so_keepalive` etc. The current `ip:port` is also more limited than what Nginx allows, such as `*:80`. Also now it looks like Nginx started to support port-ranges such as `*:80-90`. Maybe the best option is just not try to validate these inputs and just accept array of strings. Nginx will cry out loud ehen starting if it is not valid.

[2019-04-01 07:28] danielwagn3r commented on #4264
Hi,

declarative configuration is definitely a great improvement towards infrastructure as a code. After some considerations we want to propose some further improvements or fine tuning:

support parsing without a running kong instance:
this would make it easier to build an automated delivery pipeline where the configuration is maintained in an e.g. git repository. A standard build server could per

[2019-04-01 11:27] WywTed opened #4460 "How to use acl plugin with consumer when deploy by ingress-controller mode?"

[2019-04-01 11:29] WywTed commented on #4460
Now i create a api related with an auth plugin, then i want to limit just some specified consumers to visit the api, so i create an acl plugin, but how to associated consumer with the acl when deploy the kong with ingress-controller mode.

[2019-04-02 09:36] mymx2 commented on #4348
i had set the trusted_ips, but it still get  below error
![image](https://user-images.githubusercontent.com/32814920/55392332-a9330480-556d-11e9-87f6-af93cb95a401.png)

here are conf:

![image](https://user-images.githubusercontent.com/32814920/55392144-493c5e00-556d-11e9-8262-7c68eeb320c2.png)

`{
  "plugins": {
    "enabled_in_cluster": [
      "key-auth",
      "oauth2"
    ],
    "available_on

[2019-04-02 16:19] Jojoooo1 opened #4463 "Not possible to add custom plugin with kong version 1.1.1"
### Summary

Kong version 1.1.1. luarocks commands are not available anymore in kong container.

### Steps To Reproduce

1. Install kong version 1.1.1.
2. Load a custom plugin in kong container
3. Execute "luarocks make" in the custom plugin folder

[2019-04-02 16:25] hutchic commented on #4463
Thanks for the report. This is a duplicate of https://github.com/Kong/docker-kong/issues/247 issue which includes the fix which is pending and a temporary workaround.

[2019-04-02 16:25] #4463 closed

[2019-04-02 23:49] hongzhigang opened #4467 "jm"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1.
2.
3.
4.

### Additional Details & Logs

- Kong version (`$ kong version`)
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong erro

[2019-04-03 01:12] RyanSiu1995 opened #7680 "Incorrect interpretation in NGINX state"
kong_nginx_http_current_connections{state="total"} is not representing the "total connections". Instead, it represents the total request handled by the NGINX. Within one accepted connection, there may be more than one request.
The wording total is misleading to most of the developer. They may think it is a total connection instead of total request.

[2019-04-03 04:21] jeremyjpj0916 commented on #4467
?

[2019-04-03 04:39] #4467 closed

[2019-04-03 16:01] WywTed commented on #4460
to create acl type kongcredentail
for this:
https://gist.github.com/davideagle/b9f12c8d8645b26eb412036814055577

[2019-04-03 16:01] #4460 closed

[2019-04-03 17:50] dliberman opened #4469 "Service URL formation changed when using routes with strip_path=false"
### Summary

Service request URL formation changed after KongCE 0.15 if you create routes with strip_path=false. If you create the service as ```url=https://mockbin.org/request``` (without the trailing slash), for example, and add a route /something to it, it will form the url as ```mockbin.org/requestsomething```

### Steps To Reproduce

1. Create a service:
[code]

2. Create a simple route for t

[2019-04-04 07:13] inarli opened #4471 "Kong admin api is not working."
Hello,

I installed kong via homebrew. When I am calling [GET] localhost:8000 looks good is everythings

[code]

But when I am calling kong admin api [GET] `localhost:8001` or `0.0.0.0:8001` or `127.0.0.1:8001` kong does not give response.
![image](https://user-images.githubusercontent.com/1387333/55535819-e9ef6280-56c0-11e9-8b5d-636fee684f34.png)

### Additional Details & Logs

- Kong version : 1

[2019-04-04 09:26] Zuckonit opened #4472 "cannot install kong 1.1.1 by brew"
cannot install kong 1.1.1 by brew on macos. (can only install 1.1.0)

[2019-04-04 12:29] tonykokhan opened #4473 "How to use kong plugin http-log?"
kong version: 1.0.3

When I enabled kong plugin http-log, I don't know how to configuration the http endpoint. I just know http endpoint is the address of log server. But I don't know the details of the implementation and how to test it. Does logstash need to be used to collect logs？

Any help will be greatly appreciated.

[2019-04-04 13:04] Jojoooo1 opened #4474 "[Oauth2] Token Revocation"
### Summary

"The Token Revocation extension defines a mechanism for clients to indicate to the authorization server that an access token is no longer needed. This is used to enable a "log out " feature in clients, allowing the authorization server to clean up any security credentials associated with the authorization."

I didnt see any information about token Revocation, is there any plan to inte

[2019-04-04 13:12] #4474 closed

[2019-04-04 14:55] SubratPadhi12345 opened #4475 "Unable to import typedefs.lua"
I am trying to clone an existing plugin to create a custom plugin so that I will be able to change the execution priority .
Taking  request-transformer plugin as an example .

PFB steps used to create the custom plugin
1) created a kong-custom-plugin directory.
Created Lua files handler.lua,schema.lua,access.lua & kong-custom-plugin-0.1-1.rockspec in side kong-custom-plugin .
2) executed command :

[2019-04-04 22:52] rainest opened #4479 "JWT plugin allows invalid configuration for cookie_names"
### Summary

The JWT plugin allows invalid configuration for `cookie_names`

### Steps To Reproduce

1. Create a JWT plugin instance without specifying any configuration, e.g. with `http localhost:8001/plugins name=jwt`. The resulting instance will correctly have `config.cookie_names: []`. Send a request through Kong to confirm that JWT works normally (i.e. returns unauthorized, since no consumer

[2019-04-05 11:02] odelvalle opened #4480 "ACL plugin: 401 vs 403"
### Summary
ACL plugin should return 401 when credentials is not provided. Now always returns 403

### Steps To Reproduce
1. Add ACL plugin with white list to any service
2. Add Any security plugin (ApiKey)
3. Request any service route without credentials  (response 403)
4. Disable ACL plugin and send the request again (response 401)

401 Unauthorized (I don't have credentials) vs 403 Forbidden (I

[2019-04-05 13:06] janosi opened #4482 "Kong 1.1.1 TCP preread based custom plugin does not work anymore"
### Summary
My custom plugin that worked with Kong 1.0.3 does not work with 1.1.1.

It is a TCP plugin, working at preread phase.
With Kong 1.0.3 I configured the route, service and plugin as follows:

curl -i -X POST http://10.98.19.169:8001/services/ -d 'name=fakeservice' -d 'url=tcp://127.0.0.1:28830'
curl -i -X POST http://10.98.19.169:8001/routes/     -H 'Content-Type: application/json'     -

[2019-04-05 15:36] hishamhm commented on #4479
Ah, the Billion Dollar Mistake bites us again. Those set fields in the JWT plugin were not marked as `required` and therefore accept `null`. Fixing the plugin schema to add `default = {}, required = true` fixes it<sup>*</sup>, and the offending `patch` returns a schema validation error.

This probably may be lurking in more places other than JWT. Interestingly, _one_ of the sets of the JWT [does h

[2019-04-05 17:11] hishamhm commented on #4472
@kikito, can you take a look? (also, did we fix the libyaml dependency there?)

[2019-04-05 20:00] janosi commented on #4482
Please be aware, that from now on my plugin stopped working on the old Kong versions, too. Most probably there is a bug in my environment, please do not investigate this case until I find the cause. Of course, I will immediately inform you about the result. In case you want to close this issue before that, I can understand that and please do it at your will.

[2019-04-05 20:29] RobertMoon-nm opened #4483 "Issue running Migration Bootstrap with limited database permissions"
### Summary
When running the Kong Migration with Postgres schema level permissions, the migration fails. We ran in to this trying to run Kong with least privilege within the Postgres database. The issue is that Kong can not migrate without database level permissions. We are making the user and the Postgres schema in steps that happen before running the Kong migration.

### Steps To Reproduce
1. Cr

[2019-04-06 07:18] tholu commented on #4472
The latest version in the homebrew formula is 1.1.0, see https://github.com/Kong/homebrew-kong/blob/master/Formula/kong.rb - you have to wait until this is updated. I'll also try to take a look to update/fix the formula.

[2019-04-06 17:29] tholu commented on #4471
Duplicate of https://github.com/Kong/homebrew-kong/issues/99 and https://github.com/Kong/homebrew-kong/issues/100.

[2019-04-06 20:19] thibaultcha commented on #4472
This should now be fixed by #101 thanks to @tholu! Mind giving it another try? Thank you!

[2019-04-06 20:19] #4472 closed

[2019-04-06 21:03] Chr1d5ter commented on #4458
Finally got some time to take a look at this. Finding it a little tricky though as when kong is called it will not run any further commands, which is what I need it to do.

[code]

[2019-04-06 22:11] Chr1d5ter commented on #4458
# Solved
This [https://docs.konghq.com/1.1.x/db-less-and-declarative-config/](https://docs.konghq.com/1.1.x/db-less-and-declarative-config/) is exactly what I need. Great work guys.

This has come at exactly the right time for me.

I'll close this issue

[2019-04-06 22:11] #4458 closed

[2019-04-07 08:30] tholu opened #4485 "MacOS development: module 'socket' not found:No LuaRocks module found for socket"
### Summary

On a fresh clone of the `kong` source, runnung Unit tests `make test` fails with:

[code]

### Steps To Reproduce

1. `git clone https://github.com/Kong/kong.git`
2. `make dev`
3. `make test`

### Additional Details & Logs

[code]

[2019-04-07 08:32] tholu commented on #4485
Solution is to run the following before `make test` to setup the luarocks paths correctly:
`eval $(luarocks path --bin)`

[code]

I feel this should be added to the README, or does this work out of the box for anybody else?

[2019-04-07 11:17] tholu commented on #4471
I can reproduce the problem by running:

[code]

Further investigation yielded a problem with the `dns_hostsfile` config in the tests:

[code]

This file is not found by openresty when starting, as it is not correctly prefixed like other variables (as seen in the autogenerated `.kong_env`).

Anybody with more experience with Kong have some pointers here how this should be fixed? Not sure, why this

[2019-04-07 11:18] tholu commented on #4471
[code]

This leaves the `servroot` folder for more investigation.

[2019-04-08 01:24] #4453 closed

[2019-04-08 06:07] satishmane commented on #2325
@Tieske
Hi,
Issue with syslog plug-in is that syslog truncates messages. I tried using rsyslog, it improved message length, but still same problem of truncation. I found that this is due to message string length hard coded in alpine linux image libc. I tried increasing MaxMessageSize in rsyslog.conf, but no luck. Kong says this is syslog issue. And we can not fix alpine docker image issue. In shor

[2019-04-08 06:41] janosi commented on #4482
We can close this issue. For any reason, from one day to another, the behavior of my solution started working differently with any Kong version. So, I am sure the reason is on my side.

[2019-04-08 06:41] #4482 closed

[2019-04-08 07:22] Tieske commented on #2325
@satishmane I wasn't aware of that limitation, have you tried the CentOS image?

[2019-04-08 08:24] satishmane commented on #2325
@Tieske
Yes tried centos image too. But same issue.

[2019-04-08 10:59] Tieske commented on #2325
seems to me this is a syslog issue. There is nothing Kong can do to work around those limitations. You could try any of the other logging solutions, tcp/http based?

PS. What Kong version are you using?

[2019-04-08 11:01] mvanholsteijn commented on #4374
@p0pr0ck5 I have created a PR. The integration test is failing, but I do not think that is caused by my change. Can you please check it out?

[2019-04-08 11:25] hutchic commented on #1981
resolved as of https://github.com/Kong/docker-kong/pull/250

[2019-04-08 11:25] #1981 closed

[2019-04-08 11:56] satishmane commented on #2325
@Tieske
Kong version : 1.0.3
Other logging solutions introduce another moving part. Hence needed local logging option like syslog.

[2019-04-08 12:19] Tieske commented on #2325
taking this to https://discuss.konghq.com/t/syslog-pluging-does-not-log-anything/3029

[2019-04-08 14:37] bungle commented on #4194
@jeremyjpj0916,

Here is the latest PR, rebased today to our `next` branch: #4488. I hope we can include it in `1.2.0`. If you have time, can you check about it. It contains some new tricks to make it even more performant (like the added dns cache prewarming).

[2019-04-08 14:49] bungle commented on #4483
@RobertMoon-nm,

Thank you for reporting this. The fix will follow.

[2019-04-08 14:53] RobertMoon-nm commented on #4483
Stellar!

Thanks for the quick response!

[2019-04-08 15:05] tholu commented on #4471
Not sure why I thought that the `dns_hostsfile` is the problem. This seems to work fine according to the debug logs. When running `nginx -p /Users/thomaslutz/Documents/kong/servroot -c nginx.conf` manually, I get the segmentation fault and the error.log in servroot ends with:
[code]

Debugging with lldb:
[code]

[2019-04-08 17:06] flowdopip opened #7684 "High Cardinality"
Hi,

I'm using Kong with Prometheus Plugin from the beginning and everything is ok. With the evolution of the system, I will have around 1000 services with the trend to increase.

Right now I have these metrics for a service:

kong_latency_bucket{type="kong",service="auth-runtime",le="00001.0"} 2
kong_latency_bucket{type="kong",service="auth-runtime",le="00002.0"} 2
kong_latency_bucket{type="kong"

[2019-04-08 18:01] kikito commented on #4471
Hi, I have started investigating this.

I can reproduce @inarli's issue, and I am trying to isolate the problem.

[2019-04-08 20:18] Tieske commented on #4469
That was an intentional change. See tests here: https://github.com/Kong/kong/blob/master/spec/01-unit/08-router_spec.lua#L1773-L1858

Because matching is not bound to a segment, so neither is path construction

[2019-04-08 20:42] eurodomenii commented on #1672
Debian stretch  /etc/postgresql/11/main/pg_hba.conf, initial values was peer, replace it with md5

[code]

[2019-04-08 21:59] jeremyjpj0916 commented on #4194
Still too early to drop it as an early alpha RC tarball for us to pull and test with from bintray eh? Our whole deployment model usually depends on that, but I can drop a number of 1.2 overriding files into say the 1.1* release candidate and test that way likely. Also looks like you had to drop the DNS cache prewarming, that was a neat idea, did it cache all DNS entries at the init of Kong to avoi

[2019-04-08 23:20] bungle commented on #4194
Yes, on this line:
https://github.com/Kong/kong/blob/339aa124957c78b38e2152fe9bb4f3c01115d2f0/kong/runloop/handler.lua#L153

you can add:

[code]

It is just some of our tests that don't like it. We will figure that out and the festure will return I guess.

[2019-04-09 04:20] shugydw commented on #4405
My issue is caused by Konga - https://github.com/pantsel/konga/issues/369

[2019-04-09 05:07] eurodomenii commented on #2471
Need to start after database service
`After=syslog.target network.target postgresql.service`

[2019-04-09 08:09] bungle commented on #4469
@dliberman,

what you want is probably this in service:
[code]

[2019-04-09 08:24] bungle commented on #4475
EE `0.34.1` is based on Kong `0.13.x`. The upcoming EE `0.35` will be based on latest CE. The new dao / typedefs is only available with Kong `0.15`+. Thus I am closing this. You can check the plugin, e.g. from here: https://github.com/Kong/kong/tree/4973a6237b108f0b332ca97b187faf669f2497dd/kong/plugins

which should have a compatible schema for EE `0.34.1`.

[2019-04-09 08:24] #4475 closed

[2019-04-09 08:26] bungle commented on #4480
@odelvalle I like your proposal. PR is welcomed! I will also add card to our backlog.

[2019-04-09 08:30] jeremyjpj0916 commented on #4194
Very cool, yeah a simple one liner to make all the queries needed to build it out. I suppose my first concern around that without knowing much about how DNS nameservers behave is would there be circumstances where doing this in a prewarm manner might cause Kong to be blacklisted as a threat from nameservers temporarily for querying that many that quickly, or rate limited if say you have 5000 uniqu

[2019-04-09 08:57] bungle commented on #4485
I personally use `luaver` to manage my Luas on Mac, and in my `.bash_profile` I do have:
[code]

I use everything from sources approach. E.g. I compile OpenResty by hand etc.

[2019-04-09 09:50] xlb0479 opened #4490 "How kong route by port?"
Now I know with proper config, kong can listen on multi port.
But when I create a route, how to route request by port？
Thanks.

[2019-04-09 10:48] bungle commented on #4194
@jeremyjpj0916 the dns prewarming is now enabled on PR, but it is now done asynchronously, to make worker accept requests faster (even with a small possibility of request coming in with non-prewarmed upstream host).

[2019-04-09 11:44] tholu commented on #4485
As Kong does not support Lua 5.3 (because of e.g. https://github.com/leafo/pgmoon/issues/54), I put the following in my `.zshrc` for now:

[code]

I still have the feeling that the documentation could be improved for MacOS developers to get started with Kong development.

[2019-04-09 11:47] tholu commented on #4471
@kikito Any luck to identify the problem yet? I'm not sure how to proceed with my `lldb` findings, I have found some kind-of related nginx / openresty segfault reports where the SSL context was at fault though.

[2019-04-09 12:14] carnei-ro commented on #4469
@Tieske and @bungle the thing is: not every upstream works with a trailing slash. See the example of https://httpbin.org/anything/ vs https://httpbin.org/anything, and so do us have services like that behavior. How do we proceed? Kong used to fit in our environment.

[2019-04-09 12:30] dliberman commented on #4469
Also, I'm searching through lots of REST examples and guidelines and there is no consensus: although some places suggest to use a trailing slash when the API is related to a collection of elements, some places strongly suggest for API URLs/URIs never to end with a trailing slash to avoid confusion. @carnei-ro 's example above is a good one - httpbin.org/anything/ does not respond, when httpbin.org

[2019-04-09 13:15] hutchic commented on #4485
related: https://github.com/Kong/kong/pull/4491

[2019-04-09 13:22] chrishornmem opened #4492 "Empty reply from server when hitting admin api"
I appreciate this probably isn't a bug, but can't figure out why this is isn't working.

After install, Kong starts ok, but I get "Empty reply from server" when hitting the admin api on the default port 8001.  I am running on MAC OSX 10.14.3.  The process appears to be listening on port 8001.  I am using the default kong configuration.  I am starting with "kong start".

I did get some errors durin

[2019-04-09 13:55] anthonyliriano opened #4493 "How do I update Kong Proxy SSL Cert.. Resolved"
Resolved . .Thanks

[2019-04-09 18:36] thibaultcha commented on #4194
Yes, better do DNS resolution warmup asynchronously to avoid delaying a startup sequence for too long. If any requests hits a Kong node still warming up its DNS, the query will hit the DNS lib's semaphore anyway, which may be a query well underway and almost resolved. This way, we are still safe yet cautious of resource usage, the trade-off is acceptable.

Glad we finally went through with this!

[2019-04-10 05:09] jeremyjpj0916 commented on #4194
@bungle I am extremely excited about all these perf PRs I see coming though. Feels like much needed love and care is going into making the foundation of Kong at its core even better than it was(which it wasn't bad IMO but as soon as resource scale and on the fly modifications came into play many issues came into the picture, at least for us in a real multi dc environment over TLS connections and h

[2019-04-10 07:30] sunset535 opened #4496 "failed to retry the dns/balancer resolver for ***.com' with: dns server error: 100 cache only lookup failed while connecting to upstream,"
hey guys:
i use kong manage some services.
my kong deploy in inner network, there is a service, it deploy in outer network, normally when i access it by borwer ,i will use the proxy.
so i configured the http_proxy in profile, and when i use wget command direct access it, it works.
but when i use add the service in kong, the error as follows :
[lua] balancer.lua:812: balancer_execute(): [dns] dns s

[2019-04-10 09:15] Tieske commented on #4496
It's failing a dns lookup.

if you format the json snippet in there, you'll see:

[code]

So it is doing a cache only lookup, for CNAME (5), SRV (33) and an A (1). This means that it did a first try to connect to the service but failed, and then in the retry (where it cannot do a dns lookup, but only use cached entries) fails because the name isn't found.

Is there anything in the log, just before

[2019-04-10 09:16] hchoi opened #4497 "Kong dbless mode returns 500 Internal server error when using Postman or Curl"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

When I configure kong with 'dbless-mode', it works find with Chrome/IE browser,
However, when I tried to test the API using 'Postman' or 'curl', it returns 500 Internal Server Error, wit

[2019-04-10 09:50] pamiel commented on #4497
Hi @hchoi,

I Have the same issue, as mentioned here: https://discuss.konghq.com/t/why-my-request-is-considered-as-a-mesh-request/3226.
Up to me, the root cause is that your request (that is a regular API Gateway request) is considered as a Mesh request (but unfortunately I don't know why...) => it is trying to get the `X-Forwarded-Host` header that is usually set by the calling entity in this mod

[2019-04-10 11:07] xiaoshumiao6 commented on #2359
so do i

[2019-04-10 11:24] xiaoshumiao6 commented on #3721
that is a so big trap

[2019-04-10 16:30] posquit0 opened #4499 "`correlation-id` behave strangely in Kong 1.1.1"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

Everything is same. `correlation-id` plugin works well in `1.0.3`. However, `correlation-id` plugin set `correlation-id` strangely.

[code]

### Steps To Reproduce

Following is my `corr

[2019-04-10 19:57] hutchic commented on #1595
resolved now

[2019-04-10 19:57] #1595 closed

[2019-04-10 19:57] hutchic commented on #1728
resolved now

[2019-04-10 19:57] #1728 closed

[2019-04-10 20:18] #4497 closed

[2019-04-11 00:39] hchoi commented on #4497
Thanks for the immediate reply!
I look forward to use 1.1.2 with DB-less mode :)

Regards,
Hyundeok.

[2019-04-11 06:51] dndx commented on #4471
Hello guys,

We were able to reproduce and identify the problem to be with the latest PCRE 8.43 that Homebrew now shipps. The JIT compiler has compatibility issue with macOS Mojave in PCRE 8.43 and will cause normal requests to coredump.

This problem is not specific to Kong itself, any request to NGINX can coredump under this configuration. We are still figuring out a good way to properly fix thi

[2019-04-11 06:52] dndx commented on #4492
Please see: https://github.com/Kong/kong/issues/4471#issuecomment-481989146

[2019-04-11 06:54] err-himanshu opened #4501 "multiple postgres host ips in kong.conf"
Hello
How to provide multiple postgres ips in kong.conf , I have tried ips with space seprated but it seems it only takes the first ip
like
pg_host = xx.xxx.xx.xxx xx.xxx.xx.xxx
                    **OR**
pg_host = xx.xxx.xx.xxx,xx.xxx.xx.xxx

PS: Comma separated ips ain't working.

[2019-04-11 08:29] tholu commented on #4471
@dndx Will try that! Have you created an issue at https://github.com/Homebrew/homebrew-core/issues yet?

[2019-04-11 10:33] tholu commented on #4471
I can confirm, that kong installed via homebrew works fine after downgrading pcre to 8.42.

[2019-04-11 13:03] yurifrl commented on #3974
I found some configs that may solve the issue
[code]

[2019-04-11 13:50] bungle commented on #4501
@err-himanshu,

Yes that is not supported at the moment. But we have noted that. Right now you can perhaps use a proxy in front of postgres servers.

[2019-04-11 13:57] bungle commented on #4490
Routing by `port` is currently only supported by `stream`s, and not with `http/https`. It will be supported in a future.

[2019-04-11 13:59] bungle commented on #4493
Closing it as it seems to be resolved. Thank you! And we are happy that you resolved the issue.

[2019-04-11 13:59] #4493 closed

[2019-04-11 17:43] josephbruni commented on #4471
Confirmed as well: Downgrade to pcre 8.4.2 works. The admin interface is responding correctly.

[2019-04-11 20:39] #4374 closed

[2019-04-12 01:09] rainest opened #4502 "Kong 1.1 cannot bootstrap or reset schema on Azure Postgres"
### Summary

Kong 1.1 fails to bootstrap using [Azure PostgreSQL](https://docs.microsoft.com/en-us/azure/postgresql/). Attempting to bootstrap will fail with an error like

[code]
Kong 1.0 is able to bootstrap without issues, and bootstrapping on 1.0 and then upgrading/running `kong migrations up` works/creates a viable 1.1 environment. This appears to be the best workaround at present due to the

[2019-04-12 01:12] rainest commented on #4502
https://github.com/Kong/kong/blob/1.1.1/kong/db/strategies/postgres/connector.lua#L427-L434 and https://github.com/Kong/kong/blob/1.1.1/kong/db/strategies/postgres/connector.lua#L687-L694 are the other affected queries (for resets).

[2019-04-12 01:40] sunset535 commented on #4496
ths for your answer.
i found when i configure the proxy, then i access the service by route, the domain address would explain to a ip address, so the proxy would deny it, even though i had configure the upstream, and i set the target same as the upstream.
so i don't know how to configure it, if i want the kong transmit the request use the domain address rather than a ip address.

[2019-04-12 03:31] ylhyh commented on #4370
Is the auto-deletion executed by kubernetes-ingress-controller? I have used the [all-in-one-postgres.yaml](https://github.com/Kong/kubernetes-ingress-controller/blob/master/deploy/single/all-in-one-postgres.yaml) to deploy kong.
The auto-deletion behavior disappears after I remove deployment "kong-ingress-controller".

[2019-04-12 03:36] p0pr0ck5 commented on #4370
@hbagdi any thoughts on this?

[2019-04-12 07:27] pms-github commented on #2877
Same here. I have posted details on kong nation
https://discuss.konghq.com/t/kong-k8s-pod-crashes-after-few-hours/3280?u=prashant_shandilya

[2019-04-12 09:08] bungle commented on #4370
yes the deletion is because of ingress controller afaik.

[2019-04-12 11:55] A-Juma opened #4504 "Request Transformer remove header is case-sensitive"
### Summary

The request transformer plugin implementation has changed, in that it is now case sensitive when trying to remove headers

Example:

If you wanted to remove the Accept header from requests then the below configuration for request transformer would remove the Accept header (note it is configured in lowercase).
`
{
  "name": "request-transformer",
  "config": {
    "remove": {
      "he

[2019-04-12 12:07] pamiel opened #4505 "Critical message related to "declarative configuration" in DB mode"
### Summary

A critical message related to "declarative configuration" is displayed when starting Kong with a database.

### Steps To Reproduce
Kong is re-packaged in a Docker image containing:
- a "default" declarative configuration file. This default file just contains the following line:
[code]
- a `kong.conf` file containing the `declarative_config` parameter which value points to the configur

[2019-04-12 12:42] bungle commented on #4502
@rainest,

If you have time, can you check if this fixes the issue:
https://github.com/Kong/kong/pull/4506/commits/c1fbfa7503efd9f63dd37082d96073a61bfde201

Thank you!

[2019-04-12 12:43] bungle commented on #4483
Hi @RobertMoon-nm,

I tried to fix this issue with this commit:
https://github.com/Kong/kong/pull/4506/commits/b14cab67b2bd3bea16eb94f2a6c4940fdcf09b8e

If you have time, could you please test that it was / was not effective in your scenario? Thank you very much for reporting!

[2019-04-12 12:57] err-himanshu commented on #4501
@bungle but in kong.conf we have to define the the pg_user and pg_password and it ain't working with proxy server
getting error
**could not retrieve server_version: connection refused**

[2019-04-12 14:39] hbagdi commented on #4370
When using Kong's Ingress Controller alongside Kong, it takes care of managing all entities in Kong's database. You should not use Kong's Admin API to configure Kong in that case but use k8s's Ingress resource and custom resources provided by the Ingress Controller to configure Kong.

Any entity created manually using Kong's Admin API will be deleted by the Ingress Controller if the corresponding

[2019-04-12 14:39] #4370 closed

[2019-04-12 15:04] dliberman opened #4507 "Kong Balancer timing out for a few minutes after starting"
We're facing a problem with Kong 1.1.0 **dbless**, using declarative config. If in our config there's an upstream created, Kong will timeout for a few seconds/minutes after restarting, until it apparently stabilizes.

I ran some investigation and it seems that when we're using a database (in our case, postgres), after starting it will not try to create the balancers for all upstreams upon initiali

[2019-04-12 15:53] dndx commented on #4471
Hello guys,

We have provided a long-term fix in https://github.com/Kong/openresty-patches/pull/39 and this issue should be fixed now. You may revert back the changes to `pcre`'s formula and reinstall `kong` with `pcre`, the problem should no longer be persistent!

Appreciate the feedback as well!

[2019-04-12 15:53] #4471 closed

[2019-04-12 16:47] pamiel opened #4508 "Conflict between declarative_config parameter and service/route cache rebuilt & node synchro through DB"
### Summary

I opened issue https://github.com/Kong/kong/issues/4505 a few minutes ago... but it looks the problem is much more critical than initially thought: that's why I'm opening a different issue, and not only editing the previous one.

Indeed, it look the presence of the `declarative_config` parameter being set to a non empty value is not only generating a critical error message (as mention

[2019-04-12 17:16] rainest commented on #4502
@bungle it does. Both bootstrap and reset complete without errors after applying those changes.

[2019-04-12 19:59] hishamhm commented on #4508
Hi @pamiel — yes, the `declarative_config` entry is incompatible with database mode. Teh behavior you describe, however, is not acceptable — we should either refuse to start if `declarative_config` is set with `database=postgres|cassandra`, or ignore it altogether. The latter matches the general behavior of `kong.conf` better — after all, `cassandra_keyspace` is happily ignored when `database=post

[2019-04-13 03:11] tholu commented on #4471
@dndx It works, if `pcre`, `openresty` and `kong` are reinstalled. With the first two being the important ones, as the patches were for `openresty`. Thanks! 👍

[2019-04-14 10:27] NebojsaKrtolica commented on #1540
...so? How's this feature development going? :smiley:

[2019-04-14 10:41] GoldenMoe commented on #3238
FYI, looks like @thibaultcha has gone ahead and written the code for this. PR: https://github.com/Kong/kong/pull/4457.
Hopefully it gets reviewed and released soon so we can start to use it.

[2019-04-15 13:34] bungle commented on #4501
@err-himanshu, you cannot connect your PG at all right? We need to know a way more from your setup, until we can help you. Is this another separate issue than the multiple hosts? How are you running your PG, can you connect Postgres with `psql` from the node where you run Kong? For me it looks like the host cannot be reached from Kong. Is there indirection between Kong and Posgres, and if there is

[2019-04-15 16:53] pamiel opened #4514 "Migration of custom plugin not run when plugin installed in custom path (kong 1.x)"
### Summary

Version 0.x of Kong used to have an issue when running the migration process for custom plugins, when these plugins were located in a custom path (i.e. not in the default `/usr/local/share/lua/5.1/kong/plugins` directory): migration was indeed not taken into account (see the issue here: https://github.com/Kong/kong/issues/3394).
A good workaround to this issue is to set the `LUA_PATH`

[2019-04-15 21:05] hishamhm commented on #4514
hi @pamiel! I was unable to reproduce it in latest master.

This is what I tried to do:

1.  create a path that's found in LUA_PATH
[code]

2. go to the kong sources where I run my dev environment

[code]

3. move a plugin with migrations out of the Kong tree

[code]

4. reset and bootstrap migrations - verify that it still runs the oauth2 migrations

[code]

oauth2 is there, 24 migrations execute

[2019-04-15 23:57] RobSerafini commented on #4504
I can reproduce this.

`http POST :8001/routes/anything/plugins name=request-transformer config.remove.headers\[\]=accept -f`

Header is removed

http POST :8001/routes/anything/plugins name=request-transformer config.remove.headers\[\]=Accept -f

Header will not be removed.

[2019-04-16 00:01] RobSerafini commented on #4505
I am going to close this issue in preference to issue 4508.

[2019-04-16 00:01] #4505 closed

[2019-04-16 04:24] jeremyjpj0916 opened #4515 "(Request Size Limiting Plugin)Kong 1.x series breaking change from 0.14.x and below behavior"
### Summary

https://discuss.konghq.com/t/request-size-limiting-plugin/67

Essentially, the plugin used to let decimal values like .5 mean block requests 1/2 a MB, now the plugin only accepts whole numbers at the moment on > 0.14.x versions. Losing this granularity in the plugin makes it a bit less valuable as many API requests are in the KB range and should be able to be limited as such, 1MB limi

[2019-04-16 09:16] pamiel commented on #4514
Ok, I got it:
- `plugins` in `kong.conf` is correctly set on my side, but reproducing your test case is not leading to a correct migration
- looking again to the default values of the `kong. conf` file, I realized that 2 paths were provided (https://github.com/Kong/kong/blob/master/kong.conf.default#L697) `./?.lua;./?/init.lua;` while my `lua_package_path` only has a single one: `/my/path/?.lua`.

[2019-04-16 14:16] flowdopip opened #4517 "Error: Kong Prefix and nginx_http_include extension on kong.conf"
### Summary
Hi,

In my CI/CD process, I define the prefix variable and on kong.conf file, I set up the path to my nginx configuration.

/usr/local/share/lua/5.1/kong/cmd/start.lua:61: /usr/local/share/lua/5.1/kong/cmd/start.lua:37: nginx configuration is invalid (exit code 1):

[ERROR ] nginx: [emerg] open() “/apps/current/logs/conf/monitoring.conf” failed (2: No such file or directory) in /apps/c

[2019-04-16 16:43] bungle commented on #4502
The PR is closed now, so I will close this too.

[2019-04-16 16:43] #4502 closed

[2019-04-16 16:44] bungle commented on #4483
We merged the PR, so I guess this got fixed too. If now, @RobertMoon-nm, please re-open this.

[2019-04-16 16:44] #4483 closed

[2019-04-16 16:49] bungle commented on #4469
@carnei-ro / @dliberman,

that httpbin example is a really good one, thank you. I need to think this more, is there way to somehow support both (without new config params), or are the two use cases mutually exclusive.

[2019-04-16 18:31] hishamhm commented on #4514
Correct!

Can you try this patch?

[code]

Yes, it works (I had the ~/.luarocks paths in my LUA_PATH already).

Let me know if the above tweak does the trick! If so, I'll close this and send a PR with it.

[2019-04-16 19:25] hishamhm commented on #4515
I'm pretty sure this was an accidental breakage. We can be conservative about 1.x-series compatibility and restore this functionality in Kong 1.2.0 as a "new feature" in Kong 1.x, or we can interpret that not supporting decimals is really a bug in 1.x (since we did not announce the breaking change in the changelog for 1.0.0) and restore the functionality in Kong 1.1.2. I lean towards the latter.

[2019-04-16 19:36] hishamhm commented on #4517
Assuming that `/apps/current` is a link to `/apps/releases/cf0fb8f3240cc37cf93c7c3371dd3bf9ab4c8db1`:

* `/apps/current/logs/conf/monitoring.conf` does not exist.

* `/apps/current/logs/monitoring.conf` exists.

* `/apps/current/conf/monitoring.conf` exists.

I suggest you move your kong.conf out of `logs/` and change your `prefix` to `/app/current`. This should fix your setup.

[2019-04-16 19:54] Tieske commented on #4496
Which proxy? are you having another proxy behind Kong?

[2019-04-16 22:31] RobSerafini commented on #4499
I am not able to reproduce this problem.
My plugin config (on a service)

            "config": {
                "echo_downstream": true,
                "generator": "uuid",
                "header_name": "X-Request-ID"
            }

Response from upstream headers include:
Date: Tue, 16 Apr 2019 22:27:46 GMT
Server: gunicorn/19.7.1
Via: kong/1.1.1
X-Kong-Proxy-Latency: 1
X-Kong-Upstream-Latency

[2019-04-16 23:05] RobSerafini commented on #4499
Works for me as above with kong:1.1.1-alpine docker image.

[2019-04-16 23:17] flowdopip commented on #4517
Works. Thanks, you can close that. But the documentation needs a little bit more information about this and the nginx templates

[2019-04-16 23:17] #4517 closed

[2019-04-17 01:38] sunset535 commented on #4496
kong is the service proxy, usually, service would access the inner net server, there are some services access the outer net server, these services must through the proxy server, this proxy is the network proxy.

[2019-04-17 03:19] ophusky opened #4520 "when postgresql down,some requests failed"
### Summary

I'm using kong 1.1.1 and test the  Datastore Cache feature. So I stop postgresql-11 and continue request kong proxy server, the result is some requests succeeded but others failed.

### Steps To Reproduce

1. Default config  and all normal run.

[code]

2. Stop postgresql

[code]
3. do some requests

[code]

### Additional Details & Logs

- Kong version (`$ kong version`) : 1.1.1
- Op

[2019-04-17 03:41] ophusky commented on #4349
Sorry to reply so late，your code is exactly what I need, thank you very much!

[2019-04-17 03:41] #4349 closed

[2019-04-17 08:42] fvnkerk opened #4521 "Setting the key for jwt_secret in declarative config results in multiple secrets"
### Summary

When defining a jwt secret for a consumer in declarative configuration setting the key value manually results in kong creating 2 secrets for the consumer. One with the key value and secret specific and one with a generated key and secret value

### Steps To Reproduce

1. Add configuration to declarative configuration file (without a key specified)
2. Start kong
3. curl -X GET http://l

[2019-04-17 10:35] zoobab commented on #4421
Why ```kong reload``` is not enough?

[2019-04-17 11:08] xinsir88 opened #4522 "kong 启动失败，重新安装无效。"
[root@localhost ~]# kong start
Error: /usr/local/share/lua/5.1/kong/cmd/start.lua:60: nginx: [error] init_by_lua error: /usr/local/share/lua/5.1/kong/runloop/handler.lua:133: attempt to compare number with nil
stack traceback:
        /usr/local/share/lua/5.1/kong/runloop/handler.lua:133: in function </usr/local/share/lua/5.1/kong/runloop/handler.lua:128>
        [C]: in function 'sort'
        /u

[2019-04-17 11:34] xinsir88 commented on #4522
Please help me to guide

[2019-04-17 13:13] bungle commented on #4522
I guess you are running a version around `0.14`?

And have error in this line:
https://github.com/Kong/kong/blob/0.14.1/kong/runloop/handler.lua#L133

[2019-04-17 13:15] bungle commented on #4522
It seems to be fixed here:
https://github.com/Kong/kong/commit/f541c5c2bfc74293ea987ee7db93a6b51bc1f851

So I will close this.

[2019-04-17 13:15] #4522 closed

[2019-04-17 13:21] bungle commented on #4520
You might want to try this branch:
https://github.com/Kong/kong/tree/perf/async-rebuilds

With:
[code]

But this error is kinda expected. We make no gurantees that DB access is never needed.

What has happened here is that you have added route or something and that would have invalidated the router on all the workers across the cluster. Not those workers will build a new router on a first use, and

[2019-04-17 15:09] #4508 closed

[2019-04-17 15:24] #4521 closed

[2019-04-17 15:24] fvnkerk commented on #4521
Looks like issue was caused by incorrect yaml definition.

[2019-04-17 18:57] bungle commented on #4520
If you endup testing that branch, feedback is greatly appreciated here:
https://github.com/Kong/kong/pull/4488

[2019-04-17 21:27] guanlan commented on #4504
We are working on the fix.

[2019-04-18 07:45] ophusky commented on #4520
[code]
you are right. I have tried setting the nginx `worker_processes` to 1,and then request,and then stop postgresql,no request failed,all successed!

[2019-04-18 08:24] pamiel commented on #4514
Yes, this works ! No more need to set the LUA_PATH envvar with it.

Thanks a lot for your help.

[2019-04-18 08:50] walkdeadtobe opened #4523 "comma can't separate groups in ACL whitelist"
kong 1.0.3 , database postgres,ubuntu 16.04

Now I have two consumers: a , b
a can only consume service ‘service_a’ , b can consume service ‘service_a’ and others
Iset a belong to ‘group1’, b belong to ‘group2’
consumer a,b and service ‘service_a’ have set basic-auth

As official website(https://docs.konghq.com/hub/kong-inc/acl/) example, i input
[code]
but now both consumer a and b can’t consume

[2019-04-18 10:35] bungle commented on #4469
At the moment I can only think of something like:
[code]

Or adding another config parameter:

[code]

Where request `path` (if not equal to `/`) is appended to `service.path` with the specified `path_separator`.

Or something similar, there are many ways if we go a route of adding config parameter here.

[2019-04-18 10:39] bungle commented on #4523
Currently we are in a bit of a limbo there as those docs are not versioned. But here is how you can do it:

[code]

[2019-04-18 10:40] bungle commented on #4523
Related docs PR is waiting here:
https://github.com/Kong/docs.konghq.com/pull/1225

[2019-04-18 10:41] bungle commented on #4523
You may also want to check this:
https://github.com/Kong/docs.konghq.com/blob/1b451d338de6251b826510faabaf16ed84c452cf/app/1.1.x/admin-api.md#supported-content-types

[2019-04-18 11:15] pennliang commented on #2885
"KONG_VERSION=0.14.1" also have this probleam, my pg password contain #，when migration，have the error：
Error:
/usr/local/share/lua/5.1/kong/cmd/migrations.lua:37: [postgres error] could not retrieve current migrations: [postgres error] FATAL: password authentication failed for user "kong"

[2019-04-18 11:21] pennliang opened #4525 "Kong 0.14.1 won't start with "special characters" in password"
Summary
 my kong version is 0.14.1 ,i set pg password contain #,when kong  migration up ,I get the follow error:

2019/04/18 10:41:29 [verbose] Kong: 0.14.1
Error:
/usr/local/share/lua/5.1/kong/cmd/migrations.lua:37: [postgres error] could not retrieve current migrations: [postgres error] FATAL: password authentication failed for user "kong"
stack traceback:
        [C]: in function 'assert'

[2019-04-18 11:24] pennliang commented on #4525
if i remove the " special characters" in password, kong migration up is ok.

[2019-04-18 11:34] walkdeadtobe commented on #4523
that works,thanks you !

[2019-04-18 11:34] #4523 closed

[2019-04-18 12:24] carnei-ro commented on #4469
@bungle is there any way to test it with the mainline version? I've just tried with "/anything[/]" but got "invalid path: '/anything[/]' (characters outside of the reserved list of RFC 3986 found)"

[2019-04-18 12:42] bungle commented on #4469
@carnei-ro,

no, I was just thinking a path forward here. e.g. just dropping ideas. Maybe someone can suggest something better. Also what is the default behavior we need to decide. In general I think the old behavior is perhaps a bit more sane and expected.

[2019-04-18 16:10] posquit0 commented on #4499
I found that this problem was caused when `haproxy` is located in front of `kong`.
Thanks for support!

[2019-04-18 16:10] #4499 closed

[2019-04-18 17:09] hishamhm commented on #4507
@dliberman thanks for the detail report! I'll look into reproducing it.

[2019-04-18 20:23] p0pr0ck5 commented on #4525
@pennliang can you clarify what the characters are that are causing the problem?

[2019-04-18 20:37] #4485 closed

[2019-04-19 00:55] pennliang commented on #4525
@p0pr0ck5  the special character is #

[2019-04-19 01:33] timusketeers commented on #4359
@p0pr0ck5 , Hi, Is there any further progress or plan of the deadline about the issue "Kong to support ARM platform"? thanks

[2019-04-19 03:52] TofuLay commented on #1051
+1

[2019-04-19 11:43] Tieske commented on #4496
please provide the service and route definition, and the curl command that results in the failure.

[2019-04-20 06:27] MilenkoM opened #4529 "Kong fails to start,/usr/local/share/lua/5.1/kong/cmd/start.lua:37: Permission denied"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1.kong start -c /etc/kong/kong.conf -v
2. My roles and databases
[code]

[code]

3.
4.

### Additional Details & Logs

- Kong version (`$ kong

[2019-04-20 08:08] bungle commented on #4529
Can you check if this has any effect:
https://github.com/Kong/kong/pull/4506

[2019-04-20 08:12] bungle commented on #4529
Also do you have /usr/local/kong that is writable?

[2019-04-20 08:14] MilenkoM commented on #4529
I think so.
root@miki:/usr/local# ls -lia kong
total 76
6554396 drwxr-xr-x  5 root root  4096 апр 19 08:44 .
6553606 drwxr-xr-x 13 root root  4096 апр 19 08:44 ..
6562765 drwxr-xr-x  2 root root  4096 апр 19 08:44 bin
6554732 -rw-r--r--  1 root root 55501 мар 27 02:09 COPYRIGHT
6554949 drwxr-xr-x  3 root root  4096 апр 19 08:44 include
6562768 drwxr-xr-x  4 root root  4096 апр 19 08:44 lib

On Sat

[2019-04-20 08:17] MilenkoM commented on #4529
I am struggling to understand what should I really do. That commit c1fbfa7 puzzles me.

[2019-04-20 08:30] timotew commented on #4354
This is an issue I also have with `acl` plugin on version `1.1.1`.

*@bungle  this probably did not happen in your sample because you are adding a single group or because you are sending a `json` body.*

### Send multiple `config.whitelist` group
Request:

[code]

Response
[code]

### Send single `config.whitelist` group

*This works fine because of the single group sent to the `acl` plugin.*

Req

[2019-04-20 10:03] hutchic commented on #4529
How did you install and OS details?

[2019-04-20 10:26] bungle commented on #4529
if you want to make quick test, then:
`sudo chmod -R 777 /usr/local/kong`

There are two users:
1. the one that starts nginx master process (and start kong)
2. the one that is used to run nginx workers

[2019-04-20 10:28] bungle commented on #4529
forget that commit for now as this is not a pg problem. My mistake.

[2019-04-20 11:27] MilenkoM commented on #4529
Ubuntu 18.04. I used the link from the standard repo for Bionic download. After that
` sudo dpkg -i kong-community-edition-1.1.0.bionic.all.deb`

I edited kong.conf by uncommenting only these lines
[code]

[2019-04-20 12:56] hutchic commented on #4529
I can't reproduce

[code]

System information
[code]

[2019-04-20 13:49] hutchic commented on #4529
I believe this is a duplicate and your problem would be resolved with the suggestions here: https://github.com/Kong/kong/issues/2690#issuecomment-314457853

[2019-04-20 16:44] MilenkoM commented on #4529
[code]
Output `root@miki:/var/log/postgresql#`

What does unknown mean?

[2019-04-20 23:59] p0pr0ck5 commented on #4525
Ah, makes sense. Octothorpe characters are used as comment characters. You can escape them with a backslack `\`.

[2019-04-20 23:59] #4525 closed

[2019-04-21 16:02] hutchic commented on #4359
@timusketeers you can keep track of progress in the following places:
[kong/kong-build-tools](https://github.com/Kong/kong-build-tools/tree/feat/multi-arch): ability to compile current Kong w\ armv7hf (which is capable of running on arm64)
[kong/kong](https://github.com/Kong/kong/pull/4382): upgrading the openresty version Kong uses to one which can be compiled / ran on arm64

[2019-04-22 02:55] #4473 closed

[2019-04-22 04:29] subnetmarco opened #4530 "Disable logging of /metrics access logs when using Prometheus plugin"
When using the Prometheus Plugin, the access log keep adding entries for `GET /metrics` which create lots of noise.

This issue proposes having a new entry in the plugin configuration to optionally disable this behavior.

[2019-04-22 04:45] subnetmarco opened #4531 "Being able to optionally disable logging of "GET /status" in the access logs"
Kong provides a `GET /status` endpoint to check for the status of Kong, which should be optionally disabled since it creates lots of noise in the access logs when a client is making frequent requests to it.

[2019-04-22 06:50] ganeshs commented on #4379
I'm facing similar issue after upgrading from 0.14.0 to 1.0.2. The plugin seem to be skipped for certain % of requests.

[2019-04-23 07:56] yerhy opened #4533 "stream mode does not support ssl suffix, why nginx_kong_stream templates will still set ssl_preread on ?"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

I find that stream mode does not support ssl suffix, why nginx_kong_stream templates will still set ssl_preread on ?
When I set `ssl_preread off`, the stream proxy works well， but if set

[2019-04-23 13:31] bungle commented on #4533
AFAIK it is because of our current Service Mesh implementation. @james-callahan can you confirm this? There are some limitation that we are working on, such as the need to send data as identified with e.g. this test:

https://github.com/Kong/kong/blob/bc48efeabc5d7460271d09d20e8e95b1b2e97a04/spec/02-integration/05-proxy/04-plugins_triggering_spec.lua#L2201-L2202

[2019-04-23 14:08] hishamhm commented on #4507
Hi @dliberman, I have a PR with a proposed fix open here: https://github.com/Kong/kong/pull/4534

[2019-04-23 14:11] bungle commented on #4529
@MilenkoM that looks like Postgres log message. Probably nothing bad, and I hardly think it has anything to do with your issues. Did you try:
[code]

Before starting Kong?

[2019-04-23 14:16] james-callahan commented on #4533
Yes. The long term plan for handling this was replacing our use of the `ssl_preread` directive with the new openresty `:peek` API (which we sponsored). That will allow the preread behaviour to be configured on a per-route basis (and infact should be used as part of route selection)

[2019-04-23 14:36] gaetanfl commented on #1946
Another option is to use the `pre-function` plugin with the following function attached to a route or a service
[code]

[2019-04-23 17:06] dliberman commented on #4507
@hishamhm, I just tested and it seems to be working fine with your changes. :)

After a little more investigation I came to another small bug. I found out I couldn't see any log messages when it had DB mode OFF. It was a small issue on load_declarative_config() ([here](https://github.com/Kong/kong/blob/bc48efeabc5d7460271d09d20e8e95b1b2e97a04/kong/init.lua#L254)) where it tried to load it regardle

[2019-04-23 20:48] #4507 closed

[2019-04-23 21:42] hishamhm commented on #4507
Awesome, thanks for the feedback @dliberman !

[2019-04-23 21:43] locao commented on #4504
Closing as it has been fixed here: e1d510987d0e5d8c71ad17ab149865de08ba1c17

[2019-04-23 21:43] #4504 closed

[2019-04-23 22:28] bharathrajbk commented on #1686
Any updates on this?

[2019-04-24 01:16] yerhy commented on #4533
Does it mean that I should write my own nginx_kong_stream.conf setting ssl_preread off for balancing tcp flow right now?

[2019-04-24 02:02] timusketeers commented on #4359
@hutchic , thanks for your message. I will try it.

[2019-04-24 02:09] james-callahan commented on #4533
You would only need to do so if you need to support tcp connections which
  1. don't use TLS
  2. use a protocol where the *server* talks first.

As your early comment suggests: unsecured mysql connections do indeed seem to be an example of such a situation (from a brief read of [mysql wire protocol docs](https://dev.mysql.com/doc/internals/en/connection-phase-packets.html#packet-Protocol::Handsha

[2019-04-24 02:40] yerhy commented on #4533
thanks a lot

[2019-04-24 04:15] sunnoy opened #4536 "database dns error"
### Summary

database dns error

### Steps To Reproduce

1. install kong ingress  in kubernets use `kubectl apply -f https://bit.ly/kong-ingress`
2. look the kong proxy logs

[code]

3. the containers logs

[code]

### Additional Details & Logs

- Kong version (`1.1`)
- Kong error logs
[code]
- Kong configuration

[code]

[2019-04-24 04:17] sunnoy commented on #4536
if the env `KONG_PG_HOST ` is postgres service ip ,all thins is ok !

[2019-04-24 04:18] rishianand06 commented on #4334
@James-callahan
@ yskopets
Does we have any update on monitoring/logging of TCP traffic by any of the existing long plugins?
My problem statement is how should I meter the  web socket proxy requests!!!!!!!!

[2019-04-24 08:23] hbagdi commented on #4536
This might happen initially as the service is being installed and there are not endpoints for the `postgres.kong` service but this error should resolve itself (with kong-proxy pod restarting) once the postgres pod is up and running.

Do you see the problem being resolved after a couple of pod restarts?

[2019-04-24 08:48] sunnoy commented on #4536
its not ,the https://bit.ly/kong-ingress has include postgres installed.

and i have give KONG_PG_HOST the postgres service ip,and to test kong

when the upstream is the www domain such as www.google.com ,it can proxy.

when the upstream is the service in kubernetes,such as service-apollo-portal-server.sre, it wall get error

the proxy service give

[code]

log

[code]

and the coredns log . the c

[2019-04-24 08:57] sunnoy commented on #4536
the kuberntes svc

[code]
the deployment config

[code]

kong log

[code]

nslookup database

[code]

[2019-04-24 09:00] sunnoy commented on #4536
i use chart install kong

[code]

[2019-04-24 09:03] sunnoy commented on #4536
and it can work ok in docker-compose install

[code]
i misunderstand why it can give error in kubernetes

[2019-04-24 14:12] MilenkoM commented on #4529
I changed permissions now,works perfect.
`sudo chmod -R 777 /usr/local/kong`

You can close the issue.

[2019-04-24 18:15] #4529 closed

[2019-04-24 18:57] bungle commented on #4469
@carnei-ro and @dliberman,

I added proposal for discussion here:
https://github.com/Kong/kong/pull/4538

With that you could create service like this:
[code]

[2019-04-24 19:05] dliberman commented on #4469
Thank you @bungle!
I was just looking at your commit - wondering what would be the reason to have this new config property set as default to **false** and not **true**. Do you think this could be a breaking change if set as default to true?

[2019-04-24 20:36] bungle commented on #4469
@dliberman,

yes that is about to be debated. the sad situation is that we broke it with `1.0` to `1.1` (I am not sure if that was overlooked, or just that we weren't fully aware of the nature of the breakage). Now if we set this to `true` we will be breaking again from `1.1` to `1.2`, while `false` keeps it. So question is whether the first breakage was a mistake (afaik it was not). We do probabl

[2019-04-25 01:59] fsx950223 opened #4539 "grpc support"
Please read the CONTRIBUTING.md guidelines to learn on which channels you can
seek for help and ask general questions:

https://github.com/Kong/kong/blob/master/CONTRIBUTING.md#where-to-seek-for-help

### Summary

     status = StatusCode.UNAVAILABLE
        details = "Trying to connect an http1.x server"
        debug_error_string = "{"created":"@1556162009.615438031","description":"Error receive

[2019-04-25 03:33] #4539 closed

[2019-04-25 08:03] posquit0 commented on #3114
I have a same issue in `kong 1.1.1`

[2019-04-25 08:06] posquit0 commented on #4392
Is there a documentation for new format?

[2019-04-25 15:44] Djiit commented on #4502
Hi there! Thanks for you work :) Do you know when it will be released ?

[2019-04-25 16:40] carnei-ro commented on #4469
@bungle why not maintain as the old versions (until 0.14.1)?

[2019-04-25 17:56] carnei-ro opened #4542 "Basic-Auth does not work with Kong 1.1.2 DB-Less"
Basic-Auth plugin / consumers does not work similar, comparing DB-Less and Kong with Postgres

**kong.yaml** For databaseless
[code]

**Commands for kong with database:**
[code]

**curl -iu carneiro:abc123 ${KONG}:8000/httpbin**
Kong DBLess output:
[code]

Kong with database can authenticate.

Comparing the consumer endpoint (**http GET localhost:8001/consumers/Leandro/basic-auth**):
password in D

[2019-04-25 20:37] hishamhm commented on #4542
Hi @carnei-ro, I have been able to reproduce, and the problem is indeed as you describe. The `basicauth_credentials` DAO is performing the hashing in database mode to keep the password hashed at rest, but the declarative config parser is not doing that. It's something we need to fix on our end, thank you for reporting.

In the mean time, what does work is keeping the password hashed in the YAML fi

[2019-04-26 02:35] zeeshen opened #4545 "Long Kong Latency for Web Socket Service"
### Summary
We collect metrics with prometheus plugin, and found that `kong_latency{type="kong"}` is pretty long for web socket services.
![image](https://user-images.githubusercontent.com/3369662/56779379-56b3d380-680d-11e9-98e5-b4642c1e4b09.png)

This `kong latency` in [log serializers](https://github.com/Kong/kong/blob/master/kong/plugins/log-serializers/basic.lua#L39) is inconsistent with the

[2019-04-26 14:26] Tieske commented on #4502
@Djiit 1.1.2 was released today, so should be available now

[2019-04-26 20:03] carnei-ro opened #4548 "Feature Request: Kong Declarative with Variable Interpolation"
I made this docker project https://github.com/carnei-ro/kong, (but I think it would be great if it was native). Kong should be able to do variable interpolation like docker-compose does.
In my project it is possible to pass a directory with the YAML files and Kong will read them all. Like a ` kubectl apply -f ` does.

[2019-04-26 20:10] p0pr0ck5 commented on #4548
I _feel_ like something like this should be handled by a config management system. Eg, pass a config template to your mgmt solution of choice, have that system (which already has sane solutions for interpolations) do the substitution, and oss that to Kong.

[2019-04-27 17:29] p0pr0ck5 commented on #4542
I updated the title and initial report comment just to clarify that this reflect basic auth only, due to how basic auth modifies entity values

[2019-04-27 17:30] p0pr0ck5 commented on #4428
Closing as stale. Please feel free to let us know if there’s more to say here.

[2019-04-27 17:30] #4428 closed

[2019-04-27 17:32] p0pr0ck5 commented on #4353
Closing this as stale and unable to reproduce. Please let us know if there’s any more data here and we’ll be happy to take another look!

[2019-04-27 17:32] #4353 closed

[2019-04-27 17:34] p0pr0ck5 commented on #4131
Closing this as stale with no response. If there is more data available, please let us know and we’ll be happy to see another look. Thanks!

[2019-04-27 17:34] #4131 closed

[2019-04-27 17:34] p0pr0ck5 commented on #4106
Closing this as stale and fixed in 1.0. If there are any more questions regarding this/buggy behavior in the most recent releases of kong, please open a new issue. Thanks!

[2019-04-27 17:34] #4106 closed

[2019-04-27 17:35] p0pr0ck5 commented on #4069
Closing this as stale. If you are able to provide my data, please let us know and we’ll be happy to take a look. Thanks!

[2019-04-27 17:35] #4069 closed

[2019-04-27 17:36] p0pr0ck5 commented on #3899
Closing this as stale. Please feel free to reopen this issue if can provide more data so we can try to replicate it. Thanks!

[2019-04-27 17:36] #3899 closed

[2019-04-27 17:37] p0pr0ck5 commented on #3727
Closing as stale, given it appears in an out of date release and there’s been no response here. If you do have any more data, please let us know and we’ll be happy to take a look!

[2019-04-27 17:37] #3727 closed

[2019-04-27 17:38] #3694 closed

[2019-04-27 17:39] p0pr0ck5 commented on #3687
Closing this as stale. Do let us know if you see this behavior in the most recent releases of Kong. Thanks!

[2019-04-27 17:39] #3687 closed

[2019-04-27 17:39] p0pr0ck5 commented on #3520
Closing this as stale. If you have any more data to share with us, please let us know and we’ll take another look. Thanks!

[2019-04-27 17:39] #3520 closed

[2019-04-27 17:40] p0pr0ck5 commented on #3509
Closing this as stale, as both versions of kong are out of date and API objects no longer exist.

[2019-04-27 17:40] #3509 closed

[2019-04-27 17:40] p0pr0ck5 commented on #3456
Closing this as stale. If you have any more data to provide us, please let us know and we’ll be happy to take a look. Thanks!

[2019-04-27 17:40] #3456 closed

[2019-04-27 17:41] p0pr0ck5 commented on #3455
Closing this as stale. If you have any more data please let us know and we’ll be happy to take a look. Thanks!

[2019-04-27 17:41] #3455 closed

[2019-04-27 17:42] p0pr0ck5 commented on #2927
Closing this as stale. If you have any more data please let us know and we’ll be happy to take another look. I suspect this was resolved in 1.0. Thanks!

[2019-04-27 17:42] #2927 closed

[2019-04-27 19:09] bungle commented on #4548
Yes, it starts with variable interpolation, and ends up with a turing complete solution. :-)

[2019-04-27 19:11] bungle commented on #4545
I am not sure, but I feel that websockets latency is reported after the connection is closed?

[2019-04-27 20:55] jeremyjpj0916 commented on #4545
@bungle @ZeeShen I use websocket connections too in a few cases and that is the exact case. Its the time from connection being open to when its closed. Kong can't right now log individual websocket messages over an active connection after the connection upgrade has occurred and taking active traffic (and I am not even sure if that is exposed in OpenResty/Lua land if they wanted to at the moment).

[2019-04-28 10:52] kofj commented on #3114
Self check not work when I PUT update configuration in kong 1.1.1.

[2019-04-28 15:18] jsdmultisys commented on #3046
👍 any updates?

[2019-04-28 15:28] Tieske commented on #3046
It's been stale for a while so let's close

[2019-04-28 15:28] #3046 closed

[2019-04-28 15:45] p0pr0ck5 commented on #3954
Closing as stale. If you have more data for us we’ll be happy to take a look and we can reopen this. Thanks!

[2019-04-28 15:45] #3954 closed

[2019-04-28 15:46] p0pr0ck5 commented on #3911
This was resolved in 1.0/1.1, right?

[2019-04-28 15:53] p0pr0ck5 commented on #1742
This was done with the release of Kong 1.1 with the “tags” feature! Huzzah! 😁

https://docs.konghq.com/1.1.x/admin-api/#tags

[2019-04-28 15:53] #1742 closed

[2019-04-29 13:43] SubratPadhi12345 opened #4554 "Get common name from Client certificate"
Hi,
I am using openssl.x509 and openssl.x509.store library in my lua file.

I am getting the client certificate as below:
– Get Client Certificate from Request
local client_cert = openssl_x509.new(ngx.var.ssl_client_raw_cert)

– Get Subject from Client Certificate sent in Request
local subject = client_cert:getSubject()

I need to get the common name from the subject, how can I get it? I am not ge

[2019-04-29 15:59] HsinHeng commented on #4384
have similar issue, high memory usage in db-less mode when using t2.xlarge instance.

[2019-04-29 16:31] maksimlikharev commented on #4384
@HsinHeng you probably have different issue, as db-less more is version 1.x, I have 0.14.1 also I don't see much of the memory utilization, but CPU usage max-out

[2019-04-29 18:04] hbagdi commented on #4554
@SubratPadhi12345 Please do not cross-post your question at multiple locations as it becomes a maintenance overhead. Thank you!

[2019-04-29 18:04] #4554 closed

[2019-04-29 18:05] thibaultcha commented on #4554
For reference, the post on Kong Nation: https://discuss.konghq.com/t/get-common-name-from-client-certificate/3414/2

[2019-04-29 23:10] mssaisandeep commented on #2199
Hey, did you got any plugin that reads permissions/roles from JWT Token and makes decisions on top of that? Please help me. I am also looking for that.

[2019-04-30 04:14] duybinh0208 commented on #3688
I have had the same problem. The installation finished without any errors; however, I cannot find the `KONG bin dir` even though I have set the `LUA_PATH`, `LUA_CPATH`.

The command I've used to install to install KONG into `~/software/kong123`:

The output:

Also, I see that `luarocks` automatically `clones` the `KONG source code` from `git` but I cannot find where is the location from which the