[2019-11-07 08:54] yaoice commented on #5207
I have the same issue.

[2019-11-07 19:33] marckhouzam commented on #5070
@thibaultcha any news on this?  We don't have a planned PR but I would like the contribution process to be ready if/when we do.  Thanks!

[2019-11-08 00:29] guanlan commented on #5120
@taotao2014 Can you try to upgrade to the latest version? We've fixed a few balancers bugs with 1.3.

[2019-11-08 00:30] #5077 closed

[2019-11-08 00:31] #4694 closed

[2019-11-08 00:32] #4871 closed

[2019-11-08 01:51] xichengliudui commented on #5163
ping @hbagdi

[2019-11-08 06:39] seifchen opened #5208 "kong got send() failed (1: Operation not permitted) and return 503 to client"
I use kong1.3 but I got err: ``` send() failed (1: Operation not permitted) ``` and kong response 503 to client
at the same time I also got
[code]
[code]
who knows the reason?

[2019-11-08 07:44] goober commented on #5203
@chenjinxuan They are working on investigation this issue.
https://discuss.konghq.com/t/possible-memory-leak-kong-1-4-kic-0-6-1/4800/6

[2019-11-08 09:21] alepeltier commented on #216
Does anyone know of a way to render static websites with the kong-ingress controller? Is it the same as the above link?

[2019-11-08 10:47] cvaram96 commented on #5000
Is this issue fixed? Can I start to work on it? @Kerl1310, @kikito

[2019-11-11 06:25] harshavardhanc commented on #1129
@IvanovOleg Is this feature of having multiple upstreams for a single endpoint is available in 0.9?

[2019-11-11 06:41] mz198 opened #5211 "How can I build the Kong rpm?"
How can I build the Kong rpm?

[2019-11-11 08:52] #5163 closed

[2019-11-11 12:06] cq-z commented on #5197
thank you

[2019-11-11 16:05] hutchic commented on #5211
rpm's are available from bintray per our installation page https://konghq.com/install/

The rpm's are built via the `make release` task which utilizes https://github.com/Kong/kong-build-tools

[2019-11-11 16:54] hishamhm commented on #5211
Closing this one since the question was answered. For support-type questions like this, we recommend starting a conversation in [Kong Nation](https://discuss.konghq.com/) instead!

[2019-11-11 16:54] #5211 closed

[2019-11-11 18:27] lukasa1993 opened #5212 "schema violation (certificate does not match key)"
`schema violation (certificate does not match key)`

this is what cert add returns after update from 0.14.1 to 1.4

same cert and key was working on 0.14.1

cert is from namecheap comodo not sure what happened

[2019-11-11 18:58] jeremyjpj0916 opened #5213 "Kong Route by arbitrary header not match bug"
### Summary

Was just POC'ing some of the route matching logic in Kong just to see if/how it worked. I know there was routing by host header in past and I know arbitrary header routing definitions can be done now. Finding that doing it by any random header key:value does not seem to work?

Tried a patch of JSON and a patch of the other(form url?) encoding:

[code]

[code]

Ends up creating:
[code]

[2019-11-11 19:08] lukasa1993 commented on #4562
any eta on this? just ruined my session manager

[2019-11-11 19:22] hishamhm commented on #5213
hi @jeremyjpj0916 — the `headers` keys are an AND, the values on each key are an OR. If you pass _both_ `test` and `test2` headers, it will work. If you want the headers to work like an OR, you can create two routes.

This is similar to how other routes based on multiple criteria work (if you set both `methods` and `paths`, that's an AND, but then each method is an OR and each path is an OR).

I h

[2019-11-11 19:59] lukasa1993 commented on #4707
any updates?

[2019-11-11 21:36] jeremyjpj0916 commented on #5213
Ahh thanks for the insight, yep confirmed that is the case:

![image](https://user-images.githubusercontent.com/31913027/68622059-3abd0a00-049f-11ea-8dc2-7d350ab658e1.png)

Added Docs PR @hishamhm https://github.com/Kong/docs.konghq.com/pull/1577

[2019-11-11 21:36] #5213 closed

[2019-11-12 09:32] zkenstein opened #5215 "Get empty response"
### Summary

**I guess Kong will not work with deep path if the real api domain.com/users will work

but if domain.com/api/users will not work**

### Steps To Reproduce

1. Add Services : http://dummy.restapiexample.com/api/v1/employee/1
2. Add Route with GET methods

### Additional Details & Logs

- Kong version (`$ kong version`)
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong error

[2019-11-12 18:45] locao commented on #5137
@luo985, can you share more details about this configuration so we can reproduce the issue?

[2019-11-12 22:52] dndx commented on #5215
Hello,

Could you share the content of your Kong `error.log` file to help troubleshooting?

Thanks,
Datong

[2019-11-13 09:04] zkenstein commented on #5215
Hi @dndx ,

here the content of the Kong error.log

[code]

[2019-11-13 09:44] ciiiii commented on #5053
@gszr I set `preserve_host`=true, but upstream receive host always `kong_upstream`, but I need my host.

[2019-11-13 09:56] ciiiii opened #5217 "grpc `preserve_host` not work"
### Summary

grpc `preserve_host` not work

### Steps To Reproduce

1. Create a grpcs service(there is an upstream in fact)
2. Create a route with `host` of the service and `preserve_host` = true
3. grpcurl host:443 list
4. upstream receive
```"POST /grpc.reflection.v1alpha.ServerReflection/ServerReflectionInfo HTTP/2.0", host: "kong_upstream"```

### Additional Details & Logs

- Kong version (`$

[2019-11-13 12:35] bungle commented on #5217
@ciiiii thank you for reporting this!

[2019-11-13 13:11] so2bin opened #5220 "104: Connection reset by peer"
### Summary
Hi, i have encountered a problem.
My server route is: client -> k8s ingress -> kong -> upserver.
502 response is ofen occured when i request the server with approximately more than 1 minutes interval.
I have capture the TCP packets with `tcpdump` in kong pod and upstream server pod, meanwhile the TCP connection data with `ss -antp`, such as following:
1. More than one minute after prev

[2019-11-13 19:01] hutchic commented on #5042
@jeremyxu2010 seeing as we can't reproduce this when leaving a gap for readiness I'm going to close this issue at this time

[2019-11-13 19:01] #5042 closed

[2019-11-13 22:19] TwoToneBytes commented on #5203
Any update on this? This is preventing us from using the latest version of Kong in production.

[2019-11-14 01:51] shu7734 opened #5223 "Services set Host as Docker Container name didn't work"
1.Used Docker
2.Api Docker Container name  is "microservice"
3.Kong Docker create a service,set host "microservice"
4.Curl access this service, get error

2019/11/13 10:38:09 [error] 34#0: *326 [lua] balancer.lua:850: execute(): DNS resolution failed: dns server error: 3 name error. Tried: ["(short) microservice:(na) - cache-miss","microservice:33 - cache-miss/scheduled/querying/dns server error:

[2019-11-14 02:43] so2bin commented on #5220
I have resolved this problem, it is not a fault of kong.

[2019-11-14 02:43] #5220 closed

[2019-11-14 05:21] mojocn commented on #1683
not working, my golang reqeust checks https/8443 cert and returns error but my postman is ok

[2019-11-14 07:31] ciiiii commented on #5217
Thank you for quick reply, is there some temporary solution?

[2019-11-14 07:46] DonMartin76 commented on #1683
Not enough information to tell why it doesn't work. Why is your golang request returning an error? If Postman is "ok", then it looks as if Kong isn't the actual problem here, but rather a certificate check or something similar. Which type of certificate are you using? Self signed? Have you told golang to accept self signed certificates for example?

[2019-11-14 08:16] jeremyxu2010 commented on #5042
The issue still exists, why close it? @hutchic

[2019-11-14 10:38] haoweiguang opened #5224 "install plugin "header-based-rate-limiting"，can't start"
### Summary

install plugin "header-based-rate-limiting"，then can't start

### Steps To Reproduce

1.install plugin https://github.com/emartech/kong-plugin-header-based-rate-limiting
2.restart kong

### Additional Details & Logs

- Kong version (`$ 1.4.0`)
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong error logs (`<KONG_PREFIX>/logs/error.log`)
- Kong configuration (the output of a

[2019-11-14 14:07] hutchic commented on #5042
We've been unable to reproduce unless you had additional information about the issue. We even tested mlcache on arm64 and it was 100% successful

[2019-11-14 17:55] gszr commented on #5217
@ciiiii I'm currently working on a fix - will post an update soon!

[2019-11-15 01:32] luo985 commented on #5137
@locao,  i'm not sure what caused the problem.

my config:
[code]

upstream config:
[code]

do you need any other information？

[2019-11-15 01:42] ciiiii commented on #5217
@gszr Ok, thank your timely fix.

[2019-11-15 04:23] tangchuanyang1991 opened #5226 "How about the performance of grpc in Kong"
About the implementation of grpc, we call the third-party grpc CMD through OS. Execute()? Is this guaranteed?

[2019-11-15 04:33] gszr commented on #5226
Hi @tangchuanyang1991. We only use a gRPC client through `os.execute` in tests. What's your concern specifically?

[2019-11-15 04:48] gszr commented on #5224
@haoweiguang,

Thanks for the report, but this is not an officially supported Kong plugin; please open the issue in the plugin's repository. From the looks of it, the plugin was written for older versions of Kong.

Closing this.

[2019-11-15 04:48] #5224 closed

[2019-11-15 04:55] gszr commented on #5226
Closing this for now - the CLI tool grpcurl is used solely in tests.

[2019-11-15 04:55] #5226 closed

[2019-11-15 04:56] gszr commented on #5217
@ciiiii If you can, please test the fix linked above - https://github.com/Kong/kong/pull/5225.

[2019-11-15 05:26] ciiiii commented on #5217
@gszr I did some code change like that yesterday, it's ok.

[2019-11-15 05:54] jeremyxu2010 commented on #5042
@hutchic
Run [this shell script](https://github.com/Kong/kong/issues/5042#issuecomment-539290594) on aws arm64 virtual machine, the issue can be reproduced 100%.

[2019-11-15 12:38] zkenstein commented on #5215
Anyone experience with this?

[2019-11-15 15:02] hutchic commented on #5042
That script hits Kong during shutdown / startup period which I would advise against.

I've ran https://github.com/Kong/kong/issues/5042#issuecomment-540730159 which is a parsed down / simpler version of yours for a day straight without issue on equivalent AWS hardware.

[2019-11-16 00:43] gszr commented on #5223
Hi @shu7734,

This is expected; you are likely using Docker's default bridge network, which doesn't include an embedded DNS server, so Kong isn't able to resolve the upstream host name. To leverage Docker's embedded DNS server, you can use a [user-defined network](https://docs.docker.com/v17.09/engine/userguide/networking/configure-dns/). For example:

[code]

Create an upstream API, in the same n

[2019-11-16 00:43] #5223 closed

[2019-11-16 02:03] #5053 closed

[2019-11-16 02:04] gszr commented on #5053
@duzhenxun, a fix for this issue has just been merged into master. Thanks for reporting!

[2019-11-16 02:05] gszr commented on #5217
@ciiiii The fix for this issue has just been merged into master. Thanks for reporting!

[2019-11-16 06:50] vmr1532 commented on #5136
i am taking this issue

[2019-11-17 02:24] #5217 closed

[2019-11-17 10:29] jeremyxu2010 commented on #5042
@hutchic
I added the `readinessProbe`, `livenessProbe` configuration, but the problem still exists. After comparing the deployment manifest files, I found that the configuration item `KONG_NGINX_WORKER_PROCESSES` is different. It has a value of `1` in your deployment manifest and is not explicitly set in my deployment manifest. So is this question still related to the concurrency conflict of multi

[2019-11-18 14:38] hishamhm commented on #5203
Some testing is still needed but PR #5229 might be the solution to this!

[2019-11-18 19:44] bungle commented on #5215
@zkenstein,

Can you show us your full commands that you executed when configuring service and route and the exact call that you made with the response you got? There is nothing in Kong that prevents you using any paths you like.

[2019-11-18 21:16] abenitovsc commented on #5203
Hi all, I got same issue with Kong 1.3 and ingress 0.6.0, installed with helm (stable/kong, 0.19.1).
i have upgraded kong version to 1.4 with the same chart version and defining memory limits in K8S the memory gets stable and errors have disappeared, if no limits the memory increases without control. limits 5GB with 4 workers and stable around 3.5-4GB.

[2019-11-19 03:24] p0pr0ck5 commented on #954
This is available as a Kong Enterprise feature :) https://docs.konghq.com/enterprise/1.3-x/property-reference/#granular-tracing

[2019-11-19 03:24] #954 closed

[2019-11-19 05:24] zkenstein commented on #5215
Hi @bungle,

1. I create the service using this:
`(curl -i -X POST --url http://myip:8001/services/ --data 'name=whatsapi' --data 'url=http://dummy.restapiexample.com/api/v1/employees/')`

2. Create and assigned a route
`curl -i -X POST --url http://myip:8001/services/whatsapi/routes --data 'paths=/testapi'`

3. Try to run from browser:
`http://myapi:8000/testapi/employees`

and got the message no

[2019-11-19 09:53] shadow88sky commented on #1500
I am getting the same error！ Any Response?

[2019-11-19 14:21] vuchl commented on #4416
I solved this quite tediously by adding the request-transformer plugin to either each route or serviice or globally.
![image](https://user-images.githubusercontent.com/4921147/69154266-f7d2e600-0adf-11ea-87e5-637962d1fdc4.png)
there is a replace.url option:
![image](https://user-images.githubusercontent.com/4921147/69154330-1c2ec280-0ae0-11ea-95fe-3e68b92bfb19.png)

So now `/mock`get's upstreamed

[2019-11-19 14:29] bungle commented on #5215
@zkenstein as you have `/employees` in your `service.path` and the `route.paths`  just contains `/testapi` and you make request to `/testapi/employee` what happens is that because `route.strip_path=true` it will remove thew `route.paths` `/testapi`  from the request, so request stays as `/employees`, next this is concatenated to `service.path` which makes the proxy path: `/api/v1/employees/employe

[2019-11-19 15:00] edgarcolque commented on #5203
I tested the Fix in out INT environment and it resolved the memory leak

[2019-11-19 15:38] maraswrona commented on #4076
Is there any update on this issue?

I may have chosen unfortunate wording in the issue title, as it suggest the issue is some minor oddity. It is not. It is quite a serious bug, especially for someone who is using rate-limiting plugin with redis and relies on it e.g. to charge the clients for API usage.

I provided simple (but not perfect) way to fix it. Can I at least provide a PR with a fix prop

[2019-11-19 15:46] liorsamuni opened #5233 "Global Plugins - Support "exclude" of services/routes"
Currently, Kong has the option of enabling a plugin per service/consumer, enabling it globally etc.

**What is missing is the ability to enable a plugin globally, but to exclude it from certain services/paths.**

E.g. when working with declarative configuration, i can see kong support the following:
[code]

(other valid option is to have a new attribute added to the global plugin definition, with

[2019-11-19 22:53] Tieske commented on #5208
@seifchen where did you get the `send() failed (1: Operation not permitted)` from? since the other 2 snippets are from the logs

[2019-11-20 03:50] seifchen commented on #5208
@Tieske  also from the logs,

[2019-11-20 07:32] kakascx opened #5237 "How does kong cluster make cache in db-less mode"
We deployed kong cluster in db-less mode with k8s. I mentioned that multiply kong nodes cluster can make the core entities such as Services, Routes, Plugins being cached in the database.
I wonder that if the kong cluster in db-less mode has the ability to cache the core entities.

[2019-11-20 09:40] damienorset commented on #4303
documentation (https://docs.konghq.com/hub/kong-inc/jwt/#create-a-jwt-credential) should be updated as it still refers consumer_id rather than consumer.id

[2019-11-20 09:48] lucasmoreno commented on #4416
@vuchl thanks!

[2019-11-20 12:31] shu7734 commented on #5223
not work now
I install follow https://docs.konghq.com/install/docker/
All Container run at "kong-net"
I can access with IP ,couldn't Container name

[2019-11-20 12:38] shu7734 commented on #5223
I can Ping from kong
docker exec -it 3368f9eb3f78 ping microservice
PING microservice (172.18.0.5): 56 data bytes
64 bytes from 172.18.0.5: seq=0 ttl=64 time=0.201 ms

docker exec -it 3368f9eb3f78 ping konga
PING konga (172.18.0.5): 56 data bytes
64 bytes from 172.18.0.4: seq=0 ttl=64 time=0.187 ms
64 bytes from 172.18.0.4: seq=1 ttl=64 time=0.167 ms

kong-net working normal

[2019-11-20 12:43] shu7734 commented on #5223
set host is 172.18.0.5,is working
set host is microservice,not working,response "{"message":"name resolution failed"}"

[2019-11-20 12:52] shu7734 commented on #5223
And
get error log

172.18.0.4 - - [20/Nov/2019:12:41:39 +0000] "GET /services/63abd249-d3cc-486e-a4d4-160f097ca144 HTTP/1.1" 200 318 "-" "-",
172.18.0.4 - - [20/Nov/2019:12:41:42 +0000] "PATCH /services/63abd249-d3cc-486e-a4d4-160f097ca144 HTTP/1.1" 200 316 "-" "-",
2019/11/20 12:41:47 [error] 34#0: *7846738 [lua] balancer.lua:850: execute(): DNS resolution failed: dns server error: 3 name error.

[2019-11-20 13:52] Tieske commented on #5208
Can you privide the log context of that message?

Is this reproducable? is this consistently happening

[2019-11-20 14:03] Tieske commented on #5208
so here is the origin of the error: https://github.com/openresty/lua-resty-dns/blob/24c9a69808aedfaf029ae57707cdef75d83e2d19/lib/resty/dns/resolver.lua#L863-L864

this means that the UDP co-socket is returning the error `operation not permitted`. This in turn looks like a low level system issue.

[2019-11-20 14:13] seifchen commented on #5208
Yes,but why happen this error?  Usually there is no mistake ,but When the qps grow to about 1000，the error happen!

[2019-11-20 16:12] bungle commented on #5237
If you deploy exactly same `db-less` (or declarative) configuration on all Kong nodes that will effectively make them same, right? Even when they don't communicate with each other. Maybe web farm analogy is better. There are limitations on `db-less` that db-enables, but there are ways to overcome them too. In db-less all entities in each node is cached in shared memory.

We are building a proper c

[2019-11-20 19:59] bgandon opened #5240 "Please create a Github release for v1.0.4"
Hi there!

For one year or so, I've been authoring a BOSH Release that packages the Kong API gateway for BOSH (see https://bosh.io for more info). If you're interested, it's there: https://github.com/gstackio/gk-kong-boshrelease

In order to keep up with the release pace, I'm currently building a Concourse automation pipeline that detects new versions of Kong and automatically suggests a PR for a

[2019-11-20 20:01] Tieske commented on #5208
from some googling I get that the kernel cannot send the UDP packets fast enough and drops them, causing this error.

see https://github.com/netty/netty/issues/1258 and https://stackoverflow.com/questions/23859164/linux-udp-socket-sendto-operation-not-permitted#23869102 for example

How many dns queries are you sending?

[2019-11-20 20:02] gszr commented on #5240
Hi @bgandon, thanks for reaching out. This is done!

[2019-11-20 20:02] #5240 closed

[2019-11-20 20:31] bgandon commented on #5240
Great, thank you!

[2019-11-21 01:37] seifchen commented on #5208
@Tieske  Thanks, I did not remeber how many dns queries, It only happened in one cluster and it doesn’t appear again now. I will continue to pay attention to this issue， I will record more information if it appears next time.

[2019-11-21 01:37] #5208 closed

[2019-11-21 02:48] seeadoog opened #5241 "kong reload bug"
I found a bug while using kong:1.3 docker edition. After execute the command kong reload, the http request will encounter 500 error when the reuest body size > client_body_buffer_size  configed  in kong-nginx.conf. This error does not  occurred without execute  command kong reload。

[2019-11-21 07:31] shu7734 commented on #5223
@gszr maybe is a Bug?

[2019-11-21 07:57] kakascx commented on #5237
Thx a million, and I wanner to make acknowledge of if kong in db-less mode occupy more cache memory than in db mode

[2019-11-21 10:30] Tieske commented on #5208
@seifchen the dns queries relate to the TTL settings of the dns records. If this is 0, you'll create a lot of DNS queries when load increases.

When you see this again, please include TTL setting of the dns records, as well as how the Kong DNS resolver is configured; see these parameters: https://docs.konghq.com/1.4.x/configuration/

[2019-11-21 10:41] seifchen commented on #5208
@Tieske  ok,  I will.
thanks

[2019-11-21 10:48] bungle commented on #5237
Oh that is right, db-less more loads everything to memory right from the start, and everything needs to fit in memory. While db mode preloads some, and some are loaded on demand, and there is LRU algorithm to remove old entries.

[2019-11-21 15:15] bob983 opened #5242 "(oauth2) Possible regression in OAuth2 token migration"
### Summary

#4588 fixed OAuth2 token migration issue in `1.1.x` but as far as I can tell this issue still exists in `1.4.0`. When I tried to migrate from `0.14.1` to `1.4.0`, non-expiring tokens got deleted. I assume that doing a two step migration could be used as a workaround, I think this should be fixed in `master` (and possibly `1.4.1`) as well.

I'm happy to tackle the issue but I also thin

[2019-11-21 21:17] guanlan commented on #4750
@wuming333666  @zabbixfan  Could you please try 1.4 and see if it resolves your issue?

[2019-11-21 22:42] #5237 closed

[2019-11-22 03:35] ashish2007csGit opened #5246 "Aws lambda plugin throwing closed error"
### Summary

In Kong 1.3 we have exposed route to call Aws lambda from kong.
Intermittent we observed while making the http post request is to connect aws lamda getting closed error.

IN kong error log can see ony response getting closed .

handler.lua:188 [aws-lambda] closed, client: 10.24.1.213, server: kong, request: "GET /v1/apis

below clock is throwing the error

 local res, err = client:req

[2019-11-22 22:43] #5172 closed

[2019-11-23 03:51] jeremyjpj0916 commented on #5237
I imagine it reads the yaml/json file and caches the entities much like it does when it reads from db and caches the entities. Thus saving on file i/o much like db caching saves on db calls.

[2019-11-25 11:26] bungle commented on #5242
Clearly something has gone wrong with this on our side. We need to investigate it a bit.

[2019-11-25 14:23] #5203 closed

[2019-11-25 14:23] hishamhm commented on #5203
Thank you for your feedback, @edgarcolque !! We have now merged #5229 by @zeeshen !

[2019-11-25 14:39] hishamhm commented on #5189
@locao Since @fffonion's PR was merged to lua-resty-healthcheck, can we close this one now?

[2019-11-25 14:40] hishamhm commented on #5189
Looks like it, so I'm closing this one for now! (Please reopen if there's anything else pending.) @fffonion, great work tracking this down!

[2019-11-25 16:40] bob983 opened #5252 "(oauth2) more robust refresh tokens"
### Summary

We're using Kong and its OAuth2 plugin to power our APIs. I'd love to make the OAuth2 plugin more robust and I'm happy to prepare a PR.

At the moment, a refresh token is deleted once it's used - this looks fine and it's according to specification but if there's a network issue or the client fails for some reason, client may end up with old refresh token (it never received the new one

[2019-11-25 17:17] hishamhm commented on #5203
@goober Thank you for the report! If this problem persists in the next release, feel free to reopen!

[2019-11-25 17:55] Tieske commented on #5233
for reference, see distinction between disabled and unavailable here: https://github.com/Kong/kong/issues/1279#issuecomment-275367327. Similar approach could be used here as well probably.

[2019-11-25 19:43] fffonion commented on #5189
@hishamhm One last thing before closing this loop : )
In `create_healthchecker` where a lua-resty-healthcheck instance is created, the error is returned (https://github.com/Kong/kong/blame/master/kong/runloop/balancer.lua#L360) but not catched. It would be awesome if we can fail gracefully in this case (and might be even better to add error handling to other functions between `creating[upstream.id

[2019-11-25 20:17] goober commented on #5203
Thank you for looking into this. I will wait for the next release and verify it. Great job!

[2019-11-25 22:44] mattsaddo opened #5254 "Sorting of credentials"
### Summary

Ability to sort credentials by created at timestamp on all types of credentials (key-auth,hmac, oauth2, jwt, etc)

[2019-11-25 23:25] vikas027 opened #5255 "Creating Workspaces using API do not create roles"
### Summary
When I create a workspace using the Admin portal, the default four roles gets created as mentioned here.

But the four roles and corresponding permissions do not get created when I create using the rest API. Am I missing something?

### Steps To Reproduce

1. Spin up Kong 1.3 with RBAC on
[code]

2. Create a new workspace using Admin Portal. The default four roles (`workspace-admin`, `

[2019-11-26 01:39] joedugdale opened #5256 "Kong 1.4.0 Getting a 504 when Creating a Plugin Associated to a Specific Route"
### Summary

Kong 1.4.0 Getting a 504 when Creating a Plugin Associated to a Specific Route

This returns a 504 via curl and Konga GUI.
The POST actually works (plugin is created) but the command itself seem to timeout, and I'm getting 504's.
This results in having to add a plugin t a route, let it time out, and then move on to the next one. Kong is using DB and is running in docker. I've tried th

[2019-11-26 07:46] zhichuanxun opened #5257 "Problem when installing kong above istio"
### Summary

I got a problem when installing kong in postgresql mode when istio's auto injection was enabled.

 It seems that the migration job cannot complete normally when a sidecar was injected.https://github.com/istio/istio/issues/11045

 However, since I stop the job manually using `kubectl exec gateway-kong-init-migrations-pq5cl-c istio-proxy -- curl -X POST localhost:15000/quitquitquit`. Th

[2019-11-26 08:34] bob983 commented on #5252
Hey @bungle!

I'm afraid that dbless and the permanent (or long lived) nature of oauth2 tokens go against one another. Using JWT for access tokens is a good idea but refresh tokens need to be persisted, in memory store is not enough.

I think this could be solved by external OAuth2 provider.

Using an external OAuth2 provider would be our next choice if we can't make the OAuth2 plugin more robust.

[2019-11-26 10:20] nguyenptk opened #5258 "Kong sometimes returns 'No router to route request'"
### Summary
Kong sometimes returns no router to route request (response_code: 500) when it forward the requests to the upstreams

`[kong] handler.lua:689 no router to route request (reason: /usr/local/share/lua/5.1/kong/runloop/handler.lua:89: attempt to concatenate local 'err' (a nil value)), client: x.x.x.x, server: kong, request: "POST /upstream/bla HTTP/1.1", host: "bla.bla.com"`

Maybe It can

[2019-11-26 11:02] bungle commented on #5258
@nguyenptk can you test with a more recent release? I think this might be fixed already.

[2019-11-26 11:05] nguyenptk commented on #5258
@bungle could you give me the version of this one?
I need to compare the change between v1.0.3 and fixed version for the upgrade.
Thank you.

[2019-11-26 11:12] bungle commented on #5256
I just tried 1 and 2 with `1.4.0` but I didn't get timeout. Is it 2 that gives timeout or 3 that we don't know what you tried there, we also don't know how you created the service. Is there anything in kong error.log or docker stderr/stdout?

[2019-11-26 11:24] bungle commented on #5256
Can you try to turn this off:
https://docs.konghq.com/1.4.x/configuration/#anonymous_reports

e.g. with `KONG_ANONYMOUS_REPORTS=off`

[2019-11-26 11:43] bungle commented on #5252
@bob983 is there any reason why refresh token could not be a `JWT` token? I mean why do they need to be persisted?

Yes it is always possible to use 3rd party provider too. That is what you can do with e.g. Kong Enterprise OpenID Connect Plugin (it support OpenID Connect and OAuth 2.0, and JWT standards).

What comes to your proposal, I have personally nothing against it.

[2019-11-26 11:52] bungle commented on #5252
Do you mean that it is easier to delete database row to revoke a refresh token than to maintain some type of revocation system, and sure that revocation system needs datastore too.

[2019-11-26 12:00] bob983 commented on #5252
Yes, I think there needs to be a way to revoke a single refresh token. Either by deleting it or by storing information about the revocation (is that a word? :smile: ).

This would work if there was just a small number of consumers, but in our case there are hundreds of OAuth2 apps so revoking or rotating the key wouldn't work (all apps would lose connection) - it should be possible to revoke a sin

[2019-11-26 12:03] bob983 commented on #5252
I haven't looked at Enterprise OpenID Connect Plugin, but that can be an option for us as well.

[2019-11-26 12:48] shipfi opened #5259 "I try to visit postgreSQL in body_filter phase, kong promot "API disabled in the context of body_filter_by_lua" Error"
I wrote a plugin to process response data in body_filter phase like this:
 `
   function ResponseCustomizeHandler:body_filter(conf)
         local entity,err = kong.db.tb_biz_errors.each(10)
         // do others...
   end
`

But it raise error with :
 [error] 626#0: *83 failed to run body_filter_by_lua*: /usr/local/share/lua/5.1/kong/globalpatches.lua:342: API disabled in the context of body_filt

[2019-11-26 14:28] marlonfan opened #5260 "route with headers overwrite bug"
### Summary

I've defined two routes

a:

[code]
b:

[code]

Now request routeA, In line with expectations
Request routeB, In line with expectations
Request routeA again, routeB overwrited routeA

[2019-11-26 15:06] bob983 commented on #5252
Oops, I wanted to cancel a comment and closed the issue instead :face_with_head_bandage: , sorry!

[2019-11-26 18:07] gszr commented on #5255
Hi @vikas027, thanks for reporting. GitHub issues are reserved for Kong open-source bug tracking. For Kong Enterprise, please direct your questions to support@konghq.com. Thank you!

[2019-11-26 18:07] #5255 closed

[2019-11-26 18:12] marcojck opened #5263 "Updating Kong ACL Plugin with HTTP PATCH method doesn't working as expected?"
### Components versions

- Kong: 1.1.2

### Summary

Using HTTP PATCH to update a service ACL groups plugin causes all groups being replaced by the contents of the request payload, whereas it was expected the new groups only be appended to the existent group list.

### Steps to reproduce

1. Create the ACL plugin in a service  with two groups in the while list:
[code]

2. Update the white list wit

[2019-11-26 20:13] joedugdale commented on #5256
turning KONG_ANONYMOUS_REPORTS=off has done the trick
Many thanks!

[2019-11-27 00:14] bungle commented on #5256
Ok, great! We discussed this today that we'll change it to use timer. I am closing this now.

[2019-11-27 00:14] #5256 closed

[2019-11-27 00:15] bungle commented on #5259
You have to start a timer with `ngx.timer.at`:
https://github.com/openresty/lua-nginx-module#ngxtimerat

[2019-11-27 00:19] bungle commented on #5263
The current behavior is expected. I'll mark this as a feature request.

[2019-11-27 06:04] marlonfan commented on #5260
I tried 1.3.0 version and 1.4.0 version You can reproduce it

[2019-11-27 06:59] CHOMNANP opened #5266 "Kong with Socket.io (namespace)"
### Summary

Is there any tutorial on how to integrate use socket.io with namespace

For example,

We have 2 socket server.

192.168.10.10:8082/customer
192.168.10.10:8083/merchant

Then we want to have this in kong

socket.mydomain.com/customer => 192.168.10.10:8082/customer
socket.mydomain.com/merchant => 192.168.10.10:8083/merchant

I tried and does not get it working. Can anyone share me how t

[2019-11-27 14:45] bungle commented on #3119
I'll close this as this is exactly what our router does in `1.x`. Yes it also break the other behavior (the more used one) :-(.

[2019-11-27 14:45] #3119 closed

[2019-11-27 15:33] jpuris commented on #4787
Able to reproduce with `kong version 1.1.2` and postgresql 9.6
_kong.conf_
[code]
_postgresql.conf_
[code]
I suspect this is due to postgresql not allowing anything other than TLSv1.2 and the error mentions SSLv3.
SSLv3 is really old and is considered insecure.

**Does kong support specifying the TLS protocol to use?**

[2019-11-27 15:43] Edenshaw commented on #4778
I'm facing the same issue with Kong 1.2.1. I was willing to upgrade to 1.4 (specially for all the bug-fixes and new features) in our production environment, but reading the upgrading guide 1.2.x to 1.4, there are some breaking changes in version 1.3, so the upgrade process will take more than expected (test, validation, etc.).

Whenever I restart my Upstream back-end, I start receiving "failure to

[2019-11-28 03:47] nguyenptk commented on #5258
Hi @bungle
My project is using a stable version of v1.0.3 and maybe new versions can have killer features we need.
So could you help me create a fixing merge request to the version of v1.0.3?
Thank you so much

[2019-11-28 06:03] #5169 closed

[2019-11-28 06:41] marlonfan commented on #5266
What are the unusable representations? Perhaps you can provide some details?

[2019-11-28 07:06] CHOMNANP commented on #5266
So let say the client is trying connect to "socket.mydomain.com/customer". The way that client making a request in socket client is "ws://socket.mydomain.com/socket.io/?station_id=2&EIO=3&transport=websocket".

The client does not provide path "customer" as the namespace during the request. So that in the route configuration. We can only configure "socket.mydomain.com" to point to "192.168.10.10:8

[2019-11-28 07:10] Twiknight opened #5269 "Please make `TEST_CONF_PATH` configurable"
https://github.com/Kong/kong/blob/e7be8f619009d0f4f7070c528746bc5c47fee174/spec/helpers.lua#L9

This line hard coded the test_conf_path for kong test. Which makes it very hard to test custom plugins.

You'll need to go `pongo shell` and hack into the containers to enable your custom plugin or it will show something like:

[code]

And it does not help even you set it through environment.

By allowi

[2019-11-28 07:25] marlonfan commented on #5266
maybe you can change socket.io default namespace?

[2019-11-29 03:39] CHOMNANP commented on #5266
@marlonfan, this is helpful. I try looking in socket.io document and have not find any option to do that. Can you share me how to do that?

Thanks,
Punleu

[2019-11-29 05:28] marlonfan commented on #5266
yep, you just change this namespace on your project

[code]

[2019-11-29 12:51] Tieske commented on #4778
@Edenshaw not sure that would be the same thing.

Most of the former reports are based on identical targets, getting an identical uuid, and hence one is created, and the second will overwrite the first one. This seems Kong configuration related.

In your case the backend changes, which has nothing to do with the Kong configuration. My guess would be to have a look at DNS records, changing IP's and

[2019-11-29 14:05] waynerv opened #5275 "Query entities with non-unique field by latest DAOs"
### Summary

Is there any way for the new DAO framework to query entities with a non-unique field?
I'm seeking something just like removed `crud_helpers.find_by_id_or_field`  acting a normal filter querying but only found generated query method for foreign key or unique field in new DAOs.

It's also confusing that there isn't any document mentioned that `kong.db.<entity>` wil generate `each_for_<f

[2019-11-29 16:12] Edenshaw commented on #4778
Hi @Tieske Thanks a lot for your insight. I'll check again my configuration and logs to try spot the problem.

[2019-11-29 19:46] robertoej commented on #5220
Hey, @so2bin. Out of curiosity, how did you resolve it? Thanks.

[2019-11-30 00:00] so2bin commented on #5220
my server is running on k8s and the kube-proxy is run with ipvs mode. there is a http keepalive connection between kong pod and upstream, but the tcp connection is not keepalived, so there is no beatheart tcp package between them. meanwhile the tcp maintained in ipvs has a default 15 minute expiration, so the tcp will expired if not used in 15m, then 502 will happened after 15m.

[2019-11-30 00:02] so2bin commented on #5220
see the privious reply above

[2019-11-30 12:20] robertoej commented on #5220
Thanks a lot.

[2019-12-01 15:24] CHOMNANP commented on #5266
Hi @marlonfan, I tried changing this and it does not work. Maybe, I can share a project later.

[2019-12-02 10:26] lianfulei opened #5279 "Admin API get not all services, why?"
kong version: 1.2.1

Admin API: http://192.168.1.6:8001/services/

Problem:
This api is List Services, But the acquisition is incomplete, only part of it can be acquired，why？

[2019-12-02 14:11] hishamhm commented on #5189
@fffonion thanks for the heads up! we'll make those additions!

[2019-12-02 15:04] hishamhm commented on #5242
Fixed by #5253 — thank you @bob983 for the report!!

[2019-12-02 15:04] #5242 closed

[2019-12-02 15:13] bob983 commented on #5242
@hishamhm awesome :) Is there a chance it could get into 1.4.1?

[2019-12-02 15:15] albertored opened #5280 "Get ACL by group fails when more consumers share the same group"
### Summary

Since this commit (5f0ab5d106a6b246bc0f7fc24296291c03e4596e) the retrieving of an ACL by the group name fails for all consumers but one when there is more than one consumer with the same group. This happens because the consumer_id is not used in the db query and only the first of the acl with that group name is returned (always the same acl for all consumers)

### Steps To Reproduce

[2019-12-02 15:17] albertored commented on #5280
Related to #5275

[2019-12-02 15:41] bungle commented on #5280
I can confirm this exists on `master` and `next`.

[2019-12-02 16:50] bungle commented on #5280
The reason is that `group` is not `unique` across groups, but it is used as an `endpoint key` this it is possible to do that.

The postgres query it sends is this:
[code]

For same reason `/acls/<group-name>` returns single entity while there can be multiple with same name.

[2019-12-02 20:37] hbagdi opened #5283 "healthchecker is nil"
### Summary

A nil Healthchecker causes an abort.

### Additional Details & Logs

- Kong version (`$ kong version`) 1.4
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong error logs (`<KONG_PREFIX>/logs/error.log`)

[code]
- Operating system: Alpine docker image

[2019-12-02 20:44] hishamhm commented on #5283
@hbagdi This seems related to #5189, with the balancer being in a bad state.

[2019-12-02 22:02] hishamhm commented on #5189
@fffonion I was in the process of making this changes and then I remembered the reason why we're not catching the error ther. A balancer shouldn't fail to build if a healthchecker can't be built for any reason. That is, if Kong can load-balance traffic but cannot health-check it, it should still load-balance. An error creating the healthchecker should be logged, but not cause `create_balancer` to

[2019-12-02 22:19] fffonion commented on #5189
@hishamhm That makes sense to me. Thanks for the explaination and taking care of this! I'll look at the linked PR shortly.

[2019-12-03 01:21] HefeiJoe opened #5285 "Why isn't memory released?What occupies memory?"
helm charts kong version:0.27.2
plugin:key-auth,prometheus
![image](https://user-images.githubusercontent.com/27885579/70012144-7df62e80-15ae-11ea-9b7e-0dd6172b2923.png)

Why isn't memory released?What occupies memory?

[2019-12-03 02:55] p0pr0ck5 commented on #5285
Kong has to allocate space for the many shared dictionaries (under the hood, this is just an `mmap` call). This mapping lives for the lifetime of the process. Depending on how your tooling reports the memory allocation, even if no memory pages are demanded to be used from this allocation, it can still be reported as in-use.

[2019-12-03 15:02] nagaland88 opened #5286 "Kong Ingress abnormal memory consumption"
### Summary

Our kong Ingress controller consumes ~ 10GB of memory

![0af3d4dd-2068-464a-af39-1cf06a9c3c36](https://user-images.githubusercontent.com/9462149/70061756-232bf980-15e5-11ea-8418-1d699da31204.png)

### Additional Details & Logs

- Kong version (`kong:1.4`)
- Postgres version (`postgres:9.5`)
- Environment : AWS EKS v1.13.12

[2019-12-03 17:16] hbagdi commented on #5286
This is fixed by #5229.
Kong 1.4.1, set to release this week, will ship with this fix.

[2019-12-03 17:45] #5189 closed

[2019-12-03 17:45] #5283 closed

[2019-12-03 19:37] bungle commented on #5279
@lianfulei it is paged right? send a new query with the offset. Or are you seeing something else?

[2019-12-03 22:12] thibaultcha commented on #5070
Hi @marckhouzam,

We just updated our CLA (https://cla-assistant.io/Kong/kong) to incorporate the changes we discussed. In particular, see the updates to section 4. Leaving this open for a few more days, let us know if you have any questions!

[2019-12-03 23:45] nagaland88 commented on #5286
Thank you so much !

[2019-12-03 23:56] vsuns opened #5289 "Failed to access postgresql by special-charactar password"
### Summary

Failed to access postgresql by special-charactar password like 'abc#'

### Steps To Reproduce
when i try to startup kong on docker while connect to postgresql-11 , it failed :
docker run --rm
-e “KONG_DATABASE=postgres”
-e “KONG_PG_HOST=10.47.136.45”
-e “KONG_PG_PORT=6506”
-e “KONG_PG_DATABASE=devauth”
-e “KONG_PG_USER=devauthdata”
-e “KONG_PG_PASSWORD=Paic1234#”
ay/kong:1.3 kong migr

[2019-12-03 23:57] hbagdi commented on #5286
Kong 1.4.1 is released: https://discuss.konghq.com/t/kong-1-4-1-released/5064

[2019-12-03 23:57] #5286 closed

[2019-12-04 01:39] ivanpk commented on #4562
+1 to filtering via `authenticated_userid`

[2019-12-04 07:23] waynerv opened #5290 ""data.old_entity" is nil within registed worker event for update"
### Summary

I follow the documentation of latest version to implementing [Manual cache invalidation](https://docs.konghq.com/1.4.x/plugin-development/entities-cache/#manual-cache-invalidation) ,registed a invalidation function for update event, and found the "data.old_entity" is nil.
But the comment in documents says the `data.old_entity` should be **old entity table (only for "update")**
Is ther

[2019-12-04 09:06] bungle commented on #5289
@vsuns Can you try `1.4.1` just in case that this is fixed? I have seen this issue reported in some other occasion, and I think there was, perhaps there still is an issue with `#` as you said.

[2019-12-04 09:33] JoyZhang66 opened #5291 "Kong1.4.1 Admin API /metrics 405 Not Allowed"
### Summary

I Updated Kong to 1.4.1 in my computer and tried to get metrics data from http://localhost:5001/metrics by **GET** method, but Kong return **405 Not Allowed**. It works right in 1.4.0.

### Steps To Reproduce

1. Update to Kong 1.4.1
2. Get Request to http://localhost:5001/metrics

### Additional Details & Logs

- Kong version 1.4.1

[2019-12-04 11:42] supervisaproject opened #5293 "Oauth2 Plugin query param client_id not working into admin api. -> "kong:8001/oauth2?client_id=XXX""
### Summary
As described in the manual of the plugin Oauth2 in its "version 1.0.X latest", in the section "OAuth 2.0 Flows" option "Authorization Code" must make use of the query param client_id in order to obtain the information of Application Name, and Developer Name. I attach the image of the manual in which it appears.
![image](https://user-images.githubusercontent.com/57218534/70137872-487542

[2019-12-04 13:23] marckhouzam commented on #5070
Thanks for this.

If I understand correctly:
1. Someone entitled to sign for the corporation must first electronically sign the CLA using their own GitHub account
1. Once the above is done, a contributor from the corporation must also sign the CLA using their own GitHub account
1. That contributor can then make the contribution

There is no automated verification that the first step is done before

[2019-12-04 14:22] p0pr0ck5 commented on #5289
Use the `\` character to escape `#`. This is documented in the config file reference.

[2019-12-04 14:22] #5289 closed

[2019-12-04 14:44] bungle commented on #5289
Thanks @p0pr0ck5 for clarifying the issue!

[2019-12-04 16:18] bungle commented on #5293
Yes, docs are not right they still seem to refer `0.x` behavior here and there.

[2019-12-04 16:36] hbagdi commented on #5291
I've verified this problem with Kong's Docker image:

[code]

[2019-12-05 00:23] vsuns commented on #5289
thank you all , @bungle @p0pr0ck5
I try 1.4.1 and it goes well !

[2019-12-05 04:00] JoyZhang66 opened #5296 "Kong 1.4.0 and 1.4.1 Target DNS_ERROR issue"
### Summary

I update kong to **1.4.0** and add a target to upstream, but display **DNS_ERROR** in this target. Then I add same target with different weight, **DNS_ERROR** disappears. **Same issue in 1.4.1**.

### Steps To Reproduce

1. Create a upstream.
2. Add Target with weight 100 to this upstream.
3. Delete this target from upstream.
4. Add same Target with weight 100 to this upstream. Show *

[2019-12-05 04:11] brycehemme opened #5297 "Lambda plugin support IAM instance roles"
### Summary

Support for IAM instance role usage in the Lambda plugin was removed in the past as is reference in [here](https://github.com/Kong/kong/pull/1777#issuecomment-261857685). This is a feature request to add support for this feature again which properly uses sockets for the communication with the EC2 metadata service.

[2019-12-05 04:49] p0pr0ck5 commented on #5297
This functionality is available in the latest minor release of Kong, versions 1.4+  See the documentation at https://docs.konghq.com/hub/kong-inc/aws-lambda/. Thanks!

[2019-12-05 04:49] #5297 closed

[2019-12-05 04:57] brycehemme commented on #5297
@p0pr0ck5 do you have a reference to the code that actually makes this functional? I see nothing in the plugin code that would suggest this has been implemented plus testing of this functionality using 1.4+ does not work. I believe the docs are outdated and actually opened a PR on the docs earlier to fix this inaccuracy.

[2019-12-05 05:11] binhtd opened #5298 "kong return "no Route matched with those values""
### Summary

SUMMARY_GOES_HERE
we used kong as api gateway following topology
client request -> GCP load balancer -> instance group ( group kong vm, kong version 1.4.0) -> cassandra (version 3.6, keyspace with 2 replicas, SimpleStrategy). We create some services and routes then in case we have 2 kong instances only one instance can update information about new service and route. Other instance can

[2019-12-05 05:19] p0pr0ck5 commented on #5297
Heya, not sure which part of the codebase you looked at, but the implementation of reaching out to the AWS ec2 metadata service is implemented here: https://github.com/Kong/kong-plugin-aws-lambda/blob/master/kong/plugins/aws-lambda/iam-ec2-credentials.lua

[2019-12-05 05:21] p0pr0ck5 commented on #5297
The PR you’re referring to is several years old, and in that time the plugin codebase has been broken out into a separate repo (linked above). Would love to hear specific steps youve tried that failed to get the plugin working on a machine with proper IAM credentials to run a lambda plugin.

[2019-12-05 05:23] brycehemme commented on #5297
Geesh...this makes total sense. I was looking in the Kong project under the
Lambda plugin but not at the actual Lambda plugin project. Let me revisit
my testing to see what’s causing the problem there. Thanks for the help!

On Wed, Dec 4, 2019 at 11:19 PM Robert <notifications@github.com> wrote:

[2019-12-05 07:21] JiyongShi commented on #5296
when target healthy display DNS_ERROR, add new target or change  upstream  slots, target with DNS_ERROR can resume  to healthy.
we guess may be balancer not recreated from v1.4.0.

[2019-12-05 07:53] JiyongShi commented on #5291
from v1.4.1, add new STATUS_LISTEN configuration, you need config STATUS_LISTEN(or KONG_STATUS_LISTEN on docker) to use /metrics.
see: https://docs.konghq.com/1.4.x/configuration/#status_listen

[2019-12-05 07:56] JiyongShi commented on #5291
this broken change not described in CHANGELOG.md. Suggest to add description in CHANGELOG.md.

[2019-12-05 10:26] zffocussss commented on #216
@alepeltier same here

[2019-12-05 10:40] xuanit opened #5299 "Kong doesn't try all DNS nameservers in resolv.conf"
### Summary

Kong randomly picks some from the name server list instead looping through all of them. This behavior is different from Ubuntu [resolver](http://manpages.ubuntu.com/manpages/bionic/man5/resolv.conf.5.html)
[code]

### Steps To Reproduce

1. Start kong with `/etc/resolv.conf` as below.
resolv.conf
[code]
2. Kill DNS name server 1 and 2.
3. Send some requests to Kong
Expected: the reque

[2019-12-05 11:12] hyschumi opened #5300 "kong doesn't support listen backlog config"
### Summary

SUMMARY_GOES_HERE

[2019-12-05 11:39] mnteam opened #5301 "Can kong support request_uri with args support matches in path?"
Hi, there is an issue for us to deploy kong, replace the nginx also for api gateway support.

currently we use location in nginx "server" phase, with $request_uri which matches the specified args pair for route,

but when we transfer the route method with kong, seems we can only match the request with the path( req_uri without args), so I'm confused is there a better way to implement or something

[2019-12-05 14:53] mnteam commented on #5301
Just checked the source code for router.lua, I guess the reason that not support request_uri with args support, because the cache mechanism for route match logic, that is really a good way to strip the args from request uri. But in our situation that is, we have to support the args matches. Just now I tried to re-write the router.lua, thinking if there is anyone to help me for a code review. thank

[2019-12-05 16:47] hbagdi commented on #5291
@JiyongShi The change was unintended (i.e. it is a bug). The linked PR has a fix for it.

[2019-12-05 17:11] #5291 closed

[2019-12-05 17:22] samsja opened #5306 "[BUG] kong proxy externalTrafficPolicy from Cluster to Local cause dramatic random latencies"
### Summary

We have been running kong in production  over the last month in a K8s cluster (gcp) and it was working great.

We recently change our kong config to be able to use ip-restriction [this topics](https://discuss.konghq.com/t/white-list-ip-restriction-nor-working-anymore/5048)

basicely we change the external traffic policy so that the user IP is forwaded to the services, according to thi

[2019-12-06 02:21] JustinWangJP opened #5307 "How to route to other backend services using Kong in case of rate limited and backend services are failed"
I’m a new joiner to use Kong.
I have two use cases which I want to confirm whether having these feasibilities and solutions.

①If using rate limiting plugin, whether or not it could route to other services if rate limit is exceeded.
Example, Try to catch rate limited error, and proxy to other target servers.

②If One of backend servers is failed or other reasons about no responses, whether or not

[2019-12-06 05:22] huangyonghome opened #5308 "dns error"
### Summary

Kong cann't resolve upstream

below is the kong error log

[code]

but I can resolve the upstream server manual .

[code]
I tried everything to solve this problem:

1.add the iP and domain in /etc/hosts file

2.specify dns resolver `dns_resolver = 172.18.0.1:53` in /etc/kong/kong.conf

3.restart kong container by `docker restart kong`

But all of them didn't work

Could anyone please

[2019-12-06 07:42] bungle commented on #5301
@mnteam, you are correct, we don't have arbitrary query parameter based routing. Though we did add `header` based routing which is quite similar to this, e.g. key-value pair matching. In that sense I think it would we a welcomed addition. One way to workaround this is to write plugin that runs on rewrite and turns query parameters to headers (and removes them on access) and then use header based r

[2019-12-06 07:47] bungle commented on #5298
Is there any clock skew between the servers? It might be worth checking if this helps: https://github.com/Kong/kong/pull/5247

I tried to reproduce but couldn't yet.

[2019-12-06 07:56] mnteam commented on #5301
@bungle Hi Bungle, thank you for your response, I already changed the router.lua(see previous attached txt file) to support this feature, did the test and seems it is ok, but the bad news is: because of the uri based cache key generation, I have to disable the cache support for route find.( I see the header matches also disallow the cache, but confused if they have there are two same request uri b

[2019-12-06 08:53] Tieske commented on #5308
unwrapping the first error line:
[code]
in order it tries SRV (33), A (1), and CNAME (5), all queries fail because the server doesn't respond.

Check your DNS settings: https://docs.konghq.com/1.4.x/configuration/#dns-resolver-section

Upon Kong start, the DNS library will log all settings it uses, so check thsoe logs and see what's in there

[2019-12-06 10:05] bungle commented on #5301
@mnteam great feedback! feel free to open a pull-request (or two if you think there is a bug in current header matching).

[2019-12-06 10:08] bungle commented on #5290
It looks like you sent `PUT` which is more like create or replace whereas `PATCH` is the update.

[2019-12-06 10:11] huangyonghome commented on #5308
@Tieske Thank you for your kind help!!!!

I modified the kong config file. I specify the DNS server  address and dns_order

[code]
but I am not sure whether Kong reads the kong.conf.default file while it starts

below is the result of dns resoving

[code]

[2019-12-06 14:28] nagaland88 commented on #4934
Hello there ,

We are getting these errors quite often:

2019/12/06 14:10:57 [notice] 1#0: signal 15 (SIGTERM) received from 150, exiting
2019/12/06 14:10:47 [notice] 1#0: signal 3 (SIGQUIT) received from 46, shutting down
2019/12/06 14:10:47 [notice] 1#0: signal 3 (SIGQUIT) received from 46, shutting down

kong 1.4.1

After this our container fails the livenessprobe and restarts again

[2019-12-06 18:36] hbagdi opened #5309 "bug: incorrect PUT behavior for /certificates"
### Summary

PUT behavior on `/certificate` doesn't reset `snis`.

### Steps To Reproduce

1. `http :8001/certificates cert=@cert.pem key=@key.pem 'snis[]=foo.com' id=41e72c04-3172-4336-b4ce-fefa2a321679 -f`
2. `http put :8001/certificates/41e72c04-3172-4336-b4ce-fefa2a321679 cert=@cert.pem key=@key.pem -f`
3. `snis` is still set to `[ foo.com ]`

### Additional Details & Logs

- Kong version (`$

[2019-12-06 18:44] hbagdi commented on #216
You can simply expose an existing kubernetes service via Ingress spec. It doesn't matter if it is a static website or an API.

[2019-12-06 19:55] hishamhm commented on #5308
It doesn't. `kong.conf.default` is the example default file. You should edit `kong.conf` which was installed along with Kong (or replace your edited `kong.conf.default` with it), or use the `-c` flag explicitly to make Kong find it (for example, if `kong.conf` is in folder `/a/b/c`, then do `kong start -c /a/b/c/kong.conf`.

[2019-12-06 21:35] hishamhm commented on #5307
These things should be possible, but you would have to write customized plugins to do that. For the first one, you could do this by making a modified version of the rate-limiting plugin, for example. For the second one, you could make a plugin that detects failures and returns a redirect instead.

[2019-12-06 21:40] hishamhm commented on #5296
@JoyZhang66 Thank you for the report! I was able to reproduce it:

[code]

And here's the log:

[code]

We'll continue investigating this.

[2019-12-06 21:47] #5285 closed

[2019-12-07 05:20] binhtd commented on #5298
Thanks your reply. It is quite strange when GCP instance group launching a list of VM but there are some machines that has fail ntp service (not binding ipv6 address so the ntp can not start automatically, it is reason the time is wrong ). When i fix time issue everything work well. I have a small question what if my group kong vm run ICT time backend ex (postgresql, cassandra, etc) that run GMT t

[2019-12-07 05:21] binhtd commented on #5298
the issue fix following the comment

[2019-12-07 05:21] #5298 closed

[2019-12-07 11:10] jiladahe1997 opened #5310 "How can I match "/" exactly in route.path"
I want a route matching  _"/"_ exactly to serve the home page for my website , meanwhile I also want a fallback route as decribed here : https://docs.konghq.com/1.4.x/proxy/#configuring-a-fallback-route

In nginx, I could use _**location = /**_ , however I can't do this in kong.
I have tried _**route.path=^/(?!.)**_, but it said path  _**"should start with: / "**_

Thus , how can I match "/" exact

[2019-12-07 11:34] bungle commented on #5310
how about: `/$`

[2019-12-07 12:01] jiladahe1997 commented on #5310
It works. Thanks for your replay.

[2019-12-07 12:01] #5310 closed

[2019-12-07 13:06] JustinWangJP commented on #5307
@hishamhm
Thank you fro your rapid reply.
Do you have some sample plugins to guide me how to implements these customized functions?

[2019-12-08 15:33] Tieske commented on #5308
fyi; you can see the settings in use by starting kong with "kong start --vv"

[2019-12-08 16:58] jogendrajangid1 opened #5311 "Ratelimit plugin not working as expected - kong 1.4"
### Summary
I have configured rate-limit plugin with key-auth. 5 req/sec is working fine if requests are more then 50 per seconds its not detecting. i have tried out with cluster/local/redis policy.

SUMMARY_GOES_HERE

### Steps To Reproduce
kong 1.4 . cassandra backend. deploy on kubernets
1. enable key-auth plugin
2. enable rate limit plugin with 5 req/sec
3. try with apache benchmark ab -c 100

[2019-12-08 17:52] liorsamuni commented on #5233
@Tieske i do not think the attached ticket is helpful nor addressing the need

The goal is to have Kong built in support for excluding global plugins from specific services.

[2019-12-09 01:50] mnteam commented on #5301
@bungle hi Bungle, seems I have no permission to create individual branch for pull request, and I did not see related reference about how to open a pull request with specified way, any hint? Thank you.

for head matching of route, I do not think there is a way to simply resolve the issue, so my solution is disable the cache for route matching.

[2019-12-09 02:48] waynerv commented on #5290
@bungle I tired update a consumer using `PATCH` request and got properly result.

So this event handler is listening http `crud` events via request methods instead of database(eg. postgres) event triggers ? That's sounds a little weird.
Although a `PUT` to replace is a kind of  entirely update.

[2019-12-09 03:37] huangyonghome commented on #5308
Thank you for you all kind help . I somehow resolved this problem
because I deployed Kong with Docker. I noticed that Kong container couldn't resolve upstream server with its default DNS server:127.0.0.11.
So I changed the DNS server in /etc/resolv.conf file .But Kong couldn't access the hostname of Kong database container (Kong server and kong database server are under the same Docker bridge netw

[2019-12-09 03:51] wanyuetian commented on #5159
I have the same issue with kong 1.4. When I use http-log plugin, the memory is keep growing.Finally its worker will crash.Anyone can help？

[2019-12-09 05:40] DemantT commented on #5159
@wanyuetian  Finally, I wrote a custom plugin to implement log collection

[2019-12-09 10:37] wanyuetian commented on #5159
@DemantT Can you share the code with me. tks

[2019-12-09 14:06] granularmike1 opened #5313 "Kong 1.4.0 - Service path attribute not updated when path removed from service URL attribtue using Admin API"
### Summary

I'm finding that when using the Kong Admin API to patch a service URL change, that it does not update the service path attribute to null when the path is removed from the service URL attribute.  It does update the path when the path in the URL has changed to something other than null.  Example: old path: `/testpath` -> new path: `/newtestpath`

I saw the same behavior when running on

[2019-12-09 16:56] jaskiratr commented on #5291
@JiyongShi Curious to know what value did you set for the `STATUS_LISTEN`?

[2019-12-09 17:11] bungle commented on #5311
Currently rate-limiting is counted async, the function is created here on `access phase`:
https://github.com/Kong/kong/blob/master/kong/plugins/rate-limiting/handler.lua#L130-L135

And it is executed here on `log` phase:
https://github.com/Kong/kong/blob/master/kong/plugins/rate-limiting/handler.lua#L148-L150

[2019-12-09 17:24] bungle commented on #5311
I think on high load, the timer that is executed on `log` is not executed as fast as new requests are proxied. This has potential good and bad sides. Good sides is that if we increase the counters after request we _can_ increase counters only when we actually proxied. Bad side of it being that we are possibly going to proxy some requests before the rate-limit is effective. Good side of this is tha

[2019-12-09 17:32] bungle commented on #5311
On Kong Enterprise we have this (which does not run timers on each request, but uses a different algorithm too, a sliding window in that case):
https://docs.konghq.com/hub/kong-inc/rate-limiting-advanced/

[2019-12-09 20:28] jeremyjpj0916 commented on #5164
Testing confirmed today on latest Kong HTTP Log changes the fix that was put in here:

https://github.com/Kong/kong/pull/5282 did the trick!

We now see via tcpdump the transactions not being rate limited themselves. Was able to do 500 TPS of logging from a single pod to our HTTP logging collector on settings like:

[code]

[2019-12-09 20:28] #5164 closed

[2019-12-09 21:19] bungle commented on #5043
Thanks @jeremyjpj0916, closing this now. @odelvalle, please reopen if you still have issues with it.

[2019-12-09 21:19] #5043 closed

[2019-12-09 22:09] bungle commented on #5313
The fix is merged, this closing this.

[2019-12-09 22:09] #5313 closed

[2019-12-10 04:37] Ashutosh-Chandane opened #5317 "Kong sends same offset value every time in response while fetching acls"
### Summary
In our application, we are trying to delete Kong acls for a consumer group. For this process, we try to fetch all the acls for a particular group using this url - `curl http://localhost:8001/acls?size=100&offset={offset_id}&group={group_id}`
We are making a REST API call to kong from our spring boot application to call this url - `restTemplate.exchange(uri, HttpMethod.GET, null, KongAC

[2019-12-10 13:35] pgnewikow commented on #5018
Same issue here.

[2019-12-10 14:36] hishamhm commented on #5317
Hi @Ashutosh-Chandane, thanks for the report! Kong 0.11 is _very_ old! Can you reproduce this issue in the latest version?

[2019-12-10 14:38] hishamhm commented on #5299
@Tieske can you confirm this? Is this expected behavior?

[2019-12-10 17:07] Edenshaw commented on #1009
I found solution for Kong 1.4.X (using database deployment, meaning there's no kong.yaml)

Execute elruwen's solution by editing the following file:

[code]

You will find something like this:

[code]
Modify it, by adding elruwnen's line, like this (if you add the line server_tokens off; kong won't start):

[code]
Go and edit your kong.conf file:

[code]
Search for the headers section and edit it:

[2019-12-10 21:49] archangelpaladin commented on #5159
I can also confirm this is an issue  in v1.4.1,  We just tried to upgrade from v1.1.2 and had to rollback cause of this.

Steps to repo:

- Install kong v1.4.1
- Turn on http-log plugin, use default configuration.
- Run load test against one of your apps(ours was 4k request per a second)
- See memory usage go up by about a gig every three minutes
-Turn off http-log plugin and watch kong operate ju

[2019-12-10 22:36] hbagdi commented on #5317
Hey @Ashutosh-Chandane,

Nice to hear from you after so long!
I think you can remove the `group` from the query param and then it might work fine.

Also, as @hishamhm said it is time you upgrade from 0.11.
I know it will be a huge lift for you to upgrade but happy to assist you in every way I can.

[2019-12-10 22:51] Ashutosh-Chandane commented on #5317
Hi @hbagdi,

Feels really good to hear from you too. I tried removing the `group` from the query but the issue still persists. We are currently restricted to use 0.11 version. Let me get back to you on upgrading the version part.

[2019-12-10 23:23] hbagdi commented on #5317
Oh, I'm not sure why that would be the case. I vividly remember testing this specific path while adding this commit: https://github.com/Kong/kong/commit/a069fc3c210bbbd38f49bf7c974ec6a041ce0901.

What if you do `:8001/acls?size=1000` (you can't get more than 1000 records from Kong at a time)?

Did you try to remove the param from the first request or a subsequent paginated one?

I think this has t

[2019-12-11 06:18] lianfulei commented on #5279
已经解决了，分页的问题

[2019-12-11 06:18] #5279 closed

[2019-12-11 09:29] DemantT commented on #5159
@wanyuetian Ok, how can I give you the code

[2019-12-11 14:21] saltxwater opened #5324 "Kong 1.4.1 High memory per worker (Docker)"
### Summary

When running Kong 1.4.1 in Docker (via nomad) then the memory usage is roughly 500Mb per worker (!!!). Testing the same config and setup with Kong 1.4.0 the total is 75Mb with 1 worker, 200Mb with 4.
Possibly related to 1.4.1: Removed arbitrary limit on worker connections. #5148

### Steps To Reproduce

1. Start Kong in docker with a simple declarative config.
Our Kong.conf:

log_leve

[2019-12-11 15:25] bungle commented on #5324
@saltxwater thanks for the report!

[2019-12-11 15:38] bungle commented on #5324
@saltxwater I can confirm that it is really related to #5148 and so affects db-mode too.

[2019-12-11 15:40] bungle commented on #5324
@saltxwater in a meanwhile you can perhaps set the `ulimit`.

[2019-12-11 15:45] bungle commented on #5290
@waynerv,

with `PUT` we don't often know if there was an entity before. We don't do read before write. Thus we don't have `old entity`. That's why I called it `replace` aka it does not copy any properties from existing entity over, you can think it is almost like `delete` + `insert` but it keeps `id` and perhaps `created_at`.

with `PATCH` we always have an old entity.

[2019-12-11 15:47] bungle commented on #5290
I will close this for now. Please reopen if you have a good use case why we need to enable `read-before-write` for `PUT` calls.

[2019-12-11 15:47] #5290 closed

[2019-12-11 15:48] bungle commented on #5301
@mnteam,

1. fork: https://github.com/Kong/kong/
2. create branch in your fork
3. open pr from your fork to https://github.com/Kong/kong/

[2019-12-11 16:04] bungle commented on #5324
I believe this is the reason for that:
https://trac.nginx.org/nginx/browser/nginx/src/event/ngx_event.c#L731

[2019-12-11 17:40] saltxwater commented on #5324
@bungle Great, thanks for taking a look at this so promptly!
We were originally running 1.3 on postgres but I wanted to upgrade to db-less and so picked up the latest (1.4.1). I couldn't test our existing setup with postgres without upgrading the db, hence why I didn't test that. I'll remove the (Declarative) tag from the title.
I'm happy working with 1.4.0 for now

[2019-12-11 18:19] hishamhm commented on #5324
@saltxwater as @bungle said, if you could confirm that you get the expected memory consumption with 1.4.1 (or 1.4.2, which was just released a couple of hours ago...) by setting `ulimit -n 16384` prior to launching `kong`, that would be great!

[2019-12-11 20:02] archangelpaladin commented on #5159
Possibly related: https://github.com/Kong/kong/pull/5323

[2019-12-11 20:05] #5309 closed

[2019-12-12 05:52] DemantT commented on #5159
@archangelpaladin  thx

[2019-12-12 05:52] #5159 closed

[2019-12-12 08:14] DeoMortis opened #5327 "Restore check if schema exists before trying to create in bootstrap"
### Summary
In Kong 0.12.2 there was a feature introduced: to not require schema creation permission during migration if the schema already exists.
https://github.com/Kong/kong/commit/9beaa6258ae924a766d09bb0e9ddcf44866eb2cc
But it is no longer present on Kong 1.X.

Old file responsible: https://github.com/Kong/kong/blob/0.12.2/kong/dao/migrations/cassandra.lua line 34
New file responsible: https:

[2019-12-12 10:37] saltxwater commented on #5324
@hishamhm: I have tried what @bungle suggested and modified the docker-entrypoint.sh to include ulimit -n 16384 prior to running kong 1.4.1. This did fix the issue and the service started up with 4 workers consuming a total of 210Mb memory as opposed to 1.9Gb without the ulimit.

Thanks for your help

[2019-12-12 11:11] bungle commented on #5327
The comment there says (https://github.com/Kong/kong/blob/1.4.2/kong/db/strategies/cassandra/connector.lua#L877):
[code]

Arguably it does not do what the comment says, so I will mark this as a bug then.

[2019-12-12 11:18] bungle commented on #5275
There is `select_by_cache_key` which can take multiple columns which make it unique. The DAO's need to add column to db on such case. One such entity is plugins:
https://github.com/Kong/kong/blob/master/kong/db/schema/entities/plugins.lua#L8

See also:
https://github.com/Kong/kong/blob/master/kong/db/migrations/core/001_14_to_15.lua#L74-L80

And:
https://github.com/Kong/kong/blob/master/kong/db/mi

[2019-12-12 11:20] bungle commented on #5275
TL;DR:

[code]

Is almost impossible to implement efficiently on Cassandra. Thus our new DAO is in some respects more limited than the old one. Old one had a lot of functionality that was hard to optimize.

[2019-12-12 11:21] JoyZhang66 opened #5328 "Kong 1.4.1 kong_nginx_http_current_connections keep growing"
### Summary

It seems **kong_nginx_http_current_connections** will keep growing and never reduce when I try to make changes to kong with **multiple admin api requests**.

Kong becomes **high cpu load ( 20 - 80 ) and high memory  ( 300M free )**, and creates **much pid of prng_seeds ( 20+ )**.

I try to reload kong, but connections still not reduce.

**- Service Info**
1. Admin api service, route /

[2019-12-12 11:23] #5280 closed

[2019-12-12 11:31] bungle commented on #5324
As there is a workaround, I changed it from `bug` to `feature` to make it configurable in a future. Configuring `worker_connections` with `ulimit` is not what we want after all, and they should be separate (perhaps using ulimit as an unconfigured default)..

[2019-12-13 00:17] Ashutosh-Chandane commented on #5317
@hbagdi @hishamhm

We are restricted to use kong 0.11.2. Debugged this issue further,

Kong only takes into consideration the first query parameter passed as filter to `http://localhost:8001/acls?` api and ignores the trailing query parameters after the first query parameter and interchanging the sequence of the query parameters does not matter.
For example, if the url is
`curl http://localhost:80

[2019-12-13 00:43] hbagdi commented on #5317
I'm going to propose something that might sound a little weird but I think you can get away without fixing this in Kong.

I'm not sure how many times you need to interact with this endpoint but can you only rely on `offset` parameter? You could iterate the list and keep only what you need from the entire data-set. Agreed that this data-set can be large and it might or might not be feasible for you

[2019-12-13 00:55] #5307 closed

[2019-12-13 01:46] rodgz1622 opened #5336 "app/Http/Controllers/Auth/ResetPasswordController.php"
### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1.
2.
3.
4.

### Additional Details & Logs

- Kong version (`$ kong version`)
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong error logs (`<KONG_PREFIX>/logs/error.log`)
- Kong configuration (the output of a GET request to Kong's Admin port - see
  https://docs.konghq.com/latest/admin-api/#retrieve-node-information)
- Operating s

[2019-12-13 01:47] #5336 closed

[2019-12-13 01:48] rodgz1622 opened #5337 "app/Http/Controllers/Auth/ResetPasswordController.php"
### Summary

SUMMARY_GOES_HERE

[2019-12-13 02:44] xichengliudui opened #5338 "Kong Admin API Update Upstream bug"
### Summary

* Update upstream error when setting request body `hash_fallback = ip or header`
* Set `hash_fallback = consumer` update successful
* cookie I didn't try

**Details are shown in the picture below**

### Additional Details & Logs

- Kong version (`$ kong version`) 1.3.0rc1
- Operating system centos 7

[2019-12-13 02:45] p0pr0ck5 commented on #5337
This looks to have been incorrectly opened. Please let us know if you have questions about Kong. Thank you!

[2019-12-13 02:45] #5337 closed

[2019-12-13 02:48] xichengliudui commented on #5338
![image](https://user-images.githubusercontent.com/40875627/70765481-e5259700-1d95-11ea-9e54-93b04524f8d6.png)
![image](https://user-images.githubusercontent.com/40875627/70765518-01c1cf00-1d96-11ea-98dd-4ca76bfd5726.png)

[2019-12-13 13:21] bungle commented on #5259
Closing this now.

[2019-12-13 13:21] #5259 closed

[2019-12-13 21:40] #5137 closed

[2019-12-13 22:56] bungle commented on #5173
As we have not heard back from @qiyuxin, I will close this. @qiyuxin please reopen if you have further information.

[2019-12-13 22:56] #5173 closed

[2019-12-13 23:06] bungle commented on #4764
I am glad that you got your problem solved. Sorry for not having more time to deal with this. I have done recently some work to make cluster events more robust and to deal with possible clock skew. So all nodes will now share the db clock on cluster events.

[2019-12-13 23:06] #4764 closed

[2019-12-13 23:09] bungle commented on #4520
We have added a lot more to make Kong more resilient on db down issues, thus I am closing this. There are still of course places like plugins that need to access db no matter what.

[2019-12-13 23:09] #4520 closed

[2019-12-15 19:18] liorsamuni commented on #5233
@Tieske any update on this one?

[2019-12-16 14:34] hishamhm commented on #5296
@JoyZhang66 I pushed some balancer fixes in Kong 1.4.2 which I hope are a move in the right direction — could you give it a try and see if that solved your use case?

[2019-12-16 15:10] hishamhm commented on #4975
Since native mesh support was removed from the `next` branch, this issue no longer applies to the next release of Kong. Closing this one!

[2019-12-16 15:10] #4975 closed

[2019-12-16 15:21] hishamhm commented on #5338
* the problem you had with `ip` is that `hash_on` and `hash_fallback` cannot be the same
* the problem you had with `header` is that when you use that, you must set `hash_fallback_header` to indicate what header you want to use for the fallback.

Hope that clarifies things!

[2019-12-16 15:21] #5338 closed

[2019-12-16 15:25] hishamhm commented on #5327
Looks like the root of the problem is that if you have permissions to _use_ a keyspace but not to _create_ it, then `CREATE KEYSPACE IF NOT EXISTS` fails even if the keyspace already exists.

If that's the case, then yes, we should add that check from 0.x back into our migrations logic.

[2019-12-16 15:27] hishamhm commented on #5328
@JoyZhang66 I wonder if this is related to lifting the limit of connections — what is the value of `ulimit -n` in that machine?

[2019-12-16 22:24] Tieske commented on #5299
@xuanit what does your `resolve.conf` look like?

(you can also start Kong with debug-level logging enabled, and it will show you the exact configuration it uses, can you post that info here?)

[2019-12-16 23:52] guanlan commented on #5308
@huangyonghome We don't use NGINX built-in resolver for upstream and we will ignore /etc/resolv.conf

But if you somehow need this for whatever reasons, you can try to use a customized template with `resolver` configured (see https://github.com/openresty/openresty#resolvconf-parsing).

[2019-12-16 23:52] #5308 closed

[2019-12-17 00:01] guanlan commented on #5299
@xuanit We do use round-robin and it follows the behaviors from its underlying proxy stack. Feel free to contribute as a new feature toggle if you need it.

[2019-12-17 00:01] #5299 closed

[2019-12-17 00:01] #5215 closed

[2019-12-17 00:05] #5070 closed

[2019-12-17 00:06] #4965 closed

[2019-12-17 00:07] #4750 closed

[2019-12-17 00:07] #5120 closed

[2019-12-17 00:08] #4446 closed

[2019-12-17 00:08] #4666 closed

[2019-12-17 00:09] #5106 closed

[2019-12-17 00:09] #5205 closed

[2019-12-17 00:37] guanlan commented on #5180
@rural-hermit We don't support rtsp and it's doesn't seem like an API gateway feature we consider in the short term. However, you can try to customize build Kong with rtmp C module (https://github.com/arut/nginx-rtmp-module#nginx-based-media-streaming-server)

[2019-12-17 00:37] #5180 closed

[2019-12-17 06:27] Tieske commented on #5233
making it bhave this way only for global plugins doesn't make sense. It would also be useful to have a plugin enbaled on a service (with say 10 routes), and then disable it on 1 of those routes. eg. 1 enable, 1 exception == 2 config items, as opposed to enabling it on 9 routes == 9 config items.

[2019-12-17 06:31] liorsamuni commented on #5233
@Tieske right.
I just wanted to point out the need
Of course it should be configrable and generic across kong's conif items

[2019-12-17 07:17] xuanit commented on #5299
@Tieske my `resolve.conf`.
[code]
It results in Kong intermittently failing to resolve domains to IPs if any of the nameservers stops working.

Thanks!

[2019-12-17 13:30] hhromic commented on #5324
I'm also facing this issue in my Docker Swarm deployment :(
Is there any other workaround that doesn't involve modifying the official Kong Docker image?

How about adding an environment variable that can be used to configure `ulimit` in `docker-entrypoint.sh`? For example `KONG_ULIMIT=<args>` would make `docker-entrypoint.sh` call `ulimit` with the given arguments before launching Kong. Then we co

[2019-12-17 17:07] hbagdi commented on #5306
Can you please upgrade Kong to 1.4.2 as it contains a few important fixes?

Which cloud provider are you using?

[2019-12-17 17:08] hbagdi commented on #5257
Please do not cross post between Github Issues and Kong Nation.
We started a discussion in the following Kong Nation thread so let's continue there:
https://discuss.konghq.com/t/istio-sidecar-problem/5002

[2019-12-17 17:08] #5257 closed

[2019-12-18 03:27] mnteam commented on #5301
@bungle  hi Bungle, sorry for the late reply, I just sent a pull request, please can you help to code review? the link is: https://github.com/Kong/kong/pull/5347.

Please inform me if there is any issue or I get the wrong understanding.

[2019-12-18 07:43] lijiazeng opened #5348 "JWT Plugin Away Unauthorized"
Kong version 1.4.2

[2019-12-18 07:48] Tieske commented on #5348
@lijiazeng can you please provide a proper description of the issue?

[2019-12-18 07:49] cheriL opened #5349 "Function kong.request.get_body("application/json") doesn't support null value"
Hi, I have one question about calling kong.request.get_body("application/json")  with request body like this:
_{
    code : null,
    msg : "failed"
}_
and I got the table:
_{
    ["code"]:"userdata: NULL",
    ["msg"]:"failed"
}_
table I expected:
_{
    ["msg"]:"failed"
}_

Is there some way to get what I want?

[2019-12-18 07:53] lijiazeng commented on #5348
I operate according to the manual and always report 401 after generating token, no matter on the service or route

[2019-12-18 08:52] a-harshit commented on #3735
Did anyone was able to solve the preflight request issue? I need help with it.

[2019-12-18 09:16] lijiazeng commented on #5348
Has been solved!
Previously, the plugin was added through konga.
Now normal through CLI.

[2019-12-18 09:16] #5348 closed

[2019-12-18 16:42] bungle commented on #5349
@cheriL, it means that we especially _do_ support `null`. Lua `nil` on value in `table` is not a valua at all, but hole. Thus `ngx.null` which equals to `cjson.null` is used for meaning of JSON `null`, e.g. a value explicitly specified in JSON, not just key or value missing from JSON. That's why I am closing this.

[2019-12-18 16:42] #5349 closed

[2019-12-19 06:40] bungle commented on #233
the #5335 is now merged, thus closing this.

[2019-12-19 06:40] #233 closed

[2019-12-19 09:49] Max-Pol commented on #5293
+1 I also need these to be fixed, and for the route `/oauth2_tokens?authenticated_userid=` as well...

[2019-12-19 12:44] sm4rk0 commented on #2422
I suppose it's something trivial, but how did you solve this?

[2019-12-20 10:07] Tieske commented on #5299
@xuanit with that `resolv.conf` failures are to be expected no?

Hence if the first try fails, it will not try again, you need to increase that number.

[2019-12-20 18:34] hishamhm commented on #4469
This is finally fixed with #5360 ! Both route path construction algorithms will be supported in Kong 2.0 (and the default reverted back to the 0.x behavior)

[2019-12-20 18:34] #4469 closed

[2019-12-20 21:20] bungle commented on #5327
Closing this as we added it back with #5361. Sorry for all inconvenience, must have something to do with switching the migration framework.

[2019-12-20 21:20] #5327 closed

[2019-12-20 21:22] bungle commented on #5301
@mnteam thanks for pr, I am sure we will look at it soon, good stuff!

[2019-12-20 21:24] ykuksenko commented on #5018
Same issue here.
I tried looking at a workaround for this by binding the docker to port 443/80 but the docker image won't allow that at this time because it doesn't use CAP_NET_BIND_SERVICE even if the capability is added to the container. https://github.com/Kong/docker-kong/pull/213 should fix that in theory. But the pr seems stuck.

[2019-12-20 21:24] bungle commented on #5300
We added support with:
https://github.com/Kong/kong/pull/5332

Thus I am closing this.

[2019-12-20 21:24] #5300 closed

[2019-12-20 21:26] bungle commented on #5263
For JSON we could implement `merge_patch` but for other content types, there is no standard.

[2019-12-20 21:38] bungle commented on #4776
As nothing has happened here, I feel we don't have enough information to pursue this any further.

[2019-12-20 21:38] #4776 closed

[2019-12-20 21:44] bungle commented on #4375
This has been fixed in: https://github.com/Kong/kong/pull/4698

[2019-12-20 21:44] #4375 closed

[2019-12-20 21:46] bungle commented on #3939
This is not needed anymore as we removed `service mesh`.

[2019-12-20 21:46] #3939 closed

[2019-12-20 21:54] bungle commented on #153
I guess this refers to this: https://docs.microsoft.com/en-us/azure/architecture/patterns/bulkhead

[2019-12-20 22:02] bungle commented on #858
Storm path´

[2019-12-20 22:02] #858 closed

[2019-12-20 22:12] bungle commented on #2138
I opened this, so I will also close this :-)

[2019-12-20 22:12] #2138 closed

[2019-12-20 22:19] bungle commented on #5328
This old issue also reported about prng_seeds:
https://github.com/Kong/kong/issues/4351

[2019-12-20 22:26] bungle commented on #4376
I don't find such method call anymore, thus closing this.

[2019-12-20 22:26] #4376 closed

[2019-12-20 22:30] bungle commented on #4412
I close this. It is really hard to know what is going on or what is wrong. Perhaps there was a bug on Admin API at some point. As no feedback  has been received, I'll close this.

[2019-12-20 22:30] #4412 closed

[2019-12-20 22:35] bungle commented on #4557
You can use e.g.
[code]

Not sure if that directive is supported anymore. Thus closing this.

[2019-12-20 22:42] bungle commented on #4575
As this seems to be relating to Kong Enterpise, I will close this. If you can provide a way we can reproduce it on Kong, please reopen.

[2019-12-20 22:42] #4575 closed

[2019-12-20 22:44] bungle commented on #4664
As no feedback has not been received, I close this. @jkumar-roambee, please reopen if you have more information, or you still struggle with it.

[2019-12-20 22:44] #4664 closed

[2019-12-20 22:50] bungle commented on #4679
I don't know. I guess this was fixed? @xiezongnan is this still an issue? if it is, please reopen, and send use information where you see this in up-to-date version.

[2019-12-20 22:50] #4679 closed

[2019-12-20 23:00] bungle commented on #5000
@cvaram96 do you mean have we implemented:
 `longest matching prefix` OR `exact match`?

The last one can be done with regex, but we have not implemented `exact_match`. The another is also missing. But that is just what Nginx provides, that is by no means complete or the `truth`. We are considering implementing a more flexible routing with `3.0`, but nothing has been decided so far. Suggestions ar

[2019-12-21 02:49] xuanit commented on #5299
@Tieske ,
Agreed it's the way [lua-resty-dns](https://github.com/openresty/lua-resty-dns) is working. However, the behavior is different from Ubuntu's default DNS client. For example, with that setting, `ping` and `nslookup` command won't fail.

From their [document](http://manpages.ubuntu.com/manpages/bionic/man5/resolv.conf.5.html).
[code]

[2019-12-21 03:53] AsherThomasBabu commented on #5136
Check this PR please,
I added the missing breaking changes as mentioned earlier
https://github.com/Kong/kong/pull/5365#issue-355966730

[2019-12-22 05:58] codjust opened #5367 "validate_header_name allow invalid characters '_', bug?"
### Summary
I found header name character not allow '_'.   But utils.lua validate_header_name function allow:
[code]
it is a bug?

### Steps To Reproduce
eg:
[code]
test curl:
[code]
"test_header" header name is invalid.

[2019-12-22 14:48] bungle commented on #5367
@codjust, I think it is because of you have not specified a value, try:
[code]

[2019-12-22 16:24] codjust commented on #5367
[code]
no, I retry it.  custom header name character '_'  is not allow.

[2019-12-22 17:39] bungle commented on #5367
@codjust,

have you tried:

[code]

or:

[code]

See:
http://nginx.org/en/docs/http/ngx_http_core_module.html#underscores_in_headers
http://nginx.org/en/docs/http/ngx_http_core_module.html#ignore_invalid_headers

[2019-12-23 01:56] codjust commented on #5367
--

***underscores_in_headers on；***
 or
***ignore_invalid_headers off；***
it is right.  I'm sorry that I didn't know this instruction before.
So we need to turn on ***underscores_in_headers***  instruction  when using kong?
Because validate_header_name schema function allow invalid characters '_'.

[2019-12-23 06:00] bungle commented on #5367
Yes, you can turn it on if you want to support such headers. Perhaps we can turn underscores on by default. I will create a backlogbitem, and well I consider this solved and close it, please reopen if you think there is further info/discussion needed.

[2019-12-23 06:00] #5367 closed

[2019-12-23 06:15] codjust commented on #5367
ok，thx！

[2019-12-23 14:11] Tieske commented on #153
Just read that article, wondering whether there's anything in there that cannot already be done with Kong?

Load balancer with consistent hashing, will cover this no?

[2019-12-23 14:22] travisreed commented on #5297
@p0pr0ck5 is there something that I need to do in order to enable the newer version of the plugin? I am running kong 1.4.0 and am still seeing the schema from the old codebase enforced.

I have included more detailed information and steps to reproduce here: https://github.com/Kong/kong-plugin-aws-lambda/issues/17

[2019-12-23 18:43] atikhono opened #5371 "Possible router bug since 1.3.0"
### Summary

Prefix path matching behaviour has changed since 1.3.0. Longest path routes are no longer matched as expected. Reproducible on 1.4.x as well. 1.2.2 is not affected.

### Steps To Reproduce

1. Start kong in db-less mode with the following kong.conf and kong.yaml:

[code]

kong.conf:

[code]

kong.yaml:

[code]
2. Call kong as follows:

[code]

With Kong 1.3.0+ public-apiv1 is getting

[2019-12-23 22:34] hishamhm commented on #5371
@atikhono Hi, thank you for the report! We need to investigate this a bit further to confirm if it's a bug, but in the meantime, you can get your desired behavior using regex matches. I believe this will work as you intend:

[code]

[2019-12-24 03:09] sfs77 opened #5373 "kong disable upstream healthy check, but error log continued show `[healthchecks] failed setting peer status: no peer found by name`"
### Summary

use Consul as DNS SRV provider,
kong disable upstream healthy check, but error log still continued show `[healthchecks] failed setting peer status: no peer found by name`

### Steps To Reproduce

1. install kong gateway and Consul
2. use dnsmasq(or unbound) forward DNS query for consul， set dns_resolver point to dnsmasq
3. register some service to consul
4. in kong, upstream healthy c

[2019-12-24 08:10] al942u opened #5374 "Kong throws '404 - no Route matched with those values' because of corrupted Cache"
### Summary
When the system under massive traffic, and CRUD routes via Kong's admin API frequently, Kong returns `404 - no Route matched with those values` for a route path that exists at times.
the delete route occasionally returns `500: {"message":"An unexpected error occurred"}`. When we retry to delete - in succeed.
It happens randomly (once a week) and for a while taking the cache to rebuilt

[2019-12-24 11:23] bungle commented on #5374
I think cache is not an issue. It is just too many workers try to update and it takes time. Thus why don't you always use `eventual`?

[2019-12-24 12:04] iver3on opened #5375 "kong 0.9.9 Seems to have upsteam's cache, keep reporting connect () failed (111: Connection refused) while connecting to upstream"
kong 0.9.9
Seems to have upsteam's cache, keep reporting connect () failed (111: Connection refused) while connecting to upstream。。

The upstream is found to be up-to-date, but the Kong request is the old upstream. Why is this happening?

After restarting Kong, it will recover, but this problem will occur again after some time.
![image](https://user-images.githubusercontent.com/12184988/71412440-9

[2019-12-24 12:05] iver3on commented on #5375
Experts help me

[2019-12-24 12:14] Sea-Flying commented on #5373
refer to [balancer.lua:242](https://github.com/Kong/kong/blob/1.4.2/kong/runloop/balancer.lua#L294)
why I disable upstream healthy check but still call Function `attach_healthchecker_to_balancer`, and log lots of error

[2019-12-24 14:43] UnixBoy1 commented on #5374
@bungle Also happened with eventual,  Aslo the same tested with one worker.

[2019-12-24 16:11] al942u commented on #5374
hi @bungle , Thanks for your reply.
1. We believe the cache is the issue because when validating the data in Cassandra, everything is there and valid (so, we came to the conclusion the memory of the cache is corrupted and therefore the routes not found).
2. We started with 8 workers and then reduce it to 4 - still happened, now it was reduced to one worker and it's still happening. So reducing the

[2019-12-24 21:31] jeremyjpj0916 commented on #5375
I think on 0.9.9 you will need to migrate to one of the more modern Kong versions for proper support, lots has been fixed between those early releases and the soon to officially release 2.x Kong series now.

[2019-12-25 02:06] iver3on commented on #5375
@jeremyjpj0916 emmm. history problem.can not upgrade.

[2019-12-25 03:01] JoyZhang66 commented on #5296
@hishamhm Sorry for late reply. I try same steps in 1.4.2 and DNS_ERROR issue doesn't appear anymore. Thank you for your help.

[2019-12-25 03:01] #5296 closed

[2019-12-25 08:41] bungle commented on #5374
I guess that needs further investigation. What I mean that it is not necessarily a corruption issue. you are just pushing tje workers. E.g. you make some load to them while triggering constant router/plugins rebuilds. You seem to be creating and deleting route. Thus some rebuilds will get router without that route (giving that 404) and some with that route? It could easily be that Cassandra is bot

[2019-12-25 11:33] al942u commented on #5374
Thank you for your response.

I want to understand,
When working in `eventual` mode, my understanding of the new cache is being built in the background and then Kong "switches" the caches to the newly built one. I would not expect to see any 404 on old/existing (that not deleted) routes (at any giving time).

The 404's are on existing routes that not related to CRUD ones.

When we observe these 40

[2019-12-25 13:51] bungle commented on #5374
New cache is built based on certain events. E.g. deleting a route causes it. Now if you did delete and create, that means two events, both of which trigger rebuild. So it can be you got rebuilt with only delete in it and not create. It can even be possible that ypu got create and delete in, but we skipped some other route because of paging. That's the thing I was referring about detecting changes.

[2019-12-25 14:00] bungle commented on #5374
How many Kong nodes do you run during the test?

[2019-12-26 18:38] al942u commented on #5374
We have 4 K8S worker nodes.
On these nodes, there are 6 K8S pods of `ControlPlan`, 6 K8S pods of `DataPlan` and 2 K8S pods of `UserExperience` (I remind you that each pod runs 1 NGINX worker).

@bungle , Can you please elaborate on the paging issue which may cause the problem of the missing routes?

Many thanks.

[2019-12-26 19:07] lukasa1993 commented on #4707
any hope for this?

[2019-12-26 19:09] guanlan commented on #5375
@iver3on We will provide a command for automated APIs to Routes and Services migration and deprecate all the supports for pre 1.0 versions, see https://github.com/Kong/kong/pull/5176
I hope it might help, closing this for now.

[2019-12-26 19:09] #5375 closed

[2019-12-27 11:32] odirus opened #5378 "Can i get plugin config when extending the admin api ?"
### Summary

I put api.lua in plugin directory, according to official document, [Extending the admin api](https://docs.konghq.com/1.4.x/plugin-development/admin-api/)

But how can i get plugin config when extending the admin api, just like in `handler.lua`:
`Plugin:access(config)`

### Additional Details & Logs

- Kong version: 1.4.2
- Operating system: Docker official image

[2019-12-27 16:29] bungle commented on #5378
Admin API has no connection with invidual plugin configuration stored in plugins table, but sure you can excute query in plugins table to find one.

[2019-12-27 16:49] bungle commented on #5374
@al942u

The pagination issue is this:
https://github.com/Kong/kong/blob/next/kong/runloop/handler.lua#L638

[code]

That actually may make multiple database calls, and inside that loop there are other possible db calls.

So think it got 1000 rows in first `call` now it processes rows and you create a new row. But that row got inserted in first page, we will miss that route. There are other cases

[2019-12-28 04:02] odirus commented on #5378
Thank you. I have already implemented the admin business api in plugin handler, it works well.

[2019-12-28 04:02] #5378 closed

[2019-12-28 08:24] fusi0011 opened #5379 "consul uses consul dns address and other uses another dns address. feasible?"
i buy pgsql server on aliyun , it address is domain name and `dns_resolver` is consul dns address, but an anomaly of 'dns server error: 3 name error' was found
currently, the solutions:
1. uses consul configuration options `-recursor` =  upstream DNS servers
2. DNS forwarding using 'bind'

Do you guys have a better solution?

[2019-12-28 11:11] p0pr0ck5 commented on #5379
Either one is appropriate, though in general I prefer the latter. This is because an unavailability in the Consul cluster would prevent _all_ dns recursion. Best to point Kong’s DNS resolver at an intermediary proxy like bind or unbound, and forward traffic to a stub zone for consul records appropriately

[2019-12-28 11:11] #5379 closed

[2019-12-29 13:44] saeed-cs opened #5380 "Add consumers fields"
**I need to add new column to consumers fields such as phone
how can i do this ?**

I know this feature exist in enterprise version but i cant buy it and must add this manually

show me a road map to solve this problem, please.

I trying to add new fileds in db/schema/entities/consumers.lua as below:

$ cat db/schema/entities/consumers.lua

I create new migration for add new filed and kong migrati

[2019-12-30 09:43] fusi0011 commented on #5379
tks

[2019-12-30 10:14] bungle commented on #5380
@saeed-cs,

It is recommended that you add your own entity and then unique foreign pointing to consumers instead.

[2019-12-30 11:40] zkenstein opened #5381 "[HELP] Got message: not found"
### Summary

Hi All, I tried to create a new service and route on Kong within the external endpoint
**Note: I am using httpie**

### Steps To Reproduce

1. Create Service using this command: `http :8001/services name=getAllAccountDetails url=http://external.com/api/prod/rest/getAllAccountDetails`
2. Create Route within this command based on service id: `http :8001/routes service:='{"id":"fec74959-

[2019-12-30 14:29] al942u commented on #5374
Hi @bungle ,
Thank you for your quick reply.

Our use case is a production running solution where CRUD may not happen for a few hours or it might happen multiple times in a second for a short period of time.

This change is less suitable for us because we might have a burst of rebuilds (it could happen because we have multiple routes creations a second)

**Does the paging issue happen in Postgress

[2019-12-30 18:54] megakoresh opened #5385 "Add LDAP group filter to ACL plugin"
### Summary

As [this issue](https://github.com/Kong/kong/issues/1439) points out, you cannot use ACL currently to filter LDAP groups, meaning no requests are ever authorized - only authenticated.

This makes the LDAP plugin rather useless IMO, since it's highly unlikely that you'd want an "all or nothing" kind of authorization, where anyone with any kind of LDAP credentials can access any route t

[2019-12-30 19:32] bungle commented on #5371
@atikhono mind you trying: #5383

[2019-12-30 19:38] darrenjennings commented on #5385
this is a (relatively new Kong EE v1.3, and sadly undocumented) feature of the enterprise version of this plugin ([ldap-auth-advanced](https://docs.konghq.com/hub/kong-inc/ldap-auth-advanced/)). cc: @Kong/team-docs looks like we need to get the new fields (`group_base_dn`, `group_name_attribute`, `group_member_attribute`) and a tutorial for working with ACL plugin.

[2019-12-30 21:05] bungle commented on #5374
How about this change:
https://github.com/Kong/kong/commit/d028f67fffef0927f1b2a4fb07ea897f2248832d

It does check for changes while rebuilding, but instead of recursively rebuilding, it just cancels the build because it may lead to `invalid state router` in some edge case. The version is not updated, so with `eventual` new rebuild try is started after `router_update_frequency`.

We also need to e

[2019-12-30 21:50] bungle commented on #5381
@zkenstein

I tried that and it worked ok. What are you exactly doing at `3.`?

[2019-12-31 13:43] zgjin opened #5386 "about kong.router.lua."
### Summary

When I read kong's source code, I found this:

[code]
and the categories's match_weight is:
[code]

I was confused that what does the categories mean? It's value is just the first route_t put into category table. Why use this variable to sort categories?

### Additional Details & Logs

- Kong version (`$ kong version`): tag-1.4.2

[2020-01-01 13:34] megakoresh commented on #5385
@darrenjennings Is there a chance this will be available in Open Source edition? If not, then is the recommended way to authenticate and authorize to simply use another auth plugin?

I can't imagine any use-cases for LDAP auth plugin without this feature (even if the organization is not that large), so I am curious if the recommended approach involves some sort of auth proxy or is it to simply not

[2020-01-02 03:33] zkenstein commented on #5381
Hi @bungle ,
On the point 3. I tried to testing the API call in POST method with endpoint `http://konghost:8001/v1/prod/getAllAccountDetails` with body raw data: `{ "AccountId":"65454154", "tenantID":"0" }` and got the result
[code]

[2020-01-02 08:20] theWayToAI commented on #1918
hi, I don't know why, but this endpoint doesn't work for me, any other endpoint is working fine.This endpoint just list all tokens no matter what authenticated_userid I type in. Do you know why ?

[2020-01-02 14:05] bungle commented on #5381
@zkenstein, it looks like you are firing that request to `admin` port, not to the `proxy` port.

[2020-01-02 15:58] BenJaziaSadok commented on #1780
Hello @danielvijge, i'm facing the same issue, did you find a way to do that?

[2020-01-02 17:12] darrenjennings commented on #5385
@megakoresh thanks for the comment, I agree it's fairly limiting as an authentication only without authorization, though I don't believe this is planned for open source at the moment.

[2020-01-02 19:26] carnei-ro opened #5388 "Kong 1.4.2 Ubuntu ARM64 image not working"
### Summary

Image 1.4.2-ubuntu for arm64 is not working.

### Steps To Reproduce

1. `docker run --rm -it --entrypoint=/bin/bash kong:ubuntu`
2. `kong version`
[code]

[2020-01-03 05:15] sampsonhuo commented on #5388
I encountered the same problem！

The nginx in kong:1.4.2-ubuntu for arm64 is x86_64：

# file /usr/local/openresty/nginx/sbin/nginx
nginx: ELF 64-bit LSB executable, x86-64, version 1 (SYSV), dynamically linked (uses shared libs), for GNU/Linux 2.6.32, BuildID[sha1]=4c5a740327d6544393602efa8652f744af990a49, not stripped

[2020-01-03 07:20] iver3on commented on #5388
@carnei-ro   Does it support arm64?

[2020-01-03 07:21] iver3on commented on #5388
I also need to verify kong's support for arm64. Does the official support mirroring and theory?

[2020-01-03 07:23] iver3on commented on #5375
@guanlan    The upstream is found to be up-to-date, but the Kong request is the old upstream. Why is this happening?

After restarting Kong, it will recover, but this problem will occur again after some time.

[2020-01-03 07:24] iver3on commented on #5375
@guanlan Isn't this Kong cache issue a known issue? 1. * version has resolved it?

[2020-01-03 10:52] carnei-ro commented on #5388
@iver3on yes, kong works with x86 and arm64 (the last one is quite new. The 1.4.0 ubuntu image works)

[2020-01-03 12:41] SzymonKlimuk opened #5389 "Question about kong/kong/db/strategies/cassandra/connector.lua"
Hello,

I just would like to ask about the purpose of setting package.loaded[] = nil in cassandra's connector.

I know that this is the lua way to reload the modules, but why is it required here?

package.loaded["resty.dns.resolver"] = nil
package.loaded["resty.dns.client"] = nil
package.loaded["kong.tools.dns"] = nil
package.loaded["socket"] = nil

Why am I asking about it? We reuse the kong's DB

[2020-01-03 13:26] bungle commented on #5389
Isn't that explained there in a comment:
https://github.com/Kong/kong/blob/master/kong/db/strategies/cassandra/connector.lua#L15-L27

[2020-01-03 13:31] bungle commented on #5389
Some more context to it:
https://github.com/Kong/kong/pull/4378

[2020-01-04 13:18] debu99 opened #5394 "add upstream name in upstream target healthcheck"
curl http://192.168.1.112:8001/upstreams/e365165c-4ad2-544d-9aec-d4fd444a456f/health

add upstream name into the response

[2020-01-06 10:46] zkenstein commented on #5381
Thanks for mentioned the port, my mistake. and also it should enable strip path and now the api works properly. Thanks @bungle

[2020-01-06 10:46] #5381 closed

[2020-01-06 17:26] travisreed commented on #5297
@p0pr0ck5 I learned that kong is not yet being bundled with the plugin version that reaches out to the aws metadata service. Until kong 2.0, the deployed aws-lambda plugin is the version included in this repo at: https://github.com/Kong/kong/tree/master/kong/plugins/aws-lambda

Could you point me to where to edit this documentation? https://docs.konghq.com/hub/kong-inc/aws-lambda/

More info: http

[2020-01-07 07:14] megakoresh commented on #5385
@darrenjennings

I see. Thanks for letting me know, I believe there's nothing else to discuss here

[2020-01-07 07:14] #5385 closed

[2020-01-07 08:31] chris-cmsoft opened #5400 "Allow specifying multiple config files"
### Summary

We are using Kong in Kubernetes as a Gateway rather than an ingress, as we need the route functionality as part of the gateway (Timeouts & rate limits are increases per route).

We have an automated process which registers routes from an OpenAPI spec, and the configuration for services in yaml can get fairly large.

We are storing these yaml file as config maps, but Kubernetes has lim

[2020-01-07 09:17] SzymonKlimuk commented on #5389
Ok great. Thanks for the information. I assume that you don't want to use ngx.timer to have cosockets api available as describer here:

https://github.com/openresty/lua-nginx-module#lua-coroutine-yieldingresuming

"There exists a workaround, however, when the original context does not need to wait for the cosocket results. That is, creating a zero-delay timer via the ngx.timer.at API and do the co

[2020-01-07 09:44] altexy opened #5401 "Schema validation in db-less mode Kong 1.4"
### Summary

Schema validation silently ignored when starting Kong in db-less mode.

### Steps To Reproduce

1. Write db-less config with any plugin with missed required field.
2. Start Kong in DB-less mode

Kong 1.3.x failed to start, the error log contains an appropriate message.

Kong 1.4.x silently start, no schema validation logs present.

### Additional Details & Logs

- Kong version officia

[2020-01-07 12:09] Tieske commented on #155
@carnei-ro can you add a license to your repo?

[2020-01-07 12:17] bungle commented on #5401
@altexy, thanks for reporting. Possibly a bug.

[2020-01-07 12:33] carnei-ro commented on #155
@Tieske I moved from bitbucket to github, please, use the link: https://github.com/carnei-ro/kong-aggregator. It has MIT license.

[2020-01-07 15:01] al942u commented on #5374
Hi @bungle ,
Sorry for the delayed response.

On previous comments, I answered some of your questions but let elaborate here:
- First, our case is related to "old" routes that did not change at all (not those which currently created or deleted). And therefore we tend to agree with the paging issue and not the fire event on a specific worker's issue. BTW, The corrupted worker/workers worked fine an

[2020-01-07 16:43] p0pr0ck5 commented on #5400
+1, this would be very nice. Providing a config dir path allows for multiple teams to drop-in configs. Handling conflict might be a bit tricky, but there’s value there. It would also help in certain config management scenarios, eg chef/puppet/ansible drops in context-specific configs (eg a proxy.conf, admin.conf, db.conf, etc).

[2020-01-07 18:30] derba opened #5402 "Kong not compatible with rfc7807"
### Summary

When I send a bad POST request, e.g. trying to add a service plug-in without its name being defined, then I get 4xx answer with a JSON detailing the problem. But content-type is not set according to [RFC7807](https://tools.ietf.org/html/rfc7807). That should be `application/problem+json`.

### Steps To Reproduce

1. `curl -v -X POST http://localhost:8001/services/myservice/plugins -H

[2020-01-07 20:54] #5371 closed

[2020-01-08 10:24] king311247 opened #5406 "Route by host doesn't work"
- Work config:

create service

`curl -i -X POST http://localhost:8001/services/ \
    -d 'name=foo-service' \
    -d 'url=https://www.nuget.org/'`

create route

curl -i -X POST http://localhost:8001/routes/ \
    -d 'paths[]=/foo' \
    -d 'service.name=foo-service'

success result

![image](https://user-images.githubusercontent.com/10952874/71970300-6102ea00-3243-11ea-9560-88f10e4b6a84.png)

-

[2020-01-08 22:50] carnei-ro commented on #5388
created docker image leandrocarneiro/kong:1.4.2-ubuntu => arm64

[2020-01-08 23:11] krish7919 commented on #4745
Is it possible to proxy a set of metrics received over HTTP/TCP to a dogstatsd upstream server running UDP?

[2020-01-09 01:33] xmapst commented on #5324
I found that modifying Kong's working relationship in 1.4.2 can solve the problem of excessive memory
Step 1:  Copy and modify the original docker-entrypoint.sh script
[code]
Step 2: Rebuild image
[code]
Kong work connections are passed in through external variables ```KONG_CONNECTIONS```

[2020-01-09 04:02] kailashverma2402 opened #5416 "Kong IP Restriction plugin not working | error "message": "Your IP address is not allowed""
### Summary

I have implemented IP restriction plugin on my Kong setup. When enabling the plugin, getting below mentioned error :
{
    "message": "Your IP address is not allowed"
}

### Steps To Reproduce

1. Enabled IP restriction plugin
2. Whitelisted my organisation's IP from where i need to access the API
3. When trying to access the API, getting error "Your IP address is not allowed"
4. Its

[2020-01-09 12:17] atikhono commented on #5371
@bungle Sorry for delay, public holidays in my location. I tested my reproducer with a centos-based image and kong-nightly/2020-01-08 build, looks good. I will test it with my application ASAP and let you know in case of any further routing issues. Could we please have this fix included for the upcoming 1.4.x and 2.0.0 releases?

[2020-01-09 13:23] #5260 closed

[2020-01-09 14:24] atikhono opened #5418 "Longest path routing breaks when a route with different host and same path is added"
### Summary

After #5371 is fixed, longest path routing still breaks when I add another route with the same paths and different host to my declarative configuration piece. Wrong service is getting matched. The issue persists since 1.3.0.

### Steps To Reproduce

1. Start kong in db-less mode with the following kong.conf and kong.yaml:
[code]
kong.conf:
[code]
kong.yaml:
[code]
Added devportal-aux-

[2020-01-09 14:58] bungle commented on #5418
ok thank you for reporting. sounds like a bug persists somwhere still.

[2020-01-09 16:33] hutchic commented on #5388
Sorry about the mixup / thanks for bringing it to our attention.

The Kong 1.4.2 bintray asset has been fixed. Until the official docker image is updated one can build it locally if necessary:

[code]

Alternatively the one I built is available here ( hutchic/kong:1.4.2-arm )

[2020-01-09 19:14] magicalbanana opened #5423 "Unable to set client certificate for Postgres SSL connection"
### Summary

There seems to be no way to specify the client certificate to be used when enabling Postgres SSL connection

### Steps To Reproduce

1. Use helm-chart Kong
2. Create a new instance of SQL in GCP allowing only SSL enabled connections
3. Deploy Kong with the configuration of `pg_ssl = on`

### Additional Details & Logs

[code]

[2020-01-09 19:18] bungle commented on #5406
I tried this with `next` branch and it seemed to work, so it might be fixed already.

[2020-01-09 19:33] bungle commented on #5423
@magicalbanana, yes it is a known limitations, we need to get this in `OpenResty` before we can make another PR to `pgmoon` and then finally land it in `Kong`. We also need to probably see how we can support it with `LuaSockets`: https://github.com/openresty/lua-nginx-module/pull/1602

[2020-01-09 19:35] bungle commented on #5423
@magicalbanana, possible workaround until then is to use Nginx stream proxy (or other proxy/bouncer), and set client cert there.

[2020-01-09 19:36] OscarCode9 commented on #4666
@Nayanabvreddy  could you solve your problem ?

[2020-01-09 19:43] timkelley-ingage opened #5424 "Kong Admin API - POST /plugins: Slow Response Time"
### Summary

When making a call to POST /plugins, the request is taking up to 30 seconds to complete.  I am running the Kong docker container and have tested with both Cassandra and PostgreSQL databases.

Note: When changing the version of Kong to 1.3.0, the request completes < 100 ms.

### Steps To Reproduce
Follow the basic steps to start Kong using docker from: https://registry.hub.docker.com/_

[2020-01-09 20:19] magicalbanana commented on #5423
@bungle thanks for replying. Kinda sucks to be that way but using the `nginx` proxy would be difficult given that I am using a managed Postgres from GCP. Or are you referring to something else?

[2020-01-10 01:03] bungle commented on #5424
I am pretty sure this fixes it:
https://github.com/Kong/kong/pull/5270

[2020-01-10 01:30] bungle commented on #5389
Timers are not available on init. And we need that code non-async.

[2020-01-10 01:49] timkelley-ingage commented on #5424
Thanks for the response! One other point I forgot to mention is that all other POST requests to routes/services are still quick.  It's only plugins that is the issue.

Not sure if that changes anything.

Also, I see this fix was pulled into 2.0.0. Will this be pulled into a new 1.4 release as well?

[2020-01-10 07:09] zkenstein opened #5426 "[QUESTION] How to move the another server"
### Summary

Hello Team,

Is there any documentation how to move current kong with data to different server? I tried the Kong migrations but no luck.

Thanks

[2020-01-10 07:34] fr-manish opened #5427 "mtls-auth showing "No required TLS certificate was sent""
### Summary

Enabling mtls-auth showing "No required TLS certificate was sent" even when client is proving client certificate

### Steps To Reproduce

1. Set up Service and Route in Kong (using UI)
2. Verify its working
2. Add a CA certificate created locally (using UI)
3. Enable mts-auth plugin for above route
4. Setup client certificate(created locally) in browser(or system wide) and call API in

[2020-01-10 09:26] fr-manish commented on #5427
It seems kong is not requesting for client cert in SERVER HELLO.
**Kong :**
[code]

It works fine if I use nginx standalone config :
[code]

[2020-01-10 10:33] timkelley-ingage commented on #5424
Update: I have decided for right now, to turn off the sending of anonymous reports.  I was unaware of that feature, and it is not something I want to have on in my environment.

[2020-01-10 11:27] Tieske commented on #5426
the configuration is stored in the database. So start a new Kong system (copy over the config file/environment variables), and connect to the same database. That is all.

The migrations are for upgrading between Kong versions

[2020-01-10 11:27] #5426 closed

[2020-01-10 11:34] bungle commented on #5424
@timkelley-ingage, I am glad it fixed your problem. We haven't considered it important enough to be backported as there is a workaround. Closing this.

[2020-01-10 11:34] #5424 closed

[2020-01-10 13:13] bungle commented on #5374
@al942u, any chance you could try #5429?

[2020-01-10 13:18] bungle commented on #5324
As #5390 was merged, I will close this. The new upper cap is 65536.

[2020-01-10 13:18] #5324 closed

[2020-01-10 15:04] hishamhm commented on #5374
@al942u also, if possible could you let us know how many Routes you have configured in your database?

This will help us know if the router rebuild iteration needs to do pagination on the DB, and will give us a better idea whether the root cause is the one addressed in #5429.

[2020-01-10 17:33] hbagdi commented on #4745
No. Kong cannot do protocol conversion between HTTP or TCP to UDP.

[2020-01-10 17:46] #5418 closed

[2020-01-10 20:39] hishamhm commented on #93
I think it's fair to say that Kong has a plugin architecture by now. :)

[2020-01-10 20:39] #93 closed

[2020-01-10 21:38] #5380 closed

[2020-01-10 21:40] guanlan commented on #5258
@nguyenptk See https://docs.konghq.com/1.4.x/upgrading/ for the upgrade to the latest version. Closing this.

[2020-01-10 21:40] #5258 closed

[2020-01-10 21:42] #5317 closed

[2020-01-10 22:21] seifchen opened #5436 "connection timed out"
### Summary

I use kong docker version 1.4.2 to run in 4core8G vm
when I requests to kong with 8000 concurency in 1min got many error:
[code]

### Steps To Reproduce

1. start kong use docker to run
2. add request-termination to the route
3. pressure test 8000qps use 1 min
### Additional Details & Logs

- Kong version (1.4.2)
- Kong debug-level startup logs (`$ kong start --vv`)
- centos
- configu

[2020-01-10 22:23] p0pr0ck5 commented on #4964
Hi,

This functionality is currently available in Kong Enterprise as an alpha-quality feature release. Documentation is available at https://docs.konghq.com/hub/kong-inc/key-auth-enc/.

[2020-01-10 22:31] p0pr0ck5 commented on #1237
Just as an update, this functionality is available as an alpha-quality feature made available in the most recent release of Kong Enterprise. See https://docs.konghq.com/enterprise/1.3-x/db-encryption/ for an overview of functionality.

[2020-01-11 09:25] terryhy520 commented on #4964
Hi @p0pr0ck5 ,is there any plan to put this feature into Kong Community Edition?

[2020-01-11 09:36] terryhy520 commented on #4964
@bungle The url is “404”, does that mean the feature has been given up?

[2020-01-11 15:23] p0pr0ck5 commented on #4964
No, it means the code has been merged into the master branch. :)

As for making the encryption keyring functionality available in the community edition, that is something we may decide to do at a later date. For now, the DAO transformations can be used to start to implement something like this. See the basic auth plugin as an example for performing data transformation. Note that doing something li

[2020-01-11 15:33] bungle commented on #5401
@hishamhm, do you have an idea about this?

[2020-01-11 20:35] bungle commented on #5436
Any errors on error.log? What status code, or just ’closed’? Are we sure it is because of Kong and not because of upstream?

[2020-01-12 20:57] bungle commented on #5416
does `123.123.0.0/16` work?

[2020-01-13 01:22] terryhy520 opened #5437 "key-auth plugin supports storing "key" encrypted in database"
### key-auth plugin supports storing "key" encrypted in database

[code]
"Key" as sensitive information should not be stored in the database in plain text, is there any plan to supports storing "key" encrypted in database?

[2020-01-13 01:42] p0pr0ck5 commented on #5437
Hi,

This is currently available as an enterprise plugin currently: https://docs.konghq.com/hub/kong-inc/key-auth-enc/

It may be made available in the open source version in the future. Thank you!

[2020-01-13 01:42] #5437 closed

[2020-01-13 02:53] panhow commented on #5406
i got the similar problem, would you explain why this happened?

[2020-01-13 06:41] kailashverma2402 commented on #5416
Nope its not working. IP (123.123.23.123/16) mentioned is just for an example.
Actually I am writing my public IP. So logically it should work.
Because when I disable the plugin by :
"enabled": true.
It accessible.

[2020-01-13 09:21] kailashverma2402 commented on #5416
@bungle  I tried below mentioned ways to troubleshoot:
* Whitelist x.x.0.0/16 : Did not work.
* Whitelist Specific IP address which I get from My IP : Did not work
* Whitelist 0.0.0.0/0 : It worked!!

Can you please let me know if I am missing something ?

[2020-01-13 09:28] Tieske commented on #334
Just for reference; This feature has been added to Kong Enterprise (from 0.36-x versions)

[2020-01-13 09:31] Tieske commented on #2558
This is now available in the Enterprise edition. The `openapi2kong` utility will be able to generate a validation configuration for the request validation plugin.

See also: https://github.com/Kong/kong/issues/334#issuecomment-573574777

[2020-01-13 09:31] #2558 closed

[2020-01-13 11:10] bungle commented on #5416
@kailashverma2402,

I just tried it and it works just fine. It would be easier to help, if you give us all your steps, like this:

#### Create a service

[code]
[code]
[code]

#### Create a route

[code]
[code]
[code]

#### Add a Plugin

[code]
[code]
[code]

#### Make a Request

[code]
[code]
[code]

#### Patch the plugin with /16

[code]
[code]
[code]

#### Test with /16

[code]
[code]
[code]

#

[2020-01-13 14:41] #5269 closed

[2020-01-13 15:27] atikhono opened #5438 "Longest path routing with multiple hosts and the same path is broken"
### Summary

After #5418 is fixed, longest path routing still breaks when I add more than one route with the same path and different host to my declarative configuration piece. Wrong service is getting matched.

### Steps To Reproduce

1. Start kong in db-less mode with the following kong.conf and kong.yaml:
[code]

kong.conf:
[code]

kong.yaml:
[code]
Added devportal-aux-host2 service and route c

[2020-01-13 15:52] locao commented on #5438
Hi @atikhono, thanks for your report. I'll take a look at this!

[2020-01-13 18:14] namirsab opened #5439 "FATAL: sorry, too many clients already"
Since today's latest deployment, we are experiencing problems with Kong and the Postgresql backend

Kong Version: 0.14.1 (we know we have to update but we don't understand why this error is happening)

Postgres: 9.6

This error happens in KONG:
![image](https://user-images.githubusercontent.com/6980777/72273972-9f295080-362b-11ea-87ca-b46a3d1074a3.png)

This error happens in PostgreSQL:
[code]

As

[2020-01-13 18:19] p0pr0ck5 commented on #5439
In older versions of Kong, there is no upper bound on the number of connections that can be made to Kong. More recent releases allow you to [limit the number of concurrent queries](https://docs.konghq.com/1.4.x/configuration/#postgres-settings).

`too many clients` can be triggered by a number of behaviors, such as cold cache on the proxy side, an increase in the number of Admin API queries, scali

[2020-01-13 18:19] #5439 closed

[2020-01-13 18:21] p0pr0ck5 commented on #5402
I'm not sure that this is an issue, as I don't believe Kong _tries_ to be compatible with this RFC.

@derba would you consider submitting a PR for this feature, so we can discuss there?

[2020-01-13 18:22] p0pr0ck5 commented on #5254
@mattsaddo would you be willing to submit a PR for this functionality?

[2020-01-13 18:22] p0pr0ck5 commented on #5241
@seeadoog can you provide us the contents of the error log when you see this behavior?

[2020-01-13 18:25] p0pr0ck5 commented on #5157
`connection refused` implies that the remote host rejected the connection, likely because it didn't have an open socket listening on the given host and port. You should double check your configuration and ensure the remote end is listening on the IP and port you've configured.

Given this, I will close this issue now; please let us know if you have any other questions. Thanks!

[2020-01-13 18:25] #5157 closed

[2020-01-13 18:28] p0pr0ck5 commented on #5002
We'd encourage you to use the [file log plugin](https://docs.konghq.com/hub/kong-inc/file-log/) for such a use case, which lets you separate out file logs by Route or Service to the locations your use case needs.

Given this, I will close this issue now; please let us know if you have any other questions. Thanks

[2020-01-13 18:28] #5002 closed

[2020-01-13 18:29] p0pr0ck5 commented on #4964
I will close this now, as there is no actionable work here. Please feel free to reference the above plugin link. Thank you!

[2020-01-13 18:29] #4964 closed

[2020-01-13 18:30] p0pr0ck5 commented on #4881
Hi,

I would encourage you to upgrade to a more recent version of Kong, as substantial improvements have been made in the database abstraction layer since then. Recent releases of Kong feature improvements in how both Cassandra and Postgres are queried to build the internal proxy router.

Given this, I will close this issue now; please let us know if you have any other questions. Thanks!

[2020-01-13 18:30] #4881 closed

[2020-01-13 18:31] namirsab commented on #5439
Thanks @p0pr0ck5  for the detailed answer.

The funny thing is that we didn't change anything on those containers (just restarted them) and this started to happen out of sudden, and there is no way to fix it but upgrading.

Do you know if upgrading to 0.15 is enough?

Thanks in advance?

[2020-01-13 18:33] p0pr0ck5 commented on #5439
It's impossible to say what happened in your environment without a detailed investigation, so I won't speculate here :)

IIRC, the functionality noted was added in release 1.2 (https://github.com/Kong/kong/blob/master/CHANGELOG.md#120)

[2020-01-13 18:37] p0pr0ck5 commented on #4862
@slimm609 you can use `kong reload` to re-read the config file and environment variables, without disrupting in-flight traffic. This is the approach that we use for Kong Cloud, which provides managed infrastructure and operations for running Kong Enterprise. We integrate extensively with Consul on AWS and use their DNS resolver for service discovery; when our worker pools scale up or out, we re-ev

[2020-01-13 18:37] #4862 closed

[2020-01-13 18:39] p0pr0ck5 commented on #4787
There are two issues here; I will attempt to address both.

@melkayam92 `KONG_LUA_SSL_TRUSTED_CERTIFICATE` needs to reference a specific CA file, not the path to where CA certificates are located.

@jpuris no this is not the case, the error you are seeing here is a general OpenSSL response. Without seeing the actual error it is impossible to know.

Given the age of this issue and lack of action, I

[2020-01-13 18:39] #4787 closed

[2020-01-13 18:41] p0pr0ck5 commented on #5009
@rahul2662 please consider using the Kong Nation forums for discussing use cases like this. You may have luck talking with other Kong users who have had similar experiences. See https://discuss.konghq.com.

Given this, I will close this issue now; please let us know if you have any other questions. Thanks!

[2020-01-13 18:41] #5009 closed

[2020-01-13 18:43] p0pr0ck5 commented on #4878
Hi @anastayaa can you post your full Kong configuration, as well as the configuration of the Service in question, and the configuration for your Consul cluster?

[2020-01-13 18:44] p0pr0ck5 commented on #5004
Hi,

You have defined `KONG_PROXY_ACCESS_LOG` pointing to `stdout`, so the `access.log` will contain no information. You can use the Docker logging facilities to retrieve the log information.

[2020-01-13 18:44] #5004 closed

[2020-01-13 18:48] p0pr0ck5 commented on #4669
@mocking3 IIRC, this was a bug in OpenResty that was resolved in a recent release, specifically around JITed code resulting in an infinite loop.

Given this, I will close this issue now; please let us know if you have any other questions. Thanks

[2020-01-13 18:48] #4669 closed

[2020-01-13 19:06] locao commented on #5438
Hi @atikhono, I wasn't able to reproduce your report with [kong master](/kong/kong/tree/master) branch:

[code]

How did you install the nightly build? Could you check if no previous versions are running, please?

[2020-01-13 20:33] Tieske commented on #4745
you could probably write a plugin that takes the http request and sends it of over tcp/udp (from Lua, so without using the actual proxy engine). It would be similar to the TCP/UDP logging plugins, but with a different payload.

[2020-01-13 21:48] dndx commented on #5427
@fr-manish Yes this is a specific limitation for free trial version of Kong Cloud only. I have directed your question to our support team and they can better help you getting mTLS Auth setup (the GitHub Issues are only for open source project related discussions).

[2020-01-13 21:48] #5427 closed

[2020-01-13 22:07] bungle commented on #5406
@panhow, do you mean, what fixed it? Not sure, but one of the more recent `fix(router)` PRs:
https://github.com/Kong/kong/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+fix%28router%29

[2020-01-13 22:11] dndx commented on #5427
@fr-manish In addition feel free to send an email to the address you should have received inside the welcome email for the cloud trial and someone can help you further on this.

[2020-01-13 22:41] dndx commented on #5416
Can you check your `access.log` to see the actual IP address Kong uses while evaluating the rules?

[2020-01-14 04:55] romvarac opened #5442 "Rate-Limitting Kong cann't connect Redis TLS/SSL"
Hi Team,
Configuration rate-limitting kong with redis policy, I config host, port, password, but have a error
[code]
I using redis DigitalOccean Database, just connect by TLS/SSL.
So, how I could connect Redis. Thanks

[2020-01-14 06:40] atikhono commented on #5438
@locao Oh, I'm very sorry. There's a typo, host must be `api.local`.

[code]

[2020-01-14 09:17] qiangcz commented on #4786
oh, i also met this bug, is it solved?

write hard code is very ugly

[2020-01-14 09:25] chris-cmsoft commented on #5400
Did some thinking around this, and providing a config dir path would be good, although will need to allow for recursive directories as well, as we will be specifying multiple configmaps for mounting inside the container, and these will probably be mounted on different sub paths.

[code]

When the reloading or specifying configs to Kong, we would just pass the `kong-configs` dir as config path and

[2020-01-14 10:20] namirsab commented on #5439
@p0pr0ck5 we upgraded to KONG 1.4.2 and without he concurrent queries property and this error still happens, the database is getting still lot's of connections that are not getting closed.

Are there any performance implications related to the concurrent queries properties?

And now that we are in 1.4.2, how can we know why this happened?
We literally changed nothing there, nothing related to what

[2020-01-14 12:31] bungle commented on #5438
@atikhono,

This is what I got using the `next` branch:
[code]
[code]

[2020-01-14 12:33] bungle commented on #5438
And I can confirm that bug still exists on `master`, but it is fixed on `next`.

[2020-01-14 12:33] ccjinghang commented on #4786
This is the bug of kong. I don't know if it has solved this problem. You can try my modification method:
local function execute(target, ctx)
  if target.type ~= "name" then
    -- it's an ip address (v4 or v6), so nothing we can do...
    target.ip = target.host
    target.port = target.port or 80 -- TODO: remove this fallback value
    target.hostname = target.host
	+if string.find(target.ip,'^%d

[2020-01-14 12:34] namirsab commented on #5439
We also tried setting the pg_max_concurrent_queries. We've set it to 5 and we have 8 workers, so it shouldnt get more than 40 connections as far as I understand, but this keeps happening

[2020-01-14 12:49] qiangcz commented on #4786
@ccjinghang
thanks for your kind reply, i have write same tool method to resolve this problem.

wait for official bugfix

[2020-01-14 14:20] kailashverma2402 commented on #5416
Thanks for sharing details @bungle
Yes we do have AWS  Application Load balancer for Kong.
Here are my findings:
* Kong's SG is allowed for all traffic
* After I whitelisted my AWS account NAT IP in IP restriction (Load balancer's IP range), It worked!!
eg: "config": {
        "whitelist": [
            "1x.xxx.xx.0/20"
        ],
        "blacklist": null
    }
* I want to whitelist my Orgnisatio

[2020-01-14 15:01] namirsab commented on #5439
Another udpdate:
We even set the nginx_workers to be only 1.
Still leaking connections for some reasons.

We get a variety of errors in KONG:

2020/01/14 14:40:36 [error] 36#0: *80 recv() failed (104: Connection reset by peer), context: ngx.timer

2020/01/14 14:48:49 [error] 36#0: *1833 recv() failed (104: Connection reset by peer), client: 10.0.1.8, server: kong_admin, request: "GET /consumers?cu

[2020-01-14 20:51] jambagigirish opened #5444 "Not able to Overwrite client_body_buffer_size directive value"
Cant overwrite client_body_buffer_size through nginx directive

### Steps To Reproduce

1. Docker file with env variable
	KONG_NGINX_PROXY_CLIENT_BODY_BUFFER_SIZE="32k"

2.Build Image and bring up the kong container with database(postgres)

### Additional Details & Logs

- Kong version (1.4 centos )
-
- Kong debug-level startup logs
Error: /usr/local/share/lua/5.1/kong/cmd/start.lua:37: nginx conf

[2020-01-14 21:59] bungle commented on #5444
This is already fixed on `next` thus closing this, see:
https://github.com/Kong/kong/pull/5390

[2020-01-14 21:59] #5444 closed

[2020-01-14 22:10] dndx commented on #5442
Hello,

I do not believe the rate limit plugin currently supports connecting to Redis via TLS. Partially because such support is only available in enterprise version of Redis.

[2020-01-15 05:51] hbagdi opened #5446 "2.0.0rc2 POST /ca_certificates returns a 500"
### Summary

POST /ca_certificates succeeds in Kong 1.4 but fails in 2.0.0rc2

### Steps To Reproduce

1. Install Kong 1.4
2. Run `http :8001/ca_certificates cert=@ca_cert.crt`, it will succeed
3. Install 2.0.0rc2
4. Run `http :8001/ca_certificates cert=@ca_cert.crt`, it fails.

### Additional Details & Logs

- Kong version (`$ kong version`)
- Kong debug-level startup logs (`$ kong start --vv`)
-

[2020-01-15 08:05] bungle commented on #5446
Ping @fffonion

[2020-01-15 08:20] bungle commented on #5416
Does your AWS load balancer add `X-Forwarded-For` header? And can we see it? As AWS LoadBalancer supports `proxy_protocol`, I would prefer to  use it: https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-proxy-protocol.html

So:
`real_ip_header=proxy_protocol`

and also add `proxy_protocol` flag to Kong's `proxy_listen`.

[2020-01-15 08:30] bungle commented on #5446
Off topic:
I would URL of `ca_certificates`  being `ca-certificates` instead.

[2020-01-15 10:10] namirsab opened #5447 "[KONG 1.4.2] FATAL: sorry, too many clients already"
### Summary
Opening a new issue after this one was closed #5439

During the last days, we've been having issues with KONG and PostgreSQL. KONG creates too many connections to the database that are not cleaned, eventually reaching the limit and getting the error:
[code]
We are using the `pg_max_concurrent_queries` property (set it to 5 first, and then to 1). We have only one node with 8 workers, so

[2020-01-15 10:24] fffonion commented on #5446
Thanks for reporting this, it's indeed a bug in asn1 time parsing when year is YYYY instead of YY.

[2020-01-15 13:58] bungle commented on #4480
Fixed with #5440.

[2020-01-15 13:58] #4480 closed

[2020-01-15 17:25] kailashverma2402 commented on #5416
@bungle I am using "Application Load Balancer", and it adds X-Forwarded-For header.
https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#rule-action-types
https://forums.aws.amazon.com/thread.jspa?threadID=238082

I added ALB's IP in trusted_ips, added http2 flag in proxy_listen and it worked :)

Sharing details that I added to kong.conf :

trusted_ips =

[2020-01-15 17:25] #5416 closed

[2020-01-15 17:39] bungle commented on #5416
@kailashverma2402, great! Thanks for letting us know!

[2020-01-16 03:42] tadeuqc opened #5454 "Docker step by step installation for cassandra ends up in error"
### Summary

Docker step by step for cassandra ends up in error

### Steps To Reproduce

Follow the installation guide on [(https://docs.konghq.com/install/docker/?_ga=2.255118472.1062812788.1579117703-1471089020.1579117703)]

### Additional Details & Logs

Terminal reproduction is attached
[KongError.pdf](https://github.com/Kong/kong/files/4069223/KongError.pdf)

- Operating system OSX Catalina

[2020-01-16 05:34] SunshineYang opened #5455 "DNS resolution failed in dbless mode."
Recently, i often got an error below in dbless mode. It will return to noraml when restarting kong.

[2020-01-16 05:56] SunshineYang commented on #5455
After reviewing code, i guess it may be caused by function execute in `/kong/runloop/balancer.lua  `.

![image](https://user-images.githubusercontent.com/4075973/72497411-65448e00-3867-11ea-865a-b7726171fd66.png)

[2020-01-16 08:38] bungle commented on #5454
@tadeuqc is there anything in `error.log`?

[2020-01-16 10:25] saltxwater opened #5456 "Support for GRPC-Web"
### Summary
Is it possible to configure kong to proxy GRPC web requests? If not, this feature would help simplify our setup.

We are using GRPC web to connect front-end web apps (Angular) to our backend services (C#). Currently the request goes through Kong to a sidecar Envoy service which then forwards it on to the C# service. We have found that we need this sidecar to manage the HTTP/1.1 request

[2020-01-16 10:47] lyndon160 commented on #5042
I am having a similar issue with running Kong on Arm64 (AWS A1).

It only appears to happen when the system is required to handle more than 5rps.

[2020-01-16 11:20] iver3on commented on #5388
@carnei-ro kong version of  arm64  can not working!usr/local/openresty/nginx/sbin/nginx: 1: /usr/local/openresty/nginx/sbin/nginx: Syntax error: Unterminated quoted string
/usr/local/openresty/nginx/sbin/nginx: 1: /usr/local/openresty/nginx/sbin/nginx: ELF: not found

[2020-01-16 12:01] bungle commented on #5456
@saltxwater, thanks for asking, we sure want to support that fully. We have that on our backlog, but I cannot promise anything. All help is appreciated!

[2020-01-16 14:55] wanderleisouza commented on #1805
Can I use an already existing Consumer table in a distinct database instead of Kong Postgres DB? (eg. a pre-existing Consumer/User table in my legacy Oracle database)

[2020-01-16 23:25] bungle commented on #5311
@jogendrajangid1, would you like to try: #5460, and give feedback?

[2020-01-16 23:32] bungle commented on #5455
@Tieske, does this ring any bells?

[2020-01-17 03:21] SunshineYang commented on #5455
It happens sometimes, i can't find any way to reproduce it. According to code, it happens when target.balancer is nil. I change change the code if dns_cache_only and target.balancer ~= nil then balancer = target.balancer, and the error doesn't happen yet.

[2020-01-17 10:22] bungle commented on #5455
@SunshineYang, yes, I think your fix could be the one that need to be made. I checked where we set `balancer`, and it seems we do not always set it on first try.

[2020-01-17 11:03] bungle commented on #5455
@SunshineYang, I believe your fix should not be done as that makes the `balancer phase` possibly to `yield`, and that you cannot do on `balancer`. So more investigation is needed on this.

[2020-01-17 11:06] bungle commented on #5455
@SunshineYang, are you sure your Nginx can resolve `upstream_8`?

[2020-01-17 12:11] Tieske commented on #5455
What is happening here is that Kong has an Upstream defined by name `upstream_8`. But because at the time of the failure for some reason that balancer/Upstream by that name is unavailable. And then Kong falls back on DNS resolution, which then fails, since the name doesn't exist as a DNS name, only as an Upstream.

@locao @hishamhm there have been some updates in the balancer lifecycle, creating a

[2020-01-17 15:08] rolandg opened #5465 "Websocket connections not working in firefox with kong >= 1.4.2"
### Summary

We updated kong in some of our environments from 1.3 to 1.4.3 (also tried 1.4.2 after it failed). After the update everything seemed fine in chrome but in firefox the websocket connections could not be established. We are using the most recent version of anycable-go as our websocket server.

The error in the browser:
[code]
Could not find any errors in the kong log

### Additional Det

[2020-01-18 20:04] chris-branch commented on #5454
I'm seeing the exact same issue on Mac OS Mojave when trying to run the vanilla docker images and installation instructions for Cassandra and Kong available via dockerhub.  Cassandra starts up successfully.  Kong migrations run successfully.  But when I try to start Kong, Cassandra crashes a few seconds later (docker container status for Cassandra shows "Exited (137)").  There are no errors in the

[2020-01-19 07:27] SunshineYang commented on #5455
"upstream_8" is the name of upstream, and target of upstream_8 can be resolved.

![image](https://user-images.githubusercontent.com/4075973/72676766-f3bb4880-3acf-11ea-94a7-cb99573c9f67.png)

![image](https://user-images.githubusercontent.com/4075973/72676786-27966e00-3ad0-11ea-81f3-824cb7b5dde5.png)

[2020-01-19 09:37] wangdafang opened #5466 "failure to get a peer from the ring-balancer"
### Summary

Use admin_api to make the upsteam-server offline, and then restart upstream process. Use admin_api to make upstream-server online.At this time,ask upstream server by kong,you will meet an error: "failure to get a peer from the ring-balancer".It seems like the upstream-server is down,but is not

online admin_api:curl -g -i -X POST http://127.0.0.1:8001/upstreams/test-upstream/targets/1

[2020-01-19 15:21] nesia-amit commented on #5374
Hi @bungle @hishamhm  -  the issue occurs sporadicaly. holiday season was quite -I assume our customers were not making changes which involves route changes in the system. Currently we have around 13K routes  and counting. we started to observe it again, we're linking it to DEL ops , we stopped deleting routes (we use PATCH directing route to /dev/null ) however, we suspect the issue occurs again

[2020-01-19 18:28] dave-shawley commented on #1121
@thegreatanon - we have a PR open for our PKCE implementation (#5268).  In the meantime, the current code is available in https://github.com/aweber/kong/tree/feat/pkce

[2020-01-20 05:11] rajputvishwas opened #5467 "Not able to create an account from developer portal"
### Summary

I have setup Kong 1.13 (enterprise) with PostgreSQL on Openshift 3.11. I am able to access admin GUI (xx.xx.xx.xx:32012 and developer portal (xx.xx.xx.xx:32013)
When I attempt to create an account on developer portal it does nothing. Each time I attempt to create an account, it logs below message on console

### Steps To Reproduce

1. Create an account on developer portal
![image](htt

[2020-01-20 05:22] SMYALTAMASH opened #5468 "Expire Kong jwt for a particular consumer"
# Summary

I'm trying to create consumers and jwts and have jwt created for a consumer expire after 2 hours, but i'm unable to create it

### Steps To Reproduce
1. Create a consumer:
[code]
2. Create 2 a jwts for the consumer
[code]
3. I'm able to get the jwt's as well:
curl -s -X GET http://localhost:8001/consumers/api-test/jwt

4. Onboarded API and enabling a jwt plugin for it.but unable to crea

[2020-01-20 05:28] rajputvishwas opened #5469 "not able to test the service"
### Summary

I have setup Kong 1.13 (enterprise) with PostgreSQL on Openshift 3.11.
admin GUI accessible @ xx.xx.xx.xx:32012
developer portal (xx.xx.xx.xx:32013)
proxy (xx.xx.xx.xx:32014)

I am using default workspace with default settings. I want to perform very basic operation. Create a service and test the service. I am able to create service and route but not able to it using proxy.

### Steps

[2020-01-20 05:39] chris-branch commented on #5454
After a little more digging, it appears this issue is related to the `ulimit` problem documented here:

https://github.com/Kong/kong/issues/5324

If I add `ulimit -n 65535` to the startup script, then 1.4.3 starts up successfully without crashing Cassandra, at least initially.  However, if I issue a `kong reload`, then the original problem reoccurs (i.e., Cassandra goes down hard, and Kong goes in

[2020-01-20 06:44] gxthrj commented on #5220
hi,I have the same problem, what is the special solution?

I can not find any way to set upstream keepalive_timeout in kong, It seems that the connection in kong is ESTABLISHED forever, there is no packet on this connection,the state will not change even out of 7200s.
the only way I can see  is setting keepalive_timeout in side of upstream.

Is there any other better solution? thanks a lot

[2020-01-20 11:26] eilonk opened #5470 "configuring CRD's in helm"
Greetings,
I'm trying to create a helm configuration for kong, and I'm having trouble understanding some values concept-wise.
If kong comes with CRD's built in (Kong Ingress,plugin, consumer and credential) - where do these fit inside the internal yaml file?
I can't seem to find any example for configuring these resources through this type of file (only shorter examples)
for context, i am using th

[2020-01-20 11:32] bungle commented on #5469
It looks like your Kong isn't able to do name resolution, see:
https://docs.konghq.com/1.4.x/configuration/

[2020-01-20 14:15] #5438 closed

[2020-01-20 14:39] marckhouzam opened #5471 "Documentation of plugin schema outdated"
### Summary

After installing Kong 1.4.2 and using the latest version of Konga (https://github.com/pantsel/konga), I'm getting the following type of errors:
[code]
I wanted to propose a fix for Konga, but I cannot find any documentation of the new Kong API.  In fact the Admin API documentation still mentions `/plugins/schema` as the only way to obtain the plugin schema:
https://docs.konghq.com/1.4

[2020-01-20 16:13] tadeuqc commented on #5454
all i got is the terminal output attached. If there's anything i can do to get this log you mention let me know and i'll put it here asap!

[2020-01-20 16:44] hbagdi commented on #5470
Hi @eilonk,

Thank you for the question.
I'm going to assume that by 'internal YAML file', you mean providing configuration to DB-less Kong nodes via declarative configuration file.
If that's the case, then you are confusing between two different methods of configuring Kong. You can use one of those methods at once only.

So, either you use Kong's declarative format to configure Kong or you used C

[2020-01-20 17:07] hbagdi commented on #5471
This is indeed out of date.
Users are advised to use: `:8001/schemas/plugins/:plugin-name` as the new endpoint.

[2020-01-20 18:03] bungle commented on #5447
With Cassandra you surely can have more connections. I will label this for investigation.

[2020-01-20 18:05] bungle commented on #5447
@namirsab, what does you postgres answer to:
[code]

[2020-01-21 02:28] guanlan commented on #5467
@rajputvishwas For enterprise specified questions, can you move the enterprise support: https://support.konghq.com/support/s/

Also would be nice to include the portal items in the conf, as well as any errors in the browser when you submit a support ticket.

Closing this.

[2020-01-21 02:28] #5467 closed

[2020-01-21 06:38] chris-branch opened #5477 "Upstream continuously flip flops between HEALTHY and UNHEALTHY when DNS TTL = 0"
### Summary
If an upstream target is configured with a domain name where the DNS lookup for that domain name results in a TTL value of 0, Kong will continuously toggle the upstream state between Unhealthy and then Healthy again every second.  This results in a _large_ number of error log entries even when using the default log level (`NOTICE`).  Example log output down below.

In our situation, we

[2020-01-21 09:14] rajputvishwas commented on #5469
Thanks @bungle , I guess my OKD cluster is behind proxy and hence not able to connect outside endpoints. I have developed and hosted one endpoint within my org network and its working fine.

[2020-01-21 09:56] irfn commented on #2764
i am seeing the same issue with syslog plugin on kubernetes.
i am able to see correct json api logs with `file-log` plugin when i set `path: "/dev/stdout"`
i think the issue might be in kong/nginx config in the docker image

[2020-01-21 11:45] zkenstein opened #5480 "[ASK] connection refused using public IP"
### Summary

Installed Kong on Centos and try to check kong is working or not, I am using `curl http://localhost:8001/` kong replied properly, but if I used `curl http://ipaddress:8001/` it return `Connection Refused`

### Steps To Reproduce

1. Installing Kong for Centos following the documentation
2. check using `curl http://localhost:8001` return properly
3. check using `curl http://ipaddress:8

[2020-01-21 11:49] p0pr0ck5 commented on #5480
Hi,

This is the default behavior of Kong; by default the admin api binds only to localhost. You can configure the listening IP and port via the `admin_listen` directive.

[2020-01-21 11:49] #5480 closed

[2020-01-21 12:00] namirsab commented on #5447
@bungle unfortunately we are not using this anymore so I can't answer your question, but the max_connections was set to the default (100).
We didn't change that

[2020-01-21 15:00] Tieske commented on #5477
this seems to be a snippet from the log. Can you provide the start of the log?

I would expect to see some (or 1) of these log messages: https://github.com/Kong/lua-resty-dns-client/blob/master/src/resty/dns/balancer/base.lua#L432-L433

[2020-01-21 16:15] bungle commented on #5469
Ok, I think I can close this then. @rajputvishwas, please reopen, if you think there is something we need to recheck still.

[2020-01-21 16:15] #5469 closed

[2020-01-21 16:50] chris-branch commented on #5477
The log snippet above does include the "ttl=0 detected" message.  See:

[code]

I've also attached a full log showing startup to the first 5 minutes.  It appears the health check issue is repeating once per minute in this log.  In our production environment, it seems to occur more frequently.
[errorlog.log](https://github.com/Kong/kong/files/4092266/errorlog.log)

[2020-01-21 18:51] atikhono opened #5481 "Docker images missing: kong:1.5.0 and kong:2.0.0"
### Summary

Hello! Docker images are missing from dockerhub for the latest Kong releases: 1.5.0 and 2.0.0.

### Steps To Reproduce

[code]

### Additional Details & Logs

[2020-01-21 18:56] gszr commented on #5481
Hi @atikhono,

Our PR on Docker Official Images is still open - https://github.com/docker-library/official-images/pull/7310.

Once it gets merged, it usually takes a couple of hours for the images to get built and pushed - we will post an update here once it is available.

Thanks & happy Konging!

[2020-01-21 20:37] Tieske commented on #5477
reducing that log file to `33#0` gives me:
[code]

Which is once per minute. Which makes sense since `TTL_0_RETRY` is set to 60 seconds here: https://github.com/Kong/lua-resty-dns-client/blob/master/src/resty/dns/balancer/base.lua#L129

[2020-01-21 20:39] Tieske commented on #5477
@chris-branch It should be the same in your production environment, can you check that? Please note that this is per nginx worker, so like I did above (selecting only `33#0`), you have to reduce it to a single worker.

[2020-01-21 21:01] Tieske commented on #5477
this is interesting:
[code]

For `ttl=0` we inject a "fake" SRV record (type 33). After the `TTL_0_RETRY` period (60 seconds) we check whether the record still has `ttl=0`. But then it flips record type, to an A record (type 1), only to immediately (1 or 2 secs) be flipped back to a "fake" SRV again.

There's two questions here;

1. why does it flip record types (I have a hunch about that one)
2.

[2020-01-21 21:04] Tieske commented on #5477
I think the problem was introduced here: https://github.com/Kong/lua-resty-dns-client/pull/56/files

[2020-01-21 21:21] Tieske commented on #5477
@chris-branch can you try and change this line:
[code]
(here: https://github.com/Kong/lua-resty-dns-client/blob/master/src/resty/dns/balancer/base.lua#L416)

into
[code]

and see if the problem goes away?

[2020-01-21 23:34] rainest commented on #4379
https://github.com/Kong/kong/pull/5460 should likely fix this. An unknown issue clears the plugin ctx contents, and rate-limiting increments counters based on data stored in it.

https://github.com/Kong/kong/pull/5459 may address the issue with ctx, but we do not have definitive proof of that issue's exact cause yet. As such, 5460 ignores any problem with ctx whatsoever by moving all rate-limiting

[2020-01-22 03:01] chris-branch commented on #5477
@Tieske - I modified the if statement in base.lua:

[code]

However, that didn't seem to help.  I still see the upstream flip-flopping between Unhealthy/Healthy, and the log looks mostly the same.  New log attached here:
[errorlog_0122_0143.log](https://github.com/Kong/kong/files/4095076/errorlog_0122_0143.log)

Looking at the code, one thing I wondered about with the prior fix for the Route 53 is

[2020-01-22 08:44] atikhono commented on #5481
@gszr New images are available from dockerhub. Issue resolved, thanks!

[2020-01-22 08:44] #5481 closed

[2020-01-22 18:36] secat opened #5491 "Overriding the KONG_NGINX_EVENTS_WORKER_CONNECTIONS environment variable crashes kong"
### Summary

By setting the Kong override environment variable named `KONG_NGINX_EVENTS_WORKER_CONNECTIONS` in order to override `nginx_events_worker_connections` will crash the Kong application.

### Steps To Reproduce

1. Start Kong with the environment variable `KONG_NGINX_EVENTS_WORKER_CONNECTIONS` set to any numeric value

### Additional Details & Logs

output logs:
[code]

[2020-01-22 18:44] bungle commented on #5491
@secat what version of `Kong` are you trying it? Are you using custom Nginx template?

[2020-01-22 19:10] secat commented on #5491
@bungle I am using version `docker.io/kong:2.0.0`

[2020-01-22 19:21] bungle commented on #5491
@secat ok, thanks for report, I tried this locally on `master`, `next` and `2.0.0` but couldn't reproduce, thus I am labeling this `needs investigation`. Let's see if there is issues with `docker image` or is this something else. And can you confirm, your docker is `clean` and doesn't contain anything from perhaps previous, I guess the answer is yes, and you don't use `custom Nginx template`?

[2020-01-22 19:47] bungle commented on #5491
I also tried `docker`:

[code]

This is what I used to start it:
[code]

[2020-01-22 20:23] secat commented on #5491
@bungle it was an error on my side: I was experimenting on which environment variable I needed to use...

I just realized that I had two environment variables set:
- `KONG_NGINX_EVENTS_WORKER_CONNECTIONS=5000` and
- `KONG_NGINX_MAIN_EVENTS_WORKER_CONNECTIONS=5000` <-- faulty variable

I confirm that removing `KONG_NGINX_MAIN_EVENTS_WORKER_CONNECTIONS` and using only `KONG_NGINX_EVENTS_WORKER_CONNE

[2020-01-22 20:26] bungle commented on #5491
@secat thank you getting back on this, and I am glad we didn't have a bug there. Yes, at somepoint we may add some sanity checks on `injections`. So closing this.

[2020-01-22 20:26] #5491 closed

[2020-01-22 22:24] Tieske commented on #5477
@chris-branch  Sorry, my bad, I made a mistake, the `__ttl0flag` is set on the top level record, not on the individual entries. So the `[1]` should be removed. It should have been:

[code]

Can you give that a try?

[2020-01-23 03:43] awalias commented on #3376
Hi @BrunoQuaresma how did you solve this? I'm experiencing the same issue, thanks

[2020-01-23 05:16] chris-branch commented on #5477
@Tieske - No worries.  I applied the new code change, and that does appear to resolve the issue, at least with my small test scenario.  I no longer see Unhealthy/Healthy flip flopping.  I do see DNS being re-queried every 1 second, per worker, per upstream, but that appears to be intentional.  I've attached the latest log in case you'd like to review: [errorlog_0123_0245.log](https://github.com/Ko

[2020-01-23 11:34] rolandg commented on #5465
I found out this works when I enable the cloudflare proxy (orange cloud) option for the dns entry.

[2020-01-23 12:42] onematchfox opened #5492 "Error on attempt to report HTTP status on retried proxy request"
### Summary

In the scenario where a retried proxy attempt fails because the load balancer did not return a peer, Kong is incorrectly attempting to report a HTTP failure which is resulting in the error `failed to run log_by_lua*: /usr/local/share/lua/5.1/kong/runloop/balancer.lua:307: attempt to index local 'handle' (a nil value)`.

The issue stems from the code at https://github.com/Kong/kong/blo

[2020-01-23 13:29] BrunoQuaresma commented on #3376
Sorry @awalias I don't remember :/

[2020-01-23 14:54] mvanholsteijn opened #5494 "adding a plugin on kong 1.4 takes ~30s"
# Summary
Adding a plugin on kong 1.4 takes ~30s

### Steps To Reproduce

1. git clone https://github.com/mvanholsteijn/extreme-slow-add-global-plugin-on-kong.git
2. cd extreme-slow-add-global-plugin-on-kong
2. export KONG_DOCKER_TAG=kong:1.4.3
3. ./reproduce
[code]

This problem did not appear in kong 1.3.

[code]

### Additional Details & Logs

The entire software configuration is box standard a

[2020-01-23 14:58] bungle commented on #5494
@mvanholsteijn, can you please upgrade to `1.5.0` or `2.0.0`? It is fixed there.

[2020-01-23 15:43] bungle commented on #5465
@rolandg, I will send a fix in 10 minutes.

[2020-01-23 15:53] bungle commented on #5465
@rolandg, can you please try:
https://github.com/Kong/kong/pull/5495

You can manually patch your `Kong` version with the changes. Changes are small.

[2020-01-23 17:24] #5492 closed

[2020-01-23 18:20] Tieske commented on #5477
the queries should run once per minute, not once per second, so that seems to be another separate (?) issue.

When a ttl=0 is encountered we inject a fake SRV record with a TTL of 60 seconds. This explicitly to update that record (for internal balancer purposes) only once per minute. Essentially we're only checking whether the ttl is still 0 or maybe it was changed.

This line sets the expire time

[2020-01-23 18:35] Tieske commented on #5477
Ok, I think I found it.

The first time the name is resolved for worker `34#0`:
[code]
The first requery log:
[code]

Looking at the timestamps there is 1 minute in between. So initially it works. The problem is that the `expire` field of the injected DNS record never gets updated, hence it remains in the past, and on every check it will then initiate a new update query.

[2020-01-23 18:44] Tieske commented on #5477
@chris-branch can you give this another try?

On top of the previous change, add these lines:
[code]

[2020-01-23 18:59] mvanholsteijn commented on #5494
Sure, that is great to hear! I could not  find the matching issue...

[2020-01-23 18:59] #5494 closed

[2020-01-23 19:23] bungle commented on #4723
@luka1983, we decided that it was not worth to add this feature after we implemented it and discussed the pros and cons. So I close this. We will add better documentation to explain the possible work-arounds. Thank you!

[2020-01-23 19:23] #4723 closed

[2020-01-23 21:55] maksimlikharev commented on #4562
we put this issue into our board, we can start working on that in Feb

[2020-01-23 23:38] #5465 closed

[2020-01-24 00:49] bungle commented on #5026
As no further feedback has received, I eill close this. Reopen if it is still an issue.

[2020-01-24 00:49] #5026 closed

[2020-01-24 02:44] chris-branch commented on #5477
@Tieske - The code in your PR looks good.  I applied those changes (including the suggested change from @bungle) and executed my test setup.  The log is clean, other than DNS refreshes every minute (as intended).  New log file attached for your review: [errorlog_0124_0203.log](https://github.com/Kong/kong/files/4106609/errorlog_0124_0203.log)

I'm guessing this will be included in a 1.4.4 and/or 1

[2020-01-24 07:40] bungle commented on #4129
LDAP could set virtual `credential`.

[2020-01-24 07:47] bungle commented on #4129
Oh, I know why it doesn't work. LDAP credential does not have `id`:
https://github.com/Kong/kong/blob/master/kong/plugins/rate-limiting/handler.lua#L60
OR
https://github.com/Kong/kong/blob/master/kong/plugins/rate-limiting/handler.lua#L64

[2020-01-24 09:22] bungle commented on #340
There is this: https://github.com/Kong/kong-plugin-billable

[2020-01-24 09:34] bungle commented on #505
@subnetmarco, I think @hishamhm explained it above that it is possible, so I am closing this. Please reopen perhaps with a more limited scope if there are still things missing.

[2020-01-24 09:34] #505 closed

[2020-01-24 11:49] Tieske commented on #5477
@chris-branch awesome! thx so much for testing this.

[2020-01-24 13:48] bungle commented on #3974
@yurifrl, I am also confident they do. @comply-online, if you have further questions, please reopen this. I will close it for now.

[2020-01-24 13:48] #3974 closed

[2020-01-24 14:04] bungle commented on #4213
I checked the bundled plugins and made a pr to `ldap`. Nothing found, and as there is already a PR for ldap, I'll close this.

[2020-01-24 14:04] #4213 closed

[2020-01-24 14:09] bungle commented on #4336
@sharmmoh1983, `unique` is supported on later versions with `foreign`, thus I am closing this. Please reopen if you have any further questions.

[2020-01-24 14:09] #4336 closed

[2020-01-24 14:14] bungle commented on #4354
Ok, sounds like everybody got it to work. Yes the admin api changed from `0.x` to `1.x`. Biggest change being `comma separating array values is not supported`. So closing this.

[2020-01-24 14:14] #4354 closed

[2020-01-24 14:25] bungle commented on #4479
@hishamhm, that inferring on json is fixed already.

[2020-01-24 14:47] bungle commented on #4769
@jeremyjpj0916, yes we got almost everything in, except those `connect` calls. The Admin API `GET /` does btw. `kong.db.plugins:each()`, so it seems like a generic issue there. I think you just cannot perhaps trust Cassandra when paging that may end up in different node than the previous page OR you need to execute them with `QUORUM`?

[2020-01-24 14:58] bungle commented on #4910
These are `nginx` variables, nothing to do with `Kong`. @taotao2014 perhaps you understand their meaning wrong? I will close this.

[2020-01-24 14:58] #4910 closed

[2020-01-24 15:09] bungle commented on #5144
@duzhenxun, this works with `2.0.0`, So I close this now. Please reopen if you have any further questions.

[2020-01-24 15:09] #5144 closed

[2020-01-24 15:26] bungle commented on #5406
@panhow, please reopen if you have any further questions.

[2020-01-24 15:26] #5406 closed

[2020-01-24 15:54] jeremyjpj0916 commented on #4769
@bungle ah you came back to an oldie issue 😀 , its still relevant today I believe(haven't had time to dig into this in awhile) but its fairly infrequent(always took somewhere around 25+ calls of things in a row within a loop) so we don't see it in the wild with self-service yet really which are spread out operations generally. And we do run with ```KONG_CASSANDRA_CONSISTENCY: LOCAL_QUORUM``` with

[2020-01-24 16:53] p0pr0ck5 commented on #5241
Closing this as stale. Please re-open if you have more data to share. Thank you!

[2020-01-24 16:53] #5241 closed

[2020-01-24 16:53] p0pr0ck5 commented on #4878
Closing this as stale. Please re-open if you have more data to share. Thank you!

[2020-01-24 16:53] #4878 closed

[2020-01-24 18:06] #5477 closed

[2020-01-24 20:32] hbagdi opened #5501 "bug: sni routing does not seem to be working"
### Summary

I'm trying to get Kong to route based on SNI but that doesn't seem to be working. I might be doing something wrong here as well.

### Steps To Reproduce

Start Kong

Populate Kong with the following config:

[code]

Do:
[code]

At this point Kong closes the connection because it can't find any route for the request. This is refelect in the error log as well.

Doing a tcpdump, curl doe

[2020-01-24 21:22] bungle commented on #5501
That is true! Ngins rewrite clears context.

[2020-01-24 21:24] bungle commented on #5501
See: https://github.com/Kong/kong/blob/master/kong/init.lua#L597

[2020-01-24 21:25] jeremyjpj0916 commented on #5465
This issue just hit us in prod on 1.4.2 with a few integrations. Testing fix on 1.4.2 and 1.4.2 with Chrome/FF/Edge browsers now with customers. Glad a fix has been put out!

[2020-01-24 21:41] marckhouzam commented on #4469
To clarify, by looking at https://github.com/Kong/kong/pull/5463/commits/0dbf8521c51b475afc984eb3227d284b8a483014, I believe the default behaviour was kept to be the 1.x behaviour. Is that right?

In that case, IIUC, it means that someone upgrading to Kong 1.x from 0.x must manually fix any service that:
- uses a path without a trailing `/` AND
- has a route with `strip_path=false`

Is this correc

[2020-01-24 22:28] hishamhm commented on #4469
@marckhouzam I understand this might be confusing, so here's a breakdown:

* Running Kong 1.5.0:
   * When migrating from 0.x, the migrations of 1.5.0 will detect that and set the routes to have the 0.x behavior (`"path_handling": "v0"`) so that they keep working just like the user's previous version 0.x.
   * When migrating from 1.x into 1.5, the migrations of 1.5.0 will detect that and set the e

[2020-01-24 22:30] jeremyjpj0916 commented on #5465
Confirmed fix on my end in FF/Chrome/Safari/Edge. Thx.

[2020-01-24 22:32] gszr commented on #5465
Thanks for validating the fix @jeremyjpj0916!

[2020-01-25 16:11] hutchic commented on #5042
@lyndon160 we weren't able to reproduce this issue and it's k8s specific and utilizes kong during shutdown / startup. Let's start a new issue and we'll try to collaborate on how to reproduce / debug 👍

[2020-01-25 18:11] volodymyrprokopyuk opened #5502 "[Installation error] module 'resty.kong.tls' not found"
### Summary

After successful Kong installation on local machine via `luarocks install kong 2.0.0-0 --local` when trying to create Kong database schema via `kong migrations bootstrap` I've got an unsatisfied dependency error `Error: module 'resty.kong.tls' not found`

### Steps To Reproduce

[code]

### Additional Details & Logs

[code]

- Kong version: 2.0.0
- Kong debug-level startup logs: defau

[2020-01-25 18:38] bungle commented on #5502
@volodymyrprokopyuk you can copy tls.lua from here: https://github.com/Kong/lua-kong-nginx-module

Yes, we need to update our source installation instructions. If you want to get everything working, there are nginx modules and OpenResty patches too.

[2020-01-26 07:11] volodymyrprokopyuk commented on #5502
@bungle thank you very much for your fast and informative response!

I managed to resolve the issue with the database migration with the following script

[code]
When I tried to `kong start` I've got the next missing dependency error

[code]
This issue can be solved in a similar to the above way, but there may be the next missing dependency as well. The process of manually fixing missing dependenc

[2020-01-27 10:32] satscreate opened #5504 "OAuth2 - Invalid client authentication"
### Summary

Getting Invalid client authentication error when i try to get the accesstoken from the kong.
Trying authorization_code flow which does not required client secret in my case.

### Steps To Reproduce
**1. authorize:**

POST /sample/oauth2/authorize HTTP/1.1
**Request Headers**
apikey: dev-test
X-Forwarded-Proto: https
User-Agent: PostmanRuntime/7.22.0

**Request Body**
client_id: "sampl

[2020-01-27 13:15] krish7919 commented on #4965
The doc says that `config.policy` is optional..

[2020-01-27 14:34] kikito commented on #5388
@iver3on, @carnei-ro could you guys try 1.4.3, 1.5.0 or 2.0.0?

[2020-01-27 14:41] kikito commented on #5212
Hi, could you give us more details?

* How exactly are you installing kong?
* What kind of certificates (EC/RSA, ...) are you using?

[2020-01-27 14:44] kikito commented on #5135
Hi @luo985, could you please try this in a more recent version of Kong?

[2020-01-27 14:46] kikito commented on #5094
Hello @JuniorCtba , could you please try a more recent version of Kong?

[2020-01-27 14:55] kikito commented on #5069
Hello, could you try a more recent version of Kong?

[2020-01-27 15:02] lukasa1993 commented on #5212
kong is by docker official hub

and cert is whatever namecheap
gives not sure of algorithm

[2020-01-27 15:03] kikito commented on #5057
Hello, we think your issue might be related with this fix: https://github.com/Kong/kong/pull/5459, which will be included on the next release of Kong (2.1).

You are using 1.1.2, which older. But the change is really small, so you might want to try it in your setup, or wait until a new version of Kong (2.0.1/2.1) is released

[2020-01-27 15:15] kikito commented on #4631
Hello @chris-branch , it seems that #1106 might have fixed the problem you are facing. At the same time the 1.4.x branch does not use the `run_on` field any more. Could you try Kong 1.4.3?

[2020-01-27 16:26] marckhouzam commented on #4469
Thanks @hishamhm for the detailed answer, it helps a lot.

From what I undersand, migrating from 0.x to 1.5, will keep working as is, thanks to the migrations of 1.5.
However, new routes will behave differently that old routes (this could cause confusion to my users).
Also, 2.0.0 switches back to the 0.x behaviour.

I'm therefore thinking that I should force `"path_handling": "v0"` to all new rout

[2020-01-28 08:02] mertingen opened #5505 "plugin was built with a different version of package github.com/Kong/go-pdk/bridge"
### Summary

I've my own machine which runs Centos 7 on it. I've built the Go plugin and I try to run that plugin on kong:2.0-centos Docker image. When I run the image as a container, it's being a failure.

### Steps To Reproduce

### Dockerfile ###
[code]

### go-hello.go ###
[code]

### go.mod ###
[code]

### go.sum ###
[code]

### kong.yml ###
[code]

I change the following lines in kong.conf f

[2020-01-29 03:00] dcherniv commented on #5018
bump

[2020-01-29 04:26] hbagdi commented on #5446
I can reproduce this issue on 2.0.0.

[2020-01-29 05:21] fffonion commented on #5446
Looks like #5448 is not in master or 2.0.0

[2020-01-29 05:40] chris-branch commented on #4631
After the upgrade from 0.14 -> 1.1.2 last year, I ended up running a one-off script to fill in default values in the database where needed, so that was how I got around the issue at the time.  I'm currently running 1.4.2 and have not run into any more issues with inconsistencies with plugin schemas vs. database configuration.  In fact, I just tested with 1.4.2, and I'm able to modify the code for

[2020-01-29 11:13] krish7919 commented on #2359
Hmmm same here.. Any way I can find where kong stores the final `nginx.conf` file in the docker container?

[2020-01-29 18:04] hishamhm commented on #5446
@fffonion this was merged into `next` which already had commits made for 2.1 when 2.0.0rc2 was released, so `next` wasn't pulled into 2.0.0 final. We should have merged the fix straight into `release/2.0.0`. I did have a milestone tag for 2.0.0 on #5448 but it was already merged so I missed that it was pending for the actual release, my bad. Now we need to cherry-pick this bump into `master`.

(So

[2020-01-29 18:08] hishamhm commented on #5446
https://github.com/Kong/kong/pull/5508

[2020-01-29 19:17] #5446 closed

[2020-01-29 20:50] javierguerragiraldez commented on #5505
Thanks for the report, I'll try to reproduce with the CentOS Go compiler.  It's not impossible that we have slightly misaligned version tags.   In the meantime, the "nuclear option" is to recompile the pluginserver yourself to be absolutely positive to have the same compiler and libraries everywhere.

[2020-01-29 23:36] javierguerragiraldez commented on #5505
I did reproduce it.  It's more about compiler version than libraries.  To get it running:
- use Go 1.13.5 or later (i got it working on both 1.13.5 and 1.13.7, from https://dl.google.com/go/go1.13.7.linux-amd64.tar.gz)
- be sure to build the plugin with `go build -buildmode=plugin go-hello.go`
- compile the pluginserver with the same compiler

[code]
We'll try to make this recompilation step autom

[2020-01-29 23:48] #4129 closed

[2020-01-30 08:12] mertingen commented on #5505
I totally did the same ways and  I tried the same versions, I mean 1.13.5 and 1.13.7. Thus, I built the plugins and go-pluginserver with the same compiler. But, I got the same error.

As I said, I run your recompilation steps on my own Centos 7 machine. And, I copy built files into Docker containers.
### Dockerfile
[code]
After that, I built Docker image,

[code]

Then, I try to run the image as a

[2020-01-30 10:58] bathizte opened #5510 "column "path_handling" of relation "routes" does not exist when migrating APIS from 0.14.1 to 1.5.0"
### Summary

When trying to upgrade from Kong v.0.14.1 to Kong 1.5.0 our existing APIs using the super-nice command you introduce (thanks btw :+1: ) :

[code]
You see a bunch of errors related to the absence of the column path_handing in the routes table :

### Steps To Reproduce

1. Take a 0.14.1 kong instance with some APIs defined
2. Launch a kong 1.5.0 as per https://github.com/Kong/kong/blob/

[2020-01-30 11:08] bungle commented on #5510
@bathizte, did I read it correctly that it worked with `--force`? That is a good workaround and I am glad it worked, but this should not be required AFAIK. So I labeled it as a bug.

[2020-01-30 11:39] bungle commented on #5510
@hishamhm,

I think the order should be:
1. take 0.14.1 (db is updated to this)
2. take 1.5.0 code and `migrations migrate-apis`
3. `migrations update`

So I think that this `commit` should be reverted:
https://github.com/Kong/kong/commit/5146230e84e7d039fc501fdd5e0417213aea38b8#diff-aa25782656ddfb572924702f3d4e838cR1282-R1283

[2020-01-30 12:32] bathizte commented on #5510
Huh, no, I did not mean that, I was just saying that _maybe I could have missed a step_ while reading the documentation.

To be crystal clear what worked was the following :

- Shutdown my 0.14.1 kong instance that has some APIs defined
- Launch a kong 1.5.0
- _kong migrations migrate-apis_ fails as summarized above
- Apply the content of the schema migration _kong/db/migrations/core/007_140_to_15

[2020-01-30 12:39] bathizte commented on #5510
I'll let you decide whether
- revert the commit 5146230 (isn't it needed for something ?)
- trigger the 007_140_to_150.lua migration
is the right way to fix the issue

[2020-01-30 14:42] bungle commented on #5510
I think if you revert https://github.com/Kong/kong/commit/5146230e84e7d039fc501fdd5e0417213aea38b8 then the `migrate-apis` will not fail in a first place. Then you run `up` and it should get that new column. What you did, you manually fixed this so that you added column, and then the migration worked, but it would have worked in a first place without that commit. We could also come up with `patch`

[2020-01-30 16:25] javierguerragiraldez commented on #5505
This is strange.  Something that strikes me as odd is the line:

    RUN chown kong:kong /usr/local/bin/go-pluginserver && chmod 775 /usr/local/bin/go-pluginserver

it shouldn't be necessary, since go executables are 755 by default; any user can execute them.  Is it possible that you're copying the whole directory instead of the executable itself?

please try this from command line within the cont

[2020-01-30 23:45] kuwv commented on #216
This is required for micro-frontend support.

[2020-01-31 03:57] weewey commented on #5018
bump.
Facing issues in Sidekiq with the kong. Sidekiq uses rack which redirects request with the `x-forwarded-port`

[2020-01-31 05:37] wjykl22 commented on #4992
How do you solve this problem? Can you share it

[2020-01-31 06:42] mertingen commented on #5505
Well, I installed Go with this package: go1.13.7.linux-amd64.tar.gz on Centos 7.
I built my custom Go plugin with version 1.13.7 and I built go-pluginserver version 1.13.7. I'm certain.

I started container without my custom plugin the following is output of "go-pluginserver -version"
[code]

And the following is output of "go-pluginserver -plugins-directory /usr/local/kong/declarative -dump-plugi

[2020-01-31 06:50] jeremyjpj0916 opened #5512 "CORS Plugin Access-Control-Allow-Methods incorrect default behavior"
### Summary

I am no CORS expert, so maybe this is incorrect but here is what I am thinking w regards to preflight behavior.

Right now code:
https://github.com/Kong/kong/blob/master/kong/plugins/cors/handler.lua#L217

And Docs(which are slightly out of date on all the defaults and I PR'ed to update the default: https://github.com/Kong/docs.konghq.com/pull/1750 ):
https://docs.konghq.com/hub/kong-

[2020-01-31 07:49] jeremyjpj0916 opened #5513 "OAuth2.0 Plugin Mishandling of Client Credentials Authorization header when empty passed."
### Summary

Seen this kinda stuff before:

[code]

Confident the issue is here:
https://github.com/Kong/kong/blob/master/kong/plugins/oauth2/access.lua#L728

Needs to be:
[code]

### Steps To Reproduce

1. Call OAuth2.0 protected proxy and pass Authorization:   key header with no value
2. See error log like above and invalid response to client:
HTTP 500
[code]

When it should be:
HTTP 401
[code]

[2020-01-31 09:30] #5513 closed

[2020-01-31 19:00] lyndon160 commented on #5388
I have encountered the same issue on 1.4.3. This was working previously for version 1.3 (built manually).

[2020-02-01 20:26] p0pr0ck5 commented on #5436
Closing this as stale with no response. Please feel free to reopen if you can provide some more details. Thank you!

[2020-02-01 20:26] #5436 closed

[2020-02-01 20:27] p0pr0ck5 commented on #5389
Closing as there is no actionable step forward (the question has been answered). Thank you!

[2020-02-01 20:27] #5389 closed

[2020-02-01 20:27] p0pr0ck5 commented on #5306
@samsja any update?

[2020-02-01 20:28] p0pr0ck5 commented on #5254
@mattsaddo ping, any update?

[2020-02-01 20:29] p0pr0ck5 commented on #5246
This is likely from AWS closing the tcp connection but Kong not respecting (or realizing) this.

The solution would be to have the Kong AWS client code be more resilient in the face of transient failures like this.

[2020-02-02 00:09] jeremyjpj0916 commented on #5015
Hmm we had an ACL 403 issue again we are tracking that hit us in prod once on consumers that should have not had that happen. We now have a Splunk query setup to capture it, looks something like this:
[code]

Which catches occurrences of consumers rightfully getting through to the service via 200's but then Kong sometimes stopping their access w a 403(even though they were not revoked).

Currently

[2020-02-02 07:07] jagerzhang commented on #1652
how to fix it in a docker container?

[2020-02-02 22:09] kadimulam opened #5518 "Getting "(52) Empty reply from server" when hitting admin api"
Hello,

I have installed Kong 2.0 in DB-less mode on Windows 10 Pro laptop and when I try to access the Admin API, I am getting below error. I am using "curl -kv http://localhost:8001/".

**λ curl -kv http://localhost:8001/**
Trying ::1...
TCP_NODELAY set
Connected to localhost (::1) port 8001 (#0)
GET / HTTP/1.1
Host: localhost:8001
User-Agent: curl/7.55.1
Accept: */*
Empty reply from server
Conn

[2020-02-02 22:52] p0pr0ck5 commented on #5518
Please provide the output of the kong error logs (eg docker logs). An empty reply from curl would indicate kong is throwing an error and aborting processing the request.

[2020-02-02 23:17] kadimulam commented on #5518
Please find logs attached. I could see only these log messages apart from this, i do not see anything.

[kong-logs.txt](https://github.com/Kong/kong/files/4145686/kong-logs.txt)

[2020-02-02 23:39] p0pr0ck5 commented on #5518
Where did the docker image “kong_nodb” come from?

[2020-02-02 23:46] kadimulam commented on #5518
@p0pr0ck5 , it is same as kong:latest. Please find attached dockerfile, i created a docker build (**docker build --tag kong_nodb .**) from this docker file and tagged it as kong_nodb.

[Dockerfile.txt](https://github.com/Kong/kong/files/4145716/Dockerfile.txt)

[2020-02-03 03:39] coding8282 opened #5519 "Is there limitation of routes count?"
How many routers could I add?  Any limitation??

[2020-02-03 06:34] vietwow opened #5520 "Conflict CRD when installing kong using helm chart"
### Summary

Hi, I tried to install latest kong version on the fresh kubernetes 1.17.2 (kops) using helm v3 and got the problem :

This is new fresh k8s cluster so I don't think there is a real crd conflict. I also tried to run "kubectl delete crd kongconsumers.configuration.konghq.com kongcredentials.configuration.konghq.com kongingresses.configuration.konghq.com kongplugins.configuration.konghq.

[2020-02-03 07:41] solio opened #5521 "Compile error with luasec"
`
gcc -shared -o ssl.so src/options.o src/config.o src/ec.o src/x509.o src/context.o src/ssl.o src/luasocket/buffer.o src/luasocket/io.o src/luasocket/timeout.o src/luasocket/usocket.o -L/opt/solio/openrestyinstall/openssl/.openssl/lib -Wl,-rpath,/opt/solio/openrestyinstall/openssl/.openssl/lib -lssl -lcrypto

......

/usr/bin/ld: final link failed: Nonrepresentable section on output
collect2: err

[2020-02-03 08:13] samsja commented on #5306
Nop, however we are still using kong 1.3 , it may helped to upgrade as suggested by @hbagdi

[2020-02-03 10:46] yousafsyed-bg opened #5522 "Kong requeuing sync status, err Unauthorized"
### Summary
We have kong `1.3` running in our production with kong-ingress-conrtoller `0.6.0` with a `dbless` mode. It was working fine from last 3-4 months until it failed today with the following errors.

[code]
### Steps To Reproduce

I don't know how to reproduce the error since I have no idea what might cause the issue.

### Additional Details & Logs

- Kong version :  1.3
- Kong Ingress Cont

[2020-02-03 14:44] hishamhm commented on #5374
@nesia-amit yes, you should get an `[error]`-level log containing "router was changed while rebuilding it" if this case is hit. #5431 was included in Kong 2.0.0. Thanks for the feedback, it would be great if you could keep and eye on that and let us know if that line happens and if the problem persists or not.

[2020-02-03 14:49] hishamhm commented on #5512
@rainest Is this the same thing you've been experiencing? @bungle mentioned it looked similar.

[2020-02-03 14:52] hishamhm commented on #5510
@bungle let's just create the column during `migrate-apis` and things should work :+1:

[2020-02-03 15:00] hishamhm commented on #5212
@lukasa1993 we have made changes to the Certificate validation. could you test it with 2.0.0?

[2020-02-03 15:02] hishamhm commented on #5388
@lyndon160 thanks, we're looking into fixing the images!

[2020-02-03 15:03] hishamhm commented on #5455
@SunshineYang could you confirm which Kong version are you testing this with? Thanks!

[2020-02-03 15:25] maraswrona commented on #87
@bungle is this feature documented somewhere? I can see the `ttl` field present in Kong API response but don't know how to set it.

[2020-02-03 15:35] cewood commented on #3394
Hi,
Just wanted to add that I also ran into this issue just now. I tried the suggestion above, but this didn't work.

Is there any ETA on when this is likely to be worked on?

Thanks!

[2020-02-03 16:45] hbagdi commented on #5520
Let's continue the conversation in https://github.com/Kong/charts/issues/33.

[2020-02-03 16:45] #5520 closed

[2020-02-03 17:23] hutchic commented on #5388
The bintray asset has been updated to be correct

The docker-kong repository is updated including a naive test https://github.com/Kong/docker-kong/tree/1.4.3

Official kong image is pending https://github.com/docker-library/official-images/pull/7400

[2020-02-03 17:25] locao commented on #4883
@luo985 we just merged #5325 in `next`, it should fix this issue, can you give it a try?

[2020-02-03 19:09] rainest commented on #5512
No. We've encountered two customers where Access-Control-Allow-Origin isn't being sent downstream at all, both on Enterprise 0.34-1 (core 0.13-1) and 1.3.0.1. One of the customers mentioned this also, but it's not their core issue.

[2020-02-03 23:49] kadimulam commented on #5518
@p0pr0ck5, could you please let me know if you have any update on this issue?

[2020-02-04 09:00] chensunny opened #5526 "lua entry thread aborted"
### Summary

[error] 59#0: *471611 lua entry thread aborted: runtime error: .../share/lua/5.1/kong/db/strategies/postgres/connector.lua:343: attempt to perform arithmetic on local 'num_queries' (a nil value)

### Steps To Reproduce

1.  failed to connect postgres
2.
3.
4

### Additional Details & Logs

- Kong version (`$ kong version`)

1.3.0

- Kong debug-level startup logs (`$ kong start --vv`)

[2020-02-04 09:10] p0pr0ck5 commented on #5518
@kadimulam you need to add the following to the environment stanza in your compose file:

[code]

By default the Admin API listener binds only to localhost; within the container this wouldn't be usable.

[2020-02-04 09:10] #5518 closed

[2020-02-04 09:12] p0pr0ck5 commented on #5526
Hi,

Please provide more detailed error logs when this occurs, so we can help troubleshoot. There is not enough detail here to be able to assist you. Thanks!

[2020-02-04 10:14] yasn77 commented on #3394
I think this could be fixed by https://github.com/Kong/kong/pull/5509

[2020-02-04 10:29] cewood commented on #3394
Indeed, that looks spot on! I was trying to find that line in the code a littler earlier :see_no_evil:

[2020-02-04 15:44] SunshineYang commented on #5455
1.4.0 and 1.4.1

[2020-02-04 16:40] tleflond commented on #1345
+1

[2020-02-04 17:13] bungle commented on #5526
I think this is fixed with `1.4.0`:
https://github.com/Kong/kong/commit/3f37ade432b0cf848e37c089df71ec0f622576e1#diff-126f4d3eab7dd01ac7ab193d1eb7f847R344

Thus closing this. @chensunny, please report back if you still have issue with it with Kong `>= 1.4.0`.

[2020-02-04 17:13] #5526 closed

[2020-02-04 17:29] zffocussss commented on #1699
same here

[2020-02-04 19:00] kadimulam commented on #4421
@hbagdi, what is the equivalent for curl? We tried all possibilities with curl but they did not work.

[2020-02-04 19:14] zffocussss opened #5528 "kong:2.0 is not working when use custom template"
### Summary

I come from https://github.com/Kong/docker-kong/tree/master/customize.I add some location block in the template.but it did not work.when i use this image in the helm chart

### Steps To Reproduce

1.
2.
3.
4.

### Additional Details & Logs

- Kong version (`$ kong version`)
 2.0
- Kong debug-level startup logs (`$ kong start --vv`)
- Kong error logs (`<KONG_PREFIX>/logs/error.log`)
-

[2020-02-04 19:33] kadimulam opened #5529 "kong.yml is not reloaded in DB less approach"
What is the equivalent of below http pie command for curl to update the kong.yml file?

[code]

I tried below curl url and it did not work. **We get 200 OK response but the kong.yml is not updated**

[code]

Please advise

[2020-02-04 19:39] hbagdi commented on #5529
[code]

[2020-02-04 19:39] #5529 closed

[2020-02-04 20:28] kadimulam commented on #5529
We used the above command and it updated the routes, but the changes are not reflected. Meaning we see the paths updated, but when we make a request with new path, it is still pointing to old path. Please advise.

[2020-02-04 20:29] bungle commented on #5528
yes, that is out of date.

[2020-02-04 20:31] kadimulam opened #5530 "Routes reload does not reflect - DB less Kong"
We used the below command and it updated the routes, but the changes are not reflected. Meaning we see the paths updated, but when we make a request with new path, it is still pointing to old path and giving us 404.

[code]

Please advise.

[2020-02-04 21:22] zytrik commented on #5512
Looks like the real default should be `"GET,HEAD,PUT,PATCH,POST,DELETE,OPTIONS,TRACE,CONNECT"`, but I'm guessing `conf.methods` evaluates to true in your configuration because you've declared `config.methods` as an empty array. Is it possible to omit `config.methods` from your config entirely?

[2020-02-04 22:03] jeremyjpj0916 commented on #5512
Re-testing and studying the case that is totally the issue, and actually my Konga UI is out of date and apparently has a fix for that problem here:
https://github.com/pantsel/konga/pull/446#issuecomment-582136189

I tested admin api directly with a PUT and the behavior was as desired with the defaults being set in the plugin by Kong.

So really it was just that empty list messes up getting the def

[2020-02-04 22:03] #5512 closed

[2020-02-04 22:51] joedugdale opened #5531 "Kong 1.4 + 2.0 Active healthchecks for Upstream not automatically setting status back to healthy, after its gone unhealthy. (when healthchecks.active.https_verify_certificate=false)"
### Summary
After creating an active healthcheck for a kong upstream, all appears fine at first, but if the target goes to an Unhealthy state, Kong doesn't seem to set the status to healthy again automatically.

After trying this out I've found a workaround: If you update upstream (with the same details), it seems to kick it in the butt and sets it back to healthy. Restarting kong also seems to do

[2020-02-04 23:15] joedugdale commented on #5531
Similar issues raised..
https://github.com/Kong/kong/issues/5151
https://github.com/Kong/kong/issues/5195

[2020-02-05 06:05] jeremyjpj0916 commented on #5519
I have tested up to 5,000 routes before and seen very small latency additions compared to a Kong instance with say 100 or less routes. Kong scales well but as you add each 1,000's you will see small increases in latency but its not major until you start getting into the 10,000's+ I remember one post on a earlier Kong version tested something like 50,000+ routes and saw 6+ second delays sometimes b

[2020-02-05 07:19] awalias opened #5532 "Release 2.0.1 not on Dockerhub"
### Summary
Hi guys, looking to start shipping with 2.0.1, could someone please push `2.0.1` to dockerhub, currently not present on [https://hub.docker.com/_/kong](https://hub.docker.com/_/kong)

[2020-02-05 07:20] Tieske commented on #5532
Please be patient, 2.0.1 was just released, getting the images available usually takes a day or so

[2020-02-05 07:20] #5532 closed

[2020-02-05 07:54] dndx commented on #5501
@hbagdi @gszr Thanks for the report. I have reproduced it locally and https://github.com/Kong/kong/pull/5533 will fix it.

Also in order to the TLS proxy to work, the `stream_listen` has to have the `ssl` flag enabled.

[2020-02-05 08:16] al942u commented on #5374
Hi @hishamhm ,
We upgraded the Kong to the one you suggested. We will track the logs and see if the issue repeats.

We will update with any progress.

Thanks.

[2020-02-05 08:49] zffocussss commented on #5528
what do you mean "out of date"

[2020-02-05 09:15] hishamhm commented on #5531
@joedugdale Hi there, thanks for reporting!

I am failing to reproduce this locally. We do have test cases for automatic recovery in our test suite, but I also tried to reproduce your scenario manually. This is what I am attempting:

I ran the following setup, with Kong 2.0.0, on both Postgres and Cassandra:

nginx server at `127.0.0.1:2112` as the test service:

[code]

httpie commands for the te

[2020-02-05 09:18] zffocussss opened #5534 "can I use environment variable in custom template"
I have a environment variable which stand for environment (test dev prod).how can I use it in the template ?

[2020-02-05 09:22] hishamhm commented on #5531
Another data point as we hunt this down: I just also tested it using `https` healthchecks, and could not reproduce it either.

[2020-02-05 10:01] joedugdale commented on #5531
thanks for testing, I am using Postgres mode I should have mentioned. Only other differences I see are the https verify is false and http_sni null in my setup. Will be something specific to our setup just a matter of finding what I’ve done differently but nothing sticking out. Will try your example aswell

[2020-02-05 10:45] joedugdale commented on #5531
the other difference could be is that i hit tcp healthcheck failures rather than http (both are configured). looking at the logs now it actually seems to stop attempting the healthcheck

[2020-02-05 10:57] juancgalvis opened #5535 "Connect to external secrets"
### Summary

Actually I use Kong as Ingress Controller, so I want to remove the database secret from kubernetes and keep it on an external secrets manager like Vault or AWS Secrets Manager.

**Kong should be capable of get the database connection secret from an external secrets manager.**

Can you give me an idea of where can I do this in the kong sources.

[2020-02-05 13:06] #4886 closed

[2020-02-05 14:35] pyrl247 commented on #5069
It didn't show up nowadays, but I will stay focus on it.Thanks anyway!!!

[2020-02-05 14:35] #5069 closed

[2020-02-05 16:01] hishamhm commented on #5531
In my tests described above I have killed the nginx server that was acting as the dummy upstream, so the healthcheck failures that triggered the unhealthy status were connection failures (`tcp_failures`) as well.

[2020-02-05 17:04] hbagdi commented on #5535
This is not up to Kong to configure or implement. You can use an init-container or a side-car to fetch credentials from the secret manager of your choice and pass the credentials to Kong.

[2020-02-05 17:34] vietwow opened #5540 "Ask about jwt plugin with rs256"
Hi,

I'm deploying kong 2.0 on kubernetes and use db-less mode with declarative, using following config :

[code]

But my public key (and private key) is manually generated myself (not from an issuer like keycloak, auth0, ...). So I'm not sure what value I should put in "key" filed ? (my above example, I set it  "urn:mydomain.com/my-user" temporarily as example from https://medium.com/engineering-

[2020-02-05 18:54] mayanksriv opened #5542 "Can't setup go plugins via proxy container's env"
### Summary

Trying to build a custom go plugin and set it up for ingress controllers.
I just copied this source into foo.go  https://github.com/Kong/go-plugins/blob/master/go-hello.go and went from there on as if it was a custom plugin.
Built the plugin like
[code]
But when setting up the plugin in manifest files via `KONG_PLUGINS` & `KONG_GO_PLUGINS_DIR`, the proxy container fails to start. `kub

[2020-02-05 19:05] bungle commented on #1994
This is now fixed for `Postgres`

[2020-02-05 19:37] bungle commented on #5528
The `customize` script. @hutchic I think you meantioned about it. The files here:
https://github.com/Kong/docker-kong/tree/master/compose

Are out-dated at least. Not sure if your `customize` is using them. You need to use correct templates for your Kong version. E.g. here you can find the default ones that you can use to construct your custom template:
https://github.com/Kong/kong/tree/master/kon

[2020-02-05 19:45] bungle commented on #5530
@kadimulam thank you for reporting, seems like we need to investigate this more. It feels like a bug.

[2020-02-05 20:33] mayanksriv commented on #5542
I setup kong locally via homebrew and I think the error over there is more descriptive.
[code]

Go version I am using to build the plugin
[code]

[2020-02-05 21:48] joedugdale commented on #5531
Righto, thanks for all that. I have tested a few scenarios and think I may have pinned it down to a particular setup.
The scenarios you have listed all work for me as well, but there is something peculiar when the target requires a client cert and the best status you can get back is http 400..

eg if the nginx test service has something like
   listen 8443 ssl;
    ssl_certificate /etc/nginx/certs

[2020-02-05 23:04] joedugdale commented on #5531
interesting, if i add 400s as being ok in the healthchecks, it works as expected. Wonder how it worked in the first place without 400s being allowed! Guess I've hit a "gotcha" scenario (healthchecks.active.https_verify_certificate=false but 400s aren't explicitly in the healthy http statuses) Given there's a way around it, and that's working as I need it to I'm happy for this to be closed. It's ju

[2020-02-06 03:41] #5540 closed

[2020-02-06 04:17] guyueyimu opened #5543 "HYBRID MODE the problem of TLS self signed certificate"
### Summary

In HYBRID MODE, because it is a self signed certificate, the data plane cannot connect to the control plane and obtain configuration information.

### Steps To Reproduce

1. Generate certificates : kong hybrid gen_cert
2. Configuration of data plane and control plane certificate like this:
  cluster_cert = /home/kongtest1/smekong/etc/kong_config/cluster.crt
  cluster_cert_key = /home/

[2020-02-06 04:25] p0pr0ck5 commented on #5543
You also need to add the certificate to the lua trusted ssl certificate. See https://docs.konghq.com/2.0.x/hybrid-mode/.

[2020-02-06 04:25] #5543 closed

[2020-02-06 04:40] vietwow opened #5544 "JWT plugin doesn't work correctly"
Hi all,

I'm using kong 2.0 on kubernetes with db-less mode (declarative), using following config :

[code]

Then I craft a jwt token (using https://jwt.io/) with a wrong public key (and wrong iss) info, but It is still working using this token. My expectation is that it's not working, it's only working when we provide a valid token which is created from the correct public key and iss

So anything

[2020-02-06 08:21] #5544 closed

[2020-02-06 08:21] vietwow commented on #5544
It was my foul. fixed. Thanks

[2020-02-06 10:24] taotao2014 opened #5545 "Set tlsv1 tlsv1.1 tlsv1.2 dynamically by routes ,When is the new version support?"
Set tlsv1 tlsv1.1 tlsv1.2 dynamically by routes ,When is the new version support?

Thank you for everything.

@thibaultcha
@subnetmarco
@hishamhm
@bungle

[2020-02-06 10:33] bungle commented on #5528
There is also custom template that our test-suite uses. Perhaps we should add a plain custom template in repo too.

[2020-02-06 12:32] zffocussss commented on #5528
I really want to customize the nginx configuration.but I do not know how to inject into configurations.
If I have environment variable "ABC",how can I use it in the configuration?

[2020-02-06 12:53] hishamhm commented on #5529
@kadimulam are you running a cluster of multiple Kong nodes? DB-less nodes are independent, updates have to be applied to each node.

Also, please use Kong Nation for general questions and Github for bug reports. Thank you!

[2020-02-06 15:06] bungle commented on #5534
With Kong 2.0 (we had this before, but 2.0 added more) it is less likely you even need a custom template as you can drive the template directly with different injections that are supported through environment variables:

[code]

This will add `include <injection-value>;` in respective blocks. If you don't want to use include files, you can also add other than (`include`)  directives with this dire

[2020-02-06 15:07] trollr commented on #5018
bump with fusionauth

[2020-02-06 15:08] bungle commented on #5534
Can you tell the `context` where you want to use this variable?

[2020-02-06 15:18] AndyCornelius opened #5546 "plugin was built with a different version of package github.com/Kong/go-pdk/bridge"
Kong throws this error on startup, when I try to include a simple Go plugin:

[code]

I'm running Kong in docker using docker-compose with the `kong:2.0.1-alpine` image.

[code]

My go.mod file is requiring `github.com/Kong/go-pdk v0.3.0` which matches the go-pdk repository.

I'm compiling in docker using the `golang:1.13.4` image, with this env:

[code]

Anyone have any idea why this error occurs

[2020-02-06 19:34] bungle commented on #5018
I think the port in `host` can only be trusted when it comes from a trusted source. Then you need to configure Kong to trust everything, and it will just be a fallback if client does not give `X-Forwarded-Port`. I am not sure if docker could do `proxy_protocol`.

[2020-02-06 19:37] gszr commented on #5542
Hi @mayanksriv,

Kong ships with a [go-pluginserver](https://github.com/Kong/go-pluginserver) binary that is built with a specific version of Go (1.13.4) and with a specific version of the go-pdk (v0.3.0).

You have two options:
- If you want to build your plugin with a different version of Go (than 1.13.4), you need to recompile the go-pluginserver and replace that in the Kong Docker image; same

[2020-02-06 20:04] javierguerragiraldez commented on #5542
Hi @mayanksriv ,

As mentioned, Go does a very strict compiler version check when loading plugins.  If you want to develop your own plugins, the easiest is to compile the go-pluginserver yourself.  Just do

    go get github.com/Kong/go-pluginserver

and the newly compiled executable should go to your `$GOROOT/bin/` directory (or `$HOME/go/bin` if you're gorootless)  replace the provided go-plugin

[2020-02-07 02:32] zffocussss commented on #5534
in this case.I set a environment variable ABC for the pods which kong running on.
I want to refer to ABC in the template file which can be render to nginx.conf in the end

[code]

[2020-02-07 09:38] moinul-iota commented on #4666
use this on the bootstrap/app.php file

header('Access-Control-Allow-Origin: *');
header('Access-Control-Allow-Methods: *');
header('Access-Control-Allow-Headers: *');

[2020-02-07 11:53] bungle commented on #5534
You can use things like:
[code]

[2020-02-07 17:47] mayanksriv commented on #5542
@gszr I tried your first option locally on my mac and works. But when I go on minikube, I got the same errors. I built the plugin on golang:1.13.4 docker image so that OS/arch are used but that failed too. I thing Go's plugin arch is a tad bit too strict in a sense that every detail has to be exactly same.